﻿@model Tourist.ViewModels.PaymentViewModel.PurchaseVModel

    <div class="row">

            <div class="col-xs-12 col-md-8 padingLR30">

                <figure class="tabBlock" id="tabs">
                    <ul class="tabBlock-tabs">
                        <li class="tabBlock-tab is-active" style="float:right;  border-right-style: solid;">ورود اطلاعات شما</li>

                    </ul>
                    <div class="tabBlock-content">
                        <div class="tabBlock-pane">
                            <form id="form1" action="/Payment/getinfoed" method="post" class="underslide">

                                <p>
                                    @for (int i = 0; i < 1; i++)
                                    {
                                        string result;
                                        string date = "toDate" + i;
                                        string namedate = "start_date" + i;
                                        string name = "name" + i;
                                        string ssn = "ssn" + i;
                                        string father = "father" + i;
                                        Dictionary<int, string> keyValues = new Dictionary<int, string>() { { 1, "اول" }, { 2, "دوم" }, { 3, "سوم" }, { 4, "چهارم" }, { 5, "پنجم" }, { 6, "ششم" }, { 7, "هفتم" }, { 8, "هشتم" }, { 9, "نهم" }, { 10, "دهم" }, { 11, "یازدهم" }, { 12, "دوازدهم" }, { 13, "سیزدهم" }, { 14, "چهاردهم" } };
                                        string mobile = "mobile" + i;
                                        string Born_Date_fa = "Born_Date_fa" + i;
                                        int y = i + 1;

                                        <div class="row">
                                            <h4 class="black" style="margin:10px;margin-bottom: 28px;">
                                                نفر @if (keyValues.TryGetValue(y, out result))
                                                {
                                                    <text>
                                                        @result
                                                    </text>
                                                }
                                                else
                                                {<text>
                                                        @y
                                                </text>
                                            } :
                                            </h4>

                                            @Html.ValidationMessageFor(x => x.Users[i].Name, "", new { style = "color:red" })
                                            @*<input type="text" name="name" id="@name">*@
                                            @Html.TextBoxFor(x => x.Users[i].Name, new { type = "text", id = name, @class = "validPersianChar" })
                                            <label for="@name">نام و نام خانوادگی</label>
                                            @Html.ValidationMessageFor(x => x.Users[i].PhoneNumber, "", new { style = "color:red" })
                                            @Html.TextBoxFor(x => x.Users[i].PhoneNumber, new { type = "text", id = mobile })
                                            @*<input type="tel" name="mobie" id="@mobile">*@
                                            <label for="@mobile">شماره موبایل</label>
                                            @Html.ValidationMessageFor(x => x.Users[i].Meli, "", new { style = "color:red" })
                                            @Html.TextBoxFor(x => x.Users[i].Meli, new { type = "text", id = ssn })
                                            @*<input type="text" name="ssn" id="@ssn">  <select type="number" id="Users[@i].Day" name="" style="padding:1px;color:white;font-size:15px;">*@
                                            <label for="@ssn">شماره ملی</label>
                                            @Html.ValidationMessageFor(x => x.Users[i].FatherName, "", new { style = "color:red" })
                                            @Html.TextBoxFor(x => x.Users[i].FatherName, new { type = "text", id = father, @class = "validPersianChar" })
                                            <label for="@father">نام پدر</label>

                                            <div class="row">
                                                <h5 style="color:black;margin-top:-10px;margin-right: 16px;font-size: 16px;">تاریخ تولد</h5>
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    @Html.ValidationMessageFor(x => x.Users[i].Day, "", new { style = "color:red" })
                                                    @{

                                                        List<SelectListItem> listDay = new List<SelectListItem>();
                                                        List<SelectListItem> listMonth = new List<SelectListItem>();
                                                        List<SelectListItem> listYear = new List<SelectListItem>();
                                                        listDay.Add(new SelectListItem { Text = "روز", Value = "" });
                                                        for (int p = 1; p <= 31; p++)
                                                        {
                                                            string v = (p < 10) ? v = "0" + p.ToString() : v = p.ToString();

                                                            listDay.Add(new SelectListItem { Text = v, Value = v });

                                                        }
                                                        string[] months = { "فروردین","اردیبهشت","خرداد","تیر","مرداد","شهریور", "مهر","آبان","آذر","دی","بهمن","اسفند"
                                                                                                                                                                                                                                                                                                    };
                                                        listMonth.Add(new SelectListItem { Text = "ماه", Value = "" });
                                                        for (int p = 1; p <= 12; p++)
                                                        {
                                                            listMonth.Add(new SelectListItem { Text = months[p - 1], Value = p.ToString() });
                                                        }
                                                        listYear.Add(new SelectListItem { Text = "سال", Value = "" });
                                                        for (int p = 1310; p <= 1397; p++)
                                                        {
                                                            listYear.Add(new SelectListItem { Text = p.ToString(), Value = p.ToString() });
                                                        }
                                                    }

                                                    @Html.DropDownListFor(c => c.Users[i].Day, listDay, new { style = "padding:1px;color:white;font-size:15px;", type = "number" })

                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    @Html.ValidationMessageFor(x => x.Users[i].Month, "", new { style = "color:red" })
                                                    @Html.DropDownListFor(x => x.Users[i].Month, listMonth, new { style = "padding:1px;color:white;font-size:15px;", type = "number", @class = "tavmonth" })

                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    @Html.ValidationMessageFor(x => x.Users[i].Years, "", new { style = "color:red" })
                                                    @Html.DropDownListFor(x => x.Users[i].Years, listYear, new { style = "padding:1px;color:white;font-size:15px;", type = "number" })
                                                </div>
                                            </div>
                                            <input type="hidden" value="@Model.Id" name="Tour_Id" />
                                            <input type="hidden" value="@Model.ExteraOption" name="ExteraOption" />
                                            <input type="hidden" value="@Model.Transfer" name="Transfer" />
                                            <input type="hidden" value="@Model.Place" name="place" />
                                            <input type="hidden" value="@Model.Quantity" name="Quantity" />
                                            <input type="hidden" value="@Model.DiscountId" name="discountId" />
                                            <input type="hidden" value="@Model.TempId" name="TempId" />
                                            <input type="hidden" value="@Model.CodeDiscount" name="codeDiscount" />

                                            <hr style="margin-top: 0;" />
                                        </div>
                                    }
                                    <button type="submit" id="submit" class="form-btn semibold" style="padding: 6px;">پرداخت</button>
                                </p>
                            </form>


                        </div>


                    </div>
                </figure>
            </div>
            <div class="col-xs-12 col-md-4" style="padding-left: 30px; padding-right: 30px;">
                <div class="login-wrap">

                    <label for="tab-1" class="tab" id="kholase">خلاصه</label>
                    <div class="sign-in-htm">
                        <div class="group">
                            <label class="label">مادر و کودک</label>

                            <a class="js-dropp-action">
                                <div class="dropp-header" style="text-align:center">
                                    <span class="dropp-header__title js-value ">2</span>
                                </div>
                            </a>

                        </div>

                        <div class="group">
                            <label class="label">کودک اضافه</label>

                            <a class="js-dropp-action">
                                <div class="dropp-header" style="text-align:center">
                                    <span class="dropp-header__title js-value ">@Model.Transfer</span>
                                </div>
                            </a>

                        </div>
                        @if (Model.Place != null && Model.Place != "")
                        {
                            <div class="group">
                                <label class="label">همراه اضافه</label>
                                <a class="js-dropp-action1">
                                    <div class="dropp-header1" style="text-align:center">
                                        <span class="dropp-header__title1 js-value1">@Model.Place</span>
                                    </div>
                                </a>
                            </div>
                        }


                        <div class="group">
                            <label class="label">تعداد نفر</label>

                            <label class="input-stepper">
                                <input disabled type="text" id="spinner" class="text-strong form-control input-number text-center" value="@Model.Quantity" aria-live="polite" tabindex="-1" aria-labelledby="label-text">
                            </label>

                        </div>
                        <div class="group">
                            <label class="label labelheader" style="color: #aaff80;font-size: 17px;width: 62%;float: right;text-align: right!important;">مبدا:</label>
                            <label class="label">@Model.Origin</label>
                            <div class="hr"></div>
                        </div>
                        <div class="group">
                            <label class="label labelheader" style="color: #aaff80;font-size: 17px;width: 62%;float: right;text-align: right!important;">مقصد:</label>
                            <label class="label" style="display: contents;">@Model.Destination</label>
                            <div class="hr"></div>
                        </div>
                        <div class="group">
                            <label class="label labelheader" style="color: #aaff80;font-size: 17px;width: 62%;float: right;text-align: right!important;">تاریخ حرکت:</label>
                            <label class="label">@Model.Startdate</label>
                            <div class="hr"></div>
                        </div>
                        <div class="group">
                            <label class="label labelheader" style="color: #aaff80;font-size: 17px;width: 62%;float: right;text-align: right!important;">تاریخ برگشت:</label>
                            <label class="label">@Model.Enddate</label>
                            <div class="hr"></div>
                        </div>

                        <div class="group">
                            <label class="label labelheader" style="color:#ffbd26;font-size: 20px;width: 62%;float: right;text-align: right!important;">هزینه کل:</label>
                            <label class="label">@Model.Cost تومان</label>
                            <div class="hr"></div>
                        </div>

                    </div>

                </div>
              

            </div>
        </div>
