﻿
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<title>پرداخت</title>
<body>
    @using Tourist.Models
    @model Payment_user
    <!--[if lte IE 8]>
        <p class="chromeframe">لطفا مرورگر خود را بروز کنید <strong>استفاده میکنید</strong> مرورگر قدیمی <a href="http://digiao.ir/">شما از </a>.</p>
    <![endif]-->
    <!-- End Preload -->
    <div class="layer"></div>
    <!-- Mobile menu overlay mask -->
    <section id="hero_2">
        <div class="intro_title animated fadeInDown">
            <h1>بصورت مستقیم سفارش دهید</h1>
            <div class="bs-wizard">

                <div class="col-xs-4 bs-wizard-step complete">
                    <div class="text-center bs-wizard-stepnum">انتخاب تور</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="#" class="bs-wizard-dot"></a>
                </div>

                <div class="col-xs-4 bs-wizard-step complete">
                    <div class="text-center bs-wizard-stepnum">سفارش</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="#" class="bs-wizard-dot"></a>
                </div>
                <div class="col-xs-4 bs-wizard-step complete">
                    <div class="text-center bs-wizard-stepnum">پایان!</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="#" class="bs-wizard-dot"></a>
                </div>

            </div>  <!-- End bs-wizard -->
        </div>   <!-- End intro-title -->
    </section><!-- End Section hero_2 -->

    <div id="position">
        <div class="container">
            <ul>
                <li><a href="#">دوردور</a></li>
                <li><a>پرداخت</a></li>

            </ul>
        </div>
    </div><!-- End position -->

    <div class="container margin_60">
        <div class="row">
            <div class="col-md-8">
                <div class="form_title table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    نام
                                </th>
                                <th>
                                    مبلغ
                                </th>
                                <th>
                                    تعداد
                                </th>
                                <th>
                                    کد تراکنش
                                </th>
                                <th>
                                    وضعیت
                                </th>
                                <th>
                                    صفحه تور
                                </th>
                                @if (Model.commit_pay == true)
                                {
                                    <th>
                                        فاکتور
                                    </th>
                                }

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <span>@Model.name</span>
                                </td>
                                <td>
                                    <span>@Model.pay تومان</span>
                                </td>
                                <td>
                                    @Model.quantity
                                </td>
                                <td>
                                    <strong>@Model.refId</strong>
                                </td>
                                <td>
                                    <strong>@TempData["status"]</strong>
                                </td>
                                <td>
                                    <a href="/agency/Single_tour/?id=@Model.Tour_id"><span>صفحه تور</span></a>
                                </td>
                                @if (Model.commit_pay == true)
                                {
                                    <td>
                                        <a href="/Agency/Invoice/?id=@Model.Id"><span>فاکتور</span></a>
                                    </td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>



        </div><!--End row -->
    </div><!--End container -->


    <div id="toTop"></div><!-- Back to top button -->
    <!-- Common scripts -->
    <script src="~/Content/Template/js/jquery-1.11.2.min.js"></script>
    <script src="~/Content/Template/js/common_scripts_min.js"></script>
    <script src="~/Content/Template/js/functions.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
    <!-- Specific scripts -->
    <script src="~/Content/Template/js/icheck.js"></script>
    <script>
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-grey',
            radioClass: 'iradio_square-grey'
        });
    </script>


</body>


