﻿
@{
    ViewBag.Title = "پرداخت";
    Layout = "~/Views/Shared/_layoutEndP.cshtml";
}
@using Tourist.Models
@model Payment_user

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/Content/newTemplate/css/submitOrerrorCard.css" />
    <title>توریپس | پرداخت</title>
    <meta name="description" content="اتمام پرداخت توریپس" />
    <link rel="stylesheet" href="~/Content/newTemplate/css/Bootstrap3.3.7.css">
    <!--
     ICONS:
    -->
    <link rel="stylesheet" href="~/Content/newTemplate/css/simple-line-icons.css">
    <!-- =============
    GOOGLE FONTS-->
    <script type="text/javascript">
        window.heap = window.heap || [], heap.load = function (e, t) { window.heap.appid = e, window.heap.config = t = t || {}; var r = t.forceSSL || "https:" === document.location.protocol, a = document.createElement("script"); a.type = "text/javascript", a.async = !0, a.src = (r ? "https:" : "http:") + "//cdn.heapanalytics.com/js/heap-" + e + ".js"; var n = document.getElementsByTagName("script")[0]; n.parentNode.insertBefore(a, n); for (var o = function (e) { return function () { heap.push([e].concat(Array.prototype.slice.call(arguments, 0))) } }, p = ["addEventProperties", "addUserProperties", "clearEventProperties", "identify", "resetIdentity", "removeEventProperty", "setEventProperties", "track", "unsetEventProperty"], c = 0; c < p.length; c++)heap[p[c]] = o(p[c]) };
        heap.load("3314004309");
    </script>
</head>
<body style="background-image:url(../../Content/newTemplate/img/nature-forest-trees-fog.jpg);background-repeat: no-repeat;background-size: auto;">
    <div>
        <br />
        <!--START TABLE-->
        <div class="background"></div>
        @if (Model.commit_pay == true)
        {
            <form action="/Payment/Ticket" method="post" target="_blank">
                <div class="container">
                    <div class="row subcard">
                        <div class="modalbox success col-sm-8 col-md-6 col-lg-5 center animate" style="float:inherit!important">
                            <div class="icon">
                                <span class="glyphicon glyphicon-ok"></span>
                            </div>
                            <!--/.icon-->
                            <h1>خرید شما با موفقیت ثبت شد!</h1>
                            <p>
                                کد تراکنش:
                            </p>
                            <p>
                                @Model.refId
                            </p>
                            <input type="hidden" id="id" name="id" value="@Model.Id" />
                            <button type="button" id="btn_pdf" class="btn" style="font-size: 14px;background-color: #4caf50;"> مشاهده فاکتور</button>
                            <span class="change">-- --</span>
                        </div>
                        <!--/.success-->
                    </div>
                </div>
            </form>
            <br />
        }
        else
        {
            string URlbrand = "";
            if (TempData["Brand"] != null)
            {
                URlbrand = $"http://{TempData["name"]}.tourips.com/events/SingleTour";
            }
            else
            {
                URlbrand = $"http://tourips.com/events/SingleTour";
            }

            <form @if (Model.Tour.Type == "مادروکودک") { <text> action="/agency/Baby" method="post" </text>  } else { <text> action="@URlbrand" method="get" </text> }>

                <div class="container">
                    <div class="row subcard">
                        <div class="modalbox error col-sm-8 col-md-6 col-lg-5 center animate" style="float:inherit!important">
                            <div class="icon">
                                <span class="glyphicon glyphicon-thumbs-down"></span>
                            </div>
                            <!--/.icon-->
                            <h1>ای وای! :(</h1>
                            <p>

                                @if (TempData["status"] != null)
                                {
                                    TempData["status"].ToString();
                                }
                                else
                                {<text>متاسفانه تراکنش شما ناموفق بود</text>}

                                <br>
                                لطفا دوباره تلاش کنید
                            </p>
                            <input type="hidden" id="id" name="id" value="@Model.Tour_id" />
                            <button style="background-color: #f44336;" type="submit" if;">بازگشت به صفحه تورها</button>
                            <span class="change">-- --</span>
                        </div>
                        <!--/.success-->
                    </div>
                    <!--/.row-->
                </div>
            </form>
            <br />
        }


        <!--END TABLE-->
    </div>
    <!--END PROCESSING STEPS-->
    <script src="~/Content/newTemplate/js/b64toBlob.js"></script>
    

    <script type="text/javascript">

        $(document).ready(function () {
            $('.redo').click(function () {
                $('.success, .error').toggle();
            });
        });
         $('#btn_pdf').click(function () {
             $.post("@Url.Action("ticket", "payment")", { id: $("#id").val() }).success(function (data) {
                 window.open("data:application/pdf;base64," + data);
                 var link = document.createElement('a');
                 link.href = window.URL.createObjectURL(b64toBlob(data, "application/pdf"));
                 link.download = "ticket_.pdf";
                 link.click();
             });
             function b64toBlob(b64Data, contentType) {
                 contentType = contentType || '';
                 sliceSize = 512;

                 var byteCharacters = atob(b64Data);
                 var byteArrays = [];

                 for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
                     var slice = byteCharacters.slice(offset, offset + sliceSize);

                     var byteNumbers = new Array(slice.length);
                     for (var i = 0; i < slice.length; i++) {
                         byteNumbers[i] = slice.charCodeAt(i);
                     }

                     var byteArray = new Uint8Array(byteNumbers);

                     byteArrays.push(byteArray);
                 }

                 var blob = new Blob(byteArrays, { type: contentType });
                 return blob;
             }
         });
    </script>
</body>
</html>