﻿
@{
    ViewBag.Title = "پرداخت";
    Layout = "~/Views/Shared/_LayoutTheme.cshtml";
}
@using Tourist.Models
@model Payment_user

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/Content/newTemplate/css/submitOrerrorCard.css" />
    <title>توریپس | پرداخت</title>
    <meta name="description" content="اتمام پرداخت توریپس" />


    <link rel="stylesheet" href="~/Content/newTemplate/css/preloader.css">
    <link rel="stylesheet" href="~/Content/newTemplate/css/style.css">
    <link rel="stylesheet" href="~/Content/newTemplate/css/responsive.css">
    <link rel="stylesheet" href="~/Content/newTemplate/css/animate.css">
    <link rel="stylesheet" href="~/Content/newTemplate/css/Bootstrap3.3.7.css">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/newTemplate/css/preloader.css">
    <link rel="stylesheet" href="~/Content/newTemplate/css/style.css">
    <link rel="stylesheet" href="~/Content/newTemplate/css/responsive.css">
    <link rel="stylesheet" href="~/Content/newTemplate/css/animate.css">

    <!--
     ICONS:
    -->
    <link rel="stylesheet" href="~/Content/newTemplate/css/simple-line-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- =============
    GOOGLE FONTS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
        window.heap = window.heap || [], heap.load = function (e, t) { window.heap.appid = e, window.heap.config = t = t || {}; var r = t.forceSSL || "https:" === document.location.protocol, a = document.createElement("script"); a.type = "text/javascript", a.async = !0, a.src = (r ? "https:" : "http:") + "//cdn.heapanalytics.com/js/heap-" + e + ".js"; var n = document.getElementsByTagName("script")[0]; n.parentNode.insertBefore(a, n); for (var o = function (e) { return function () { heap.push([e].concat(Array.prototype.slice.call(arguments, 0))) } }, p = ["addEventProperties", "addUserProperties", "clearEventProperties", "identify", "resetIdentity", "removeEventProperty", "setEventProperties", "track", "unsetEventProperty"], c = 0; c < p.length; c++)heap[p[c]] = o(p[c]) };
        heap.load("3314004309");
    </script>

</head>
<body data-spy="scroll">
    <div id="clients">

    </div><!--FEATURED CLIENTS SECTION END-->
    <!-- ===========================-->
    <!--START PROCESSING STEPS-->
    <div style="background-image:url(../../Content/newTemplate/img/nature-forest-trees-fog.jpeg);background-size: cover;">
        <div class="container" id="processsteps" style="padding-top:70px">
            <div class="process">
                <div class="process-row">
                    <div class="process-step">
                        <button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-eye fa-3x"></i></button>
                        <p>مشاهده تورها</p>
                    </div>
                    <div class="process-step">
                        <button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-check-circle fa-3x"></i></button>
                        <p>انتخاب تور</p>
                    </div>
                    <div class="process-step">
                        <button type="button" class="btn btn-default btn-circle" disabled="disabled" style="background-color:lightgreen!important;"><i class="fa fa-credit-card fa-3x"></i></button>
                        <p>پرداخت</p>
                    </div>
                    <div class="process-step">
                        <button type="button" class="btn btn-default btn-circle " disabled="disabled"><i class="fa fa-child fa-3x"></i></button>
                        <p>شروع سفر !</p>
                    </div>
                </div>
            </div>
        </div>
        <br />

        <!--START TABLE-->
        <div class="background"></div>
        @if (Model.commit_pay == true)
        {
            <form action="/Payment/Ticket" method="post" target="_blank">
                <div class="container">
                    <div class="row" style="padding-bottom:30px;padding-top:80px">
                        <div class="modalbox success col-sm-8 col-md-6 col-lg-5 center animate" style="float:inherit!important">
                            <div class="icon">
                                <span class="glyphicon glyphicon-ok"></span>
                            </div>
                            <!--/.icon-->
                            <h1>خرید شما با موفقیت ثبت شد!</h1>
                            <p>
                                کد تراکنش:
                            </p>
                            <p>
                                @Model.refId
                            </p>
                            <input type="hidden" id="id" name="id" value="@Model.Id" />
                            <button type="button" id="btn_pdf" class="btn" style="font-size: 14px;"> مشاهده فاکتور</button>
                            <span class="change">-- --</span>
                        </div>
                        <!--/.success-->
                    </div>
                </div>
            </form>
            <br />
        }
        else
        {
            <form @if (Model.Tour.Type == "مادروکودک") { <text> action="/agency/Baby" method="post" </text>  } else if (Model.State == "1") { <text> action="/agency/Single_tour" method="post" </text>  } else { <text> action="/Events/Singletour" method="get" </text> }>

                <div class="container">
                    <div class="row" style="padding-bottom: 30px;padding-top:80px">
                        <div class="modalbox error col-sm-8 col-md-6 col-lg-5 center animate" style="float:inherit!important">
                            <div class="icon">
                                <span class="glyphicon glyphicon-thumbs-down"></span>
                            </div>
                            <!--/.icon-->
                            <h1>ای وای! :(</h1>
                            <p>

                                @if (TempData["status"] != null)
                                {
                                    TempData["status"].ToString();
                                }
                                else
                                {<text>متاسفانه تراکنش شما ناموفق بود</text>}

                                <br>
                                لطفا دوباره تلاش کنید
                            </p>
                            <input type="hidden" id="id" name="id" value="@Model.Tour_id" />
                            <button type="submit" class="btn" style="font-size: 14px;">بازگشت به صفحه تورها</button>
                            <span class="change">-- --</span>
                        </div>
                        <!--/.success-->
                    </div>
                    <!--/.row-->
                </div>
            </form>
            <br />
        }


        <!--END TABLE-->
    </div>


    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <!--Other necessary scripts-->
    <script src="~/Content/newTemplate/js/jquery.nicescroll.min.js"></script>
    <script src="~/Content/newTemplate/js/jquery.jribbble-1.0.1.ugly.js"></script>
    <script src="~/Content/newTemplate/js/drifolio.js"></script>
    <script src="~/Content/newTemplate/js/wow.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/js/mdb.min.js"></script>
    <!--END PROCESSING STEPS-->
    <script>new WOW().init();</script>

    <script type="text/javascript">
       
            $(document).ready(function () {
            $('.redo').click(function () {
                $('.success, .error').toggle();
                });
                document.getElementById("nameAgency").style("background - color") = "#ffbd26";     

        });

    
        $("#btn_pdf").click(function () {
            $.ajax(
                {
                    type: 'POST',
                    url: '/Payment/Ticket',
                    data: {
                        id: $("#id").val()
                    }


                });
        });
    </script>

</body>
</html>


