﻿﻿
@{
     Layout = "~/Views/Shared/_LayoutTheme.cshtml";
}
@using Tourist.Models
@model  Tourist.ViewModels.PaymentViewModel.PurchaseVModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="~/Content/newTemplate/Bootstrap3.3.7.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/newTemplate/css/responsive.css">
    <link rel="stylesheet" href="~/Content/newTemplate/css/singletour.css" />
    <link href="~/Content/newTemplate/cssMain/stylemain.css" rel="stylesheet" />
    <link href="~/Content/newTemplate/cssMain/flexslider.css" rel="stylesheet" />
    <link href="~/Content/newTemplate/cssMain/bootstrap-theme.min.css" rel="stylesheet" />
    <link rel="stylesheet/less" type="text/css" href="~/Content/newTemplate/css/forForm.less" />
    <title>توریپس|دریافت اطلاعات</title>
    <link rel="stylesheet" href="~/Content/newTemplate/css/simple-line-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.7.1/less.min.js"></script>


</head>
<body>

    <script type="text/javascript">

        $(document).ready(function () {
            $('#logo').hide();
            document.getElementById("hero").remove();
        });
    </script>

    <script type="text/javascript">
        var TabBlock = {
            s: {
                animLen: 200
            },

            init: function () {
                TabBlock.bindUIActions();
                TabBlock.hideInactive();
            },

            bindUIActions: function () {
                $('.tabBlock-tabs').on('click', '.tabBlock-tab', function () {
                    TabBlock.switchTab($(this));
                });
            },

            hideInactive: function () {
                var $tabBlocks = $('.tabBlock');

                $tabBlocks.each(function (i) {
                    var
                        $tabBlock = $($tabBlocks[i]),
                        $panes = $tabBlock.find('.tabBlock-pane'),
                        $activeTab = $tabBlock.find('.tabBlock-tab.is-active');

                    $panes.hide();
                    $($panes[$activeTab.index()]).show();
                });
            },

            switchTab: function ($tab) {
                var $context = $tab.closest('.tabBlock');

                if (!$tab.hasClass('is-active')) {
                    $tab.siblings().removeClass('is-active');
                    $tab.addClass('is-active');

                    TabBlock.showPane($tab.index(), $context);
                }
            },

            showPane: function (i, $context) {
                var $panes = $context.find('.tabBlock-pane');

                // Normally I'd frown at using jQuery over CSS animations, but we can't transition between unspecified variable heights, right? If you know a better way, I'd love a read it in the comments or on Twitter
                $panes.slideUp(TabBlock.s.animLen);
                $($panes[i]).slideDown(TabBlock.s.animLen);
            }
        };

        $(function () {
            TabBlock.init();
        });
    </script>
    <script type="text/javascript">
        var vehicle;
        var place;
        var food;
        var persons;
        $(document).ready(function () {
            var month = null;
            var day = null;
            var year = null;
            $('.tavmonth').change(function () {
                month = $(this).val();
                if (month == "null") {
                    alert("لطفا ماه تولد را انتخاب کنید");
                }
                var parent = $(this).parents().parents();

                if (7 <= month & 12 >= month) {//agar 6 mahe dovome sal bud
                    parent.children("div").eq(0).children().find('option[value="31"]').attr("disabled", "disabled");
                }
                else { //agar 6 mahe dovom bashe
                    parent.children("div").eq(0).children().find('option[value="31"]').removeAttr("disabled");

                }



            });
            $('.tavday').change(function () {
                day = $(this).val();
                if (day == "null") {
                    alert("لطفا روز تولد را انتخاب کنید");
                }


            });
            //for takmile etelaat field
            $('.underslide label').click(function () {
                var $target = $(this).attr('for');
                $('.underslide [id=' + $target + ']').focus();
            });

            $('.underslide input, .underslide textarea').focus(function () {
                $(this).addClass("focused");
            });

            $('.underslide input, .underslide textarea').blur(function () {
                $(this).val($(this).val().trim());
                if ($(this).val() === '') {
                    $(this).removeClass("focused");
                }
            });

            $('#nav2 li').click(function () {

                $('#dropdownID').css('height', '0');

            });
            $("#form1").submit(function (e) {


                if (date_persian("1381-1-2")) {
                    e.preventDefault();
                    alert("error");
                }

            });
        });
        function date_persian(str) {
            var p = /^$|^([1۱][۰-۹ 0-9]{3}[/\/]([0 ۰][۱-۶ 1-6])[/\/]([0 ۰][۱-۹ 1-9]|[۱۲12][۰-۹ 0-9]|[3۳][01۰۱])|[1۱][۰-۹ 0-9]{3}[/\/]([۰0][۷-۹ 7-9]|[1۱][۰۱۲012])[/\/]([۰0][1-9 ۱-۹]|[12۱۲][0-9 ۰-۹]|(30|۳۰)))$/;
            if (!p.test(str)) {
                return false
            }
            return true;
        }


    </script>


    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-9 col-xs-12">
                <h1 id="getinfoheader" style="padding-right: 20px;padding-top: 75px;" class="black">@TempData["titile"]</h1>
            </div>
            <div class="col-md-4 col-sm-3 col-xs-12 " style="padding-left:30px;"> <a href="tel:۰۹۳۵۷۴۵۳۸۲۹" class="btn btn-sm animated-button victoria-one telephone">۰۹۳۵۷۴۵۳۸۲۹ :پشتیبانی سایت<span class="fa fa-phone fa-2x"></span></a> </div>
        </div>
    </div>
    <div class="container">
        @if (Model.TypeTour == "mom")
        {
            @Html.Partial("_GetinfoAgencyPanel", Model)
        }
        else
        {
            @Html.Partial("_GetinfoPanel", Model)
        }


        <hr />



        <br />
    </div>
    <!-- Footer -->
    @if (Session["stateuser"] == "1")
    {

        <footer class="bg-black">
            <div class="container">
                <!--<span class="bigicon icon-speedometer "></span>-->
                @*<img id='jxlzesgtjxlzwlaowlaojzpewlao' style='cursor:pointer' onclick='window.open("https://logo.samandehi.ir/Verify.aspx?id=1014474&p=rfthobpdrfthaodsaodsjyoeaods", "Popup","toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30")' alt='logo-samandehi' src='https://logo.samandehi.ir/logo.aspx?id=1014474&p=nbpdlymanbpdshwlshwlyndtshwl' />*@
                @*<img src="~/Content/newTemplate/img/samandehi.png" />
                    <img src="data:text/plain;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAMSURBVBhXY/j//z8ABf4C/qc1gYQAAAAASUVORK5CYII=" alt="" onclick="window.open(https://trustseal.enamad.ir/Verify.aspx?id=105730&amp;p=UzSr9U590zOHxq4O);" style="cursor:pointer" id="UzSr9U590zOHxq4O" />
                    <img src="~/Content/newTemplate/img/slider-end.png" width="150" height="150" />
                    <script src="https://cdn.zarinpal.com/trustlogo/v1/trustlogo.js" type="text/javascript"></script>*@
                <span class="bigicon icon-speedometer "></span>

                <div class="footerlinks" id="foooter">
                    <!-- FOOTER LINKS START -->
                    <ul>
                        <li><a href="/Agency/index?name=@TempData["name"]">صفحه اصلی</a></li>
                        <li><a href="/Agency/index?name=@TempData["name"]#services">خدمات</a></li>
                        <li><a href="/Agency/All_Tour?name=@TempData["name"]">تورها</a></li>
                        @*<li><a href="#testimonials">نظرات شما</a></li>*@
                        <li><a href="/Agency/index?name=@TempData["name"]#contact">تماس با ما</a></li>
                    </ul>
                </div>

                <div class="copyright">

                    <p>راه های ارتباطی با ما در <span>شبکه های اجتماعی</span></p>
                </div>

                <div class="footersocial wow fadeInUp" data-wow-duration="1s">
                    <!-- FOOTER SOCIAL ICONS START -->
                    <ul>
                        @if (ViewBag.tour.Profile_Tour.instagram != null && ViewBag.tour.Profile_Tour.instagram != "")
                        {
                            <li><a href="@ViewBag.tour.Profile_Tour.instagram" target="_blank"><img src="~/Content/newTemplate/img/instagram.png" /></a></li>
                        }
                        @if (ViewBag.tour.Profile_Tour.WhatsApp != null && ViewBag.tour.Profile_Tour.WhatsApp != "")
                        {
                            <li><a href="@ViewBag.tour.Profile_Tour.WhatsApp" target="_blank"><img src="~/Content/newTemplate/img/whatsapp.png" /></a></li>
                        }
                        @if (ViewBag.tour.Profile_Tour.Telegram != null && ViewBag.tour.Profile_Tour.Telegram != "")
                        {
                            <li><a href="@ViewBag.tour.Profile_Tour.Telegram" target="_blank"><img src="~/Content/newTemplate/img/telegram.png" /></a></li>
                        }
                        @{
                            string url = $"http://{ViewBag.tour.Profile_Tour.Name_Group}.tourips.com";
                        }
                        <li><a href="@url" target="_blank"><img src="~/Content/newTemplate/img/star.png" /></a></li>
                    </ul>
                </div><!-- FOOTER SOCIAL ICONS END -->
                <p> 2018 tourips.com &copy;</p>
            </div>

        </footer>
    }
    <!-- /FooterEnd -->
    <div class="pop">
        <span>✖</span>
        <br />
        <h1 style="color:green;font-size:19px">لطفا از کاراکتر های فارسی استفاده کنید</h1>
    </div>
    <div id="backgroundDarkener"> </div>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <!--Other necessary scripts-->
    <script src="~/Content/newTemplate/js/jquery.jribbble-1.0.1.ugly.js"></script>
    @*<script src="~/Content/newTemplate/js/drifolio.js"></script>*@
    <!-- Bootstrap tooltips -->
    <script src="~/Content/newTemplate/js/popper.min.js"></script>
    <script src="~/Content/newTemplate/js/mdb.min.js"></script>
    @*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>*@
    <!-- MDB core JavaScript -->
    @*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/js/mdb.min.js"></script>*@
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/13842/PerspectiveTransform.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <script src="~/Content/newTemplate/js/jquery.sticky.js"></script>
    <script src="~/Content/newTemplate/js/jquery.nav.js"></script>
    <script src="~/Content/newTemplate/js/jquery.scrollTo.js"></script>
    <script src="~/Content/newTemplate/js/jquery.flexslider.js"></script>

    <script src="~/Content/newTemplate/js/jquery.easing.1.3.js"></script>
    <script src="~/Content/newTemplate/js/jquery.shuffle.js"></script>
    <script src="~/Content/newTemplate/js/script.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".navbarCLICK").on('click', function (e) {
                e.preventDefault();
                var target = $(this).attr('href');
                $('html, body').animate({
                    scrollTop: ($(target).offset().top)
                }, 2000);
            });

            $('.validPersianChar').bind("keyup paste", function (e) {
                if (!(e.keyCode >= 8 && e.keyCode <= 32)) {

                    if (just_persian($(this).val()) == false) {

                        e.preventDefault();
                        $(".pop ,#backgroundDarkener").fadeIn(300);
                        $(this).val("");
                    }
                }




            });

        });
        function just_persian(str) {
            var p = /^[\u0600-\u06ff]|[\u0750-\u077f]|[\ufb50-\ufc3f]|[\ufe70-\ufefc]+$/;
            if (!p.test(str)) {
                return false
            }
            return true;
        }
    </script>

    <script>
        $(".pop > span, .pop ,#backgroundDarkener").on("click", function () {
            $(".pop,#backgroundDarkener").fadeOut(300);
        });
    </script>
    @*<script src="~/Scripts/Validation.js"></script>*@
    <script>
        $(document).ready(function () {
        
            $(":input[type='text']").each(function () {
                if ($(this).val() != "") {
                    $(this).addClass("focused");
                }
            });
        })
    </script>
  
</body>
</html>