﻿@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}
<head>
    <title>توریپس | پرداخت</title>
    <meta name="description" content="شروع پرداخت توریپس" />
</head>
<body>
    <script src="~/Content/Template/js/jquery-1.11.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/Content/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/plugins/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.css" />
    <link href="~/Content/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href='~/Content/assets/global/css/components-md-rtl.css' rel='stylesheet' id='style_components' type='text/css' />
    @using Tourist.Models
    @model  Tourist.ViewModels.PaymentViewModel.PurchaseVModel
    <!--[if lte IE 8]>
        <p class="chromeframe">لطفا مرورگر خود را بروز کنید <strong>استفاده میکنید</strong> مرورگر قدیمی <a href="http://digiao.ir/">شما از </a>.</p>
    <![endif]-->
    @*<div id="preloader">
            <div class="sk-spinner sk-spinner-wave">
                <div class="sk-rect1"></div>
                <div class="sk-rect2"></div>
                <div class="sk-rect3"></div>
                <div class="sk-rect4"></div>
                <div class="sk-rect5"></div>
            </div>
        </div>*@
    <!-- End Preload -->
    <div class="layer"></div>
    <!-- Mobile menu overlay mask -->
    <section id="hero_2">
        <div class="intro_title animated fadeInDown">
            <h1>بصورت مستقیم سفارش دهید</h1>
            <div class="bs-wizard">

                <div class="col-xs-4 bs-wizard-step complete">
                    <div class="text-center bs-wizard-stepnum">انتخاب تور</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="cart.html" class="bs-wizard-dot"></a>
                </div>

                <div class="col-xs-4 bs-wizard-step active">
                    <div class="text-center bs-wizard-stepnum">سفارش</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="#" class="bs-wizard-dot"></a>
                </div>

                <div class="col-xs-4 bs-wizard-step disabled">
                    <div class="text-center bs-wizard-stepnum">پایان!</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="confirmation.html" class="bs-wizard-dot"></a>
                </div>

            </div>  <!-- End bs-wizard -->
        </div>   <!-- End intro-title -->
    </section><!-- End Section hero_2 -->

    <div id="position">
        <div class="container">
            <ul>
                <li><a href="#">توریپس</a></li>
                <li><a>پرداخت</a></li>

            </ul>
        </div>
    </div><!-- End position -->
    @{
        int quantity = Model.Quantity.Value;
    }

    <form action="/Payment/Purchase3" method="post" id="payform">
        <div class="container margin_60">
            <div class="row">
                <div class="col-md-8 add_bottom_15">
                    <div class="form_title">
                        <h3><strong>۱</strong>اطلاعات شما</h3>
                    </div>
                    @for (int i = 0; i < quantity; i++)
                    {
                        string date = "toDate" + i;
                        string namedate = "start_date" + i;
                        string name = "name" + i;
                        string ssn = "ssn" + i;
                        string mobile = "mobile" + i;
                        int y = i + 1;
                        <div class="step">
                            <h4 style="color:#9eb7d0;"><strong></strong>اطلاعات نفر @y</h4>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>نام و نام خانوادگی</label>
                                        @Html.TextBoxFor(x => x.Users[i].Name, new { type = "text", @class = "form-control", id = name, name = "name" })
                                        @Html.ValidationMessageFor(x => x.Users[i].Name, "", new { style = "color:red" })
                                        <span id="@name-err" style="color:red"></span>
                                        @*<input type="text" class="form-control" id="firstname_booking" name="firstname_booking">*@
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>تاریخ تولد</label>
                                        <div class="input-group">
                                            <div class="input-group-addon" id="myid" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#@date" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="bottom">
                                                <span></span>
                                            </div>
                                            @Html.TextBoxFor(x => x.Users[i].BornDate, new { type = "text", @readonly = "readonly", @class = "form-control", name = namedate, id = date, placeholder = "تاریخ" })
                                            @*<input type="text" readonly="readonly" class="form-control" name=@namedate id=@date placeholder="از تاریخ" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#@date" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="bottom" />*@
                                        </div>
                                        @Html.ValidationMessageFor(x => x.Users[i].BornDate, "", new { style = "color:red" })
                                        <span id="@date-err" style="color:red"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>شماره ملی</label>
                                        @Html.TextBoxFor(x => x.Users[i].Meli, new { type = "text", id = ssn, name = "Meli", @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.Users[i].Meli, "", new { style = "color:red", name = "Meli" })
                                        <span id="@ssn-err" style="color:red"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>شماره موبایل</label>
                                        @Html.TextBoxFor(x => x.Users[i].PhoneNumber, new { type = "text", id = mobile, name = "mobie", @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.Users[i].PhoneNumber, "", new { style = "color:red" })
                                        <span id="@mobile-err" style="color:red"></span>
                                        @Html.TextBoxFor(x => x.Cost, new { type = "hidden", value = Model.Cost, name = "pay", @class = "form-control" })
                                        <input type="hidden" value="@Model.Cost" name="pay" class="form-control">

                                        <input type="hidden" value="@Model.Id" name="Tour_id" class="form-control">
                                    </div>
                                </div>

                            </div>
                        </div><!--End step -->
                    }

                   @Html.TextBoxFor(x => x.Quantity, new { type = "hidden", Value = Model.Quantity })
                    @Html.TextBoxFor(x => x.Placeprice, new { type = "hidden", Value = Model.Placeprice })
                    @Html.TextBoxFor(x => x.TransferPrice, new { type = "hidden", Value = Model.TransferPrice })
                    @Html.TextBoxFor(x => x.Transfer, new { type = "hidden", Value = Model.Transfer })
                    @Html.TextBoxFor(x => x.ExteraOption, new { type = "hidden", Value = Model.ExteraOption })

                    <div class="form_title">
                        <h3><strong>۲</strong>قبول قوانین و مقررات</h3>

                    </div>
                    <div class="step">
                        <br>
                        <label><input type="checkbox" name="termpolicy" /><span style="color:blue" id="summary"></span><span>من <a href="/Events/Laws" target="_blank">قوانین و مقررات</a> را خوانده ام و آن را می پذیرم</span>.</label>
                        <div style="color:red">
                            <span id="termpolicy-err"></span>
                        </div>

                    </div>
                    <div class="form_title">
                        <h3><strong>۳</strong>پرداخت اینترنتی</h3>
                    </div>
                    <div class="step">
                        <button type="submit" class="btn_1 green medium">پرداخت</button>
                    </div>
                </div>

                <aside class="col-md-4">
                    <div class="box_style_1">
                        <h3 class="inner">- خلاصه -</h3>
                        <table class="table table_summary">
                            <tbody>
                                <tr>
                                    <td>
                                        مبدا
                                    </td>
                                    <td class="text-right">
                                        @Model.Origin
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        مقصد
                                    </td>
                                    <td class="text-right">
                                        @Model.Destination
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        تاریخ حرکت
                                    </td>
                                    <td class="text-right">
                                        @Model.Startdate ساعت @Model.Time
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        تاریخ برگشت
                                    </td>
                                    <td class="text-right">
                                        @Model.Enddate ساعت @Model.Timeend
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        تعداد
                                    </td>
                                    <td class="text-right">
                                        @quantity
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        وسیله نقلیه
                                    </td>
                                    <td class="text-right">
                                        @Model.Transfer
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        اپشن اضافه
                                    </td>
                                    <td class="text-right">
                                        @Model.ExteraOption
                                    </td>
                                </tr>
                                <tr class="total">
                                    <td>
                                        هزینه کل
                                    </td>
                                    <td class="text-right">
                                        @Model.Cost تومان

                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="box_style_4">
                        <i class="icon_set_1_icon-57"></i>
                        <h4>درخواست <span>کمک؟</span></h4>
                        <a class="تلفن">۰۹۳۵۷۴۵۳۸۲۹</a>
                    </div>
                </aside>

            </div><!--End row -->
        </div><!--End container -->
    </form>

    <div id="toTop"></div><!-- Back to top button -->
    <!-- Common scripts -->
    <script src="~/Content/Template/js/jquery-1.11.2.min.js"></script>
    <script src="~/Content/Template/js/common_scripts_min.js"></script>
    <script src="~/Content/Template/js/functions.js"></script>
    @*<script src="~/Scripts/Validation.js"></script>*@

    <!-- Specific scripts -->
    <script src="~/Content/Template/js/icheck.js"></script>
    <script src="~/Content/Plugins/MdBootstrapPersianDateTimePicker/jalaali.js" type="text/javascript"></script>
    <script src="~/Content/Plugins/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.js" type="text/javascript"></script>
    <script>
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-grey',
            radioClass: 'iradio_square-grey'
        });
    </script>



    <script>
        var id = "";
        for (var i = 0; i < @quantity; i++) {
            id = "toDate" + i;
            document.getElementById(id).setAttribute("data-mddatetimepicker", "true");
            document.getElementById(id).setAttribute("data-trigger", "click");
            document.getElementById(id).setAttribute("data-targetselector", "#" + id);
            document.getElementById(id).setAttribute("data-todate", "true");
            document.getElementById(id).setAttribute("data-enabletimepicker", "false");
            document.getElementById(id).setAttribute("data-placement", "bottom");
            document.getElementById(id).setAttribute("data-groupid", "group1");


        }


    </script>

</body>
