﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @using Tourist.CommonMethods
    @using Tourist.Models
    @model Payment_user
    <meta name="viewport" content="width=device-width" />
    <title>توریپس | بلیت تور</title>
    <meta name="description" content="تیکت توریپس" />
    <link rel="stylesheet" href="~/Content/newTemplate/css/TicketStyle.css" />
    <!-- Favicons-->
    <link rel="shortcut icon" href="~/Content/Logo/LogoPng.png" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="~/Content/Logo/LogoPng.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="~/Content/Logo/LogoPng.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="~/Content/Logo/LogoPng.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="~/Content/Logo/LogoPng.png">
</head>
<body data-spy="scroll">
    <div class="feedback" id="oldX"></div><div class="feedback" id="oldY"></div>
    <div class="table">
        <div class="table-cell">
            <div id="ticket">
                <div class="row perforated first">
                    @if (Model.Tour.Profile_Tour.Name_Group != null && Model.Tour.Profile_Tour.Name_Group != "")
                    {
                        <div class="label logo">@Model.Tour.Profile_Tour.Name_Group</div>
                    }
                    else
                    {
                        <div class="label logo">توریپس</div>
                    }
                    <div class="right">
                        <div class="label">شماره تور</div>
                        <div class="num" style="font-size: 10px;">@Model.Tour_id</div>
                        <div class="label">شماره تراکنش</div>
                        <div class="num">@Model.refId</div>
                    </div>
                </div>
                <div class="row perforated destinations">
                    <h3 style="color:darkolivegreen; text-align:center!important;">@Model.Tour.Title</h3>
                </div>
                <div class="row normRow">
                    <div>
                        <div class="label">به نام</div>
                        <div class="col">@Model.name</div>
                    </div>
                </div>
                <div class="row normRow">
                    <div class="col6">
                        <div class="label">ساعت</div>
                        <div>@Model.Tour.Start_time</div>
                    </div>
                    <div class="col6">
                        <div class="label">تاریخ رفت</div>
                        <div>@CalendarMngr.JulianToPersian(Model.Tour.Start_Date.Value)</div>
                    </div>
                </div>
                <div class="row normRow">
                    <div class="col6">
                        <div class="label">تعداد بلیت خریداری شده</div>
                        <div>@Model.quantity</div>
                    </div>
                    <div class="col6">
                        <div class="label">تاریخ برگشت</div>
                        <div>@CalendarMngr.JulianToPersian(Model.Tour.End_Date.Value)</div>
                    </div>
                </div>
                <div class="row">
                    @if (Model.Tour.Profile_Tour.Tel_Agency != null && Model.Tour.Profile_Tour.Tel_Agency != "")
                    {
                    <div class="label">
                        شماره تماس :
                        @if (Model.Tour.Profile_Tour.Tel_Leader != null && Model.Tour.Profile_Tour.Tel_Leader != "")
                        {
                            @Model.Tour.Profile_Tour.Tel_Leader
                        }
                        else {
                            @Model.Tour.Profile_Tour.Tel_Agency
                        }
                    </div>
                    }
                    @if (Model.Tour.Type == "مادروکودک")
                    {
                        if (Model.transfer != null)
                        {
                            <div class="label" style="font-weight: normal!important;">نوع تور:@Model.transfer</div>
                        }
                        if (Model.ExteraOption != null && Model.ExteraOption !="")
                        {
                            <div class="label" style="font-weight: normal!important;">همراهان: @Model.ExteraOption</div>
                        }

                    }
                    else
                    {
                        if (Model.ExteraOption != null && Model.ExteraOption != "")
                        {
                            <div class="label"  style="font-weight: normal!important;">نوع اقامت:@Model.ExteraOption</div>
                        }
                        if (Model.transfer != null)
                        {
                            <div class="label" style="font-weight: normal!important;">نوع وسیله نقلیه:@Model.transfer</div>
                        }
                    }
                    <div class="smalltext"> تور خوبی رو براتون آرزو میکنه! امیدواریم کلی بهتون خوش بگذره <a href="http://www.tourips.com" id="site">Tourips.com</a></div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>
