﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpgradeProfileConfirm</title>
</head>
<body>
    <div>
        <p>State = @TempData["State"]</p><br />
        <p>StateCode = @TempData["StateCode"]</p><br />
        <p>ResNum = @TempData["ResNum"]</p><br />
        <p>MID = @TempData["MID"]</p><br />
        <p>RefNum = @TempData["RefNum"]</p><br />
        <p>CID = @TempData["CID"]</p><br />
        <p>TRACENO = @TempData["TRACENO"]</p><br />
        <p>RRN = @TempData["RRN"]</p><br />
    </div>
</body>
</html>
