
@font-face {
    font-family: 'yekan';
    src: url('../fonts/BYekan.eot?#') format('eot'), url('../fonts/BYekan.woff') format('woff'), url('../fonts/BYekan.ttf') format('truetype'), url('../fonts/BYekan.otf') format('opentype'), url('../fonts/BYekan.svg') format('svg'), local('B Yekan');
    font-weight: normal;
    font-style: normal;
}

* {
    -webkit-transition: .7s ease-out;
    -moz-transition: .7s ease-out;
    -o-transition: .7s ease-out;
    transition: .7s ease-out;
    list-style: none;
}

/*================================
TYPOGRAPHY
================================*/


.bigicon {
    font-size: 3em;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 18px;
    line-height: 1.4em;
    margin: 0px;
}

p {
    color: black !important;
    font-weight: lighter;
}

.black {
    color: black;
}

.gray {
    color: #333 !important;
}

.width100 {
    width: 100%;
}
/*================================
DEFAULT STYLE & FORMATING
================================*/
ul {
    padding: 0;
}

a {
    color: rgb(255, 189, 38)
}

    a:hover {
        color: #c3c3c3;
        text-decoration: none;
    }

html,
body {
    font-family: 'yekan', sans-serif;
    line-height: 1.8em;
    direction: rtl;
    height: 100%;
    width: 100%;
    color: #7a7a7a;
    line-height: 24px;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0px;
    margin-bottom: 0;
    padding: 10px 0
}

img {
    /*max-width:100%;*/
}

#boxWrapp {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

.build {
    padding: 40px 0;
    margin: 0;
}

    .build ul {
        padding: 0;
        margin: 0;
        list-style: none;
        position: relative;
    }

.btn-clear {
    border: 4px solid;
}

.btn {
    font-size: 14px;
}

.BtnWrapperSearch {
    margin-top: -31px;
    align-items: center;
    justify-content: center;
}

.forminput {
    border-radius: 8px;
}

a.animated-button:link, a.animated-button:visited {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    position: relative;
    display: block;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: rgba(40,57,101,.99);
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 0;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

    a.animated-button:link:after, a.animated-button:visited:after {
        content: "";
        position: absolute;
        height: 0%;
        left: 50%;
        top: 50%;
        width: 150%;
        z-index: -1;
        -webkit-transition: all 0.75s ease 0s;
        -moz-transition: all 0.75s ease 0s;
        -o-transition: all 0.75s ease 0s;
        transition: all 0.75s ease 0s;
    }

    a.animated-button:link:hover, a.animated-button:visited:hover {
        color: #FFF;
        text-shadow: none;
    }

        a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
            height: 450%;
        }

a.animated-button:link, a.animated-button:visited {
    position: relative;
    display: block;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: #fff;
    font-size: 14px;
    border-radius: 0;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

a.animated-button.victoria-one {
    /*color:black;*/
    border-radius: 11px;
    padding: 5px;
    border: 2px solid rgb(255, 189, 38);
}

#seealltours, #seeallarticles {
    display: block;
    border-radius: 11px;
    color: black;
    width: 200px;
    padding: 10px !important;
    border: 4px solid rgb(255, 189, 38);
    background-color: rgb(255, 189, 38);
}

    #seealltours:hover, #seeallarticles:hover {
        background-color: #f2ab40;
    }

#wrapperbtn {
    display: flex;
    justify-content: center;
}

#wrapperbtn2 {
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

a.animated-button.victoria-one:after {
    background: rgb(255, 189, 38);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}
/*on scroll show*/

/* =============================== header ===================================== */
.mainbackground {
    position: absolute;
    z-index: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.header {
   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}
/*@media (max-width: 520px) {
    .header {
        background: url(../img/mobile193894.jpg) no-repeat center fixed;
    }
}*/

/* slider */

.maskHeader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/pattern.png);
}

#flexx-head h1 {
    font-weight: 700;
    font-size: 60px;
    margin: 0;
    padding: 10px 0;
    color: #fff;
    direction: rtl;
}

#flexx-head {
    margin: 0 0 0;
    background: transparent;
    border: none;
    position: relative;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    zoom: 1;
    direction: ltr;
}

    #flexx-head h2 {
        font-size: 24px;
        margin: 0;
        padding: 0 0 40px 0;
        color: #fff;
        direction: rtl;
    }

    #flexx-head .slidess > li {
        position: relative;
    }

    #flexx-head .flexx-control-nav, #flexx-head .flexx-direction-nav {
        display: none;
    }

.main-caption {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    text-align: center;
}

.btnAbout {
    color: #fff;
    font-size: 14px;
}

    .btnAbout:hover {
        color: #fff;
    }

.main-caption .btn-clear {
    padding: 14px 24px;
}

    .main-caption .btn-clear:hover {
        border-color: #fff;
    }

/* ==============================================================  Menu ======================================================= */
.main-nav {
    position: fixed;
    top: 0;
    display: none;
    width: 100%;
    min-height: 54px;
    z-index: 99;
}

.navbar {
    border-radius: 0px;
    min-height: 54px;
    margin-bottom: 0px;
    width: 100%;
    z-index: 99;
    border: none;
}

a.navbar-brand {
    float: left;
    height: inherit;
    padding: 3px 15px;
    font-size: 18px;
    line-height: 48px;
    color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-nav > li > a {
    padding-top: 16px;
    padding-bottom: 13px;
    border-bottom: 5px solid transparent;
    font-size: 14px;
    text-transform: uppercase;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav > li.current > a {
    text-decoration: none;
}

.navbar-nav > li.current > a, .navbar-inverse .navbar-nav > li > a:hover {
    background: rgba(255,255,255,0.1);
}

/* ========================================= title page ==================================== */

.title-page {
    color: #7a7a7a;
}

    .title-page h2 {
        position: relative;
        margin: 0;
        z-index: 77;
        padding: 0 0 20px 0;
        font-size: 36px;
        font-weight: 600;
    }

.line-title {
    width: 40px;
    height: 8px;
    margin: 0 auto;
}

/* Full Page Image Header Area */

.header {
    position: relative;
}

.linear {
    transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
}

.more {
    color: white;
    width: 30%;
    border-radius: 15px;
}
/* Intro */
#Tours {
    padding: 0px;
}

.page {
    padding: 40px 0;
    position: relative;
    /*border-bottom:5px solid #dedede;*/
}

    .page:last-of-type {
        border-bottom: none;
    }

.page-bgcolor {
    background: rgba(2, 148, 165,0.8);
}
/* ================================================= about us ================================================== */

.about-content p {
    font-size: 14px;
    padding-bottom: 20px;
    margin: 0;
}

.avatar {
    max-width: 120px;
}

    .avatar img {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

.main-about img {
    margin-right: 20px;
}

.main-about .btn-clear {
    padding: 14px 24px;
}

    .main-about .btn-clear:hover {
        color: #fff;
    }
/*==================progress========================*/
.progress {
    height: 9px;
    background-color: #dadfe1;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    clear: both;
    margin: 6px 0 16px 0;
    overflow: inherit;
}

.progress-bar {
    position: relative;
    transition: all 200ms linear !important;
    -webkit-transition: all 200ms linear !important;
    -moz-transition: all 200ms linear !important;
    -ms-transition: all 200ms linear !important;
    -o-transition: all 200ms linear !important;
}

.wrapp-progress {
    position: relative;
    padding-top: 24px;
}

    .wrapp-progress p {
        font-size: 14px;
        color: #444444;
        font-weight: bold;
        margin: 0;
        padding: 0;
        line-height: 24px;
        position: absolute;
        left: 0;
        top: 0px;
    }

.precent-value {
    color: #fff;
    font-size: 12px;
    line-height: 24px;
    position: absolute;
    right: -25px;
    top: -30px;
    height: 24px;
    width: 50px;
    background: #1d1d1d;
    border-radius: 3px;
}

.progress-bar i {
    font-size: 24px;
    color: #1d1d1d;
    position: absolute;
    right: -7px;
    top: -16px;
}

.progress {
    clear: both;
}

/* ============================================== Portfolio ================================================================= */
ul#filterOptions {
    margin: 0;
    padding: 40px 0 0 0;
    list-style: none;
    display: table;
}

    ul#filterOptions li {
        float: left;
        margin-right: -1px;
    }

        ul#filterOptions li span {
            padding: 10px 12px;
            display: block;
            color: #c4c4c4;
            padding: 0 10px;
        }

        ul#filterOptions li a {
            color: #c4c4c4;
            font-size: 18px;
            padding: 0;
        }

        ul#filterOptions li.cur a:hover {
            color: #1d2127;
        }

        ul#filterOptions li a:hover {
            text-decoration: none;
        }

.folio-content {
    height: auto;
}

ul.container_folio {
    overflow: hidden;
}

    ul.container_folio li.box {
        overflow: hidden;
        height: auto;
        display: block;
    }

.box img {
    max-width: 100%
}

.portfolio-item .thumbnail {
    margin: 0;
    position: relative;
}

.linear {
    transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
}

.thumb-img {
    position: relative;
    overflow: hidden;
    background: #000;
}

    .thumb-img img {
        display: block;
        -webkit-transform: scale(1,1);
        -webkit-transition-timing-function: ease-out;
        -webkit-transition-duration: 250ms;
        -moz-transform: scale(1,1);
        -moz-transition-timing-function: ease-out;
        -moz-transition-duration: 250ms;
    }

    .thumb-img:hover img, .link-attr:hover .thumb-img > img {
        -webkit-transform: scale(1.05,1.07);
        -webkit-transition-timing-function: ease-out;
        -webkit-transition-duration: 250ms;
        -moz-transform: scale(1.05,1.07);
        -moz-transition-timing-function: ease-out;
        -moz-transition-duration: 250ms;
    }

    .thumb-img:hover img {
        opacity: 0.7;
    }

.folio-img {
    padding: 15px 0;
}

.folio-caption {
    position: absolute;
    bottom: -58px;
    left: 0;
    background: #fff;
    width: 100%;
    max-height: 48px;
}

    .folio-caption p {
        color: #1d2127;
        padding: 15px;
        margin: 0;
        text-align: center;
        font-size: 18px;
    }

    .folio-caption i {
        position: absolute;
        top: -9px;
        left: 50%;
        font-size: 32px;
        line-height: 9px;
        margin-left: -9px;
        color: #fff;
    }

.portfolio-item {
    margin: 0;
    padding: 0 0;
}

.main-folio {
    margin: 0 auto;
    width: 100%;
    padding: 40px 0;
    position: relative;
    overflow: hidden;
}

.container_folio {
    margin: 0 0 0 0;
    padding: 0 0 40px 0;
    list-style: none;
    width: 100%;
    clear: both;
    position: relative;
    overflow: hidden;
}

.col-md-12 {
    clear: both;
}

.img-portfolio {
    margin: 0;
}

div.link {
    visibility: hidden;
    position: absolute;
    top: 0;
    color: #fff;
    font-size: 14px;
}

.thumbnail {
    border-radius: 0px;
}

.link-attr {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    text-align: center;
    z-index: 88;
}

    .link-attr a {
        border: 3px solid #fff;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -o-border-radius: 100%;
        border-radius: 100%;
        width: 48px;
        height: 48px;
        background: transparent;
        padding: 10px 12px;
        color: #fff;
        animation-duration: 750ms;
        -webkit-animation-duration: 750ms;
        -moz-animation-duration: 750ms;
        -ms-animation-duration: 750ms;
        -o-animation-duration: 750ms;
        animation-iteration-count: backwards;
        -webkit-animation-iteration-count: backwards;
        -moz-animation-iteration-count: backwards;
        -ms-animation-iteration-count: backwards;
        -o-animation-iteration-count: backwards;
        -webkit-animation-delay: 500ms;
        -moz-animation-delay: 500ms;
        -ms-animation-delay: 500ms;
        -o-animation-delay: 500ms;
        display: none;
    }

.link-search {
    position: absolute;
    left: 50%;
    top: -24px;
    margin-left: -55px;
}

.link-chain {
    position: absolute;
    right: 50%;
    top: -24px;
    margin-right: -55px;
}

.link-attr a i {
    font-size: 21px;
}
/*=================contact====================*/
.main-contact {
    padding: 40px 0;
}


.contact-info p span {
    width: 24px;
    height: 24px;
    text-align: center;
}

.contact-info .fa {
    font-size: 18px;
    vertical-align: middle;
    margin-right: 20px;
}

.contact p {
    font-size: 18px;
    margin: 0;
    padding: 0 0 0 0;
}

.contact span {
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border: 4px solid #7a7a7a;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 36px;
    line-height: 53px;
    margin-bottom: 20px;
}

.contact p a {
    color: #7a7a7a;
}

    .contact p a:hover {
        text-decoration: none;
    }
/* Footer */

footer {
    color: #ffffff;
    padding: 10px 0;
}

.cp-right P {
    margin: 0;
    padding: 10px 0;
}

    .cp-right P a {
        text-decoration: none;
    }

        .cp-right P a:hover {
            color: #fff;
        }

.top-scroll {
    margin: 0;
    padding: 0;
}

    .top-scroll a {
        text-decoration: none;
        color: inherit;
        display: block;
        font-size: 92px;
        line-height: 48px;
    }

        .top-scroll a:hover {
            color: #fff;
        }

i.scroll {
    color: #fff;
    position: absolute;
    top: -15px;
    left: 50%;
    margin-left: -28px;
}

    i.scroll:hover {
        color: #fff;
    }

footer {
    text-align: center;
    padding: 50px 0;
    background: #1d2127;
    padding-bottom: 0px;
    bottom: 0;
}

    footer p, footer .bigicon {
        color: white !important;
    }

.footerlinks {
    margin: 30px 0;
}

    .footerlinks li {
        color: rgb(255, 189, 38);
        display: inline;
        padding: 10px;
        text-transform: uppercase;
    }

.footersocial {
    margin-top: 30px;
}

    .footersocial li {
        display: inline;
        padding: 0 15px;
        font-size: 2em;
    }

        .footersocial li a {
            color: #7e7e7e;
        }

            .footersocial li a:hover {
                color: rgb(255, 189, 38);
            }

/* ========================================== Footer ======================================================= */
.list-inline {
    text-align: right;
    margin: 0;
}

    .list-inline > li {
        display: inline-block;
        padding-right: 10px;
        padding-left: 10px;
    }

        .list-inline > li a i {
            vertical-align: middle;
            line-height: 41px;
        }

.socIcon {
    display: block;
    color: #fff;
    animation-duration: 750ms;
    -webkit-animation-duration: 750ms;
    -moz-animation-duration: 750ms;
    -ms-animation-duration: 750ms;
    -o-animation-duration: 750ms;
    -webkit-animation-delay: 1000ms;
    -moz-animation-delay: 1000ms;
    -ms-animation-delay: 1000ms;
    -o-animation-delay: 1000ms;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
}

    .socIcon:hover {
        color: #fff;
    }
/* ========================================== modal ======================================================= */
body.modal-open {
    margin-right: 0px !important;
    overflow: scroll;
}
/* ========================================== Responsive ======================================================= */



@media screen and (min-width:240px) and (max-width: 991px) {
    .cp-right, ul.list-inline {
        text-align: center;
    }

    i.scroll {
        color: #fff;
        position: relative;
        top: 0;
        left: 0;
        margin-left: 0;
    }

    .main-about img {
        margin-right: 0;
    }

    .main-avatar {
        margin-bottom: 20px;
    }

    .about-content {
        text-align: center;
    }

        .about-content p {
            text-align: left;
        }
}

@media screen and (min-width:768px) and (max-width: 991px) {
    .link-attr a {
        width: 36px;
        height: 36px;
        padding: 5px 10px;
    }

        .link-attr a i {
            font-size: 12px;
        }
}

@media (min-width: 768px) {
    .navbar-nav {
        float: none;
    }
}

@media screen and (min-width:768px) and (max-width: 1199px) {
    .folio-caption p {
        font-size: 12px;
    }
}

@media screen and (min-width:240px) and (max-width: 767px) {
    ul.container_folio {
        text-align: center;
    }

        ul.container_folio li.box {
            margin: 0;
            padding: 0 15px;
            width: 100%;
            max-width: 380px;
            display: inline-block;
            float: none;
        }

    .navbar ul.pull-right {
        float: none !important;
    }

    .navbar-inverse .navbar-nav > li > a.btn, .navbar-inverse .navbar-nav > li span {
        display: none;
    }

    .navbar-toggle {
        margin-top: 25px;
    }
}

@media screen and (min-width:240px) and (max-width: 480px) {
    .contact p {
        font-size: 14px;
    }

    .link-attr a {
        width: 36px;
        height: 36px;
        padding: 5px 10px;
    }

        .link-attr a i {
            font-size: 12px;
        }
}

@media screen and (min-width:768px) and (max-width: 1024px) {
    .logo img {
        width: 12%;
    }

    #flexx-head h1 {
        font-size: 48px;
    }

    #flexx-head h2 {
        font-size: 18px;
    }

    .main-caption .btn-clear, .main-about .btn-clear {
        padding: 8px 14px;
    }

    .title-page h2 {
        font-size: 24px;
    }
}


@media screen and (min-width:481px) and (max-width: 767px) {
    footer {
        margin-bottom: 0;
    }

    .logo img {
        width: 15%;
    }

    #flexx-head h1 {
        font-size: 36px;
    }

    #flexx-head h2 {
        font-size: 14px;
        padding: 0 0 8px 0;
    }

    .main-caption .btn-clear, .main-about .btn-clear {
        padding: 8px 14px;
    }

    .title-page h2 {
        font-size: 18px;
    }
}

@media screen and (min-width:240px) and (max-width: 480px) {
    .logo img {
        width: 15%;
    }

    #flexx-head h1 {
        font-size: 24px;
    }

    #flexx-head h2 {
        font-size: 14px;
        padding: 0 0 8px 0;
    }

    .main-caption .btn-clear, .main-about .btn-clear {
        padding: 6px 14px;
    }

    .title-page h2 {
        font-size: 24px;
    }
}

@media screen and (max-width: 767px) and (min-width: 240px) {
    .navbar-toggle {
        margin-top: 10px;
    }

    .avatar {
        margin: 0 auto;
    }
}

/*category*/
.categ {
    padding-top: 17px;
}

.social {
    /*position: absolute;*/
    width: 100%;
    top: 50%;
    text-align: center;
    /*transform: translateY(-50%);*/
}

    .social .link {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        border: 2px dashed rgb(255, 189, 38);
        background-clip: content-box;
        padding: 10px;
        transition: .5s;
        color: #D7D0BE;
        margin-left: 15px;
        margin-right: 15px;
        font-size: 70px;
    }

        .social .link span {
            display: block;
            position: absolute;
            text-align: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .social .link:hover {
            padding: 20px;
            color: white;
            margin-left: -5px;
            transform: translateX(10px) rotate(360deg);
        }



        .social .link.cat {
            background-color: rgba(3, 53, 62,0.8);
            color: white;
        }



/*=========================================tours card======================================*/
.tourtitr {
    text-align: center;
    color: #444444;
}

.tourheader {
    display: block;
    overflow: hidden;
    position: relative;
    padding-bottom: 0.2em;
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    border-top-left-radius: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    border-top-right-radius: 8px;
}

.tourcontainer {
    width: 280px;
    margin: 10px auto 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    padding-bottom: 0.6em;
    /*background-color: #dde1e2;*/
    -webkit-box-shadow: #bdc3c7 0 5px 5px;
    -moz-box-shadow: #bdc3c7 0 5px 5px;
    box-shadow: #bdc3c7 0 5px 5px;
}

.bio {
    border-bottom: 4px solid rgb(255, 189, 38);
    height: 180px;
    overflow: hidden;
}

.bg {
    height: 180px;
    width: 280px;
    border-bottom: 4px solid rgb(255, 189, 38);
}

.bio:hover > .desc {
    cursor: pointer;
    opacity: 1;
}

.hover {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: #3498db;
    top: 0;
    font-size: 1.8em;
    text-align: center;
    color: white;
    padding-top: 18%;
    opacity: 0;
    font-family: 'FontAwesome';
    font-weight: 300;
    border: 8px solid #5cc0ff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}

.data {
    /*margin-top: .2em;*/
    /*color: #81878b;*/
}

    .data li {
        width: 32%;
        text-align: center;
        display: inline-block;
        font-size: 1.17em;
        border-right: solid 1px #bdc3c7;
    }

        .data li:first-child {
            border: none;
        }

        .data li span {
            color: #404040;
            display: block;
            text-transform: uppercase;
            font-size: .7em;
            margin-top: .2em;
            font-weight: 700;
        }

.desc {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 171px;
    padding: 1.2em 1em 0 1em;
    color: white;
    text-align: center;
    opacity: 0;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

    .desc h3 {
        font-family: "Lato";
        font-size: 1.2em;
        margin-bottom: .5em;
    }

    .desc p {
        font-size: .9em;
        font-family: 'Quicksand';
        line-height: 1.5em;
    }

.follow {
    margin: 0 auto 0 auto;
    background-color: rgba(2, 148, 165,0.8);
    width: 200px;
    color: white;
    text-align: center;
    padding: .1em;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
    border-radius: 11px;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}

#submit {
    width: 75%;
    background-color: rgb(255, 189, 38);
}

.follow:hover {
    background-color: #167abd;
    cursor: pointer;
}

.tourRow {
    padding-bottom: 10px;
    padding-top: 10px;
}
/*=========================for Blog Articles============================*/
#blogslide {
    padding-top: 30px;
}

#MagazineHeader {
    padding-bottom: 22px;
    padding-top: 10px;
    text-align: center;
}

#ToursHeader {
    color: #333;
    text-align: center;
}
/* card details start  */

.details-card {
    background: #ecf0f1;
}

.card-content {
    min-height: 400px;
    border-radius: 8px;
    background: #ffffff;
    border: 4px;
    box-shadow: #bdc3c7 0 5px 5px;
}

.card-img {
    position: relative;
    overflow: hidden;
    border-radius: 0;
    z-index: 1;
}

    .card-img img {
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        width: 100%;
        height: auto;
        display: block;
    }

    .card-img span {
        position: absolute;
        top: 15%;
        left: 15%;
        background: rgb(255, 189, 38);
        padding: 6px;
        color: #fff;
        font-size: 12px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        transform: translate(-50%,-50%);
    }

        .card-img span h4 {
            font-size: 12px;
            margin: 0;
            padding: 10px 5px;
            line-height: 0;
        }

.card-desc {
    padding: 1.25rem;
}

    .card-desc h3 {
        color: #000000;
        font-weight: 600;
        font-size: 1.5em;
        line-height: 1.3em;
        margin-top: 0;
        margin-bottom: 5px;
        padding: 0;
    }

    .card-desc p {
        color: #747373;
        font-size: 14px;
        font-weight: 400;
        font-size: 1em;
        line-height: 1.5;
        margin: 0px;
        margin-bottom: 20px;
        padding: 0;
        font-family: 'Raleway', sans-serif;
    }

.btn-card {
    background-color: #1ABC9C;
    color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    font-size: .81rem;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
}

    .btn-card:hover {
        background: orange;
    }

a.btn-card {
    text-decoration: none;
    color: #fff;
}
/* End card section */
@media only screen and (max-width : 767px) {


    #srchbtn {
        margin-top: 45px;
        margin-bottom: 18px;
    }

    .more {
        width: 40%;
    }
    /*.tourcontainer{
            width: 415px;
    }*/
    .container-fluid {
        overflow: hidden;
        position: relative;
    }

    .slick-next.slick-disabled:before,
    .slick-prev.slick-disabled:before {
        display: none;
    }

    .slick-cloned {
        display: none !important;
    }

    .slick-list {
        display: -webkit-box !important;
    }

    .slick-slide img {
        display: inline !important;
    }
}

.slick-prev:before, .slick-next:before {
    color: black !important;
}
/*for slider*/

.gallery {
}

.gallery-cell {
    /*width: 60%;
  height: 900px;*/
    /*margin-right: 10px;*/
    counter-increment: gallery-cell;
}

    /* cell number */
    .gallery-cell:before {
        display: none;
        text-align: center;
        content: counter(gallery-cell);
        line-height: 140px;
        font-size: 80px;
        color: white;
    }

.flickity-prev-next-button {
    top: 28% !important;
    width: 45px !important;
    height: 45px !important;
}

    .flickity-prev-next-button.next {
        right: 23px !important;
    }

    .flickity-prev-next-button.previous {
        left: 23px !important;
    }

.flickity-enabled.is-draggable .flickity-viewport {
    margin: 5px;
}

.carousel:after {
    content: 'flickity';
    display: none;
}

@media screen and ( min-width: 768px ) {

    /* disable Flickity for large devices */
    .weblogcarousel:after {
        content: '';
    }
}

.bio span {
    position: absolute;
    top: 15%;
    left: 15%;
    background: rgba(255, 189, 38, 0.6);
    padding: 6px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-50%,-50%);
}

    .bio span h4 {
        font-size: 12px;
        margin: 0;
        padding: 10px 5px;
        line-height: 0;
    }

/*==============================for contact form============================*/
.form {
    border-radius: 20px;
    /*width: 95%;*/
    padding: 7px;
    background: #f8f8f8;
    border: 1px solid rgba(0, 0, 0, 0.075);
    margin-bottom: 15px;
    color: #727272 !important;
    font-size: 12px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

    .form:hover {
        border: 1px solid #8BC3A3;
    }

    .form:focus {
        color: white;
        outline: none;
        border: 1px solid #8BC3A3;
    }

.textarea {
    height: 150px;
    max-height: 200px;
    max-width: 100%;
}

.contacticon {
    display: table;
    margin: 0 auto;
}

.white {
    color: white;
}


/*==================================OurServices Section==========================*/
@media only screen and (max-width:768px) {
    .services-inner {
        height: 175px !important;
        margin-bottom: -40px !important :
    }
}

@media only screen and (max-width:768px) and (min-width:500px) {
    .mb-60 {
        margin-right: 60px;
        margin-left: 60px;
        margin-bottom: 0px;
    }
}

@media only screen and (max-width:499px) and (min-width:100px) {
    .mb-60 {
        margin-right: 30px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width:1200px) and (min-width:992px) {
    .services-inner {
        height: 290px !important;
    }
}

.mb-60 {
    margin-bottom: 60px;
}

.services-inner {
    height: 200px;
    border: 2px solid rgb(255, 189, 38);
    border-radius: 8px;
    margin-left: 12px;
    transition: .3s;
}

.our-services-img {
    background-color: #dde1e2;
    border-radius: 50%;
    float: right;
    margin-left: -33px;
    margin-right: -32px;
    margin-top: 28px;
}

.our-services-text {
    padding-right: 10px;
}

.our-services-text {
    margin: 0px;
    padding: 15px 46px 5px;
}

    .our-services-text h4 {
        color: #222222;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 5px;
        padding-bottom: 5px;
        position: relative;
        text-transform: uppercase;
    }

        .our-services-text h4::before {
            background: #ec6d48 none repeat scroll 0 0;
            bottom: 0;
            content: "";
            height: 1px;
            position: absolute;
            width: 35px;
        }

.our-services-wrapper:hover .services-inner {
    background: #fff none repeat scroll 0 0;
    border: 2px solid transparent;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.2)
}

.our-services-text p {
    text-align: justify;
    font-size: 14px;
    font-weight: 400;
    color: rgba(40,57,101,1);
    margin-bottom: 15px;
    letter-spacing: 0;
}

#ourbenefits {
    text-align: center;
}

/*==========================what the tourips is==============*/
.whattourips {
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 3;
    right: 0;
    min-height: 450px;
    max-height: 261px;
    width: 100%;
    color: #fff;
    font-size: 1.2em;
    padding: 15px 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/cole-patrick-1027-unsplash.jpg);
}

.whatheader {
    max-width: 550px;
    margin: 0 auto;
    padding: 0 0 15px;
    text-align: center;
}

.ourdef {
    padding: 10px 40px 30px;
    font-size: 18px;
    line-height: 36px;
    max-width: 700px;
    margin: 0 auto;
    text-align: justify;
}

.charwrap {
    max-width: 310px;
    left: 0;
    position: absolute;
    bottom: 0;
    overflow: hidden;
}

.touripschar {
    backface-visibility: hidden;
    width: 100%;
}

@media only screen and (max-width:1000px) and ( min-width: 669px ) {
    .charwrap {
        max-width: 241px;
    }
}

@media only screen and (max-width:668px) and ( min-width: 509px ) {
    .charwrap {
        max-width: 166px;
    }
}

@media only screen and (max-width:508px) and ( min-width: 470px ) {
    .charwrap {
        max-width: 110px;
        margin-left: 40px;
    }
}

@media only screen and (max-width:471px) and ( min-width: 354px ) {
    .charwrap {
        max-width: 200px;
        margin-left: 100px;
    }

    .whattourips {
        min-height: 700px;
    }
}

@media only screen and (max-width:355px) and ( min-width: 50px ) {
    .charwrap {
        max-width: 200px;
        margin-left: 75px;
    }

    .touripschar {
        opacity: 0.2;
    }

    .whattourips {
        min-height: 800px;
    }
}

@media only screen and (min-width:992px) {
    #padneed {
        padding-right: 40px;
    }
}

/*=================Tourips isnt ?!================*/
.touripswrapper {
    width: 100%;
    color: #fff;
    background: linear-gradient(-45deg, #ffbd26, #E73C7E, #0294a5, #00743f);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.touripstitr {
    padding: 5px;
    font-weight: 500;
    text-align: center;
    top: 20%;
    right: 0;
    left: 0;
    font-size: 35px;
    padding-top: 25px;
}

.touripstitr2 {
    font-weight: 200;
    line-height: 1.6;
    padding: 15px;
    font-size: 19px;
    text-align: center;
    top: 45%;
    right: 0;
    left: 0;
}

/*================colliques section===================*/
#colliguesHeader {
    color: #333;
    padding-bottom: 22px;
    padding-top: 10px;
    text-align: center;
}

.logocwraper img {
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/*range price bar*/
.price-range-block {
    margin: 20px;
}

.sliderText {
    margin-bottom: 25px;
}

.ui-slider-horizontal {
    height: .6em;
}

.ui-slider-horizontal {
    margin-bottom: 15px;
    width: 40%;
}

.ui-widget-header {
    background: #3FE331;
}

.price-range-search {
    width: 41%;
    background-color: #f9f9f9;
    border: 1px solid #6e6666;
    min-width: 40%;
    display: inline-block;
    height: 32px;
    border-radius: 5px;
    float: left;
    margin-bottom: 20px;
    font-size: 16px;
}

.price-range-field {
    width: 18%;
    min-width: 16%;
    background-color: #f9f9f9;
    border: 1px solid #6e6666;
    color: black;
    font-family: myFont;
    font: normal 14px Arial, Helvetica, sans-serif;
    border-radius: 5px;
    height: 23px;
    padding: 5px;
}

.search-results-block {
    position: relative;
    display: block;
    clear: both;
}

.pop {
    width: 300px;
    height: 150px;
    z-index: 15;
    top: 35%;
    left: 50%;
    margin: -100px 0 0 -150px;
    display: none;
    text-align: center;
    position: fixed;
    background: #ffffff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 10px;
    border: 10px solid rgba(2, 148, 165,0.8);
}

    .pop > h1 {
        padding: 30px 30px 10px 30px;
        color: #2a3644;
        font-size: 100%;
    }

    .pop > p {
        padding-left: 30px;
        font-size: 100%;
        color: #777;
    }

    .pop > span {
        cursor: pointer;
        position: absolute;
        top: 4%;
        right: 4%;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        background: #cccccc;
        color: #ffffff;
        padding: 6px 8px 0px 9px;
        width: 30px;
        height: 30px;
    }

.popbank, .popagency {
    width: 313px;
    height: 150px;
    z-index: 15;
    top: 35%;
    left: 48%;
    margin: -100px 0 0 -150px;
    display: none;
    text-align: center;
    position: fixed;
    background: #ffffff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 10px;
    border: 10px solid rgba(2, 148, 165,0.8);
}

.popank > h1 {
    padding: 30px 30px 10px 30px;
    color: #2a3644;
    font-size: 100%;
}

.popbank > p, .popagency > p {
    padding-top: 20px;
    font-size: 100%;
    color: #777;
}

.popbank > span, .popagency > span {
    cursor: pointer;
    position: absolute;
    top: 4%;
    right: 4%;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: #cccccc;
    color: #ffffff;
    padding: 6px 8px 0px 9px;
    width: 30px;
    height: 30px;
}

div#backgroundDarkener {
    background: #000;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.8;
}


/*=========================for Sales label============================*/

.ribbon {
    position: absolute;
    right: -6px;
    top: -12px;
    z-index: 1;
    overflow: visible;
    width: 100px;
    height: 100px;
    text-align: center;
}

    .ribbon span {
        z-index: 99;
        font-size: 14px;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        line-height: 20px;
        transform: rotate(45deg);
        width: 118px;
        display: block;
        /* background: #F62459; */
        background: linear-gradient(rgb(255, 162, 162) 0%, #f11818 100%);
        box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
        position: absolute;
        top: 20px;
        right: -29px;
    }

        .ribbon span::before {
            content: '';
            position: absolute;
            left: 0%;
            top: 100%;
            z-index: -1;
            border-left: 3px solid #f11818;
            border-right: 3px solid transparent;
            border-bottom: 3px solid transparent;
            border-top: 3px solid #f11818;
        }

        .ribbon span::after {
            content: '';
            position: absolute;
            right: 0%;
            top: 100%;
            z-index: -1;
            border-right: 3px solid #F62459;
            border-left: 3px solid transparent;
            border-bottom: 3px solid transparent;
            border-top: 3px solid #F62459;
        }
/*=========================comment slider===============================*/
#commentsHeader {
    text-align: center;
    color: #333;
}

.cardcmt,
.box {
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}



/*.overlaycmt {
    background: #158 url(https://goo.gl/DM5s4f) center no-repeat;
    background-size: cover;
    height: 400px;
    margin: -20px;
    position: relative;
    width: calc(100% + 40px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    filter: blur(10px);
}*/

.cardcmt {
    /*box-shadow: 0 0 100px rgba(0,0,0,0.25);*/
    height: 376px;
    margin: 2em auto 0;
    width: 100%;
}

.cardcmtheader {
    box-shadow: #bdc3c7 0 5px 5px;
    background: rgba(2, 148, 165,0.45);
    color: #FFF;
    height: 376px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: inherit;
    border-radius: 20px;
}

    .cardcmtheader:before {
        border: 2px solid rgba(255, 189, 38,1);
        border-radius: 100%;
        content: "";
        height: 140px;
        left: 0;
        margin: 29px auto;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 140px;
        z-index: 2;
        -webkit-transform: scale(1.24, 1.24);
        -moz-transform: scale(1.24, 1.24);
        transform: scale(1.24, 1.24);
    }

    .cardcmtheader img {
        border: 5px solid rgba(255, 189, 38,1);
        border-radius: 100%;
        height: 140px;
        margin: 2em auto 2.5em;
        object-fit: cover;
        width: 140px;
    }

    .cardcmtheader h2 {
        /*display: inline-block;*/
        color: white;
        font-size: 28px;
        font-weight: 400;
        letter-spacing: -2px;
        margin: 0 auto;
        padding: 0;
        text-shadow: 0 1px 2px rgba(3, 53, 62,0.8);
    }

    .cardcmtheader h4 {
        color: white;
        display: block;
        font-size: 15px;
        margin: 0 auto;
        padding: 5px 0 0;
        text-shadow: 0 1px 2px rgba(255, 189, 38,1);
        text-transform: uppercase;
    }

.sprite {
    background-image: url(../img/contactrow.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite-location {
    width: 32px;
    height: 32px;
    background-position: -5px -5px;
}

.sprite-mail {
    width: 32px;
    height: 32px;
    background-position: -5px -47px;
}

.sprite-phone {
    width: 32px;
    height: 32px;
    background-position: -5px -89px;
}

.sprite1 {
    background-image: url(/Content/newTemplate/img/footericon.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite-xinstagram {
    width: 32px;
    height: 32px;
    background-position: -201px -15px;
}

.sprite-whatsapp {
    width: 32px;
    height: 32px;
    background-position: -139px -15px;
}

.sprite-telegram {
    width: 32px;
    height: 32px;
    background-position: -77px -15px;
}

.sprite-star {
    width: 32px;
    height: 32px;
    background-position: -15px -15px;
}
