﻿<!DOCTYPE html>
<html>
<head id="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<meta name="description" content="دور تا دور تو، پر از اتفاقای باحاله">*@
    <meta name="keywords" content="آژانس,آژانس شیراز,dordor,dor-dor,توریپس,شیراز,shiraz,دور دور,تور,تور,تورشیراز,tour,کافه,گالری,دور-دور" />
    <meta name="author" content="tourips">
    @using Microsoft.AspNet.Identity
    @using IdentitySample.Models
    @using Microsoft.AspNet.Identity.Owin;

    <link href="~/Content/newTemplate/css/Bootstrap3.3.7.css" rel="stylesheet" />
    <script src="~/Content/newTemplate/js/jquery-1.10.2.js"></script>
    <script src="~/Content/newTemplate/js/bootstrap.js"></script>
    


    <script type="text/javascript">window.heap = window.heap || [], heap.load = function (e, t) { window.heap.appid = e, window.heap.config = t = t || {}; var r = t.forceSSL || "https:" === document.location.protocol, a = document.createElement("script"); a.type = "text/javascript", a.async = !0, a.src = (r ? "https:" : "http:") + "//cdn.heapanalytics.com/js/heap-" + e + ".js"; var n = document.getElementsByTagName("script")[0]; n.parentNode.insertBefore(a, n); for (var o = function (e) { return function () { heap.push([e].concat(Array.prototype.slice.call(arguments, 0))) } }, p = ["addEventProperties", "addUserProperties", "clearEventProperties", "identify", "resetIdentity", "removeEventProperty", "setEventProperties", "track", "unsetEventProperty"], c = 0; c < p.length; c++)heap[p[c]] = o(p[c]) };
        heap.load("3314004309");</script>
</head>

<body>
    <div id="boxWrapp">
        <div  style="position: fixed; top: 0; width: 100%; min-height: 54px; z-index: 99;">
            <!-- navbar -->
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#NavCol">
                            <span class="sr-only">تعویض ناوبری</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand bg-primary" id="nameAgency" href="#about"></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="NavCol">
                        <ul class="nav navbar-nav navbar-right">

                            <li class="current"><a href="#about" class="linear"><span class="btnicon icon-doc"></span>&nbsp;صفحه اصلی</a></li>

                            <li><a href="#recent_tours" class="linear navbarCLICK"><span class="btnicon icon-plane"></span>&nbsp;تورها</a></li>
                            <li><a href="#old_tours" class="linear navbarCLICK"><span class="btnicon icon-cup"></span>&nbsp;آرشیو</a></li>
                            <li><a href="#about" class="linear navbarCLICK"><span class="btnicon icon-book-open"></span>&nbsp;درباره ما</a></li>
                            <li><a href="#leader_cards" class="linear navbarCLICK"><span class="btnicon icon-eyeglasses"></span>درباره لیدرها</a></li>
                            <li><a href="#contact" class="linear navbarCLICK"><span class="btnicon icon-envelope-open"></span>&nbsp;تماس با ما</a></li>
                            @if (Request.IsAuthenticated == false)
                            {
                                <li><a href="/login" id="login" onclick="window.location.href='/login'" target="_blank" class="linear navbarCLICK"><span class="btnicon icon-login"></span>&nbsp;ورود برگزارکنندگان</a></li>
                            }
                            else
                            {
                                var userid = User.Identity.GetUserId();
                                var usermngr = HttpContext.Current.GetOwinContext().Get<ApplicationUserManager>();
                                var user = usermngr.FindById(userid);
                                <li><a class="linear navbarCLICK" href="/dashboard/index" onclick="window.location.href='/dashboard/index'"  ><span class="btnicon icon-person"></span>&nbsp;@user.Email</a></li>
                                <li><a href="/account/logout" onclick="window.location.href='/account/logout'"  id="logout" class="linear navbarCLICK"><span class="btnicon icon-logout"></span>&nbsp;خروج</a></li>
                            }
                        </ul>


                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>

        </div>
        <!-- Render -->
        @RenderBody()
        <!-- /Render -->
        
    </div>
</body>
</html>
