﻿@{
    Layout = null;
}
@using Microsoft.AspNet.Identity
@using IdentitySample.Models
@using Microsoft.AspNet.Identity.Owin;
<!DOCTYPE html>

<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="رزرو تور">
    <meta name="setarehZ sinaD" content="tourips">


    <!-- Favicons-->
    <link rel="shortcut icon" href="~/Content/Logo/LogoPng.png" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="~/Content/Logo/LogoPng.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="~/Content/Logo/LogoPng.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="~/Content/Logo/LogoPng.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="~/Content/Logo/LogoPng.png">


   

    @*<script src="~/Content/newTemplate/js/jquery-1.10.2.js"></script>
    <script src="~/Content/newTemplate/js/bootstrap.js"></script>*@

</head>
<body>
    <div id="boxWrapp">
        <div style="position: fixed;top: 0;width: 100%; min-height: 54px;z-index: 99;display: block;">
            <!-- navbar -->
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#NavCol">
                            <span class="sr-only">تعویض ناوبری</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand bg-primary" id="nameAgency" onclick="window.location.href='/#'">@TempData["Brand"]</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="NavCol">
                        <ul class="nav navbar-nav navbar-right">

                            @if (Session["stateuser"] == "1")
                            {
                                <li class="current"><a href="/Agency/index?name=@TempData["name"]" onclick="window.location.href='/Agency/index?name=@TempData["name"]'"   class="linear navbarCLICK"><span class="btnicon icon-doc"></span>صفحه اصلی</a></li>
                                <li><a href="/Agency/All_Tour?name=@TempData["name"]" onclick="window.location.href='/Agency/All_Tour?name=@TempData["name"]'"   class="linear navbarCLICK"><span class="btnicon icon-plane"></span>تورها</a></li>
                                <li><a href="/Agency/Archive?name=@TempData["name"]" onclick="/Agency/Archive?name=@TempData["name"]'"   class="linear navbarCLICK"><span class="btnicon icon-puzzle"></span>آرشیو</a></li>
                                <li><a href="/Agency/index?name=@TempData["name"]#leader_cards" onclick="window.location.href='/Agency/index?name=@TempData["name"]#leader_cards'"  class="linear navbarCLICK"><span class="btnicon icon-eyeglasses"></span>درباره لیدرها</a></li>
                                <li><a href="/Agency/index?name=@TempData["name"]#about" onclick="window.location.href='/Agency/index?name=@TempData["name"]#about'"  class="linear navbarCLICK"><span class="btnicon icon-book-open"></span>درباره ما</a></li>
                                <li><a href="/Agency/index?name=@TempData["name"]#foooter" onclick="window.location.href='/Agency/index?name=@TempData["name"]#foooter'"  class="linear navbarCLICK"><span class="btnicon icon-envelope-open"></span>تماس با ما</a></li>
                            }
                            else
                            {
                                <li class="current"><a href="/Home/index" onclick="window.location.href='/Home/index'"  class="linear navbarCLICK"><span class="btnicon icon-doc"></span>صفحه اصلی</a></li>
                                <li><a href="/Events/All_Tour"  onclick="window.location.href='/Events/All_Tour'" class="linear navbarCLICK"><span class="btnicon icon-plane"></span>تورها</a></li>
                                <li><a href="/Events/Archive_tour" onclick="window.location.href='/Events/Archive_tour'"  class="linear navbarCLICK"><span class="btnicon icon-puzzle"></span>آرشیو</a></li>
                                <li><a href="/Home/index" onclick="window.location.href='/Home/index#What'"  class="linear navbarCLICK"><span class="btnicon icon-book-open"></span>درباره ما</a></li>
                                <li><a href="/Home/index" onclick="window.location.href='/Home/index#contact'"  class="linear navbarCLICK"><span class="btnicon icon-envelope-open"></span>تماس با ما</a></li>
                            }

                            @if (Request.IsAuthenticated == false)
                            {
                                <li><a href="/login" id="login" onclick="window.location.href='/login'" target="_blank" class="linear"><span class="btnicon icon-login"></span>&nbsp;ورود برگزارکنندگان</a></li>
                            }
                            else
                            {
                                var userid = User.Identity.GetUserId();
                                var usermngr = HttpContext.Current.GetOwinContext().Get<ApplicationUserManager>();
                                var user = usermngr.FindById(userid);
                                <li><a class="linear"><span class="btnicon icon-person"></span>&nbsp;@user.Email</a></li>
                                <li><a href="/account/logout" onclick="window.location.href='/account/logout'" class="linear"><span class="btnicon icon-logout"></span>&nbsp;خروج</a></li>
                            }
                        </ul>


                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>

        </div>

        <!-- Render -->
        @RenderBody()
        <!-- /Render -->
      <!-- Footer -->
        @if (Session["stateuser"] != "1")
        {
            <footer class="bg-black">
                <div class="container">
                    <!--<span class="bigicon icon-speedometer "></span>-->
                    @*<img id='jxlzesgtjxlzwlaowlaojzpewlao' style='cursor:pointer' onclick='window.open("https://logo.samandehi.ir/Verify.aspx?id=1014474&p=rfthobpdrfthaodsaodsjyoeaods", "Popup","toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30")' alt='logo-samandehi' src='https://logo.samandehi.ir/logo.aspx?id=1014474&p=nbpdlymanbpdshwlshwlyndtshwl' />*@
                    <img id='jxlzesgtjxlzwlaowlaojzpewlao' style='cursor:pointer' onclick='window.open("https://logo.samandehi.ir/Verify.aspx?id=1014474&p=rfthobpdrfthaodsaodsjyoeaods", "Popup","toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30")' alt='logo-samandehi' src='https://logo.samandehi.ir/logo.aspx?id=1014474&p=nbpdlymanbpdshwlshwlyndtshwl' />

                    <img src="https://trustseal.enamad.ir/logo.aspx?id=105730&amp;p=fjcd4T9nmj2aPT0z" alt="" onclick="window.open(&quot;https://trustseal.enamad.ir/Verify.aspx?id=105730&amp;p=fjcd4T9nmj2aPT0z&quot;, &quot;Popup&quot;,&quot;toolbar=no, location=no, statusbar=no, menubar=no, scrollbars=1, resizable=0, width=580, height=600, top=30&quot;)" style="cursor:pointer" id="fjcd4T9nmj2aPT0z">

                    @*<img src="~/Content/newTemplate/img/samandehi.png" />*@
                    @*<img src="data:text/plain;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAMSURBVBhXY/j//z8ABf4C/qc1gYQAAAAASUVORK5CYII=" alt="" onclick="window.open(https://trustseal.enamad.ir/Verify.aspx?id=105730&amp;p=UzSr9U590zOHxq4O);" style="cursor:pointer" id="UzSr9U590zOHxq4O" />*@
                    @*<img src="~/Content/newTemplate/img/slider-end.png" width="150" height="150" />*@
                    @*<script src="https://cdn.zarinpal.com/trustlogo/v1/trustlogo.js" type="text/javascript"></script>*@

                    <div class="copyright">

                        <p>راه های ارتباطی با ما در <span>شبکه های اجتماعی</span></p>
                    </div>

                    <div class="footersocial wow fadeInUp" data-wow-duration="3s">
                        <!-- FOOTER SOCIAL ICONS START -->
                        <ul>

                            
                            
                            <li><a href="https://www.instagram.com/tourips/" target="_blank"><img src="~/Content/newTemplate/img/instagram.png" /></a></li>
                            <li><a href="https://wa.me/989357453829 " target="_blank"><img src="~/Content/newTemplate/img/whatsapp.png" /></a></li>
                            <li><a href="https://t.me/tourips " target="_blank"><img src="~/Content/newTemplate/img/telegram.png" /></a></li>
                            <li><a href="http://Tourips.com/ " target="_blank"><img src="~/Content/newTemplate/img/star.png" /></a></li>
                            
                        </ul>
                    </div><!-- FOOTER SOCIAL ICONS END -->
                    <p> 2018 tourips.com &copy;</p>
                </div>

            </footer>
        }
        <!-- /FooterEnd -->
    </div>
</body>
</html>
