﻿<!DOCTYPE html>
<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-124634967-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-124634967-1');
</script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<meta name="description" content="دور تا دور تو، پر از اتفاقای باحاله">*@
    <meta name="keywords" content="آژانس,آژانس شیراز,tourips,torips,توریپس,شیراز,shiraz,توریسم,تور,تور,تورشیراز,tour,کافه,گالری" />
    <meta name="author" content="Sina Darbouy">
    @using Microsoft.AspNet.Identity
    @using IdentitySample.Models
    @using Microsoft.AspNet.Identity.Owin;
    @*@using IdentitySample.Models
        @model LoginViewModel*@
    @*<title>تور</title>*@

    <!-- Favicons-->
    <link rel="shortcut icon" href="~/Content/Logo/LogoPng.png" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="~/Content/Logo/LogoPng.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="~/Content/Logo/LogoPng.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="~/Content/Logo/LogoPng.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="~/Content/Logo/LogoPng.png">
    <!-- CSS -->
    <link href="~/Content/Template/css/base.css" rel="stylesheet">
    <!-- slick-->
    <link rel="stylesheet" type="text/css" href="~/Content/Plugins/slick/slick.css" />
    <!-- Add the new slick-theme.css if you want the default styling-->
    <link rel="stylesheet" type="text/css" href="~/Content/Plugins/slick/slick-theme.css" />

    <!-- SPECIFIC CSS -->
    <link href="~/Content/Template/css/skins/square/grey.css" rel="stylesheet">
    <link href="~/Content/Template/css/date_time_picker.css" rel="stylesheet">

    <!-- Google web fonts -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <!--datepicker-->
    <link rel="stylesheet" href="~/Content/plugins/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.css" />
    <script type="text/javascript">
        window.heap = window.heap || [], heap.load = function (e, t) { window.heap.appid = e, window.heap.config = t = t || {}; var r = t.forceSSL || "https:" === document.location.protocol, a = document.createElement("script"); a.type = "text/javascript", a.async = !0, a.src = (r ? "https:" : "http:") + "//cdn.heapanalytics.com/js/heap-" + e + ".js"; var n = document.getElementsByTagName("script")[0]; n.parentNode.insertBefore(a, n); for (var o = function (e) { return function () { heap.push([e].concat(Array.prototype.slice.call(arguments, 0))) } }, p = ["addEventProperties", "addUserProperties", "clearEventProperties", "identify", "resetIdentity", "removeEventProperty", "setEventProperties", "track", "unsetEventProperty"], c = 0; c < p.length; c++)heap[p[c]] = o(p[c]) };
        heap.load("3314004309");
    </script>
</head>

<body>

    <!-- Header Colored:  add the id colored to header and change logo_sticky.png to logo_sticky_colored.png  ======================= -->
    <header id="colored">
        <div id="top_line">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6"><i class="icon-phone"></i><strong>۰۹۳۵۷۴۵۳۸۲۹</strong></div>

                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <ul id="top_links">
                            @if (Request.IsAuthenticated == false)
                            {
                                <li>
                                    <div class="dropdown dropdown-access">
                                        <a href="/login" @*class="dropdown-toggle"*@ @*data-toggle="dropdown"*@ id="access_link">ورود برگزارکنندگان</a>
                                        <div class="dropdown-menu">
                                            @*<div class="row">
                                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                                        <a href="#" class="bt_facebook">
                                                            <i class="icon-facebook"></i>فیسبوک
                                                        </a>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                                        <a href="#" class="bt_paypal">
                                                            <i class="icon-paypal"></i>پی پال
                                                        </a>
                                                    </div>
                                                </div>*@
                                            <div class="login-or">
                                                @*<hr class="hr-or">*@
                                                <span class="span-or">ورود برگزارکنندگان</span>
                                            </div>
                                            <form action="/account/LoginConfirm">
                                                <div class="form-group">
                                                    @*@Html.TextBoxFor(x => x.Email, new {placeholder = "پست الکترونیک", id = "inputUsernameEmail", @class = "form-control" })
                                                        @Html.ValidationMessageFor(x => x.Email)*@
                                                    <input name="email" type="text" class="form-control" id="inputUsernameEmail" placeholder="پست الکترونیک">
                                                </div>
                                                <div class="form-group">
                                                    @*@Html.PasswordFor(x => x.Password, new { placeholder = "رمز عبور", type = "password", id = "inputPassword", autocomplete = "off", @class = "form-control" })
                                                        @Html.ValidationMessageFor(x => x.Password)*@
                                                    <input type="password" name="password" class="form-control" id="inputPassword" placeholder="رمز عبور">
                                                </div>
                                                @*<div class="form-group">
                                                        <h7 style="color:#999">من را بخاطر داشته باش</h7>
                                                        <input type="checkbox" />
                                                    </div>*@
                                                @*<a id="forgot_pw" href="#">رمز عبور خود را فراموش كرده ايد؟</a>*@
                                                <input type="submit" name="Sign_in" value="ورود" id="Sign_in" class="button_drop">
                                                <a href="/account/register" name="Sign_up" value="ثبت نام" id="Sign_up" class="button_drop outline">ثبت نام</a>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                            }
                            else
                            {
                                var userid = User.Identity.GetUserId();
                                //User.Identity.GetUserName()   this is username or email
                                //User.Identity.Name            this is username or email
                                var usermngr = HttpContext.Current.GetOwinContext().Get<ApplicationUserManager>();
                                var user = usermngr.FindById(userid);
                                //var user = usermngr.FindByName(User.Identity.Name);
                                @*<a href="/account/logout">خروج</a>*@
                                @*<li>
                                    <div class="dropdown dropdown-access">
                                        <a href="#" class="dropdown-toggle" style="direction:rtl" data-toggle="dropdown" id="access_link"></a>
                                    </div>
                                </li>*@
                                <li><a href="/dashboard/index">@user.Email</a></li>
                                <li><a href="/account/logout">خروج</a></li>
                            }
                            
                            <li>@TempData["msg"]</li>
                            @*<li><a href="#" id="wishlist_link">لیست علاقه مندی ها</a></li>*@
                        </ul>
                    </div>
                </div><!-- End row -->
            </div><!-- End container-->
        </div><!-- End top line-->

        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div id="logo_home">
                        <h1><a href="index.html" title=""></a></h1>
                    </div>
                </div>
                <nav class="col-md-9 col-sm-9 col-xs-9">
                    <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>منوی تلفن همراه</span></a>
                    <div class="main-menu">
                        <div id="header_menu">
                            @*<img src="~/Content/Template/img/logo_sticky.png" width="160" height="34" alt="City tours" data-retina="true">*@
                        </div>
                        <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
                        <ul>
                            <li class="submenu">
                                <a href="/Home/index" class="show-submenu">صفحه اصلی </a><ul></ul>
                            </li>
                            @*<li class="submenu">
            <a href="javascript:void(0);" class="show-submenu">رویداد <i class="icon-down-open-mini"></i></a>
            <ul>
                <li><a href="/Events/All_Event/?kind=gallery">گالری ها</a></li>
                <li><a href="/Events/All_Event/?kind=cafe">کافه ها</a></li>
            </ul>
        </li>*@
                            <li class="submenu">
                                <a href="/Events/All_Tour" class="show-submenu">تورها </a><ul></ul>
                            </li>
                            <li class="submenu">
                                <a href="/Events/Compare_Tour" id="Compare_Click" class="show-submenu">مقایسه</a><ul></ul>
                            </li>
                            @*<li class="submenu">
            <a href="javascript:void(0);" class="show-submenu">امکانات ویژه<i class="icon-down-open-mini"></i></a><ul>
                <li><a href="~/Home/Map">اطراف من</a></li>
            </ul>
        </li>*@
                            <li class="submenu">
                                <a href="~/Home/About" class="show-submenu">درباره ما</a>

                            </li>
                            <li class="submenu">
                                <a href="~/Home/index#guide" class="show-submenu">راهنما</a>
                            </li>
                            <li class="submenu">
                                <a href="/Events/Archive_tour" class="show-submenu">آرشیو</a><ul></ul>
                            </li>
                            <li class="submenu">
                                <a href="/Events/Laws" class="show-submenu">قوانین</a><ul></ul>
                            </li>
                            @if (Request.IsAuthenticated == false)
                            {
                                <li class="submenu">
                                    <a href="/login" class="show-submenu">ورود برگزارکنندگان</a><ul></ul>
                                </li>
                            }
                            else
                            {
                                var userid = User.Identity.GetUserId();
                                var usermngr = HttpContext.Current.GetOwinContext().Get<ApplicationUserManager>();
                                var user = usermngr.FindById(userid);
                                <li class="submenu">
                                    <a href="/dashboard/index" class="show-submenu">@user.Email</a><ul></ul>
                                </li>
                                <li class="submenu">
                                    <a href="/account/logout" class="show-submenu">خروج</a><ul></ul>
                                </li>
                            }


                        </ul>
                    </div><!-- End main-menu -->
                    @*<ul id="top_tools">
                            <li>
                                <div class="dropdown dropdown-search">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-search"></i></a>
                                    <div class="dropdown-menu">
                                        <form>
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="جستجو...">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button" style="margin-left:0;">
                                                        <i class="icon-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown dropdown-cart">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class=" icon-basket-1"></i>سبد خرید (۰) </a>
                                    <ul class="dropdown-menu" id="cart_items">
                                        <li>
                                            <div class="image"><img src="~/Content/Template/img/thumb_cart_1.jpg" alt="image"></div>
                                            <strong>
                                                <a href="#">موزه ایران</a>۱ نفر ۲۵.۰۰۰ تومان
                                            </strong>
                                            <a href="#" class="action"><i class="icon-trash"></i></a>
                                        </li>
                                        <li>
                                            <div class="image"><img src="~/Content/Template/img/thumb_cart_2.jpg" alt="image"></div>
                                            <strong>
                                                <a href="#">برج میلاد</a>۲ نفر ۸۰.۰۰۰ تومان
                                            </strong>
                                            <a href="#" class="action"><i class="icon-trash"></i></a>
                                        </li>
                                        <li>
                                            <div class="image"><img src="~/Content/Template/img/thumb_cart_3.jpg" alt="image"></div>
                                            <strong>
                                                <a href="#">تور کیش</a>۱ نفر ۸۰.۰۰۰ تومان
                                            </strong>
                                            <a href="#" class="action"><i class="icon-trash"></i></a>
                                        </li>
                                        <li>
                                            <div>مجموع: <span>۱۸۵.۰۰۰ تومان</span></div>
                                            <a href="cart.html" class="button_drop">برو به سبد خرید</a>
                                            <a href="payment.html" class="button_drop outline">بررسی ورود</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>*@
                </nav>
            </div>
        </div><!-- container -->
    </header><!-- End Header -->

    @RenderBody()

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-3">
                    <h3>شما نیاز به کمک دارید؟</h3>
                    <a id="phone">۰۹۳۵۷۴۵۳۸۲۹</a>
                    @*<a>@($"کل بازدیدکنندگان {HttpContext.Current.Application["totalusers"]}")</a><br />
                <a>@($" بازدیدکنندگان آنلاین {HttpContext.Current.Application["onlineusers"]}")</a>*@
                    @*<a href="ایمیل:Info@digiao.ir" id="email_footer">Info@digiao.ir</a>*@
                </div>
                <div class="col-md-3 col-sm-3">
                    <h3>در باره ما</h3>
                    <ul>
                        <li><a href="#info">درباره ما</a></li>
                        <li><a href="#guide">راهنما</a></li>
                        @*<li><a href="#">ورود</a></li>
                    <li><a href="#">ثبت نام</a></li>
                    <li><a href="#">شرایط و ضوابط </a></li>*@
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3">
                    @*<h3>امکانات</h3>
                <ul>
                    <li><a href="~/Home/Map">اطراف من</a></li>
                    <li><a href="/Events/All_Event/?kind=gallery">گالری</a></li>
                    <li><a href="/Events/All_Event/?kind=cafe">کافه</a></li>

                </ul>*@
                    <h3>امکانات</h3>
                    <ul>
                        <li><a href="/Events/All_Tour">تورها</a></li>
                        <li><a href="/Events/Compare_Tour">مقایسه</a></li>


                    </ul>
                </div>
                <div class="col-md-2 col-sm-3">

                    <h3></h3>
                    <img src="https://trustseal.enamad.ir/logo.aspx?id=105730&amp;p=UzSr9U590zOHxq4O" alt="" onclick="window.open(&quot;https://trustseal.enamad.ir/Verify.aspx?id=105730&amp;p=UzSr9U590zOHxq4O&quot;, &quot;Popup&quot;,&quot;toolbar=no, location=no, statusbar=no, menubar=no, scrollbars=1, resizable=0, width=580, height=600, top=30&quot;)" style="cursor:pointer" id="UzSr9U590zOHxq4O">
                    @*<script src="https://cdn.zarinpal.com/trustlogo/v1/trustlogo.js" type="text/javascript"></script>*@
                </div>
            </div><!-- End row -->
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <ul>
                            <li>در صورت هرگونه مشکل تماس حاصل فرمایید یا به صورت حضوری مراجعه فرمایید</li>
                            <li>آدرس:شیراز – بلوار جمهوری اسلامی – جنب ساختمان مدیریت دانشگاه شیراز – برج نوآوری طبقه نهم</li>
                            <li>کدپستی:۷۱۹۴۶۸۴۳۳۴</li>
                            <li>۰۷۱-تلفن ثابت:۳۶۴۶۰۹۹۶ </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="social_footer">
                        <ul>
                            <li><a href="https://www.instagram.com/dordor_official/"><i class="icon-instagram"></i></a></li>
                            
                        </ul>
                        
                    </div>
                </div>
            </div><!-- End row -->
        </div><!-- End container -->
    </footer><!-- End footer -->
    <div id="toTop"></div><!-- Back to top button -->

</body>
</html>
