﻿
@{
    Layout = null;
}
@using Microsoft.AspNet.Identity
@using IdentitySample.Models
@using Microsoft.AspNet.Identity.Owin;
<!DOCTYPE html>

<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="بلیط تور">
    <meta name="setarehZ sinaD" content="tourips">
    <!-- Favicons-->
    <link rel="shortcut icon" href="~/Content/Logo/LogoPng.png" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="~/Content/Logo/LogoPng.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="~/Content/Logo/LogoPng.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="~/Content/Logo/LogoPng.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="~/Content/Logo/LogoPng.png">

    <!-- Bootstrap CSS -->
    <link href="~/Content/newTemplate/Bootstrap3.3.7.css" rel="stylesheet" />
    <link href="~/Content/newTemplate/cssMain/bootstrap-theme.min.css" rel="stylesheet">
    <script src="~/Content/newTemplate/js/jquery-1.10.2.js"></script>
   

</head>
<body>
    <div id="boxWrapp">
        <div class="main-nav clearfix">
            <!-- navbar -->
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#NavCol">
                            <span class="sr-only">تعویض ناوبری</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand bg-primary" id="nameAgency" onclick="window.location.href='/#'">
                            @if (TempData["Brand"] != null)
                            {<text>@TempData["Brand"]</text> }
                        else
                        {<text>توریپس</text>}
                                        </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="NavCol">
                        <ul class="nav navbar-nav navbar-right">
                            @if (TempData["name"] != null)
                            {
                                <li class="current"><a href="/Agency/index?name=@TempData["name"]" onclick="window.location.href='/Agency/index?name=@TempData["name"]'" class="linear"><span class="btnicon icon-doc"></span>&nbsp;صفحه اصلی</a></li>
                                <li><a href="/Agency/All_Tour?name=@TempData["name"]" onclick="window.location.href='/Agency/All_Tour?name=@TempData["name"]'" class="linear navbarCLICK"><span class="btnicon icon-plane"></span>&nbsp;تورها</a></li>
                                <li><a href="/Agency/index?name=@TempData["name"]#about" onclick="window.location.href='/Agency/index?name=@TempData["name"]#about'" class="linear navbarCLICK"><span class="btnicon icon-book-open"></span>&nbsp;درباره ما</a></li>
                                <li><a href="/Agency/index?name=@TempData["name"]#foooter" onclick="window.location.href='/Agency/index?name=@TempData["name"]#foooter'" class="linear navbarCLICK"><span class="btnicon icon-envelope-open"></span>&nbsp;تماس با ما</a></li>
                            }
                            else
                            {
                                <li class="current"><a href="/Home/index" onclick="window.location.href='/Home/index'" class="linear"><span class="btnicon icon-doc"></span>&nbsp;صفحه اصلی</a></li>
                                <li><a href="/Events/All_Tour"  onclick="window.location.href='/Events/All_Tour'" class="linear navbarCLICK"><span class="btnicon icon-plane"></span>&nbsp;تورها</a></li>
                                <li><a href="/Home/index" onclick="window.location.href='/Home/index#What'" class="linear navbarCLICK"><span class="btnicon icon-book-open"></span>&nbsp;درباره ما</a></li>
                                <li><a href="/Home/index" onclick="window.location.href='/Home/index#contact'" class="linear navbarCLICK"><span class="btnicon icon-envelope-open"></span>&nbsp;تماس با ما</a></li>
                            }
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
        <!-- Render -->
        @RenderBody()
        <!-- /Render -->
   
    </div>
</body>
</html>
