﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<meta name="description" content="دور تا دور تو، پر از اتفاقای باحاله">*@
    <meta name="keywords" content="آژانس,آژانس شیراز,dordor,dor-dor,توریپس,شیراز,shiraz,دور دور,تور,تور,تورشیراز,tour,کافه,گالری,دور-دور" />
    <meta name="author" content="Sina Darbouy">
    @using Microsoft.AspNet.Identity
    @using IdentitySample.Models
    @using Microsoft.AspNet.Identity.Owin;
    @*@using IdentitySample.Models
        @model LoginViewModel*@
    @*<title>تور</title>*@

    <!-- Favicons-->
    <link rel="shortcut icon" href="~/Content/Logo/LogoPng.png" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="~/Content/Logo/LogoPng.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="~/Content/Logo/LogoPng.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="~/Content/Logo/LogoPng.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="~/Content/Logo/LogoPng.png">
    <!-- CSS -->
    <link href="~/Content/Template/css/base.css" rel="stylesheet">
    <!-- slick-->
    <link rel="stylesheet" type="text/css" href="~/Content/Plugins/slick/slick.css" />
    <!-- Add the new slick-theme.css if you want the default styling-->
    <link rel="stylesheet" type="text/css" href="~/Content/Plugins/slick/slick-theme.css" />

    <!-- SPECIFIC CSS -->
    <link href="~/Content/Template/css/skins/square/grey.css" rel="stylesheet">
    <link href="~/Content/Template/css/date_time_picker.css" rel="stylesheet">

    <!-- Google web fonts -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <!--datepicker-->
    <link rel="stylesheet" href="~/Content/plugins/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.css" />
    <script type="text/javascript">
        window.heap = window.heap || [], heap.load = function (e, t) { window.heap.appid = e, window.heap.config = t = t || {}; var r = t.forceSSL || "https:" === document.location.protocol, a = document.createElement("script"); a.type = "text/javascript", a.async = !0, a.src = (r ? "https:" : "http:") + "//cdn.heapanalytics.com/js/heap-" + e + ".js"; var n = document.getElementsByTagName("script")[0]; n.parentNode.insertBefore(a, n); for (var o = function (e) { return function () { heap.push([e].concat(Array.prototype.slice.call(arguments, 0))) } }, p = ["addEventProperties", "addUserProperties", "clearEventProperties", "identify", "resetIdentity", "removeEventProperty", "setEventProperties", "track", "unsetEventProperty"], c = 0; c < p.length; c++)heap[p[c]] = o(p[c]) };
        heap.load("3314004309");
    </script>
</head>

<body>

    <!-- Header Colored:  add the id colored to header and change logo_sticky.png to logo_sticky_colored.png  ======================= -->
    <header id="colored">
        <div id="top_line">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6"><i class="icon-phone"></i><strong>۰۹۳۵۷۴۵۳۸۲۹</strong></div>

                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <ul id="top_links">
                            @if (Request.IsAuthenticated == false)
                            {
                                <li>
                                    <div class="dropdown dropdown-access">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="access_link">ورود</a>
                                        <div class="dropdown-menu">
                                            @*<div class="row">
                                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                                        <a href="#" class="bt_facebook">
                                                            <i class="icon-facebook"></i>فیسبوک
                                                        </a>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                                        <a href="#" class="bt_paypal">
                                                            <i class="icon-paypal"></i>پی پال
                                                        </a>
                                                    </div>
                                                </div>*@
                                            <div class="login-or">
                                                @*<hr class="hr-or">*@
                                                <span class="span-or">ورود</span>
                                            </div>
                                            <form action="/account/LoginConfirm">
                                                <div class="form-group">
                                                    @*@Html.TextBoxFor(x => x.Email, new {placeholder = "پست الکترونیک", id = "inputUsernameEmail", @class = "form-control" })
                                                        @Html.ValidationMessageFor(x => x.Email)*@
                                                    <input name="email" type="text" class="form-control" id="inputUsernameEmail" placeholder="پست الکترونیک">
                                                </div>
                                                <div class="form-group">
                                                    @*@Html.PasswordFor(x => x.Password, new { placeholder = "رمز عبور", type = "password", id = "inputPassword", autocomplete = "off", @class = "form-control" })
                                                        @Html.ValidationMessageFor(x => x.Password)*@
                                                    <input type="password" name="password" class="form-control" id="inputPassword" placeholder="رمز عبور">
                                                </div>
                                                @*<div class="form-group">
                                                        <h7 style="color:#999">من را بخاطر داشته باش</h7>
                                                        <input type="checkbox" />
                                                    </div>*@
                                                @*<a id="forgot_pw" href="#">رمز عبور خود را فراموش كرده ايد؟</a>*@
                                                <input type="submit" name="Sign_in" value="ورود" id="Sign_in" class="button_drop">
                                                <a href="/account/register" name="Sign_up" value="ثبت نام" id="Sign_up" class="button_drop outline">ثبت نام</a>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                            }
                            else
                            {
                                var userid = User.Identity.GetUserId();
                                //User.Identity.GetUserName()   this is username or email
                                //User.Identity.Name            this is username or email
                                var usermngr = HttpContext.Current.GetOwinContext().Get<ApplicationUserManager>();
                                var user = usermngr.FindById(userid);
                                //var user = usermngr.FindByName(User.Identity.Name);
                                @*<a href="/account/logout">خروج</a>*@
                                @*<li>
                                        <div class="dropdown dropdown-access">
                                            <a href="#" class="dropdown-toggle" style="direction:rtl" data-toggle="dropdown" id="access_link"></a>
                                        </div>
                                    </li>*@
                                <li><a href="/dashboard/index">@user.Email</a></li>
                                <li><a href="/account/logout">خروج</a></li>
                            }

                            <li>@TempData["msg"]</li>
                            @*<li><a href="#" id="wishlist_link">لیست علاقه مندی ها</a></li>*@
                        </ul>
                    </div>
                </div><!-- End row -->
            </div><!-- End container-->
        </div><!-- End top line-->

        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div id="logo_home">
                        <h1><a href="index.html" title=""></a></h1>
                    </div>
                </div>
                <nav class="col-md-9 col-sm-9 col-xs-9">
                    <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>منوی تلفن همراه</span></a>
                    <div class="main-menu">
                        <div id="header_menu">
                            @*<img src="~/Content/Template/img/logo_sticky.png" width="160" height="34" alt="City tours" data-retina="true">*@
                        </div>
                        <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
                        @{
                            var url = $"http://{ViewBag.profilename}.tourips.com";
                        }
                        <ul>
                            <li class="submenu">
                                <a href="@url" class="show-submenu">صفحه اصلی </a><ul></ul>
                            </li>
                            <li class="submenu">
                                <a href="/Agency/All_Tour?name=@TempData["name"]" class="show-submenu">تورها </a><ul></ul>
                            </li>
                            <li class="submenu">
                                <a href="/Agency/index?name=@TempData["name"]#about" class="show-submenu">درباره ما</a>

                            </li>
                            <li class="submenu">
                                <a href="/Agency/index?name=@TempData["name"]#foooter" class="show-submenu">تماس باما</a>
                            </li>
                            <li class="submenu">
                                <a href="/Agency/Archive?name=@TempData["name"]" class="show-submenu">آرشیو</a><ul></ul>
                            </li>

                        </ul>
                    </div><!-- End main-menu -->
                </nav>
            </div>
        </div><!-- container -->
    </header><!-- End Header -->

    @RenderBody()

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-3">
                    <h3>شما نیاز به کمک دارید؟</h3>
                    <a id="phone">۰۹۳۵۷۴۵۳۸۲۹</a>
                </div>
                <div class="col-md-3 col-sm-3">
                    <h3>در باره ما</h3>
                    <ul>
                        <li><a href="/Agency/index?name=@TempData["name"]#about">درباره ما</a></li>
                        <li><a href="/Agency/index?name=@TempData["name"]#foooter">تماس باما</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3">
                    <h3>امکانات</h3>
                    <ul>
                        <li><a href="/Agency/All_Tour?name=@TempData["name"]">تورها</a></li>
                        <li><a href="/Agency/Archive?name=@TempData["name"]">آرشیو</a></li>


                    </ul>
                </div>
                <div class="col-md-2 col-sm-3">
                    <h3>تنظیمات</h3>
                    <div class="styled-select">
                        <select class="form-control" name="lang" id="lang">
                            <option value="English" selected>فارسی</option>
                        </select>
                    </div>
                </div>
            </div><!-- End row -->
            <div class="row">
                
            </div><!-- End row -->
        </div><!-- End container -->
    </footer><!-- End footer -->
    <div id="toTop"></div><!-- Back to top button -->

</body>
</html>
