﻿@using Microsoft.AspNet.Identity
@using IdentitySample.Models
@using Microsoft.AspNet.Identity.Owin;
<!DOCTYPE html>
<html lang='en' dir='rtl'>
<head id='head'>
    <meta name='viewport' content='width=device-width' />
    <title>@ViewBag.Title</title>
    <meta charset='utf-8' />
    @*<title>توریپس | داشبورد</title>*@
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta content='width=device-width, initial-scale=1' name='viewport' />
    @*<meta name='description' content="دور تا دور تو، پر از اتفاقای باحاله">*@
    <meta content='sinadarbouy' name='author' />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href='~/Content/assets/global/plugins/font-awesome/css/font-awesome.min.css' rel='stylesheet' type='text/css' />
    <link href='~/Content/assets/global/plugins/simple-line-icons/simple-line-icons.min.css' rel='stylesheet' type='text/css' />
    <link href='~/Content/assets/global/plugins/bootstrap/css/bootstrap-rtl.min.css' rel='stylesheet' type='text/css' />
    <link href='~/Content/assets/global/plugins/uniform/css/uniform.default.css' rel='stylesheet' type='text/css' />
    <link href='~/Content/assets/global/plugins/bootstrap-switch/css/bootstrap-switch-rtl.min.css' rel='stylesheet' type='text/css' />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href='~/Content/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css' rel='stylesheet' type='text/css' />
    <link href='~/Content/assets/global/plugins/morris/morris.css' rel='stylesheet' type='text/css' />
    <link href='~/Content/assets/global/plugins/fullcalendar/fullcalendar.min.css' rel='stylesheet' type='text/css' />
    <link href='~/Content/assets/global/plugins/jqvmap/jqvmap/jqvmap.css' rel='stylesheet' type='text/css' />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href='~/Content/assets/global/css/components-md-rtl.css' rel='stylesheet' id='style_components' type='text/css' />
    <link href='~/Content/assets/global/css/plugins-md-rtl.css' rel='stylesheet' type='text/css' />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href='~/Content/assets/layouts/layout/css/layout-rtl.min.css' rel='stylesheet' type='text/css' />
    <link href='~/Content/assets/layouts/layout/css/themes/darkblue-rtl.min.css' rel='stylesheet' type='text/css' id='style_color' />
    <link href='~/Content/assets/layouts/layout/css/custom-rtl.min.css' rel='stylesheet' type='text/css' />
    <!-- END THEME LAYOUT STYLES -->
    <link rel='shortcut icon' href='~/Content/Logo/LogoPng.png' type='image/x-icon'>
    <link rel='apple-touch-icon' type='image/x-icon' href='~/Content/Logo/LogoPng.png'>
    <link rel='apple-touch-icon' type='image/x-icon' sizes='72x72' href='~/Content/Logo/LogoPng.png'>
    <link rel='apple-touch-icon' type='image/x-icon' sizes='114x114' href='~/Content/Logo/LogoPng.png'>
    <link rel='apple-touch-icon' type='image/x-icon' sizes='144x144' href='~/Content/Logo/LogoPng.png'>
    //Alert
    <link href="~/Content/sweetalert.css" rel="stylesheet" />
    <script type="text/javascript">
        window.heap = window.heap || [], heap.load = function (e, t) { window.heap.appid = e, window.heap.config = t = t || {}; var r = t.forceSSL || "https:" === document.location.protocol, a = document.createElement("script"); a.type = "text/javascript", a.async = !0, a.src = (r ? "https:" : "http:") + "//cdn.heapanalytics.com/js/heap-" + e + ".js"; var n = document.getElementsByTagName("script")[0]; n.parentNode.insertBefore(a, n); for (var o = function (e) { return function () { heap.push([e].concat(Array.prototype.slice.call(arguments, 0))) } }, p = ["addEventProperties", "addUserProperties", "clearEventProperties", "identify", "resetIdentity", "removeEventProperty", "setEventProperties", "track", "unsetEventProperty"], c = 0; c < p.length; c++)heap[p[c]] = o(p[c]) };
        heap.load("3314004309");
    </script>
</head>
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white page-md">
    @{
        var url = $"http://{ViewBag.profilename}.tourips.com";
    }
    @{
        var userid = User.Identity.GetUserId();
        var usermngr = HttpContext.Current.GetOwinContext().Get<ApplicationUserManager>();
        var user = usermngr.FindById(userid);
    }
    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner ">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="#">
                    @*<img src="~/Content/assets/pages/img/logo.png" style="margin:8px 0 0 0" alt="logo" class="logo-default" />*@
                </a>
                <div class="menu-toggler sidebar-toggler"> </div>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li><a class="center-block" style="color:red">@TempData["msg"]</a> </li>
                    @if (Request.IsAuthenticated == true)
                    {
                        <li class="dropdown dropdown-user">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <span class="username username-hide-on-mobile">@user.UserName</span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default">
                                @*<li>
                                        <a href="#">
                                            <i class="icon-user"></i> پروفایل
                                        </a>
                                    </li>*@
                                @*<li class="divider"> </li>*@
                                <li>
                                    <a href="/account/logout" onclick="window.location.href='http://www.tourips.com//account/logout'" id="exit">
                                        <i class="icon-key"></i> خروج
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                    <!-- END USER LOGIN DROPDOWN -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"> </div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <div>
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            <div class="page-sidebar-wrapper">
                <!-- BEGIN SIDEBAR -->
                <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                <div class="page-sidebar navbar-collapse collapse">
                    <!-- BEGIN SIDEBAR MENU -->
                    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                    <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
                        <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                        <li class="sidebar-toggler-wrapper hide">
                            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                            <div class="sidebar-toggle  r"> </div>
                            <!-- END SIDEBAR TOGGLER BUTTON -->
                        </li>
                        <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
                        <li class="sidebar-search-wrapper text-center">
                            <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                            <!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
                            <!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box -->
                            <a href="@url" target="_blank"><p class="btn btn-default margin-bottom-30">@ViewBag.profilename</p></a>
                            <!-- END RESPONSIVE QUICK SEARCH FORM -->
                        </li>
                        <li class="nav-item start active ">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="icon-home"></i>
                                <span class="title">داشبورد</span>
                                <span class="selected"></span>
                                <span class="arrow open"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item start ">
                                    <a href="/Dashboard/index" class="nav-link @{if (!User.IsInRole("Admin") && User.IsInRole("PreAdmin")) {<text>PreAdmin</text>}}">
                                        <i class="icon-bar-chart"></i>
                                        <span class="title">آمار و گزارشات کلی</span>
                                        <span class="selected"></span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item  ">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="fa fa-bullhorn"></i>
                                <span class="title">تور</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item">
                                    <a id="RegisterTour" href="/Dashboard/AddTour" class="nav-link @{if (!User.IsInRole("Admin") && User.IsInRole("PreAdmin")) {<text>PreAdmin</text>}}">
                                        <span class="title">ثبت تور</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="/Dashboard/EditTourAdmin" class="nav-link @{if (!User.IsInRole("Admin") && User.IsInRole("PreAdmin")) {<text>PreAdmin</text>}}">
                                        <span class="title">ویرایش تور</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="/Dashboard/ReportTour" class="nav-link @{if (!User.IsInRole("Admin") && User.IsInRole("PreAdmin")) {<text>PreAdmin</text>}}">
                                        <span class="title">گزارش تور</span>
                                    </a>
                                </li>
                                @*<li class="nav-item  ">
                    <a href="/Dashboard/AddUser" class="nav-link ">
                        <span class="title">اضافه کردن افراد</span>
                    </a>
                </li>*@
                            </ul>
                        </li>
                        <li class="nav-item  ">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="fa fa-money"></i>
                                <span class="title">مالی</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item   ">
                                    <a href="/Dashboard/Balance" class="nav-link @{if (!User.IsInRole("Admin") && User.IsInRole("PreAdmin")) {<text>PreAdmin</text>}}">
                                        در خواست تسویه حساب
                                    </a>
                                </li>
                            </ul>
                        </li>
                        @if (user.Email != null)
                        {
                            if (user.Email == "admin@admin.com")
                            {
                                <li class="nav-item  ">
                                    <a href="javascript:;" class="nav-link nav-toggle">
                                        <i class="fa fa-money"></i>
                                        <span class="title">گزارش ها</span>
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="nav-item   ">
                                            <a href="/Dashboard/ReportBalance">
                                                گزارش تسویه حساب
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            }
                        }

                        @*<li class="nav-item  ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="fa fa-mail-reply"></i>
                <span class="title">ارسال پیام</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item  ">
                    <a href="/Dashboard/Message" class="nav-link ">
                        ایمیل
                    </a>
                </li>

            </ul>
        </li>*@
                        <li class="nav-item  ">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="fa fa-link"></i>
                                <span class="title">لینک</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item  ">
                                    <a href="/Dashboard/link_page" class="nav-link @{if (!User.IsInRole("Admin") && User.IsInRole("PreAdmin")) {<text>PreAdmin</text>}}">
                                        لینک پیج
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item  ">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="fa fa-link"></i>
                                <span class="title">پروفایل</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item  ">
                                    <a href="/dashboard/EditProfile" class="nav-link ">
                                        ویرایش پروفایل
                                    </a>
                                </li>
                                @if (user.Email != null)
                                {
                                    if (user.Email == "sina@test.com")
                                    {
                                        <li class="nav-item  ">
                                            <a href="/dashboard/pricing" class="nav-link ">
                                                ارتقا حساب
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                            @*<a href="/dashboard/EditProfile" class="nav-link nav-toggle">
                <i class="fa fa-edit"></i>
                <span class="title">پروفایل</span>
                <span class="arrow"></span>
            </a>*@
                        </li>
                        @*<li class="nav-item  ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="fa fa-money"></i>
                <span class="title">مالی</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item  ">
                    <a href="#" class="nav-link ">
                        <span class="title">
                            سوابق تراکنش ها
                        </span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="#" class="nav-link ">
                        <span class="title">
                            گزارش جامع پورسانت های دریافتی
                        </span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="#" class="nav-link ">
                        در خواست تسویه حساب
                    </a>
                </li>

            </ul>
        </li>
        <li class="nav-item  ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="fa fa-life-ring"></i>
                <span class="title">پشتیبانی</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item  ">
                    <a href="#" class="nav-link ">
                        <span class="title">درخواست های من</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="#" class="nav-link ">
                        <span class="title">ایجاد تیکت جدید</span>
                    </a>
                </li>

            </ul>
        </li>*@
                        @if (user.Email != null)
                        {
                            if (user.Email == "admin@admin.com")
                            {
                                <li class="nav-item  ">
                                    <a href="/Dashboard/ReportCode" class="nav-link nav-toggle">
                                        <i class="fa fa-link"></i>
                                        <span class="title">کد تخفیف</span>
                                        <span class="arrow"></span>
                                    </a>
                                </li>
                            }
                        }

                    </ul>
                    <!-- END SIDEBAR MENU -->
                </div>
                <!-- END SIDEBAR -->
            </div>
            <!-- END SIDEBAR -->
            @RenderBody()
        </div>
    </div>
    <!-- BEGIN FOOTER -->
    <div class="page-footer">
        <div class="page-footer-inner">
            2017 &copy;
            <a href="http://Tourips.com" title="Donix" target="_blank">Tourips</a>
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    <!-- END FOOTER -->
    <!--[if lt IE 9]>
    <script src="~/Content/assets/global/plugins/respond.min.js"></script>
    <script src="~/Content/assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->
    <script src="~/Scripts/sweetalert.min.js"></script>
    <script>
        $('.PreAdmin').click(function (e) {
            e.preventDefault();
            swal({
                title: '',
                text: "برای استفاده از این امکان باید حساب خود را ارتقا دهید",
                icon: "error",
                button: "خروج"
            })
        });
    </script>
    @{
        if (TempData["State"] == "OK")
        {
            string text = $"پروفایل شما ارتقا یافت \n کد پیگیری:{TempData["TRACENO"]}";

            <script>
                swal({
                    title: 'پرداخت با موفقیت انجام شد',
                    text: @text,
                    icon: "success",
                    button: "خروج"
                })
            </script>
        }
        else if (TempData["State"] == "NOK")
        {
            <script>
                swal({
                    title: '',
                    text: "پرداخت انجام نشد",
                    icon: "error",
                    button: "خروج"
                })
            </script>
        }
    }
</body>
</html>
