﻿
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Tourist.Models
@model Profile_cafe_gallery
<!DOCTYPE html>
<!--[if IE 8]><html class="ie ie8"> <![endif]-->
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<html dir="rtl">
<head>

    <!-- Favicons-->
    @*<link rel="shortcut icon" href="~/Content/Template/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="~/Content/Template/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="~/Content/Template/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="~/Content/Template/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="~/Content/Template/img/apple-touch-icon-144x144-precomposed.png">*@
    <!-- CSS -->
    <link href="~/Content/Template/css/base.css" rel="stylesheet">
    <!--datepicker-->
    <link rel="stylesheet" href="~/Content/plugins/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.css" />
    <!--Timepicker-->
    <link href="~/Content/Plugins/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <!-- SPECIFIC CSS -->
    <link href="~/Content/Template/css/admin.css" rel="stylesheet">
    <link href="~/Content/Template/css/jquery.switch.css" rel="stylesheet">
    <!-- Google web fonts -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <!--dastebandi-->
    <link href="~/Content/Plugins/tagsinput/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="~/Content/Plugins/tagsinput/typeahead/typeahead.css" rel="stylesheet" />
    <!--text area-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/Plugins/textarea/css/froala_editor.css">
    <link rel="stylesheet" href="~/Content/Plugins/textarea/css/froala_style.css">
    <link rel="stylesheet" href="~/Content/Plugins/textarea/css/plugins/code_view.css">
    <link rel="stylesheet" href="~/Content/Plugins/textarea/css/plugins/colors.css">
    <link rel="stylesheet" href="~/Content/Plugins/textarea/css/plugins/emoticons.css">
    <link rel="stylesheet" href="~/Content/Plugins/textarea/css/plugins/image_manager.css">
    <link rel="stylesheet" href="~/Content/Plugins/textarea/css/plugins/image.css">
    <link rel="stylesheet" href="~/Content/Plugins/textarea/css/plugins/line_breaker.css">
    <link rel="stylesheet" href="~/Content/Plugins/textarea/css/plugins/table.css">
    <link rel="stylesheet" href="~/Content/Plugins/textarea/css/plugins/char_counter.css">
    <link rel="stylesheet" href="~/Content/Plugins/textarea/css/plugins/video.css">
    <link rel="stylesheet" href="~/Content/Plugins/textarea/css/plugins/fullscreen.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">
    <!--end textarea-->
    <script src="~/Content/Plugins/24hours.js"></script>
    <!--time picker templatw-->
    <link rel="stylesheet" href="~/Content/Template/css/date_time_picker.css" />
    <!--[if lt IE 9]>
      <script src="~/Content/Template/js/html5shiv.min.js"></script>
      <script src="~/Content/Template/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <!--[if lte IE 8]>
        <p class="chromeframe">لطفا مرورگر خود را بروز کنید <strong>استفاده میکنید</strong> مرورگر قدیمی <a href="http://digiao.ir/">شما از </a>.</p>
    <![endif]-->
    <div id="preloader">
        <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>
    </div>
    <!-- End Preload -->
    <div class="layer"></div>
    <!-- Mobile menu overlay mask -->
    <!-- Header================================================== -->


    <section class="parallax-window" data-parallax="scroll" data-image-src="/Content/Template/img/tourist_guide.jpg" data-natural-width="1400" data-natural-height="470"></section><!-- End section -->
    @*<div id="position">
            <div class="container">
                <ul>
                    <li><a href="#">صفحه اصلی</a></li>
                    <li><a href="#">دسته بندی</a></li>
                    <li>صفحه فعال</li>
                </ul>
            </div>
        </div>*@<!-- End Position -->
    <div class="margin_60 container">
        <div id="tabs" class="tabs">
            <nav>
                <ul>
                    <li><a href="#section-1" class="icon-settings"><span>رویداد</span></a></li>
                    <li><a href="#section-4" id="profile" class="icon-profile"><span>پروفایل</span></a></li>
                </ul>
            </nav>
            <div class="content">
                <section id="section-1">
                 <form action="/Events/AddEventConfirm" method="post" enctype="multipart/form-data">
                     <div class="divider"></div>
                     <div class="row">
                         <div class="col-md-12 text-center">
                             <h4>اضافه کردن رویداد</h4>
                         </div>
                     </div>
                     <hr />
                     <div class="row">
                         <div class="col-md-3 col-sm-3">
                             <div class="form-group">
                                 <label>دسته بندی مکان</label>
                                 <div class="form-group">
                                     <select id="id_type" class="form-control" name="id_type">
                                         <option value="1">انتخاب کنید...</option>

                                         @foreach (var item in ViewBag.type)
                                         {
                                             <option value="@item.id">@item.name</option>
                                         }
                                         
                                     </select>
                                 </div>

                             </div>
                         </div>
                         <div class="col-md-6 col-sm-6">
                             <div class="form-group">
                                 <label>مکان خود را انتخاب کنید</label>
                                 <div class="form-group">
                                     <select id="id_profile" class="form-control" name="id_profile">
                                         <option value="1">انتخاب کنید...</option>
                                         
                                         @*@foreach (var item in ViewBag.profile)
                                         {
                                            <option value="@item.id">@item.Name</option>
                                         }*@
                                         
                                     </select>
                                 </div>

                             </div>
                         </div>
                         <div class="col-md-3 col-sm-3">
                             <div class="form-group">
                                 <label>اگر پروفال موجود نیست ایجاد کنید</label>
                                 <br />
                                 <a  class="btn_1 red col-md-offset-1" id="new_profile" >ایجاد پروفایل جدید</a>   
                             </div>
                         </div>
                     </div><!-- End row -->
                     <hr>
                     <div class="row">
                         <div class="col-md-4 col-sm-4">
                             <div class="form-group">
                                 <label>نوع رویداد</label>
                                 <div class="form-group">
                                     <select id="kind_event" class="form-control" name="kind_event">
                                         <option value="1">انتخاب کنید...</option>
                                            <option value='فیلم'>فیلم</option>
                                            <option value='موسیقی'>موسیقی</option>
                                            <option value='ورزشی'>ورزشی</option>
                                             <option value="گل">گل</option>
                                             <option value="کتاب">کتاب</option>
                                             <option value="نقاشی">نقاشی</option>
                                            <option value="عکس">عکس</option>
                                     </select>
                                 </div>

                             </div>
                         </div>
                         <div class="col-md-4 col-sm-4">
                             <div class="form-group">
                                 <label>عنوان</label>
                                 @*@Html.TextBoxFor(x => x.title, new { placeholder = "عنوان", @class = "form-control" })*@
                                 <input class="form-control" name="title" id="title" placeholder="عنوان" type="text">
                             </div>
                         </div>
                         <div class="col-md-4 col-sm-4">
                             <div class="form-group">
                                 <label>توسط</label>
                                 @*@Html.TextBoxFor(x => x.ingenious, new { placeholder = "توسط", @class = "form-control" })*@
                                 <input class="form-control" name="ingenious" id="ingenious" placeholder="توسط" type="text">
                             </div>
                         </div>
                     </div><!-- End row -->
                     <hr>
                     <div class="row">
                         <div class="col-md-12">
                             <h4>تاریخ</h4>
                         </div>
                         <div class="col-md-6 col-sm-6">
                             <div class="form-group">
                                 <label>تاریخ شروع</label>
                                 <div class="input-group">
                                     <div class="input-group-addon" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate1" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="left">
                                         <span class="glyphicon glyphicon-calendar"></span>
                                     </div>
                                     <input type="text" class="form-control" name="start_date" id="toDate1" placeholder="از تاریخ" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate1" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="right" />
                                 </div>

                             </div>
                         </div>
                         <div class="col-md-6 col-sm-6">
                             <div class="form-group">
                                 <label>تاریخ پایان</label>
                                 <div class="input-group">
                                     <div class="input-group-addon" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate2" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="left">
                                         <span class="glyphicon glyphicon-calendar"></span>
                                     </div>
                                     <input type="text" class="form-control" name="end_date" id="toDate2" placeholder="تا تاریخ" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate2" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="right" />
                                 </div>

                             </div>
                         </div>
                     </div><!-- End row az inja -->
                     <hr>
                     <div class="row">
                         <div class="col-md-12">
                             <h4>زمان </h4>
                         </div>
                  
                         <div class="col-md-2 col-sm-2">
                             <div class="form-group">
                                 <label><i class=" icon-clock"></i></label>
                                 @*@Html.TextBoxFor(x => x.time, new { name = "time", id = "time", type = "time", @class = "form-control" })*@
                                 <input class="form-control" name="time_start_mor" id="time_start_mor" type="time" >
                                 @*<input class="time-pick form-control" name="time_start_mor" id="time_start_mor" value="" type="text">*@

                             </div>
                         </div>
                         <div class="col-md-1 col-sm-1">
                             <div class="form-group">
                                 <label>الی</label>
                             </div>
                         </div>
                         <div class="col-md-2 col-sm-2">
                             <div class="form-group">
                                 <label><i class=" icon-clock"></i></label>
                                 @*@Html.TextBoxFor(x => x.time, new { name = "time", id = "time", type = "time", @class = "form-control" })*@
                                 <input class="form-control" name="time_end_mor" id="time_end_mor" type="time">
                                 @*<input class="time-pick form-control" name="time_end_mor" id="time_end_mor" value="" type="text">*@
                             </div>
                         </div>
                         <div class="col-md-2 col-sm-2 col-md-offset-1">
                             <div class="form-group">
                                 <label><i class=" icon-clock"></i></label>
                                 @*@Html.TextBoxFor(x => x.time, new { name = "time", id = "time", type = "time", @class = "form-control" })*@
                                 <input class="form-control" name="time_start_eve" id="time_start_eve" type="time" />
                                 @*<input class="time-pick form-control" name="time_start_eve" id="time_start_eve" value="" type="text">*@
                             </div>
                         </div>
                         <div class="col-md-1 col-sm-1">
                             <div class="form-group">
                                 <label>الی</label>
                             </div>
                         </div>
                         <div class="col-md-2 col-sm-2 ">
                             <div class="form-group">
                                 <label><i class=" icon-clock"></i></label>
                                 @*@Html.TextBoxFor(x => x.time, new { name = "time", id = "time", type = "time", @class = "form-control" })*@
                                 <input class="timepicker-orient-top form-control" name="time_end_eve" id="time_end_eve" type="time">
                                 @*<input class="time-pick form-control" name="time_end_eve" id="time_end_eve" value="" type="text">*@
                             </div>
                         </div>

          



                     </div><!-- End row -->
                     <hr>
                     <div class="row">
                         <div class="col-md-12">
                             <h4>خلاصه رویداد</h4>
                             <div id="editor">
                                 <textarea id='edit' style="margin-top: 30px;"name="summary">

                                 </textarea>
                             </div>
                             <br>
                         </div>
                     </div>
                     <hr>
                     <div class="row">
                         <div class="col-md-12">
                             <h4>توضیخات</h4>
                             <div id="editor">
                                 <textarea id='edit1' style="margin-top: 30px;"name="description">

                                 </textarea>
                             </div>
                             <br>
                         </div>
                     </div>
                     <hr>
                     <div class="row">
                         <div class="col-md-12">
                             <h4>آپلود</h4>
                         </div>
                         <div class="col-md-3 col-sm-3">
                             <div class="form-group">
                                 <label>آپلود پوستر</label>
                                 <input type="file" name="img1" id="js-upload-files" multiple style="margin-top:10px">
                             </div>
                         </div>
                         <div class="col-md-2 col-sm-2">
                             <div class="form-group">
                                 <label>نوع قیمت</label>
                                 <select id="price_kind" class="form-control" name="price_kind">
                                     <option value="free">رایگان</option>
                                     <option value="fee">ورودی</option>
                                     <option value="invitation">دعوت نامه</option>
                                 </select>
                             </div>
                         </div>
                         <div class="col-md-2 col-sm-2">
                             <div class="form-group">
                                 <label>قیمت</label>
                                 @*@Html.TextBoxFor(x => x.price, new { name = "price", id = "price", placeholder = "قیمت", @class = "form-control" })*@
                                 <input class="form-control" name="price" id="price" placeholder="قیمت">
                             </div>
                         </div>
                         <div class="col-md-4 col-md-offset-1 " style="margin-top: 25px">
                             <div class="form-group">
                                 <select id="reserved" class="form-control" name="reserved">
                                     <option value="0">قابل رزرو</option>
                                     <option value="1">غیرقابل رزرو</option>
                                 </select>
                             </div>
                         </div>
                  <style>
                  </style>


                     </div>
                     <hr>
                     <br />
                     
                     <button type="submit" id="btn1" class="btn_1 green ">ثبت رویداد</button>
                     @*<input class="form-control" name="summ" id="summ">*@
                 </form>
                    
                </section>

                <section id="section-4">
                    <form action="/Profile/AddProfileConfirm" method="post" enctype="multipart/form-data">

                        <div class="divider"></div>

                        <div class="row">
                            <div class="col-md-12">
                                <h4>اضافه کردن پروفایل</h4>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>نام</label>
                                    @Html.TextBoxFor(x => x.Name, new { placeholder = "نام", @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>زمان</label>
                                    @Html.TextBoxFor(x => x.Hours, new { placeholder = "زمان", @class = "form-control" })
                                </div>
                            </div>
                        </div><!-- End row -->

                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>نوع پروفایل</label>
                                    <div class="form-group">
                                        <select id="type" class="form-control" name="type">
                                            <option value="gallery">گالری</option>
                                            <option value="cafe">کافه</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>اشخاص سرشناس مرتبط</label>
                                    @Html.TextBoxFor(x => x.Celebrity, new { placeholder = "اشخاص سرشناس مرتبط", @class = "form-control" })
                                </div>
                            </div>
                        </div><!-- End row -->
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>آدرس و تلفن</h4>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>آدرس</label>
                                    @Html.TextBoxFor(x => x.Address, new { placeholder = "ادرس", @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>تلفن</label>
                                    @Html.TextBoxFor(x => x.Tel, new { placeholder = "تلفن", @class = "form-control" })
                                </div>
                            </div>
                        </div><!-- End row -->
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>مختصات</h4>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label>عرض جغرافیایی</label>
                                    @Html.TextBoxFor(x => x.map_lat, new { placeholder = "عرض جغرافیایی", @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label>طول جغرافیایی</label>
                                    @Html.TextBoxFor(x => x.map_lon, new { placeholder = "طول جغرافیایی", @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 ">
                                <div class="form-group">
                                    <label>تعداد صندلی</label>
                                    @Html.TextBoxFor(x => x.SeatsNumber, new { name = "SeatsNumber", placeholder = "تعداد", id = "SeatsNumber", @class = "form-control" })

                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 ">
                                <div class="form-group">
                                    <label>مساحت</label>
                                    @Html.TextBoxFor(x => x.Area, new { name = "Area", id = "Area", placeholder = "مساحت", @class = "form-control" })
                                </div>
                            </div>
                        </div><!-- End row -->
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <h4>دسته بندی</h4>
                            </div>
                            <div class="col-md-6">
                                <h4>دسته بندی</h4>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label>نوع ویژگی</label>
                                    <select id="state_tagsinput_value" class="form-control input-large" >
                                        <option value="1">سنتی</option>
                                        <option value="2">مدرن</option>
                                        <option value="3">موسیقی زنده</option>
                                        <option value="4">کارت خوان</option>
                                        <option value="5">وای فای رایگان</option>
                                        <option value="6">سرویس بهداشتی</option>
                                        <option value="7">سیگار آزاد</option>
                                        <option value="8">برگزاری مراسم و جشن ها</option>
                                        <option value="9">رزرو تلفنی</option>
                                        <option value="10">جای پارک ‌مناسب</option>
                                        <option value="11">فضای نشستن بیرون</option>
                                        <option value="12">تلویزیون</option>
                                        <option value="13">پارکینگ اختصاصی</option>
                                        <option value="14">امکانات ویژه معلولین</option>
                                        <option value="15">منو گیاهخواری</option>
                                        <option value="16">سرویس روشویی</option>
                                        <option value="17">بخش VIP</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label>برای اضافه کردن کلیک کنید</label>
                                    <br>
                                    <a href="javascript:;" class="btn_1 red" id="state_tagsinput_add">افزودن</a>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <label>ویژگی</label>
                                <br />                                                    
                                
                                @Html.TextBox("state_tagsinput", null,new { name="classificatio" ,@class = "form-control" })
                            </div>
                        </div><!-- End row -->
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <h4>آپلود</h4>
                            </div>
                            <div class="col-md-6">
                                <h4>شبکه های اجتماعی</h4>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label>آپلود عکس</label>
                                    <input type="file" name="img1" id="js-upload-files" multiple>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label>آپلود لوگو</label>
                                    <input type="file" name="img2" id="js-upload-files" multiple>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    @Html.TextAreaFor(x => x.Social_Network, new { placeholder = "شبکه های اجتماعی", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <hr>
                        <br />
                        <button type="submit" class="btn_1 green ">ثبت پروفایل</button>
                    </form>
                </section><!-- End section 4 -->
            </div>
            <!-- End row -->


        </div><!-- End content -->
    </div><!-- End tabs -->
    <div id="toTop"></div>
    <!-- Back to top button -->
    <!-- Common scripts -->
    <script src="~/Content/Template/js/jquery-1.11.2.min.js"></script>
    <script src="~/Content/Template/js/common_scripts_min.js"></script>
    <script src="~/Content/Template/js/functions.js"></script>
    <!-- Specific scripts -->
    <script src="~/Content/Template/js/tabs.js"></script>
    <script>new CBPFWTabs(document.getElementById('tabs'));</script>
    <script>
        $('.wishlist_close_admin').on('click', function (c) {
            $(this).parent().parent().parent().fadeOut('slow', function (c) {
            });
        });
        
    </script>
    <!-- dastebanddi-->
    <script src="~/Content/Plugins/tagsinput/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
    <script src="~/Content/Plugins/tagsinput/typeahead/handlebars.min.js"></script>
    <script src="~/Content/Plugins/tagsinput/typeahead/typeahead.bundle.min.js"></script>
    <script src="~/Content/Plugins/tagsinput/components-bootstrap-tagsinput.js"></script>
    <!--edn dastebanddi-->
    <script>
        $('#new_profile').on('click', function (c) {
            document.getElementById("profile").click();
        });
    </script >
    <script>
        $('#id_type').change(function (data) {
            let id = $(this).val();
            var str = "";
            var str1 = "";
            var jqxhr = $.getJSON("/profile/profilebyid/?type_id=" + id, function (data) {
                $(data).each(function (obj) {
                    str += "<option value= ' " + data[obj].id + "'>" + data[obj].name + "</option>";
                });
                document.getElementById("id_profile").innerHTML = str;
               
                
            })
        });

    </script>

    <script>
        $('#btn0').on("click", function (c) {
            alert($("#edit").val())
            //alert($("#edit").froalaEditor("html.get"));
            //var stri = document.getElementById("fr-element fr-view").innerHTML;
        });
</script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>
    <script src="~/Content/Plugins/textarea/js/froala_editor.min.js"></script>
    <script src="~/Content/Plugins/textarea/js/froala_editor.pkgd.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/froala_editor.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/align.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/code_beautifier.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/code_view.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/colors.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/draggable.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/emoticons.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/font_size.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/font_family.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/image.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/image_manager.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/line_breaker.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/link.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/lists.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/paragraph_format.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/paragraph_style.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/video.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/table.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/url.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/entities.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/char_counter.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/inline_style.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/save.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/fullscreen.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/print.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/languages/ro.js"></script>
    <script>
        $(function () {
            $('#edit , #edit1').froalaEditor({
                toolbarInline: false,
                direction: 'rtl'
            })
            $('#btntest').click(function () {
                alert($('#edit').val())
            })
        });
    </script>
    
    <!--datepicker script-->

    <script src="~/Content/Plugins/MdBootstrapPersianDateTimePicker/jalaali.js" type="text/javascript"></script>
    <script src="~/Content/Plugins/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.js" type="text/javascript"></script>
    <!--timepicker script-->

    <script src="~/Content/Plugins/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <!--timepicker script template-->
    <script src="~/Content/Template/js/bootstrap-timepicker.js"></script>
    
    <script>
        
        $('input.time-pick').timepicker({
            minuteStep: 15,
            showInpunts: true
        })
    </script>
    
</body>
</html>




