﻿
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Tourist.Models
@model Profile_Tour
<!DOCTYPE html>

<html dir="rtl">
<head>
    <title>اضافه کردن پروفایل</title>
    <!-- Favicons-->
    @*<link rel="shortcut icon" href="~/Content/Template/img/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" type="image/x-icon" href="~/Content/Template/img/apple-touch-icon-57x57-precomposed.png">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="~/Content/Template/img/apple-touch-icon-72x72-precomposed.png">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="~/Content/Template/img/apple-touch-icon-114x114-precomposed.png">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="~/Content/Template/img/apple-touch-icon-144x144-precomposed.png">*@
    <!-- CSS -->
    <link href="~/Content/Template/css/base.css" rel="stylesheet">
    <!--datepicker-->
    <link rel="stylesheet" href="~/Content/plugins/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.css" />
    <!--Timepicker-->
    <link href="~/Content/Plugins/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <!-- SPECIFIC CSS -->
    <link href="~/Content/Template/css/admin.css" rel="stylesheet">
    <link href="~/Content/Template/css/jquery.switch.css" rel="stylesheet">
    <!-- Google web fonts -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <!--dastebandi-->
    <link href="~/Content/Plugins/tagsinput/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="~/Content/Plugins/tagsinput/typeahead/typeahead.css" rel="stylesheet" />
    <!--text area-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/Plugins/textarea/css/froala_editor.css">
    <link rel="stylesheet" href="~/Content/Plugins/textarea/css/froala_style.css">
    <link rel="stylesheet" href="~/Content/Plugins/textarea/css/plugins/code_view.css">
    <link rel="stylesheet" href="~/Content/Plugins/textarea/css/plugins/colors.css">
    <link rel="stylesheet" href="~/Content/Plugins/textarea/css/plugins/emoticons.css">
    <link rel="stylesheet" href="~/Content/Plugins/textarea/css/plugins/image_manager.css">
    <link rel="stylesheet" href="~/Content/Plugins/textarea/css/plugins/image.css">
    <link rel="stylesheet" href="~/Content/Plugins/textarea/css/plugins/line_breaker.css">
    <link rel="stylesheet" href="~/Content/Plugins/textarea/css/plugins/table.css">
    <link rel="stylesheet" href="~/Content/Plugins/textarea/css/plugins/char_counter.css">
    <link rel="stylesheet" href="~/Content/Plugins/textarea/css/plugins/video.css">
    <link rel="stylesheet" href="~/Content/Plugins/textarea/css/plugins/fullscreen.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">
    <!--end textarea-->
    <script src="~/Content/Plugins/24hours.js"></script>
    <!--time picker templatw-->
    <link rel="stylesheet" href="~/Content/Template/css/date_time_picker.css" />


    <!--[if lt IE 9]>
      <script src="~/Content/Template/js/html5shiv.min.js"></script>
      <script src="~/Content/Template/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <!--[if lte IE 8]>
        <p class="chromeframe">لطفا مرورگر خود را بروز کنید <strong>استفاده میکنید</strong> مرورگر قدیمی <a href="http://digiao.ir/">شما از </a>.</p>
    <![endif]-->
    @*<div id="preloader">
        <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>
    </div>*@
    <!-- End Preload -->
    <div class="layer"></div>
    <!-- Mobile menu overlay mask -->
    <!-- Header================================================== -->


    <section class="parallax-window" data-parallax="scroll" data-image-src="/Content/Template/img/tourist_guide.jpg" data-natural-width="1400" data-natural-height="470"></section><!-- End section -->
    @*<div id="position">
            <div class="container">
                <ul>
                    <li><a href="#">صفحه اصلی</a></li>
                    <li><a href="#">دسته بندی</a></li>
                    <li>صفحه فعال</li>
                </ul>
            </div>
        </div>*@<!-- End Position -->
    <div class="margin_60 container">
        <div id="tabs" class="tabs">
            <nav>
                <ul>
                    <li><a href="#section-4" id="profile" class="icon-profile"><span>پروفایل</span></a></li>
                </ul>
            </nav>
            <div class="content">
               

                <section id="section-4">
                    <form action="/Profile/AddProfileTourConfirm" method="post" enctype="multipart/form-data">

                        <div class="divider"></div>

                        <div class="row">
                            <div class="col-md-12">
                                <h4>اضافه کردن پروفایل</h4>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>نام گروه</label>
                                    @Html.TextBoxFor(x=> x.Name_Group , new{ placeholder = "نام گروه", @class = "form-control" })
                              
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>نام آژانس</label>
                                    @Html.TextBoxFor(x =>x.Name_Agency, new { placeholder = "نام آژانس", @class = "form-control" })
                                </div>
                            </div>
                        </div><!-- End row -->

                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>نام لیدر</label>
                                    @Html.TextBoxFor(x => x.Name_Leader, new { placeholder = "نام لیدر", @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>تلفن لیدر</label>
                                    @Html.TextBoxFor(x => x. Tel_Leader, new { placeholder = "تلفن", @class = "form-control" })
                                </div>
                            </div>
                        </div><!-- End row -->
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <h4> آدرس و تلفن آژانس</h4>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>آدرس</label>
                                    @Html.TextBoxFor(x => x.Address, new { placeholder = "ادرس", @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>تلفن</label>
                                    @Html.TextBoxFor(x => x.Tel_Agency, new { placeholder = "تلفن", @class = "form-control" })
                                </div>
                            </div>
                        </div><!-- End row -->
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>مختصات</h4>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>عرض جغرافیایی</label>
                                    @Html.TextBoxFor(x => x.Map_lat, new { placeholder = "عرض جغرافیایی", @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>طول جغرافیایی</label>
                                    @Html.TextBoxFor(x => x.Map_len, new { placeholder = "طول جغرافیایی", @class = "form-control" })
                                </div>
                            </div>
                        </div><!-- End row -->
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>توضیحات</h4>
                                <div >
                                    @Html.TextAreaFor(X => X.Description, new { style = "margin-top: 30px", @class = "form-control", rows = "6" })
                                </div>
                                <br>
                            </div>
                        </div>
                        <hr>
                        <br />
                        <button type="submit" class="btn_1 green ">ثبت پروفایل</button>
                    </form>
                </section><!-- End section 4 -->
            </div>
            <!-- End row -->


        </div><!-- End content -->
    </div><!-- End tabs -->
    <div id="toTop"></div>
    <!-- Back to top button -->
    <!-- Common scripts -->
    <script src="~/Content/Template/js/jquery-1.11.2.min.js"></script>
    <script src="~/Content/Template/js/common_scripts_min.js"></script>
    <script src="~/Content/Template/js/functions.js"></script>
    <!-- Specific scripts -->
    <script src="~/Content/Template/js/tabs.js"></script>
    <script>new CBPFWTabs(document.getElementById('tabs'));</script>
    <script>
        $('.wishlist_close_admin').on('click', function (c) {
            $(this).parent().parent().parent().fadeOut('slow', function (c) {
            });
        });

    </script>
 

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>
    <script src="~/Content/Plugins/textarea/js/froala_editor.min.js"></script>
    <script src="~/Content/Plugins/textarea/js/froala_editor.pkgd.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/froala_editor.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/align.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/code_beautifier.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/code_view.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/colors.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/draggable.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/emoticons.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/font_size.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/font_family.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/image.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/image_manager.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/line_breaker.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/link.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/lists.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/paragraph_format.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/paragraph_style.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/video.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/table.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/url.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/entities.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/char_counter.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/inline_style.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/save.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/fullscreen.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/print.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/languages/ro.js"></script>
    <script>
        $(function () {
            $('#edit , #edit1').froalaEditor({
                toolbarInline: false,
                direction: 'rtl'
            })
            $('#btntest').click(function () {
                alert($('#edit').val())
            })
        });
    </script>

    <!--datepicker script-->

    <script src="~/Content/Plugins/MdBootstrapPersianDateTimePicker/jalaali.js" type="text/javascript"></script>
    <script src="~/Content/Plugins/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.js" type="text/javascript"></script>
    <!--timepicker script-->

    <script src="~/Content/Plugins/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <!--timepicker script template-->
    <script src="~/Content/Template/js/bootstrap-timepicker.js"></script>

    <script>

        $('input.time-pick').timepicker({
            minuteStep: 15,
            showInpunts: true
        })
    </script>

</body>
</html>
