﻿
@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}

@using Tourist.Models
@model IEnumerable<Request>
<!DOCTYPE html>

<html dir="rtl">
<head>
    <title>تمام درخواست ها</title>
    <!-- Favicons-->
    @*<link rel="shortcut icon" href="~/Content/Template/img/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" type="image/x-icon" href="~/Content/Template/img/apple-touch-icon-57x57-precomposed.png">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="~/Content/Template/img/apple-touch-icon-72x72-precomposed.png">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="~/Content/Template/img/apple-touch-icon-114x114-precomposed.png">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="~/Content/Template/img/apple-touch-icon-144x144-precomposed.png">*@
    <!-- CSS -->
    <link href="~/Content/Template/css/base.css" rel="stylesheet">
    <!--datepicker-->
    <link rel="stylesheet" href="~/Content/plugins/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.css" />
    <!--Timepicker-->
    <link href="~/Content/Plugins/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <!-- SPECIFIC CSS -->
    <link href="~/Content/Template/css/admin.css" rel="stylesheet">
    <link href="~/Content/Template/css/jquery.switch.css" rel="stylesheet">
    <!-- Google web fonts -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <!--dastebandi-->
    <link href="~/Content/Plugins/tagsinput/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="~/Content/Plugins/tagsinput/typeahead/typeahead.css" rel="stylesheet" />
    <!--text area-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <!--end textarea-->
    <script src="~/Content/Plugins/24hours.js"></script>
    <!--time picker templatw-->
    <link rel="stylesheet" href="~/Content/Template/css/date_time_picker.css" />

</head>
<body>
    <!--[if lte IE 8]>
        <p class="chromeframe">لطفا مرورگر خود را بروز کنید <strong>استفاده میکنید</strong> مرورگر قدیمی <a href="http://digiao.ir/">شما از </a>.</p>
    <![endif]-->
    @*<div id="preloader">
        <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>
    </div>*@
    <!-- End Preload -->
    <div class="layer"></div>
    <!-- Mobile menu overlay mask -->
    <!-- Header================================================== -->


    <section class="parallax-window" data-parallax="scroll" data-image-src="/Content/Template/img/tourist_guide.jpg" data-natural-width="1400" data-natural-height="470"></section><!-- End section -->
    @*<div id="position">
            <div class="container">
                <ul>
                    <li><a href="#">صفحه اصلی</a></li>
                    <li><a href="#">دسته بندی</a></li>
                    <li>صفحه فعال</li>
                </ul>
            </div>
        </div>*@<!-- End Position -->
    <div class="margin_60 container">
        <div id="tabs" class="tabs">
            <nav>
                <ul>
                    <li><a href="#section-1" ><span>درخواست ها</span></a></li>

                </ul>
            </nav>
            <div class="content">
                <section id="section-1">
                    @foreach (var item in Model)
                    {
                        
                    <div class="strip_booking">
                        <div class="row">
                            <div class="col-md-2 col-sm-2">
                                <div class="date">
                                    <span class="month">@item.date.Value.Month</span>
                                    <span class="day"><strong>@item.date.Value.Day</strong>@item.date.Value.DayOfWeek</span>
                                    <span ><strong>@item.date.Value.TimeOfDay</strong></span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <h3 class="tours_booking">@item.Name<span>@item.Tel</span></h3>
                            </div>
                            <div class="col-md-2 col-sm-3">
                                <ul class="info_booking" >
                                    نام لیدر
                                    <li><strong>@item.Tour.Profile_Tour.Name_Leader</strong></li>
                                    تلفن لیدر
                                    <li><strong>@item.Tour.Profile_Tour.Tel_Leader</strong></li>
                                    تلفن اژانس
                                    <li><strong>@item.Tour.Profile_Tour.Tel_Agency</strong></li>
                                    ایدی
                                    <li><strong>@item.Tour_id</strong></li>
                                    تعداد
                                    <li><strong>@item.quantity</strong></li>
                                    قیمت کل
                                    <li><strong>@item.cost</strong></li>
                                    قیمت ترنسفر
                                    <li><strong>@item.transferPrice</strong></li>
                                    قیمت جا
                                    <li><strong>@item.placeprice</strong></li>
                                </ul>
                            </div>
                            <div class="col-md-5 col-sm-5">
                                <h3 class="booking_buttons">@item.Tour.Destination</h3>
                            </div>
                        </div><!-- End row -->
                    </div><!-- End strip booking -->
                    }


                </section>

            </div>
            <!-- End row -->


        </div><!-- End content -->
    </div><!-- End tabs -->
    <div id="toTop"></div>
    <!-- Back to top button -->
    <!-- Common scripts -->
    <script src="~/Content/Template/js/jquery-1.11.2.min.js"></script>
    <script src="~/Content/Template/js/common_scripts_min.js"></script>
    <script src="~/Content/Template/js/functions.js"></script>
    <!-- Specific scripts -->
    <script src="~/Content/Template/js/tabs.js"></script>
    <script>new CBPFWTabs(document.getElementById('tabs'));</script>
    <script>
        $('.wishlist_close_admin').on('click', function (c) {
            $(this).parent().parent().parent().fadeOut('slow', function (c) {
            });
        });

    </script>

    <script>
        $(function () {
            $('#edit , #edit1').froalaEditor({
                toolbarInline: false,
                direction: 'rtl'
            })
            $('#btntest').click(function () {
                alert($('#edit').val())
            })
        });
    </script>

    <!--datepicker script-->

    <script src="~/Content/Plugins/MdBootstrapPersianDateTimePicker/jalaali.js" type="text/javascript"></script>
    <script src="~/Content/Plugins/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.js" type="text/javascript"></script>
    <!--timepicker script-->

    <script src="~/Content/Plugins/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <!--timepicker script template-->
    <script src="~/Content/Template/js/bootstrap-timepicker.js"></script>

    <script>

        $('input.time-pick').timepicker({
            minuteStep: 15,
            showInpunts: true
        })
    </script>

</body>
</html>
