﻿
@{
    ViewBag.Title = "About";
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 8]><html class="ie ie8"> <![endif]-->
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<html dir="rtl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="دور تا دور تو، پر از اتفاقای باحاله درباره ما">
    <meta name="keywords" content="tourips,tourism,توریپس,شیراز,shiraz,تور,تور,تورشیراز,tour,کافه,گالری" />
    <meta name="author" content="Sina Darbouy">
    <title>توریپس | درباره ما</title>

    <!-- Favicons-->
    @*<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">*@

    <!-- CSS -->
    <link href="~/Content/Template/css/base.css" rel="stylesheet">

    <!-- Radio and check inputs -->
    <link href="~/Content/Template/css/skins/square/grey.css" rel="stylesheet">

    <!-- Google web fonts -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        window.heap = window.heap || [], heap.load = function (e, t) { window.heap.appid = e, window.heap.config = t = t || {}; var r = t.forceSSL || "https:" === document.location.protocol, a = document.createElement("script"); a.type = "text/javascript", a.async = !0, a.src = (r ? "https:" : "http:") + "//cdn.heapanalytics.com/js/heap-" + e + ".js"; var n = document.getElementsByTagName("script")[0]; n.parentNode.insertBefore(a, n); for (var o = function (e) { return function () { heap.push([e].concat(Array.prototype.slice.call(arguments, 0))) } }, p = ["addEventProperties", "addUserProperties", "clearEventProperties", "identify", "resetIdentity", "removeEventProperty", "setEventProperties", "track", "unsetEventProperty"], c = 0; c < p.length; c++)heap[p[c]] = o(p[c]) };
        heap.load("3314004309");
    </script>
</head>
<body>

    <!--[if lte IE 8]>
        <p class="chromeframe">لطفا مرورگر خود را بروز کنید <strong>استفاده میکنید</strong> مرورگر قدیمی <a href="http://digiao.ir/">شما از </a>.</p>
    <![endif]-->
    @*<div id="preloader">
            <div class="sk-spinner sk-spinner-wave">
                <div class="sk-rect1"></div>
                <div class="sk-rect2"></div>
                <div class="sk-rect3"></div>
                <div class="sk-rect4"></div>
                <div class="sk-rect5"></div>
            </div>
        </div>*@
    <!-- End Preload -->

    <div class="layer"></div>
    <!-- Mobile menu overlay mask -->
    <!-- Header================================================== -->
    <header id="plain" style="background-color:#446350;color:#fff">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div id="logo_home">
                        <h1><a href="index.html" title=""></a></h1>
                    </div>
                </div>
                <nav class="col-md-9 col-sm-9 col-xs-9">
                    <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>منوی تلفن همراه</span></a>
                    <div class="main-menu">
                        <div id="header_menu">
                            @*<img src="~/Content/Template/img/logo_sticky.png" width="160" height="34" alt="City tours" data-retina="true">*@
                        </div>
                        <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
                        <ul>
                            <li class="submenu">
                                <a href="/Home/index" class="show-submenu">صفحه اصلی </a><ul></ul>
                            </li>
                            @*<li class="submenu">
                                    <a href="javascript:void(0);" class="show-submenu">رویداد <i class="icon-down-open-mini"></i></a>
                                    <ul>
                                        <li><a href="/Events/All_Event/?kind=gallery">گالری ها</a></li>
                                        <li><a href="/Events/All_Event/?kind=cafe">کافه ها</a></li>
                                    </ul>
                                </li>*@
                            <li class="submenu">
                                <a href="/Events/All_Tour" class="show-submenu">تورها </a><ul></ul>
                            </li>
                            <li class="submenu">
                                <a href="/Events/Compare_Tour" class="show-submenu">مقایسه</a><ul></ul>
                            </li>
                            @*<li class="submenu">
                                    <a href="javascript:void(0);" class="show-submenu">امکانات ویژه<i class="icon-down-open-mini"></i></a><ul>
                                        <li><a href="~/Home/Map">اطراف من</a></li>
                                    </ul>
                                </li>*@
                            <li class="submenu">
                                <a href="/Home/index#info" class="show-submenu">درباره ما</a>

                            </li>
                            <li class="submenu">
                                <a href="/Home/index#guide" class="show-submenu">راهنما</a>
                            </li>
                            <li class="submenu">
                                <a href="/Events/Archive_tour" class="show-submenu">آرشیو</a><ul></ul>
                            </li>

                        </ul>
                    </div><!-- End main-menu -->
                </nav>
            </div>
        </div><!-- container -->
    </header><!-- End Header -->
    @*<section class="parallax-window" data-parallax="scroll" data-image-src="img/home_bg_1.jpg" data-natural-width="1400" data-natural-height="470">
            <div class="parallax-content-1">
                <div class="animated fadeInDown">
                <h1>پرسش و پاسخهای متداول</h1>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                </div>
            </div>
        </section>*@<!-- End section -->
    <div id="position">
        <div class="container">
            <ul>
                <li><a href="#">صفحه اصلی</a></li>
                <li><a href="#">دسته بندی</a></li>
                <li>صفحه فعال</li>
            </ul>
        </div>
    </div><!-- Position -->

    <div class="container margin_60">
        <div class="row">
            <aside class="col-lg-3 col-md-3" id="sidebar">
                <div class="theiaStickySidebar">
                    <div class="box_style_cat" id="faq_box">
                        <ul id="cat_nav">
                            <li><a data-toggle="collapse" data-parent="#payment" href="#collapseOne_payment" class="active"><i class="icon_set_1_icon-95"></i>توریپس</a></li>
                            <li><a data-toggle="collapse" data-parent="#payment" href="#collapseTwo_payment"><i class="icon_set_1_icon-95"></i>برگزار کننده</a></li>
                            <li><a data-toggle="collapse" data-parent="#payment" href="#collapseThree_payment"><i class="icon_set_1_icon-95"></i>گردشگر</a></li>
                        </ul>
                    </div>
                </div><!--End sticky -->
            </aside><!--End aside -->
            <div class="col-lg-9 col-md-9" id="faq">
                <center>
                    <h3 class="nomargin_top">توریپس</h3>

                    <h4>|توریپس یک آژانس مسافرتی نیست!|</h4>
                </center>
                <div class="panel-group" id="payment">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" aria-expanded="true" data-toggle="collapse" data-parent="#payment" href="#collapseOne_payment">توریپس<i class="indicator icon-minus pull-right"></i></a>
                            </h4>
                        </div>
                        <div id="collapseOne_payment" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <p>توریپس یک پلتفرم در حوزه گردشگری است که به عنوان یک واسط بین برگزار کنندگان تورهای مسافرتی و گردشگران فعالیت میکند. در واقع یک بستر برای متصل کردن گردشگران به تورها است. </p>
                                <p>توریپس مرجع بزرگی برای معرفی تورهای گوناگونی مثل طبیعت‌گردی، شهرگردی، کویرنوردی، آفرود،کوهنوردی، غارنوردی، دوچرخه‌سواری و … است، که  برگزار کنندگان تورها میتوانند به راحتی برنامه های خود را در آن قرار دهند، و گردشگران براساس نیازهای خود مثل خدمات تور، قیمت، کیفیت تور، تورلیدر مناسب و …، تورها را با هم مقایسه و مناسب ترین تور را برای خود انتخاب کنند. همچنین بعد از پایان تور، شرکت‌کنندگان می‌توانند درباره آن تور نظر و امتیاز بدهند، با این سیستم کیفیت تورها و برگزاری آن‌ها از سوی تورلیدرها بیشتر و بیشتر می‌شود. </p>

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#payment" href="#collapseTwo_payment">برگزار کننده<i class="indicator icon-plus pull-right"></i></a>
                            </h4>
                        </div>
                        <div id="collapseTwo_payment" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>آژانس های مسافرتی، تورلیدرهای شخصی، باشگاه های گردشگری و کوهنوردی برگزار کننده های توریپس هستند. هر برگزار کننده صفحه پروفایل شخصی خود را دارد که تمام اطلاعات، سوابق و تصاویر فعالیت های گذشته خود را در آن قرار می دهد. این صفحه شخصی به عنوان صفحه کاری محسوب می شود و هر هفته می توانند تور های خود را ثبت کنند. </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#payment" href="#collapseThree_payment">گردشگر<i class="indicator icon-plus pull-right"></i></a>
                            </h4>
                        </div>
                        <div id="collapseThree_payment" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>گردشگران می توانند با مراجعه به سایت توریپس به مجموعه وسیع و متنوعی از تورهای برگزارکننده های مختلف دسترسی پیدا کنند و با مقایسه آن ها از نظر قیمت، خدمات تور، سابقه برگزارکننده و ... مناسب ترین تور را برای خود انتخاب کنند.</p>
                            </div>
                        </div>
                    </div>
                </div><!-- End panel-group -->
                <!-- End panel-group -->

            </div><!-- End col lg-9 -->
        </div><!-- End row -->
    </div><!-- End container -->
    <!-- End footer -->

    <div id="toTop"></div><!-- Back to top button -->
    <!-- Common scripts -->
    <script src="~/Content/Template/js/jquery-1.11.2.min.js"></script>
    <script src="~/Content/Template/js/common_scripts_min.js"></script>
    <script src="~/Content/Template/js/functions.js"></script>

    <!-- Specific scripts -->
    <!-- Fixed sidebar -->
    <script src="~/Content/Template/js/theia-sticky-sidebar.js"></script>
    <script>
        jQuery('#sidebar').theiaStickySidebar({
            additionalMarginTop: 80
        });
    </script>
    <script>
                 //$(function() {
                    // 'use strict';
                    //  $('#faq_box a[href*=#]:not([href=#])').click(function() {
                    //    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                    //      var target = $(this.hash);
                    //      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                    //      if (target.length) {
                    //        $('html,body').animate({
                    //          scrollTop: target.offset().top - 120
                    //        }, 500);
                    //        return false;
                    //      }
                    //    }
                    //  });
                    //});
    </script>

</body>
</html>


