﻿
@{
    ViewBag.Title = "Error";
}

<!DOCTYPE html>
<!--[if IE 8]><html class="ie ie8"> <![endif]-->
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<html dir="rtl">
<head>
    @*error page*@
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>توریپس | ارور</title>
    <meta name="description" content="ارور توریپس" />

    <!-- CSS -->
    <link href="~/Content/Template/css/base.css" rel="stylesheet">

    <!-- Google web fonts -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        window.heap = window.heap || [], heap.load = function (e, t) { window.heap.appid = e, window.heap.config = t = t || {}; var r = t.forceSSL || "https:" === document.location.protocol, a = document.createElement("script"); a.type = "text/javascript", a.async = !0, a.src = (r ? "https:" : "http:") + "//cdn.heapanalytics.com/js/heap-" + e + ".js"; var n = document.getElementsByTagName("script")[0]; n.parentNode.insertBefore(a, n); for (var o = function (e) { return function () { heap.push([e].concat(Array.prototype.slice.call(arguments, 0))) } }, p = ["addEventProperties", "addUserProperties", "clearEventProperties", "identify", "resetIdentity", "removeEventProperty", "setEventProperties", "track", "unsetEventProperty"], c = 0; c < p.length; c++)heap[p[c]] = o(p[c]) };
        heap.load("3314004309");
    </script>

</head>
<body>
    <!--[if lte IE 8]>
        <p class="chromeframe">لطفا مرورگر خود را بروز کنید <strong>استفاده میکنید</strong> مرورگر قدیمی <a href="http://digiao.ir/">شما از </a>.</p>
    <![endif]-->
    @*<div id="preloader">
        <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>
    </div>*@
    <!-- End Preload -->
    <div class="layer"></div>
    <!-- Mobile menu overlay mask -->
    <!-- Header================================================== -->



    <section id="hero">
        <div class="intro_title error">
            @TempData["State"] = State;
            @TempData["StateCode"] = StateCode;
            @TempData["MID"] = MID;
            @TempData["ResNum"] = ResNum;
            @TempData["RefNum"] = RefNum;
            @TempData["CID"] = CID;
            @TempData["TRACENO"] = TRACENO;
            @TempData["rnn"] = RRN;
            <h1 class="animated fadeInDown">۴۰۴</h1>
            <p class="animated fadeInDown">اوه ! ! صفحه ای یافت نشد</p>
            <a href="/Home/index" class="animated fadeInUp button_intro">بازگشت به صفحه اصلی</a>
            <br /><br />

        </div>

    </section>
    <!-- End hero -->
    <div id="toTop"></div><!-- Back to top button -->
    <!-- Common scripts -->
    <script src="~/Content/Template/js/jquery-1.11.2.min.js"></script>
    <script src="~/Content/Template/js/common_scripts_min.js"></script>
    <script src="~/Content/Template/js/functions.js"></script>
</body>
</html>

