﻿@{
    ViewBag.Title = "Home Page";
}
@using Tourist.Models
@model IEnumerable<Tour>
<!DOCTYPE html>
<link href="~/Content/Template/css/shop.css" rel="stylesheet">
<link href="~/Content/Template/rs-plugin/css/settings.css" rel="stylesheet">
<link href="~/Content/Template/css/extralayers.css" rel="stylesheet" />

<link href="~/Content/parallax.css" rel="stylesheet" />
<link href="~/Content/Plugins/btcursel/carousel.css" rel="stylesheet" />
<html dir="rtl">

<body>

    <div id="preloader">
        <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>
    </div>
    <!-- End Preload -->
    <div class="layer"></div>
    <!-- Mobile menu overlay mask -->
    <!-- Header================================================== -->



    <section id="search_container" class="tp-bannershadow container container-fluid">

        <div id="hero_video" style="display:" class="tp-bannershadow ">
            <div class="intro_title">
                <h1 class="animated fadeInDown">مرجع اطلاع‌رسانی رویداد</h1>
                <p class="animated fadeInDown">گالری / کافه</p>
                <a href="~/Home/Map" class="animated button_intro">اطراف من</a>
                @*<a href="#" id="btn_search" class="animated fadeInUp button_intro outline hidden-sm hidden-xs">جستجو پیشرفته</a>
                *@
                @*<div class="tp-caption customin tp-resizeme rs-parallaxlevel-0" data-x="center" data-y="center" data-hoffset="0" data-voffset="70" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"  data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-linktoslide="next" style="z-index: 12;">
                    <a href='all_tour_list.html' class="button_intro">نمایش تورها</a> <a href='single_tour.html' class=" button_intro outline">ادامه مطلب</a>*@
            </div>
        </div>
        <div id="search" style="display:none">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tours" data-toggle="tab">گالری ها</a></li>
                <li><a href="#hotels" data-toggle="tab">کافه ها</a></li>

            </ul>

            <div class="tab-content">
                <form action="/Events/Search_Gallery" method="post" enctype="multipart/form-data">
                    <div class="tab-pane active" id="tours">
                        <h3>جستجو گالری ها</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>زمان</label>
                                    <select class="form-control" name="category_time">
                                        <option value="0" selected>همه</option>
                                        <option value="1">صبح</option>
                                        <option value="2">عصر</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>نوع</label>
                                    <select class="form-control" name="category_price">
                                        <option value="0" selected>همه</option>
                                        <option value="free">رایگان</option>
                                        <option value="fee">ورودی</option>
                                        <option value="invitation">دعوت نامه</option>
                                    </select>
                                </div>
                            </div>
                        </div><!-- End row -->
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label><i class="icon-calendar-7"></i>از تاریخ</label>
                                    <div class="input-group">
                                        <div class="input-group-addon" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate1" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="left">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </div>
                                        <input type="text" class="form-control" name="start_date" id="toDate1" placeholder="از تاریخ" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate1" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="right" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label><i class=" icon-clock"></i>تا تاریخ</label>
                                    <div class="input-group">
                                        <div class="input-group-addon" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate2" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="left">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </div>
                                        <input type="text" class="form-control" name="end_date" id="toDate2" placeholder="تا تاریخ" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate2" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="right" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>دسته بندی</label>
                                    <select class="form-control" name="category_kind">
                                        <option value="0" selected>همه</option>
                                        <option value="نقاشی">نقاشی</option>
                                        <option value="عکس">عکس</option>
                                        <option value="موسیقی">موسیقی</option>
                                        <option value="گرافیک">گرافیک</option>
                                    </select>
                                </div>
                            </div>


                        </div><!-- End row -->
                        <hr>
                        <button class="btn_1 green"><i class="icon-search"></i>اکنون جستجو کن</button>
                </form><!-- End rab -->
                <button class="btn_1 blue" id="btn_back">بازگشت</button>
            </div>
            <div class="tab-pane" id="hotels">
                <h3>جستجو کافه ها</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>زمان</label>
                            <select class="form-control" name="category">
                                <option value="0" selected>همه</option>
                                <option value="0">عصر</option>
                                <option value="1">ظهر</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>نوع</label>
                            <select class="form-control" name="category">
                                <option value="0" selected>همه</option>
                                <option value="1">رایگان</option>
                                <option value="1">ورودی</option>
                                <option value="2">دعوت نامه</option>
                            </select>
                        </div>
                    </div>
                </div><!-- End row -->
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label><i class="icon-calendar-7"></i>از تاریخ</label>
                            <div class="input-group">
                                <div class="input-group-addon" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate3" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="left">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </div>
                                <input type="text" class="form-control" name="start_date" id="toDate3" placeholder="از تاریخ" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate3" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="right" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label><i class=" icon-clock"></i>تا تاریخ</label>
                            <div class="input-group">
                                <div class="input-group-addon" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate4" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="left">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </div>
                                <input type="text" class="form-control" name="end_date" id="toDate4" placeholder="تا تاریخ" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate4" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="right" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>دسته بندی</label>
                            <select class="form-control" name="category">
                                <option value="Centre" selected>همه</option>
                                <option value="Gar du Nord Station">فیلم</option>
                                <option value="La Defance">فوتبال</option>
                                <option value="La Defance">موسیقی</option>
                                <option value="La Defance">کتاب خوانی</option>
                                <option value="La Defance">نمایشنامه خوانی</option>
                            </select>
                        </div>
                    </div>
                </div> <!-- End row -->
                <hr>
                <button class="btn_1 green"><i class="icon-search"></i>اکنون جستجو کن</button>
                <button class="btn_1 blue" id="btn_back1">بازگشت</button>
            </div>
        </div>

    </section><!-- End hero -->


    <div class="container margin_60">

        <div class="main_title">
            <h2> <span>گالری ها</span></h2>

        </div>
        <div class="container">
            <div class="row">
                <div id="app1">
                    <div class="col-md-12">
                        <div class="carousel slide multi-item-carousel" id="theCarousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="col-md-4">
                                        <a href="/Events/Single_Event/?ID">
                                            <card data-image="@($"data:image/jpeg;base64,{Convert.ToBase64String(Model.ToList()[0].poster)}")" class="img-responsive">

                                            </card>
                                        </a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-md-4">
                                        <a href="/Events/Single_Event/?ID">
                                            <card data-image="@($"data:image/jpeg;base64,{Convert.ToBase64String(Model.ToList()[2].poster)}")" class="img-responsive">

                                            </card>
                                        </a>
                                    </div>
                                </div>
                                <div class="item ">
                                    <div class="col-md-4">
                                        <a href="/Events/Single_Event/?ID">
                                            <card data-image="@($"data:image/jpeg;base64,{Convert.ToBase64String(Model.ToList()[1].poster)}")" class="img-responsive">

                                            </card>
                                        </a>
                                    </div>
                                </div>
                                <div class="item ">
                                    <div class="col-md-4">
                                        <a href="/Events/Single_Event/?ID">
                                            <card data-image="@($"data:image/jpeg;base64,{Convert.ToBase64String(Model.ToList()[3].poster)}")" class="img-responsive">

                                            </card>
                                        </a>
                                    </div>
                                </div>
                                <div class="item ">
                                    <div class="col-md-4">
                                        <a href="/Events/Single_Event/?ID">
                                            <card data-image="@($"data:image/jpeg;base64,{Convert.ToBase64String(Model.ToList()[4].poster)}")" class="img-responsive">

                                            </card>
                                        </a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-md-4">
                                        <a href="/Events/Single_Event/?ID">
                                            <card data-image="@($"data:image/jpeg;base64,{Convert.ToBase64String(Model.ToList()[5].poster)}")" class="img-responsive">

                                            </card>
                                        </a>
                                    </div>
                                </div>
                                <!-- add  more items here -->
                                <!-- Example item start:  -->

                                <div class="item">
                                    <div class="col-md-4">
                                        <a href="/Events/Single_Event/?ID">
                                            <card data-image="@($"data:image/jpeg;base64,{Convert.ToBase64String(Model.ToList()[6].poster)}")" class="img-responsive">

                                            </card>
                                        </a>
                                    </div>
                                </div>

                                <!--  Example item end -->
                            </div>
                            <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                            <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            @*<div id="app1" >
                   @{int count_gallery = 0;}
                @foreach (var item in Model)
                {
                    if (item.Profile_cafe_gallery != null)
                    {

                        if (item.Profile_cafe_gallery.Type_id == 2 && count_gallery != 4)
                        {
                            <div class="col-md-3 col-sm-3">
                            <a href="/Events/Single_Event/?ID=@item.id" id="@item.id">
                                <card data-image="@($"data:image/jpeg;base64,{Convert.ToBase64String(item.poster)}")">
                                    <h4 style="color:white" slot="header">@item.title</h4>
                                    <p style="line-height:1.5em" slot="content">
                                        @if (item.price_kind.ToLower() == "free")
                                        {<text>رایگان </text>}
                                        @if (item.price_kind.ToLower() == "fee")
                                        {<text>ورودی </text>}
                                        @if (item.price_kind.ToLower() == "invitation")
                                        {<text>دعوت نامه</text>}
                                    </p>
                                </card>
                            </a>
                            </div>

                            count_gallery++;
                        }
                    }
                }

                    </div>*@
            @*@{int count_gallery = 0;}
                @foreach (var item in Model)
                {
                    if (item.Profile_cafe_gallery != null)
                    {

                        if (item.Profile_cafe_gallery.Type_id == 2 && count_gallery != 6)
                        {
                            <div class="shop-item col-md-3">
                                <div class="inner-box">
                                    <!--Image Box-->
                                    <div class="image-box">
                                        <figure class="image"><a href="/Events/Single_Event/?ID=@item.id" id="@item.id"><img src="@($"data:image/jpeg;base64,{Convert.ToBase64String(item.poster)}")" alt=""></a></figure>
                                    </div>
                                    <div class="product_description">

                                        <h3><a href="shop-single.html">@item.title</a></h3>
                                        <div class="price">
                                            @if (item.price_kind.ToLower() == "free")
                                            {<text>رایگان </text>}
                                            @if (item.price_kind.ToLower() == "fee")
                                            {<text>ورودی </text>}
                                            @if (item.price_kind.ToLower() == "invitation")
                                            {<text>دعوت نامه</text>}
                                        </div>
                                    </div>

                                </div>
                            </div><!--End Shop Item-->

                            count_gallery++;
                        }
                    }
                }*@


        </div><!-- End row -->
        <p class="text-center nopadding">
            <br />
            <a href="/Events/All_Event/?kind=2" class="btn_1 medium"><i class="icon-eye-7"></i>دیدن همه گالری ها </a>
        </p>
    </div><!-- End container -->

    <div class="container margin_60">

        <div class="main_title">
            <h2> <span>کافه ها</span></h2>

        </div>

        <div class="row">
            <div id="app" @*class="container1"*@>
                @{int count_cafe = 0;}
                @foreach (var item in Model)
                                    <div class="col-md-3 col-sm-3">

                                <a href="/Events/Single_Event/?ID=@item.id" id="@item.id">
                                    <card data-image="@($"data:image/jpeg;base64,{Convert.ToBase64String(item.poster)}")">
                                        <h4 style="color:white" slot="header">@$"data:image/jpeg;base64,{Convert.ToBase64String(item.images.ToList()[0].image1)}"</h4>
                                        <p style="line-height:1.5em" slot="content">
                                            @             @*@{int count_cafe = 0;}
                @foreach (var item in Model)
                {
                    if(item.Profile_cafe_gallery != null) {

                    if (item.Profile_cafe_gallery.Type_id == 1 && count_cafe != 6)
                    {
                         <div class="shop-item col-md-3">
                                <div class="inner-box">

                                    <div class="image-box">
                                        <figure class="image"><a href="/Events/Single_Event/?ID=@item.id" id="@item.id"><img src="@($"data:image/jpeg;base64,{Convert.ToBase64String(item.poster)}")" alt=""></a></figure>
                                    </div>
                                    <div class="product_description">

                                        <h3><a href="shop-single.html">@item.title </a></h3>
                                        <div class="price">
                                            @if (item.price_kind.ToLower() == "free")
                                            {<text>رایگان </text>}
                                            @if (item.price_kind.ToLower() == "fee")
                                            {<text>ورودی </text>}
                                            @if (item.price_kind.ToLower() == "invitation")
                                            {<text>دعوت نامه</text>}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        count_cafe++;
                    }
                    }

                }*@


        </div><!-- End row -->
        <p class="text-center nopadding">
            <br>
            <a href="/Events/All_Event/?kind=1" class="btn_1 medium"><i class="icon-eye-7"></i>دیدن همه کافه ها </a>
        </p>
    </div><!-- End container -->
    @*____________________________________________________________________________________________________________________________________*@




    <div class="container margin_60" id="info">

        <div class="main_title">
            <h2>چرا <span>اینجا ؟</span></h2>
            <p>
                مختصری در مورد خدمات
            </p>
        </div>

        <div class="row">
            <div class="col-md-4 wow zoomIn" data-wow-delay="0.2s">
                <div class="feature_home">
                    <i class="icon_set_1_icon-41"></i>
                    <h3><span>از رو نقشه</span> رویدادتو پیدا کن</h3>
                    <p>نزدیک ترین رویداد نسبت به مکانت پیدا کن</p>

                </div>
            </div>

            <div class="col-md-4 wow zoomIn" data-wow-delay="0.4s">
                <div class="feature_home">
                    <i class="icon_set_1_icon-53"></i>
                    <h3><span>تمام </span> رویداد های شیراز</h3>
                    <p>تمام رویداد های کافه ها و گاری های شیراز جمع شده</p>
                </div>
            </div>

            <div class="col-md-4 wow zoomIn" data-wow-delay="0.6s">
                <div class="feature_home">
                    <i class="icon_set_1_icon-57"></i>
                    <h3><span>پشتیبانی </span> ۲۴ ساعته</h3>
                    <p>سوال داری؟هرموقع خواستی </p>
                </div>
            </div>

        </div>

        <hr id="guide">
        <div class="row">
            <div class="col-md-6 col-sm-6 hidden-xs">
                <img src="~/Content/Template/img/bag.png" alt="Laptop" class="img-responsive laptop">
            </div>
            <div class="col-md-6 col-sm-6">
                <h3><span>راهنما</span></h3>
                <p>خیلی ساده رویدادتو پیدا کن</p>
                <ul class="list_order">
                    <li><span>۱</span>نوع رویداد مورد نظر خود را انتخاب کنید</li>
                    <li><span>۲</span>رویداد خود را انتخاب کنید</li>
                    <li><span>۳</span>یا از رو نقشه رویداد نزدیکتو پیدا کن</li>
                </ul>

            </div>
        </div>
    </div><!-- End container -->
    <!-- Common scripts -->
    <script src="~/Content/Template/js/jquery-1.11.2.min.js"></script>
    <script src="~/Content/Template/js/common_scripts_min.js"></script>
    <script src="~/Content/Template/js/functions.js"></script>
    <!--datepicker script-->

    <script src="~/Content/Plugins/MdBootstrapPersianDateTimePicker/jalaali.js" type="text/javascript"></script>
    <script src="~/Content/Plugins/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.js" type="text/javascript"></script>
    <!--slick slider events-->
    <script src="~/Content/Plugins/btcursel/carousel.js"></script>
    @*<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>*@
    @*<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="~/Content/Plugins/slick/slick.min.js"></script>*@
    <!-- Specific scripts -->
    <script src="~/Scripts/vue.min.js"></script>
    <script src="~/Content/parallax_fix.js"></script>
    <script>
        $(document).ready(function () {
            $('.ali').slick({
                slidesToShow: 3,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
            });
        });
    </script>
    @*akldmclasdc;asc*@
    @*<script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>
            <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
            <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.min.js'></script>
            <script>
                var swiper = new Swiper('.swiper-container', {
                    pagination: '.swiper-pagination',
                    effect: 'coverflow',
                    grabCursor: true,
                    centeredSlides: true,
                    spaceBetween: 0,
                    //loop: true,
                    autoplay: 2500,
                    autoplayDisableOnInteraction: false,
                    slidesPerView: 4,
                    coverflow: {
                        rotate: 30,
                        stretch: 0,
                        depth: 100,
                        modifier: 1,
                        slideShadows: true
                    }
                });

        //# sourceURL=pen.js
            </script>*@
    <script>

        $(function () {

            var element_1 = document.getElementById('hero_video');
            var element = document.getElementById('search');

            $('#btn_search').click(function (e) {
                $('#search').delay(100).fadeIn(100);
                $('#hero_video').fadeOut(100);
                $('#hero_video').removeClass('active');
                element.style.display = null;
                e.preventDefault();
            });

            $('#btn_back').click(function (e) {
                $('#hero_video').delay(100).fadeIn(100);
                $('#search').fadeOut(100);
                $('#search').removeClass('active');
                element.style.display = 'none';
                element_1.style.display = null;
                e.preventDefault();
            });
            $('#btn_back1').click(function (e) {
                $('#hero_video').delay(100).fadeIn(100);
                $('#search').fadeOut(100);
                $('#search').removeClass('active');
                element.style.display = 'none';
                element_1.style.display = null;
                e.preventDefault();
            });
        })

    </script>
    <script src="~/Content/Template/js/icheck.js"></script>
    <script>
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-grey',
            radioClass: 'iradio_square-grey'
        });
    </script>
    <script src="~/Content/Template/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/Template/js/bootstrap-timepicker.js"></script>
    <script>
        $('input.date-pick').datepicker('setDate', 'today');
        $('input.time-pick').timepicker({
            minuteStep: 15,
            showInpunts: false
        })
    </script>
    <script src="~/Content/Template/js/jquery.ddslick.js"></script>
    <script>
        $("select.ddslick").each(function () {
            $(this).ddslick({
                showSelectedHTML: true
            });
        });
    </script>

</body>
</html>