﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Tourist.CommonMethods
@using Tourist.Models
@model IEnumerable<Tour>
<!DOCTYPE html>
<link href="~/Content/Template/css/shop.css" rel="stylesheet">
<link href="~/Content/Template/rs-plugin/css/settings.css" rel="stylesheet">
<link href="~/Content/Template/css/extralayers.css" rel="stylesheet" />
<title>توریپس | Tourips</title>
<meta name="description" content="صفحه اصلی توریپس" />
<link href="~/Content/parallax.css" rel="stylesheet" />
<link href="~/Content/Plugins/btcursel/carousel.css" rel="stylesheet" />
<script type="text/javascript">
    window.heap = window.heap || [], heap.load = function (e, t) { window.heap.appid = e, window.heap.config = t = t || {}; var r = t.forceSSL || "https:" === document.location.protocol, a = document.createElement("script"); a.type = "text/javascript", a.async = !0, a.src = (r ? "https:" : "http:") + "//cdn.heapanalytics.com/js/heap-" + e + ".js"; var n = document.getElementsByTagName("script")[0]; n.parentNode.insertBefore(a, n); for (var o = function (e) { return function () { heap.push([e].concat(Array.prototype.slice.call(arguments, 0))) } }, p = ["addEventProperties", "addUserProperties", "clearEventProperties", "identify", "resetIdentity", "removeEventProperty", "setEventProperties", "track", "unsetEventProperty"], c = 0; c < p.length; c++)heap[p[c]] = o(p[c]) };
    heap.load("3314004309");
</script>
<html dir="rtl">
<body>
    @*<div id="preloader">
        <div class="sk-spinner sk-spinner-wave"> 
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>
    </div>*@
    <!-- End Preload -->
    <div class="layer"></div>
    <!-- Mobile menu overlay mask -->
    <!-- Header================================================== -->
    <section id="search_container">
        <div id="search">
            <ul class="nav nav-tabs">
                <li class="active"><a id="search_index_click" href="#tours" data-toggle="tab">جستجو</a></li>
                <li><a href="#compare" id="compare_index_click" data-toggle="tab">مقایسه</a></li>
            </ul>
            <div class="tab-content">
                    <div class="tab-pane active" id="tours">
                <form action="/Events/Search_tour" id="myform" method="post" enctype="multipart/form-data">

                    <div class="row">
                        @*<div class="col-md-4">
                        <h3>جستجو تورها از مبدا</h3>
                        </div>*@
                    <div class="col-md-6">
                        <div class="form-group">
                            <label >انتخاب شهر</label>
                            <select class="ddslick" name="city" style="background-color:rgb(225, 208, 208)!important">
                                @*<option value="0" selected class="bold">همه ی شهرها</option>*@
                                <option value="شیراز" selected>شیراز</option>
                                <option value="تهران" id="1">تهران...به زودی</option>
                                <option value="اصفهان" disabled id="2">اصفهان...به زودی</option>
                                <option value="مشهد" disabled="disabled" id="3">مشهد...به زودی</option>
                            </select>
                        </div>
                    </div>
                        <div class="col-md-6 center-align text-center" style="margin-top:-20px!important;margin-bottom:0px!important"!important>
                            @*<h4 class="center-align text-center"><span>توریپس</span>مرجع تمامی تور های کشور</h4>*@
                            <h3 style="color:#446350; margin-top:0px!important;margin-bottom:0px!important">توریپس</h3><h4 style="margin-top:0px!important;margin-bottom:0px!important"> مرجع تمامی تور های کشور</h4>
                        </div>
                       
                        
                    </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>مقصد</label>
                                    <input type="text" class="form-control" id="firstname_booking" name="destination" placeholder="عبارات مورد نظر خود را تایپ کنید">
                                </div>
                            </div>
                            <div class="col-md-6" >
                                <div class="form-group">
                                    <label>نوع تور</label>
                                    <select class="ddslick" name="category">
                                        <option value="0" selected>همه ی تور ها</option>
                                        <option value="طبیعت گردی">طبیعت گردی</option>
                                        <option value="کوه نوردی">کوه نوردی</option>
                                        <option value="آب نوردی">آب نوردی</option>
                                        <option value="پیاده روی">پیاده روی</option>
                                        <option value="صخره نوردی">صخره نوردی</option>
                                        <option value="رفتینگ">رفتینگ</option>
                                        <option value="آفرود">آفرود</option>
                                        <option value="بافت گردی">بافت گردی</option>
                                        <option value="روستا گردی">روستا گردی</option>
                                        <option value="کویر نوردی">کویر نوردی</option>
                                        <option value="فستیوال رنگ">فستیوال رنگ</option>
                                    </select>
                                </div>
                            </div>
                        </div><!-- End row -->
                        <div class="row">
                            <div class="col-md-6" >
                                <div class="form-group">
                                    <label><i class="icon-calendar-7"></i>از تاریخ</label><span id="summary"></span>
                                    <div class="input-group">
                                        <div  class="input-group-addon"  data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate1" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="left">
                                            <span></span>
                                        </div>
                                        <input type="text" readonly="readonly" class="form-control" name="start_date" id="toDate1" placeholder="از تاریخ" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate1" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="bottom" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label><i class="icon-calendar-7"></i>تا تاریخ</label><span id="summary"></span>
                                    <div class="input-group">
                                        <div class="input-group-addon" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate2" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="left">
                                            <span></span>
                                        </div>
                                        <input type="text" readonly="readonly"  class="form-control" name="end_date" id="toDate2" placeholder="تا تاریخ" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate2" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="bottom" />
                                    </div>
                                </div>
                            </div>
                        </div><!-- End row -->
                        <hr>
                        <button id="now_search_click" class="btn_1 green">
                            <i class="icon-search"></i>اکنون جستجو کن
                        </button>
                </form>
                    </div><!-- End rab -->
                @{ 
                    List<Tour> lst_tour = (List<Tour>)TempData["compare"];
                }
                <div class="tab-pane" id="compare">
                    <form action="/Events/Compare_tours" method="post" enctype="multipart/form-data">
                        <div class="tab-pane active" id="tours">
                            <h3>مقایسه تورها</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>تور اول</label>
                                        @*<input type="text" list="Tours" class="form-control" id="First_Tour" name="First_Tour" placeholder="عبارات مورد نظر خود را تایپ کنید">
                                <datalist id="Tours">
                                    @foreach (var item in Model)
                                    {
                                        <option value="@item.Title"></option>
                                    }
                                </datalist>*@
                                        <select class="ddslick" name="First_Tour">
                                            @foreach (var item in lst_tour)
                                            {
                                                <option value="@item.Id">@item.Title - @item.Profile_Tour.Name_Group - @CalendarMngr.JulianToPersian(item.Start_Date.Value)</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>تور  دوم</label>
                                        @*<input type="text" list="Tours" class="form-control" id="Second_Tour" name="Second_Tour" placeholder="عبارات مورد نظر خود را تایپ کنید">
                                <datalist id="Tours">
                                    @foreach (var item1 in Model)
                                    {
                                        <option value="@item1.Title"></option>
                                    }
                                </datalist>*@
                                        <select class="ddslick" name="Second_Tour">
                                            @foreach (var item in lst_tour)
                                            {
                                                <option value="@item.Id">@item.Title - @item.Profile_Tour.Name_Group - @CalendarMngr.JulianToPersian(item.Start_Date.Value)</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div><!-- End row -->
                            <!-- End row -->
                            <hr>
                            <button id="now_compare_click" class="btn_1 green">
                                <i class="icon-search"></i>اکنون مقایسه کن
                            </button>
                        </div><!-- End rab -->
                    </form>
                </div>
</div>

            
        </div>
    </section><!-- End hero -->

    <div class="container margin_60">

        <div class="main_title">
            <h2>تور های <span>برتر</span></h2>
        </div>

        <div class="row">
        @if (Model != null) {
        
        foreach (var item in Model)
        {
            <div class="col-md-3 col-sm-3 wow zoomIn" data-wow-delay="0.1s">
                <div class="tour_container">
                    <div class="img_container">
                        <a @if (item.Type == "مادروکودک") { <text> href="/Agency/Baby/?id=@item.Id" </text>  } else { <text> href="/events/Single_Tour/?id=@item.Id" </text> }>


                            <img src="@($"data:image/jpeg;base64,{Convert.ToBase64String(item.images.ToList()[0].image1)}")" style="height:260px;width:260px" class="img-responsive" alt="@item.Title">

                            <div class="badge_save">تخفیف<strong>۷%</strong></div>

                            <div class="short_info">
                                @item.Profile_Tour.Name_Group<span class="price">
                                    <sup>
                                        @{
                                            if (item.Tourist_bus != null && item.Tourist_bus != 0)
                                            {
                                                <text>
                                                    @item.Tourist_bus.Value.ToString("N0")
                                                </text>
                                            }
                                            else if (item.Vip_bus != null && item.Vip_bus != 0)
                                            {
                                                <text>
                                                    @item.Vip_bus.Value.ToString("N0")
                                                </text>
                                            }
                                            else if (item.personal_car != null && item.personal_car != 0)
                                            {
                                                <text>
                                                    @item.personal_car.Value.ToString("N0")
                                                </text>
                                            }
                                            else if (item.Agency_car != null && item.Agency_car != 0)
                                            {
                                                <text>
                                                    @item.Agency_car.Value.ToString("N0")
                                                </text>
                                            }
                                        }

                                        تومان
                                    </sup>
                                </span>
                            </div>
                        </a>
</div>
                    <div class="tour_title">
                        <h3>@TruncateLongStringcs.TruncateLongString(item.Title,32)</h3>
                        <div class="rating">
                            @item.Type
                        </div><!-- end rating -->
                        @*<div class="wishlist">
                                <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">علاقه مند شدم</span></span></a>
                            </div>*@<!-- End wish list-->
                    </div>
                </div><!-- End box tour -->
            </div>
        }
                                    }
        </div><!-- End row -->
        <p class="text-center nopadding">
            <a href="/Events/All_Tour" class="btn_1 medium"><i class="icon-eye-7"></i>دیدن همه تور ها </a>
        </p>
    </div><!-- End container -->
    <div class="container margin_60" id="info">

        <div class="main_title">
            <h2>چرا <span>اینجا ؟</span></h2>
            <p>
                مختصری در مورد خدمات
            </p>
        </div>
        <div class="row">
            <div class="col-md-4 wow zoomIn" data-wow-delay="0.2s">
                <div class="feature_home">
                    <i class="icon_set_1_icon-35"></i>
                    <h3><span> تضمین </span>مناسب ترین قیمت </h3>
                    <p>تور با مناسب ترین قیمت رو برای خودت انتخاب کن</p>

                </div>
            </div>
            <div class="col-md-4 wow zoomIn" data-wow-delay="0.4s">
                <div class="feature_home">
                    <i class="icon_set_1_icon-53"></i>
                    <h3><span>تمام </span> تورها یکجا</h3>
                    <p>تورهارو مقایسه کن.بهترین رو انتخاب کن</p>
                </div>
            </div>
            <div class="col-md-4 wow zoomIn" data-wow-delay="0.6s">
                <div class="feature_home">
                    <i class="icon_set_1_icon-57"></i>
                    <h3><span>پشتیبانی </span> ۲۴ ساعته</h3>
                    <p>سوال داری؟همین الان تماس بگیر </p>
                </div>
            </div>
        </div>
        <hr id="guide">
        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-5 col-sm-6 hidden-xs">
                <img src="~/Content/Template/img/bag.png" alt="Laptop" class="img-responsive" style="width: 400px!important; height: 260px!important;"!important>
            </div>
            <div class="col-md-6 col-sm-6">
                <h3><span>راهنما</span></h3>
                <p>خیلی ساده تورتو رزرو کن</p>
                <ul class="list_order">
                    <li><span>۱</span>همه تورهارو یکجا ببین</li>
                    <li><span>۲</span>باهم مقایسشون کن</li>
                    <li><span>۳</span>بهترینشو برا خودت انتخاب کن</li>
                </ul>
            </div>
        </div>
    </div><!-- End container -->
    <!-- Common scripts -->
    <script src="~/Content/Template/js/jquery-1.11.2.min.js"></script>
    <script src="~/Content/Template/js/common_scripts_min.js"></script>
    <script src="~/Content/Template/js/functions.js"></script>
    <!--datepicker script-->
    <script src="~/Content/Plugins/MdBootstrapPersianDateTimePicker/jalaali.js" type="text/javascript"></script>
    <script src="~/Content/Plugins/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.js" type="text/javascript"></script>
    <script src="~/Content/Template/js/icheck.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
    <script>
        $(window).resize(function () {
            if ($(window).width() < 800) {
                //small screen, load other JS files
                $("img").css("width", "auto");
                $("img").css("height", "auto");
            } else {
                $("img").css("width", "260px");
                $("img").css("height", "260px");
            }
        });
    </script>
    <script>
        $(document).ready(function () {

            $('#myform').validate({ // initialize the plugin
                
                rules: {
                    start_date: {
                        required: true,
                        errorLabelContainer: "#summary",
                        errorContainer: "#summary",
                    },
                    end_date: {
                        required: true,
                        errorLabelContainer: "#summary",
                        errorContainer: "#summary",
                    }
                },
                messages: {
                    start_date: {
                        required: "وارد کردن تاریخ الزامی است",
                       
                    },
                    end_date: {
                        required: "وارد کردن تاریخ الزامی است",
                        
                    },
                    
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });

        });
    </script>
    <script>
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-grey',
            radioClass: 'iradio_square-grey'
        });
    </script>
    <script>
        $('#search_index_click').click(function () {
            var jqxhr = $.getJSON("/home/check/?option=search_index_click", function (data) {
            })
        });
        $('#compare_index_click').click(function () {
            var jqxhr = $.getJSON("/home/check/?option=compare_index_click", function (data) {
            })
        });
        $('#now_search_click').click(function () {
            var jqxhr = $.getJSON("/home/check/?option=now_search_click", function (data) {
            })
        });
        $('#now_compare_click').click(function () {
            var jqxhr = $.getJSON("/home/check/?option=now_compare_click", function (data) {
            })
        });
        $('#now_compare_click').click(function () {
            var jqxhr = $.getJSON("/home/check/?option=now_compare_click", function (data) {
            })
        });
    </script>
    <script src="~/Content/Template/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/Template/js/bootstrap-timepicker.js"></script>
    <script>
        $('input.date-pick').datepicker('setDate', 'today');
        $('input.time-pick').timepicker({
            minuteStep: 15,
            showInpunts: false
        });
    </script>
    <script src="~/Content/Template/js/jquery.ddslick.js"></script>
    <script>
        $("select.ddslick").each(function () {
            $(this).ddslick({
                showSelectedHTML: true
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#1").attr("disabled", "disabled");
        });
    </script>
</body>
</html>