﻿﻿
@{
    Layout = "~/Views/Shared/_LayoutMainPage.cshtml";
}
@using Tourist.Models
@using Tourist.CommonMethods
@using System.Globalization;
@using Compress;
@model Tuple<List<Tour>, List<Tour>, List<Profile_Tour>>
<head>
    <title>توریپس | Tourips</title>
    <!-- Add custom CSS here -->
    <link href="~/Content/newTemplate/cssMain/stylemain.css" rel="stylesheet">
    <link href="~/Content/newTemplate/cssMain/flexslider.css" rel="stylesheet">
    <link href="~/Content/newTemplate/cssMain/bootstrap-theme.min.css" rel="stylesheet">
    <link href="~/Content/newTemplate/css/simple-line-icons.css" rel="stylesheet" />
    <link href="~/Content/newTemplate/slick/slick.css" rel="stylesheet" />
    <link href="~/Content/newTemplate/slick/slick-theme.css" rel="stylesheet" />
    <link href="~/Content/newTemplate/cssMain/flickity.min.css" rel="stylesheet" />

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    @*<div id="coverp"> <span class="fa fa-spinner"></span> دنیای جدیدی از تفریحات</div>*@
    <!-- Full Page Image Header Area -->
    <img class="mainbackground" src="/Content/newTemplate/img/193894.jpg" style="max-height: 375px;">
    <div id="about" class="header" style="max-height:401px;margin-top: -50px;">

        <img class="maskHeader">
        <div class="main-caption">

            <img src="~/Content/Logo/logowhite.png" alt="logo" style="height:123px;width:123px" />
            @*<img src="~/Content/newTemplate/img/jk.png" alt="logo" />*@

            <!-- slider -->
            <div id="flexx-head" class="flexxslider">
                <ul class="slidess">
                    <li>
                        <h1>توریپس</h1>
                        <h2>به مرجع تورهای خاص و باحال خوش آمدید</h2>
                    </li>
                </ul>
            </div>
            <!-- end slider -->
            <a href="#Tours" class="btn btnAbout btn-clear border-color color-primary btn-lg animated-button victoria-one more" style="margin-top: 0px;"><i class="fa fa-arrow-down"></i>&nbsp; مشاهده تورها</a>
        </div><!--  end main caption -->
    </div>
    <!-- end header -->
    <!-- /Full Page Image Header Area -->
    <section class="search-banner bg-danger text-white py-5" id="search-banner">
        <div class="container py-5 my-5">
            <div class="row text-center pb-4">
                <div class="col-md-12">
                    <h2 style="color: white;">تور مناسب من</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <form action="/Events/SearchTour" id="search_form" method="post" enctype="multipart/form-data">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-2 col-sm-2 ">
                                        <div class="form-group ">
                                            <select id="inputdestination" class="form-control forminput">
                                                <option value="شیراز" selected>ازکجا؟(درحال حاضر شیراز)</option>
                                                <option value="تهران" disabled id="1">تهران (به زودی...)</option>
                                                <option value="اصفهان" disabled id="2">اصفهان(به زودی...)</option>
                                                <option value="بندرعباس" disabled="disabled" id="3">بندرعباس(به زودی...)</option>
                                                <option value="بوشهر" disabled="disabled" id="4">بوشهر(به زودی...)</option>
                                                <option value="کرمان" disabled="disabled" id="5">کرمان(به زودی...)</option>
                                                <option value="مشهد" disabled="disabled" id="6">مشهد(به زودی...)</option>
                                                <option value="یزد" disabled="disabled" id="7">یزد(به زودی...)</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <div class="form-group ">
                                            <select id="inputPlace" name="type" class="form-control forminput">
                                                <option value="0" selected>چه نوع توری؟کویرنوردی</option>
                                                <option value="0">همه</option>
                                                <option value="طبیعت گردی">طبیعت گردی</option>
                                                <option value="کوه نوردی">کوه نوردی</option>
                                                <option value="آب نوردی">آب نوردی</option>
                                                <option value="پیاده روی">پیاده روی</option>
                                                <option value="صخره نوردی">صخره نوردی</option>
                                                <option value="رفتینگ">رفتینگ</option>
                                                <option value="آفرود">آفرود</option>
                                                <option value="بافت گردی">بافت گردی</option>
                                                <option value="روستا گردی">روستا گردی</option>
                                                <option value="کویر نوردی">کویر نوردی</option>
                                                <option value="فستیوال رنگ">فستیوال رنگ</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <div class="form-group ">
                                            <select id="inputTime" name="day" class="form-control forminput">
                                                <option value="0" selected>چند روزه؟</option>
                                                <option value="0">همه</option>
                                                <option value=".5">نیم روزه</option>
                                                <option value="1">یک روزه</option>
                                                <option value="2">چند روزه</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <div class="form-group ">
                                            <input name="what" class="form-control forminput" placeholder="هرچی میخوای بنویس">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2 BtnWrapperSearch">
                                        <a href="javascript:{}" onclick="document.getElementById('search_form').submit();" id="srchbtn" class="btn btn-sm animated-button victoria-one"><i class="fa fa-search"> </i>بگرد</a>
                                    </div>
                                    <div class="col-md-1"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Category Area -->
    <div id="Category" class="page clearfix">
        <div class="container">
            <div class="container-fluid" style="padding-right: 25px; padding-left: 25px;">
                <div class="row social">
                    <div id="categoryslide">
                        <div class="col-md-2 col-sm-4">
                            <a href="/Events/SearchTourbytype?type=آفرود" class="link cat" target="_parent" style="margin-right: 0px;"><img class="categ" src="~/Content/newTemplate/img/off-road.png" /></a>
                            <div>آفرود</div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <a href="/Events/SearchTourbytype?type=آبنوردی" class="link cat" target="_parent"><img class="categ" src="~/Content/newTemplate/img/sea.png" /></a>
                            <div>آبنوردی</div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <a href="/Events/SearchTourbytype?type=طبیعت گردی" class="link cat" target="_parent"><img class="categ" src="~/Content/newTemplate/img/summer.png" /></a>
                            <div>طبیعت گردی</div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <a href="/Events/SearchTourbytype?type=کوهنوردی" class="link cat" target="_parent"><img class="categ" src="~/Content/newTemplate/img/man-climbing.png" /></a>
                            <div>کوهنوردی</div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <a href="/Events/SearchTourbytype?type=کویرگردی" class="link cat" target="_parent"><img class="categ" src="~/Content/newTemplate/img/dunes.png" /></a>
                            <div> کویرگردی</div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <a href="/Events/SearchTourbytype?type=مادروکودک" class="link cat" target="_parent"><img class="categ" src="~/Content/newTemplate/img/motherhood.png" /></a>
                            <div>مادر و کودک</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Tourips isnt ?!-->
    <div class="touripswrapper">
        <h1 class="touripstitr">توریپس یک آژانس مسافرتی نیست!</h1>
        <h3 class="touripstitr2">توریپس یک واسط بی طرف بین برگزارکنندگان تور و گردشگران هست، که به دنبال فراهم کردن تجربه های جدید و هیجان انگیز برای علاقه مندان به سفر است.</h3>
    </div>
    <!-- Tours -->
    @if (Model.Item1 != null)
    {
        <div id="Tours" class="page clearfix">
            <div class="container">
                <h2 id="ToursHeader">تورها</h2>
                <div class="row tourRow">
                    @foreach (var item in Model.Item1)
                    {
                        Models.DayCounts day = new Models.DayCounts(item);

                        <form action="/Events/SingleTour" method="get" enctype="multipart/form-data">
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                <div class="tourcontainer">
                                    <header class="tourheader">
                                        <div class="bio">
                                            <img src="@(item.images.SmalImage().First().Path)" alt="background" class="bg lazy">
                                            <h4><span>@item.Type</span></h4>
                                            <!--     <div class="ribbon"><span>5% تخفیف</span></div>  -->
                                        </div>
                                    </header>
                                    <div class="content">
                                        <h4 class="tourtitr">@TruncateLongStringcs.TruncateLongString(item.Title, 34)</h4>
                                        <div class="data">
                                            <ul>
                                                <li>
                                                    <span>قیمت</span>
                                                    @{
                                                        if (item.Tourist_bus != null && item.Tourist_bus != 0)
                                                        {
                                                            <text>
                                                                @item.Tourist_bus.Value.ToString("N0")
                                                            </text>
                                                        }
                                                        else if (item.Vip_bus != null && item.Vip_bus != 0)
                                                        {
                                                            <text>
                                                                @item.Vip_bus.Value.ToString("N0")
                                                            </text>
                                                        }
                                                        else if (item.personal_car != null && item.personal_car != 0)
                                                        {
                                                            <text>
                                                                @item.personal_car.Value.ToString("N0")
                                                            </text>
                                                        }
                                                        else if (item.Agency_car != null && item.Agency_car != 0)
                                                        {
                                                            <text>
                                                                @item.Agency_car.Value.ToString("N0")
                                                            </text>
                                                        }
                                                    }
                                                </li>
                                                <li>
                                                    <span>تاریخ حرکت</span>
                                                    @CalendarMngr.JulianToPersian(item.Start_Date.Value)
                                                </li>
                                                <li>
                                                    <span>مدت</span>
                                                    @day.GetDay() روزه

                                                </li>
                                            </ul>
                                        </div>
                                        <button type="submit" class="follow center center-align center-block">  جزییات کامل</button>
                                    </div>
                                    <input type="hidden" name="id" value="@item.Id" />
                                </div>
                            </div>
                        </form>
                    }
                </div>
                <div id="wrapperbtn">
                    <a href="/Events/All_Tour" id="seealltours" class="btn btn-sm ">مشاهده تمامی تورها</a>
                </div>
            </div>
        </div>
    }
    <hr />
    <!--benefits card-->
    <div class="container">
        <h2 id="ourbenefits" class="black">مزیت های ما</h2>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12" id="padneed">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                            <img src="~/Content/newTemplate/img/online.png" width="68" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>رزرو آنلاین</h4>
                            <p>هر موقع از شبانه روز که خواستی , خیلی ساده تر از خرید تلفنی , تور خودت رو آنلاین ثبت نام کن و بلیتت رو بگیر.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                            <img src="~/Content/newTemplate/img/تنوع تور.png" width="68" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>تنوع تور</h4>
                            <p>همه تورها با سبک های مختلف رو یکجا ببین, باهم مقایسشون کن و بهترینش رو برای خودت انتخاب کن.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                            <img src="~/Content/newTemplate/img/انتخاب تور.png" width="68" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>انتخاب آگاهانه</h4>
                            <p style="font-size:12px;">برگزارکننده‌های مختلف رو دقیق تر بشناس و با استفاده از نظرات‌دیگران, امتیازهای مسافران به آنها از سبک و کیفیت‌تور هرکدام به خوبی مطلع‌شو.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                            <img src="~/Content/newTemplate/img/پشتیبانی.png" width="68" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>پشتیبانی 24 ساعته</h4>
                            <p>در هر زمان که نیاز به پشتیبانی و راهنمایی داشتی با شماره <strong>09917458060</strong> تماس بگیر. کارشناسان ما با دل و جان پاسخگو هستند.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--what tourips is-->
    <div id="What">
        <div class="whattourips">
            <div class="whatheader">
                <h1>توریپس چیه؟</h1>
            </div>
            <div class="ourdef">
                توریپس بستری هست که، همه تورهای باحال با سبک های متفاوت، از لیدرهای مختلف رو کنارهم جمع میکنه، تا علاقه مندان سفر به همه تورهای پیش رو دسترسی داشته باشن
                و بتونن با توجه به نظرات و امتیاز های دیگران و همچنین شرایط و علاقه خودشون مناسب ترین تور رو انتخاب کنن و در کمترین زمان، به صورت آنلاین در فضایی امن ثبت نام کنن.
            </div>
            <div class="charwrap">
                <img class="touripschar" src="~/Content/newTemplate/img/touripscharacter.png" alt="tourips-character" style="display:none;" />
            </div>
        </div>
    </div>
    <!-- Weblog-->
    @if (Model.Item2 != null && Model.Item2.Count != 0)
    {
        <div id="blog" class="clearfix">
            <div class="container-fluid">
                <div class="container">
                    <h2 id="MagazineHeader">مجله گردشگری توریپس</h2>
                    <div class="row webblog">
                        <div class="gallery js-flickity carousel weblogcarousel" data-flickity-options='{"pageDots": false ,"freeScroll": true ,"pauseAutoPlayOnHover": false , "watchCSS": true , "autoPlay": 3000}'>
                            <div class="col-md-3 col-sm-4 col-xs-12 gallery-cell">
                                <div class="card-content">
                                    <div class="card-img">
                                        <img src="https://placeimg.com/380/230/nature" alt="">
                                        <h4><span>دسته بندی</span></h4>
                                    </div>
                                    <div class="card-desc">
                                        <h3>تیتر</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                                            voluptas totam
                                        </p>
                                        <div class="follow"> <div class=""></div> بیشتر</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12 gallery-cell">
                                <div class="card-content">
                                    <div class="card-img">
                                        <img src="https://placeimg.com/380/230/nature" alt="">
                                        <h4><span>دسته بندی</span></h4>
                                    </div>
                                    <div class="card-desc">
                                        <h3>تیتر</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                                            voluptas totam
                                        </p>
                                        <div class="follow"> <div class=""></div> بیشتر</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12 gallery-cell">
                                <div class="card-content">
                                    <div class="card-img">
                                        <img src="https://placeimg.com/380/230/nature" alt="">
                                        <h4><span>دسته بندی</span></h4>
                                    </div>
                                    <div class="card-desc">
                                        <h3>تیتر</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                                            voluptas totam
                                        </p>
                                        <div class="follow"> <div class=""></div> بیشتر</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12 gallery-cell">
                                <div class="card-content">
                                    <div class="card-img">
                                        <img src="https://placeimg.com/380/230/nature" alt="">
                                        <h4><span>دسته بندی</span></h4>
                                    </div>
                                    <div class="card-desc">
                                        <h3>تیتر</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                                            voluptas totam
                                        </p>
                                        <div class="follow"> <div class=""></div> بیشتر</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="wrapperbtn2">
                    <a href="#Tours" id="seeallarticles" class="btn btn-sm ">مشاهده تمامی مطالب</a>
                </div>
            </div>
        </div>
    }
    <hr />
    <!-- Main Comments-->
    <div id="comments" class="clearfix">
        <div class="container-fluid">
            <div class="container">
                <h2 id="commentsHeader">نظر همراهان توریپس</h2>
                <div class="row comments">
                    <div class="gallery js-flickity carousel" data-flickity-options='{"pageDots": false ,"freeScroll": true ,"pauseAutoPlayOnHover": false , "watchCSS": true  ,"wrapAround": true ,"prevNextButtons": false, "pageDots": false , "autoPlay": 4000}'>
                        <div class="col-md-4 col-sm-4 col-xs-12 gallery-cell">
                            <div class="cardcmt">
                                <div class="box cardcmtheader">
                                    <img src="~/Content/newTemplate/img/1g.jpg" alt="" />
                                    <h2>محمد‌مصطفی فیروزی</h2>
                                    <h4>گردشگر</h4>
                                    <p>واقعا از توری که رفتیم راضی بودم،لیدرگروه خیلی عالی و مسئولیت‌پذیر بود و خیلی خوشحالم تورم رو از وبسایت توریپس انتخاب کردم.</p>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 gallery-cell">
                            <div class="cardcmt">
                                <div class="box cardcmtheader">
                                    <img src="~/Content/newTemplate/img/3g.jpg" alt="" />
                                    <h2>مواصاتیان</h2>
                                    <h4>گردشگر</h4>
                                    <p>اهل شیراز نبودیم ،دغدغمون پیدا کردن گروه های خوب تور از شیراز بود. توری که آنلاین رزرو کردیم و رفتیم فوق العاده بود و خیلی خوش گذشت.</p>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 gallery-cell">
                            <div class="cardcmt">
                                <div class="box cardcmtheader">
                                    <img src="~/Content/newTemplate/img/2g.jpg" alt="" />
                                    <h2>وحید بازوبند</h2>
                                    <h4>گردشگر</h4>
                                    <p>لیدر عالی بود،همه جا همه جوره هوای گروه رو داشت،فکر نمیکردم هیچوقت یه تور اینقدر منظم و خوب اجرا بشه. میخواستیم خیلی بهمون خوش بگذره که با کمک توریپس همینطور هم شد.</p>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 gallery-cell">
                            <div class="cardcmt">
                                <div class="box cardcmtheader">
                                    <img src="~/Content/newTemplate/img/4g.jpg" alt="" />
                                    <h2>امیر رضا فلامرزی</h2>
                                    <h4>گردشگر</h4>
                                    <p>تور خاصی مد نظرمون بود که قبل از رفتن به تور هم حس و حالش رو بدونیم با توریپس تونستیم تور های مد نظر خودمون رو پیدا کنیم و مقایسه کنیم و در نهایت انتخاب کنیم. </p>
                                </div>


                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 gallery-cell">
                            <div class="cardcmt">
                                <div class="box cardcmtheader">
                                    <img src="~/Content/newTemplate/img/5g.jpg" alt="" />
                                    <h2>سیاوش غلامی</h2>
                                    <h4>گردشگر</h4>
                                    <p>انتخاب و رزرو تور با توریپس خیلی راحتتر بود و تجربه ای لذت بخشی بود.</p>
                                </div>


                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 gallery-cell">
                            <div class="cardcmt">
                                <div class="box cardcmtheader">
                                    <img src="~/Content/newTemplate/img/6g.jpg" alt="" />
                                    <h2>نیما کریمی</h2>
                                    <h4>گردشگر</h4>
                                    <p>زیاد به شیراز سفر میکردیم اما این سری که با رفتن به تور و انتخابش با توریپس همراه شد خیلی جذاب تر بود.</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <!--End Main Comments-->
    <div id="colligues" class="clearfix">
        <div class="container-fluid">
            <div class="container">
                <h2 id="colliguesHeader">آژانس های همکار توریپس</h2>
                <div class="row webblog">
                    @foreach (var item in Model.Item3)
                    {
                        if (item.Logo != null)
                        {
                            <div class="col-md-3 col-sm-6 col-xs-12 logocwraper">
                                <img src="@($"data:image/jpeg;base64,{Convert.ToBase64String(item.Logo)}")" width="150" height="150" />
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <!--contact-->
    <div id="contact" class="page page-bgcolor" style="margin-top: 20px;padding: 5px!important;">
        <div class="container">
            <h2 class="text-center white">با ما در تماس باشید :)</h2>
            <h3 class="text-center white" style="font-size: 1.6em;">سوالی , انتقادی , پیشنهادی !؟</h3>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <!-- Form Area -->
                    <div class="contact-form">
                        <!-- Form -->
                        <form id="contact-us" method="post" @*action="/Events/AddComment"*@ enctype="multipart/form-data" style="margin-top: 20px;">
                            <!-- Left Inputs -->
                            <div class="slideInLeft" style="padding-top: 15px;">
                                <!-- Name -->
                                <center> <span id="name-err" style="color:rgb(255, 189, 38)"></span></center>
                                <input type="text" name="name" id="name" required="required" class="form " placeholder="نام و نام خانوادگی" style="width: 95%;" />
                                <!-- Email -->
                                <center><span id="Email-err" style="color:rgb(255, 189, 38)"></span></center>
                                <input type="email" name="Email" id="Email" required="required" class="form" placeholder="ایمیل" style="width: 95%;" />
                                <!-- number -->
                                <input type="text" name="Phone" id="mobile" class="form" placeholder="شماره تماس (دل خواه)" style="width: 95%;" />
                                <!-- body -->
                                <center><span id="Body-err" style="color:rgb(255, 189, 38)"></span></center>
                                <textarea name="Body" id="Body" class="form textarea" placeholder="متن..." style="width: 95%;"></textarea>
                            </div><!-- End Left Inputs -->
                            <input type="hidden" name="tour_id" id="tour_id" value="178" />
                            <!-- Bottom Submit -->
                            <div class="relative fullwidth col-xs-12" style="margin-bottom: 20px;">
                                <!-- Send Button -->
                                <div class="follow open" type="submit" id="submit" name="submit"> ارسال نظر</div>
                            </div><!-- End Bottom Submit -->
                            <!-- Clear -->
                            <div class="clear"></div>
                        </form>
                    </div><!-- End Contact Form Area -->
                </div>
                <div class="col-sm-6 col-xs-12 white">
                    <img class="contacticon" src="/Content/newTemplate/img/%d9%be%d8%b4%d8%aa%db%8c%d8%a8%d8%a7%d9%86%db%8clg.png">
                    <div style="margin: 15px 0 22px 0;">
                        <i class="sprite sprite-location"></i>&nbsp;&nbsp;<span class="white">آدرس:</span>&nbsp; شیراز-بلوار جمهوری-ساختمان مدیریت دانشگاه شیراز- مرکز شتابدهی کوانتوم
                    </div>
                    <div style="margin: 15px 0 22px 0;">
                        <i class="sprite sprite-mail"></i>&nbsp;&nbsp;<span class="white">تلفن:</span>&nbsp; 071-35893225
                    </div>
                    <div style="margin: 15px 0 22px 0;">
                        <i class="sprite sprite-phone"></i>&nbsp;&nbsp;<span class="white">ایمیل:</span>&nbsp; tourips@gmail.com
                    </div>
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div>
    <div class="pop">
        <span>✖</span>
        <br />
        <center>
            <h1 style="color:green;font-size:19px">پیام شما با موفقیت ثبت شد</h1>
            <p>!مرسی که نظرتو با مااشتراک گذاشتی</p>
        </center>
    </div>
    <div id="backgroundDarkener"> </div>
    <!--contactEnd-->
    <!-- JavaScript -->
    <script src="~/Content/newTemplate/js/jquery.sticky.min.js" defer></script>
    <script src="~/Content/newTemplate/js/jquery.nav.js" defer></script>
    <script src="~/Content/newTemplate/js/jquery.scrollTo.js" defer></script>

    <script src="~/Content/newTemplate/js/jquery.easing.1.3.js" defer></script>
    <script src="~/Content/newTemplate/js/jquery.shuffle.js" defer></script>
    <script src="~/Content/newTemplate/js/script.js" defer></script>
    <script type="text/javascript" src="~/Content/newTemplate/js/jquery.lazy.min.js"></script>
    <script src="~/Scripts/Validation.js" defer></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js" defer></script>
    <script type="text/javascript" src="~/Content/newTemplate/slick/slick.min.js" defer></script>
    <!-- Custom JavaScript for thesecond slider -->
    <script src="~/Content/newTemplate/js/flickity.pkgd.min.js" defer></script>
    <script type="text/javascript">
        //every time page is loaded thid function would work - so if we load the page then resize it , it wouldnt execute !
        $(document).ready(function () {
            var windowWidth = $(window).width();
            if (windowWidth < 768) {
                $('#categoryslide').slick({
                    dots: true,
                    infinite: true,
                    speed: 300,
                    slidesToShow: 1,
                    centerMode: true,
                    variableWidth: true
                });
            }
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".navbarCLICK").on('click', function (e) {
                e.preventDefault();
                var target = $(this).attr('href');
                $('html, body').animate({
                    scrollTop: ($(target).offset().top)
                }, 2000);
            });

        });
    </script>

    <script>
        $(window).on('load', function () {
            $("#coverp").fadeOut(1750);
        });
        $("#submit").click(function () {
            $("#contact-us").submit();

        });
        $(function () {
            $('.lazy').lazy();
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#contact-us').validate({
                rules: {
                    name: {
                        required: true
                    },
                    Email: {
                        required: true,
                    },
                    Body: {
                        required: true
                    },
                },
                messages: {
                    name: {
                        required: "وارد کردن نام الزامی است"
                    },
                    Email: {
                        required: "وارد کردن ایمیل الزامی است",
                    },
                    Body: {
                        required: "وارد کردن پیام الزامی است"
                    },
                },
                submitHandler: function (form) {
                    //form.submit();
                    $.ajax({
                        type: 'POST',
                        url: '/Events/AddComment',
                        data: JSON.stringify({
                            Name: $('#name').val(),
                            Email: $('#Email').val(),
                            Phone: $('#mobile').val(),
                            Body: $('#Body').val(),
                            Tour_id: parseInt($('#tour_id').val())
                        }),
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        success: function (response) {
                            $(".pop ,#backgroundDarkener").fadeIn(300);
                        },
                    });
                }
            });
        });
    </script>
    <script>
        $(".pop > span, .pop ,#backgroundDarkener").on("click", function () {
            $(".pop,#backgroundDarkener").fadeOut(300);
        });
        $(document).click(function () {
            $("#NavCol").removeClass('in');
        });
    </script>

</body>
