﻿@{
    Layout = "";
}
@using Tourist.Models
@model IEnumerable<@event>
<!DOCTYPE html>
<!--[if IE 8]><html class="ie ie8"> <![endif]-->
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<html dir="rtl">
<head>
    
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="" />
        <meta name="description" content="">
        <meta name="author" content="">
        <title>نقشه</title>

        <!-- Favicons-->
        @*<link rel="shortcut icon" href="~/Content/Template/img/favicon.ico" type="image/x-icon">*@
        @*<link rel="apple-touch-icon" type="image/x-icon" href="~/Content/Template/img/apple-touch-icon-57x57-precomposed.png">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="~/Content/Template/img/apple-touch-icon-72x72-precomposed.png">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="~/Content/Template/img/apple-touch-icon-114x114-precomposed.png">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="~/Content/Template/img/apple-touch-icon-144x144-precomposed.png">*@
        <!-- CSS -->
        <link href="~/Content/Template/css/base.css" rel="stylesheet">
        <!-- slick-->
        <link rel="stylesheet" type="text/css" href="~/Content/Plugins/slick/slick.css" />
        <!-- Add the new slick-theme.css if you want the default styling-->
        <link rel="stylesheet" type="text/css" href="~/Content/Plugins/slick/slick-theme.css" />

        <!-- SPECIFIC CSS -->
        <link href="~/Content/Template/css/skins/square/grey.css" rel="stylesheet">
        <link href="~/Content/Template/css/date_time_picker.css" rel="stylesheet">
        <!-- Google web fonts -->
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css' />

    </head>


<body>
   
    <!--[if lte IE 8]>
        <p class="chromeframe">لطفا مرورگر خود را بروز کنید <strong>استفاده میکنید</strong> مرورگر قدیمی <a href="http://digiao.ir/">شما از </a>.</p>
    <![endif]-->
    <div id="preloader">
        <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>
    </div>
    <!-- End Preload -->
    <div class="layer"></div>
    <!-- Mobile menu overlay mask -->
    <style>
        header#plain .main-menu > ul > li > a {
            color: black;
        }
    </style>
    <!-- Header Plain:  add the id plain to header and change logo.png to logo_sticky.png ======================= -->
    <header id="plain" style="color:#e04f67">
        <div id="top_line">
            <div class="container" >
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6"><i class="icon-phone"></i><strong>09174542538</strong></div>
                </div><!-- End row -->
            </div><!-- End container-->
        </div><!-- End top line-->

        <div class="container" style="color:#e04f67">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div id="logo_home">
                        <h1><a href="index.html" title=""></a></h1>
                    </div>
                </div>
                <nav class="col-md-9 col-sm-9 col-xs-9">
                    <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>منوی تلفن همراه</span></a>
                    <div class="main-menu">
                        <div id="header_menu">
                            @*<img src="~/Content/Template/img/logo_sticky.png" width="160" height="34" alt="City tours" data-retina="true">*@
                        </div>
                        <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
                        <ul>
                            <li class="submenu">
                                <a href="/Home/index" class="show-submenu">صفحه اصلی </a><ul></ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:void(0);" class="show-submenu">رویداد <i class="icon-down-open-mini"></i></a>
                                <ul>
                                    <li><a href="/Events/All_Event/?kind=gallery">گالری ها</a></li>
                                    <li><a href="/Events/All_Event/?kind=cafe">کافه ها</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:void(0);" class="show-submenu">امکانات ویژه<i class="icon-down-open-mini"></i></a><ul>
                                    <li><a href="~/Home/Map">اطراف من</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="/Home/index#info" class="show-submenu">درباره ما</a>

                            </li>
                            <li class="submenu">
                                <a href="/Home/index#guide" class="show-submenu">راهنما</a>
                            </li>

                        </ul>
                    </div><!-- End main-menu -->
                    @*<ul id="top_tools">
                            <li>
                                <div class="dropdown dropdown-search">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-search"></i></a>
                                    <div class="dropdown-menu">
                                        <form>
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="جستجو...">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button" style="margin-left:0;">
                                                        <i class="icon-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown dropdown-cart">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class=" icon-basket-1"></i>سبد خرید (۰) </a>
                                    <ul class="dropdown-menu" id="cart_items">
                                        <li>
                                            <div class="image"><img src="~/Content/Template/img/thumb_cart_1.jpg" alt="image"></div>
                                            <strong>
                                                <a href="#">موزه ایران</a>۱ نفر ۲۵.۰۰۰ تومان
                                            </strong>
                                            <a href="#" class="action"><i class="icon-trash"></i></a>
                                        </li>
                                        <li>
                                            <div class="image"><img src="~/Content/Template/img/thumb_cart_2.jpg" alt="image"></div>
                                            <strong>
                                                <a href="#">برج میلاد</a>۲ نفر ۸۰.۰۰۰ تومان
                                            </strong>
                                            <a href="#" class="action"><i class="icon-trash"></i></a>
                                        </li>
                                        <li>
                                            <div class="image"><img src="~/Content/Template/img/thumb_cart_3.jpg" alt="image"></div>
                                            <strong>
                                                <a href="#">تور کیش</a>۱ نفر ۸۰.۰۰۰ تومان
                                            </strong>
                                            <a href="#" class="action"><i class="icon-trash"></i></a>
                                        </li>
                                        <li>
                                            <div>مجموع: <span>۱۸۵.۰۰۰ تومان</span></div>
                                            <a href="cart.html" class="button_drop">برو به سبد خرید</a>
                                            <a href="payment.html" class="button_drop outline">بررسی ورود</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>*@
                </nav>
            </div>
        </div><!-- container -->
    </header>

    <div id="map" class="map" style="border-bottom:none; height:100%; width:100%; position:absolute; top:0; left:0;"></div>
    <div id="map_filter">
        <ul>
            
            <li><a href="javascript:toggleMarkers('Gallery');"><i class="icon_set_1_icon-49"></i><span>گالری ها</span></a></li>
            <li><a href="javascript:toggleMarkers('cafe');"><i class="icon_set_1_icon-61"></i><span>کافه ها</span></a></li>
            @*<li id="location"><a href="javascript:toggleMarkers('location');"><i class="icon_set_1_icon-39" ></i><span>محل من</span></a></li>*@
            
        </ul>
    </div>

    <!-- Common scripts -->
    <script src="~/Content/Template/js/jquery-1.11.2.min.js"></script>
    <script src="~/Content/Template/js/common_scripts_min.js"></script>
    <script src="~/Content/Template/js/functions.js"></script>
    <!-- Map AIzaSyADxCPhOVB1TAFK3OapOL2_o1CfNmF-NoA -->
    <!--key=AIzaSyAPnB4pS-Sw8CNQKmJiRoxcSMj9p0cQjro&callback=initMap-->
    
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADxCPhOVB1TAFK3OapOL2_o1CfNmF-NoA"type="text/javascript"></script>
    @*<script src="~/Content/Template/js/map_full_page.js"></script>*@
    <script src="~/Content/Template/js/infobox.js"></script>
    <script>
        
        (function (A) {
            if (!Array.prototype.forEach)
                A.forEach = A.forEach || function (action, that) {
                    for (var i = 0, l = this.length; i < l; i++)
                        if (i in this)
                            action.call(that, this[i], i, this);
                };

        })(Array.prototype);

        var current_lat;
        var current_lon;

        function getlocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(ShowPosition,disableposition);
            } 

        }

        getlocation();
        var
            mapObject,
            markers = [],
            markersData = {
                'Gallery': [
                    @foreach (var item in Model) {
                        if (item.Profile_cafe_gallery != null) { 
                        if(item.Profile_cafe_gallery.Type_id == 2)
                        {
                    <text>
                    {
                        name: '@*@item.name*@',
                        location_latitude: @item.Profile_cafe_gallery.map_lat,
                        location_longitude: @item.Profile_cafe_gallery.map_lon,
                        map_image_url: '@*@($"data:image/jpeg;base64,{Convert.ToBase64String(item.poster)}")*@',
                        name_point: '@item.title',
                        description_point: '@*@item.summary*@',
                        get_directions_start_address: '',
                        phone: '@*@item.tel*@',
                        url_point: 'single_tour.html'
                    },
                    </text>
                            }
                        }
                    }
                ],
                'cafe': [

                @foreach (var item in Model) {
                    if (item.Profile_cafe_gallery != null) { 
                    if(item.Profile_cafe_gallery.Type_id == 1)
                    {
                    <text>
                    {
                        name: '@*@item.name*@',
                        location_latitude: @item.Profile_cafe_gallery.map_lat,
                        location_longitude: @item.Profile_cafe_gallery.map_lon,
                        map_image_url: '@*@($"data:image/jpeg;base64,{Convert.ToBase64String(item.poster)}")*@',
                        name_point: '@item.title',
                        description_point: '',
                        get_directions_start_address: '',
                        phone: '@*@item.tel*@',
                        url_point: 'single_tour.html'
                    },
                    </text>
                        }
                    }
                }
                ]

            };
        console.log("location");
        console.log(current_lat);
        if (current_lat == '') {
            console.log(current_lat)
        }

        function ShowPosition(position) {
            
            var mapOptions = {
                zoom: 15,
                center: new google.maps.LatLng(position.coords.latitude, position.coords.longitude),
                mapTypeId: google.maps.MapTypeId.ROADMAP,

                mapTypeControl: false,
                mapTypeControlOptions: {
                    style: google.maps.MapTypeControlStyle.DROPDOWN_MENU,
                    position: google.maps.ControlPosition.LEFT_CENTER
                },
                panControl: false,
                panControlOptions: {
                    position: google.maps.ControlPosition.TOP_RIGHT
                },
                zoomControl: true,
                zoomControlOptions: {
                    style: google.maps.ZoomControlStyle.LARGE,
                    position: google.maps.ControlPosition.LEFT_CENTER
                },
                scrollwheel: false,
                scaleControl: false,
                scaleControlOptions: {
                    position: google.maps.ControlPosition.LEFT_CENTER
                },
                streetViewControl: true,
                streetViewControlOptions: {
                    position: google.maps.ControlPosition.LEFT_CENTER
                },
                styles: [
                    {
                        "featureType": "landscape",
                        "stylers": [
                            {
                                "hue": "#FFBB00"
                            },
                            {
                                "saturation": 43.400000000000006
                            },
                            {
                                "lightness": 37.599999999999994
                            },
                            {
                                "gamma": 1
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "stylers": [
                            {
                                "hue": "#FFC200"
                            },
                            {
                                "saturation": -61.8
                            },
                            {
                                "lightness": 45.599999999999994
                            },
                            {
                                "gamma": 1
                            }
                        ]
                    },
                    {
                        "featureType": "road.arterial",
                        "stylers": [
                            {
                                "hue": "#FF0300"
                            },
                            {
                                "saturation": -100
                            },
                            {
                                "lightness": 51.19999999999999
                            },
                            {
                                "gamma": 1
                            }
                        ]
                    },
                    {
                        "featureType": "road.local",
                        "stylers": [
                            {
                                "hue": "#FF0300"
                            },
                            {
                                "saturation": -100
                            },
                            {
                                "lightness": 52
                            },
                            {
                                "gamma": 1
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "stylers": [
                            {
                                "hue": "#0078FF"
                            },
                            {
                                "saturation": -13.200000000000003
                            },
                            {
                                "lightness": 2.4000000000000057
                            },
                            {
                                "gamma": 1
                            }
                        ]
                    },
                    {
                        "featureType": "poi",
                        "stylers": [
                            {
                                "hue": "#00FF6A"
                            },
                            {
                                "saturation": -1.0989010989011234
                            },
                            {
                                "lightness": 11.200000000000017
                            },
                            {
                                "gamma": 1
                            }
                        ]
                    }
                ]
            };
            mapObject = new google.maps.Map(document.getElementById('map'), mapOptions);
            var marker;

            for (var key in markersData)
                markersData[key].forEach(function (item) {
                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng(item.location_latitude, item.location_longitude),
                        map: mapObject,
                        icon: '/Content/Template/img/pins/' + key + '.png',
                    });

                    if ('undefined' === typeof markers[key])
                        markers[key] = [];
                    markers[key].push(marker);
                    google.maps.event.addListener(marker, 'click', (function () {
                        closeInfoBox();
                        getInfoBox(item).open(mapObject, this);
                        mapObject.setCenter(new google.maps.LatLng(item.location_latitude, item.location_longitude));
                    }));


                });
            var myCenter = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            var marker = new google.maps.Marker({ position: myCenter });
            marker.setMap(mapObject);
        }

        function disableposition(err) {
            var mapOptions = {
                zoom: 15,
                center: new google.maps.LatLng(29.6396, 52.5274),
                mapTypeId: google.maps.MapTypeId.ROADMAP,

                mapTypeControl: false,
                mapTypeControlOptions: {
                    style: google.maps.MapTypeControlStyle.DROPDOWN_MENU,
                    position: google.maps.ControlPosition.LEFT_CENTER
                },
                panControl: false,
                panControlOptions: {
                    position: google.maps.ControlPosition.TOP_RIGHT
                },
                zoomControl: true,
                zoomControlOptions: {
                    style: google.maps.ZoomControlStyle.LARGE,
                    position: google.maps.ControlPosition.LEFT_CENTER
                },
                scrollwheel: false,
                scaleControl: false,
                scaleControlOptions: {
                    position: google.maps.ControlPosition.LEFT_CENTER
                },
                streetViewControl: true,
                streetViewControlOptions: {
                    position: google.maps.ControlPosition.LEFT_CENTER
                },
                styles: [
                    {
                        "featureType": "landscape",
                        "stylers": [
                            {
                                "hue": "#FFBB00"
                            },
                            {
                                "saturation": 43.400000000000006
                            },
                            {
                                "lightness": 37.599999999999994
                            },
                            {
                                "gamma": 1
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "stylers": [
                            {
                                "hue": "#FFC200"
                            },
                            {
                                "saturation": -61.8
                            },
                            {
                                "lightness": 45.599999999999994
                            },
                            {
                                "gamma": 1
                            }
                        ]
                    },
                    {
                        "featureType": "road.arterial",
                        "stylers": [
                            {
                                "hue": "#FF0300"
                            },
                            {
                                "saturation": -100
                            },
                            {
                                "lightness": 51.19999999999999
                            },
                            {
                                "gamma": 1
                            }
                        ]
                    },
                    {
                        "featureType": "road.local",
                        "stylers": [
                            {
                                "hue": "#FF0300"
                            },
                            {
                                "saturation": -100
                            },
                            {
                                "lightness": 52
                            },
                            {
                                "gamma": 1
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "stylers": [
                            {
                                "hue": "#0078FF"
                            },
                            {
                                "saturation": -13.200000000000003
                            },
                            {
                                "lightness": 2.4000000000000057
                            },
                            {
                                "gamma": 1
                            }
                        ]
                    },
                    {
                        "featureType": "poi",
                        "stylers": [
                            {
                                "hue": "#00FF6A"
                            },
                            {
                                "saturation": -1.0989010989011234
                            },
                            {
                                "lightness": 11.200000000000017
                            },
                            {
                                "gamma": 1
                            }
                        ]
                    }
                ]
            };
            mapObject = new google.maps.Map(document.getElementById('map'), mapOptions);
            var marker;

            for (var key in markersData)
                markersData[key].forEach(function (item) {
                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng(item.location_latitude, item.location_longitude),
                        map: mapObject,
                        icon: '/Content/Template/img/pins/' + key + '.png',
                    });

                    if ('undefined' === typeof markers[key])
                        markers[key] = [];
                    markers[key].push(marker);
                    google.maps.event.addListener(marker, 'click', (function () {
                        closeInfoBox();
                        getInfoBox(item).open(mapObject, this);
                        mapObject.setCenter(new google.maps.LatLng(item.location_latitude, item.location_longitude));
                    }));


                });
        }

        function hideAllMarkers() {
            for (var key in markers)
                markers[key].forEach(function (marker) {
                    marker.setMap(null);
                });
        };

        function toggleMarkers(category) {
            hideAllMarkers();
            closeInfoBox();

            if ('undefined' === typeof markers[category])
                return false;
            markers[category].forEach(function (marker) {
                marker.setMap(mapObject);
                marker.setAnimation(google.maps.Animation.DROP);

            });
        };

        function closeInfoBox() {
            $('div.infoBox').remove();
        };

        function getInfoBox(item) {
            return new InfoBox({
                content:
                '<div class="marker_info" id="marker_info">' +
                '<h3>' + item.name_point + '</h3>' +
                '<span>' + item.description_point + '</span>' +
                '<div class="marker_tools">' +
                '<form action="http://maps.google.com/maps" method="get" target="_blank" style="display:inline-block""><input name="saddr" value="' + item.get_directions_start_address + '" type="hidden"><input type="hidden" name="daddr" value="' + item.location_latitude + ',' + item.location_longitude + '"><button type="submit" value="Get directions" class="btn_infobox_get_directions">Directions</button></form>' +
                '<a href="tel://' + item.phone + '" class="btn_infobox_phone">' + item.phone + '</a>' +
                '</div>' +
                '<a href="' + item.url_point + '" class="btn_infobox">Details</a>' +
                '</div>',
                disableAutoPan: false,
                maxWidth: 0,
                pixelOffset: new google.maps.Size(10, 125),
                closeBoxMargin: '5px -20px 2px 2px',
                closeBoxURL: "http://www.google.com/intl/en_us/mapfiles/close.gif",
                isHidden: false,
                alignBottom: true,
                pane: 'floatPane',
                enableEventPropagation: true
            });
        };

        $(function() {
        $('#location').click(
            function (e) {
                getlocation();
            });
        })
    </script>

</body>
</html>
