﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Verify</title>
</head>
<body>
    <div>
        <p>MID</p>
        <p>@TempData["MID"]</p>
        <p>RefNUM</p>
        <p>@TempData["RefNUM"]</p>
        <p>ResNum</p>
        <p>@TempData["ResNum"]</p>
        <p>State</p>
        <p>@TempData["State"]</p>
        <p>TraceNo</p>
        <p>@TempData["TraceNo"]</p>
    </div>
</body>
</html>
