﻿@model IdentitySample.Models.LoginViewModel

@{
       Layout = null;
}
@using Microsoft.AspNet.Identity
@using IdentitySample.Models
@using Microsoft.AspNet.Identity.Owin;
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" dir="rtl">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>توریپس | ورود</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="ورود به توریپس" name="description" />
    <meta content="Siandarbouy" name="author" />
    <!-- Favicons-->
    <link rel="shortcut icon" href="~/Content/Logo/LogoPng.png" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="~/Content/Logo/LogoPng.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="~/Content/Logo/LogoPng.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="~/Content/Logo/LogoPng.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="~/Content/Logo/LogoPng.png">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="~/Content/newTemplate/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/plugins/bootstrap/css/bootstrap-rtl.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/plugins/bootstrap-switch/css/bootstrap-switch-rtl.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="~/Content/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="~/Content/assets/global/css/components-md-rtl.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/Content/assets/global/css/plugins-md-rtl.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="~/Content/assets/pages/css/login-4-rtl.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
    <script type="text/javascript">
        window.heap = window.heap || [], heap.load = function (e, t) { window.heap.appid = e, window.heap.config = t = t || {}; var r = t.forceSSL || "https:" === document.location.protocol, a = document.createElement("script"); a.type = "text/javascript", a.async = !0, a.src = (r ? "https:" : "http:") + "//cdn.heapanalytics.com/js/heap-" + e + ".js"; var n = document.getElementsByTagName("script")[0]; n.parentNode.insertBefore(a, n); for (var o = function (e) { return function () { heap.push([e].concat(Array.prototype.slice.call(arguments, 0))) } }, p = ["addEventProperties", "addUserProperties", "clearEventProperties", "identify", "resetIdentity", "removeEventProperty", "setEventProperties", "track", "unsetEventProperty"], c = 0; c < p.length; c++)heap[p[c]] = o(p[c]) };
        heap.load("3314004309");
    </script>
</head>
<!-- END HEAD -->
<body class=" login">
    <!-- BEGIN LOGO -->
    <div class="logo">
        <a>
            @*<img src="~/Content/assets/pages/img/logo2.png" alt="" />*@
        </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        <form class="login-form" action="/account/LoginConfirm" method="post">
            <center class="form-title btn-danger">@TempData["msg"]</center>
            <h3 class="form-title">ورود به توریپس</h3>
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span> لطفا نام کاربری و رمز عبور خود را وارد کنید </span>
            </div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">ایمیل</label>
                <div class="input-icon">
                    <i class="fa fa-envelope"></i>
                    <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="ایمیل" name="email" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">رمز عبور</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="رمز عبور" name="password" />
                </div>
            </div>
            <div class="form-actions">
                <label class="checkbox">
                    @Html.CheckBoxFor(x => x.RememberMe, new { name = "RememberMe" })مرا به خاطر بسپار
                </label>
                <button type="submit" class="btn green pull-right"> ورود </button>
            </div>
            <div class="forget-password">
                <h4>رمز عبور خود را فراموش کردید؟ </h4>
                <p>
                    جهت بازیابی رمز عبور
                    <a href="javascript:;" id="forget-password"> اینجا </a>  کلیک کنید
                </p>
            </div>
            <div class="create-account">
                <p>
                    هنوز عضو توریپس نشده اید؟ &nbsp;
                    <a href="javascript:;" id="Register" class="btn btn-danger"><i class="fa fa-pencil"></i> ثبت نام </a>
                </p>
            </div>
        </form>
        <!-- END LOGIN FORM -->
        <!-- BEGIN FORGOT PASSWORD FORM -->
        <form class="forget-form" action="/account/PasswordRecovery" method="post">
            <h3>رمز عبور خود را فراموش کرده اید؟</h3>
            <p> جهت بازیابی رمز عبور ایمیل خود را وارد نمایید </p>
            <div class="form-group">
                <div class="input-icon">
                    <i class="fa fa-envelope"></i>
                    <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="ایمیل" name="username" />
                </div>
            </div>
            <div class="form-actions">
                <button type="button" id="back-btn" class="btn red btn-outline">بازگشت </button>
                <button type="submit" class="btn green pull-right"> بازیابی </button>
            </div>
        </form>

        <form class="register-form" action="/account/RegisterAgency" method="post" enctype="multipart/form-data" hidden>
            <h3>ثبت آژانس</h3>
            <div class="first-state">
                <p> جهت ثبت اطلاعات آژانس را وارد نمایید</p>
                <div class="form-group">
                    <div class="input-icon">
                        <i class="fa fa-hand-o-left"></i>
                        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="نام انگلیسی آژانس" name="Name_Group" />
                    </div>
                    <br>
                    <div class="input-icon">
                        <i class="fa fa-hand-o-left"></i>
                        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="نام فارسی آژانس" name="Name_Agency" />
                    </div>
                    <br>
                    <div class="input-icon">
                        <i class="fa fa-address-book" aria-hidden="true"></i>
                        <textarea class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="آدرس آژانس" name="address"></textarea>
                    </div>
                    <br />
                    <div class="input-icon">
                        <i class="fa fa-phone"></i>
                        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="تلفن آژانس" name="Tel_Agency" />
                    </div>
                    <hr />
                </div>
                @*<div class="form-actions">
                <button type="button" id="back-btn1" class="btn red btn-outline">بازگشت </button>
                <button type="submit" href="javascript:;"  id="second-state" class="btn green pull-right">مرحله بعد</button>
            </div>*@
            </div>
            <div class="second-state">
                <p> اطلاعات خود را وارد نمایید</p>
                <div class="form-group">
                    <div class="input-icon">
                        <i class="fa fa-hand-o-left"></i>
                        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="نام مدیر" name="Manager" />
                    </div>
                    <br>
                    <div class="input-icon">
                        <i class="fa fa-hand-o-left"></i>
                        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="ایمیل" name="Email" />
                    </div>
                    <br>
                    <div class="input-icon">
                        <i class="fa fa-phone"></i>
                        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="موبایل" name="mobile" />
                    </div>
                    <br />
                    <div class="input-icon">
                        <i class="fa fa-phone"></i>
                        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="شهر" name="city" />
                    </div>
                    <hr />
                </div>
                @*<div class="form-actions">
                <button type="button" id="back-first-state" class="btn red btn-outline">بازگشت </button>
                <button type="submit" href="javascript:;" id="Last-state" class="btn green pull-right">مرحله بعد</button>
            </div>*@
            </div>
            <div class="Last-state">
                <p> اطلاعات مجوز را وارد نمایید</p>
                <div class="form-group">
                    <div class="input-icon">
                        <i class="fa fa-sort-numeric-asc"></i>
                        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="شماره مجوز بند ب" name="Number_License" />
                    </div>
                    <br>
                    <div class="input-icon">
                        <i class="fa fa-calendar-times-o"></i>
                        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="تاریخ انقضای مجوز" name="Expiration_License" />
                    </div>
                    <br>
                    <div class="input-icon">
                        <i class="fa fa-photo"></i>
                        <input class="form-control fileinput-button fileinput" type="file" onchange="fileCheck(this)" id="js-upload-files" placeholder="تصویر مجوز بند ب" name="license_image" accept="image/*" />
                    </div>
                    <hr />
                </div>
                @*<div class="form-actions">
                <button type="button" id="back-second-state" class="btn red btn-outline">بازگشت</button>
                <button type="button" class="btn green pull-right">ثبت</button>
            </div>*@
                <div class="form-actions">
                    <button type="button" id="back-btn1" class="btn red btn-outline">بازگشت</button>
                    <button type="submit" id="btn-submit" class="btn green pull-right">ثبت</button>
                </div>
            </div>

        </form>
        <!-- END FORGOT PASSWORD FORM -->

    </div>
    <!-- END LOGIN -->
    <!-- BEGIN COPYRIGHT -->
    @*<div class="copyright"> کلیه حقوق این سامانه برای تیم <a target="_blank">دونیکس</a> محفوظ است </div>*@
    <!-- END COPYRIGHT -->
    <!--[if lt IE 9]>
    <script src="~/Content/assets/global/plugins/respond.min.js"></script>
    <script src="~/Content/assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->

    <script src="~/Content/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="~/Content/Template/js/common_scripts_min.js"></script>
    <script src="~/Content/Template/js/functions.js"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/Content/assets/global/plugins/jquery-validation/js/jquery.validate.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/select2/js/select2.full.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="~/Content/assets/global/scripts/app.min.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/Content/assets/pages/scripts/login-4.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->

    <script>
        jQuery('#Register').click(function () {
            jQuery('.login-form').hide();
            jQuery('.register-form').show();
        });

        jQuery('#back-btn1').click(function () {
            jQuery('.login-form').show();
            jQuery('.register-form').hide();
        });
    </script>
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <!-- END THEME LAYOUT SCRIPTS -->
</body>
</html>