﻿@{
    ViewBag.Title = "Home Page";
}
@using Tourist.CommonMethods
@using IdentitySample.Models
@model RegisterViewModel
<!DOCTYPE html>
<link href="~/Content/Template/css/shop.css" rel="stylesheet">
<link href="~/Content/Template/rs-plugin/css/settings.css" rel="stylesheet">
<link href="~/Content/Template/css/extralayers.css" rel="stylesheet" />
<title>توریپس | ثبت نام</title>
<meta name="description" content="ثبت نام در توریپس" />
<link href="~/Content/parallax.css" rel="stylesheet" />
<link href="~/Content/Plugins/btcursel/carousel.css" rel="stylesheet" />
<script type="text/javascript">
    window.heap = window.heap || [], heap.load = function (e, t) { window.heap.appid = e, window.heap.config = t = t || {}; var r = t.forceSSL || "https:" === document.location.protocol, a = document.createElement("script"); a.type = "text/javascript", a.async = !0, a.src = (r ? "https:" : "http:") + "//cdn.heapanalytics.com/js/heap-" + e + ".js"; var n = document.getElementsByTagName("script")[0]; n.parentNode.insertBefore(a, n); for (var o = function (e) { return function () { heap.push([e].concat(Array.prototype.slice.call(arguments, 0))) } }, p = ["addEventProperties", "addUserProperties", "clearEventProperties", "identify", "resetIdentity", "removeEventProperty", "setEventProperties", "track", "unsetEventProperty"], c = 0; c < p.length; c++)heap[p[c]] = o(p[c]) };
    heap.load("3314004309");
</script>

<html dir="rtl">
<body>

    @*<div id="preloader">
        <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>
    </div>*@
    <!-- End Preload -->
    <div class="layer"></div>
    <!-- Mobile menu overlay mask -->
    <!-- Header================================================== -->
    <section id="hero" class="login">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                    <div id="login">
                        <h3 style="text-align:center;color:#85c99d">ثبت نام</h3>
                        <hr>
                        <form  action="/account/RegisterConfirm">
                            <div class="form-group">
                                <label>پست الکترونیک</label>
                                @Html.TextBoxFor(x=>x.Email,new { placeholder = "پست الکترونیک", type = "email", @class=" form-control"})
                                <div style="color:red">
                                @Html.ValidationMessageFor(x=>x.Email)
                                </div>
                                @*<input type="email" style="color:red" class=" form-control" placeholder="پست الکترونیک">*@
                            </div>
                            <div class="form-group">
                                <label>کلمه عبور</label>
                                @Html.PasswordFor(x => x.Password, new { placeholder = "کلمه عبور", type = "password", id = "password1", @class = "form-control" })
                                <div style="color:red">
                                    @Html.ValidationMessageFor(x => x.Password)
                                </div>
                                    @*<input type="password" class=" form-control" id="password1" placeholder="کلمه عبور">*@
                                </div>
                            <div class="form-group">
                                <label>تکرار کلمه عبور</label>
                                @Html.PasswordFor(x => x.ConfirmPassword, new { placeholder = "تکرار کلمه عبور", type = "password", id = "password2", @class = "form-control" })
                                <div style="color:red">
                                    @Html.ValidationMessageFor(x => x.ConfirmPassword)
                                </div>
                                    @*<input type="password" class=" form-control" id="password2" placeholder="تکرار کلمه عبور">*@
                                </div>
                            <h6 style="color:red">@TempData["msg"]</h6>
                            <button class="btn_full">ایجاد حساب کاربری</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Common scripts -->
    <script src="~/Content/Template/js/jquery-1.11.2.min.js"></script>
    <script src="~/Content/Template/js/common_scripts_min.js"></script>
    <script src="~/Content/Template/js/functions.js"></script>
    <!--datepicker script-->
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <script src="~/Content/Template/js/icheck.js"></script>
    <script>
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-grey',
            radioClass: 'iradio_square-grey'
        });
    </script>

    <script>
        $('input.date-pick').datepicker('setDate', 'today');
        $('input.time-pick').timepicker({
            minuteStep: 15,
            showInpunts: false
        })
    </script>
    <script src="~/Content/Template/js/jquery.ddslick.js"></script>
    <script>
        $("select.ddslick").each(function () {
            $(this).ddslick({
                showSelectedHTML: true
            });
        });
    </script>

</body>
</html>