﻿
@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}

@using Tourist.Models
@model Tour
<!DOCTYPE html>
<!--[if IE 8]><html class="ie ie8"> <![endif]-->
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<html dir="rtl">
<head>
    <title>دوردور | اضافه کردن تور</title>
    <meta name="description" content="اضافه کردن تورهای دوردور" />
    <!-- Favicons-->
    @*<link rel="shortcut icon" href="~/Content/Template/img/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" type="image/x-icon" href="~/Content/Template/img/apple-touch-icon-57x57-precomposed.png">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="~/Content/Template/img/apple-touch-icon-72x72-precomposed.png">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="~/Content/Template/img/apple-touch-icon-114x114-precomposed.png">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="~/Content/Template/img/apple-touch-icon-144x144-precomposed.png">*@
    <!-- CSS -->
    <link href="~/Content/Template/css/base.css" rel="stylesheet">
    <!--datepicker-->
    <link rel="stylesheet" href="~/Content/plugins/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.css" />
    <!--Timepicker-->
    <link href="~/Content/Plugins/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <!-- SPECIFIC CSS -->
    <link href="~/Content/Template/css/admin.css" rel="stylesheet">
    <link href="~/Content/Template/css/jquery.switch.css" rel="stylesheet">
    <!-- Google web fonts -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <!--dastebandi-->
    <link href="~/Content/Plugins/tagsinput/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="~/Content/Plugins/tagsinput/typeahead/typeahead.css" rel="stylesheet" />
    <!--text area-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/Plugins/textarea/css/froala_editor.css">
    <link rel="stylesheet" href="~/Content/Plugins/textarea/css/froala_style.css">
    <link rel="stylesheet" href="~/Content/Plugins/textarea/css/plugins/code_view.css">
    <link rel="stylesheet" href="~/Content/Plugins/textarea/css/plugins/colors.css">
    <link rel="stylesheet" href="~/Content/Plugins/textarea/css/plugins/emoticons.css">
    <link rel="stylesheet" href="~/Content/Plugins/textarea/css/plugins/image_manager.css">
    <link rel="stylesheet" href="~/Content/Plugins/textarea/css/plugins/image.css">
    <link rel="stylesheet" href="~/Content/Plugins/textarea/css/plugins/line_breaker.css">
    <link rel="stylesheet" href="~/Content/Plugins/textarea/css/plugins/table.css">
    <link rel="stylesheet" href="~/Content/Plugins/textarea/css/plugins/char_counter.css">
    <link rel="stylesheet" href="~/Content/Plugins/textarea/css/plugins/video.css">
    <link rel="stylesheet" href="~/Content/Plugins/textarea/css/plugins/fullscreen.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">
    <!--end textarea-->
    <script src="~/Content/Plugins/24hours.js"></script>
    <!--time picker templatw-->
    <link rel="stylesheet" href="~/Content/Template/css/date_time_picker.css" />
    <script type="text/javascript">
        window.heap = window.heap || [], heap.load = function (e, t) { window.heap.appid = e, window.heap.config = t = t || {}; var r = t.forceSSL || "https:" === document.location.protocol, a = document.createElement("script"); a.type = "text/javascript", a.async = !0, a.src = (r ? "https:" : "http:") + "//cdn.heapanalytics.com/js/heap-" + e + ".js"; var n = document.getElementsByTagName("script")[0]; n.parentNode.insertBefore(a, n); for (var o = function (e) { return function () { heap.push([e].concat(Array.prototype.slice.call(arguments, 0))) } }, p = ["addEventProperties", "addUserProperties", "clearEventProperties", "identify", "resetIdentity", "removeEventProperty", "setEventProperties", "track", "unsetEventProperty"], c = 0; c < p.length; c++)heap[p[c]] = o(p[c]) };
        heap.load("3314004309");
    </script>

</head>
<body>
    <!--[if lte IE 8]>
        <p class="chromeframe">لطفا مرورگر خود را بروز کنید <strong>استفاده میکنید</strong> مرورگر قدیمی <a href="http://digiao.ir/">شما از </a>.</p>
    <![endif]-->
    @*<div id="preloader">
            <div class="sk-spinner sk-spinner-wave">
                <div class="sk-rect1"></div>
                <div class="sk-rect2"></div>
                <div class="sk-rect3"></div>
                <div class="sk-rect4"></div>
                <div class="sk-rect5"></div>
            </div>
        </div>*@
    <!-- End Preload -->
    <div class="layer"></div>
    <!-- Mobile menu overlay mask -->
    <!-- Header================================================== -->


    <section class="parallax-window" data-parallax="scroll" data-image-src="/Content/Template/img/tourist_guide.jpg" data-natural-width="1400" data-natural-height="470">
        <div class="parallax-content-1">
            <div class="animated fadeInDown">
                <h1 style="color:orange">@TempData["cm"]</h1>
            </div>
        </div>
    </section><!-- End section -->
    @*<div id="position">
            <div class="container">
                <ul>
                    <li><a href="#">صفحه اصلی</a></li>
                    <li><a href="#">دسته بندی</a></li>
                    <li>صفحه فعال</li>
                </ul>
            </div>
        </div>*@<!-- End Position -->
    <div class="margin_60 container">
        <div id="tabs" class="tabs">
            <nav>
                <ul>
                    <li><a href="#section-1" class="icon-settings"><span>تور</span></a></li>

                </ul>
            </nav>
            <div class="content">
                <section id="section-1">
                    <form action="/Events/AddTourConfirm" method="post" enctype="multipart/form-data">
                        <div class="divider"></div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h4>اضافه کردن تور</h4>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>آژانس یا لیدر خود را انتخاب کنید</label>
                                    <div class="form-group">
                                        <select id="id_type" class="form-control" name="id_profile">
                                            <option value="1">انتخاب کنید...</option>

                                            @foreach (var item in ViewBag.profile)
                                            {
                                                <option value="@item.ID">@item.Name_Group</option>
                                            }

                                        </select>
                                    </div>

                                </div>
                            </div>
                            <center class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>اگر پروفال موجود نیست ایجاد کنید</label>
                                    <br />
                                    <a href="/profile/Add_profile_Tour" class="btn_1 red " id="new_profile">ایجاد پروفایل جدید</a>
                                </div>
                            </center>
                        </div><!-- End row -->
                        <hr>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>نوع تور</label>
                                    <div class="form-group">
                                        <select class="form-control" name="category">
                                            <option value="طبیعت گردی" selected>طبیعت گردی</option>
                                            <option value="کوه نوردی">کوه نوردی</option>
                                            <option value="آب نوردی">آب نوردی</option>
                                            <option value="دورهمی">دورهمی</option>
                                            <option value="صخره نوردی">صخره نوردی</option>
                                            <option value="رفتینگ">رفتینگ</option>
                                            <option value="آفرود">آفرود</option>
                                            <option value="بافت گردی">بافت گردی</option>
                                            <option value="روستا گردی">روستا گردی</option>
                                            <option value="کویر نوردی">کویر نوردی</option>
                                            <option value="فستیوال رنگ">فستیوال رنگ</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>عنوان تور</label>
                                    @Html.TextBoxFor(x => x.Title, new { placeholder = "عنوان تور", @class = "form-control" })
                                    @Html.ValidationMessageFor(Model => Model.Title, "", new { @class = "text-danger" })

                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">

                            <div class="col-md-6 col-sm-6">

                                <div class="form-group">
                                    <label>مبدا</label>
                                    <div class="form-group">
                                        @Html.TextBoxFor(x => x.Origin, new { placeholder = "مبدا", @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.Origin, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>مقصد</label>
                                    @Html.TextBoxFor(x => x.Destination, new { placeholder = "مقصد", @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.Destination, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>تاریخ</h4>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>تاریخ شروع</label>
                                    <div class="input-group">
                                        <div class="input-group-addon" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate1" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="left">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </div>
                                        @*@Html.TextBoxFor(x => x.Start_Date, new { type = "text", @class = "form-control", name = "start_date", id = "toDate1", placeholder = "از تاریخ" })*@
                                        <input type="text" class="form-control" name="start_date" id="toDate1" placeholder="از تاریخ" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate1" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="left" />
                                    </div>
                                    @*@Html.ValidationMessageFor(x => x.Start_Date, "", new { @class = "text-danger" })*@

                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>تاریخ پایان</label>
                                    <div class="input-group">
                                        <div class="input-group-addon" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate2" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="left">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </div>
                                        @*@Html.TextBoxFor(x => x.End_Date, new { type = "text", @class = "form-control", name = "end_date", id = "toDate2", placeholder = "تا تاریخ" })*@
                                        <input type="text" class="form-control" name="end_date" id="toDate2" placeholder="تا تاریخ" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate2" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="right" />
                                    </div>
                                    @*@Html.ValidationMessageFor(x => x.End_Date, "", new { @class = "text-danger" })*@

                                </div>
                            </div>
                        </div><!-- End row az inja -->
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>زمان</h4>
                            </div>

                            <div class="col-md-4 col-sm-4">
                                <div class="form-group">
                                    <label>زمان حرکت</label>
                                    @Html.TextBoxFor(x => x.Start_time, new { name = "time", id = "time", type = "time", @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.Start_time, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4">
                                <div class="form-group">
                                    <label>زمان برگشت</label>
                                    @Html.TextBoxFor(x => x.Arrival_Time, new { type = "time", @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.Arrival_Time, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="form-group">
                                    <label>مدت زمان در مسیر</label>
                                    @Html.TextBoxFor(x => x.Duration_Time, new { placeholder = "به ساعت وارد کنید", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label>محل حرکت</label>
                                    @Html.TextBoxFor(x => x.Place_Movement, new { placeholder = "محل حرکت", @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label>ظرفیت</label>
                                    @Html.TextBoxFor(x => x.Capacity, new { placeholder = "ظرفیت", @class = "form-control" })
                                    @Html.ValidationMessageFor(Model => Model.Capacity, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label>سن</label>
                                    @Html.TextBoxFor(x => x.Age, new { placeholder = "سن", @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.Age, "", new { @class = "text-danger" })


                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label>درجه سختی</label>
                                    @Html.TextBoxFor(x => x.Difficulty, new { placeholder = "درجه سختی", @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.Difficulty, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <label>قیمت</label>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label>اتوبوس توریستی</label>
                                    @Html.TextBoxFor(x => x.Tourist_bus, new { placeholder = "قیمت را وارد کنید", @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label>اتوبوس VIP</label>
                                    @Html.TextBoxFor(x => x.Vip_bus, new { placeholder = "قیمت را وارد کنید", @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label>خودرو اژانس</label>
                                    @Html.TextBoxFor(x => x.Agency_car, new { placeholder = "قیمت را وارد کنید", @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label>خودرو شخصی</label>
                                    @Html.TextBoxFor(x => x.personal_car, new { placeholder = "قیمت را وارد کنید", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <label>محل اقامت</label>
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(x => x.basic_place, new { placeholder = "محل اقامت را وارد کنید", @class = "form-control" })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(x => x.staying_place, new { placeholder = "محل اقامت را وارد کنید", @class = "form-control" })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(x => x.staying_price, new { placeholder = "قیمت را وارد کنید", @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(x => x.staying_place2, new { placeholder = "محل اقامت را وارد کنید", @class = "form-control" })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(x => x.staying_price2, new { placeholder = "قیمت را وارد کنید", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(x => x.staying_place3, new { placeholder = "محل اقامت را وارد کنید", @class = "form-control" })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(x => x.staying_price3, new { placeholder = "قیمت را وارد کنید", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>وعده غذایی</h4>
                            </div>

                            <div class=" col-lg-4 col-md-4 col-sm-4">
                                <div class="form-group ">
                                    <div class=" col-lg-4 col-md-6">
                                        <label style="padding-right:18px">
                                            صبحانه
                                        </label>
                                    </div>
                                    <div class="col-md-6">

                                        @Html.CheckBoxFor(x => x.Breakfast, new { @class = "form-control   " })
                                    </div>
                                </div>
                            </div>

                            <div class=" col-lg-4 col-md-4 col-sm-4 ">
                                <div class="form-group ">
                                    <div class=" col-lg-4 col-md-6">
                                        <label style="padding-right:18px">
                                            ناهار
                                        </label>
                                    </div>
                                    <div class="col-md-6 ">
                                        @Html.CheckBoxFor(x => x.Lunch, new { @class = "form-control check-box" })
                                    </div>
                                </div>
                            </div>
                            <div class=" col-lg-4 col-md-4 col-sm-4">
                                <div class="form-group ">
                                    <div class=" col-lg-4 col-md-6">
                                        <label style="padding-right:18px">
                                            شام
                                        </label>
                                    </div>
                                    <div class="col-md-6 ">
                                        @Html.CheckBoxFor(x => x.Dinner, new { @class = "form-control  check-box" })
                                    </div>
                                </div>
                            </div>

                            <br />
                            <br />
                            <div class="col-md-12">
                                <label>توضیحات</label>
                                @Html.TextAreaFor(x => x.Meal_Description, new { style = "margin-top: 30px", @class = "form-control", rows = "6" })
                                @*<textarea style="margin-top: 30px;width: 1025px; height: 162px;" name="travel_plan">

                                    </textarea>*@

                                <br>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <h4>امکانات</h4>
                            </div>
                            <div class="col-md-6">
                                <h4>امکانات</h4>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label>نوع امکانات</label>
                                    <select id="state_tagsinput_value" class="form-control input-large">
                                        <option value="1">راهنما</option>
                                        <option value="2">عکاس حرفه ای</option>
                                        <option value="3">کمک های اولیه</option>
                                        <option value="4">پزشک همراه</option>
                                        <option value="5">لیدر محلی</option>
                                        <option value="6">بیمه</option>
                                        <option value="7">مجوز</option>
                                        <option value="8">موتور برق</option>
                                        <option value="9">امدادگر</option>
                                        <option value="10">پرداخت ورودی ها توسط تور</option>
                                        <option value="11">آموزش و حمایت</option>
                                        <option value="12">صندلی جهت نشستن</option>
                                        <option value="13">وسایل ایمنی</option>
                                        <option value="14">لیدر به همراه گروه</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label>برای اضافه کردن کلیک کنید</label>
                                    <br>
                                    <a href="javascript:;" class="btn_1 red" id="state_tagsinput_add">افزودن</a>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <label>امکانات ارائه شده</label>
                                <br />
                                @Html.TextBox("state_tagsinput", null, new { name = "classificatio", @readonly = "readonly", @class = "form-control" })

                            </div>

                        </div><!-- End row -->
                        <hr>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>نوع وسایل ایمنی</label>
                                    @Html.TextBoxFor(x => x.facilityType, new { placeholder = "در صورت وجود", @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>نوع بیمه</label>
                                    @Html.TextBoxFor(x => x.insuranceType, new { placeholder = "در صورت وجود", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>برنامه سفر</h4>
                                @Html.TextAreaFor(x => x.Travel_plan, new { style = "margin-top: 30px", @class = "form-control", rows = "6" })
                                @*<textarea  style="margin-top: 30px;width: 1025px; height: 162px;" name="travel_plan">

                                    </textarea>*@

                                <br>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>جاذبه ها</h4>
                                @Html.TextAreaFor(x => x.Attractives, new { style = "margin-top: 30px", @class = "form-control", rows = "6" })
                                <br>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>وسایل مورد نیاز</h4>
                                @Html.TextAreaFor(x => x.needed_equipment, new { style = "margin-top: 30px", @class = "form-control", rows = "6" })
                                @*<textarea class="form-control" rows="6" style="margin-top: 30px;width: 1025px; height: 162px;" name="needed_equipment">*@
                                @*</textarea>*@
                                <br>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>آپلود</h4>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label>آپلود عکس</label>
                                    <input type="file" name="img1" id="js-upload-files" multiple style="margin-top:10px">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <br />
                        <button type="submit" id="btn1" class="btn_1 green ">ثبت تور</button>

                    </form>


                </section>

            </div>
            <!-- End row -->



        </div><!-- End content -->
    </div><!-- End tabs -->
    <div id="toTop"></div>
    <!-- Back to top button -->
    <!-- Common scripts -->
    <script src="~/Content/Template/js/jquery-1.11.2.min.js"></script>
    <script src="~/Content/Template/js/common_scripts_min.js"></script>
    <script src="~/Content/Template/js/functions.js"></script>
    <!-- Specific scripts -->
    <script src="~/Content/Template/js/tabs.js"></script>
    <script>new CBPFWTabs(document.getElementById('tabs'));</script>
    <script>
        $('.wishlist_close_admin').on('click', function (c) {
            $(this).parent().parent().parent().fadeOut('slow', function (c) {
            });
        });

    </script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <!-- dastebanddi-->
    <script src="~/Content/Plugins/tagsinput/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
    <script src="~/Content/Plugins/tagsinput/typeahead/handlebars.min.js"></script>
    <script src="~/Content/Plugins/tagsinput/typeahead/typeahead.bundle.min.js"></script>
    <script src="~/Content/Plugins/tagsinput/components-bootstrap-tagsinput.js"></script>
    <!--edn dastebanddi-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>
    <script src="~/Content/Plugins/textarea/js/froala_editor.min.js"></script>
    <script src="~/Content/Plugins/textarea/js/froala_editor.pkgd.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/froala_editor.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/align.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/code_beautifier.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/code_view.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/colors.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/draggable.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/emoticons.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/font_size.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/font_family.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/image.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/image_manager.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/line_breaker.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/link.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/lists.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/paragraph_format.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/paragraph_style.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/video.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/table.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/url.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/entities.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/char_counter.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/inline_style.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/save.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/fullscreen.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/plugins/print.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/textarea/js/languages/ro.js"></script>
    <script>
        $(function () {
            $('#edit , #edit1').froalaEditor({
                toolbarInline: false,
                direction: 'rtl'
            })
            $('#btntest').click(function () {
                alert($('#edit').val())
            })
        });
    </script>

    <!--datepicker script-->

    <script src="~/Content/Plugins/MdBootstrapPersianDateTimePicker/jalaali.js" type="text/javascript"></script>
    <script src="~/Content/Plugins/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.js" type="text/javascript"></script>
    <!--timepicker script-->

    <script src="~/Content/Plugins/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <!--timepicker script template-->
    <script src="~/Content/Template/js/bootstrap-timepicker.js"></script>
    @*<script>


        $('#toDate2').attr("data-mddatetimepicker", "true");
        $('#toDate2').attr("data-trigger", "click");
        $('#toDate2').attr("data-groupid=", "group1");
        $('#toDate2').attr("data-targetselector", "#toDate2");
        $('#toDate2').attr("data-todate", "true");
        $('#toDate2').attr("data-enabletimepicker", "false");
        $('#toDate2').attr("data-placement", "right");

    </script>
    <script>
        $('#toDate1').attr("data-mddatetimepicker", "true");
        $('#toDate1').attr("data-trigger", "click");
        $('#toDate1').attr("data-groupid=", "group1");
        $('#toDate1').attr("data-targetselector", "#toDate1");
        $('#toDate1').attr("data-todate", "true");
        $('#toDate1').attr("data-enabletimepicker", "false");
        $('#toDate1').attr("data-placement", "left");
    </script>*@

    <script>

        $('input.time-pick').timepicker({
            minuteStep: 15,
            showInpunts: true
        })
    </script>

</body>
</html>
