﻿<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>توریپس | همه تورها</title>
    <meta name="description" content="دیدن همه تورهای توریپس" />
    <!-- CSS -->
    <link href="~/Content/Template/css/base.css" rel="stylesheet">
    <link href="~/Content/Template/css/shop.css" rel="stylesheet">

    <!-- Radio and check inputs -->
    <link href="~/Content/Template/css/skins/square/grey.css" rel="stylesheet">
    <link href="~/Content/Plugins/Blog cards/BlogCards.css" rel="stylesheet" />
    <!-- Range slider -->
    <link href="~/Content/Template/css/ion.rangeSlider.css" rel="stylesheet">
    <link href="~/Content/Template/css/ion.rangeSlider.skinFlat.css" rel="stylesheet">

    <!-- Google web fonts -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/Content/parallax.css" rel="stylesheet" />
    <script type="text/javascript">
        window.heap = window.heap || [], heap.load = function (e, t) { window.heap.appid = e, window.heap.config = t = t || {}; var r = t.forceSSL || "https:" === document.location.protocol, a = document.createElement("script"); a.type = "text/javascript", a.async = !0, a.src = (r ? "https:" : "http:") + "//cdn.heapanalytics.com/js/heap-" + e + ".js"; var n = document.getElementsByTagName("script")[0]; n.parentNode.insertBefore(a, n); for (var o = function (e) { return function () { heap.push([e].concat(Array.prototype.slice.call(arguments, 0))) } }, p = ["addEventProperties", "addUserProperties", "clearEventProperties", "identify", "resetIdentity", "removeEventProperty", "setEventProperties", "track", "unsetEventProperty"], c = 0; c < p.length; c++)heap[p[c]] = o(p[c]) };
        heap.load("3314004309");
    </script>
</head>
<body>

    <!-- End Preload -->
    <div class="layer"></div>
    <!-- Mobile menu overlay mask -->
    <!-- Header================================================== -->
    @using Tourist.CommonMethods
    @using Tourist.Models;
    @using Compress;
    @model IEnumerable<Tour>

    <section class="parallax-window" data-parallax="scroll" data-image-src="/Content/Template/img/slider3.jpeg" data-natural-width="1400" data-natural-height="470">
        <div class="parallax-content-1">
            <div class="animated fadeInDown">
                <h1>تورهای پیش رو</h1>
            </div>
        </div>
    </section><!-- End section -->
    <div class="collapse" id="collapseMap">
        <div id="map" class="map"></div>
    </div><!-- End Map -->
    <div class="container margin_60">
        <div class="row">
            <aside class="col-lg-3 col-md-3">

                <div class="box_style_cat">
                    <ul id="cat_nav">
                        @*<li><a href="/Events/All_Event/?kind=1" id="active"><i class="icon_set_1_icon-51"></i><span>(@ViewBag.countcafe)</span>رویداد کافه ها </a></li>
                            <li><a href="/Events/All_Event/?kind=2"><i class="icon_set_1_icon-3"></i><span>(@ViewBag.countgallery)</span> رویداد گالری ها</a></li>*@
                        <li><a href="/Events/Archive_tour"><i class="icon_set_1_icon-3"></i><span>(@ViewBag.ArchiveTour_count)</span> تورهای برگزار شده</a></li>

                    </ul>
                </div>

                @*<div id="filters_col">
                        <a data-toggle="collapse" href="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters" id="filters_col_bt"><i class="icon_set_1_icon-65"></i>فیلترها <i class="icon-plus-1 pull-right"></i></a>
                        <div class="collapse" id="collapseFilters">
                            <div class="filter_type">
                                    <h6>قیمت</h6>
                                    <input type="text" id="range" name="range" value="">
                                </div>
                            <div class="filter_type">
                                <h6>بها</h6>
                                <ul>
                                    <li><label><input id="checkbox1" name="checkbox1" value="free" type="checkbox">رایگان</label></li>
                                    <li><label><input id="checkbox2" value="fee" type="checkbox">ورودی</label></li>
                                    <li><label><input id="checkbox3" value="invitation" type="checkbox">دعوت نامه</label></li>
                                </ul>
                            </div>
                            <br />
                            <div class="styled-select-filters">
                                <form id="kindform" action="/Events/All_Tourby" method="post">
                                    <select name="difficulty" id="kind_price">
                                        <option value="0" selected>درجه سختی</option>
                                        <option value="2">بالای 2</option>
                                        <option value="3">بالای 3</option>
                                        <option value="4">بالای 4</option>
                                        <option value="5">بالای 5</option>
                                    </select>
                                </form>
                            </div>
                        </div>
                    </div>*@
                <div class="box_style_2">
                    <i class="icon_set_1_icon-57"></i>
                    <h4>درخواست <span>راهنمایی؟</span></h4>
                    <a class="تلفن">۰۹۳۵۷۴۵۳۸۲۹</a><br>
                    <small>24ساعته</small>
                </div>
            </aside><!--End aside -->
            @{
                List<Tour> lstModel = (List<Tour>)TempData["Tour"];
            }
            <div class="col-lg-9 col-md-8">

                <div id="tools">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="styled-select-filters">
                                <form id="kindform" action="/Events/All_Tourby" method="post">
                                    <select name="orderby" id="kind_price">
                                        <option value="none" selected>بر اساس ...</option>
                                        <option value="price">بر اساس قیمت</option>
                                        <option value="capacity">بر اساس ظرفیت</option>
                                        <option value="time">بر اساس مدت زمان</option>
                                        <option value="date">بر اساس تاریخ</option>
                                    </select>
                                    <input type="hidden" />
                                </form>
                            </div>
                        </div>
                        @*<div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="styled-select-filters">
                        <select name="difficulty" id="difficulty">
                            <option value="0" selected>درجه سختی</option>
                            <option value="2">بالای 2</option>
                            <option value="3">بالای 3</option>
                            <option value="4">بالای 4</option>
                            <option value="5">بالای 5</option>
                        </select>
                    </div>
                </div>*@
                        <div class="col-md-6 col-sm-6 hidden-xs text-right">

                        </div>
                    </div>
                </div><!--End tools -->
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <div class="strip_all_tour_list wow fadeIn" data-wow-delay="0.1s">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="img_list">
                                        <a href="/events/SingleTour/?id=@item.Id">
                                            <img src="@(item.images.LargImage().First().Path)" style="height:300px;width:350px" class="img-responsive" alt="@item.Title">
                                            <div class="short_info">@item.Profile_Tour.Name_Group</div>
                                        </a>
                                    </div>
                                </div>
                                <div class="clearfix visible-xs-block"></div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="tour_list_desc">
                                        <h3 style="line-height: 35px;">@item.Title</h3>
                                        <strong>تاریخ حرکت:</strong>@if (item.Start_Date != null)
                                        {
                                            @CalendarMngr.JulianToPersian(item.Start_Date.Value)
                                        }<br />
                                        <strong>تاریخ برگشت:</strong>@if (item.End_Date != null)
                                        {

                                            @CalendarMngr.JulianToPersian(item.End_Date.Value)
                                        }<br>
                                        <strong>نوع تور:</strong>@item.Type
                                        @if (item.Type != "مادروکودک")
                                        {
                                            if (item.Duration_Time != null)
                                            {
                                                <br>
                                                <strong>مدت زمان در راه:</strong>
                                                @item.Duration_Time
                                            }
                                        }
                                        <br>
                                        <strong>سختی:</strong>@item.Difficulty
                                        @if (item.basic_place != null)
                                        {
                                            <br>
                                            <strong>محل اقامت:</strong>
                                            @item.basic_place
                                        }
                                        @if (item.Capacity != null)
                                        {
                                            <br>
                                            <strong>ظرفیت:</strong>
                                            @item.Capacity
                                        }
                                        <br>
                                        <br />
                                        <ul class="add_info ">
                                            <li>
                                                <div class="tooltip_styled tooltip-effect-4">
                                                    <span class="tooltip-item"><i class="icon_set_1_icon-83"></i></span>
                                                    <div class="tooltip-content">
                                                        <h4>جدول زمانی</h4>
                                                        <strong>ساعت حرکت:</strong>@item.Start_time<br>
                                                        <strong>ساعت برگشت</strong>@item.Arrival_Time<br>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="tooltip_styled tooltip-effect-4">
                                                    <span class="tooltip-item"><i class="icon_set_1_icon-41"></i></span>
                                                    <div class="tooltip-content">
                                                        <h4>محل سوار شدن</h4>
                                                        @item.Place_Movement<br>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="tooltip_styled tooltip-effect-4">
                                                    <span class="tooltip-item"><i class="icon_set_1_icon-25"></i></span>
                                                    <div class="tooltip-content">
                                                        <h4>حمل و نقل</h4>
                                                        <strong>اتوبوس مسافرتی:</strong>
                                                        @if (item.Tourist_bus == null)
                                                        {
                                                            <text>ندارد</text>
                                                        }
                                                        else
                                                        {
                                                            <text>دارد</text>
                                                        }
                                                        <br>
                                                        <strong>اتوبوس VIP:</strong>
                                                        @if (item.Vip_bus == null)
                                                        {
                                                            <text>ندارد</text>
                                                        }
                                                        else
                                                        {
                                                            <text>دارد</text>
                                                        }<br>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <div class="price_list">
                                        <div>
                                            <sup>
                                                @if (item.Tourist_bus != null)
                                                {
                                                    <text>
                                                        @item.Tourist_bus
                                                    </text>
                                                }
                                                else if (item.Vip_bus != null)
                                                {
                                                    <text>
                                                        @item.Vip_bus
                                                    </text>
                                                }
                                                else if (item.personal_car != null)
                                                {
                                                    <text>
                                                        @item.personal_car
                                                    </text>
                                                }
                                                else if (item.Agency_car != null)
                                                {
                                                    <text>
                                                        @item.Agency_car
                                                    </text>
                                                }
                                                تومان
                                            </sup><small>هر نفر</small>
                                            <p><a href="/events/SingleTour/?id=@item.Id" class="btn_1">جزئیات</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else if (lstModel != null)
                {
                    foreach (var item in lstModel)
                    {
                        <div class="strip_all_tour_list wow fadeIn" data-wow-delay="0.1s">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="img_list">
                                        <a href="/events/SingleTour/?id=@item.Id">
                                            <img src="@(item.images.LargImage().First().Path)" style="height:300px;width:350px" class="img-responsive" alt="">
                                            <div class="short_info">@item.Profile_Tour.Name_Group</div>
                                        </a>
                                    </div>
                                </div>
                                <div class="clearfix visible-xs-block"></div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="tour_list_desc">
                                        <h3>@item.Title</h3>
                                        <strong>تاریخ حرکت:</strong>@if (item.Start_Date != null)
                                        {
                                            @CalendarMngr.JulianToPersian(item.Start_Date.Value)
                                        }<br />
                                        <strong>تاریخ برگشت:</strong>@if (item.End_Date != null)
                                        {

                                            @CalendarMngr.JulianToPersian(item.End_Date.Value)
                                        }<br>
                                        <strong>نوع تور:</strong>@item.Type
                                        @if (item.Duration_Time != null)
                                        {
                                            <br>
                                            <strong>مدت زمان در راه:</strong>
                                            @item.Duration_Time
                                        }
                                        <br>
                                        <strong>سختی:</strong>@item.Difficulty
                                        @if (item.basic_place != null)
                                        {
                                            <br>
                                            <strong>محل اقامت:</strong>
                                            @item.basic_place
                                        }
                                        @if (item.Capacity != null)
                                        {
                                            <br>
                                            <strong>ظرفیت:</strong>
                                            @item.Capacity
                                        }
                                        <br>
                                        <br />
                                        <ul class="add_info ">
                                            <li>
                                                <div class="tooltip_styled tooltip-effect-4">
                                                    <span class="tooltip-item"><i class="icon_set_1_icon-83"></i></span>
                                                    <div class="tooltip-content">
                                                        <h4>جدول زمانی</h4>
                                                        <strong>ساعت حرکت:</strong>@item.Start_time<br>
                                                        <strong>ساعت برگشت</strong>@item.Arrival_Time<br>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="tooltip_styled tooltip-effect-4">
                                                    <span class="tooltip-item"><i class="icon_set_1_icon-41"></i></span>
                                                    <div class="tooltip-content">
                                                        <h4>محل سوار شدن</h4>
                                                        @item.Place_Movement<br>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="tooltip_styled tooltip-effect-4">
                                                    <span class="tooltip-item"><i class="icon_set_1_icon-25"></i></span>
                                                    <div class="tooltip-content">
                                                        <h4>حمل و نقل</h4>
                                                        <strong>اتوبوس مسافرتی:</strong>
                                                        @if (item.Tourist_bus == null)
                                                        {
                                                            <text>ندارد</text>
                                                        }
                                                        else
                                                        {
                                                            <text>دارد</text>
                                                        }
                                                        <br>
                                                        <strong>اتوبوس VIP:</strong>
                                                        @if (item.Vip_bus == null)
                                                        {
                                                            <text>ندارد</text>
                                                        }
                                                        else
                                                        {
                                                            <text>دارد</text>
                                                        }<br>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <div class="price_list">
                                        <div>
                                            <sup>
                                                @if (item.Tourist_bus != null)
                                                {
                                                    <text>
                                                        @item.Tourist_bus
                                                    </text>
                                                }
                                                else if (item.Vip_bus != null)
                                                {
                                                    <text>
                                                        @item.Vip_bus
                                                    </text>
                                                }
                                                else if (item.personal_car != null)
                                                {
                                                    <text>
                                                        @item.personal_car
                                                    </text>
                                                }
                                                else if (item.Agency_car != null)
                                                {
                                                    <text>
                                                        @item.Agency_car
                                                    </text>
                                                }
                                                تومان
                                            </sup><small>هر نفر</small>
                                            <p><a href="/events/SingleTour/?id=@item.Id" class="btn_1">جزئیات</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }





                <hr>



            </div><!-- End col lg 9 -->
        </div><!-- End row -->
    </div><!-- End container -->


    <div id="toTop"></div><!-- Back to top button -->
    <!-- Common scripts -->
    <script src="~/Content/Template/js/jquery-1.11.2.min.js"></script>
    <script src="~/Content/Template/js/common_scripts_min.js"></script>
    <script src="~/Content/Template/js/functions.js"></script>
    <!-- Specific scripts -->

    <!-- Cat nav mobile -->
    <script src="~/Content/Template/js/cat_nav_mobile.js"></script>
    <script>$('#cat_nav').mobileMenu();</script>
    <!-- Check and radio inputs -->
    <script src="~/Content/Template/js/icheck.js"></script>
    <script>
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-grey',
            radioClass: 'iradio_square-grey'
        });
    </script>
    <script>
        $('#kind_price').change(function (data) {
            var kind = $(this).val();
            $('#kindform').submit();
            //alert(kind);
            //var jqxhr = $.getJSON("/Events/All_Event/?pricekind=" + kind, function (data) {
            //})
        });
        $('#difficulty').change(function (data) {
            var kind = $(this).val();
            $('#kindform').submit();
            //alert(kind);
            //var jqxhr = $.getJSON("/Events/All_Event/?pricekind=" + kind, function (data) {
            //})
        });

    </script>
    <!-- Map -->
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPnB4pS-Sw8CNQKmJiRoxcSMj9p0cQjro"></script>*@
    @*<script src="~/Content/Template/js/map_full_page.js"></script>*@
    <script src="~/Content/Template/js/infobox.js"></script>
   
</body>
</html>
