﻿
@{
    ViewBag.Title = "All_Event";
}

@*<h2>All_Event</h2>*@

<!DOCTYPE html>
<!--[if IE 8]><html class="ie ie8"> <![endif]-->
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<html dir="rtl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons-->
    @*<link rel="shortcut icon" href="~/Content/Template/img/favicon.ico" type="image/x-icon">*@
    @*<link rel="apple-touch-icon" type="image/x-icon" href="~/Content/Template/img/apple-touch-icon-57x57-precomposed.png">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="~/Content/Template/img/apple-touch-icon-72x72-precomposed.png">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="~/Content/Template/img/apple-touch-icon-114x114-precomposed.png">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="~/Content/Template/img/apple-touch-icon-144x144-precomposed.png">*@

    <!-- CSS -->
    <link href="~/Content/Template/css/base.css" rel="stylesheet">
    <link href="~/Content/Template/css/shop.css" rel="stylesheet">

    <!-- Radio and check inputs -->
    <link href="~/Content/Template/css/skins/square/grey.css" rel="stylesheet">

    <!-- Range slider -->
    <link href="~/Content/Template/css/ion.rangeSlider.css" rel="stylesheet">
    <link href="~/Content/Template/css/ion.rangeSlider.skinFlat.css" rel="stylesheet">

    <!-- Google web fonts -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
      <script src="~/Content/Template/js/html5shiv.min.js"></script>
      <script src="~/Content/Template/js/respond.min.js"></script>
    <![endif]-->

    <link href="~/Content/parallax.css" rel="stylesheet" />
</head>
<body>
    <!--[if lte IE 8]>
        <p class="chromeframe">لطفا مرورگر خود را بروز کنید <strong>استفاده میکنید</strong> مرورگر قدیمی <a href="http://digiao.ir/">شما از </a>.</p>
    <![endif]-->
    <div id="preloader">
        <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>
    </div>
    <!-- End Preload -->
    <div class="layer"></div>
    <!-- Mobile menu overlay mask -->
    <!-- Header================================================== -->
    @using Tourist.Models;
    @model IEnumerable<@event>



    <section class="parallax-window" data-parallax="scroll" data-image-src="/Content/Template/img/slider3.jpeg" data-natural-width="1400" data-natural-height="470">
        <div class="parallax-content-1">
            <div class="animated fadeInDown">
                <h1>
                    @if (ViewBag.kind == 0)
                    {
                        <text>
                            کافه و گالری
                        </text>
                    }
                    @if (ViewBag.kind == 2)
                {
                    <text>
                        گالری ها
                    </text>
                }
                else
                {
                    if (ViewBag.kind == 1)
                    {
                    <text>
                        کافه ها
                    </text>
                    }
                }

                </h1>

            </div>
        </div>
    </section><!-- End section -->
    <div id="position">
        <div class="container">
            <ul>
                <li>صفحه اصلی</li>
                <li>
                    @if (ViewBag.kind == 2)
                {
                <text>
                    گالری ها
                </text>
                }
                else
                {
                    if (ViewBag.kind == 1)
                    {
                <text>
                    کافه ها
                </text>
                    }
                }
            </li>

        </ul>
    </div>
</div><!-- Position -->

<div class="collapse" id="collapseMap">
    <div id="map" class="map"></div>
</div><!-- End Map -->
<div class="container margin_60">
    <div class="row">
        <aside class="col-lg-3 col-md-3">
            <p>
                <a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap">نمایش بر روی نقشه</a>
            </p>

            <div class="box_style_cat">
                <ul id="cat_nav">
                    <li><a href="/Events/All_Event/?kind=1" id="active"><i class="icon_set_1_icon-51"></i><span>(@ViewBag.countcafe)</span>رویداد کافه ها </a></li>
                    <li><a href="/Events/All_Event/?kind=2"><i class="icon_set_1_icon-3"></i><span>(@ViewBag.countgallery)</span> رویداد گالری ها</a></li>

                </ul>
            </div>

            @*<div id="filters_col">
                <a data-toggle="collapse" href="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters" id="filters_col_bt"><i class="icon_set_1_icon-65"></i>فیلترها <i class="icon-plus-1 pull-right"></i></a>
                <div class="collapse" id="collapseFilters">
                    <div class="filter_type">
                            <h6>قیمت</h6>
                            <input type="text" id="range" name="range" value="">
                        </div>
                    <div class="filter_type">
                        <h6>بها</h6>
                        <ul>
                            <li><label><input id="checkbox1" name="checkbox1" value="free" type="checkbox">رایگان</label></li>
                            <li><label><input id="checkbox2" value="fee" type="checkbox">ورودی</label></li>
                            <li><label><input id="checkbox3" value="invitation" type="checkbox">دعوت نامه</label></li>
                        </ul>
                    </div>
                </div>
            </div>*@
            <div class="box_style_2">
                <i class="icon_set_1_icon-57"></i>
                <h4>درخواست <span>راهنمایی؟</span></h4>
                <a href="تلفن تماس://09174542538" class="تلفن">09174542538</a><br>
                <small>24ساعته</small>
            </div>
        </aside><!--End aside -->

        <div class="col-lg-9 col-md-8">

            <div id="tools">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="styled-select-filters">
                            <form id="kindform" action="/Events/All_Event" method="post">
                            <select name="pricekind" id="kind_price">
                                <option value="" selected>بر اساس قیمت</option>
                                <option value="free">رایگان</option>
                                <option value="fee">ورودی</option>
                                <option value="invitation">دعوت نامه</option>
                            </select>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        @*<div class="styled-select-filters">
                            <select name="sort_rating" id="sort_rating">
                                <option value="" selected>بر اساس رتبه بندی</option>
                                <option value="lower">پایینترین رده</option>
                                <option value="higher">بالاترین رتبه</option>
                            </select>
                        </div>*@
                    </div>
                    <div class="col-md-6 col-sm-6 hidden-xs text-right">

                    </div>
                </div>
            </div><!--End tools -->

            <div class="row" id="app">


                @foreach (var item in Model)
                {

                    <div class="col-md-4" id="All-events">
                        <a href="/Events/Single_Event/?ID=@item.id" id="@item.id">
                            <card data-image="@($"data:image/jpeg;base64,{Convert.ToBase64String(item.poster)}")">
                                <h1 style="color:white" slot="header">@item.title</h1>
                                <p style="line-height:1.5em" slot="content">
                                    @if (item.price_kind.ToLower() == "free")
                                    {<text>رایگان </text>}
                                    @if (item.price_kind.ToLower() == "fee")
                                    {<text>ورودی </text>}
                                    @if (item.price_kind.ToLower() == "invitation")
                                    {<text>دعوت نامه</text>}
                                </p>
                            </card>
                        </a>

                    </div>

                }
            </div><!-- End row -->




            <hr>

            @*<div class="text-center">
                    <ul class="pagination">
                        <li><a href="#">قبلی</a></li>
                        <li class="active"><a href="#">۱</a></li>
                        <li><a href="#">۲</a></li>
                        <li><a href="#">۳</a></li>
                        <li><a href="#">۴</a></li>
                        <li><a href="#">۵</a></li>
                        <li><a href="#">بعدی</a></li>
                    </ul>
                </div>*@<!-- end pagination-->

        </div><!-- End col lg 9 -->
    </div><!-- End row -->
</div><!-- End container -->


<div id="toTop"></div><!-- Back to top button -->
<!-- Common scripts -->
<script src="~/Content/Template/js/jquery-1.11.2.min.js"></script>
<script src="~/Content/Template/js/common_scripts_min.js"></script>
<script src="~/Content/Template/js/functions.js"></script>
<!-- Specific scripts -->
<script src="~/Scripts/vue.js"></script>
<script src="~/Content/parallax_fix.js"></script>
<!-- Cat nav mobile -->
<script src="~/Content/Template/js/cat_nav_mobile.js"></script>
<script>$('#cat_nav').mobileMenu();</script>
<!-- Check and radio inputs -->
<script src="~/Content/Template/js/icheck.js"></script>
<script>
    $('input').iCheck({
        checkboxClass: 'icheckbox_square-grey',
        radioClass: 'iradio_square-grey'
    });
</script>
    <script>
        

    </script>
    <script>
            $('#kind_price').change(function (data) {
                var kind = $(this).val();
                $('#kindform').submit();
                alert(kind);
                //var jqxhr = $.getJSON("/Events/All_Event/?pricekind=" + kind, function (data) {
                //})
            });

    </script>
<!-- Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPnB4pS-Sw8CNQKmJiRoxcSMj9p0cQjro"></script>
@*<script src="~/Content/Template/js/map_full_page.js"></script>*@
<script src="~/Content/Template/js/infobox.js"></script>
<script>
        
        (function (A) {
            if (!Array.prototype.forEach)
                A.forEach = A.forEach || function (action, that) {
                    for (var i = 0, l = this.length; i < l; i++)
                        if (i in this)
                            action.call(that, this[i], i, this);
                };

        })(Array.prototype);

        var current_lat;
        var current_lon;

        function getlocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(ShowPosition,disableposition);
            }

        }

        getlocation();
        var
            mapObject,
            markers = [],
            markersData = {
                'Gallery': [
                    @foreach (var item in Model) {
                        if (item.Profile_cafe_gallery != null) {
                        if(item.Profile_cafe_gallery.Type_id == 2)
                        {
                    <text>
                    {
                        name: '@*@item.name*@',
                        location_latitude: @item.Profile_cafe_gallery.map_lat,
                        location_longitude: @item.Profile_cafe_gallery.map_lon,
                        @*map_image_url: '@($"data:image/jpeg;base64,{Convert.ToBase64String(item.poster)}")',*@
                        name_point: '@item.title',
                        description_point: '@item.summary',
                        get_directions_start_address: '',
                        phone: '@*@item.tel*@',
                        url_point: 'single_tour.html'
                    },
                    </text>
                            }
                        }
                    }
                ],
                'cafe': [

                @foreach (var item in Model) {
                    if (item.Profile_cafe_gallery != null) {
                    if(item.Profile_cafe_gallery.Type_id == 1)
                    {
                    <text>
                    {
                        name: '@*@item.name*@',
                        location_latitude: @item.Profile_cafe_gallery.map_lat,
                        location_longitude: @item.Profile_cafe_gallery.map_lon,
                        @*map_image_url: '@($"data:image/jpeg;base64,{Convert.ToBase64String(item.poster)}")',*@
                        name_point: '@item.title',
                        description_point: '@item.summary',
                        get_directions_start_address: '',
                        phone: '@*@item.tel*@',
                        url_point: 'single_tour.html'
                    },
                    </text>
                        }
                    }
                }
                ]

            };
        console.log("location");
        console.log(current_lat);
        if (current_lat == '') {
            console.log(current_lat)
        }

        function ShowPosition(position) {

            var mapOptions = {
                zoom: 15,
                center: new google.maps.LatLng(position.coords.latitude, position.coords.longitude),
                mapTypeId: google.maps.MapTypeId.ROADMAP,

                mapTypeControl: false,
                mapTypeControlOptions: {
                    style: google.maps.MapTypeControlStyle.DROPDOWN_MENU,
                    position: google.maps.ControlPosition.LEFT_CENTER
                },
                panControl: false,
                panControlOptions: {
                    position: google.maps.ControlPosition.TOP_RIGHT
                },
                zoomControl: true,
                zoomControlOptions: {
                    style: google.maps.ZoomControlStyle.LARGE,
                    position: google.maps.ControlPosition.LEFT_CENTER
                },
                scrollwheel: false,
                scaleControl: false,
                scaleControlOptions: {
                    position: google.maps.ControlPosition.LEFT_CENTER
                },
                streetViewControl: true,
                streetViewControlOptions: {
                    position: google.maps.ControlPosition.LEFT_CENTER
                },
                styles: [
                    {
                        "featureType": "landscape",
                        "stylers": [
                            {
                                "hue": "#FFBB00"
                            },
                            {
                                "saturation": 43.400000000000006
                            },
                            {
                                "lightness": 37.599999999999994
                            },
                            {
                                "gamma": 1
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "stylers": [
                            {
                                "hue": "#FFC200"
                            },
                            {
                                "saturation": -61.8
                            },
                            {
                                "lightness": 45.599999999999994
                            },
                            {
                                "gamma": 1
                            }
                        ]
                    },
                    {
                        "featureType": "road.arterial",
                        "stylers": [
                            {
                                "hue": "#FF0300"
                            },
                            {
                                "saturation": -100
                            },
                            {
                                "lightness": 51.19999999999999
                            },
                            {
                                "gamma": 1
                            }
                        ]
                    },
                    {
                        "featureType": "road.local",
                        "stylers": [
                            {
                                "hue": "#FF0300"
                            },
                            {
                                "saturation": -100
                            },
                            {
                                "lightness": 52
                            },
                            {
                                "gamma": 1
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "stylers": [
                            {
                                "hue": "#0078FF"
                            },
                            {
                                "saturation": -13.200000000000003
                            },
                            {
                                "lightness": 2.4000000000000057
                            },
                            {
                                "gamma": 1
                            }
                        ]
                    },
                    {
                        "featureType": "poi",
                        "stylers": [
                            {
                                "hue": "#00FF6A"
                            },
                            {
                                "saturation": -1.0989010989011234
                            },
                            {
                                "lightness": 11.200000000000017
                            },
                            {
                                "gamma": 1
                            }
                        ]
                    }
                ]
            };
            mapObject = new google.maps.Map(document.getElementById('map'), mapOptions);
            var marker;

            for (var key in markersData)
                markersData[key].forEach(function (item) {
                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng(item.location_latitude, item.location_longitude),
                        map: mapObject,
                        icon: '/Content/Template/img/pins/' + key + '.png',
                    });

                    if ('undefined' === typeof markers[key])
                        markers[key] = [];
                    markers[key].push(marker);
                    google.maps.event.addListener(marker, 'click', (function () {
                        closeInfoBox();
                        getInfoBox(item).open(mapObject, this);
                        mapObject.setCenter(new google.maps.LatLng(item.location_latitude, item.location_longitude));
                    }));


                });
            var myCenter = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            var marker = new google.maps.Marker({ position: myCenter });
            marker.setMap(mapObject);
        }

        function disableposition(err) {
            var mapOptions = {
                zoom: 15,
                center: new google.maps.LatLng(29.6396, 52.5274),
                mapTypeId: google.maps.MapTypeId.ROADMAP,

                mapTypeControl: false,
                mapTypeControlOptions: {
                    style: google.maps.MapTypeControlStyle.DROPDOWN_MENU,
                    position: google.maps.ControlPosition.LEFT_CENTER
                },
                panControl: false,
                panControlOptions: {
                    position: google.maps.ControlPosition.TOP_RIGHT
                },
                zoomControl: true,
                zoomControlOptions: {
                    style: google.maps.ZoomControlStyle.LARGE,
                    position: google.maps.ControlPosition.LEFT_CENTER
                },
                scrollwheel: false,
                scaleControl: false,
                scaleControlOptions: {
                    position: google.maps.ControlPosition.LEFT_CENTER
                },
                streetViewControl: true,
                streetViewControlOptions: {
                    position: google.maps.ControlPosition.LEFT_CENTER
                },
                styles: [
                    {
                        "featureType": "landscape",
                        "stylers": [
                            {
                                "hue": "#FFBB00"
                            },
                            {
                                "saturation": 43.400000000000006
                            },
                            {
                                "lightness": 37.599999999999994
                            },
                            {
                                "gamma": 1
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "stylers": [
                            {
                                "hue": "#FFC200"
                            },
                            {
                                "saturation": -61.8
                            },
                            {
                                "lightness": 45.599999999999994
                            },
                            {
                                "gamma": 1
                            }
                        ]
                    },
                    {
                        "featureType": "road.arterial",
                        "stylers": [
                            {
                                "hue": "#FF0300"
                            },
                            {
                                "saturation": -100
                            },
                            {
                                "lightness": 51.19999999999999
                            },
                            {
                                "gamma": 1
                            }
                        ]
                    },
                    {
                        "featureType": "road.local",
                        "stylers": [
                            {
                                "hue": "#FF0300"
                            },
                            {
                                "saturation": -100
                            },
                            {
                                "lightness": 52
                            },
                            {
                                "gamma": 1
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "stylers": [
                            {
                                "hue": "#0078FF"
                            },
                            {
                                "saturation": -13.200000000000003
                            },
                            {
                                "lightness": 2.4000000000000057
                            },
                            {
                                "gamma": 1
                            }
                        ]
                    },
                    {
                        "featureType": "poi",
                        "stylers": [
                            {
                                "hue": "#00FF6A"
                            },
                            {
                                "saturation": -1.0989010989011234
                            },
                            {
                                "lightness": 11.200000000000017
                            },
                            {
                                "gamma": 1
                            }
                        ]
                    }
                ]
            };
            mapObject = new google.maps.Map(document.getElementById('map'), mapOptions);
            var marker;

            for (var key in markersData)
                markersData[key].forEach(function (item) {
                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng(item.location_latitude, item.location_longitude),
                        map: mapObject,
                        icon: '/Content/Template/img/pins/' + key + '.png',
                    });

                    if ('undefined' === typeof markers[key])
                        markers[key] = [];
                    markers[key].push(marker);
                    google.maps.event.addListener(marker, 'click', (function () {
                        closeInfoBox();
                        getInfoBox(item).open(mapObject, this);
                        mapObject.setCenter(new google.maps.LatLng(item.location_latitude, item.location_longitude));
                    }));


                });
        }

        function hideAllMarkers() {
            for (var key in markers)
                markers[key].forEach(function (marker) {
                    marker.setMap(null);
                });
        };

        function toggleMarkers(category) {
            hideAllMarkers();
            closeInfoBox();

            if ('undefined' === typeof markers[category])
                return false;
            markers[category].forEach(function (marker) {
                marker.setMap(mapObject);
                marker.setAnimation(google.maps.Animation.DROP);

            });
        };

        function closeInfoBox() {
            $('div.infoBox').remove();
        };

        function getInfoBox(item) {
            return new InfoBox({
                content:
                '<div class="marker_info" id="marker_info">' +
                '<img src="' + item.map_image_url + '" alt="Image"/>' +
                '<h3>' + item.name_point + '</h3>' +
                '<span>' + item.description_point + '</span>' +
                '<div class="marker_tools">' +
                '<form action="http://maps.google.com/maps" method="get" target="_blank" style="display:inline-block""><input name="saddr" value="' + item.get_directions_start_address + '" type="hidden"><input type="hidden" name="daddr" value="' + item.location_latitude + ',' + item.location_longitude + '"><button type="submit" value="Get directions" class="btn_infobox_get_directions">Directions</button></form>' +
                '<a href="tel://' + item.phone + '" class="btn_infobox_phone">' + item.phone + '</a>' +
                '</div>' +
                '<a href="' + item.url_point + '" class="btn_infobox">Details</a>' +
                '</div>',
                disableAutoPan: false,
                maxWidth: 0,
                pixelOffset: new google.maps.Size(10, 125),
                closeBoxMargin: '5px -20px 2px 2px',
                closeBoxURL: "http://www.google.com/intl/en_us/mapfiles/close.gif",
                isHidden: false,
                alignBottom: true,
                pane: 'floatPane',
                enableEventPropagation: true
            });
        };

        $(function() {
        $('#location').click(
            function (e) {
                getlocation();
            });
        })
</script>

</body>
</html>

