﻿@{
    ViewBag.Title = "Home Page";
}
@using Tourist.CommonMethods
@using Tourist.Models
@model IEnumerable<Tour>
<!DOCTYPE html>
<link href="~/Content/Template/css/shop.css" rel="stylesheet">
<link href="~/Content/Template/rs-plugin/css/settings.css" rel="stylesheet">
<link href="~/Content/Template/css/extralayers.css" rel="stylesheet" />
<title>مقایسه</title>
<link href="~/Content/parallax.css" rel="stylesheet" />
<link href="~/Content/Plugins/btcursel/carousel.css" rel="stylesheet" />

<script type="text/javascript">
    window.heap = window.heap || [], heap.load = function (e, t) { window.heap.appid = e, window.heap.config = t = t || {}; var r = t.forceSSL || "https:" === document.location.protocol, a = document.createElement("script"); a.type = "text/javascript", a.async = !0, a.src = (r ? "https:" : "http:") + "//cdn.heapanalytics.com/js/heap-" + e + ".js"; var n = document.getElementsByTagName("script")[0]; n.parentNode.insertBefore(a, n); for (var o = function (e) { return function () { heap.push([e].concat(Array.prototype.slice.call(arguments, 0))) } }, p = ["addEventProperties", "addUserProperties", "clearEventProperties", "identify", "resetIdentity", "removeEventProperty", "setEventProperties", "track", "unsetEventProperty"], c = 0; c < p.length; c++)heap[p[c]] = o(p[c]) };
    heap.load("3314004309");
</script>
<style>
    table {
       
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<html dir="rtl">
<body>

    @*<div id="preloader">
        <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>
    </div>*@
    <!-- End Preload -->
    <div class="layer"></div>
    <!-- Mobile menu overlay mask -->
    <!-- Header================================================== -->


    <section id="search_container">
        <div id="search">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tours" data-toggle="tab">مقایسه</a></li>
            </ul>

            <div class="tab-content">
                <form action="/Events/Compare_tours" method="post" enctype="multipart/form-data">
                    <div class="tab-pane active" id="tours">
                        <h3>مقایسه تور ها</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>تور اول</label>
                                    @*<input type="text" list="Tours" class="form-control" id="First_Tour" name="First_Tour" placeholder="عبارات مورد نظر خود را تایپ کنید">
                                    <datalist id="Tours">
                                        @foreach (var item in Model)
                                        {
                                            <option value="@item.Title"></option>
                                        }
                                    </datalist>*@
                                    <select class="ddslick" name="First_Tour">
                                        @foreach (var item in Model)
                                        {
                                            <option value="@item.Id">@item.Title - @item.Profile_Tour.Name_Group - @CalendarMngr.JulianToPersian(item.Start_Date.Value)</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>تور  دوم</label>
                                    @*<input type="text" list="Tours" class="form-control" id="Second_Tour" name="Second_Tour" placeholder="عبارات مورد نظر خود را تایپ کنید">
                                    <datalist id="Tours">
                                        @foreach (var item1 in Model)
                                        {
                                            <option value="@item1.Title"></option>
                                        }
                                    </datalist>*@
                                    <select class="ddslick" name="Second_Tour">
                                        @foreach (var item in Model)
                                        {
                                            <option value="@item.Id">@item.Title - @item.Profile_Tour.Name_Group - @CalendarMngr.JulianToPersian(item.Start_Date.Value)</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div><!-- End row -->
                        <!-- End row -->
                        <hr>
                        <button class="btn_1 green">
                            <i class="icon-search"></i>اکنون مقایسه کن
                        </button>
                    </div><!-- End rab -->
                </form>

            </div>
        </div>
    </section><!-- End hero -->

    @{ 
        List<Tour> lstfirst = (List<Tour>)TempData["first"];
        List<Tour> lstsecond = (List<Tour>)TempData["second"];
    }
    @if (lstfirst != null) {

    <div class="container margin_60">
        <div class="cart-section">
            <table id="table" class="table table-striped shopping-cart">
                <thead>
                    <tr>
                        <th>
                            اسم
                        </th>
                        <th>
                            تور @lstfirst.First().Title
                        </th>
                        <th>
                            تور @lstsecond.First().Title
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <strong>گروه برگزارکننده</strong>
                        </td>
                        <td>
                            <strong>@lstfirst.First().Profile_Tour.Name_Group</strong>
                        </td>

                        <td>
                            <strong>@lstsecond.First().Profile_Tour.Name_Group</strong>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <strong >نوع تور</strong>
                        </td>
                        <td>
                            <strong>@lstfirst.First().Type</strong>
                        </td>
                        
                        <td>
                            <strong>@lstsecond.First().Type</strong>
                        </td>
                       
                    </tr>
              
                    <tr>
                        <td>
                           
                            <strong >مبدا</strong>
                        </td>
                        <td>
                            <strong>@lstfirst.First().Origin</strong>
                        </td>
                        
                        <td>
                            <strong>@lstsecond.First().Origin</strong>
                        </td>
                       
                    </tr>
                    <tr>
                        <td>

                            <strong>مقصد</strong>
                        </td>
                        <td>
                            <strong>@lstfirst.First().Destination</strong>
                        </td>

                        <td>
                            <strong>@lstsecond.First().Destination</strong>
                        </td>

                    </tr>
                    <tr>
                        <td>

                            <strong>تاریخ رفت</strong>
                        </td>
                        <td>
                            <strong>@CalendarMngr.JulianToPersian(lstfirst.First().Start_Date.Value)</strong>
                        </td>

                        <td>
                            <strong>@CalendarMngr.JulianToPersian(lstsecond.First().Start_Date.Value)</strong>
                        </td>

                    </tr>
                    <tr>
                        <td>

                            <strong>زمان حرکت</strong>
                        </td>
                        <td>
                            <strong>@lstfirst.First().Start_time</strong>
                        </td>

                        <td>
                            <strong>@lstsecond.First().Start_time</strong>
                        </td>

                    </tr>
                    <tr>
                        <td>

                            <strong>تاریخ برگشت</strong>
                        </td>
                        <td>
                            <strong>@CalendarMngr.JulianToPersian(lstfirst.First().End_Date.Value)</strong>
                        </td>

                        <td>
                            <strong>@CalendarMngr.JulianToPersian(lstsecond.First().End_Date.Value)</strong>
                        </td>

                    </tr>
                    <tr>
                        <td>

                            <strong>زمان برگشت</strong>
                        </td>
                        <td>
                            <strong>@lstfirst.First().Arrival_Time</strong>
                        </td>

                        <td>
                            <strong>@lstsecond.First().Arrival_Time</strong>
                        </td>

                    </tr>
                    <tr>
                        <td>

                            <strong>مدت زمان در راه</strong>
                        </td>
                        <td>
                            <strong>@lstfirst.First().Duration_Time</strong>
                        </td>

                        <td>
                            <strong>@lstsecond.First().Duration_Time</strong>
                        </td>

                    </tr>
                    <tr>
                        <td>

                            <strong>ظرفیت</strong>
                        </td>
                        <td>
                            <strong>@lstfirst.First().Capacity</strong>
                        </td>

                        <td>
                            <strong>@lstsecond.First().Capacity</strong>
                        </td>

                    </tr>
                    <tr>
                        <td>

                            <strong>رده سنی</strong>
                        </td>
                        <td>
                            <strong>@lstfirst.First().Age</strong>
                        </td>

                        <td>
                            <strong>@lstsecond.First().Age</strong>
                        </td>

                    </tr>
                    <tr>
                        <td>

                            <strong>سختی</strong>
                        </td>
                        <td>
                            <strong>@lstfirst.First().Difficulty</strong>
                        </td>

                        <td>
                            <strong>@lstsecond.First().Difficulty</strong>
                        </td>

                    </tr>
                    <tr>
                        <td>

                            <strong>صبحانه</strong>
                        </td>
                        <td>
                            @if (lstfirst.First().Breakfast == true)
                            {
                                <strong>دارد</strong>
                            }
                            else
                            {
                                <strong style="color:red">ندارد</strong>
                            }
                        </td>

                        <td>
                            @if (lstsecond.First().Breakfast == true)
                            {
                                <strong>دارد</strong>
                            }
                            else
                            {
                                <strong style="color:red">ندارد</strong>
                            }
                        </td>

                    </tr>
                    <tr>
                        <td>

                            <strong>ناهار</strong>
                        </td>
                        <td>
                            @if (lstfirst.First().Lunch == true)
                            {
                                <strong>دارد</strong>
                            }
                            else
                            {
                                <strong style="color:red">ندارد</strong>
                            }
                        </td>

                        <td>
                            @if (lstsecond.First().Lunch == true)
                            {
                                <strong>دارد</strong>
                            }
                            else
                            {
                                <strong style="color:red">ندارد</strong>
                            }
                        </td>

                    </tr>
                    <tr>
                        <td>

                            <strong>شام</strong>
                        </td>
                        <td>
                            @if (lstfirst.First().Dinner == true)
                            {
                                <strong>دارد</strong>
                            }
                            else
                            {
                                <strong style="color:red">ندارد</strong>
                            }
                        </td>

                        <td>
                            @if (lstsecond.First().Dinner == true)
                            {
                                <strong>دارد</strong>
                            }
                            else
                            {
                                <strong style="color:red">ندارد</strong>
                            }
                        </td>

                    </tr>
                    <tr>
                        <td>

                            <strong>قیمت اتوبوس مسافرتی</strong>
                        </td>
                        <td>
                            @if (lstfirst.First().Tourist_bus != null)
                            {
                            <strong>@lstfirst.First().Tourist_bus</strong>
                            }
                            else
                            {
                                <strong style="color:red">ندارد</strong>
                            }


                        </td>

                        <td>
                            @if (lstsecond.First().Tourist_bus != null)
                            {
                                <strong>@lstsecond.First().Tourist_bus</strong>
                            }
                            else
                            {
                                <strong style="color:red">ندارد</strong>
                            }
                        </td>

                    </tr>
                    <tr>
                        <td>

                            <strong>قیمت اتوبوس وی ای پی</strong>
                        </td>
                        <td>
                            @if (lstfirst.First().Vip_bus != null)
                            {
                                <strong>@lstfirst.First().Vip_bus</strong>
                            }
                            else
                            {
                                <strong style="color:red">ندارد</strong>
                            }
                        </td>

                        <td>
                            @if (lstsecond.First().Vip_bus != null)
                            {
                                <strong>@lstsecond.First().Vip_bus</strong>
                            }
                            else
                            {
                                <strong style="color:red">ندارد</strong>
                            }
                        </td>

                    </tr>
                    <tr>
                        <td>

                            <strong>قیمت ماشین اژانس</strong>
                        </td>
                        <td>
                            @if (lstfirst.First().Agency_car != null)
                            {
                                <strong>@lstfirst.First().Agency_car</strong>
                            }
                            else
                            {
                                <strong style="color:red">ندارد</strong>
                            }
                        </td>

                        <td>
                            @if (lstsecond.First().Agency_car != null)
                            {
                                <strong>@lstsecond.First().Agency_car</strong>
                            }
                            else
                            {
                                <strong style="color:red">ندارد</strong>
                            }
                        </td>

                    </tr>
                    <tr>
                        <td>

                            <strong>قیمت ماشین شخصی</strong>
                        </td>
                        <td>
                            @if (lstfirst.First().personal_car != null)
                            {
                                <strong>@lstfirst.First().personal_car</strong>
                            }
                            else
                            {
                                <strong style="color:red">ندارد</strong>
                            }
                        </td>

                        <td>
                            @if (lstsecond.First().personal_car != null)
                            {
                                <strong>@lstsecond.First().personal_car</strong>
                            }
                            else
                            {
                                <strong style="color:red">ندارد</strong>
                            }
                        </td>

                    </tr>
                </tbody>
            </table>      
        </div>
    </div>
    }

    <!-- Common scripts -->
    <script src="~/Content/Template/js/jquery-1.11.2.min.js"></script>
    <script src="~/Content/Template/js/common_scripts_min.js"></script>
    <script src="~/Content/Template/js/functions.js"></script>
    <!--datepicker script-->

    <script src="~/Content/Plugins/MdBootstrapPersianDateTimePicker/jalaali.js" type="text/javascript"></script>
    <script src="~/Content/Plugins/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.js" type="text/javascript"></script>

    
    <script src="~/Content/Template/js/icheck.js"></script>
    @if (lstfirst != null) {
        <script>
                    $("html, body").animate({ scrollTop: $('#table').offset().top }, 1000);
        </script>
    }
    <script>
        $('input').iCheck({
        checkboxClass: 'icheckbox_square-grey',
            radioClass: 'iradio_square-grey'
        });
    </script>
    
    <script>
        $('input.date-pick').datepicker('setDate', 'today');
        $('input.time-pick').timepicker({
            minuteStep: 15,
            showInpunts: false
        })
    </script>
    <script src="~/Content/Template/js/jquery.ddslick.js"></script>
    <script>
        $("select.ddslick").each(function () {
            $(this).ddslick({
                showSelectedHTML: true
            });
        });
    </script>

</body>
</html>