﻿
@{
    ViewBag.Title = "نظرات";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
@using Tourist.Models
@using Tourist.CommonMethods
@model IEnumerable<Comment>
<!-- END PAGE LEVEL PLUGINS -->
<div class="page-content-wrapper">

    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="portlet light bordered" style="padding-bottom:100%">
                    <div class="portlet-title tabbable-line">
                        <div class="caption">
                            <i class="icon-bubbles font-red"></i>
                            <span class="caption-subject font-red bold uppercase">نظرات</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="portlet_comments_1">
                                <!-- BEGIN: Comments -->
                                <div class="col-md-12">
                                    <div class="mt-comments">
                                        <div class="mt-comment">
                                            @if (Model.Count() != 0)
                                            {
                                                foreach (var item in Model)
                                                {
                                                    <form action="/Events/CheckCm">
                                                    <div class="col-md-6" style="padding-bottom:2px">
                                                        <div class="mt-comment-img">
                                                            <img src="~/Content/assets/pages/media/users/avatar1.jpg" />
                                                        </div>
                                                        <div class="mt-comment-body">
                                                            <div class="mt-comment-info">
                                                                <span class="mt-comment-author">@item.Name</span>
                                                                <span class="mt-comment-date">@CalendarMngr.JulianToPersian(item.datetime.Value.Date) , @item.datetime.Value.ToShortTimeString()</span>
                                                            </div>
                                                            <div class="mt-comment-text">@item.Body</div>
                                                            <div class="mt-comment-details">
                                                                <span class="mt-comment-status mt-comment-status-pending">@item.Tour.Destination -</span>
                                                                <span class="mt-comment-status mt-comment-status-pending">@item.Tour.Profile_Tour.Name_Agency -</span>
                                                                <span class="mt-comment-status mt-comment-status-pending">@item.Tour_id</span>
                                                            </div>
                                                            <br />
                                                            <div class="col-md-6">
                                                                <input type="checkbox" class="checkbox" name="Leader" value="0" /> لیدر
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input type="checkbox" class="checkbox" name="Place" value="0" /> محل
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input type="text" name="Hashtag" class="form-control" placeholder="هشتگ" />
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input name="id" value="@item.ID" type="hidden" />
                                                                <button type="submit" class="btn btn-success">تایید</button>
                                                                @*<button class="btn btn-danger">رد</button>*@
                                                            </div>
                                                        </div>
                                                        </div>
                                                    </form>
                                                }
                                            }


                                        </div>
                                        @*<div class="mt-comment">
                                            <div class="mt-comment-img">
                                                <img src="~/Content/assets/pages/media/users/avatar6.jpg" />
                                            </div>
                                            <div class="mt-comment-body">
                                                <div class="mt-comment-info">
                                                    <span class="mt-comment-author">Larisa Maskalyova</span>
                                                    <span class="mt-comment-date">12 Feb, 08:30AM</span>
                                                </div>
                                                <div class="mt-comment-text"> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </div>
                                                <div class="mt-comment-details">
                                                    <span class="mt-comment-status mt-comment-status-rejected">Rejected</span>
                                                    <ul class="mt-comment-actions">
                                                        <li>
                                                            <a href="#">Quick Edit</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">View</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Delete</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-comment">
                                            <div class="mt-comment-img">
                                                <img src="~/Content/assets/pages/media/users/avatar8.jpg" />
                                            </div>
                                            <div class="mt-comment-body">
                                                <div class="mt-comment-info">
                                                    <span class="mt-comment-author">Natasha Kim</span>
                                                    <span class="mt-comment-date">19 Dec,09:50 AM</span>
                                                </div>
                                                <div class="mt-comment-text"> The generated Lorem or non-characteristic Ipsum is therefore or non-characteristic always free from repetition, injected humour, or non-characteristic words etc. </div>
                                                <div class="mt-comment-details">
                                                    <span class="mt-comment-status mt-comment-status-pending">Pending</span>
                                                    <ul class="mt-comment-actions">
                                                        <li>
                                                            <a href="#">Quick Edit</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">View</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Delete</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-comment">
                                            <div class="mt-comment-img">
                                                <img src="~/Content/assets/pages/media/users/avatar4.jpg" />
                                            </div>
                                            <div class="mt-comment-body">
                                                <div class="mt-comment-info">
                                                    <span class="mt-comment-author">Sebastian Davidson</span>
                                                    <span class="mt-comment-date">10 Dec, 09:20 AM</span>
                                                </div>
                                                <div class="mt-comment-text"> The standard chunk of Lorem or non-characteristic Ipsum used since the 1500s or non-characteristic is reproduced below for those interested. </div>
                                                <div class="mt-comment-details">
                                                    <span class="mt-comment-status mt-comment-status-rejected">Rejected</span>
                                                    <ul class="mt-comment-actions">
                                                        <li>
                                                            <a href="#">Quick Edit</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">View</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Delete</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>*@
                                    </div>
                                </div>
                                @*<div class="col-md-6">
                                <div class="mt-comments">
                                    <div class="mt-comment">
                                        <div class="mt-comment-body">
                                            <div class="mt-comment-info">
                                                <span class="mt-comment-author">Michael Baker</span>
                                                <span class="mt-comment-date">26 Feb, 10:30AM</span>
                                            </div>
                                            <div class="mt-comment-text"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy. </div>
                                            <div class="mt-comment-details">
                                                <span class="mt-comment-status mt-comment-status-pending">Pending</span>
                                                <ul class="mt-comment-actions">
                                                    <li>
                                                        <a href="#">Quick Edit</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">View</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Delete</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-comment">
                                        <div class="mt-comment-img">
                                        </div>
                                        <div class="mt-comment-body">
                                            <div class="mt-comment-info">
                                                <span class="mt-comment-author">Larisa Maskalyova</span>
                                                <span class="mt-comment-date">12 Feb, 08:30AM</span>
                                            </div>
                                            <div class="mt-comment-text"> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </div>
                                            <div class="mt-comment-details">
                                                <span class="mt-comment-status mt-comment-status-rejected">Rejected</span>
                                                <ul class="mt-comment-actions">
                                                    <li>
                                                        <a href="#">Quick Edit</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">View</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Delete</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-comment">
                                        <div class="mt-comment-img">
                                        </div>
                                        <div class="mt-comment-body">
                                            <div class="mt-comment-info">
                                                <span class="mt-comment-author">Natasha Kim</span>
                                                <span class="mt-comment-date">19 Dec,09:50 AM</span>
                                            </div>
                                            <div class="mt-comment-text"> The generated Lorem or non-characteristic Ipsum is therefore or non-characteristic always free from repetition, injected humour, or non-characteristic words etc. </div>
                                            <div class="mt-comment-details">
                                                <span class="mt-comment-status mt-comment-status-pending">Pending</span>
                                                <ul class="mt-comment-actions">
                                                    <li>
                                                        <a href="#">Quick Edit</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">View</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Delete</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-comment">
                                        <div class="mt-comment-img">
                                        </div>
                                        <div class="mt-comment-body">
                                            <div class="mt-comment-info">
                                                <span class="mt-comment-author">Sebastian Davidson</span>
                                                <span class="mt-comment-date">10 Dec, 09:20 AM</span>
                                            </div>
                                            <div class="mt-comment-text"> The standard chunk of Lorem or non-characteristic Ipsum used since the 1500s or non-characteristic is reproduced below for those interested. </div>
                                            <div class="mt-comment-details">
                                                <span class="mt-comment-status mt-comment-status-rejected">Rejected</span>
                                                <ul class="mt-comment-actions">
                                                    <li>
                                                        <a href="#">Quick Edit</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">View</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Delete</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>*@
                                <!-- END: Comments -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        </div>
</div>


        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="~/Content/assets/global/plugins/moment.min.js" type="text/javascript"></script>
        <script src="~/Content/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
        <script src="~/Content/assets/global/plugins/morris/morris.min.js" type="text/javascript"></script>
        <script src="~/Content/assets/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
        <script src="~/Content/assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
        <script src="~/Content/assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
        <script src="~/Content/assets/global/plugins/amcharts/amcharts/amcharts.js" type="text/javascript"></script>
        <script src="~/Content/assets/global/plugins/amcharts/amcharts/serial.js" type="text/javascript"></script>
        <script src="~/Content/assets/global/plugins/amcharts/amcharts/pie.js" type="text/javascript"></script>
        <script src="~/Content/assets/global/plugins/amcharts/amcharts/radar.js" type="text/javascript"></script>
        <script src="~/Content/assets/global/plugins/amcharts/amcharts/themes/light.js" type="text/javascript"></script>
        <script src="~/Content/assets/global/plugins/amcharts/amcharts/themes/patterns.js" type="text/javascript"></script>
        <script src="~/Content/assets/global/plugins/amcharts/amcharts/themes/chalk.js" type="text/javascript"></script>
        <script src="~/Content/assets/global/plugins/amcharts/ammap/ammap.js" type="text/javascript"></script>
        <script src="~/Content/assets/global/plugins/amcharts/ammap/maps/js/worldLow.js" type="text/javascript"></script>
        <script src="~/Content/assets/global/plugins/amcharts/amstockcharts/amstock.js" type="text/javascript"></script>
        <script src="~/Content/assets/global/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
        <script src="~/Content/assets/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
        <script src="~/Content/assets/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
        <script src="~/Content/assets/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
        <script src="~/Content/assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
        <script src="~/Content/assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
        <script src="~/Content/assets/global/plugins/jqvmap/jqvmap/jquery.vmap.js" type="text/javascript"></script>
        <script src="~/Content/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js" type="text/javascript"></script>
        <script src="~/Content/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
        <script src="~/Content/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js" type="text/javascript"></script>
        <script src="~/Content/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js" type="text/javascript"></script>
        <script src="~/Content/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js" type="text/javascript"></script>
        <script src="~/Content/assets/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
