﻿
@{
    ViewBag.Title = "Laws";
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 8]><html class="ie ie8"> <![endif]-->
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<html dir="rtl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="دور تا دور تو، پر از اتفاقای باحاله">
    <meta name="keywords" content="dordor,dor-dor,دوردور,شیراز,shiraz,دور دور,تور,تور,تورشیراز,tour,کافه,گالری,دور-دور" />
    <meta name="author" content="Sina Darbouy">
    <title>قوانین و شرایط قرارداد</title>
    
    <!-- Favicons-->
    @*<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">*@

    <!-- CSS -->
    <link href="~/Content/Template/css/base.css" rel="stylesheet">
    
    <!-- Radio and check inputs -->
    <link href="~/Content/Template/css/skins/square/grey.css" rel="stylesheet">
	
    <!-- Google web fonts -->
   <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
        
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
        
</head>
<body>

<!--[if lte IE 8]>
    <p class="chromeframe">لطفا مرورگر خود را بروز کنید <strong>استفاده میکنید</strong> مرورگر قدیمی <a href="http://digiao.ir/">شما از </a>.</p>
<![endif]-->

    @*<div id="preloader">
        <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>
    </div>*@
    <!-- End Preload -->

    <div class="layer"></div>
    <!-- Mobile menu overlay mask -->

    <!-- Header================================================== -->
    <header id="plain" style="background-color:#446350;color:#fff">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div id="logo_home">
                        <h1><a href="index.html" title=""></a></h1>
                    </div>
                </div>
                <nav class="col-md-9 col-sm-9 col-xs-9">
                    <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>منوی تلفن همراه</span></a>
                    <div class="main-menu">
                        <div id="header_menu">
                            @*<img src="~/Content/Template/img/logo_sticky.png" width="160" height="34" alt="City tours" data-retina="true">*@
                        </div>
                        <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
                        <ul>
                            <li class="submenu">
                                <a href="/Home/index" class="show-submenu">صفحه اصلی </a><ul></ul>
                            </li>
                            @*<li class="submenu">
                                    <a href="javascript:void(0);" class="show-submenu">رویداد <i class="icon-down-open-mini"></i></a>
                                    <ul>
                                        <li><a href="/Events/All_Event/?kind=gallery">گالری ها</a></li>
                                        <li><a href="/Events/All_Event/?kind=cafe">کافه ها</a></li>
                                    </ul>
                                </li>*@
                            <li class="submenu">
                                <a href="/Events/All_Tour" class="show-submenu">تورها </a><ul></ul>
                            </li>
                            <li class="submenu">
                                <a href="/Events/Compare_Tour" class="show-submenu">مقایسه</a><ul></ul>
                            </li>
                            @*<li class="submenu">
                                    <a href="javascript:void(0);" class="show-submenu">امکانات ویژه<i class="icon-down-open-mini"></i></a><ul>
                                        <li><a href="~/Home/Map">اطراف من</a></li>
                                    </ul>
                                </li>*@
                            <li class="submenu">
                                <a href="/Home/index#info" class="show-submenu">درباره ما</a>

                            </li>
                            <li class="submenu">
                                <a href="/Home/index#guide" class="show-submenu">راهنما</a>
                            </li>
                            <li class="submenu">
                                <a href="/Events/Archive_tour" class="show-submenu">آرشیو</a><ul></ul>
                            </li>

                        </ul>
                    </div><!-- End main-menu -->
                </nav>
            </div>
        </div><!-- container -->
    </header><!-- End Header -->

    
@*<section class="parallax-window" data-parallax="scroll" data-image-src="img/home_bg_1.jpg" data-natural-width="1400" data-natural-height="470">
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
        <h1>پرسش و پاسخهای متداول</h1>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
        </div>
    </div>
</section>*@<!-- End section -->

<div id="position">
    	<div class="container">
                	<ul>
                    <li><a href="#">صفحه اصلی</a></li>
                    <li><a href="#">دسته بندی</a></li>
                    <li>صفحه فعال</li>
                    </ul>
        </div>
    </div><!-- Position -->
    
<div  class="container margin_60">  
    	<div class="row">
        	<aside class="col-lg-3 col-md-3"  id="sidebar">
            <div class="theiaStickySidebar">
                <div class="box_style_cat"  id="faq_box">
                    <ul id="cat_nav">
                        <li><a data-toggle="collapse" data-parent="#payment" href="#collapseOne_payment" class="active"><i class="icon_set_1_icon-95"></i>تعهدات کارگزار</a></li>
                        <li><a data-toggle="collapse" data-parent="#payment" href="#collapseTwo_payment"><i class="icon_set_1_icon-95"></i>تعهدات مسافر</a></li>
                        <li><a data-toggle="collapse" data-parent="#payment" href="#collapseThree_payment"><i class="icon_set_1_icon-95"></i>هتل و اقامت</a></li>
                        <li><a data-toggle="collapse" data-parent="#payment" href="#collapsefour_payment"><i class="icon_set_1_icon-95"></i>شرایط عمومی</a></li>
                        <li><a data-toggle="collapse" data-parent="#payment" href="#collapsefive_payment"><i class="icon_set_1_icon-95"></i>شرایط انصراف و ابطال سفر</a></li>
                    </ul>
                </div>
                </div><!--End sticky -->
		</aside><!--End aside -->
          <div class="col-lg-9 col-md-9" id="faq">
            <center>
       	 <h3 class="nomargin_top">قوانین و شرایط قرارداد</h3>

       	 <h4>|مصوب سازمان میراث فرهنگی و خدمات گردشگری|</h4>
            </center>
         <div class="panel-group" id="payment">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                          <a class="accordion-toggle" aria-expanded="true" data-toggle="collapse" data-parent="#payment" href="#collapseOne_payment">تعهدات کارگزار<i class="indicator icon-minus pull-right"></i></a>
                      </h4>
                    </div>
                    <div id="collapseOne_payment" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <p>ماده ۱-کارگزار موظف است نرخ و خدمات سفر را بصورت بروشور یا کتباً و یا از طریق وب سایت به مسافر اعلام نماید.</p>
                            <p>ماده ۲- کارگزار متعهد است خدمات سفر مورد توافق را بطور کامل انجام دهد.</p>
                            <p>
                                ماده ۳- در سفرهای زمینی، اگر وسیله نقلیه به هر دلیل و در هر قسمت از سفر از حرکت باز ایستد، جایگزینی وسیله نقلیه جدید و هرگونه هزینه دیگری که بابت تاخیر ایجاد شده است بر عهده کارگزار بوده و زمان لازم جهت تامین وسیله نقلیه جدید و تأخیر در اجرای سفر نیز مورد قبول مسافر است.<br>
                                تبصره ۱- در مورد تاخیر یا کنسلی در سفرهای هوایی، ریلی و دریایی بر اساس قوانین مربوطه عمل خواهد شد.
                            </p>
                            <p>ماده ۴-کارگزار موظف است در سفرهای زمینی در هر قسمت از مسیر سفر (اعم از آسفالت یا خاکی) از وسیله نقلیه متناسب با همان قسمت و همچنین متناسب با تعداد مسافران و مسیر گشت استفاده نماید.</p>
                            <p>
                                ماده ۵- کارگزار موظف است بیمه مسئولیت مدنی سفر را در مورد مسافر اعمال نموده و در صورت بروز هرگونه حادثه ای در محدوده مکانی و زمانی سفر، مسافر می‌تواند بر اساس شرایط بیمه تحت پوشش اقدام نماید و در این خصوص کارگزار همکاری و مساعدت لازم را به عمل خواهد آورد.<br>
                                تبصره ۱- کارگزار موظف است انواع بیمه های تکمیلی و حوادث را که مستلزم پرداخت هزینه های بیشتر از سوی مسافر می باشد به مسافر جهت انتخاب ارائه نماید.<br>
                                تبصره ۲- در صورت بروز هرگونه حادثه که منجر به خسارت جسمانی در طول سفر گردد، مسافر خود موظف به پرداخت هزینه¬های امداد و نجات و درمان می¬باشد. بدیهی است مسافر می¬تواند پس از طی مراحل قانونی و پزشکی با دریافت گزارش از کارگزار به شرکت بیمه مراجعه و طبق تعرفه های بیمه اقدام به دریافت خسارت نماید. در خصوص هزینه های درمانی مازاد بر بیمه هیچگونه مسئولیتی متوجه کارگزار نخواهد بود.<br>
                                تبصره ۳- درصورتیکه مسافر به هر دلیل جدا از برنامه سفر کارگزار به گروه ملحق و یا قبل از پایان سفر از گروه جدا شود، بیمه مسافر فقط از ابتدای الحاق وی به سفر و یا تا زمان انفصال وی از سفر معتبر بوده و فقط در مدت زمان حضور وی در سفر اعمال خواهد شد و در خارج از این زمان شرکت مسئولیتی در قبال بیمه مسافر نخواهد داشت.
                            </p>
                            <p>ماده ۶- کارگزار موظف است در سفرهای طبیعت¬گردی، از راهنمای تخصصی طبیعت گردی مورد تایید سازمان میراث فرهنگی، صنایع دستی و گردشگری استفاده نماید.</p>
                            <p>ماده ۷- کارگزار موظف است در سفرها حداقل تجهیزات لازم جهت کمکهای اولیه و امداد و نجات را همراه با راهنمای سفر ارسال کند.</p>
                        </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#payment" href="#collapseTwo_payment">تعهدات مسافر<i class="indicator icon-plus pull-right"></i></a>
                      </h4>
                    </div>
                    <div id="collapseTwo_payment" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>ماده ۸- مسافر یا نماینده ایشان موظف است در هنگام ثبت نام، مشخصات فردی خود و همراهان را بطور صحیح و کامل ذکر نماید. بدیهی است هرگونه مغایرتی که در ثبت مشخصات مسافر صورت گیرد متوجه نماینده و مسافر بوده و کارگزار در این خصوص هیچ گونه مسئولیت در ارتباط با آن مسافر نخواهد داشت.</p>
                            <p>ماده ۹- درخصوص ثبت نام گروهی، فقط فردی که به نمایندگی از سوی مسافرین اقدام به ثبت نام و عقد قرارداد نموده مجاز به مراجعه به کارگزار جهت هرگونه پیگیری، ابطال و یا دریافت وجوه پرداختی می باشد و سایر مسافرین در این خصوص مجاز به مراجعه به کارگزار نمی باشند. همچنین فرد ثبت نام کننده به عنوان نماینده، موظف است اطلاعات سفر را به سایر مسافرین انتقال دهد.</p>
                            <p>ماده ۱۰- رعایت شئونات اسلامی با عنایت به اصل حجاب و عفاف، در طول سفر از سوی مسافر و عوامل اجرایی کارگزار الزامی است.</p>
                            <p>ماده 11 – مسافر موظف به احترام به آداب و رسوم و رعایت هنجارهای جامعه میزبان و عرف حاکم بر منطقه می¬باشد و در این زمینه باید به توصیه¬های راهنمای تور عمل نماید.</p>
                            <p>ماده ۱۲- همراه داشتن شناسنامه عکس¬دار و کارت ملی برای تمامی سفر‌ها الزامی است. با توجه به اینکه کارگزار در ابتدای سفر نسبت به احراز هویت مسافرین اقدام نموده و از حضور مسافرین ثبت نام نشده جلوگیری به عمل می آورد ، مسئولیت عدم تطابق اطلاعات اظهار شده هنگام ثبت نام با مدارک مثبته به عهده مسافر است.</p>
                            <p>ماده ۱۳- مسافر موظف است در ساعات اعلام شده در برنامه های گشت شرکت نموده و در صورت عدم حضور به موقع هنگام حرکت گشت، شخصاً متعهد قبول مشکلات احتمالی و پرداخت هزینه‌های مربوطه جهت پیوستن به گروه و ادامه برنامه گشت خواهد بود و کارگزار هیچگونه مسئولیتی در این خصوص نخواهد داشت.</p>
                            <p>ماده ۱۴- هرگونه هزینه و خسارت در طول سفر که به دلایل تبعیت نکردن از دستورات راهنما، گشت های خارج از خدمات کارگزار و یا عدم استفاده از لوازم ضروری شخصی هر سفر (مندرج در فرم اصلی قرارداد) به وجود آید تماماً متوجه مسافر خواهد بود.</p>
                            <p>ماده ۱۵- مسافر می بایست در طول گشت کلیه ضوابط حاکم بر سفر را پذیرفته و در صورت وارد نمودن هرگونه خسارت به محل های اقامت، وسایل حمل و نقل و مکان های مورد بازدید، شخصاً مسئول پرداخت خسارت وارده خواهد بود.</p>
                            <p>
                                ماده ۱۶- در صورت افزایش و یا تغییر نرخ حاصله در قیمت سفر اعم از افزایش نرخ بلیط، هتل و یا سایر خدمات، با ارائه مدرک مستند از سوی کارگزار، مسافر موظف به پرداخت مابه التفاوت اعلام شده به کارگزار می‌باشد.<br>
                                تبصره ۱- چنانچه مسافر شرایط مندرج در ماده فوق را نپذیرد موظف به پرداخت جریمه (مطابق ماده ۳0) خواهد شد.
                            </p>
                            <p>ماده ۱۷- چنانچه کارگزار مجبور شود در اثر شرایط غیر قابل پیش¬بینی طبیعی و محیطی، بخشی از گشت را ابطال کرده و خارج از چهارچوب اعلام شده در برنامه سفر نسبت به رزرو هتل یا کرایه وسایل نقلیه یا هرگونه عمل لازم در راستای اجرای سفری دیگر اقدام کند، مسافر موظف به پرداخت مابه التفاوت اعلام شده به کارگزار است.</p>
                            <p>ماده ۱۸-کلیه هزینه های خارج از برنامه به عهده مسافر می باشد.</p>
                            <p>ماده ۱۹- امضای قرارداد یا خرید تور به صورت الکترونیک از طرف مسافر یا نماینده وی، به منزله مطالعه دقیق مشخصات سفر، آگاهی کامل از مفاد قرارداد، شرایط ابطال سفر و اطلاع از کلیه لوازم ضروری و شخصی مورد نیاز سفر بوده و کلیه مسئولیت های ناشی از عدم توجه به مفاد این پیوست متوجه مسافر خواهد بود.</p>
                            <p>ماده ۲۰- مسئولیت مراقبت از فرزندان و حفظ اموال و مدارک شخصی در تمام طول سفر به عهده مسافر بوده و در این خصوص هیچ مسئولیتی متوجه راهنما و کارگزار نخواهد بود.</p>
                            <p>ماده ۲۱- مسافر یا نماینده ایشان موظف است بر اساس سطح توانایی جسمی خود و همراهان در تور متناسب با سختی سفر، ثبت نام نماید و همچنین در صورت نیاز به مصرف هرگونه داروی تجویز شده از سوی پزشک و یا استفاده از تجهیزات پزشکی خاص، آنها را در طول سفر همراه داشته باشد و می بایست راهنمای سفر خود را از این موضوع مطلع سازد<br>
                            تبصره ۱- هرگونه مشکلات و هزینه ناشی از عدم آمادگی جسمانی یا عدم آگاهی مسافر از وضعیت جسمانی خود و یا امراض احتمالی مسافر در طول سفر بعهده مسافر خواهد بود.</p>
                        </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#payment" href="#collapseThree_payment">هتل و اقامت<i class="indicator icon-plus pull-right"></i></a>
                      </h4>
                    </div>
                    <div id="collapseThree_payment" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                ماده ۲۲- در صورت اقامت در هتل،قیمت هر سفر براساس اتاق دو نفره تنظیم گردیده و مسافرین انفرادی به هنگام ثبت نام مشمول مقررات و نرخ استفاده از اتاق یک نفره می باشند.<br>
                                تبصره ۱- در اتاق های دو تخته، تخت سوم از نوع سفری و یا کاناپه تاشو بوده که موقتاً در اتاق دو تخته گذاشته می شود.<br>
                                تبصره ۲- ساعات تحویل اتاق های هتل به هنگام ورود ساعت ۱۴ و تخلیه آن ساعت ۱۲ می باشد.<br>
                                تبصره ۳- در اقامتگاه های بومی یا محیط های طبیعی غیر از هتل (کمپ، کلبه، خانه محلی، خانه محلی تجهیز شده) شرایط اقامت بر اساس ضوابط حاکم بر تاسیسات اقامتی مورد تایید سازمان میراث فرهنگی، صنایع دستی و گردشگری بوده و امکان استفاده از چادر یا اتاق اختصاصی برای مسافر وجود ندارد. همچنین زمان لازم برای برپایی کمپ و جمع آوری آن مورد قبول مسافر می باشد.
                            </p>
                          
                        </div>
                    </div>
                  </div>
             <div class="panel panel-default">
                 <div class="panel-heading">
                     <h4 class="panel-title">
                         <a class="accordion-toggle" data-toggle="collapse" data-parent="#payment" href="#collapsefour_payment">شرایط عمومی<i class="indicator icon-plus pull-right"></i></a>
                     </h4>
                 </div>
                 <div id="collapsefour_payment" class="panel-collapse collapse">
                     <div class="panel-body">
                         <p>ماده ۲۳- این پیوست می تواند به صورت دستی تهیه شود و یا به صورت الکترونیک توسط مسافر یا نماینده او از طریق تارنمای اختصاصی کارگزار تایید می گردد و با پرداخت الکترونیک، خدمات مندرج در قرارداد برای شرکت کنندگان خریداری شود.</p>
                         <p>
                             ماده ۲۴- چنانچه سفر به حد نصاب مورد نظر متناسب با ظرفیت آن نرسد، کارگزار مجاز به ابطال آن و استرداد وجوه دریافتی به مسافر می‌باشد.<br>
                             تبصره ۱- کارگزار موظف است در این خصوص ۴۸ ساعت قبل از حرکت موضوع را به اطلاع مسافر برساند.
                         </p>
                         <p>ماده ۲۵- در طول سفر، امکان دیر یا زود شدن ساعات صرف غذا، خواب و استراحت، کم و زیاد شدن طول راه ها در روز و شب (با وسیله نقلیه و یا در راه پیمایی ها) در شرایط نامساعد آب و هوایی، محیطی، محلی و یا حوادث غیر مترقبه وجود دارد.</p>
                         <p>
                             ماده ۲۶- در صورتی که مقامات انتظامی به هر دلیلی از ورود مسافر به مقصد ممانعت کنند، مسافر ملزم به تبعیت از دستورات بوده و هیچ گونه مسئولیتی بر عهده کارگزار نخواهد بود.<br>
                             تبصره ۱- هرگاه مقامات انتظامی یا مسئولین محلی، به هر دلیل از ورود گروه به منطقه جلوگیری به عمل آورند، نماینده کارگزار (راهنما) در صورت داشتن زمان لازم، مجاز به جابجایی سفر بوده و مسافر ملزم به تبعیت از راهنما خواهد بود.
                         </p>
                         <p>ماده ۲۷- در صورت بروز هرگونه اخلال، مزاحمت، اعمال خلاف شئونات اسلامی و ارزش های فرهنگی و بومی در طول سفر توسط مسافر، راهنما مکلف است ضمن گزارش مراتب به کارگزار، بر حسب مورد، تصمیم لازم را در خصوص ادامه یا عدم ادامه حضور این مسافر در بقیه سفر اتخاذ نماید.</p>
                         <p>ماده ۲۸- در صورت بروز هرگونه اختلاف بین طرفین قرارداد، سازمان میراث فرهنگی، صنایع دستی و گردشگری مرجع رسیدگی بوده و آراء صادره برای طرفین لازم الاجرا خواهد بود.</p>
                         <p>ماده ۲۹- سفر های نوروزی شامل سفر هایی می باشد که در فاصله زمانی ۲۵ اسفند لغایت ۱۵ فروردین سال بعد برگزار می گردد.</p>
                         
                     </div>
                 </div>
             </div>
             <div class="panel panel-default">
                 <div class="panel-heading">
                     <h4 class="panel-title">
                         <a class="accordion-toggle" data-toggle="collapse" data-parent="#payment" href="#collapsefive_payment">شرایط انصراف و ابطال سفر<i class="indicator icon-plus pull-right"></i></a>
                     </h4>
                 </div>
                 <div id="collapsefive_payment" class="panel-collapse collapse">
                     <div class="panel-body">
                         <p>ماده ۳۰- درخواست انصراف از سفر باید قبل از حرکت سفر به صورت حضوری و توسط شخص امضاء کننده قرارداد و به صورت مکتوب انجام شود.</p>
                         <p>ماده ۳۱- شرایط ابطال سفر های عادی و نوروزی توسط مسافر</p><br />
                         <table class="table" border="1" cellspacing="0" cellpadding="0" align="center">
                             <thead>
                                 <tr>
                                     <th colspan="2" scope="col" bgcolor="#8bc0f2">زمان ابطال سفرهای عادی توسط مسافر</th>
                                     <th scope="col" bgcolor="#8bc0f2">درصد جریمه از کل مبلغ</th>
                                     <th colspan="3" scope="col" bgcolor="#8bc0f2">ملاحظات برای تمام سفرها</th>
                                     <th colspan="2" scope="col" bgcolor="#8bc0f2">زمان ابطال سفرهای نوروزی توسط مسافر</th>
                                     <th scope="col" bgcolor="#8bc0f2">درصد جریمه از کل مبلغ</th>
                                 </tr>
                             </thead>
                             <tbody>
                                 <tr>
                                     <td colspan="2">از ثبت نام تا ۳۰ روز قبل از سفر</td>
                                     <td>۵%</td>
                                     <td colspan="3" rowspan="7">
                                         <center>
                                     * جریمه کنسلی بلیت هواپیما و قطار دریافت خواهد شد* در صورت چارتر بودن محل اقامت، بلیت هواپیما یا قطار، مبلغ مسترد نخواهد شد* جریمه ابطال سفرهای <strong>یکروزه</strong>، تا ۴۸ ساعت قبل از سفر شامل ۷۰% مبلغ تور و از آن پس هیچ وجهی مسترد نخواهد شد.
                                         </center>
                                     </td>
                                     <td colspan="2">از ۲۹ تا ۲۵ روز قبل از سفر</td>
                                     <td>۳۰%</td>
                                 </tr>
                                 <tr>
                                     <td colspan="2">از ۲۹ تا ۱۵ روز قبل از سفر</td>
                                     <td>۱۰%</td>
                                     <td colspan="2">از ۲۴ تا ۲۱ روز قبل از سفر</td>
                                     <td>۳۵%</td>
                                 </tr>
                                 <tr>
                                     <td colspan="2">از ۱۴ تا ۷ روز قبل از سفر</td>
                                     <td>۲۰%</td>
                                     <td colspan="2">از ۲۰ تا ۱۱ روز قبل سفر</td>
                                     <td>۴۰%</td>
                                 </tr>
                                 <tr>
                                     <td colspan="2">از۶ تا ۴ روز قبل از سفر</td>
                                     <td>۴۰%</td>
                                     <td colspan="2">از ۱۰ تا ۴ روز قبل از حرکت</td>
                                     <td>۶۰%</td>
                                 </tr>
                                 <tr>
                                     <td colspan="2">از ۳ تا ۱ روز قبل از سفر</td>
                                     <td>۶۰%</td>
                                     <td colspan="2" rowspan="3">۳ روز تا زمان حرکت یا در صورت عدم حضور درسفر</td>
                                     <td rowspan="3">۱۰۰%</td>
                                 </tr>
                                 <tr>
                                     <td colspan="2">از ۲۴ ساعت و عدم حضور در سفر</td>
                                     <td>۱۰۰</td>
                                 </tr>
                             </tbody>
                         </table>
                         <br />
                         <p>ماده ۳۲- این پیوست در ۳۲ ماده و ۱۰ تبصره، در ۲ نسخه که هرکدام حکم واحد را دارد تنظیم و بر اساس ماده ۱۰ قانون مدنی می باشد که برای طرفین و قائم مقام قانونی آنها لازم الاتباع می باشد. </p>

                     </div>
                 </div>
             </div>
                </div><!-- End panel-group -->
                
                
         		<!-- End panel-group -->
              
        </div><!-- End col lg-9 -->
    </div><!-- End row -->
</div><!-- End container -->
    
<!-- End footer -->

<div id="toTop"></div><!-- Back to top button -->

<!-- Common scripts -->
<script src="~/Content/Template/js/jquery-1.11.2.min.js"></script>
<script src="~/Content/Template/js/common_scripts_min.js"></script>
<script src="~/Content/Template/js/functions.js"></script>

<!-- Specific scripts -->
<!-- Fixed sidebar -->
<script src="~/Content/Template/js/theia-sticky-sidebar.js"></script>
<script>
    jQuery('#sidebar').theiaStickySidebar({
      additionalMarginTop: 80
    });
</script>
<script>
 //$(function() {
	// 'use strict';
	//  $('#faq_box a[href*=#]:not([href=#])').click(function() {
	//    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
	//      var target = $(this.hash);
	//      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
	//      if (target.length) {
	//        $('html,body').animate({
	//          scrollTop: target.offset().top - 120
	//        }, 500);
	//        return false;
	//      }
	//    }
	//  });
	//});
</script>

  </body>
</html>

