﻿
@{
    Layout = "";
}
<!DOCTYPE html>
<!--[if IE 8]><html class="ie ie8"> <![endif]-->
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<html dir="rtl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <!-- Favicons-->
    @*<link rel="shortcut icon" href="~/Content/Template/img/favicon.ico" type="image/x-icon">*@
    @*<link rel="apple-touch-icon" type="image/x-icon" href="~/Content/Template/img/apple-touch-icon-57x57-precomposed.png">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="~/Content/Template/img/apple-touch-icon-72x72-precomposed.png">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="~/Content/Template/img/apple-touch-icon-114x114-precomposed.png">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="~/Content/Template/img/apple-touch-icon-144x144-precomposed.png">*@

    <!-- CSS -->
    <link href="~/Content/Template/css/base.css" rel="stylesheet">
    <!-- SPECIFIC CSS -->
    <link href="~/Content/Template/css/shop.css" rel="stylesheet">
    <!-- CSS -->
    <link href="~/Content/Template/css/date_time_picker.css" rel="stylesheet">

    <link href="~/Content/Template/css/slider-pro.min.css" rel="stylesheet">
    <link href="~/Content/Template/css/owl.carousel.css" rel="stylesheet">
    <link href="~/Content/Template/css/owl.theme.css" rel="stylesheet">
    <!-- Google web fonts -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

    <link href="~/Content/parallax.css" rel="stylesheet" />
    <!--[if lt IE 9]>
      <script src="~/Content/Template/js/html5shiv.min.js"></script>
      <script src="~/Content/Template/js/respond.min.js"></script>
    <![endif]-->

</head>
@using Tourist.CommonMethods
@using Tourist.Models
@model @event
<body>
    <!--[if lte IE 8]>
        <p class="chromeframe">لطفا مرورگر خود را بروز کنید <strong>استفاده میکنید</strong> مرورگر قدیمی <a href="http://digiao.ir/">شما از </a>.</p>
    <![endif]-->
    <div id="preloader">
        <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>
    </div>
    <!-- End Preload -->
    <div class="layer"></div>
    <header id="plain" style="background-color:#e04f67;color:#fff">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div id="logo_home">
                        <h1><a href="index.html" title=""></a></h1>
                    </div>
                </div>
                <nav class="col-md-9 col-sm-9 col-xs-9">
                    <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>منوی تلفن همراه</span></a>
                    <div class="main-menu">
                        <div id="header_menu">
                            @*<img src="~/Content/Template/img/logo_sticky.png" width="160" height="34" alt="City tours" data-retina="true">*@
                        </div>
                        <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
                        <ul>
                            <li class="submenu">
                                <a href="/Home/index" class="show-submenu">صفحه اصلی </a><ul></ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:void(0);" class="show-submenu">رویداد <i class="icon-down-open-mini"></i></a>
                                <ul>
                                    <li><a href="/Events/All_Event/?kind=2">گالری ها</a></li>
                                    <li><a href="/Events/All_Event/?kind=1">کافه ها</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:void(0);" class="show-submenu">امکانات ویژه<i class="icon-down-open-mini"></i></a><ul>
                                    <li><a href="~/Home/Map">اطراف من</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="/Home/index#info" class="show-submenu">درباره ما</a>

                            </li>
                            <li class="submenu">
                                <a href="/Home/index#guide" class="show-submenu">راهنما</a>
                            </li>

                        </ul>
                    </div><!-- End main-menu -->
                    @*<ul id="top_tools">
                            <li>
                                <div class="dropdown dropdown-search">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-search"></i></a>
                                    <div class="dropdown-menu">
                                        <form>
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="جستجو...">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button" style="margin-left:0;">
                                                        <i class="icon-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown dropdown-cart">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class=" icon-basket-1"></i>سبد خرید (۰) </a>
                                    <ul class="dropdown-menu" id="cart_items">
                                        <li>
                                            <div class="image"><img src="~/Content/Template/img/thumb_cart_1.jpg" alt="image"></div>
                                            <strong>
                                                <a href="#">موزه ایران</a>۱ نفر ۲۵.۰۰۰ تومان
                                            </strong>
                                            <a href="#" class="action"><i class="icon-trash"></i></a>
                                        </li>
                                        <li>
                                            <div class="image"><img src="~/Content/Template/img/thumb_cart_2.jpg" alt="image"></div>
                                            <strong>
                                                <a href="#">برج میلاد</a>۲ نفر ۸۰.۰۰۰ تومان
                                            </strong>
                                            <a href="#" class="action"><i class="icon-trash"></i></a>
                                        </li>
                                        <li>
                                            <div class="image"><img src="~/Content/Template/img/thumb_cart_3.jpg" alt="image"></div>
                                            <strong>
                                                <a href="#">تور کیش</a>۱ نفر ۸۰.۰۰۰ تومان
                                            </strong>
                                            <a href="#" class="action"><i class="icon-trash"></i></a>
                                        </li>
                                        <li>
                                            <div>مجموع: <span>۱۸۵.۰۰۰ تومان</span></div>
                                            <a href="cart.html" class="button_drop">برو به سبد خرید</a>
                                            <a href="payment.html" class="button_drop outline">بررسی ورود</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>*@
                </nav>
            </div>
        </div><!-- container -->
    </header>

    @*<section class="parallax-window" data-parallax="scroll"  data-image-src="@($"data:image/jpeg;base64,{Convert.ToBase64String(Model.poster)}")" data-natural-width="1400" data-natural-height="470">
            <div class="parallax-content-2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-8">
                            <h1>@Model.title</h1>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div id="price_single_main">
                                <span><sup>@Model.price تومان</sup></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@<!-- End section -->
    <div id="position">
        <div class="container">
            <ul>
                <li><a>صفحه اصلی</a></li>
                <li>
                    <a>
                        @{
                        if (Model.Profile_cafe_gallery.Type_id == 2)
                        {<text>گالری </text>}
                        if (Model.Profile_cafe_gallery.Type_id == 1)
                        { <text>کافه</text> }

                    }
                </a>
            </li>
        </ul>
    </div>
</div><!-- End Position -->

<div class="collapse" id="collapseMap">
    <div id="map" class="map"></div>
</div><!-- End Map -->
<div class="container margin_60">
    <div class="row">
        <div class="col-md-8" id="single_tour_desc">

            @*<div id="single_tour_feat">
                    <ul>
                        <li><i class="icon_set_1_icon-4"></i>موزه</li>
                        <li><i class="icon_set_1_icon-83"></i>۳ ساعت</li>
                        <li><i class="icon_set_1_icon-13"></i>دسترسی معلولین</li>
                        <li><i class="icon_set_1_icon-82"></i>۱۴۴ پسندیده شده</li>
                        <li><i class="icon_set_1_icon-22"></i>حیوان خانگی مجاز</li>
                        <li><i class="icon_set_1_icon-97"></i>راهنمای صوتی</li>
                        <li><i class="icon_set_1_icon-29"></i>راهنمای تور</li>
                    </ul>
                </div>*@

            <p class="visible-sm visible-xs"><a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap">نمایش بر روی نقشه</a></p><!-- Map button for tablets/mobiles -->


            <div class="row">
                <div class="col-md-6">
                    <div id="app">
                        <card data-image="@($"data:image/jpeg;base64,{Convert.ToBase64String(Model.poster)}")">
                            <h4 style="color:white" slot="header">@Model.title</h4>
                            <p style="line-height:1.5em" slot="content">
                                @if (Model.price_kind.ToLower() == "free")
                                {<text>رایگان </text>}
                                @if (Model.price_kind.ToLower() == "fee")
                                {<text>ورودی </text>}
                                @if (Model.price_kind.ToLower() == "invitation")
                                {<text>دعوت نامه</text>}
                            </p>
                        </card>
                    </div>
                    @*<div class="image-column">
                            <figure class="image-box"><img style="width:80%;" src="@($"data:image/jpeg;base64,{Convert.ToBase64String(Model.poster)}")" alt=""></figure>
                        </div>*@
                </div>
                <div class="col-md-6">
                    <div class="details-header">
                        <h2>@Model.Profile_cafe_gallery.Name</h2>
                    </div>
                 <div>
                     @Html.Raw(Model.summary)
                 </div>

                    


                </div>
            </div>
            
            <hr />
            <div class="row">
                <div class="col-md-3">
                    <h3>برنامه</h3>
                </div>
                <div class="col-md-9">
                    <div class=" table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th colspan="2">

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>
                                        اسم رویداد
                                    </th>
                                    <td>
                                        @Model.title
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        تاریخ شروع
                                    </th>
                                    <td>
                                        @CalendarMngr.JulianToPersian(Model.start_date.Value)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        تاریخ پایان
                                    </th>
                                    <td>
                                        @CalendarMngr.JulianToPersian(Model.end_date.Value)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        ساعت برگزاری
                                    </th>
                                    <td>
                                        <div class="col-md-6">
                                            @Model.time_start_mor
                                        </div>

                                        <div class="col-md-6">
                                            @Model.time_end_mor
                                        </div>
                                        <div class="col-md-6">
                                            @Model.time_start_eve
                                        </div>

                                        <div class="col-md-6">
                                            @Model.time_end_eve
                                        </div>

                                    </td>



                                </tr>
                                <tr>
                                    <th>
                                        تلفن
                                    </th>
                                    <td>
                                        @Model.Profile_cafe_gallery.Tel
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        نشانی
                                    </th>
                                    <td>
                                        @Model.Profile_cafe_gallery.Address
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <h3>توضیحات</h3>
                </div>
                <div class="col-md-9">
                    @Html.Raw(Model.description)
                  
                </div>
            </div>
            @*<div class="row">
                    <div class="col-md-3">
                        <h3>نشانی</h3>
                    </div>
                    <div class="col-md-9">
                        <p>
                            @Model.address
                        </p>

                    </div>
                </div>*@

            @*<div class="related-products">
                    <div class="normal-title">
                        <h3> رویداد های مشابه</h3>
                    </div>
                    <div class="row">
                        <div class="shop-item col-lg-4 col-md-6 col-sm-6">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="shop-single.html"><img src="~/Content/Template/img/products/image-1.jpg" alt=""></a></figure>

                                </div>
                                <div class="product_description">

                                    <h3><a href="shop-single.html">کتاب سفر</a></h3>
                                    <div class="price">
                                        ۳۰.۰۰۰ تومان
                                    </div>
                                </div>
                            </div>
                        </div><!--End Shop Item-->

                        <div class="shop-item col-lg-4 col-md-6 col-sm-6">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="shop-single.html"><img src="~/Content/Template/img/products/image-2.jpg" alt=""></a></figure>

                                </div>
                                <div class="product_description">

                                    <h3><a href="shop-single.html">نقشه های سفر</a></h3>
                                    <div class="price">
                                        <span class="offer">۱۲.۰۰۰ تومان</span> ۱۰.۰۰۰ تومان
                                    </div>
                                </div>
                            </div>
                        </div><!--End Shop Item-->

                        <div class="shop-item col-lg-4 col-md-6 col-sm-6">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="shop-single.html"><img src="~/Content/Template/img/products/image-3.jpg" alt=""></a></figure>

                                </div>
                                <div class="product_description">

                                    <h3><a href="shop-single.html">مکان های دیدنی دنیا</a></h3>
                                    <div class="price">
                                        ۵۰.۰۰۰ تومان
                                    </div>
                                </div>
                            </div>
                        </div><!--End Shop Item-->

                    </div>
                </div>*@<!--End Related products-->
            <hr />
            <div id="Img_carousel" class="slider-pro">

                <div class="sp-slide">
                    <img alt="" class="sp-image"
                         data-src="@($"data:image/jpeg;base64,{Convert.ToBase64String(Model.Profile_cafe_gallery.Image)}")"
                         @*data-small="/Content/Template/img/slider_single_tour/1_small.jpg"
                                 data-medium="/Content/Template/img/slider_single_tour/1_medium.jpg"
                                 data-large="/Content/Template/img/slider_single_tour/1_large.jpg"
                                 data-retina="/Content/Template/img/slider_single_tour/1_large.jpg"*@>
                </div>

            </div>
        </div><!--End  single_tour_desc-->

        <aside class="col-md-4" id="sidebar">
            <p class="hidden-sm hidden-xs">
                <a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap">نمایش بر روی نقشه</a>
            </p>
            <div class="theiaStickySidebar">
                <div class="box_style_1 expose" id="booking_box">
                    <h3 class="inner">رزرو</h3>
                    <br>
                    <table class="table table_summary">
                        <tbody>
                            <tr>
                                <td>
                                    تاریخ شروع
                                </td>
                                <td class="text-right">
                                    @CalendarMngr.JulianToPersian(Model.start_date.Value)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    تاریخ پایان
                                </td>
                                <td class="text-right">
                                    @CalendarMngr.JulianToPersian(Model.end_date.Value)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    زمان
                                </td>
                                <td class="text-right">
                                    <div class="col-md-6">
                                        @Model.time_start_mor
                                    </div>

                                    <div class="col-md-6">
                                        @Model.time_end_mor
                                    </div>
                                    <div class="col-md-6">
                                        @Model.time_start_eve
                                    </div>

                                    <div class="col-md-6">
                                        @Model.time_end_eve
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    نوع قیمت
                                </td>
                                <td class="text-right">
                                    @if (Model.price_kind.ToLower() == "free")
                                    {<text>رایگان </text>}
                                    @if (Model.price_kind.ToLower() == "fee")
                                    {<text>ورودی </text>}
                                    @if (Model.price_kind.ToLower() == "invitation")
                                    {<text>دعوت نامه</text>}

                                </td>
                            </tr>
                            <tr class="total">
                                <td>
                                    هزینه
                                </td>
                                <td class="text-right">
                                    @Model.price تومان
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <a class="btn_full" href="#">ثبت کن</a>
                    @*<a class="btn_full_outline" href="#"><i class=" icon-heart"></i> اضافه کردن به لیست علاقمندی</a>*@
                </div><!--/box_style_1 -->
            </div><!--/end sticky -->
        </aside>
    </div><!--End row -->
</div><!--End container -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-3">
                <h3>شما نیاز به کمک دارید؟</h3>
                <a href="شماره تماس://09174542538" id="phone">09174542538</a>
                @*<a href="ایمیل:Info@digiao.ir" id="email_footer">Info@digiao.ir</a>*@
            </div>
            <div class="col-md-3 col-sm-3">
                <h3>در باره ما</h3>
                <ul>
                    <li><a href="#info">درباره ما</a></li>
                    <li><a href="#guide">راهنما</a></li>
                    @*<li><a href="#">ورود</a></li>
                        <li><a href="#">ثبت نام</a></li>
                        <li><a href="#">شرایط و ضوابط </a></li>*@
                </ul>
            </div>
            <div class="col-md-3 col-sm-3">
                <h3>امکانات</h3>
                <ul>
                    <li><a href="~/Home/Map">اطراف من</a></li>
                    <li><a href="/Events/All_Event/?kind=gallery">گالری</a></li>
                    <li><a href="/Events/All_Event/?kind=cafe">کافه</a></li>

                </ul>
            </div>
            <div class="col-md-2 col-sm-3">
                <h3>تنظیمات</h3>
                <div class="styled-select">
                    <select class="form-control" name="lang" id="lang">
                        <option value="English" selected>فارسی</option>
                        @*<option value="French">French</option>
                            <option value="Spanish">Spanish</option>
                            <option value="Russian">Russian</option>*@
                    </select>
                </div>
                @*<div class="styled-select">
                        <select class="form-control" name="currency" id="currency">
                            <option value="USD" selected>ریال</option>
                            <option value="EUR">دلار</option>
                            <option value="GBP">تومان</option>
                            <option value="RUB">یورو</option>
                        </select>
                    </div>*@
            </div>
        </div><!-- End row -->
        <div class="row">
            <div class="col-md-12">
                <div id="social_footer">
                    <ul>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-google"></i></a></li>
                        <li><a href="#"><i class="icon-instagram"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                    </ul>

                </div>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
</footer>

<div id="toTop"></div><!-- Back to top button -->
<div id="overlay"></div><!-- Mask on input focus -->
<!-- Common scripts -->
<script src="~/Content/Template/js/jquery-1.11.2.min.js"></script>
<script src="~/Content/Template/js/common_scripts_min.js"></script>
<script src="~/Content/Template/js/functions.js"></script>
<!-- Specific scripts -->
<script src="~/Content/Template/js/icheck.js"></script>
<script src="~/Scripts/vue.min.js"></script>
<script src="~/Content/parallax_fix.js"></script>
<script>
    $('input').iCheck({
        checkboxClass: 'icheckbox_square-grey',
        radioClass: 'iradio_square-grey'
    });
</script>
<!--slide bar-->
<script src="~/Content/Template/js/jquery.sliderPro.min.js"></script>
<script type="text/javascript">
        $(document).ready(function ($) {
            $('#Img_carousel').sliderPro({
                width: 960,
                height: 500,
                fade: true,
                arrows: true,
                buttons: false,
                fullScreen: false,
                smallSize: 500,
                startSlide: 0,
                mediumSize: 1000,
                largeSize: 3000,
                thumbnailArrows: true,
                autoplay: false
            });
        });
</script>

<!-- Date and time pickers -->
<script src="~/Content/Template/js/bootstrap-datepicker.js"></script>
<script src="~/Content/Template/js/bootstrap-timepicker.js"></script>
<script>
        $('input.date-pick').datepicker('setDate', 'today');
        $('input.time-pick').timepicker({
            minuteStep: 15,
            showInpunts: false
        })
</script>
<!--Review modal validation -->
<script src="assets/validate.js"></script>
<!-- Map -->
<script src="~/Content/Template/js/infobox.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPnB4pS-Sw8CNQKmJiRoxcSMj9p0cQjro&callback=initMap"></script>
<script src="~/Content/Template/js/infobox.js"></script>
<script>
        function initMap() { alert("ok"); }
        (function (A) {
            if (!Array.prototype.forEach)
                A.forEach = A.forEach || function (action, that) {
                    for (var i = 0, l = this.length; i < l; i++)
                        if (i in this)
                            action.call(that, this[i], i, this);
                };

        })(Array.prototype);

        var current_lat;
        var current_lon;

        var
            mapObject,
            markers = [],
            markersData = {
                'Gallery': [
                    @{
                        if (@Model.Profile_cafe_gallery != null) {
                        if(@Model.Profile_cafe_gallery.Type_id == 2)
                        {
                    <text>
                    {
                        name: '@*@item.name*@',
                        location_latitude: @Model.Profile_cafe_gallery.map_lat,
                        location_longitude: @Model.Profile_cafe_gallery.map_lon,
                        @*map_image_url: '@($"data:image/jpeg;base64,{Convert.ToBase64String(item.poster)}")',*@
                        name_point: '@Model.title',
                        description_point: '@Model.summary',
                        get_directions_start_address: '',
                        phone: '@*@item.tel*@',
                        url_point: 'single_tour.html'
                    },
                    </text>
                            }
                        }
                     }

                ],
                'cafe': [

@{
                    if (@Model.Profile_cafe_gallery != null) {
                    if(@Model.Profile_cafe_gallery.Type_id == 1)
                    {
                    <text>
                    {
                        name: '@*@item.name*@',
                        location_latitude: @Model.Profile_cafe_gallery.map_lat,
                        location_longitude: @Model.Profile_cafe_gallery.map_lon,
                        @*map_image_url: '@($"data:image/jpeg;base64,{Convert.ToBase64String(@Model.poster)}")',*@
                        name_point: '@Model.title',
                        description_point: '@Model.summary',
                        get_directions_start_address: '',
                        phone: '@*@item.tel*@',
                        url_point: 'single_tour.html'
                    },
                    </text>
                        }
                    }
    }

                ]

            };
        console.log("location");
        console.log(current_lat);
        if (current_lat == '') {
            console.log(current_lat)
        }


        var mapOptions = {
            zoom: 15,
            center: new google.maps.LatLng(@Model.Profile_cafe_gallery.map_lat,@Model.Profile_cafe_gallery.map_lon),
            mapTypeId: google.maps.MapTypeId.ROADMAP,

            mapTypeControl: false,
            mapTypeControlOptions: {
                style: google.maps.MapTypeControlStyle.DROPDOWN_MENU,
                position: google.maps.ControlPosition.LEFT_CENTER
            },
            panControl: false,
            panControlOptions: {
                position: google.maps.ControlPosition.TOP_RIGHT
            },
            zoomControl: true,
            zoomControlOptions: {
                style: google.maps.ZoomControlStyle.LARGE,
                position: google.maps.ControlPosition.LEFT_CENTER
            },
            scrollwheel: false,
            scaleControl: false,
            scaleControlOptions: {
                position: google.maps.ControlPosition.LEFT_CENTER
            },
            streetViewControl: true,
            streetViewControlOptions: {
                position: google.maps.ControlPosition.LEFT_CENTER
            },
            styles: [
                {
                    "featureType": "landscape",
                    "stylers": [
                        {
                            "hue": "#FFBB00"
                        },
                        {
                            "saturation": 43.400000000000006
                        },
                        {
                            "lightness": 37.599999999999994
                        },
                        {
                            "gamma": 1
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "stylers": [
                        {
                            "hue": "#FFC200"
                        },
                        {
                            "saturation": -61.8
                        },
                        {
                            "lightness": 45.599999999999994
                        },
                        {
                            "gamma": 1
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "stylers": [
                        {
                            "hue": "#FF0300"
                        },
                        {
                            "saturation": -100
                        },
                        {
                            "lightness": 51.19999999999999
                        },
                        {
                            "gamma": 1
                        }
                    ]
                },
                {
                    "featureType": "road.local",
                    "stylers": [
                        {
                            "hue": "#FF0300"
                        },
                        {
                            "saturation": -100
                        },
                        {
                            "lightness": 52
                        },
                        {
                            "gamma": 1
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "stylers": [
                        {
                            "hue": "#0078FF"
                        },
                        {
                            "saturation": -13.200000000000003
                        },
                        {
                            "lightness": 2.4000000000000057
                        },
                        {
                            "gamma": 1
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "stylers": [
                        {
                            "hue": "#00FF6A"
                        },
                        {
                            "saturation": -1.0989010989011234
                        },
                        {
                            "lightness": 11.200000000000017
                        },
                        {
                            "gamma": 1
                        }
                    ]
                }
            ]
        };
        var marker;
        mapObject = new google.maps.Map(document.getElementById('map'), mapOptions);
        for (var key in markersData)
            markersData[key].forEach(function (item) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(item.location_latitude, item.location_longitude),
                    map: mapObject,
                    icon: '/Content/Template/img/pins/' + key + '.png',
                });

                if ('undefined' === typeof markers[key])
                    markers[key] = [];
                markers[key].push(marker);
                google.maps.event.addListener(marker, 'click', (function () {
                    closeInfoBox();
                    getInfoBox(item).open(mapObject, this);
                    mapObject.setCenter(new google.maps.LatLng(item.location_latitude, item.location_longitude));
                }));


            });
        function ShowPosition(position) {
            var myCenter = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            var marker = new google.maps.Marker({ position: myCenter });
            marker.setMap(mapObject);
        }


        function hideAllMarkers() {
            for (var key in markers)
                markers[key].forEach(function (marker) {
                    marker.setMap(null);
                });
        };

        function toggleMarkers(category) {
            hideAllMarkers();
            closeInfoBox();

            if ('undefined' === typeof markers[category])
                return false;
            markers[category].forEach(function (marker) {
                marker.setMap(mapObject);
                marker.setAnimation(google.maps.Animation.DROP);

            });
        };

        function closeInfoBox() {
            $('div.infoBox').remove();
        };

        function getInfoBox(item) {
            return new InfoBox({
                content:
                '<div class="marker_info" id="marker_info">' +
                '<img src="' + item.map_image_url + '" alt="Image"/>' +
                '<h3>' + item.name_point + '</h3>' +
                '<span>' + item.description_point + '</span>' +
                '<div class="marker_tools">' +
                '<form action="http://maps.google.com/maps" method="get" target="_blank" style="display:inline-block""><input name="saddr" value="' + item.get_directions_start_address + '" type="hidden"><input type="hidden" name="daddr" value="' + item.location_latitude + ',' + item.location_longitude + '"><button type="submit" value="Get directions" class="btn_infobox_get_directions">Directions</button></form>' +
                '<a href="tel://' + item.phone + '" class="btn_infobox_phone">' + item.phone + '</a>' +
                '</div>' +
                '<a href="' + item.url_point + '" class="btn_infobox">Details</a>' +
                '</div>',
                disableAutoPan: false,
                maxWidth: 0,
                pixelOffset: new google.maps.Size(10, 125),
                closeBoxMargin: '5px -20px 2px 2px',
                closeBoxURL: "http://www.google.com/intl/en_us/mapfiles/close.gif",
                isHidden: false,
                alignBottom: true,
                pane: 'floatPane',
                enableEventPropagation: true
            });
        };

        $(function() {
        $('#location').click(
            function (e) {
                getlocation();
            });
        })
</script>
<!-- Fixed sidebar -->
<script src="~/Content/Template/js/theia-sticky-sidebar.js"></script>
<script>
        jQuery('#sidebar').theiaStickySidebar({
            additionalMarginTop: 80
        });
</script>
</body>
</html>
