﻿﻿@{
    ViewBag.Title = "پرداخت";
    Layout = "~/Views/Shared/_LayoutTheme.cshtml";
}
@using System.Globalization;
@using Tourist.Models
@using Tourist.CommonMethods
@using Compress;
@model Payment_user

@{int tempquantity = (int)TempData["temp"];
    int remainder = ViewBag.tour.Remainder - tempquantity;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link href="~/Content/newTemplate/Bootstrap3.3.7.css" rel="stylesheet" />
    <title>توریپس|صفحه تور</title>



    <!-- Material Design Bootstrap -->
    <link href="~/Content/newTemplate/css/responsive.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/newTemplate/css/singletour.css" />
    <link href="~/Content/newTemplate/cssMain/stylemain.css" rel="stylesheet" />
    <link href="~/Content/newTemplate/cssMain/flexslider.css" rel="stylesheet" />
    <link href="~/Content/newTemplate/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/newTemplate/cssMain/bootstrap-theme.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/Content/newTemplate/css/simple-line-icons.css" rel="stylesheet" />



    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <!-- ============= GOOGLE FONTS-->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Antic|Raleway:300">
    <!-----------------jquery------------------------>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>




    @*<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">*@
    @*<link rel="stylesheet" href="~/Content/newTemplate/css/simple-line-icons.css">*@



    @*<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/css/mdb.min.css" rel="stylesheet">*@
    @*<link href="~/Content/newTemplate/css/mdb.min.css" rel="stylesheet" />*@

    @*<link rel="stylesheet" href="~/Content/newTemplate/css/style.css">
        <link rel="stylesheet" href="~/Content/newTemplate/css/responsive.css">*@


    @*<meta charset="utf-8" />
        <link href="~/Content/newTemplate/css/custom.css" rel="stylesheet" />*@

    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@

    @*<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
        <!-- =============
             <!--datepicker-->
        <link rel="stylesheet" href="~/Content/plugins/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.css" />
        <!--GOOGLE FONTS-->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Antic|Raleway:300">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*@


</head>
<body>

    <script type="text/javascript">
	 
        var TabBlock = {
            s: {
                animLen: 200
            },

            init: function () {
                TabBlock.bindUIActions();
                TabBlock.hideInactive();
            },

            bindUIActions: function () {
                $('.tabBlock-tabs').on('click', '.tabBlock-tab', function () {
                    TabBlock.switchTab($(this));
                });
            },


            hideInactive: function () {
                var $tabBlocks = $('.tabBlock');

                $tabBlocks.each(function (i) {
                    //if (document.getElementById("1") == null) {
                    //    document.getElementById("err-vehical").innerHTML = "نوع وسیله نقلیه انتخاب نشده";
                    //} else if (document.getElementById("2") == null) {
                    //    document.getElementById("err-place").innerHTML = "نوع اقامت انتخاب نشده";
                    //} else if (document.getElementById("3") == null) {
                    //    document.getElementById("err-food").innerHTML = "نوع غذا انتخاب نشده";
                    //} else {
                    //    var
                    //        $tabBlock = $($tabBlocks[i]),
                    //        $panes = $tabBlock.find('.tabBlock-pane'),
                    //        $activeTab = $tabBlock.find('.tabBlock-tab.is-active');
                    //    $panes.hide();
                    //    $($panes[$activeTab.index()]).show();
                    //};
                    var
                        $tabBlock = $($tabBlocks[i]),
                        $panes = $tabBlock.find('.tabBlock-pane'),
                        $activeTab = $tabBlock.find('.tabBlock-tab.is-active');
                    $panes.hide();
                    $($panes[$activeTab.index()]).show();
                });
            },

            switchTab: function ($tab) {
                var $context = $tab.closest('.tabBlock');

                console.log("hi");
                if (!$tab.hasClass('is-active')) {
                    $tab.siblings().removeClass('is-active');
                    $tab.addClass('is-active');

                    TabBlock.showPane($tab.index(), $context);
                }
            },

            showPane: function (i, $context) {
                var $panes = $context.find('.tabBlock-pane');
                console.log("hi 4");
                // Normally I'd frown at using jQuery over CSS animations, but we can't transition between unspecified variable heights, right? If you know a better way, I'd love a read it in the comments or on Twitter
                $panes.slideUp(TabBlock.s.animLen);
                $($panes[i]).slideDown(TabBlock.s.animLen);
            }
        };

        $(function () {
            TabBlock.init();
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#discount_cont").parent().parent().hide();
            $('#logo').hide();
            document.getElementById("hero").remove();
        });
    </script>


    <script type="text/javascript">
        var vehicle ="";
        var place ="";
        var food = "";
        var persons = 1;
        var cost = 0;
        var discount ;
        $(document).ready(function () {


            discount = { ProfileDiscount: $("#profileDiscount").val() * 1 };

            //$(".birthday").persianDatepicker();
            $(".bt").on("click tap", function () {

                var $button = $(this);
                var oldValue = $('#spinner').val();


                if ($button.attr("id") === "step-increment") {



                    var newVal = parseFloat(oldValue) + 1;
                    //for especial case that if someone has entered offercode then increase persons no.
                    if (discount.discountprice >0 && discount.quantity < newVal) {

                        if ( discount.quantity + discount.CurrentDiscount >= newVal) {

                            //$(".popplus ,#backgroundDarkener").fadeIn(300);
                            $("#textErrorDiscount").text("برای استفاده ازاین کد تخفیف بعد از چند دقیقه دوباره امتحان کنید");
                            setTimeout(function () { $(".tooltipcod").css("display", "inline-block"); }, 10);
                        }
                        else {
                            /////  در صورت داشتن کد تخفیف  ولی در حالت رزرو
                            // $(".popreserve ,#backgroundDarkener").fadeIn(300);
                            $("#textErrorDiscount").text("این کدتخفیف برای " + discount.quantity+" نفر  قابل استفاده است .");
                            setTimeout(function () { $(".tooltipcod").css("display", "inline-block"); }, 10);
                        }
                        newVal = newVal - 1;

                    }

                } else {
                    // Don't allow decrementing below zero
                    if (oldValue > 1) {
                        newVal = parseFloat(oldValue) - 1;
                    } else {
                        newVal = 1;
                    }
                }

                $('#spinner').val(newVal);
                persons = $("input[id='spinner']").val();
                //alert(persons);

            });

           //if (document.getElementById("place") !== null) {
            //    place = "1";
            //}
            //if (document.getElementById("food") !== null) {
            //    food= "1";
            //}

            function errorVehicle() {
                if (vehicle === "") {
                    document.getElementById("err-vehical").innerHTML = "نوع وسیله نقلیه را انتخاب کنید";
                    $([document.documentElement, document.body]).animate({
                        scrollTop: $(".tab").offset().top
                    }, 2000);
                    return false;
                }
                return true;
            }

            // newdiscount
            function calcCost() {


                if (errorVehicle())
                    if (discount.ProfileDiscount == null)
                        discount.ProfileDiscount = 0;
                if (discount.currentQuantity == null)
                    discount.currentQuantity = 1;

                if (discount.discountprice > 0) {

                    if (discount.quantity >= discount.currentQuantity) {
                        if (discount.discountpriceCost != null)
                            discount.discountprice = discount.discountpriceCost;

                        if (discount.IsPercent == 0 || discount.discountpriceCost!=null) {
                            var singleCost = discount.cost / discount.currentQuantity;
                            discount.discountpriceCost = discount.discountprice;
                            discount.discountprice = discount.discountprice / singleCost * 100;
                        }

                        discount.cost_ = discount.cost - (discount.cost * (ChechProfileDiscount(discount.ProfileDiscount, discount.cost / discount.currentQuantity) + discount.discountprice) / 100);

                        $("#discount_cont").text(discount.cost_);
                       // $("#cost").css("text-decoration", "line-through");
                         // $("#percent_discount").text((Math.round(discount.discountprice * 100) / 100) + "  و  " + discount.ProfileDiscount);
                       //

                     //   $("#discount_cont").parent().parent().show();
                    } else if (discount.quantity < discount.currentQuantity) {
                        if (discount.quantity + discount.CurrentDiscount >= discount.currentQuantity) {
                            /////  در صورت داشتن کد تخفیف  ولی در حالت رزرو
                            $("#textErrorDiscount").text("برای استفاده ازاین کد تخفیف بعد از چند دقیقه دوباره امتحان کنید");
                            setTimeout(function () { $(".tooltipcod").css("display", "inline-block"); }, 10);
                            discount.discountprice = 0;
                        } else
                        {
                            $("#textErrorDiscount").text("این کدتخفیف برای " + (discount.quantity + discount.CurrentDiscount) + " نفر  قابل استفاده است .");
                            setTimeout(function () { $(".tooltipcod").css("display", "inline-block"); }, 10);
                            discount.discountprice = 0;
                        }

                    }
                } else {

                    discount.cost_ = discount.cost - (discount.cost * ChechProfileDiscount(discount.ProfileDiscount, discount.cost / discount.currentQuantity) / 100);

                    $("#discount_cont").text(discount.cost_);

                    //$("#percent_discount").text(discount.ProfileDiscount);
                    //SetDiscountValue(discount.ProfileDiscountCost, null,null , discount.ProfileDiscount);

                }

                if (discount.cost != null && discount.cost_ >0) {
                    if (SetDiscountValue(discount.ProfileDiscount, discount.discountprice, discount.ProfileDiscountCost, discount.discountpriceCost) > 0) {
                        $("#discount_cont").parent().parent().show();
                        $("#cost").css("text-decoration", "line-through");
                    }

                } else {
                    $("#discount_cont").parent().parent().hide();
                }



            }
            function SetDiscountValue(value1, value2,value3,value4) {

                if (value1 > 0 && value2 > 0&&value3 > 0 && value4 > 0) {
                    $("#percent_discount").text((value3 + "  و  " + value4 * discount.currentQuantity));
                    return 1;
                } else if (value1 > 0 && value2 > 0 && value3 > 0 ) {
                    $("#percent_discount").text((value3 * discount.currentQuantity + "  و  " + value2));
                    return 1;
                } else if (value1 > 0 && value2 > 0 && value4 > 0) {
                    $("#percent_discount").text((value1 + "  و  " + value4 * discount.currentQuantity));
                    return 1;
                } else if (value1 >0 && value2 >0) {
                    $("#percent_discount").text((value1 + "  و  " + value2));
                    return 1;
                }
                else if (value3 >0 ) {
                    $("#percent_discount").text(value3 * discount.currentQuantity);

                    return 1;
                } else if (value4 >0) {
                    $("#percent_discount").text(value4 * discount.currentQuantity);
                    return 1;
                }
                else if (value1 >0) {
                    $("#percent_discount").text(value1);

                    return 1;
                } else if (value2 >0) {
                    $("#percent_discount").text(value2);
                    return 1;
                }

                return 0;

            }
            function ChechProfileDiscount(ProDis, money) {



                    var cost = money * ProDis / 100;
                if (cost > 30000) {
                    discount.ProfileDiscountCost = 30000;
                        return ((30000 / money) * 100);
                    }


                return ProDis;
            }


            $("#submittour").on("click", function () {
                errorVehicle();
                //if (place === "1") {
                //    document.getElementById("err-place").innerHTML = "نوع اقامت را انتخاب کنید";
                //    $([document.documentElement, document.body]).animate({
                //        scrollTop: $(".tab").offset().top
                //    }, 2000);
                //}
                //if (food === "1") {
                //    document.getElementById("err-food").innerHTML = "نوع غذا را انتخاب کنید";
                //    $([document.documentElement, document.body]).animate({
                //        scrollTop: $(".tab").offset().top
                //    }, 2000);
                //}
                if ($('input[type=checkbox]').prop('checked')) {
                    document.getElementById("err-check").innerHTML = "";
                } else {
                    document.getElementById("err-check").innerHTML = "قبول قوانین الزامی است";
                }
                var tempId = $("#tempId").val();
                var dcode ="";
                if (discount.discountprice > 0)
                    dcode = $("#txtDiscount").val();
                @if (ViewBag.tour.Profile_Tour.WorkWithUs != null && ViewBag.tour.Profile_Tour.WorkWithUs) {
                       <text>
                 if (vehicle !== "" && place !== "1" && food !== "1" && $('input[type=checkbox]').prop('checked')) {
                       redirect = "/Payment/getinfo/";
                    $.redirectPost(redirect, { transfer: vehicle, place: place, ExteraOption: food, quantity: persons, id: @ViewBag.tour.Id, state: "1", codeDiscount: dcode, tempId });
                   }
                       </text>
                   }
                   else {//show popup
                       <text>
                if (vehicle !== "" && place !== "1" && food !== "1" && $('input[type=checkbox]').prop('checked')) {
                    $(".popagency ,#backgroundDarkener").fadeIn(300);
                   }
                       </text>
                   }


            });

             $("#taeed").on("click", function () {
                var tempId = $("#tempId").val();
                var dcode = "";
                if (discount.discountprice > 0)
                    dcode = $("#txtDiscount").val();
                    redirect = "/Payment/getinfo/";
                    $.redirectPost(redirect, { transfer: vehicle, place: place, ExteraOption: food, quantity: persons, id: @ViewBag.tour.Id, state: "1", codeDiscount: dcode, tempId });
            });

            $('input[type=checkbox]').change(function () {
                if ($('input[type=checkbox]').prop('checked')) {
                    document.getElementById("err-check").innerHTML = "";
                } else {
                    document.getElementById("err-check").innerHTML = "قبول قوانین الزامی است";
                }
            });


            $("#step-decrement").on("click tap", function () {
                if ($('#spinner').val() === '1') {
                    $(this).attr("disabled", true);
                    $(this).attr("aria-disabled", true);
                }
                $.getJSON("/Events/GetMoney/?id=@ViewBag.tour.Id&&Transfer=" + vehicle + "&&Place=" + place + "&&food=" + food + "&&quantity=" + persons, function (data) {
                    document.getElementById("cost").innerHTML = data.total + " تومان";
                    document.getElementById("per").innerHTML = data.per + " تومان";

                    cost = data.total;
                    discount.cost = data.total;
                    discount.currentQuantity = persons;

                    calcCost();



                    //document.getElementById("pay").setAttribute("Value", cost);
                    //document.getElementById("quantity").setAttribute("Value", persons);
                });



            });

            $("#step-increment").on("click tap", function () {

                errorVehicle();
                $("#step-decrement").removeAttr("disabled");
                $("#step-decrement").removeAttr("aria-disabled");

                $.getJSON("/Events/GetMoney/?id=@ViewBag.tour.Id&&Transfer=" + vehicle + "&&Place=" + place + "&&food=" + food + "&&quantity=" + persons, function (data) {
                    document.getElementById("cost").innerHTML = data.total + " تومان";
                    document.getElementById("per").innerHTML = data.per + " تومان";
                    cost = data.total;
                    discount.cost = data.total;
                    discount.currentQuantity = persons;

                    calcCost();
                    //document.getElementById("pay").setAttribute("Value", cost);
                    //document.getElementById("quantity").setAttribute("Value", persons);
                });

            });
            ///////////////////////////////////////////////////////////////////////////////newdiscount
            $("#editDiscount").click(function () {
                $("#checkDiscount").css("display", "inline");
                $("#editDiscount").css("display", "none");
                $("#exitDiscount").css("display", "none");
                $("#txtDiscount").prop("disabled", false);
            })
            $("#exitDiscount").click(function () {
                $("#checkDiscount").css("display", "inline");
                $("#editDiscount").css("display", "none");
                $("#exitDiscount").css("display", "none");
                $("#txtDiscount").prop("disabled", false);
                $("#txtDiscount").val("");
                discount.discountprice = null;
                discount.discountpriceCost = null;
                $("#discount_cont").text("100");
                $("#cost").css("text-decoration", "");
                $("#percent_discount").text("5");
                $("#discount_cont").parent().parent().hide();
                calcCost();
            });
            ////////////////////////////////////////////////newdiscount
            $('#checkDiscount').click(function () {

                   errorVehicle();
                   var discount_ = $("#txtDiscount").val();
                   $('.codetakhfif').tooltip({ trigger: "manual" });
                    var tourId = $("#tour_id").val();
                   $.post("@Url.Action("CheckDiscount", "Payment")", { discountCode: discount_ ,id:tourId}).done(function (data) {
                       var item = JSON.parse(data);
                           //تو ایف باید چک شه که کد تخفیف درست هست یا نه
                       if (item.success == 'false') {

                           //alert("eshteba");
                           $("#textErrorDiscount").text("کد تخفیف نادرست است");
                           $(".tooltipcod").css("display", "inline-block");
                          // discount.discountprice = 0;
                       }

                       else {
                           //  $(".tooltipcod").css("display", "none");
                           item.ProfileDiscount = discount.ProfileDiscount;
                           discount = item;
                           discount.cost = cost;
                           discount.currentQuantity = $("input[id='spinner']").val();
                           calcCost();
                           if (discount.cost_ != null && discount.cost_ > 0) {
                               $("#checkDiscount").css("display", "none");
                               $("#editDiscount").css("display", "inline");
                               $("#exitDiscount").css("display", "inline");
                               $("#txtDiscount").prop("disabled", true);
                           }


                       }



                   });


            });
             $(".codetakhfif").click(function (e) {
               //  $(".codetakhfif").tooltip("hide");
             });
            ////////////////////////////////////////////////////////////////////////////////////////////
            // Default dropdown action to show/hide dropdown content
            $('.js-dropp-action').click(function (e) {
                e.preventDefault();
                $(this).toggleClass('js-open');
                $(this).parent().next('.dropp-body').toggleClass('js-open');
            });

            // Using as fake input select dropdown
            $('label').click(function () {
                $(this).addClass('js-open').siblings().removeClass('js-open');
                $('.dropp-body,.js-dropp-action').removeClass('js-open');
            });
            // get the value of checked input radio and display as dropp title
            $('input[name="dropp"]').change(function () {
                vehicle = $("input[name='dropp']:checked").val();
                document.getElementById("err-vehical").innerHTML = "";
                $('.js-value').text(vehicle);
                  $.getJSON("/Events/GetMoney/?id=@ViewBag.tour.Id&&Transfer=" + vehicle + "&&Place=" + place + "&&food=" + food + "&&quantity=" + persons, function (data) {
                      document.getElementById("cost").innerHTML = data.total + "تومان";
                      document.getElementById("per").innerHTML = data.per + " تومان";
                      cost = data.total;

                      if (discount != null) {
                          discount.cost = data.total;

                          calcCost();
                      }

                      //document.getElementById("pay").setAttribute("Value", cost);
                      //document.getElementById("quantity").setAttribute("Value", persons);
                });

                //alert(value.text);
            });


            //for second dropdown
            $('.js-dropp-action1').click(function (e) {
                e.preventDefault();
                $(this).toggleClass('js-open');
                $(this).parent().next('.dropp-body1').toggleClass('js-open');
            });

            // Using as fake input select dropdown
            $('label').click(function () {
                $(this).addClass('js-open').siblings().removeClass('js-open');
                $('.dropp-body1,.js-dropp-action1').removeClass('js-open');
            });
            // get the value of checked input radio and display as dropp title
            $('input[name="d1ropp"]').change(function () {
                place = $("input[name='d1ropp']:checked").val();
                document.getElementById("err-place").innerHTML = "";
                $('.js-value1').text(place);
                  $.getJSON("/Events/GetMoney/?id=@ViewBag.tour.Id&&Transfer=" + vehicle + "&&Place=" + place + "&&food=" + food + "&&quantity=" + persons, function (data) {
                      document.getElementById("cost").innerHTML = data.total + "تومان";
                      document.getElementById("per").innerHTML = data.per + " تومان";
                      cost = data.total;
                      if (discount != null) {

                          discount.cost = data.total;

                          calcCost();
                      }
                      //document.getElementById("pay").setAttribute("Value", cost);
                      //document.getElementById("quantity").setAttribute("Value", persons);
                });

            });

            //for third dropdown
            $('.js-dropp-action2').click(function (e) {
                e.preventDefault();
                $(this).toggleClass('js-open');
                $(this).parent().next('.dropp-body2').toggleClass('js-open');
            });

            // Using as fake input select dropdown
            $('label').click(function () {
                $(this).addClass('js-open').siblings().removeClass('js-open');
                $('.dropp-body2,.js-dropp-action2').removeClass('js-open');
            });
            // get the value of checked input radio and display as dropp title
            $('input[name="d2ropp"]').change(function () {
                food = $("input[name='d2ropp']:checked").val();
                document.getElementById("err-food").innerHTML = "";
                $('.js-value2').text(food);
                  $.getJSON("/Events/GetMoney/?id=@ViewBag.tour.Id&&Transfer=" + vehicle + "&&Place=" + place + "&&food=" + food + "&&quantity=" + persons, function (data) {
                      document.getElementById("cost").innerHTML = data.total + "تومان";
                      document.getElementById("per").innerHTML = data.per + " تومان";
                      cost = data.total;
                      if (discount != null) {

                          discount.cost = data.total;

                          calcCost();
                      }
                      //document.getElementById("pay").setAttribute("Value", cost);
                      //document.getElementById("quantity").setAttribute("Value", persons);
                });

            });


            $('#nav2 li').click(function () {

                $('#dropdownID').css('height', '0');

            });

        });


    </script>
<div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object" id="object_four"></div>
                <div class="object" id="object_three"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_one"></div>

            </div>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-9 col-xs-12">
                <h1 id="singleheader" style="padding-right: 20px;padding-top: 60px;" class="black"> @ViewBag.tour.Title-@CalendarMngr.JulianToPersianhorof(ViewBag.tour.Start_Date)</h1>
            </div>
            <div class="col-md-4 col-sm-3 col-xs-12 shmob"> <a href="tel:۰۹۳۵۷۴۵۳۸۲۹" class="btn btn-sm animated-button victoria-one telephone">۰۹۳۵۷۴۵۳۸۲۹ :پشتیبانی سایت <span class="fa fa-phone fa-2x"></span></a> </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 padingLR30">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="5000">
                    <!-- Indicators -->
                    @{
                        int counter_image = 0;
                        string facility = ""; // baraye ghemat emkanat
                        string meal = "";
                        int counter_image2 = 0;
                        ICollection<image> images = (ICollection<image>)ViewBag.tour.images;
                    }


                    <ol class="carousel-indicators carousel-indicators--thumbnails">
                        @foreach (var item in images.SmalImage())
                        {

                            <li data-target="#carousel-example-generic" data-slide-to="@counter_image" class="@if (counter_image == 0) {<text>active</text> }">
                                <div class="thumbnail2">
                                    <img src="@(item.Path)" )" class="img-responsive" style="height:60px;width:80px">
                                </div>
                            </li>
                            counter_image++;
                        }
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        @foreach (var item in images.LargImage())
                        {
                            <div class="item @if (counter_image2 == 0) {<text>active</text> }">
                                <img src="@(item.Path)" height="400" class="width100">
                                <div class="carousel-caption">

                                </div>
                            </div>
                            counter_image2++;
                        }
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left fa fa-mail-reply" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right fa fa-mail-forward" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <figure class="tabBlock" style="padding-top: 40px;" id="tabs">
                    <ul class="tabBlock-tabs">
                        <li class="tabBlock-tab is-active" style="float:right;  border-right-style: solid;">اطلاعات بیشتر</li>
                        <li class="tabBlock-tab" style="float:right;">برگزارکننده</li>
                        <li class="tabBlock-tab" style="float:right;">تصاویر</li>
                        <li class="tabBlock-tab" style="float:right;">نظرات</li>
                    </ul>
                    <div class="tabBlock-content">
                        <div class="tabBlock-pane">
                            <h2 class="black">@ViewBag.tour.Title</h2>
                            <p>
                                <img src="~/Content/newTemplate/img/photo.png" style="display:inline;" />
                                <strong>نوع تور:</strong>&nbsp; @ViewBag.tour.Type
                                <br />
                                <img src="~/Content/newTemplate/img/map.png" />
                                <strong>مبدا:</strong>&nbsp;@ViewBag.tour.Origin
                                <br />
                                <img src="~/Content/newTemplate/img/pin.png" />
                                <strong>مقصد:</strong>&nbsp;@ViewBag.tour.Destination
                                <br />
                                @if (ViewBag.tour.Start_Date != null)
                                {
                                    <text>
                                        <img src="~/Content/newTemplate/img/calendar.png" />
                                        <strong>تاریخ حرکت:</strong>&nbsp;@CalendarMngr.JulianToPersianhorof(ViewBag.tour.Start_Date) ساعت @ViewBag.tour.Start_time.ToString()
                                        <br />
                                    </text>
                                }
                                @if (ViewBag.tour.End_Date != null)
                                {
                                    <text>
                                        <img src="~/Content/newTemplate/img/calendar (1).png" />
                                        <strong>تاریخ برگشت:</strong>&nbsp;@CalendarMngr.JulianToPersianhorof(ViewBag.tour.End_Date) ساعت @ViewBag.tour.Arrival_Time.ToString()
                                        <br />
                                    </text>
                                }
                                @if (ViewBag.tour.Place_Movement != null)
                                {
                                    <text>
                                        <img src="~/Content/newTemplate/img/suitcase.png" />
                                        <strong>محل حرکت:</strong>&nbsp;@ViewBag.tour.Place_Movement
                                        <br />
                                    </text>
                                }

                                <img src="~/Content/newTemplate/img/alarm-clock.png" />
                                <strong>مدت زمان در مسیر:</strong>&nbsp;@ViewBag.tour.Duration_Time.ToString()ساعت
                                <br />
                                @if (ViewBag.tour.Difficulty != null)
                                {
                                    <text>
                                        <img src="~/Content/newTemplate/img/trekking.png" />
                                        <strong>درجه سختی:</strong>&nbsp;@ViewBag.tour.Difficulty از 5
                                        <br />
                                    </text>
                                }

                                @if (ViewBag.tour.Age != null)
                                {
                                    <text>
                                        <img src="~/Content/newTemplate/img/curriculum.png" />
                                        <strong>سن:</strong>&nbsp;@ViewBag.tour.Age
                                        <br />
                                    </text>
                                }

                                @if (ViewBag.tour.basic_place != null)
                                {
                                    <text>
                                        <img src="~/Content/newTemplate/img/circus-tent.png" />
                                        <strong>محل اقامت:</strong>&nbsp;@ViewBag.tour.basic_place
                                        <br />
                                    </text>
                                }

                                <hr />

                                @if (ViewBag.tour.Travel_plan != null || ViewBag.tour.needed_equipment != null || ViewBag.tour.Attractives != null)
                                {
                                    <div class="row">
                                        <div class="col-md-3 hdetail">
                                            <img src="~/Content/newTemplate/img/list.png" />
                                            <strong style="font-size:19px;">شرح:</strong>
                                        </div>
                                        <div class="col-md-9">
                                            @if (ViewBag.tour.Travel_plan != null)
                                            {
                                                <h4 class="black">برنامه سفر</h4>
                                    <p class="gray">@Html.Raw(ViewBag.tour.Travel_plan)</p>
                                }
                                            @if (ViewBag.tour.needed_equipment != null)
                                            {
                                                <h4>وسایل مورد نیاز</h4>
                                                <p>@ViewBag.tour.needed_equipment</p>
                                            }
                                            @if (ViewBag.tour.Attractives != null)
                                            {
                                                <h4 class="black">نکات مهم</h4>
                                                <p>@Html.Raw(ViewBag.tour.Attractives)</p>
                                            }
                                        </div>
                                    </div>
                                }
                                <br />
                                <hr />


                                <div class="row">
                                    <div class="col-md-3 hdetail">
                                        <img src="~/Content/newTemplate/img/customer.png" />
                                        <strong style="font-size: 19px;">خدمات:</strong>
                                    </div>
                                    @{
                                        if (ViewBag.tour.Breakfast == true)
                                        {
                                            meal += "صبحانه,";
                                        }
                                        if (ViewBag.tour.Lunch == true)
                                        {
                                            meal += "ناهار,";
                                        }
                                        if (ViewBag.tour.Afternoon == true)
                                        {
                                            meal += "عصرانه,";
                                        }
                                        if (ViewBag.tour.Dinner == true)
                                        {
                                            meal += "شام,";
                                        }
                                    }
                                    <div class="col-md-9 gray">
                                        <img src="~/Content/newTemplate/img/food.png" /> <strong>وعده غذایی:</strong>&nbsp;@meal <br />@ViewBag.tour.Meal_Description
                                        <br />
                                        @foreach (var item in ViewBag.tour.Tour_Cross_Facilities)
                                        {
                                            facility += $"{item.Facility.name},";
                                        }
                                        @if (facility != "")
                                        {
                                            <text>
                                                <img src="~/Content/newTemplate/img/bell.png" /> <strong>امکانات ارایه شده:</strong>&nbsp; @facility
                                                <br />
                                            </text>
                                        }
                                        @if (ViewBag.tour.insuranceType != null)
                                        {
                                            <text>
                                                <img src="~/Content/newTemplate/img/starg.png" /> <strong>امکانات اضافه:</strong>&nbsp;@ViewBag.tour.insuranceType
                                                <br />
                                            </text>
                                        }
                                        @if (ViewBag.tour.facilityType != null)
                                        {
                                            <text>
                                                <img src="~/Content/newTemplate/img/starg.png" /> <strong>نوع وسایل ایمنی:</strong>&nbsp;@ViewBag.tour.facilityType
                                            </text>
                                        }
                                    </div>
                                </div>
                                <br />
                                <hr />


                                </p>


                        </div>
                        <div class="tabBlock-pane">
                            <h2 class="black">برگزارکننده</h2>
                            <p>
                                @if (ViewBag.tour.Profile_Tour.Name_Group != null)
                                {
                                    <text>
                                        <img src="~/Content/newTemplate/img/team.png" style="display:inline;" />
                                        <strong>نام گروه:</strong>&nbsp; @ViewBag.tour.Profile_Tour.Name_Group
                                        <br />
                                    </text>
                                }
                                @if (ViewBag.tour.Profile_Tour.Name_Agency != null)
                                {
                                    <text>
                                        <img src="~/Content/newTemplate/img/apartment.png" style="display:inline;" />
                                        <strong>نام آژانس:</strong>&nbsp; <a href="#" style="color:#ea9312;">@ViewBag.tour.Profile_Tour.Name_Agency</a>
                                        <br />
                                    </text>
                                }

                                <hr />
                                @if (ViewBag.tour.Profile_Tour.Description != null)
                                {
                                    <text>
                                        <div class="row">
                                            <div class="col-md-3 hdetail">
                                                <img src="~/Content/newTemplate/img/stargg.png" />
                                                <strong style="font-size: 19px;">درباره برگزارکننده:</strong>
                                            </div>
                                            <div class="col-md-9">
                                                @ViewBag.tour.Profile_Tour.Description
                                            </div>
                                        </div>
                                    </text>
                                }

                            </p>
                        </div>
                        <div class="tabBlock-pane">
                            <p>
                                <div class="row">
                                    @foreach (var item in images.LargImage())
                                    {
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                            <a class="lightbox" href="#img1">
                                                <img src="@(item.Path)" />
                                            </a>
                                            <div class="lightbox-target" id="img1">
                                                <img src="@(item.Path)" />
                                                <a class="lightbox-close" href="#tabs"></a>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </p>
                        </div>
                        <div class="tabBlock-pane">
                            @foreach (var item in ViewBag.cm)
                            {
                                <text>
                                    <div class="row">
                                        <div class="col-md-2 col-sm-2">
                                            <img class="cmt" src="~/Content/newTemplate/img/cute.png">
                                        </div>
                                        <div class="col-md-10 col-sm-10 comment-content">
                                            <p class="author"><strong style="float: right;">@item.Name </strong> - @CalendarMngr.JulianToPersian(item.datetime)</p>
                                            <span>
                                                @item.Body
                                            </span>
                                        </div>
                                    </div>
                                </text>

                            }

                            <hr />





                        </div>


                    </div>
                </div>
                @{
                    int counter_price = 0;
                }
                <div class="col-xs-12 col-md-4" style="padding-left:30px;padding-right:30px;">
                    <div class="login-wrap">

                        <label for="tab-1" class="tab" id="resheader">رزرو تور</label>

                        <div class="sign-in-htm">
                            <div class="group">
                                <label class="label">وسیله نقلیه</label>
                                <a class="js-dropp-action">
                                    <div class="dropp-header">
                                        <span id="1" class="dropp-header__title js-value ">نوع وسیله نقلیه را انتخاب کنید</span>
                                        <a href="#" class="dropp-header__btn js-dropp-action"><i class="icon fLeft"></i></a>
                                    </div>
                                </a>
                                <div class="dropp-body">

                                    @if (ViewBag.tour.Tourist_bus != null && ViewBag.tour.Tourist_bus != 0)
                                    {
                                        <label for="opt @counter_price">وسیله نقلیه توریستی - @ViewBag.tour.Tourist_bus تومان<input type="radio" id="opt @counter_price" name="dropp" value="وسیله نقلیه توریستی" /></label>
                                        counter_price++;
                                    }
                                    @if (ViewBag.tour.Vip_bus != null && ViewBag.tour.Vip_bus != 0)
                                    {
                                        <label for="opt @counter_price">اتوبوس وی ای پی - @ViewBag.tour.Vip_bus تومان<input type="radio" id="opt @counter_price" name="dropp" value="اتوبوس وی ای پی" /></label>
                                        counter_price++;
                                    }
                                    @if (ViewBag.tour.Agency_car != null && ViewBag.tour.Agency_car != 0)
                                    {
                                        <label for="opt @counter_price">ماشین آژانس - @ViewBag.tour.Agency_car تومان<input type="radio" id="opt @counter_price" name="dropp" value="ماشین آژانس" /></label>
                                        counter_price++;
                                    }
                                    @if (ViewBag.tour.personal_car != null && ViewBag.tour.personal_car != 0)
                                    {
                                        <label for="opt @counter_price">ماشین شخصی - @ViewBag.tour.personal_car تومان<input type="radio" id="opt @counter_price" name="dropp" value="ماشین شخصی" /></label>
                                        counter_price++;
                                    }

                                    @*@foreach (var item in ViewBag.tour.Place_tour)
                                        {
                                            <label for="opt @counter_price">@item.Name - @item.Price<input type="radio" id="opt @counter_price" name="dropp" value="@item.Name" /></label>
                                            counter_price++;
                                        }*@
                                </div>
                                <span style="color:#ffbd26;font-weight: 800;" id="err-vehical"></span>
                            </div>

                            <div class="group">
                                @if (ViewBag.tour.Place_tour.Count != 0)
                                {
                                    <text>
                                        <label id="place" class="label">اقامت</label>
                                        <a class="js-dropp-action1">
                                            <div class="dropp-header1">
                                                <span id="2" class="dropp-header__title1 js-value1">نوع اقامت را انتخاب کنید</span>
                                                <a href="#" class="dropp-header__btn1 js-dropp-action1"><i class="icon"></i></a>
                                            </div>
                                        </a>
                                    </text>
                                }
                                <div class="dropp-body1">
                                    @foreach (var item in ViewBag.tour.Place_tour)
                                    {
                                        <label for="opt @counter_price">@item.Name - @item.Price<input type="radio" id="opt @counter_price" name="d1ropp" value="@item.Name" /></label>
                                        counter_price++;
                                    }
                                </div>
                                <span style="color:#ffbd26;font-weight: 800;" id="err-place"></span>
                            </div>
                            <div class="group">
                                @if (ViewBag.tour.Food_tour.Count != 0)
                                {
                                    <text>
                                        <label id="food" class="label">غذا</label>
                                        <a class="js-dropp-action2">
                                            <div class="dropp-header2">
                                                <span id="3" class="dropp-header__title2 js-value2">نوع غذا خود را انتخاب کنید</span>
                                                <a href="#" class="dropp-header__btn2 js-dropp-action2"><i class="icon"></i></a>
                                            </div>
                                        </a>
                                    </text>
                                }
                                <div class="dropp-body2">
                                    @foreach (var item in ViewBag.tour.Food_tour)
                                    {
                                        <label for="opt @counter_price">@item.Name - @item.Price<input type="radio" id="opt @counter_price" name="d2ropp" value="@item.Name" /></label>
                                        counter_price++;
                                    }
                                </div>
                                <span style="color:#ffbd26;font-weight: 800;" id="err-food"></span>
                            </div>
                            <div class="group">
                                <label class="label">تعداد نفر</label>

                                <div>
                                    <label class="input-stepper">
                                        <a href="#0" role="button" id="step-increment" class="btn btn-default bt" aria-label="add 1" style="margin-left:10px;">
                                            <i aria-hidden="true" class="fa fa fa-plus-circle"></i>
                                        </a>
                                        <input disabled type="text" id="spinner" class="text-strong form-control input-number text-center" value="1" aria-live="polite" tabindex="-1" aria-labelledby="label-text">
                                        <a href="#0" role="button" id="step-decrement" class="btn btn-default bt" aria-label="remove 1" style="margin-right:10px;">
                                            <i aria-hidden="true" class="fa fa-minus-circle"></i>
                                        </a>
                                    </label>
                                </div>

                            </div>
                            <div class="group">
                                <label class="label labelheader" style="color: #aaff80;font-size: 17px;width: 62%;float: right;text-align: right!important;">قیمت هرنفر:</label>
                                <label class="label" id="per">0تومان</label>
                                <div class="hr"></div>
                            </div>
                            <div class="group">
                                <label class="label labelheader" style="color: #aaff80;font-size: 17px;width: 62%;float: right;text-align: right!important;">تاریخ حرکت:</label>
                                <label class="label">@CalendarMngr.JulianToPersian(ViewBag.tour.Start_Date)</label>
                                <div class="hr"></div>
                            </div>
                            <div class="group">
                                <label class="label labelheader" style="color: #aaff80;font-size: 17px;width: 62%;float: right;text-align: right!important;">تاریخ برگشت:</label>
                                <label class="label">@CalendarMngr.JulianToPersian(ViewBag.tour.End_Date)</label>
                                <div class="hr"></div>
                            </div>
                            <div class="group">
                                <label class="label labelheader" style="color: #aaff80;font-size: 17px;width: 62%;float: right;text-align: right!important;">ظرفیت باقیمانده:</label>
                                <label class="label" style="color:#ffbd26;font-size:17px">@remainder</label>
                                <div class="hr"></div>
                            </div>
                            <div class="group">
                                <label class="label labelheader" style="color:#ffbd26;font-size: 20px;width: 62%;float: right;text-align: right!important;">هزینه کل:</label>
                                <label style="font-size: 13px" id="cost" class="label">

                                    @{
                                        int dcval = 0;

                                        if (ViewBag.tour.Tourist_bus != null)
                                        {


                                            dcval = @ViewBag.tour.Tourist_bus;


                                        }
                                        else if (ViewBag.tour.Vip_bus != null)
                                        {


                                            dcval = ViewBag.tour.Vip_bus;


                                        }
                                        else if (ViewBag.tour.Agency_car != null)
                                        {


                                            dcval = ViewBag.tour.Agency_car;


                                        }
                                        else if (ViewBag.tour.personal_car != null)
                                        {
                                            dcval = ViewBag.tour.personal_car;


                                        }
                                        <text>@dcval.ToString()</text>

                                    }  تومان
                                    <input type="hidden" value="@dcval" id="cost_val" />

                                </label>
                                <div class="hr"></div>
                            </div>
                            <div class="group" hidden>
                                <label class="label labelheader" style="color: rgb(170, 255, 128);font-size: 15px;width: 62%;float: right;text-align: right!important;">با % &nbsp;<apan id="percent_discount">5</apan>  تخفیف :</label>
                                <label class="label"><span id="discount_cont">100</span> تومان</label>
                                <div class="hr"></div>
                            </div>
                            <div class="group">

                                <input class="codetakhfif" placeholder="کد تخفیف" id="txtDiscount" />

                                <button class="btncodetakhfif" id="checkDiscount" data-toggle="tooltip">
                                    اعمال کد

                                </button>
                                <button class="btncodetakhfif" style=" width: 25%;display:none;" id="exitDiscount">انصراف</button>
                                <button class="btncodetakhfif" style=" width: 25%;display:none;" id="editDiscount">ویرایش</button>

                                <div class="tooltipcod">
                                    <div class="tooltip-arrow fa  fa-caret-down"></div>
                                    <div class="tooltip-inner"><span id="textErrorDiscount">کد تخفیف نادرست است</span>.</div>

                                </div>
                                <div class="group">
                                    <input id="check" type="checkbox" class="check" checked>
                                    <label for="check"><span class="icon"></span> من <a style="color:#aaff80" href="/Events/Laws" target="_blank">قوانین و مقررات</a> را خوانده ام و آن را می پذیرم.</label>
                                    <span style="color:#ffbd26" id="err-check"></span>
                                </div>
                                <div class="group">


                                    @if (tempquantity != 0)
                                    {

                                        <label class="wait"><span>@TempData["temp"]</span> نفر در حال خرید هستند اگر ظرفیت کافی نیست 10دقیقه صبر کنید در صورت انصراف آنها ظرفیت اضافه خواهد شد</label>
                                    }
                                </div>
                                <div class="group">

                                    @if (ViewBag.tour.End_Date.Date == DateTime.Now.Date ? DateTime.ParseExact(Convert.ToDateTime(ViewBag.tour.Arrival_Time).TimeOfDay.ToString(), "HH:mm:ss", CultureInfo.InvariantCulture).TimeOfDay >= DateTime.Now.TimeOfDay : ViewBag.tour.End_Date.Date > DateTime.Now.Date && remainder > 0)
                                    {
                                        if (ViewBag.tour.deadline == null)
                                        {
                                            <label for="tab-2" id="submittour" class="tab follow" style="font-size:13px;text-align:center;">تکمیل اطلاعات</label>
                                        }
                                        else if (ViewBag.tour.deadline > DateTime.Now)
                                        {
                                            <label for="tab-2" id="submittour" class="tab follow" style="font-size:13px;text-align:center;">تکمیل اطلاعات</label>


                                        }
                                        else
                                        {
                                            <label for="tab-2" class="tab follow" style="font-size:13px;text-align:center;background-color:indianred">رزرو به اتمام رسیده</label>
                                        }

                                    }
                                    else
                                    {
                                        <label for="tab-2" class="tab follow" style="font-size:13px;text-align:center;background-color:indianred">رزرو به اتمام رسیده</label>
                                    }
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
                </div>




                <hr />
                <h2 style="text-align:center;" class="black">نظرشما</h2>
                <div class="container">
                    <div class="row opinion" @*style="border-radius: 10px;
                                        background-color: rgba(40,57,101,.8);box-shadow: 5px 7px 20px #888888;*@ ">
                        <div class="col-md-12 col-sm-12">

                            <div class="inner contact">
                                <!-- Form Area -->
                                <div class="contact-form">
                                    <!-- Form -->
                                    <form id="contact-us" method="post" @*action="/Events/AddComment"*@ style="margin-top: 20px;">
                                        <!-- Left Inputs -->
                                        <div class="col-xs-6  animated slideInLeft fewpaddingleftright">
                                            <!-- Name -->
                                            <span id="name-err" style="color:rgb(255, 189, 38);border:unset!important;font-size:unset;display:block;width:unset;height:unset;line-height:unset;margin-bottom:unset"></span>
                                            <input type="text" name="name" id="name" required class="form" placeholder="نام و نام خانوادگی" />
                                            <!-- Email -->
                                            <span id="Email-err" style="color:rgb(255, 189, 38);border:unset!important;font-size:unset;display:block;width:unset;height:unset;line-height:unset;margin-bottom:unset"></span>
                                            <input type="email" name="Email" id="Email" required="required" class="form" placeholder="ایمیل" />
                                            <!-- number -->
                                            <input type="text" name="Phone" id="mobile" class="form" placeholder="شماره تماس (دل خواه)" />
                                        </div><!-- End Left Inputs -->
                                        <!-- Right Inputs -->
                                        <div class="col-xs-6  animated slideInRight fewpaddingleftright">
                                            <!-- Message -->
                                            <input type="hidden" name="tour_id" id="tour_id" value="@ViewBag.tour.Id" />
                                            <input type="hidden" value="@TempData["TempId"]" id="tempId" name="TempId" />
                                            <input type="hidden" name="ProfileDiscount" id="profileDiscount" value='@TempData["ProfileDiscount"]' />
                                            <span id="Body-err" style="color:rgb(255, 189, 38);border:unset!important;font-size:unset;display:block;width:unset;height:unset;line-height:unset;margin-bottom:unset"></span>
                                            <textarea name="Body" id="Body" class="form textarea" placeholder="نظر شما..."></textarea>
                                        </div><!-- End Right Inputs -->
                                        <!-- Bottom Submit -->
                                        <div class="relative fullwidth col-xs-12" style="margin-bottom: 20px;">
                                            <!-- Send Button -->
                                            <div class="follow" type="submit" id="ersalnazar" name="submit"> ارسال نظر</div>
                                            @*<input type="submit" id="submit" name="submit" class="form-btn semibold" value="ارسال نظر">*@
                                        </div><!-- End Bottom Submit -->
                                        <!-- Clear -->
                                        <div class="clear"></div>
                                    </form>

                                    <!-- Your Mail Message -->
                                    <div class="mail-message-area">
                                        <!-- Message
                                        <div class="alert gray-bg mail-message not-visible-message">
                                            <strong>مرسی!</strong> ایمیل شما دریافت شد .
                                        </div> -->
                                    </div>

                                </div><!-- End Contact Form Area -->
                            </div><!-- End Inner -->

                        </div>
                    </div>
                </div>

                <br />

                <div class="pop">
                    <span>✖</span>
                    <br />
                    <h1 style="color:green;font-size:19px">پیام شما با موفقیت ثبت شد</h1>
                </div>
                <div class="popagency">
                    <span>✖</span>
                    <br />
                    <p>لطفا قبل از تکمیل فرایند خرید برای اطلاع از وجود ظرفیت با شماره 09917458060 تماس حاصل فرمایید.</p>
                    <div class="follow" type="submit" id="taeed" name="submit" style="background-color: #ffbd26; width: 100px; padding: 0;">ادامه</div>
                </div>
                <div id="backgroundDarkener">

                </div>
                <div class="popplus">
                    <span>✖</span>
                    <br />
                    <div>
                        <p>برای استفاده ازاین کد تخفیف بعد از چند دقیقه دوباره امتحان کنید.</p>
                    </div>

                </div>

                <div class="popreserve">
                    <span>✖</span>
                    <br />
                    <div>
                        <p> ین کدتخفیف برای ااااا نفر بلیت قابل استفاده است .</p>
                    </div>

                </div>

                <!-- Footer -->
                @if (Session != null)
                {
                    if (Session["stateuser"] == "1")
                    {

                        <footer class="bg-black">
                            <div class="container">
                                <!--<span class="bigicon icon-speedometer "></span>-->
                                @*<img id='jxlzesgtjxlzwlaowlaojzpewlao' style='cursor:pointer' onclick='window.open("https://logo.samandehi.ir/Verify.aspx?id=1014474&p=rfthobpdrfthaodsaodsjyoeaods", "Popup","toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30")' alt='logo-samandehi' src='https://logo.samandehi.ir/logo.aspx?id=1014474&p=nbpdlymanbpdshwlshwlyndtshwl' />*@
                                @*<img src="~/Content/newTemplate/img/samandehi.png" />
                                    <img src="data:text/plain;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAMSURBVBhXY/j//z8ABf4C/qc1gYQAAAAASUVORK5CYII=" alt="" onclick="window.open(https://trustseal.enamad.ir/Verify.aspx?id=105730&amp;p=UzSr9U590zOHxq4O);" style="cursor:pointer" id="UzSr9U590zOHxq4O" />
                                    <img src="~/Content/newTemplate/img/slider-end.png" width="150" height="150" />
                                    <script src="https://cdn.zarinpal.com/trustlogo/v1/trustlogo.js" type="text/javascript"></script>*@
                                <span class="bigicon icon-speedometer "></span>

                                <div class="footerlinks" id="foooter">
                                    <!-- FOOTER LINKS START -->
                                    <ul>
                                        <li><a href="/Agency/index?name=@TempData["name"]">صفحه اصلی</a></li>
                                        <li><a href="/Agency/index?name=@TempData["name"]#services">خدمات</a></li>
                                        <li><a href="/Agency/All_Tour?name=@TempData["name"]">تورها</a></li>
                                        @*<li><a href="#testimonials">نظرات شما</a></li>*@
                                        <li><a href="/Agency/index?name=@TempData["name"]#contact">تماس با ما</a></li>
                                    </ul>
                                </div>

                                <div class="copyright">

                                    <p>راه های ارتباطی با ما در <span>شبکه های اجتماعی</span></p>
                                </div>

                                <div class="footersocial wow fadeInUp" data-wow-duration="1s">
                                    <!-- FOOTER SOCIAL ICONS START -->
                                    <ul>
                                        @if (ViewBag.tour.Profile_Tour.instagram != null && ViewBag.tour.Profile_Tour.instagram != "")
                                        {
                                            <li><a href="@ViewBag.tour.Profile_Tour.instagram" target="_blank"><img src="~/Content/newTemplate/img/instagram.png" /></a></li>
                                        }
                                        @if (ViewBag.tour.Profile_Tour.WhatsApp != null && ViewBag.tour.Profile_Tour.WhatsApp != "")
                                        {
                                            <li><a href="@ViewBag.tour.Profile_Tour.WhatsApp" target="_blank"><img src="~/Content/newTemplate/img/whatsapp.png" /></a></li>
                                        }
                                        @if (ViewBag.tour.Profile_Tour.Telegram != null && ViewBag.tour.Profile_Tour.Telegram != "")
                                        {
                                            <li><a href="@ViewBag.tour.Profile_Tour.Telegram" target="_blank"><img src="~/Content/newTemplate/img/telegram.png" /></a></li>
                                        }
                                        @{
                                            string url = $"http://{ViewBag.tour.Profile_Tour.Name_Group}.tourips.com";
                                        }
                                        <li><a href="@url" target="_blank"><img src="~/Content/newTemplate/img/star.png" /></a></li>
                                    </ul>
                                </div><!-- FOOTER SOCIAL ICONS END -->
                                <p> 2019 tourips.com &copy;</p>
                            </div>

                        </footer>
                    }
                }
                <!-- /FooterEnd -->

                <script src="http://code.jquery.com/jquery-latest.min.js"></script>

                <!-- Include all compiled plugins (below), or include individual files as needed -->
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

                <!--Other necessary scripts-->
                <script src="~/Content/newTemplate/js/jquery.jribbble-1.0.1.ugly.js"></script>


                <!-- Bootstrap tooltips -->
                <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
                <!-- MDB core JavaScript -->

                <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/13842/PerspectiveTransform.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
                <script src="~/Content/newTemplate/js/bootstrap.js"></script>

                <script src="~/Content/newTemplate/js/jquery.sticky.js"></script>
                <script src="~/Content/newTemplate/js/jquery.nav.js"></script>
                <script src="~/Content/newTemplate/js/jquery.scrollTo.js"></script>
                <script src="~/Content/newTemplate/js/jquery.flexslider.js"></script>

                <script src="~/Content/newTemplate/js/jquery.easing.1.3.js"></script>
                <script src="~/Content/newTemplate/js/jquery.shuffle.js"></script>
                <script src="~/Content/newTemplate/js/script.js"></script>
<script type="text/javascript">
$(window).load(function () {
            $("#loading").fadeOut(1500);
            //$("#loading-center").click(function () {
            //    $("#loading").fadeOut(500);
            //})
        });

        //$(window).on('load', function () {

        //    $("#loadig").fadeOut(1750);
        //});

        setTimeout(function () {
            $("#loadig").fadeOut(1500);
        }, 10000);
</script>



                @*<script src="http://code.jquery.com/jquery-latest.min.js"></script>*@

                <!-- Include all compiled plugins (below), or include individual files as needed -->
                @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>*@


                <!--Other necessary scripts-->
                @*<script src="~/Scripts/jquery.validate.js"></script>
                    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>*@

                @*<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>*@
                <script src="~/Scripts/Validation.js"></script>

                <!-- Bootstrap tooltips -->
                @*<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/13842/PerspectiveTransform.js"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
                    <script src="~/Content/newTemplate/js/popper.min.js"></script>*@
                @*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>*@
                <!-- MDB core JavaScript -->
                @*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/js/mdb.min.js"></script>*@
                @*<script src="~/Content/newTemplate/js/mdb.min.js"></script>*@
                @*<script src="~/Content/Plugins/MdBootstrapPersianDateTimePicker/jalaali.js" type="text/javascript"></script>
                    <script src="~/Content/Plugins/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.js" type="text/javascript"></script>*@


                @*<script>new WOW().init();</script>*@
            </body>
        </html>
        <script type="text/javascript">
            $(document).ready(function () {
                $(".navbarCLICK").on('click', function (e) {
                    e.preventDefault();
                    var target = $(this).attr('href');
                    $('html, body').animate({
                        scrollTop: ($(target).offset().top)
                    }, 2000);
                });

            });
        </script>
        <script>
            $("#ersalnazar").click(function () {
                $("#contact-us").submit();
            });
            $(".login-wrap").click(function () {
                $(".tooltipcod").css("display", "none");
            });


        </script>
        <script>
            $(document).ready(function () {
                $('#contact-us').validate({
                    rules: {
                        name: {
                            required: true
                        },
                        Email: {
                            required: true,
                        },
                        Body: {
                            required: true
                        },
                    },
                    messages: {
                        name: {
                            required: "وارد کردن نام الزامی است"
                        },
                        Email: {
                            required: " وارد کردن ایمیل الزامی است  ",
                        },
                        Body: {
                            required: "وارد کردن پیام الزامی است"
                        },
                    },
                    submitHandler: function (form) {
                        $.ajax({
                            type: 'POST',
                            url: '/Events/AddComment',
                            data: JSON.stringify({
                                Name: $('#name').val(),
                                Email: $('#Email').val(),
                                Phone: $('#mobile').val(),
                                Body: $('#Body').val(),
                                Tour_id: parseInt($('#tour_id').val())
                            }),
                            contentType: 'application/json; charset=utf-8',
                            dataType: 'json',
                            success: function (msg) {
                                $(".pop ,#backgroundDarkener").fadeIn(300);
                            }
                        });
                    }
                });
            });
        </script>
        <script>
            if (performance.navigation.type == 2) {
                location.reload(true);
            }
        </script>
        <script>
            $(".pop > span, .pop ,#backgroundDarkener").on("click", function () {
                $(".pop,#backgroundDarkener").fadeOut(300);
            });
            $(".popbagency > span, .popagency ,#backgroundDarkener").on("click", function () {
                $(".popagency,#backgroundDarkener").fadeOut(300);
            });
            $(".popplus > span,.popplus  ,#backgroundDarkener").on("click", function () {
                $(".popplus,#backgroundDarkener").fadeOut(300);
            });
            $(".popreserve > span , .popreserve ,#backgroundDarkener").on("click", function () {
                $(".popreserve,#backgroundDarkener").fadeOut(300);
            });
        </script>
        <script src="~/Scripts/Extend.js"></script>