﻿
@{
    Layout = "";
}
@using System.Globalization;
<!DOCTYPE html>
<!--[if IE 8]><html class="ie ie8"> <![endif]-->
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<html dir="rtl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="آژانس,آژانس شیراز,dordor,dor-dor,توریپس,شیراز,shiraz,دور دور,تور,تور,تورشیراز,tour,کافه,گالری,دور-دور" />
    <meta name="description" content="تور توریپس" />
    <meta http-equiv="cache-controle" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-controle" content="max-age=0" />
    <title>توریپس | تور</title>
    <!-- Favicons-->
    <link rel="shortcut icon" href="~/Content/Logo/LogoPng.png" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="~/Content/Logo/LogoPng.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="~/Content/Logo/LogoPng.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="~/Content/Logo/LogoPng.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="~/Content/Logo/LogoPng.png">

    <!-- CSS -->
    <link href="~/Content/Template/css/base.css" rel="stylesheet">
    <!-- SPECIFIC CSS -->
    <link href="~/Content/Template/css/shop.css" rel="stylesheet">
    <!-- CSS -->
    <link href="~/Content/Template/css/date_time_picker.css" rel="stylesheet">

    <link href="~/Content/Template/css/slider-pro.min.css" rel="stylesheet">
    <link href="~/Content/Template/css/owl.carousel.css" rel="stylesheet">
    <link href="~/Content/Template/css/owl.theme.css" rel="stylesheet">
    <!-- Google web fonts -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

    <!-- BEGIN THEME GLOBAL STYLES -->
    <!-- END THEME GLOBAL STYLES -->
    <link href="~/Content/parallax.css" rel="stylesheet" />
    <link href="~/Content/Plugins/Modal/modal.css" rel="stylesheet" />



    <script type="text/javascript">
        window.heap = window.heap || [], heap.load = function (e, t) { window.heap.appid = e, window.heap.config = t = t || {}; var r = t.forceSSL || "https:" === document.location.protocol, a = document.createElement("script"); a.type = "text/javascript", a.async = !0, a.src = (r ? "https:" : "http:") + "//cdn.heapanalytics.com/js/heap-" + e + ".js"; var n = document.getElementsByTagName("script")[0]; n.parentNode.insertBefore(a, n); for (var o = function (e) { return function () { heap.push([e].concat(Array.prototype.slice.call(arguments, 0))) } }, p = ["addEventProperties", "addUserProperties", "clearEventProperties", "identify", "resetIdentity", "removeEventProperty", "setEventProperties", "track", "unsetEventProperty"], c = 0; c < p.length; c++)heap[p[c]] = o(p[c]) };
        heap.load("3314004309");
    </script>
</head>
@using Tourist.CommonMethods
@using Tourist.Models
@model Tour
<body>
    <!-- End Preload -->
    <div class="layer"></div>
    <header id="plain" style="background-color:#446350;color:#fff">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div id="logo_home">
                        <h1><a href="index.html" title=""></a></h1>
                    </div>
                </div>
                <nav class="col-md-9 col-sm-9 col-xs-9">
                    <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>منوی تلفن همراه</span></a>
                    <div class="main-menu">
                        <div id="header_menu">
                            @*<img src="~/Content/Template/img/logo_sticky.png" width="160" height="34" alt="City tours" data-retina="true">*@
                        </div>
                        <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
                        <ul>
                            <li class="submenu">
                                <a href="/Home/index" class="show-submenu">صفحه اصلی </a><ul></ul>
                            </li>
                            <li class="submenu">
                                <a href="/Events/All_Tour" class="show-submenu">تورها </a><ul></ul>
                            </li>
                            <li class="submenu">
                                <a href="/Events/Compare_Tour" class="show-submenu">مقایسه</a><ul></ul>
                            </li>
                            <li class="submenu">
                                <a href="/Home/index#info" class="show-submenu">درباره ما</a>

                            </li>
                            <li class="submenu">
                                <a href="/Home/index#guide" class="show-submenu">راهنما</a>
                            </li>
                            <li class="submenu">
                                <a href="/Events/Archive_tour" class="show-submenu">آرشیو</a><ul></ul>
                            </li>

                        </ul>
                    </div><!-- End main-menu -->
                </nav>
            </div>
        </div><!-- container -->
    </header>
    <div id="position">
        <div class="container">
            <ul>
                <li><a>صفحه اصلی</a></li>
                <li>
                    <a>
                        تور
                    </a>
                </li>
            </ul>
        </div>
    </div><!-- End Position -->

    <div class="collapse" id="collapseMap">
        <div id="map" class="map"></div>
    </div><!-- End Map -->
    <div class="container margin_60">
        <div class="row">
            <div class="col-md-8" id="single_tour_desc">

                @*<div id="single_tour_feat">
                        <ul>
                            <li><i class="icon_set_1_icon-4"></i>موزه</li>
                            <li><i class="icon_set_1_icon-83"></i>۳ ساعت</li>
                            <li><i class="icon_set_1_icon-13"></i>دسترسی معلولین</li>
                            <li><i class="icon_set_1_icon-82"></i>۱۴۴ پسندیده شده</li>
                            <li><i class="icon_set_1_icon-22"></i>حیوان خانگی مجاز</li>
                            <li><i class="icon_set_1_icon-97"></i>راهنمای صوتی</li>
                            <li><i class="icon_set_1_icon-29"></i>راهنمای تور</li>
                        </ul>
                    </div>*@

                @*<p class="visible-sm visible-xs"><a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap">نمایش بر روی نقشه</a></p>// Map button for tablets/mobiles*@
                <div class="row">
                    <div id="Img_carousel" class="slider-pro">

                        @foreach (var item in Model.images)
                        {
                            <div class="sp-slide">

                                <img @*alt="@item.Tour.Title"*@ class="sp-image"
                                     src="@($"data:image/jpeg;base64,{Convert.ToBase64String(item.image1)}")">
                            </div>
                        }

                    </div>
                </div>


                <hr />
                <div class="row">
                    <div class="col-md-3">
                        <h3>برنامه</h3>
                    </div>
                    <div class="col-md-9">
                        <div class='portlet-body flip-scroll'>
                            <table class='table table-bordered table-striped table-condensed flip-content'>
                                <thead class='flip-content'>
                                    <tr>
                                        <th colspan="2">

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>
                                            نوع تور
                                        </th>
                                        <td>
                                            @Model.Type
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            عنوان تور
                                        </th>
                                        <td>
                                            @Model.Title
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            مبدا
                                        </th>
                                        <td>
                                            @Model.Origin
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            مقصد
                                        </th>
                                        <td>
                                            @Model.Destination
                                        </td>
                                    </tr>


                                    <tr>
                                        <th>
                                            تاریخ حرکت
                                        </th>
                                        <td>
                                            @if (Model.Start_Date != null)
                                            {

                                                @CalendarMngr.JulianToPersian(Model.Start_Date.Value) <text> ساعت  @Model.Start_time</text>
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            تاریخ برگشت
                                        </th>
                                        <td>
                                            @if (Model.End_Date != null)
                                            {
                                                @CalendarMngr.JulianToPersian(Model.End_Date.Value) <text> ساعت  @Model.Arrival_Time</text>
                                            }
                                        </td>
                                    </tr>

                                    <tr>
                                        <th>
                                            محل حرکت
                                        </th>
                                        <td>
                                            @Model.Place_Movement
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            مدت زمان در مسیر
                                        </th>
                                        <td>
                                            @Model.Duration_Time ساعت
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            درجه سختی
                                        </th>
                                        <td>
                                            @Model.Difficulty
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            سن
                                        </th>
                                        <td>
                                            @Model.Age
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>محل اقامت</th>
                                        @if (Model.basic_place != null)
                                        {
                                            <td>@Model.basic_place</td>
                                        }
                                        @if (Model.staying_place != null)
                                        {
                                            <td>@Model.staying_place</td>

                                        }
                                        @if (Model.staying_place2 != null)
                                        {
                                            <td>@Model.staying_place2</td>
                                        }
                                        @if (Model.staying_place3 != null)
                                        {
                                            <td>@Model.staying_place3</td>
                                        }
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <hr />
                @if (Model.Travel_plan != null || Model.needed_equipment != null || Model.Attractives != null)
                {
                    <div class="row">
                        <div class="col-md-3">
                            <h3>شرح</h3>
                        </div>
                        <div class="col-md-9">
                            @if (Model.Travel_plan != null)
                            {

                                <h4>برنامه سفر</h4>
                                <p>
                                    @Model.Travel_plan
                                </p>
                            }
                            @if (Model.needed_equipment != null)
                            {

                                <h4>وسایل مورد نیاز</h4>
                                <p>
                                    @Model.needed_equipment
                                </p>

                            }
                            @if (Model.Attractives != null)
                            {

                                <h4>نکات مهم</h4>
                                <p>
                                    @Model.Attractives
                                </p>
                            }
                        </div>

                    </div>
                    <hr />
                }
                @if (Model.Meal_Description != null || Model.Breakfast || Model.Lunch || Model.Dinner || Model.Tour_Cross_Facilities.Count != 0 || Model.insuranceType != null)
                {

                    <div class="row">
                        <div class="col-md-3">
                            <h3>خدمات</h3>
                        </div>
                        @if (Model.Meal_Description != null || Model.Breakfast || Model.Lunch || Model.Dinner)
                        {
                            <div class="col-md-3">
                                <h4>وعده غذایی</h4>
                                <p>
                                    @Model.Meal_Description
                                </p>

                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <ul class="list_ok">
                                            @if (Model.Breakfast)
                                            {

                                                <li>صبحانه </li>
                                            }
                                            @if (Model.Lunch)
                                            {

                                                <li>ناهار</li>
                                            }
                                            @if (Model.Afternoon)
                                            {

                                                <li>عصرانه</li>
                                            }
                                            @if (Model.Dinner)
                                            {

                                                <li>شام</li>
                                            }
                                        </ul>
                                    </div>

                                </div>

                            </div>
                        }
                        <div class="col-md-6" id="emkanat">
                            @if (Model.Tour_Cross_Facilities.Count != 0)
                            {

                                <div class="row">
                                    <h4>امکانات ارائه شده</h4>
                                    @{
                                        int count = 1;
                                    }
                                    <ul class="list_ok col-md-6">
                                        @foreach (var item in Model.Tour_Cross_Facilities)
                                        {
                                            if (count < 5)
                                            {

                                                <li>@item.Facility.name</li>
                                                count++;
                                            }

                                        }
                                    </ul>
                                    <ul class="list_ok col-md-6">
                                        @{
                                            count = 1;
                                        }
                                        @foreach (var item in Model.Tour_Cross_Facilities)
                                        {

                                            if (count >= 5 && count < 11)
                                            {

                                                <li>@item.Facility.name</li>

                                            }
                                            count++;
                                        }
                                    </ul>
                                    <ul class="list_ok col-md-6">
                                        @{
                                            count = 1;
                                        }
                                        @foreach (var item in Model.Tour_Cross_Facilities)
                                        {

                                            if (count >= 10 && count < 15)
                                            {

                                                <li>@item.Facility.name</li>

                                            }
                                            count++;
                                        }
                                    </ul>



                                </div>
                            }
                        </div>

             @if (Model.insuranceType != null)
                        {

                        <div class="col-md-9 col-md-offset-3">
                            <h4>امکانات</h4>
                            <p>@Model.insuranceType</p>
                        </div>
                        }

                    </div>
                    <hr />
                                            }
                @*<div class="row">
                    <div class="col-md-3">
                        <h3>اطلاعات</h3>
                    </div>
                    <div>
                        <h4>اطلاعات برگزارکننده</h4>
                        <p>
                            <div class="row ">
                                <div class="col-md-6 col-sm-6">
                                    <ul>
                                        @if (Model.Profile_Tour.Name_Group != null)
                                        {
                                            <li>نام گروه: @Model.Profile_Tour.Name_Group</li>
                                        }
                                        @if (Model.Profile_Tour.Name_Agency != null)
                                        {
                                            <li>نام آژانس: @Model.Profile_Tour.Name_Agency</li>
                                        }
                                        @if (Model.Profile_Tour.Address != null)
                                        {
                                            <li>ادرس آژانس: @Model.Profile_Tour.Address</li>
                                        }
                                        @if (Model.Leader != null)
                                        {
                                            <li>نام لیدر: @Model.Leader</li>
                                        }
                                        @if (Model.LeaderTel != null)
                                        {
                                            <li>تلفن لیدر: <a href="tel:@Model.LeaderTel">@Model.LeaderTel</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </p>
                    </div>
                </div>*@

                <hr />
                <div id="Img_carousel" class="slider-pro">

                    <div class="sp-slide">
                        @foreach (var item in Model.images)
                        {

                            <img @*alt="@item.Tour.Title"*@ class="sp-image"
                                 data-src="@($"data:image/jpeg;base64,{Convert.ToBase64String(item.image1)}")"
                                 @*data-small="/Content/Template/img/slider_single_tour/1_small.jpg"
                                 data-medium="/Content/Template/img/slider_single_tour/1_medium.jpg"
                                 data-large="/Content/Template/img/slider_single_tour/1_large.jpg"
                                 data-retina="/Content/Template/img/slider_single_tour/1_large.jpg"*@>
                        }
                    </div>

                </div>
            </div><!--End  single_tour_desc-->

            <aside class="col-md-4" id="sidebar">
                @*<p class="hidden-sm hidden-xs">
                        <a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap">نمایش بر روی نقشه</a>
                    </p>*@
                <div class="theiaStickySidebar">
                    <div class="box_style_1 expose" id="booking_box">
                        <h3 class="inner">خدمات پرداخت</h3>

                        <form action="/Payment/Purchase" id="formid">
                            <div class="row">
                                <div class="form-group">
                                    <label>نوع وسیله نقلیه را انتخاب کنید</label>
                                    <input value="@Model.Id" name="id" type="hidden" />
                                    <select id="id_transfer" class="form-control" name="transferPrice">

                                        @if (Model.Tourist_bus != null && Model.Tourist_bus != 0)
                                        {
                                            <option value="@Model.Tourist_bus">اتوبوس توریستی-@Model.Tourist_bus تومان</option>
                                        }
                                        @if (Model.Vip_bus != null && Model.Vip_bus != 0)
                                        {
                                            <option value="@Model.Vip_bus">اتوبوس وی ای پی-@Model.Vip_bus تومان</option>
                                        }
                                        @if (Model.Agency_car != null && Model.Agency_car != 0)
                                        {
                                            <option value="@Model.Agency_car">ماشین آژانس-@Model.Agency_car تومان</option>
                                        }
                                        @if (Model.personal_car != null && Model.personal_car != 0)
                                        {
                                            <option value="@Model.personal_car">ماشین شخصی-@Model.personal_car تومان</option>
                                        }
                                    </select>

                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-7">
                                    <label>نوع اقامت یا غذا را انتخاب کنید</label>

                                    <select id="id_eghamat" class="form-control" name="placeprice">
                                        @if (Model.basic_place != null)
                                        {
                                            <option value="0">@Model.basic_place</option>
                                        }
                                        @if (Model.staying_place != null)
                                        {
                                            <option value="@Model.staying_price">@Model.staying_place-@Model.staying_price تومان اضافه</option>

                                        }
                                        @if (Model.staying_place2 != null)
                                        {
                                            <option value="@Model.staying_price2">@Model.staying_place2-@Model.staying_price2 تومان اضافه</option>

                                        }
                                        @if (Model.staying_place3 != null)
                                        {
                                            <option value="@Model.staying_price3">@Model.staying_place3-@Model.staying_price3 تومان اضافه</option>

                                        }
                                    </select>

                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>تعداد نفر</label>
                                        <div class="numbers-row">
                                            <input type="text" readonly="readonly" value="1" id="adults" class="qty2 form-control" name="quantity">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>

                            <table class="table table_summary">
                                <tbody>
                                    <tr>
                                        <td>
                                            <label>تاریخ حرکت</label>
                                        </td>
                                        <td class="text-right">
                                            @if (Model.Start_Date != null)
                                            {

                                                @CalendarMngr.JulianToPersian(Model.Start_Date.Value) <text> ساعت  @Model.Start_time</text>
                                            }
                                            <input name="Origin" value="@Model.Origin" type="hidden" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>تاریخ برگشت</label>
                                        </td>
                                        <td class="text-right">
                                            @if (Model.End_Date != null)
                                            {
                                                @CalendarMngr.JulianToPersian(Model.End_Date.Value) <text> ساعت  @Model.Arrival_Time</text>
                                            }
                                            <input name="destination" value="@Model.Destination" type="hidden" />
                                        </td>
                                    </tr>
                                    <tr @TempData["color"]>
                                        <td>
                                            <label>ظرفیت باقیمانده</label>
                                        </td>
                                        <td class="text-right">
                                            @if (Model.Remainder != null)
                                            {
                                                <text>
                                                    @Model.Remainder
                                                </text>
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>هزینه</label>
                                        </td>
                                        <td class="text-right">
                                            @{
                                                int cost = 0;
                                                if (Model.Tourist_bus != null)
                                                {
                                                    cost = (int)Model.Tourist_bus;
                                                }
                                                else if (Model.Vip_bus != null)
                                                {
                                                    cost = (int)Model.Vip_bus;
                                                }
                                                else if (Model.Agency_car != null)
                                                {
                                                    cost = (int)Model.Agency_car;
                                                }
                                                else if (Model.personal_car != null)
                                                {
                                                    cost = (int)Model.personal_car;
                                                }
                                            }
                                            <label id="basic_cost">@cost تومان</label>
                                        </td>
                                    </tr>
                                    <tr class="total">
                                        <td>
                                            هزینه کل
                                        </td>
                                        <td class="text-right">

                                            <label id="cost">@cost تومان</label>
                                            <input name="pay" id="pay" value="@cost" type="hidden" />
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            @if ((int)TempData["temp"] != 0)
                            {
                                <p><span style="color:#e04f67">@TempData["temp"] </span>نفر در حال خرید هستند اگر ظرفیت کافی نیست 10 دقیقه صبر کنید در صورت انصراف آنها ظرفیت اضافه خواهد شد</p>
                            }
                            @*id="Onlinesubmit"*@
                            @if (Model.End_Date.Value.Date == DateTime.Now.Date ? DateTime.ParseExact(Convert.ToDateTime(Model.Arrival_Time).TimeOfDay.ToString(), "HH:mm:ss", CultureInfo.InvariantCulture).TimeOfDay >= DateTime.Now.TimeOfDay : Model.End_Date.Value.Date > DateTime.Now.Date && Model.Remainder > 0)
                            {
                                if (Model.deadline == null)
                                {
                                    <a class="btn_full" data-toggle='modal' href='#small'>رزرو انلاین</a>

                                }
                                else if (Model.deadline > DateTime.Now)
                                {
                                    <a class="btn_full" data-toggle='modal' href='#small'>رزرو انلاین</a>
                                }
                                else
                                {
                                    <a style="background-color:#e05067" class="btn_full btn-danger">رزرو به اتمام رسیده</a>
                                }

                            }
                            else
                            {
                                <a style="background-color:#e05067" class="btn_full btn-danger">رزرو به اتمام رسیده</a>
                            }

                        </form>
                        @*<input type="button" id="sub" value="go" />
                            <script>
                                $(function () {
                                    $("#sub").click(function () {
                                        redirect = "/Payment/Purchase/"
                                        $.redirectPost(redirect, { id: @Model.Id, cost: @cost });

                                    })
                                })
                            </script>*@
                        @if (Model.End_Date > DateTime.Now)
                        {
                            if (Model.deadline == null)
                            {
                        <div class="dropdown dropdown-access">
                            @*<a href="#" class="dropdown-toggle btn_full" data-toggle="dropdown" id="submit">رزرو تلفتی</a>*@
                            @*<div class="dropdown-menu" id="tamas">
                                <div class="form-group">
                                    <p>برای رزرو این تور با این شماره تماس بگیرید</p>
                                    <p style="text-align:center">۰۹۱۷۸۲۷۳۰۶۷</p>
                                </div>
                                <div class="login-or">
                                    <hr class="hr-or">
                                    <span class="span-or">یا</span>
                                </div>
                                <div class="form-group">
                                    <p>نام و شماره خود را وارد کنید تا با شما تماس گرفته شود</p>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" id="name" placeholder="نام خود را وارد کنید">
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" name="tel" id="tel" placeholder="شماره تلفن خود را وارد کنید">
                                </div>
                                <button type="submit" id="sabt" class="button_drop outline">ثبت</button>
                                <label id="issabt" class="label label-success"></label>
                            </div>*@
                        </div>

                            }
                            else if (Model.deadline > DateTime.Now)
                            {
                                <div class="dropdown dropdown-access">
                                    @*<a href="#" class="dropdown-toggle btn_full" data-toggle="dropdown" id="submit">رزرو تلفتی</a>*@
                                    <div class="dropdown-menu" id="tamas">
                                        <div class="form-group">
                                            <p>برای رزرو این تور با این شماره تماس بگیرید</p>
                                            <p style="text-align:center">۰۹۱۷۸۲۷۳۰۶۷</p>
                                        </div>
                                        <div class="login-or">
                                            <hr class="hr-or">
                                            <span class="span-or">یا</span>
                                        </div>
                                        <div class="form-group">
                                            <p>نام و شماره خود را وارد کنید تا با شما تماس گرفته شود</p>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="name" id="name" placeholder="نام خود را وارد کنید">
                                        </div>
                                        <div class="form-group">
                                            <input type="tel" class="form-control" name="tel" id="tel" placeholder="شماره تلفن خود را وارد کنید">
                                        </div>
                                        <button type="submit" id="sabt" class="button_drop outline">ثبت</button>
                                        <label id="issabt" class="label label-success"></label>
                                    </div>
                                </div>
                            }

                        }

                        @*<a class="btn_full_outline" href="#"><i class=" icon-heart"></i> اضافه کردن به لیست علاقمندی</a>*@
                    </div><!--/box_style_1 -->
                </div><!--/end sticky -->
            </aside>
        </div><!--End row -->
    </div><!--End container -->

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-3">
                    <h3>شما نیاز به کمک دارید؟</h3>
                    <a id="phone">09357453829</a>
                    @*<a>@($"کل بازدیدکنندگان {HttpContext.Current.Application["totalusers"]}")</a><br />
                        <a>@($" بازدیدکنندگان آنلاین {HttpContext.Current.Application["onlineusers"]}")</a>*@
                    @*<a href="ایمیل:Info@digiao.ir" id="email_footer">Info@digiao.ir</a>*@
                </div>
                <div class="col-md-3 col-sm-3">
                    <h3>در باره ما</h3>
                    <ul>
                        <li><a href="#info">درباره ما</a></li>
                        <li><a href="#guide">راهنما</a></li>
                        @*<li><a href="#">ورود</a></li>
                            <li><a href="#">ثبت نام</a></li>
                            <li><a href="#">شرایط و ضوابط </a></li>*@
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3">
                    @*<h3>امکانات</h3>
                        <ul>
                            <li><a href="~/Home/Map">اطراف من</a></li>
                            <li><a href="/Events/All_Event/?kind=gallery">گالری</a></li>
                            <li><a href="/Events/All_Event/?kind=cafe">کافه</a></li>

                        </ul>*@
                    <h3>امکانات</h3>
                    <ul>
                        <li><a href="/Events/All_Tour">تورها</a></li>
                        <li><a href="/Events/Compare_Tour">مقایسه</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-3">
                    <h3>تنظیمات</h3>
                    <div class="styled-select">
                        <select class="form-control" name="lang" id="lang">
                            <option value="English" selected>فارسی</option>
                            @*<option value="French">French</option>
                                <option value="Spanish">Spanish</option>
                                <option value="Russian">Russian</option>*@
                        </select>
                    </div>
                    @*<div class="styled-select">
                            <select class="form-control" name="currency" id="currency">
                                <option value="USD" selected>ریال</option>
                                <option value="EUR">دلار</option>
                                <option value="GBP">تومان</option>
                                <option value="RUB">یورو</option>
                            </select>
                        </div>*@
                </div>
            </div><!-- End row -->
            <div class="row">
                <div class="col-md-12">
                    <div id="social_footer">
                        <ul>
                            <li><a href="https://www.instagram.com/dordor_official/"><i class="icon-instagram"></i></a></li>
                        </ul>

                    </div>
                </div>
            </div><!-- End row -->
        </div><!-- End container -->
    </footer>
    <!--small-->
    <!-- Modal -->
    <div class="modal fade" id="small" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    <h4 class="modal-title">تائیدیه!</h4>
                </div>
                <div class="modal-body">
                    قبل از پرداخت از ظرفیت اطمینان حاصل کنید<br>
                    با تماس با شماره های  09178273067  و  09357453829
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
                    <button type="button" class="btn btn-success" id="Onlinesubmit">پرداخت</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!--small-->

    <div id="toTop"></div><!-- Back to top button -->
    @*<div id="overlay"></div>*@<!-- Mask on input focus -->
    <!-- Common scripts -->
    <script src="~/Content/Template/js/jquery-1.11.2.min.js"></script>
    <script src="~/Content/Template/js/common_scripts_min.js"></script>
    <script src="~/Content/Template/js/functions.js"></script>
    <script src="~/Scripts/Extend.js"></script>
    <!-- Specific scripts -->
    <script src="~/Content/Template/js/icheck.js"></script>
    @*<script src="~/Scripts/vue.min.js"></script>
        <script src="~/Content/parallax_fix.js"></script>*@
    <script>
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-grey',
            radioClass: 'iradio_square-grey'
        });
    </script>
    <script>
        $('#Onlinesubmit').on("click", function () {
            var transferPrice = $("select[name=transferPrice]").val();
            if (transferPrice == null) {
                transferPrice = 0;
            }
            var placeprice = $("select[name=placeprice]").val();
            if (placeprice == null) {
                placeprice = 0;
            }
            var transfer = $("#id_transfer option:selected").text();
            var ExteraOption = $("#id_eghamat option:selected").text();
            var quantity = $("input[name=quantity]").val();
            var pay = $("input[name=pay]").val();
            redirect = "/Payment/Purchase/";
            $.redirectPost(redirect, { id: @Model.Id, pay: pay, quantity: quantity, placeprice: placeprice, transferPrice: transferPrice, transfer: transfer, ExteraOption: ExteraOption });
        });
    </script>
    <script>
        if ($(window).width() > 600 || $(window).height() > 600) {
            //small screen, load other JS files
            $('#submit').on("click", function () {
                $("html, body").animate({ scrollTop: $('#footer').offset().top }, 1000);
            });
        }
        if ($(window).width() < 600) {
            //small screen, load other JS files
            $('#emkanat').css("margin-right", "15px");
            $('#submit').on("click", function () {
                $("html, body").animate({ scrollTop: $('#footer').offset().top }, 1000);
            });
        }

    </script>
    @*<script>
        $('#sabt').on("click", function () {
            var name = $("input[type=text][name=name]").val();
            var tel = $("input[type=tel][name=tel]").val();
            var tedad = $("input[type=text][name=quantity]").val();
            var transferPrice = $("select[name=transferPrice]").val();
            var placeprice = $("select[name=placeprice]").val();
            var jqxhr = $.getJSON("/Events/AddRequest/?id=@Model.Id&&name=" + name + "&&tel=" + tel + "&&tedad=" + tedad + "&&cost=" +@cost+"&&transferPrice=" + transferPrice + "&&placeprice=" + placeprice, function (data) {
                document.getElementById("issabt").innerHTML = "ثبت شد"
               })
           });

    </script>*@
    <!--slide bar-->
    <script src="~/Content/Template/js/jquery.sliderPro.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function ($) {
            $('#Img_carousel').sliderPro({
                width: 960,
                height: 500,
                fade: true,
                arrows: true,
                buttons: false,
                fullScreen: false,
                smallSize: 500,
                startSlide: 0,
                mediumSize: 1000,
                largeSize: 3000,
                thumbnailArrows: true,
                autoplay: false
            });
        });
    </script>
    <script>
        var cost1 =@if (Model.Tourist_bus != null) {
            @Model.Tourist_bus;
        }
        else if (Model.Vip_bus != null) {
           @Model.Vip_bus;
        }
        else if (Model.Agency_car != null) {
            @Model.Agency_car;
        }
        else if (Model.personal_car != null) {
            @Model.personal_car;
        }


        var cost2 = 0;
        var tedad = 1;
        $(document).ready(function () {
            $('#id_transfer').change(function (data) {
                cost1 = $(this).val();
                if (cost2 == "" || cost2 == 0) {
                    var ali = cost1+"تومان";
                } else {
                    var ali = cost2 + " + " + cost1+"تومان";
                }
                document.getElementById("basic_cost").innerHTML = ali;
                var jqxhr = $.getJSON("/events/cost/?tedad=" + tedad + "&cost=" + cost1 + "&cost2=" + cost2, function (data) {

                    document.getElementById("cost").innerHTML = data + " تومان ";
                    document.getElementById("pay").setAttribute("Value", data);
                })
            });
            $('#id_eghamat').change(function () {
                cost2 = $(this).val();
                if ($(this).val() == 0) {
                    var ali1 = cost1 + " تومان ";
                } else {
                var ali1 = $(this).val() + " + " +  cost1+"تومان";
                }
                document.getElementById("basic_cost").innerHTML = ali1;
                var jqxhr = $.getJSON("/events/cost/?tedad=" + tedad + "&cost=" + cost1 + "&cost2=" + cost2, function (data) {

                    document.getElementById("cost").innerHTML = data + " تومان ";
                    document.getElementById("pay").setAttribute("Value", data);
                })
            });
            $('div.inc.button_inc').click(function () {
                var a = document.getElementById("adults").getAttribute("value");
                var b = parseInt(a) + 1;
                document.getElementById("adults").setAttribute("value", b);
                tedad = document.getElementById("adults").getAttribute("value");
                var jqxhr = $.getJSON("/events/cost/?tedad=" + tedad + "&cost=" + cost1 + "&cost2=" + cost2, function (data) {

                    document.getElementById("cost").innerHTML = data + " تومان ";
                    document.getElementById("pay").setAttribute("Value", data);
                })

            });
            $('div.dec.button_inc').click(function () {
                var a = document.getElementById("adults").getAttribute("value");
                if (a > 0) {
                var b = parseInt(a) - 1;
                document.getElementById("adults").setAttribute("value", b);
                }
                tedad = document.getElementById("adults").getAttribute("value");
                var jqxhr = $.getJSON("/events/cost/?tedad=" + tedad + "&cost=" + cost1 + "&cost2=" + cost2, function (data) {

                    document.getElementById("cost").innerHTML = data + " تومان ";
                    document.getElementById("pay").setAttribute("Value", data);
                })

            });

            $('#adults').change(function () {
                tedad =  $(this).val();
                var jqxhr = $.getJSON("/events/cost/?tedad=" + tedad + "&cost=" + cost1 + "&cost2=" + cost2, function (data) {

                    document.getElementById("cost").innerHTML = data + " تومان ";
                    document.getElementById("pay").setAttribute("Value", data);
                })
            });

        });

    </script>
    <script>
        $('#id_eghamat').click(function () {
            var jqxhr = $.getJSON("/home/check/?option=Type_Staying", function (data) {
            })
        });
        $('#id_transfer').click(function () {
            var jqxhr = $.getJSON("/home/check/?option=Type_Transport", function (data) {
            })
        });
        $('#submit').click(function () {
            var jqxhr = $.getJSON("/home/check/?option=Submit_click", function (data) {
            })
        });
    </script>
    <!-- Date and time pickers -->
    <script src="~/Content/Template/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/Template/js/bootstrap-timepicker.js"></script>
    <script>
        $('input.date-pick').datepicker('setDate', 'today');
        $('input.time-pick').timepicker({
            minuteStep: 15,
            showInpunts: false
        })
    </script>
    <!--Review modal validation -->
    <script src="assets/validate.js"></script>

    <script src="~/Content/Plugins/Modal/modal.js"></script>

    <!-- Map -->
    @*<script src="~/Content/Template/js/infobox.js"></script>*@

    <!-- Fixed sidebar -->
    <script src="~/Content/Template/js/theia-sticky-sidebar.js"></script>
    <script>
        jQuery('#sidebar').theiaStickySidebar({
            additionalMarginTop: 80
        });
    </script>


</body>
</html>
