﻿
@{
    Layout = null;
}

@using Microsoft.AspNet.Identity
@using IdentitySample.Models
@using Microsoft.AspNet.Identity.Owin;
@using Compress;
<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>همه تورها</title>
    <!-- CSS -->
    <link href="~/Content/Template/css/base.css" rel="stylesheet">
    <link href="~/Content/Template/css/shop.css" rel="stylesheet">

    <!-- Radio and check inputs -->
    <link href="~/Content/Template/css/skins/square/grey.css" rel="stylesheet">
    <link href="~/Content/Plugins/Blog cards/BlogCards.css" rel="stylesheet" />
    <!-- Range slider -->
    <link href="~/Content/Template/css/ion.rangeSlider.css" rel="stylesheet">
    <link href="~/Content/Template/css/ion.rangeSlider.skinFlat.css" rel="stylesheet">

    <!-- Google web fonts -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/Content/parallax.css" rel="stylesheet" />
</head>
<body>

    @*<div id="preloader">
            <div class="sk-spinner sk-spinner-wave">
                <div class="sk-rect1"></div>
                <div class="sk-rect2"></div>
                <div class="sk-rect3"></div>
                <div class="sk-rect4"></div>
                <div class="sk-rect5"></div>
            </div>
        </div>*@
    <!-- End Preload -->
    <div class="layer"></div>
    <!-- Mobile menu overlay mask -->
    <!-- Header================================================== -->
    @using Tourist.CommonMethods
    @using Tourist.Models;
    @model IEnumerable<Tour>
    <header id="colored">
        <div id="top_line">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6"><i class="icon-phone"></i><strong>۰۹۳۵۷۴۵۳۸۲۹</strong></div>

                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <ul id="top_links">
                            @if (Request.IsAuthenticated == false)
                            {
                                <li>
                                    <div class="dropdown dropdown-access">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="access_link">ورود</a>
                                        <div class="dropdown-menu">
                                            @*<div class="row">
                                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                                        <a href="#" class="bt_facebook">
                                                            <i class="icon-facebook"></i>فیسبوک
                                                        </a>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                                        <a href="#" class="bt_paypal">
                                                            <i class="icon-paypal"></i>پی پال
                                                        </a>
                                                    </div>
                                                </div>*@
                                            <div class="login-or">
                                                @*<hr class="hr-or">*@
                                                <span class="span-or">ورود</span>
                                            </div>
                                            <form action="/account/LoginConfirm">
                                                <div class="form-group">
                                                    @*@Html.TextBoxFor(x => x.Email, new {placeholder = "پست الکترونیک", id = "inputUsernameEmail", @class = "form-control" })
                                                        @Html.ValidationMessageFor(x => x.Email)*@
                                                    <input name="email" type="text" class="form-control" id="inputUsernameEmail" placeholder="پست الکترونیک">
                                                </div>
                                                <div class="form-group">
                                                    @*@Html.PasswordFor(x => x.Password, new { placeholder = "رمز عبور", type = "password", id = "inputPassword", autocomplete = "off", @class = "form-control" })
                                                        @Html.ValidationMessageFor(x => x.Password)*@
                                                    <input type="password" name="password" class="form-control" id="inputPassword" placeholder="رمز عبور">
                                                </div>
                                                @*<div class="form-group">
                                                        <h7 style="color:#999">من را بخاطر داشته باش</h7>
                                                        <input type="checkbox" />
                                                    </div>*@
                                                @*<a id="forgot_pw" href="#">رمز عبور خود را فراموش كرده ايد؟</a>*@
                                                <input type="submit" name="Sign_in" value="ورود" id="Sign_in" class="button_drop">
                                                <a href="/account/register" name="Sign_up" value="ثبت نام" id="Sign_up" class="button_drop outline">ثبت نام</a>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                            }
                            else
                            {
                                var userid = User.Identity.GetUserId();
                                //User.Identity.GetUserName()   this is username or email
                                //User.Identity.Name            this is username or email
                                var usermngr = HttpContext.Current.GetOwinContext().Get<ApplicationUserManager>();
                                var user = usermngr.FindById(userid);
                                //var user = usermngr.FindByName(User.Identity.Name);
                                @*<a href="/account/logout">خروج</a>*@
                                @*<li>
                                        <div class="dropdown dropdown-access">
                                            <a href="#" class="dropdown-toggle" style="direction:rtl" data-toggle="dropdown" id="access_link"></a>
                                        </div>
                                    </li>*@
                                <li><a href="/dashboard/index">@user.Email</a></li>
                                <li><a href="/account/logout?name=Ordibehesht">خروج</a></li>
                            }

                            <li>@TempData["msg"]</li>
                            @*<li><a href="#" id="wishlist_link">لیست علاقه مندی ها</a></li>*@
                        </ul>
                    </div>
                </div><!-- End row -->
            </div><!-- End container-->
        </div><!-- End top line-->

        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div id="logo_home">
                        <h1><a href="#" title=""></a></h1>
                    </div>
                </div>
                <nav class="col-md-9 col-sm-9 col-xs-9">
                    <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>منوی تلفن همراه</span></a>
                    <div class="main-menu">
                        <div id="header_menu">
                            @*<img src="~/Content/Template/img/logo_sticky.png" width="160" height="34" alt="City tours" data-retina="true">*@
                        </div>
                        <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
                        <ul>
                            <li class="submenu">
                                <a href="/Agency/index?name=@TempData["name"]" class="show-submenu">صفحه اصلی </a><ul></ul>
                            </li>
                            <li class="submenu">
                                <a href="/Agency/All_Tour?name=@TempData["name"]" class="show-submenu">تورها </a><ul></ul>
                            </li>

                            <li class="submenu">
                                <a href="/Agency/index?name=@TempData["name"]#about" class="show-submenu">درباره ما</a>

                            </li>
                            <li class="submenu">
                                <a href="/Agency/index?name=@TempData["name"]#foooter" class="show-submenu">تماس باما</a>
                            </li>
                            <li class="submenu">
                                <a href="/Agency/Archive?name=@TempData["name"]" class="show-submenu">آرشیو</a><ul></ul>
                            </li>

                        </ul>
                    </div><!-- End main-menu -->
                </nav>
            </div>
        </div><!-- container -->
    </header>
    <section class="parallax-window" data-parallax="scroll" data-image-src="/Content/Template/img/slider3.jpeg" data-natural-width="1400" data-natural-height="470">
        <div class="parallax-content-1">
            <div class="animated fadeInDown">
                <h1>تورهای برگزارشده</h1>
            </div>
        </div>
    </section><!-- End section -->
    <div class="collapse" id="collapseMap">
        <div id="map" class="map"></div>
    </div><!-- End Map -->
    <div class="container margin_60">
        <div class="row">
            <aside class="col-lg-3 col-md-3">

                <div class="box_style_cat">
                    <ul id="cat_nav">
                        @*<li><a href="/Events/All_Event/?kind=1" id="active"><i class="icon_set_1_icon-51"></i><span>(@ViewBag.countcafe)</span>رویداد کافه ها </a></li>
                            <li><a href="/Events/All_Event/?kind=2"><i class="icon_set_1_icon-3"></i><span>(@ViewBag.countgallery)</span> رویداد گالری ها</a></li>*@
                        <li><a href="/Agency/All_Tour?name=@TempData["name"]"><i class="icon_set_1_icon-3"></i><span>(@TempData["Tour_count"])</span> تورهای پیش رو</a></li>

                    </ul>
                </div>

                <div id="filters_col">

                </div>
                <div class="box_style_2">
                    <i class="icon_set_1_icon-57"></i>
                    <h4>درخواست <span>راهنمایی؟</span></h4>
                    <a class="تلفن">۰۹۳۵۷۴۵۳۸۲۹</a><br>
                    <small>24ساعته</small>
                </div>
            </aside><!--End aside -->
            @{
                List<Tour> lstModel = (List<Tour>)TempData["Tour"];
            }
            <div class="col-lg-9 col-md-8">

                <div id="tools">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            
                        </div>
                        @*<div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="styled-select-filters">
                                    <select name="difficulty" id="difficulty">
                                        <option value="0" selected>درجه سختی</option>
                                        <option value="2">بالای 2</option>
                                        <option value="3">بالای 3</option>
                                        <option value="4">بالای 4</option>
                                        <option value="5">بالای 5</option>
                                    </select>
                                </div>
                            </div>*@
                        <div class="col-md-6 col-sm-6 hidden-xs text-right">

                        </div>
                    </div>
                </div><!--End tools -->
                @if (Model != null)
                {

                    foreach (var item in Model)
                    {
                        <div class="strip_all_tour_list wow fadeIn" data-wow-delay="0.1s">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="img_list">
                                       
                                        <a @if (item.Type == "مادروکودک") { <text> href="/Agency/Baby/?id=@item.Id" </text>  } else { <text> href="/events/SingleTour/?id=@item.Id" </text>  }>
                                                <img src="@item.images.LargImage().First().Path" style="height:300px;width:350px" class="img-responsive" alt="">
                                            <div class="short_info">@item.Profile_Tour.Name_Group</div>
                                        </a>
                                    </div>
                                </div>
                                <div class="clearfix visible-xs-block"></div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="tour_list_desc">
                                        <h3>@item.Title</h3>
                                        <strong>تاریخ حرکت:</strong>@if (item.Start_Date != null)
                                        {
                                            @CalendarMngr.JulianToPersian(item.Start_Date.Value)
                                        }<br />
                                        <strong>تاریخ برگشت:</strong>@if (item.End_Date != null)
                                        {

                                            @CalendarMngr.JulianToPersian(item.End_Date.Value)
                                        }<br>
                                        <strong>نوع تور:</strong>@item.Type
                                        @if (item.Duration_Time != null)
                                        {
                                            <br>
                                            <strong>مدت زمان در راه:</strong>
                                            @item.Duration_Time
                                        }
                                        <br>
                                        <strong>سختی:</strong>@item.Difficulty
                                        @if (item.basic_place != null)
                                        {
                                            <br>
                                            <strong>محل اقامت:</strong>
                                            @item.basic_place
                                        }
                                        @if (item.Capacity != null)
                                        {
                                            <br>
                                            <strong>ظرفیت:</strong>
                                            @item.Capacity
                                        }
                                        <br>
                                        <br />
                                        <ul class="add_info ">
                                            <li>
                                                <div class="tooltip_styled tooltip-effect-4">
                                                    <span class="tooltip-item"><i class="icon_set_1_icon-83"></i></span>
                                                    <div class="tooltip-content">
                                                        <h4>جدول زمانی</h4>
                                                        <strong>ساعت حرکت:</strong>@item.Start_time<br>
                                                        <strong>ساعت برگشت</strong>@item.Arrival_Time<br>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="tooltip_styled tooltip-effect-4">
                                                    <span class="tooltip-item"><i class="icon_set_1_icon-41"></i></span>
                                                    <div class="tooltip-content">
                                                        <h4>محل سوار شدن</h4>
                                                        @item.Place_Movement<br>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="tooltip_styled tooltip-effect-4">
                                                    <span class="tooltip-item"><i class="icon_set_1_icon-25"></i></span>
                                                    <div class="tooltip-content">
                                                        <h4>حمل و نقل</h4>
                                                        <strong>اتوبوس مسافرتی:</strong>
                                                        @if (item.Tourist_bus == null)
                                                        {
                                                            <text>ندارد</text>
                                                        }
                                                        else
                                                        {
                                                            <text>دارد</text>
                                                        }
                                                        <br>
                                                        <strong>اتوبوس VIP:</strong>
                                                        @if (item.Vip_bus == null)
                                                        {
                                                            <text>ندارد</text>
                                                        }
                                                        else
                                                        {
                                                            <text>دارد</text>
                                                        }<br>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <div class="price_list">
                                        <div>
                                            <sup>
                                                @if (item.Tourist_bus != null)
                                                {
                                                    <text>
                                                        @item.Tourist_bus
                                                    </text>
                                                }
                                                else if (item.Vip_bus != null)
                                                {
                                                    <text>
                                                        @item.Vip_bus
                                                    </text>
                                                }
                                                else if (item.personal_car != null)
                                                {
                                                    <text>
                                                        @item.personal_car
                                                    </text>
                                                }
                                                else if (item.Agency_car != null)
                                                {
                                                    <text>
                                                        @item.Agency_car
                                                    </text>
                                                }
                                                تومان
                                            </sup><small>هر نفر</small>
                                                  <p>
                                                    
                                                      <a
                                                          @if (item.Type == "مادروکودک") {
                                              <text> href="/Agency/Baby/?id=@item.Id"</text>
                                           } else {
                                           <text>href="/events/SingleTour/?id=@item.Id"</text>
                                           } 
                                                         class="btn_1">جزئیات</a>
                                                  </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                <hr>

                @*<div class="text-center">
                        <ul class="pagination">
                            <li><a href="#">قبلی</a></li>
                            <li class="active"><a href="#">۱</a></li>
                            <li><a href="#">۲</a></li>
                            <li><a href="#">۳</a></li>
                            <li><a href="#">۴</a></li>
                            <li><a href="#">۵</a></li>
                            <li><a href="#">بعدی</a></li>
                        </ul>
                    </div>*@<!-- end pagination-->

            </div><!-- End col lg 9 -->
        </div><!-- End row -->
    </div><!-- End container -->


    <div id="toTop"></div><!-- Back to top button -->
    <!-- Common scripts -->
    <script src="~/Content/Template/js/jquery-1.11.2.min.js"></script>
    <script src="~/Content/Template/js/common_scripts_min.js"></script>
    <script src="~/Content/Template/js/functions.js"></script>
    <!-- Specific scripts -->
    <!-- Cat nav mobile -->
    <script src="~/Content/Template/js/cat_nav_mobile.js"></script>
    <script>$('#cat_nav').mobileMenu();</script>
    <!-- Check and radio inputs -->
    <script src="~/Content/Template/js/icheck.js"></script>
    <script>
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-grey',
            radioClass: 'iradio_square-grey'
        });
    </script>
    <script>
        $('#kind_price').change(function (data) {
            var kind = $(this).val();
            $('#kindform').submit();
            //alert(kind);
            //var jqxhr = $.getJSON("/Events/All_Event/?pricekind=" + kind, function (data) {
            //})
        });
        $('#difficulty').change(function (data) {
            var kind = $(this).val();
            $('#kindform').submit();
            //alert(kind);
            //var jqxhr = $.getJSON("/Events/All_Event/?pricekind=" + kind, function (data) {
            //})
        });

    </script>
    <!-- Map -->
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPnB4pS-Sw8CNQKmJiRoxcSMj9p0cQjro"></script>*@
    @*<script src="~/Content/Template/js/map_full_page.js"></script>*@
    <script src="~/Content/Template/js/infobox.js"></script>

</body>
</html>
