﻿
@{
    Layout = "";
}

@*Agency Single Tour*@
@using Microsoft.AspNet.Identity
@using IdentitySample.Models
@using Microsoft.AspNet.Identity.Owin;
@using System.Globalization;
@using Compress;
<!DOCTYPE html>
<!--[if IE 8]><html class="ie ie8"> <![endif]-->
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<html dir="rtl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="آژانس,آژانس شیراز,dordor,dor-dor,توریپس,شیراز,shiraz,دور دور,تور,تور,تورشیراز,tour,کافه,گالری,دور-دور" />
    <meta name="description" content="صفحه مادر و کودک توریپس" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cache-controle" content="no-cache" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="-1">
    <meta http-equiv="cache-controle" content="max-age=0" />
    <title>توریپس | تور کودک</title>
    <!-- Favicons-->
    @if (Model.Profile_Tour.Logo != null)
    {
        <link rel="shortcut icon" href="@($"data:image/jpeg;base64,{Convert.ToBase64String(Model.Profile_Tour.Logo)}")">
    }
    else
    {
        <link rel="icon shortcut" href="~/Content/Logo/LogoPng.png">
        <link rel="apple-touch-icon" type="image/x-icon" href="~/Content/Logo/LogoPng.png">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="~/Content/Logo/LogoPng.png">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="~/Content/Logo/LogoPng.png">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="~/Content/Logo/LogoPng.png">
    }
    <!-- CSS -->
    <link href="~/Content/Template/css/base.css" rel="stylesheet">
    <!-- SPECIFIC CSS -->
    <link href="~/Content/Template/css/shop.css" rel="stylesheet">
    <!-- CSS -->
    <link href="~/Content/Template/css/date_time_picker.css" rel="stylesheet">
    <link href="~/Content/Template/css/slider-pro.min.css" rel="stylesheet">
    <link href="~/Content/Template/css/owl.carousel.css" rel="stylesheet">
    <link href="~/Content/Template/css/owl.theme.css" rel="stylesheet">
    <!-- Google web fonts -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link href="~/Content/parallax.css" rel="stylesheet" />
    <link href="~/Content/Plugins/Modal/modal.css" rel="stylesheet" />

    <script type="text/javascript">
        window.heap = window.heap || [], heap.load = function (e, t) { window.heap.appid = e, window.heap.config = t = t || {}; var r = t.forceSSL || "https:" === document.location.protocol, a = document.createElement("script"); a.type = "text/javascript", a.async = !0, a.src = (r ? "https:" : "http:") + "//cdn.heapanalytics.com/js/heap-" + e + ".js"; var n = document.getElementsByTagName("script")[0]; n.parentNode.insertBefore(a, n); for (var o = function (e) { return function () { heap.push([e].concat(Array.prototype.slice.call(arguments, 0))) } }, p = ["addEventProperties", "addUserProperties", "clearEventProperties", "identify", "resetIdentity", "removeEventProperty", "setEventProperties", "track", "unsetEventProperty"], c = 0; c < p.length; c++)heap[p[c]] = o(p[c]) };
        heap.load("3314004309");
    </script>
</head>
@using Tourist.CommonMethods
@using Tourist.Models
@model Tour
@{int tempquantity = (int)TempData["temp"];
    int remainder = Model.Remainder.Value- tempquantity;}
<body>
    @*<div id="preloader">
            <div class="sk-spinner sk-spinner-wave">
                <div class="sk-rect1"></div>
                <div class="sk-rect2"></div>
                <div class="sk-rect3"></div>
                <div class="sk-rect4"></div>
                <div class="sk-rect5"></div>
            </div>
        </div>*@
    <!-- End Preload -->
    <div class="layer"></div>
    <header id="plain" style="background-color:#446350;color:#fff">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div id="logo_home">
                        <h1><a href="#" title=""></a></h1>
                    </div>
                </div>
                <nav class="col-md-9 col-sm-9 col-xs-9">
                    <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>منوی تلفن همراه</span></a>
                    <div class="main-menu">
                        <div id="header_menu">
                            @*<img src="~/Content/Template/img/logo_sticky.png" width="160" height="34" alt="City tours" data-retina="true">*@
                        </div>
                        <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
                        <ul>
                            <li class="submenu">
                                <a href="/Agency/index?name=@TempData["name"]" class="show-submenu">صفحه اصلی </a><ul></ul>
                            </li>
                            <li class="submenu">
                                <a href="/Agency/All_Tour?name=@TempData["name"]" class="show-submenu">تورها </a><ul></ul>
                            </li>
                            <li class="submenu">
                                <a href="/Agency/index?name=@TempData["name"]#about" class="show-submenu">درباره ما</a>
                            </li>
                            <li class="submenu">
                                <a href="/Agency/index?name=@TempData["name"]#foooter" class="show-submenu">تماس باما</a>
                            </li>
                            <li class="submenu">
                                <a href="/Agency/Archive?name=@TempData["name"]" class="show-submenu">آرشیو</a><ul></ul>
                            </li>
                        </ul>
                    </div><!-- End main-menu -->
                </nav>
            </div>
        </div><!-- container -->
    </header>
    <div id="position">
        <div class="container">
            <ul>
                <li><a>صفحه اصلی</a></li>
                <li>
                    <a>
                        تور
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="collapse">
        @*<div id="map" class="map"></div>*@
    </div><!-- End Map -->
    <div class="container margin_60">
        <div class="row">
            <div class="col-md-8" id="single_tour_desc">
                <div class="row">
                    <div id="Img_carousel" class="slider-pro">
                        @foreach (var item in Model.images.LargImage())
                        {
                            <div class="sp-slide">
                                <img class="sp-image"
                                     src="@item.Path">
                            </div>
                        }
                    </div>
                </div><hr /><div class="row">
                    <div class="col-md-3">
                        <h3>برنامه</h3>
                    </div>
                    <div class="col-md-9">
                        <div class="portlet-body flip-scroll">
                            <table class="table table-bordered table-striped table-condensed flip-content">
                                <thead class="flip-content">
                                    <tr>
                                        <th colspan="2">
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>
                                            نوع تور
                                        </th>
                                        <td>
                                            @Model.Type
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            عنوان تور
                                        </th>
                                        <td>
                                            @Model.Title
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            مبدا
                                        </th>
                                        <td>
                                            @Model.Origin
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            مقصد
                                        </th>
                                        <td>
                                            @Model.Destination
                                        </td>
                                    </tr>

                                    <tr>
                                        <th>
                                            تاریخ حرکت
                                        </th>
                                        <td>
                                            @if (Model.Start_Date != null)
                                            {

                                                @CalendarMngr.JulianToPersian(Model.Start_Date.Value) <text> ساعت  @Model.Start_time</text>
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            تاریخ برگشت
                                        </th>
                                        <td>
                                            @if (Model.End_Date != null)
                                            {
                                                @CalendarMngr.JulianToPersian(Model.End_Date.Value) <text> ساعت  @Model.Arrival_Time</text>
                                            }
                                        </td>
                                    </tr>
                                    @if (Model.Age != null)
                                    {
                                        <tr>
                                            <th>
                                                سن
                                            </th>
                                            <td>
                                                @Model.Age
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <hr />
                @if (Model.Travel_plan != null || Model.needed_equipment != null || Model.Attractives != null)
                {
                    <div class="row">
                        <div class="col-md-3">
                            <h3>شرح</h3>
                        </div>
                        <div class="col-md-9">
                            @if (Model.Travel_plan != null)
                            {

                                <h4>برنامه سفر</h4>
                                <p>
                                    @Model.Travel_plan
                                </p>
                            }
                            @if (Model.needed_equipment != null)
                            {

                                <h4>وسایل مورد نیاز</h4>
                                <p>
                                    @Model.needed_equipment
                                </p>

                            }
                            @if (Model.Attractives != null)
                            {

                                <h4>نکات مهم</h4>
                                <p>
                                    @Model.Attractives
                                </p>
                            }

                            @*<h4>اطلاعات برگزار کننده</h4>
                                <p>
                                    <div class="row ">
                                        <div class="col-md-6 col-sm-6">
                                            <ul>
                                                @if (Model.Profile_Tour.Name_Group != null) {
                                                <li>نام گروه: @Model.Profile_Tour.Name_Group</li>
                                                }
                                                @if (Model.Profile_Tour.Name_Agency != null){
                                                <li>نام آژانس: @Model.Profile_Tour.Name_Agency</li>
                                                }
                                                @if (Model.Profile_Tour.Address != null) {
                                                <li>ادرس آژانس: @Model.Profile_Tour.Address</li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </p>*@
                        </div>
                    </div>
                    <hr />
                }
                @if (Model.Meal_Description != null || Model.Breakfast || Model.Lunch || Model.Dinner || Model.Tour_Cross_Facilities.Count != 0 || Model.insuranceType != null)
                {

                    <div class="row">
                        <div class="col-md-3">
                            <h3>خدمات</h3>
                        </div>
                        @if (Model.Meal_Description != null || Model.Breakfast || Model.Lunch || Model.Dinner)
                        {
                            <div class="col-md-3">
                                <h4>وعده غذایی</h4>
                                <p>
                                    @Model.Meal_Description
                                </p>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <ul class="list_ok">
                                            @if (Model.Breakfast)
                                            {

                                                <li>صبحانه </li>
                                            }
                                            @if (Model.Lunch)
                                            {

                                                <li>ناهار</li>
                                            }
                                            @if (Model.Afternoon)
                                            {

                                                <li>عصرانه</li>
                                            }
                                            @if (Model.Dinner)
                                            {

                                                <li>شام</li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="col-md-6" id="emkanat">
                            @if (Model.Tour_Cross_Facilities.Count != 0)
                            {

                                <div class="row">
                                    <h4>امکانات ارائه شده</h4>
                                    @{
                                        int count = 1;
                                    }
                                    <ul class="list_ok col-md-6">
                                        @foreach (var item in Model.Tour_Cross_Facilities)
                                        {
                                            if (count < 5)
                                            {

                                                <li>@item.Facility.name</li>
                                                count++;
                                            }

                                        }
                                    </ul>
                                    <ul class="list_ok col-md-6">
                                        @{
                                            count = 1;
                                        }
                                        @foreach (var item in Model.Tour_Cross_Facilities)
                                        {

                                            if (count >= 5 && count < 11)
                                            {

                                                <li>@item.Facility.name</li>

                                            }
                                            count++;
                                        }
                                    </ul>
                                    <ul class="list_ok col-md-6">
                                        @{
                                            count = 1;
                                        }
                                        @foreach (var item in Model.Tour_Cross_Facilities)
                                        {

                                            if (count >= 10 && count < 15)
                                            {

                                                <li>@item.Facility.name</li>

                                            }
                                            count++;
                                        }
                                    </ul>

                                </div>
                            }
                        </div>
                        @if (Model.insuranceType != null)
                        {

                            <div class="col-md-3 col-md-offset-3">
                                <h4>امکانات</h4>
                            </div>
                            <div class="col-md-3 col-md-offset-3">
                                <p>@Model.insuranceType</p>
                            </div>
                        }
                    </div>
                    <hr />
                }
                <div class="row">
                    <div class="col-md-3">
                        <h3>اطلاعات</h3>
                    </div>
                    <div>
                        <h4>اطلاعات برگزارکننده</h4>
                        <p>
                            <div class="row ">
                                <div class="col-md-6 col-sm-6">
                                    <ul>
                                        @if (Model.Profile_Tour.Name_Group != null)
                                        {
                                            <li>نام گروه: @Model.Profile_Tour.Name_Group</li>
                                        }
                                        @if (Model.Profile_Tour.Name_Agency != null)
                                        {
                                            <li>نام آژانس: @Model.Profile_Tour.Name_Agency</li>
                                        }
                                        @if (Model.Profile_Tour.Address != null)
                                        {
                                            <li>ادرس آژانس: @Model.Profile_Tour.Address</li>
                                        }
                                        @if (Model.Leader != null)
                                        {
                                            <li>نام لیدر: @Model.Leader</li>
                                        }
                                        @if (Model.LeaderTel != null)
                                        {
                                            <li>تلفن لیدر: <a href="tel:@Model.LeaderTel">@Model.LeaderTel</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </p>
                    </div>
                </div>
                <hr />
                <div id="Img_carousel" class="slider-pro">
                    <div class="sp-slide">
                        @foreach (var item in Model.images.LargImage())
                        {
                            <img class="sp-image"
                                 data-src="@item.Path">
                        }
                    </div>
                </div>
            </div><!--End  single_tour_desc-->
            <aside class="col-md-4" id="sidebar">
                @*<p class="hidden-sm hidden-xs">
                        <a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap">نمایش بر روی نقشه</a>
                    </p>*@
                <div class="theiaStickySidebar">
                    <div class="box_style_1 expose" id="booking_box">
                        <h3 class="inner">خدمات پرداخت</h3>
                        <form action="/Payment/PurchaseAgency" id="formid">
                            <div class="row">
                                <div class="form-group">
                                    <label class="center-align center-block text-center" style="visibility:hidden"></label>
                                    <input value="@Model.Id" name="id" type="hidden" />
                                    <select id="id_transfer" class="form-control center-align center-block text-center" name="transferPrice">
                                        @if (Model.Tourist_bus != null)
                                        {
                                            <option value="@Model.Tourist_bus">مادر و کودک-@Model.Tourist_bus تومان</option>
                                        }
                                        @if (Model.Vip_bus != null)
                                        {
                                            <option value="@Model.Vip_bus">کودک-@Model.Vip_bus تومان</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            @if (Model.Agency_car != null)
                            {
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <p class="center-align center-block text-center" style="font-size:11px">در صورت داشتن بیش از یک کودک تعداد آن را مشخص کنید</p>
                                        <div class="form-group col-md-7  col-sm-7">
                                            <h5 class="center-align center-block text-center">کودک اضافه-<span>@Model.Agency_car تومان</span></h5>
                                            @Html.TextBoxFor(x => x.Agency_car, new { type = "hidden" })
                                        </div>
                                        <center class="col-md-5 col-sm-5">
                                            <br />
                                            <center class="form-group">
                                                <center class="numbers-row">
                                                    <input type="text" readonly="readonly" value="0" id="Baby" style="right:unset;important;" class="qty2 form-control" name="quantity">
                                                </center>
                                            </center>
                                        </center>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="row" style="display:none">
                                    <div class="col-md-12 col-sm-12">
                                        <p class="center-align center-block text-center" style="font-size:11px">در صورت داشتن بیش از یک کودک تعداد آن را مشخص کنید</p>
                                        <div class="form-group col-md-7  col-sm-7">
                                            <h5 class="center-align center-block text-center">کودک اضافه-<span>@Model.Agency_car تومان</span></h5>
                                            @Html.TextBoxFor(x => x.Agency_car, new { type = "hidden", value = "0" })
                                        </div>
                                        <center class="col-md-5 col-sm-5">
                                            <br />
                                            <center class="form-group">
                                                <center class="numbers-row">
                                                    <input type="text" readonly="readonly" value="0" id="Baby" style="right:unset;important;" class="qty2 form-control" name="quantity">
                                                </center>
                                            </center>
                                        </center>
                                    </div>
                                </div>
                            }
                            @if (Model.personal_car != null)
                            {
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <p class="center-align center-block text-center" style="font-size:11px">در صورت داشتن همراه تعداد آن را مشخص کنید</p>
                                        <div class="form-group col-md-7  col-sm-7">
                                            <h5 class="center-align center-block text-center">همراه اضافه-<span>@Model.personal_car تومان</span></h5>
                                            @Html.TextBoxFor(x => x.personal_car, new { type = "hidden" })
                                        </div>
                                        <center class="col-md-5 col-sm-5">
                                            <br />
                                            <center class="form-group">
                                                <center class="numbers-row-1" style="position:relative;width:97px;height:40px;overflow:visible">
                                                    <input type="text" readonly="readonly" value="0" id="Fellow" style="right:unset;important;" class="qty2 form-control" name="quantity">
                                                </center>
                                            </center>
                                        </center>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="row" style="display:none">
                                    <div class="col-md-12 col-sm-12">
                                        <p class="center-align center-block text-center" style="font-size:11px">در صورت داشتن همراه تعداد آن را مشخص کنید</p>
                                        <div class="form-group col-md-7  col-sm-7">
                                            <h5 class="center-align center-block text-center">همراه اضافه-<span>@Model.personal_car تومان</span></h5>
                                            @Html.TextBoxFor(x => x.personal_car, new { type = "hidden", value = "0" })
                                        </div>
                                        <center class="col-md-5 col-sm-5">
                                            <br />
                                            <center class="form-group">
                                                <center class="numbers-row-1" style="position:relative;width:97px;height:40px;overflow:visible">
                                                    <input type="text" readonly="readonly" value="0" id="Fellow" style="right:unset;important;" class="qty2 form-control" name="quantity">
                                                </center>
                                            </center>
                                        </center>
                                    </div>
                                </div>
                            }
                            <br>
                            <table class="table table_summary">
                                <tbody>
                                    @{
                                        System.Globalization.PersianCalendar pc = new System.Globalization.PersianCalendar();
                                        DayOfWeek a = pc.GetDayOfWeek(Model.Start_Date.Value);
                                        int b = (int)a;
                                        int c = pc.GetMonth(Model.Start_Date.Value);
                                    }
                                    <tr>
                                        <td>
                                            @if (Model.Start_Date != null)
                                            {
                                                @CalendarMngr.findday(b) @pc.GetDayOfMonth(Model.Start_Date.Value) @CalendarMngr.monthofyear(c) @pc.GetYear(Model.Start_Date.Value)
                                            }
                                            <input name="destination" value="@Model.Destination" type="hidden" />
                                        </td>
                                        <td class="text-right">
                                            ساعت @Model.Start_time الی <text>@Model.Arrival_Time</text>
                                            <input name="Origin" value="@Model.Origin" type="hidden" />
                                        </td>
                                    </tr>
                                    <tr @TempData["color"]>
                                        <td>
                                            <label>ظرفیت باقیمانده</label>
                                        </td>
                                        <td class="text-right">
                                            @if (remainder != null)
                                            {
                                                <text>
                                                    @remainder
                                                </text>
                                            }
                                        </td>
                                    </tr>
                                    <tr style="display:none">
                                        <td>
                                            <label>هزینه</label>
                                        </td>
                                        <td class="text-right">
                                            @{
                                                int cost = 0;
                                                if (Model.Tourist_bus != null)
                                                {
                                                    cost = (int)Model.Tourist_bus;
                                                }
                                                else if (Model.Vip_bus != null)
                                                {
                                                    cost = (int)Model.Vip_bus;
                                                }

                                            }
                                            <label id="basic_cost">@cost تومان</label>
                                        </td>
                                    </tr>
                                    <tr class="total">
                                        <td>
                                            هزینه کل
                                        </td>
                                        <td class="text-right">
                                            <label id="cost">@cost تومان</label>
                                            <input name="pay" id="pay" value="@cost" type="hidden" />
                                            <input name="tempId" id="tempId" value="@TempData["TempId"]" type="hidden" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            @if ((int)TempData["temp"] != 0)
                            {
                                <p><span style="color:#e04f67">@TempData["temp"] </span>نفر در حال خرید هستند اگر ظرفیت کافی نیست 10 دقیقه صبر کنید در صورت انصراف آنها ظرفیت اضافه خواهد شد</p>
                            }
                            @if (Model.End_Date.Value.Date == DateTime.Now.Date ? DateTime.ParseExact(Convert.ToDateTime(Model.Arrival_Time).TimeOfDay.ToString(), "HH:mm:ss", CultureInfo.InvariantCulture).TimeOfDay >= DateTime.Now.TimeOfDay : Model.End_Date.Value.Date > DateTime.Now.Date && remainder > 0)
                            {
                                if (Model.deadline == null)
                                {
                                    <a class="btn_full" id="Onlinesubmit">رزرو انلاین</a>
                                }
                                else if (Model.deadline > DateTime.Now)
                                {
                                    <a class="btn_full" id="Onlinesubmit">رزرو انلاین</a>
                                }
                                else
                                {
                                    <a style="background-color:#e05067" class="btn_full btn-danger">رزرو به اتمام رسیده</a>
                                }
                            }
                            else
                            {
                                <a style="background-color:#e05067" class="btn_full btn-danger">رزرو به اتمام رسیده</a>
                            }

                        </form>
                    </div><!--/box_style_1 -->
                </div><!--/end sticky -->
            </aside>
        </div><!--End row -->
    </div><!--End container -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-3">
                    <h3>شما نیاز به کمک دارید؟</h3>
                    <a id="phone">09357453829</a>
                </div>
                <div class="col-md-3 col-sm-3">
                    <h3>در باره ما</h3>
                    <ul>
                        <li><a href="/Agency/index?name=@TempData["name"]#about">درباره ما</a></li>
                        <li><a href="/Agency/index?name=@TempData["name"]#foooter">تماس باما</a></li>
                        @*<li><a href="#">ورود</a></li>
                            <li><a href="#">ثبت نام</a></li>
                            <li><a href="#">شرایط و ضوابط </a></li>*@
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3">
                    @*<h3>امکانات</h3>
                        <ul>
                            <li><a href="~/Home/Map">اطراف من</a></li>
                            <li><a href="/Events/All_Event/?kind=gallery">گالری</a></li>
                            <li><a href="/Events/All_Event/?kind=cafe">کافه</a></li>

                        </ul>*@
                    <h3>امکانات</h3>
                    <ul>
                        <li><a href="/Agency/All_Tour?name=@TempData["name"]">تورها</a></li>
                        <li><a href="/Agency/Archive?name=@TempData["name"]">آرشیو</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-3">
                    <h3>تنظیمات</h3>
                    <div class="styled-select">
                        <select class="form-control" name="lang" id="lang">
                            <option value="English" selected>فارسی</option>
                        </select>
                    </div>
                </div>
            </div><!-- End row -->
        </div><!-- End container -->
    </footer>
    <div id="toTop"></div><!-- Back to top button -->
    @*<div id="overlay"></div>*@<!-- Mask on input focus -->
    <!-- Common scripts -->
    <script src="~/Content/Template/js/jquery-1.11.2.min.js"></script>
    <script src="~/Content/Template/js/common_scripts_min.js"></script>
    <script src="~/Content/Template/js/functions.js"></script>
    <script src="~/Scripts/Extend.js"></script>
    <!-- Specific scripts -->
    <script src="~/Content/Template/js/icheck.js"></script>
    <script>
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-grey',
            radioClass: 'iradio_square-grey'
        });
    </script>
    12:14 PM
    <script>
        $('#Onlinesubmit').on("click", function () {

            var transferPrice = $("select[name=transferPrice]").val();
            if (transferPrice == null) {
                transferPrice = 0;
            }
            var placeprice = $("select[name=placeprice]").val();
            if (placeprice == null) {
                placeprice = 0;
            }
            var transfer = $("#id_transfer option:selected").text();

            var quantity1 = $("input[id=Fellow]").val();
            var quantity2 = $("input[id=Baby]").val();
            var value = $("#id_transfer option:selected").val();
            var quantitiybaby = 0;
            if (value == @Model.Tourist_bus) {
                quantitiybaby = 2;
            }
            var ExteraOption = quantity1 + "همراه" + "" + quantity2 + "کودک";


            var exBaby = parseInt(quantity2);
            var exmom = parseInt(quantity1);
            var pay = $("input[name=pay]").val();
            redirect = "/Payment/GetInfo/";
            $.redirectPost(redirect, { id: @Model.Id, pay: pay, quantity: (exBaby + exmom + 2), placeprice: placeprice, place: exmom, transfer: exBaby, ExteraOption: ExteraOption, codeDiscount: "", tempId: $("#tempId").val() });
        });
    </script>
    <script>
        if ($(window).width() > 600 || $(window).height() > 600) {
            //small screen, load other JS files
            $('#submit').on("click", function () {
                $("html, body").animate({ scrollTop: $('#footer').offset().top }, 1000);
            });
        }
        if ($(window).width() < 600) {
            //small screen, load other JS files
            $('#emkanat').css("margin-right", "15px");
            $('#submit').on("click", function () {
                $("html, body").animate({ scrollTop: $('#footer').offset().top }, 1000);
            });
        }

    </script>
    <script>
        $('#sabt').on("click", function () {
            var name = $("input[type=text][name=name]").val();
            var tel = $("input[type=tel][name=tel]").val();
            var tedad = $("input[type=text][name=quantity]").val();
            var transferPrice = $("select[name=transferPrice]").val();
            var placeprice = $("select[name=placeprice]").val();
            var jqxhr = $.getJSON("/Events/AddRequest/?id=@Model.Id&&name=" + name + "&&tel=" + tel + "&&tedad=" + tedad + "&&cost=" +@cost+"&&transferPrice=" + transferPrice + "&&placeprice=" + placeprice, function (data) {
                document.getElementById("issabt").innerHTML = "ثبت شد"
               })
           });

    </script>
    <!--slide bar-->
    <script src="~/Content/Template/js/jquery.sliderPro.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function ($) {
            $('#Img_carousel').sliderPro({
                width: 960,
                height: 500,
                fade: true,
                arrows: true,
                buttons: false,
                fullScreen: false,
                smallSize: 500,
                startSlide: 0,
                mediumSize: 1000,
                largeSize: 3000,
                thumbnailArrows: true,
                autoplay: false
            });
        });
    </script>
    <script>
        var cost1 =@if (Model.Tourist_bus != null) {
            @Model.Tourist_bus;
        }
        else if (Model.Vip_bus != null) {
           @Model.Vip_bus;
        };

        var tedad_baby = 0;
        var tedad_hamrah = 0;
        var babyprice = document.getElementById("Agency_car").getAttribute("value");
        var Fellowprice = document.getElementById("personal_car").getAttribute("value");
        var tedad = 1;
        $(document).ready(function () {
            $('#id_transfer').change(function (data) {
                cost1 = $(this).val();
                var ali = cost1 + "تومان";
                document.getElementById("basic_cost").innerHTML = ali;
                var jqxhr = $.getJSON("/events/costBaby/?tedad_baby=" + tedad_baby + "&tedad_hamrah=" + tedad_hamrah + "&cost=" + cost1 + "&babyprice=" + babyprice + "&Fellowprice=" + Fellowprice, function (data) {
                    document.getElementById("cost").innerHTML = data + " تومان ";
                    document.getElementById("pay").setAttribute("Value", data);
                })
            });

            $('#inc').click(function () {
                var $button = $(this);
                tedad_baby = $button.parent().find("input").val();
                document.getElementById("Baby").setAttribute("value", tedad_baby);
                    var jqxhr = $.getJSON("/events/costBaby/?tedad_baby=" + tedad_baby + "&tedad_hamrah=" + tedad_hamrah + "&cost=" + cost1 + "&babyprice=" + babyprice + "&Fellowprice=" + Fellowprice, function (data) {
                        document.getElementById("cost").innerHTML = data + " تومان ";
                        document.getElementById("pay").setAttribute("Value", data);
                    })
            });
            $('#dec').click(function () {
                var $button = $(this);
                tedad_baby = $button.parent().find("input").val();
                document.getElementById("Baby").setAttribute("value", tedad_baby);
                var jqxhr = $.getJSON("/events/costBaby/?tedad_baby=" + tedad_baby + "&tedad_hamrah=" + tedad_hamrah + "&cost=" + cost1 + "&babyprice=" + babyprice + "&Fellowprice=" + Fellowprice, function (data) {
                    document.getElementById("cost").innerHTML = data + " تومان ";
                    document.getElementById("pay").setAttribute("Value", data);
                })

            });
            $('#inc1').click(function () {
                var $button = $(this);
                tedad_hamrah = $button.parent().find("input").val();
                document.getElementById("Fellow").setAttribute("value", tedad_hamrah);
                    var jqxhr = $.getJSON("/events/costBaby/?tedad_baby=" + tedad_baby + "&tedad_hamrah=" + tedad_hamrah + "&cost=" + cost1 + "&babyprice=" + babyprice + "&Fellowprice=" + Fellowprice, function (data) {
                        document.getElementById("cost").innerHTML = data + " تومان ";
                        document.getElementById("pay").setAttribute("Value", data);
                    })


            });
            $('#dec1').click(function () {
                var $button = $(this);
                tedad_hamrah = $button.parent().find("input").val();
                document.getElementById("Fellow").setAttribute("value", tedad_hamrah);
                var jqxhr = $.getJSON("/events/costBaby/?tedad_baby=" + tedad_baby + "&tedad_hamrah=" + tedad_hamrah + "&cost=" + cost1 + "&babyprice=" + babyprice + "&Fellowprice=" + Fellowprice, function (data) {
                    document.getElementById("cost").innerHTML = data + " تومان ";
                    document.getElementById("pay").setAttribute("Value", data);
                })

            });

        });

    </script>
    <script>
        $('#id_eghamat').click(function () {
            var jqxhr = $.getJSON("/home/check/?option=Type_Staying", function (data) {
            })
        });
        $('#id_transfer').click(function () {
            var jqxhr = $.getJSON("/home/check/?option=Type_Transport", function (data) {
            })
        });
        $('#submit').click(function () {
            var jqxhr = $.getJSON("/home/check/?option=Submit_click", function (data) {
            })
        });
    </script>
    <!-- Date and time pickers -->
    <script src="~/Content/Template/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/Template/js/bootstrap-timepicker.js"></script>
    <script>
        $('input.date-pick').datepicker('setDate', 'today');
        $('input.time-pick').timepicker({
            minuteStep: 15,
            showInpunts: false
        })
    </script>
    <!--Review modal validation -->
    @*<script src="assets/validate.js"></script>*@
    <script src="~/Content/Plugins/Modal/modal.js"></script>
    <!-- Map -->
    @*<script src="~/Content/Template/js/infobox.js"></script>*@
    <!-- Fixed sidebar -->
    <script src="~/Content/Template/js/theia-sticky-sidebar.js"></script>
    <script>
        jQuery('#sidebar').theiaStickySidebar({
            additionalMarginTop: 80
        });
    </script>
</body>
<HEAD>
    <meta http-equiv="cache-controle" content="no-cache" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="-1">
</HEAD>
</html>
