﻿

@{
    Layout = "~/Views/Shared/_LayoutAgency.cshtml";
}
@using System.Globalization;
@using Tourist.CommonMethods
@using Tourist.Models
@using Microsoft.AspNet.Identity
@using IdentitySample.Models
@using Microsoft.AspNet.Identity.Owin;
@using Compress;
@model Tuple<List<Tour>, Profile_Tour, List<Tour>, List<Leader>>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="صفحه آژانس های توریپس" />
    <meta name="keywords" content="آژانس,آژانس شیراز,dordor,dor-dor,توریپس,شیراز,shiraz,دور دور,تور,تور,تورشیراز,tour,کافه,گالری,دور-دور" />
    <meta name="setarehZ">

    <title>توریپس | آژانس</title>
    <!--
    FAVICONS -->
    <!-- Favicons-->


    @if (Model.Item2.Logo != null)
    {
        <script>
        document.getElementById('head').innerHTML += '<link rel="icon" href="@($"data:image/jpeg;base64,{Convert.ToBase64String(Model.Item2.Logo)}")">'
        </script>
    }
    else
    {
        <script>
            document.getElementById('head').innerHTML +='<link rel = "icon" href = "~/Content/Logo/LogoPng.png" >'
        </script>
    }
    <!--
    STYLESHEETS
    -->
    <!-- Add custom CSS here -->
    <link href="~/Content/newTemplate/cssMain/stylemain.css" rel="stylesheet">
    <link href="~/Content/newTemplate/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/newTemplate/cssMain/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/newTemplate/css/simple-line-icons.css" rel="stylesheet" />
    <link href="~/Content/newTemplate/css/style.css" rel="stylesheet" />
    <link href="~/Content/newTemplate/css/responsive.css" rel="stylesheet" />
    <link href="~/Content/newTemplate/css/animate.css" rel="stylesheet" />
    <link href="~/Content/newTemplate/css/cards.css" rel="stylesheet" />

    @*for agencypage only*@
    <link href="~/Content/newTemplate/css/AgencyPersonalCard.css" rel="stylesheet" />

    <script src="~/Content/newTemplate/js/jquery.sticky.js"></script>
        <script src="~/Content/newTemplate/js/jquery.nav.js"></script>
        <script src="~/Content/newTemplate/js/jquery.scrollTo.js"></script>
        <script src="/Content/newTemplate/js/jquery.flexslider.js"></script>

        <script src="~/Content/newTemplate/js/jquery.easing.1.3.js"></script>
        <script src="~/Content/newTemplate/js/jquery.shuffle.js"></script>
        <script src="~/Content/newTemplate/js/script.js"></script>

        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>


        <script type="text/javascript">
                    window.heap = window.heap || [], heap.load = function (e, t) { window.heap.appid = e, window.heap.config = t = t || {}; var r = t.forceSSL || "https:" === document.location.protocol, a = document.createElement("script"); a.type = "text/javascript", a.async = !0, a.src = (r ? "https:" : "http:") + "//cdn.heapanalytics.com/js/heap-" + e + ".js"; var n = document.getElementsByTagName("script")[0]; n.parentNode.insertBefore(a, n); for (var o = function (e) { return function () { heap.push([e].concat(Array.prototype.slice.call(arguments, 0))) } }, p = ["addEventProperties", "addUserProperties", "clearEventProperties", "identify", "resetIdentity", "removeEventProperty", "setEventProperties", "track", "unsetEventProperty"], c = 0; c < p.length; c++)heap[p[c]] = o(p[c]) };
                    heap.load("3314004309");
        </script>
    </head>
<body data-spy="scroll">
    <script type="text/javascript">
        $(document).ready(function () {

            $('#nav2 li').click(function () {

                $('#dropdownID').css('height', '0');

            });

        });
    </script>
    <!-- Preloader -->
    @*<div id="preloader">
            <div id="status">
                <div class="loadicon icon-star wow tada infinite" data-wow-duration="2s"></div>
            </div>
        </div>*@

    <!-- Full Page Image Header Area -->
    <div id="cont" style="max-height:760px; position: relative; display:block;">
        <div class='vid header'>
            <video playsinline autoplay muted loop id="myVideo" src="~/Content/newTemplate/img/video.MP4" type="video/mp4"></video>
        </div>
        <!--<div class="maskHeader" style="background: url(img/3px-tile.png);"></div>-->
        <div class="maskHeader"></div>
        <div class="main-caption">
            @*<div class="logo">*@
            <!--<img src="img/jk.png" alt="logo" />-->
            @*</div>*@
            <div style="padding-top: 25px;">
                <ul class="slides" style="margin-top: 70px;">
                    <li>
                        <h1 class="white" id="ajansname">@Model.Item2.Name_Agency</h1>
                        <h2 class="white" style="color:white !important; font-size:2.8rem;">هر سفر، یک تجربه جدید</h2>
                    </li>
                </ul>
            </div>
            <!-- end slider -->
            <!--<a href="#recent_tours" class="btn btnAbout btn-clear border-color color-primary btn-lg animated-button victoria-one more " style="margin-top: 0px; color:white !important;"><i class="fa fa-arrow-down"></i>&nbsp; مشاهده تورها</a>-->

            <div class="container" style="padding-left: 0px;padding-right: 0px;">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-sm-6 col-xs-12" id="moshahede">
                        @if (Model.Item1.Count != 0)
                        {
                            <a href="#recent_tours" class="navbarCLICK"><span class='pulse-button' id="moshahedetour">&nbsp;<img src="~/Content/newTemplate/img/tap.png" />&nbsp;مشاهده تورها</span></a>

                        }
                        else
                        {
                            <a href="#old_tours" class="navbarCLICK"><span class='pulse-button' id="moshahedetour">&nbsp;<img src="~/Content/newTemplate/img/tap.png" />&nbsp;مشاهده تورها</span></a>

                        }
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <a href="#about" class="navbarCLICK"><span class='pulse-button' id="darbareajans">&nbsp;<img src="~/Content/newTemplate/img/tap.png" />&nbsp;درباره آژانس</span></a>
                    </div>
                </div>
            </div>
        </div><!--  end main caption -->

    </div>
    <!-- end header -->
    <!--header end-->
    <!-- ===========================
    FEATURED CLIENTS SECTION START
    =========================== -->
    <div id="clients">

    </div><!--FEATURED CLIENTS SECTION END-->
    @if (Model.Item1.Count != 0)
    {
        int counter = 0;

        <!--thumbnails-->
        <h2 class="wow fadeInUp" data-wow-duration="2s" style="text-align:center;margin-top: 20px;">تورهای پیش‌رو</h2>
        <div class="container" style="padding-left: 0px;padding-right: 0px;">
            <div class="row  text-center marginforrow " id="recent_tours" style="margin-left:5px;margin-right:5px">
                @foreach (var item in Model.Item1)
                {

                    if (counter < 4)
                    {
                        DateTime time1 = DateTime.ParseExact(Convert.ToDateTime(item.Start_time).TimeOfDay.ToString(), "HH:mm:ss",
                            CultureInfo.InvariantCulture);
                        DateTime time2 = DateTime.ParseExact(Convert.ToDateTime(item.Arrival_Time).TimeOfDay.ToString(), "HH:mm:ss",
                                CultureInfo.InvariantCulture);
                        DateTime date1 = new DateTime(item.Start_Date.Value.Year, item.Start_Date.Value.Month, item.Start_Date.Value.Day, time1.Hour, time1.Minute, 00);
                        DateTime date2 = new DateTime(item.End_Date.Value.Year, item.End_Date.Value.Month, item.End_Date.Value.Day, time2.Hour, time2.Minute, 00);
                        TimeSpan timeSpan = date2 - date1;
                        int a = (int)timeSpan.TotalDays;
                        Double b = timeSpan.TotalDays;
                        string day;
                        if (a == 0)
                        {
                            day = "1";
                        }
                        else
                        {
                            if (b == 1 || b == 2 || b == 3 || b == 4 || b == 5 || b == 6 || b == 7 || b == 8 || b == 9 || b == 10 || b == 11 || b == 12 || b == 8 || b == 8 || b == 13 || b == 14 || b == 15 || b == 16 || b == 17 || b == 18 || b == 19)
                            {
                                day = b.ToString();
                            }
                            else
                            {

                                if (int.Parse(DoubleExtensions.ReminderDigits(b, 1)) >= 5)
                                {
                                    day = a.ToString() + "." + "5";

                                }
                                else
                                {
                                    day = a.ToString();
                                }
                            }

                        }



                        <div class="col-sm-6 col-lg-3 col-xs-12">
                            <div class="thumbnail">
                                <div class="project" style="background-image:url(@(item.images.LargImage().First().Path))">
                                    @*<div class="ribbon"><span>5% تخفیف</span></div>*@ 
                                    <div class="project-hover">
                                        <hr />
                                        <p style="color:black;">
                                            تاریخ رفت :@CalendarMngr.JulianToPersian(item.Start_Date.Value)
                                            <br>تاریخ برگشت :@CalendarMngr.JulianToPersian(item.End_Date.Value)
                                            <br>مدت زمان در راه:@item.Duration_Time ساعت
                                            <br>نوع تور:@item.Type
                                        </p>
                                        <a @if (item.Type == "مادروکودک") { <text> href="/Agency/Baby/?id=@item.Id" </text>   } else { <text> href="/events/SingleTour/?id=@item.Id" </text>  }>مشاهده جزییات تور</a>
                                    </div>
                                </div>
                                <a style="color:black" @if (item.Type == "مادروکودک") { <text> href="/Agency/Baby/?id=@item.Id" </text>   } else { <text> href="/events/SingleTour/?id=@item.Id" </text>  } id="first_attr"><strong style="font-size: 17px;">@TruncateLongStringcs.TruncateLongString(item.Title, 30)</strong></a>
                                <div class="row" id="attr_wrapper">

                                    <div class="col-sm-4 col-xs-3" id="second_attr">
                                        <span id="second_attr_icon" class="btnicon icon-calculator"></span> <p>
                                            @{
                                                if (item.Tourist_bus != null && item.Tourist_bus != 0)
                                                {
                                                    <text>
                                                        @item.Tourist_bus.Value.ToString("N0")
                                                    </text>
                                                }
                                                else if (item.Vip_bus != null && item.Vip_bus != 0)
                                                {
                                                    <text>
                                                        @item.Vip_bus.Value.ToString("N0")
                                                    </text>
                                                }
                                                else if (item.personal_car != null && item.personal_car != 0)
                                                {
                                                    <text>
                                                        @item.personal_car.Value.ToString("N0")
                                                    </text>
                                                }
                                                else if (item.Agency_car != null && item.Agency_car != 0)
                                                {
                                                    <text>
                                                        @item.Agency_car.Value.ToString("N0")
                                                    </text>
                                                }
                                            }
                                            تومان
                                        </p>
                                    </div>

                                    <div class="col-sm-4 col-xs-4" id="third_attr"><span id="third_attr_icon" class="btnicon icon-clock"></span> <p>@CalendarMngr.JulianToPersian(item.Start_Date.Value)</p></div>
                                    <div class="col-sm-4 col-xs-2" id="fourth_attr">
                                        <span id="fourth_attr_icon" class="btnicon icon-calendar"></span> <p>
                                            @day روزه
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                                                        counter++;
                                                    }


                                                }
            </div>

            @if (counter >= 4)
            {
                counter = 0;
                <div class="row  text-center marginforrow " style="margin-left:5px;margin-right:5px">

                    @foreach (var item in Model.Item1)
                    {

                        if (counter >= 4)
                        {

                            DateTime time1 = DateTime.ParseExact(Convert.ToDateTime(item.Start_time).TimeOfDay.ToString(), "HH:mm:ss",
                                            CultureInfo.InvariantCulture);
                            DateTime time2 = DateTime.ParseExact(Convert.ToDateTime(item.Arrival_Time).TimeOfDay.ToString(), "HH:mm:ss",
                                    CultureInfo.InvariantCulture);
                            DateTime date1 = new DateTime(item.Start_Date.Value.Year, item.Start_Date.Value.Month, item.Start_Date.Value.Day, time1.Hour, time1.Minute, 00);
                            DateTime date2 = new DateTime(item.End_Date.Value.Year, item.End_Date.Value.Month, item.End_Date.Value.Day, time2.Hour, time2.Minute, 00);
                            TimeSpan timeSpan = date2 - date1;
                            int a = (int)timeSpan.TotalDays;
                            Double b = timeSpan.TotalDays;
                            string day;
                            if (a == 0)
                            {
                                day = "1";
                            }
                            else
                            {
                                if (b == 1 || b == 2 || b == 3 || b == 4 || b == 5 || b == 6 || b == 7 || b == 8 || b == 9 || b == 10 || b == 11 || b == 12 || b == 8 || b == 8 || b == 13 || b == 14 || b == 15 || b == 16 || b == 17 || b == 18 || b == 19)
                                {
                                    day = b.ToString();
                                }
                                else
                                {

                                    if (int.Parse(DoubleExtensions.ReminderDigits(b, 1)) >= 5)
                                    {
                                        day = a.ToString() + "." + "5";

                                    }
                                    else
                                    {
                                        day = a.ToString();
                                    }
                                }

                            }


                            <div class="col-sm-6 col-lg-3 col-xs-12">
                                <div class="thumbnail">

                                    <div class="project wow" style="background-image:url(@(item.images.LargImage().First().Path)"))" title="@item.Title">
                                        <div class="project-hover">

                                            <hr />
                                            <p style="color:black;">
                                                تاریخ رفت :@CalendarMngr.JulianToPersian(item.Start_Date.Value)
                                                <br>تاریخ برگشت :@CalendarMngr.JulianToPersian(item.End_Date.Value)
                                                <br>فاصله از مبدا:@item.Duration_Time ساعت
                                                <br>نوع تور:@item.Type
                                            </p>

                                            <a @if (item.Type == "مادروکودک") { <text> href="/Agency/Baby/?id=@item.Id" </text>    } else { <text> href="/events/SingleTour/?id=@item.Id" </text>   }>مشاهده جزییات تور</a>
                                        </div>
                                    </div>
                                    <a style="color:black" @if (item.Type == "مادروکودک") { <text> href="/Agency/Baby/?id=@item.Id" </text>    } else { <text> href="/events/SingleTour/?id=@item.Id" </text>   } id="first_attr"><strong style="font-size: 17px;">@TruncateLongStringcs.TruncateLongString(item.Title, 30)</strong></a>
                                    <div class="row" id="attr_wrapper">

                                        <div class="col-sm-4 col-xs-3" id="second_attr">
                                            <span id="second_attr_icon" class="btnicon icon-calculator"></span> <p>
                                                @{
                                                    if (item.Tourist_bus != null && item.Tourist_bus != 0)
                                                    {
                                                        <text>
                                                            @item.Tourist_bus.Value.ToString("N0")
                                                        </text>
                                                    }
                                                    else if (item.Vip_bus != null && item.Vip_bus != 0)
                                                    {
                                                        <text>
                                                            @item.Vip_bus.Value.ToString("N0")
                                                        </text>
                                                    }
                                                    else if (item.personal_car != null && item.personal_car != 0)
                                                    {
                                                        <text>
                                                            @item.personal_car.Value.ToString("N0")
                                                        </text>
                                                    }
                                                    else if (item.Agency_car != null && item.Agency_car != 0)
                                                    {
                                                        <text>
                                                            @item.Agency_car.Value.ToString("N0")
                                                        </text>
                                                    }
                                                }
                                                تومان
                                            </p>
                                        </div>

                                        <div class="col-sm-4 col-xs-4" id="third_attr"><span id="third_attr_icon" class="btnicon icon-clock"></span> <p>@CalendarMngr.JulianToPersian(item.Start_Date.Value)</p></div>
                                        <div class="col-sm-4 col-xs-2" id="fourth_attr">
                                            <span id="fourth_attr_icon" class="btnicon icon-calendar"></span> <p>
                                                @day روزه
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>

                                                        }
                                                        counter++;

                                                    }
                </div>
                                                    }
        </div>







            <br />
            <div id="wrapperbtn">
                <a href="/Agency/All_tour/?name=@TempData["cm"]" id="seealltours" class="btn btn-sm "><i class="fa fa-eye"></i>مشاهده تمامی تورها</a>
            </div>


                                                    }
    <!--end thumbnails-->
    <hr id="old_tours" />
    @if (Model.Item3.Count != 0)
    {
        <h2 class="wow fadeInUp" data-wow-duration="2s" style="text-align:center;margin-top: 20px;margin-bottom:20px">تورهای برگزار شده</h2>

        <!--thumbnails-->
        <div class="container"  style="padding-left: 5px;padding-right: 5px;">
            <div class="row text-center marginforrow" style="margin-left:0px;margin-right:0px">

                @foreach (var item in Model.Item3)
                {

                    DateTime time3 = DateTime.ParseExact(Convert.ToDateTime(item.Start_time).TimeOfDay.ToString(), "HH:mm:ss",
                            CultureInfo.InvariantCulture);
                    DateTime time4 = DateTime.ParseExact(Convert.ToDateTime(item.Arrival_Time).TimeOfDay.ToString(), "HH:mm:ss",
                            CultureInfo.InvariantCulture);
                    DateTime date3 = new DateTime(item.Start_Date.Value.Year, item.Start_Date.Value.Month, item.Start_Date.Value.Day, time3.Hour, time3.Minute, 00);
                    DateTime date4 = new DateTime(item.End_Date.Value.Year, item.End_Date.Value.Month, item.End_Date.Value.Day, time4.Hour, time4.Minute, 00);
                    TimeSpan timeSpan = date4 - date3;
                    int a = (int)timeSpan.TotalDays;
                    Double b = timeSpan.TotalDays;
                    string day;
                    if (a == 0)
                    {
                        day = "1";
                    }
                    else
                    {
                        if (b == 1 || b == 2 || b == 3 || b == 4 || b == 5 || b == 6 || b == 7 || b == 8 || b == 9 || b == 10 || b == 11 || b == 12 || b == 8 || b == 8 || b == 13 || b == 14 || b == 15 || b == 16 || b == 17 || b == 18 || b == 19)
                        {
                            day = b.ToString();
                        }
                        else
                        {
                            if (int.Parse(DoubleExtensions.ReminderDigits(b, 1)) >= 5)
                            {
                                day = a.ToString() + "." + "5";

                            }
                            else
                            {
                                day = a.ToString();
                            }
                        }
                    }

                    <div class="col-sm-6 col-lg-3 col-xs-12">
                        <div class="thumbnail">
                            <div class="project" style="background-image:url(@(item.images.LargImage().First().Path))">
                                <div class="project-hover">
                                    <hr />
                                    <p style="color:black;">
                                        تاریخ رفت :@CalendarMngr.JulianToPersian(item.Start_Date.Value)
                                        <br>تاریخ برگشت :@CalendarMngr.JulianToPersian(item.End_Date.Value)
                                        <br>فاصله از مبدا:@item.Duration_Time ساعت
                                        <br>نوع تور:@item.Type
                                    </p>

                                    <a @if (item.Type == "مادروکودک") { <text> href="/Agency/Baby/?id=@item.Id" </text>   } else { <text> href="/events/SingleTour/?id=@item.Id" </text>  }>مشاهده جزییات تور</a>
                                </div>
                            </div>
                            <a style="color:black" @if (item.Type == "مادروکودک") { <text> href="/Agency/Baby/?id=@item.Id" </text>   } else { <text> href="/events/SingleTour/?id=@item.Id" </text>  } id="first_attr"><strong style="font-size: 17px;">@TruncateLongStringcs.TruncateLongString(item.Title, 30)</strong></a>
                            <div class="row" id="attr_wrapper">

                                <div class="col-sm-4 col-xs-3" id="second_attr">
                                    <span id="second_attr_icon" class="btnicon icon-calculator"></span> <p>
                                        @{
                                            if (item.Tourist_bus != null && item.Tourist_bus != 0)
                                            {
                                                <text>
                                                    @item.Tourist_bus.Value.ToString("N0")
                                                </text>
                                            }
                                            else if (item.Vip_bus != null && item.Vip_bus != 0)
                                            {
                                                <text>
                                                    @item.Vip_bus.Value.ToString("N0")
                                                </text>
                                            }
                                            else if (item.personal_car != null && item.personal_car != 0)
                                            {
                                                <text>
                                                    @item.personal_car.Value.ToString("N0")
                                                </text>
                                            }
                                            else if (item.Agency_car != null && item.Agency_car != 0)
                                            {
                                                <text>
                                                    @item.Agency_car.Value.ToString("N0")
                                                </text>
                                            }
                                        }
                                        تومان
                                    </p>
                                </div>

                                <div class="col-sm-4 col-xs-4" id="third_attr"><span id="third_attr_icon" class="btnicon icon-clock"></span> <p>@CalendarMngr.JulianToPersian(item.Start_Date.Value)</p></div>
                                <div class="col-sm-4 col-xs-2" id="fourth_attr">
                                    <span id="fourth_attr_icon" class="btnicon icon-calendar"></span> <p>
                                        @day روزه
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>

                                            }


            </div>


        </div>

        <br />
        <div id="wrapperbtn">
            <a href="/Agency/Archive/?name=@TempData["cm"]" id="seealltours" class="btn btn-sm "><i class="fa fa-eye"></i>دیدن آرشیو</a>
        </div>
                                            }


    <!--end thumbnails-->
    <!-- ===========================-->
    <!--START PROCESSING STEPS-->
    <hr />
    <div class="container" id="processsteps">
        <div class="process">
            <div class="process-row">
                <div class="process-step">
                    <button type="button" class="btn btn-default btn-circle" style="background-color:lightgreen!important;" disabled="disabled"><i class="fa fa-eye fa-3x"></i></button>
                    <p>مشاهده تورها</p>
                </div>
                <div class="process-step">
                    <button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-check-circle fa-3x"></i></button>
                    <p>انتخاب تور</p>
                </div>
                <div class="process-step">
                    <button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-credit-card fa-3x"></i></button>
                    <p>پرداخت</p>
                </div>
                <div class="process-step">
                    <button type="button" class="btn btn-default btn-circle " disabled="disabled"><i class="fa fa-child fa-3x"></i></button>
                    <p>شروع سفر !</p>
                </div>
            </div>
        </div>
    </div>
    <hr id="about" />
    <!--END PROCESSING STEPS-->
    <!--
    ABOUT SECTION START
    =========================== -->
    <div  class="container">

        <!-- LEFT PART OF THE ABOUT SECTION -->
        <div class="col-md-6">
            <div class="row">
                <h2 class="wow fadeInDown" data-wow-duration="2s">@Model.Item2.Name_Agency</h2>

                <p class="wow fadeInDown" data-wow-duration="3s">@Model.Item2.Description</p>
                @*<p class="wow fadeInDown" data-wow-duration="3s"> . شما می توانید راحت‌تر از آنچه که فکر می کنید با توجه به هزینه مورد نظرتان از بین هتل‌های متنوع، تورهای خارجی و بلیط هواپیما (بلیط چارتر و سیستمی برای پروازهای داخلی و خارجی)، مورد دلخواهتان را با بهترین کیفیت و پایین ترین قیمت خریداری کنید.</p>*@

            </div> <!-- ABOUT INFO END -->
            <div>
                <h4 class="wow fadeInUp" data-wow-duration="3s">خدمات:</h4>
                <p class="wow fadeInUp" data-wow-duration="3s">@Model.Item2.Service</p>
                <h4 class="wow fadeInUp" data-wow-duration="3s">آدرس:</h4>
                <p class="wow fadeInUp" data-wow-duration="3s">@Model.Item2.Address</p>
                <h4 class="wow fadeInUp" data-wow-duration="3s">شماره تماس:</h4>
                <p class="wow fadeInUp" data-wow-duration="3s">@Model.Item2.Tel_Agency</p>
            </div>

        </div><!-- LEFT PART OF THE ABOUT SECTION END -->
        <!--Left part end-->
        <!-- RIGHT PART OF THE ABOUT SECTION -->
        <center>
            <div class="col-md-6 wow center center-align center-block fadeInUp myphoto" data-wow-duration="4s">
                @if (Model.Item2.Logo != null)
                {
                    <img src="@($"data:image/jpeg;base64,{Convert.ToBase64String(Model.Item2.Logo)}")" alt="tourips" style="max-width: 70%;" />
                }
                else
                {
                    <img src="~/Content/newTemplate/img/travel-silhouette-33.jpg" alt="tourips" style="max-width: 70%;" />
                }
            </div><!-- RIGHT PART OF THE ABOUT SECTION END -->
        </center>
    </div><!-- ABOUT SECTION END -->

    <hr id="leader_cards"><!-- SECTION SEPARETOR LINE -->
    <!-- Section Employee-->
    @if (Model.Item4.Count != 0)
    {
        <div style="text-align:center">


            <section id="team" class="pb-5">
                <div class="container">
                    <h2 class="wow fadeInUp" data-wow-duration="2s">معرفی کارکنان ما</h2>
                    <div class="row">
                        <!-- Team member -->
                        @foreach (var item in Model.Item4)
                        {
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div unclickble class="image-flip">
                                    <div class="mainflip">
                                        <div class="frontside">
                                            <div class="card">
                                                <div class="card-body text-center">
                                                    <p><img class=" img-fluid" alt="@item.Title card image" src="@($"data:image/jpeg;base64,{Convert.ToBase64String(item.image)}")"></p>
                                                    <h3 class="card-title">@item.Title</h3>
                                                    <p class="card-text">@item.Name</p>
                                                    <p class="card-text" style="margin: 0;">برای اطلاعات بیشتر اینجا کلیک کنید!</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="backside">
                                            <div class="card">
                                                <div class="card-body text-center mt-4">
                                                    <h4 class="card-title">@item.Name</h4>
                                                    <p class="card-text" style="margin-top: 40px;">@item.Description</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        <!-- ./Team member -->
                        <!-- Team member -->



                    </div>
                </div>
            </section>

            <div class="container" id="leader_cards">
                <div class="row text-center">
                    @foreach (var item in Model.Item4)
                    {
                        <div class="col-sm-6">
                            <div class="hover panel" onmouseover="javascript:this.className += ' flip';" onmouseout="javascript:this.className = 'hover panel';">
                                <div class="front">
                                    <div class="frontTitle">
                                        @item.Title
                                    </div>
                                    <div class="frontTitle">
                                        @item.Name
                                    </div>
                                    <img alt="@item.Title" src="@($"data:image/jpeg;base64,{Convert.ToBase64String(item.image)}")" style="background-size:85% auto;background-position:center center;width:100%;height:149px;background-repeat:no-repeat;background-position:center center;">

                                    <div class="frontLocation">
                                        <p class="frontLocation">@item.Profile_Tour.Name_Agency</p>

                                        <a id="linkleader2" href="#back1">جزییات پشت کارت</a>

                                    </div>
                                </div>
                                <div class="back">
                                    <div class="backTitle">@item.Name</div>
                                    <div id="#back2" class="backParagraph">
                                        @item.Description
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                </div><!--END ROW-->
            </div>
        </div>
    }
    <!--End Section Employee-->
    @*<hr class="separetor">*@
    <!-- ===========================
    SERVICE SECTION START
    =========================== -->
    <!--services-->
    <div id="services" class="container text-center">

        <div class="sectionhead  row wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; color:black;">
            <span class="bigicon icon-cup "></span>
            <h3>خدماتی که ما ارایه میدهیم</h3>

        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-duration="3s" style="visibility: visible; animation-name: fadeInUp;">
                <img src="~/Content/newTemplate/img/rating.png" alt="توریپس" style="height:100px ; width:100px;" class="">
                <h4>تنوع و کیفیت خدمات</h4>
                <p>مجموعه ای از با کیفیت ترین خدمات برای شما</p>
            </div>

            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-duration="3s" style="visibility: visible; animation-name: fadeInUp;">
                <img src="~/Content/newTemplate/img/ecommerce.png" alt="توریپس" style="height:100px ; width:100px;" class="">
                <h4>رزرو آنلاین تور</h4>
                <p>هر زمان که خواستی سریع و مطمئن تورت رو رزرو کن</p>
            </div>

            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-duration="3s" style="visibility: visible; animation-name: fadeInUp;">
                <img src="~/Content/newTemplate/img/customer-service.png" style="height:100px;width:100px" alt="توریپس" class="">
                <h4>پشتیبانی ۲۴ ساعته</h4>
                <p>سوال داری؟ پشتیبان هامون منتظرتن، همین الان بپرس</p>
            </div>

        </div>
    </div>
    <!-- ===========================

         <!--contact-->
    <div id="contact" class="page page-bgcolor" style="padding: 5px!important;">
        <div class="container">
            <h2 class="text-center white" style="color:white !important">تماس با ما</h2>
            <!--<h3 class="text-center white" style="font-size: 1.6em;"></h3>-->
            <div class="row marginforrow">
                <div class="col-sm-6 col-xs-12">
                    <!-- Form Area -->
                    <div class="contact-form">
                        <!-- Form -->
                        <form id="contact-us" method="post" @*action="/agency/ProfileMessage"*@ style="margin-top: 20px;">
                            <!-- Left Inputs -->
                            <div class="slideInLeft" style="padding-top: 15px;">
                                <!-- Name -->
                                <span id="name-err" style="color:rgb(255, 189, 38);border:unset!important;font-size:unset;display:block;width:unset;height:unset;line-height:unset;margin-bottom:unset"></span>
                                <input type="text" name="name" id="name" required="required" class="form " placeholder="نام و نام خانوادگی" style="width:95%" />
                                <!-- Email -->
                                <span id="Email-err" style="color:rgb(255, 189, 38);border:unset!important;font-size:unset;display:block;width:unset;height:unset;line-height:unset;margin-bottom:unset"></span>
                                <input type="email" name="Email" id="Email" required="required" class="form" placeholder="ایمیل" style="width:95%" />
                                <!-- number -->
                                <input type="text" name="mobile" id="mobile" class="form" placeholder="شماره تماس (دل خواه)" style="width:95%" />

                                <span id="Body-err" style="color:rgb(255, 189, 38);border:unset!important;font-size:unset;display:block;width:unset;height:unset;line-height:unset;margin-bottom:unset"></span>
                                <textarea name="Body" id="Body" class="form textarea" placeholder="متن...    " style="width:95%"></textarea>
                                <input type="hidden" value="@Model.Item2.ID" name="profileID" id="profileID" />
                                <input type="hidden" value="@Model.Item2.Name_Group" name="NameAgency" id="NameAgency" />
                            </div><!-- End Left Inputs -->
                            <!-- Bottom Submit -->
                            <div class="relative fullwidth col-xs-12" style="margin-bottom: 20px;">
                                <!-- Send Button -->
                                <div class="follow" type="submit" id="submit" name="submit"> ارسال نظر</div>
                            </div><!-- End Bottom Submit -->
                            <!-- Clear -->
                            <div class="clear"></div>
                        </form>
                        <div class="pop">
                            <span>✖</span>
                            <br />
                            <h1 style="color:green;font-size:19px">پیام شما با موفقیت ثبت شد</h1>
                        </div>
                        <div id="backgroundDarkener"> </div>


                    </div><!-- End Contact Form Area -->
                </div>
                <div class="col-sm-6 col-xs-12 white">
                    <img class="contacticon" src="~/Content/newTemplate/img/support2.png" />
                    <div style="margin: 15px 0 22px 0;"><img src="~/Content/newTemplate/img/location.png" />&nbsp;&nbsp;<span class="white">آدرس:</span>&nbsp; @Model.Item2.Address</div>
                    <div style="margin: 15px 0 22px 0;"><img src="~/Content/newTemplate/img/phone.png" />&nbsp;&nbsp;<span class="white">تلفن:</span>&nbsp; @Model.Item2.Tel_Agency </div>
                    @if (Model.Item2.AspNetUser != null)
                    {
                        <div style="margin: 15px 0 22px 0;"><img src="~/Content/newTemplate/img/mail.png" />&nbsp;&nbsp;<span class="white">ایمیل:</span>&nbsp; @Model.Item2.AspNetUser.UserName</div>
                    }
                </div>
            </div><!-- end row -->


        </div>
    </div>
    <!--contactEnd-->
    <!-- Footer -->
    <footer class="bg-black">
        <div class="container">
            <!--<span class="bigicon icon-speedometer "></span>-->
            @*<img id='jxlzesgtjxlzwlaowlaojzpewlao' style='cursor:pointer' onclick='window.open("https://logo.samandehi.ir/Verify.aspx?id=1014474&p=rfthobpdrfthaodsaodsjyoeaods", "Popup","toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30")' alt='logo-samandehi' src='https://logo.samandehi.ir/logo.aspx?id=1014474&p=nbpdlymanbpdshwlshwlyndtshwl' />*@
            @*<img src="~/Content/newTemplate/img/samandehi.png" />
                <img src="data:text/plain;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAMSURBVBhXY/j//z8ABf4C/qc1gYQAAAAASUVORK5CYII=" alt="" onclick="window.open(https://trustseal.enamad.ir/Verify.aspx?id=105730&amp;p=UzSr9U590zOHxq4O);" style="cursor:pointer" id="UzSr9U590zOHxq4O" />
                <img src="~/Content/newTemplate/img/slider-end.png" width="150" height="150" />
                <script src="https://cdn.zarinpal.com/trustlogo/v1/trustlogo.js" type="text/javascript"></script>*@
            <span class="bigicon icon-speedometer "></span>

            <div class="footerlinks" id="foooter">
                <!-- FOOTER LINKS START -->
                <ul>
                    <li><a href="#">صفحه اصلی</a></li>
                    <li><a href="#services">خدمات</a></li>
                    <li><a href="#recent_tours">تورها</a></li>
                    @*<li><a href="#testimonials">نظرات شما</a></li>*@
                    <li><a href="#contact">تماس با ما</a></li>
                </ul>
            </div>

            <div class="copyright">

                <p>راه های ارتباطی با ما در <span>شبکه های اجتماعی</span></p>
            </div>

            <div class="footersocial wow fadeInUp" data-wow-duration="1s">
                <!-- FOOTER SOCIAL ICONS START -->
                <ul>
                    @if (Model.Item2.instagram != null && Model.Item2.instagram != "")
                    {
                        <li><a href="@Model.Item2.instagram" target="_blank"><img src="~/Content/newTemplate/img/instagram.png" /></a></li>
                    }
                    @if (Model.Item2.WhatsApp != null && Model.Item2.WhatsApp != "")
                    {
                        <li><a href="@Model.Item2.WhatsApp" target="_blank"><img src="~/Content/newTemplate/img/whatsapp.png" /></a></li>
                    }
                    @if (Model.Item2.Telegram != null && Model.Item2.Telegram != "")
                    {
                        <li><a href="@Model.Item2.Telegram" target="_blank"><img src="~/Content/newTemplate/img/telegram.png" /></a></li>
                    }
                    @{ 
                        string url = $"http://{Model.Item2.Name_Group}.tourips.com";
                    }
                    <li><a href="@url" target="_blank"><img src="~/Content/newTemplate/img/star.png" /></a></li>

                </ul>
            </div><!-- FOOTER SOCIAL ICONS END -->
            <p> 2018 tourips.com &copy;</p>
        </div>

    </footer>
    <!-- /FooterEnd -->

    <script src="~/Scripts/Validation.js"></script>

    <script>
    $(document).ready(function () {
        document.getElementById("nameAgency").innerHTML = "@Model.Item2.Name_Agency"
    });
    </script>
    <script>
        $("#submit").click(function () {
            $("#contact-us").submit();
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#contact-us').validate({
                rules: {
                    name: {
                        required: true
                    },
                    Email: {
                        required: true,
                    },
                    Body: {
                        required: true
                    },
                },
                messages: {
                    name: {
                        required: "وارد کردن نام الزامی است"
                    },
                    Email: {
                        required: " وارد کردن ایمیل الزامی است  ",
                    },
                    Body: {
                        required: "وارد کردن پیام الزامی است"
                    },
                },
                submitHandler: function (form) {
                    $.ajax({
                        type: 'POST',
                        url: '/agency/ProfileMessage',
                        data: JSON.stringify({
                            Name: $('#name').val(),
                            Email: $('#Email').val(),
                            Phone: $('#mobile').val(),
                            Body: $('#Body').val(),
                            profileID: parseInt($('#profileID').val())
                        }),
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        success: function (msg) {
                            $(".pop ,#backgroundDarkener").fadeIn(300);
                        }
                    });
                }
            });
        });
    </script>

    <script>
        $(".pop > span, .pop ,#backgroundDarkener").on("click", function () {
            $(".pop,#backgroundDarkener").fadeOut(300);
        });
        $(document).click(function () {
            $("#NavCol").removeClass('in');
        });
    </script>



    <!-- Custom JavaScript for thesecond slider -->
  
    <script src="~/Content/newTemplate/js/wow.min.js"></script>


    <script>new WOW().init();</script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".navbarCLICK").on('click', function (e) {
                e.preventDefault();
                var target = $(this).attr('href');
                $('html, body').animate({
                    scrollTop: ($(target).offset().top)
                }, 2000);
            });
            $('.thumbnail').click(function () {

                if ($(this).find('.project-hover').css("opacity") == 1) {
                    $(this).find('.project-hover').animate({ opacity: 0 }, 100);
                }
                if ($(this).find('.project-hover').css("opacity") == 0) {
                    $(this).find('.project-hover').animate({ opacity: 1.0 }, 100);
                    $(this).find('.project-hover').delay(4000).animate({ opacity: 0 }, 3000);



                }
            });
        });
    </script>
</body>
</html>