﻿
@{
    Layout = null;
}
@using Tourist.CommonMethods;
@using Tourist.Models;
@model List<Payment_user>
<!DOCTYPE html>
<!--[if IE 8]><html class="ie ie8"> <![endif]-->
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<html dir="rtl" id="html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="" />
    <meta name="description" content="">
    <meta name="author" content="Sinadarbouy">
    <title>دوردور</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="~/Content/Logo/LogoPng.png" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="~/Content/Logo/LogoPng.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="~/Content/Logo/LogoPng.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="~/Content/Logo/LogoPng.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="~/Content/Logo/LogoPng.png">
    <!-- CSS -->
    <link href="~/Content/Template/css/base.css" rel="stylesheet">

    <!-- Google web fonts -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

    <style>

        .invoice-title h2, .invoice-title h3 {
            display: inline-block;
        }

        .table > tbody > tr > .no-line {
            border-top: none;
        }

        .table > thead > tr > .no-line {
            border-bottom: none;
        }

        .table > tbody > tr > .thick-line {
            border-top: 2px solid;
        }
    </style>

    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    
    <!-- See closing body for JS -->
    <script src="http://use.edgefonts.net/source-code-pro.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="invoice-title">
                    <h3>فاکتور سفارش# @Model[0].refId</h3>
                    <div class="bypass"></div>
                    <div class="controls">
                        <div class="pull-left">
                            <a id="print" class="btn btn-primary download-pdf">دانلود PDF</a>
                        </div>
                    </div>
                </div>

                <hr>
                <div class="row">
                    <div class="col-xs-6">
                        <address>
                            <strong>صورت حساب شما:</strong><br>
                            @Model[0].name<br>
                            کدملی @Model[0].ssn<br>
                             @Model.Count نفر<br>
                            
                        </address>
                    </div>
                    <div class="col-xs-6 text-right">
                        <address>
                            <strong>تور:@Model[0].Tour.Title</strong><br>
                            تاریخ رفت @CalendarMngr.JulianToPersian(Model[0].Tour.Start_Date.Value.Date)<br>
                            ساعت @Model[0].Tour.Start_time<br>
                            تاریخ برگشت @CalendarMngr.JulianToPersian(Model[0].Tour.End_Date.Value.Date)<br>
                            ساعت @Model[0].Tour.Arrival_Time<br>
                            محل حرکت @Model[0].Tour.Place_Movement<br>

                        </address>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <address>
                            <strong>آژانس:</strong><br>
                            آژانس @Model[0].Tour.Profile_Tour.Name_Agency<br>
                        </address>
                    </div>
                    <div class="col-xs-6 text-right">
                        <address>
                            <strong>تاریخ سفارش:</strong><br>
                            @CalendarMngr.JulianToPersian(Model[0].DateReq.Value.Date)<br><br>
                        </address>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>خلاصه سفارش</strong></h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <td><strong>نام</strong></td>
                                        <td class="text-center"><strong>کدملی</strong></td>
                                        <td class="text-center"><strong>وسیله نقلیه</strong></td>
                                        <td class="text-right"><strong>اپشن</strong></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- foreach ($order->lineItems as $line) or some such thing here -->
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>@item.name</td>
                                        <td class="text-center">@item.ssn</td>
                                        <td class="text-center">@item.transfer</td>
                                        <td class="text-right">@item.ExteraOption</td>
                                    </tr>
                                    }
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Scripts down here -->
</body>
</html>
<script src="~/Content/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script>
    $("#print").click(function () {
        var printWindow = window.open('', '', 'height=400,width=800');
        var panel = document.getElementById("html");
        printWindow.document.write('<html>');
        printWindow.document.write(panel.innerHTML);
        printWindow.document.write('</html>');
        printWindow.document.close();
        setTimeout(function () {
            printWindow.print();
        }, 500);
    })
</script>