﻿.hrAllTours{
    margin-bottom: 0px;
    margin-top: 0px;
    border-top: solid 1px #bdc3c7;
}
.data li{
    font-size: 1.2em;
}
.ulAllTours{
    margin-bottom:0px !important;
}
.displayblock{
    display:block;
}
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition ,.item{
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
          transition-duration: 0s;
}
.scrollbox{
    height:200px;
  overflow-y:scroll;
  border-bottom: solid 1px #bdc3c7;
    border-top: solid 1px #bdc3c7;
}
.option-set{
    margin:20px;
}


/*for range bar*/
.slidecontainer {
    margin-top: 20px;
    width: 100%;
}


.slider {
    width: 95%!important;
        display: inline-block!important;
     height: 15px;
    border-radius: 5px;   
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    /*height: 25px;*/
    background: rgba(2, 148, 165,1);
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
     height: 25px;
    border-radius: 50%; 
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #ffbd26; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    height: 25px;
    border-radius: 50%;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #ffbd26; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
.sorttitr{
    display: inline;
    font-size: 22px;
    margin-left: 10px;
}
.button-group1 {
    display:inline;
}
/*for btn color-profile sorting*/
.buttonsort {
    display: inline-block;
    margin: 0.75rem;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.1875rem;
    outline: none;
    background-color: rgba(2, 148, 165,0.8);
    color: white;

    font-weight: 400;
    line-height: 1.5rem;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: all 150ms ease-out;
}

    .buttonsort:focus, .buttonsort:hover {
        background-color: rgba(2, 148, 165,0.8);
        box-shadow: 0 0 0 0.1875rem white, 0 0 0 0.375rem #ffbd26;
    }

    .buttonsort:active {
        background-color: rgba(2, 148, 165,0.8);
        box-shadow: 0 0 0 0.1875rem #ffbd26, 0 0 0 0.375rem #ffbd26;
        transition-duration: 75ms;
    }
