@font-face {
    font-family: Homa;
    src: url("/fonts/Homa.ttf");
}
body{
    background-image: url("../img/7.png");
}
.loginbody{
    
    height: 400px ; 
    background: #ff9999; 
    opacity:0.9;
    filter :alpha(opacity=70);
}
.font {
    font-family: tahoma;
}

.background {
    background: red;
}

.header {
    height: 50px;
    background: #45b9f7;
    border-radius: 10px 10px 0 0   ;
    color: #ffffff;
    font-size: 18px;
}
.padding-10 {
    padding: 10px;
}
.padding-5 {
    padding: 5px;
}
.box-center {
    border-radius: 0 0 10px 10px;
    padding-top: 20px;
}
