﻿.title-arch {
    text-align: center;
    margin: 50px 0;
    font-size: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.project {
    width: 100%;
    display: block;
    justify-content: center;
    background-image: url(img/kk.jpg);
    background-repeat: no-repeat;
    background-size: 200px 300px;
    background-size: cover;
    background-position: center;
    padding: 0 !important;
}


.project-hover {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #fff;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: rgba(234, 147, 18, 0.7);
    padding: 20% 0px !important;
}

    .project-hover hr {
        height: 30px;
        width: 0;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        background-color: rgba(255, 255, 255, 1);
        border: 0;
    }

    .project-hover a {
        color: rgba(255, 255, 255, 1);
        padding: 2px 22px;
        line-height: 40px;
        border: 2px solid rgba(255, 255, 255, 1);
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

        .project-hover a:hover {
            border-color: rgba(51, 51, 51, 1);
            color: rgba(51, 51, 51, 1);
            background-color: #FFF;
        }

.project:hover .project-hover {
    opacity: 1;
}

    .project:hover .project-hover hr {
        width: 100%;
        height: 5px;
    }

#third_attr p {
}

#fourth_attr p {
    margin: -4px;
    padding: 2px;
}

#second_attr_icon {
    margin-right: 2px;
    margin-top: 4px;
}

#third_attr_icon {
    margin-right: 2px;
}

#fourth_attr_icon {
    margin-right: 2px;
}

#attr_wrapper {
    display: flex;
    justify-content: center;
}

@media (min-width:1366px) {
    #second_attr {
        border: none;
    }

    #fourth_attr {
        border: none;
    }

    #third_attr {
        border: none;
    }
}

@media(max-width:1200px) {
    #second_attr {
        border-left: solid;
        padding-left: 3px;
        border-width: thin;
        border-color: rgba(234, 147, 18, 0.5);
    }

    #fourth_attr {
        padding-left: 30px;
        border-right: solid;
        border-width: thin;
        border-color: rgba(234, 147, 18, 0.5);
    }

    #third_attr {
        padding-right: 5px;
        padding-left: 5px;
        border-width: thin;
        border-color: rgba(234, 147, 18, 0.5);
    }
}
