﻿.popover-title{
    background-color: #2bbbad!important;

}
.table-striped>tbody>tr:nth-of-type(odd){
    background-color: #ebebfa!important;
}
dropdown-toggle{
        color: rgba(40,57,101,1)!important;
}
.bg-info{
    background-color: rgba(40,57,101,.4)!important;
}
.popover{
    padding: 12px!important;
    border-radius: 30px!important;
    border: 3px solid rgba(0,0,0,.2)!important;
}