﻿//  VARIABLES - change to format
@font-color: rgb(140,140,140);
@field-color: rgba(2, 148, 165,0.8);
@line-color: rgb(255,120,0);
@line-height: 3px;
@font-size: 14px;

//  MIX-INS
.input-reset() {
    display: block;
    box-sizing: border-box;
    width: 100%;
}

.smooth-animate() {
    transition: all 0.5s;
}

// FORM STYLES
#loginlablecenter {
    text-align: center;
}

.firstoption {
    color: #ea9312;
}

form.underslide {
    width: 85%;
    margin-right: 55px;
    padding: (@font-size * 2.1) 0px;

    label {
        display: block;
        margin-bottom: 0px;
        font-size: @font-size;
        color: white;
        position: relative;
        right: 16.5px;
        bottom: @font-size * 3;
        cursor: text;
        .smooth-animate;

        &::before {
            content: '';
            display: block;
            width: 0%;
            height: @line-height;
            background: @line-color;
            position: relative;
            bottom: -(@font-size * 3) + (@font-size/3);
            left: 0;
            right: -17px;
            margin: 0px;
            .smooth-animate;
        }
    }

    input, textarea, select {
        border-radius: 10px;
        background-color: @field-color;
        padding: @font-size * 0.5;
        margin-bottom: @font-size / 3;
        margin-top: 20px;
        border: none;
        color: rgb(82, 89, 99);
        font-weight: bold;
        font-size: @font-size * 1.25;
        .input-reset;
        .smooth-animate;

        &.focused {
            outline: none;
            background: #cde4f5;
            padding-bottom: @font-size / 2;

            & + label {
                bottom: 75px;
                color: fade(@font-color,99%);
                /*margin-bottom: @font-size;*/
                margin-top: 15px;
                cursor: initial;

                &::before {
                    width: 100%;
                    top: 60px;
                }
            }
        }
    }
}

#form1 {
    display: block;
    margin: auto;
}
