﻿@font-face {
  font-family: 'yekan';
  src: url('../fonts/BYekan.eot?#') format('eot'),
       url('../fonts/BYekan.woff') format('woff'),
       url('../fonts/BYekan.ttf') format('truetype'),
       url('../fonts/BYekan.otf') format('opentype'),
       url('../fonts/BYekan.svg') format('svg'),
	   local('B Yekan');
  font-weight: normal;
  font-style: normal;
}
.panel .pad {
  padding: 0 15px; 
}
.panel.flip .action {
  display: none;
}
.rounded{
    border-radius: 25px;
}
.panel {
   
  width: 250px;
  height: 300px;
  margin: 20px;
  position: relative;
  display:inline-block;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
}
.panel .front {
  z-index: 900;
  width: inherit;
  height: inherit;
  background: rgba(40,40,40,0.8);
  
  -moz-box-shadow: 0 1px 15px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 1px 15px rgba(0,0,0,0.1);
  box-shadow: 0 1px 15px rgba(0,0,0,0.1);
  
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  
  -o-transform: rotateX(0deg) rotateY(0deg);
  -o-transform-style: preserve-3d;
  -o-backface-visibility: hidden;
  
  -ms-transform: rotateX(0deg) rotateY(0deg);
  -ms-transform-style: preserve-3d;
  -ms-backface-visibility: hidden;
 
  transform: rotateX(0deg) rotateY(0deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.panel.flip .front {
  z-index: 900;
  background: #fff;
  
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  
  -moz-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
  box-shadow: 0 15px 50px rgba(0,0,0,0.2);
}
  	
.panel .back {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 800;
  width: inherit;
  height: inherit;
  background: #fff;
  border:1px solid #000;
  -webkit-transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  
  -moz-transform: rotateY(-180deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  
  -o-transform: rotateY(-180deg);
  -o-transform-style: preserve-3d;
  -o-backface-visibility: hidden;
  
  -ms-transform: rotateY(-180deg);
  -ms-transform-style: preserve-3d;
  -ms-backface-visibility: hidden;
  
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
 
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
		
.panel.flip .back {
  z-index: 1000;
  background: #fff;
  
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -ms-transform: rotateX(0deg) rotateY(0deg);
  -o-transform: rotateX(0deg) rotateY(0deg);
  transform: rotateX(0deg) rotateY(0deg);
  
  box-shadow: 0 15px 50px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
}

.frontTitle {
  padding-top:5px;
  text-align:center;
  font-size:18px;
  color:#fff;
  height:45px;
}

.frontLogo {
    width:100%;
        height: 195px;
    background-repeat:no-repeat;
    background-position:center center;
}

.isas {
  background-image:url('http://dizin.x10.bz/codepen/wgaFq/isas.png');
  background-size:150px 150px;
}

.boisedigital {
        border-radius: 30px;
      background-size:85% auto;
  background-position:center center;
}

.dissolve {
 background-image:url('http://portfolio.dizin.x10.bz/images/dissolve.png');
      background-size:125px 125px;  
}

.frontLocation {
  padding-top:0px;
  text-align:center;
  color:#aaa;
  font-size:18px;
}

.backTitle {
    font-family: 'yekan', sans-serif;
  padding:10px;
   color:#000;
  font-family:'latohairline',arial;
  font-size:16px;
  font-weight:bold;
}

.backParagraph {
    font-family: 'yekan', sans-serif;
   padding:10px;
  padding-top:0;
   color:#000;
  font-family:'latoregular',arial;
  font-size:14px;
}

.backGoto {
    font-family: 'yekan', sans-serif;
  padding:10px;
  padding-top:0;
  color:#06f;
  font-family:'latoregular',arial;
  font-size:14px;
}

.backGoto a {
    font-family: 'yekan', sans-serif;
  text-decoration:none;
  color:#06f;
  -webkit-transition:0.1s all linear;
  -moz-transition:0.1s all linear;
  -o-transition:0.1s all linear;
  transition:0.1s all linear;
}

.backGoto a:hover {
  text-decoration:underline;
  padding-left:15px;
}

#linkleader {
    font-size:smaller; 
    color:rgba(234, 147, 18, 0.7);
     padding-bottom:10px;
}
#linkleader2{
    font-size:small; 
    color:rgba(234, 147, 18, 0.7);
     padding-bottom:10px;
}

