﻿.carousel-indicators.carousel-indicators--thumbnails li {
    width: 80px;
    height: 40px;
    margin: 0;
    border: none;
    border-radius: 0;
}

.carousel-indicators.carousel-indicators--thumbnails .active {
    background-color: transparent;
}

    .carousel-indicators.carousel-indicators--thumbnails .active .thumbnail2 {
        border-color: #337ab7;
    }

.img-responsive {
    opacity: 0.6;
}

#carousel-example-generic {
    border-radius: 15px;
    box-shadow: 5px 7px 20px #888888;
}

@media only screen and (max-width : 520px) {
    .carousel-indicators {
        display: none;
    }
}




*, :after, :before {
    box-sizing: border-box
}

.clearfix:after, .clearfix:before {
    content: '';
    display: table
}

.clearfix:after {
    clear: both;
    display: block
}

a {
    color: inherit;
    text-decoration: none
}
/*#tabs {
    width: 97%;
}*/
#resheader, #kholase {
    font-size: 20px;
    border-bottom: solid #ffbd26;
    color: black;
}

.login-wrap {
    border-radius: 20px;
    box-shadow: 5px 7px 20px #888888;
    width: 100%;
    margin: auto;
    max-width: 525px;
    /*min-height: 800px;*/
    position: relative;
    /*background: url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) round;*/
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
    padding: 30px 20px 50px 20px;
    background: rgba(2, 148, 165,0.8);
}

.login-html {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 30px 20px 50px 20px;
    background: rgba(2, 148, 165,0.8);
}

    .login-html .sign-in-htm,
    .login-html .sign-up-htm, .buttonrotate {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        transform: rotateY(180deg);
        backface-visibility: hidden;
        transition: all .4s linear;
    }

    .login-html .sign-in,
    .login-html .sign-up,
    .group .check {
        display: none;
    }

    .login-html .tab,
    .group .label,
    .group .button {
        text-transform: uppercase;
    }

    .login-html .tab {
        text-align: center;
        font-size: 18px;
        margin-right: 15px;
        padding-bottom: 5px;
        margin: 0 0px 10px 0;
        display: inline-block;
        border-bottom: 2px solid transparent;
    }

    .login-html .sign-in:checked + .tab,
    .login-html .sign-up:checked + .tab {
        color: #fff;
        border-color: rgb(255, 189, 38);
    }

.login-form {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.group {
    text-align: center;
    margin-bottom: 15px;
}

    .group .label,
    .group .input,
    .group .button {
        width: 100%;
        color: #fff;
        display: block;
    }

    .group .input,
    .group .button {
        border: none;
        border-radius: 25px;
        background: rgba(255,255,255,.1);
    }

    .group input[data-type="password"] {
        text-security: circle;
        -webkit-text-security: circle;
    }

    .group .label {
        font-size: 0.9em;
    }

    .group .button {
        background-color: #2bbbad !important;
    }

    .group label .icon {
        width: 15px;
        height: 15px;
        border-radius: 2px;
        position: relative;
        display: inline-block;
        background: rgba(255,255,255,.1);
    }

        .group label .icon:before,
        .group label .icon:after {
            content: '';
            width: 10px;
            height: 2px;
            background: #fff;
            position: absolute;
            transition: all .2s ease-in-out 0s;
        }

        .group label .icon:before {
            left: 3px;
            width: 5px;
            bottom: 6px;
            transform: scale(0) rotate(0);
        }

        .group label .icon:after {
            top: 6px;
            right: 0;
            transform: scale(0) rotate(0);
        }

    .group .check:checked + label {
        color: #fff;
    }

        .group .check:checked + label .icon {
            background-color: #2bbbad !important;
        }

            .group .check:checked + label .icon:before {
                transform: scale(1) rotate(45deg);
            }

            .group .check:checked + label .icon:after {
                transform: scale(1) rotate(-45deg);
            }

.login-html .sign-in:checked + .tab + .sign-up + .tab + .sign-in-htm {
    transform: rotate(0);
}

.login-html .sign-up:checked + .tab + .sign-up-htm {
    transform: rotate(0);
}

.hr {
    height: 2px;
    background: rgba(255,255,255,.2);
}

.hr {
    height: 2px;
    background: rgba(255,255,255,.9);
}

.foot-lnk {
    text-align: center;
}

.hdetail {
    width: inherit;
    padding-right: 17px;
}



.icon, .icon2, .icon3 {
    display: block;
    position: relative;
    width: 1.5em;
    height: 1.5em;
    margin: 0 auto;
}

    .icon:before, .icon:after, .icon2:before, .icon2:after, .icon3:before, .icon3:after {
        content: "";
        position: absolute;
    }

.dropp-header {
    height: 45px;
    background: #cde4f5;
    /*color: #fff;*/
    border-bottom: 2px solid #ea9312;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    box-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    -o-align-items: stretch;
    align-items: stretch;
    -ms-flex-align: stretch;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: start;
}

.dropp-header__title {
    color: black;
    display: block;
    padding: 0.8em 0.5em;
    -webkit-box-flex: 8;
    -moz-box-flex: 8;
    box-flex: 8;
    -webkit-flex: 8;
    -moz-flex: 8;
    -ms-flex: 8;
    flex: 8;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.dropp-header__btn {
    margin-right: 15px;
    display: block;
    /*background: #1c1c1c;*/
    /*color: #fff;*/
    padding: 0.8em 0.5em;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    .dropp-header__btn .icon, .dropp-header__btn .icon2, .dropp-header__btn .icon3 {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

        .dropp-header__btn .icon:before, .dropp-header__btn .icon:after, .dropp-header__btn .icon2:before, .dropp-header__btn .icon2:after, .dropp-header__btn .icon3:before, .dropp-header__btn .icon3:after {
            top: 30%;
            left: 25%;
            width: 50%;
            height: 15%;
            background: #ea9312;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        .dropp-header__btn .icon:after, .dropp-header__btn .icon2:after, .dropp-header__btn .icon3:after {
            top: 55%;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }

    .dropp-header__btn.js-open {
        /*background: #dd4040;*/
    }

        /*.dropp-header__btn.js-open .icon, .dropp-header__btn.js-open .icon2, .dropp-header__btn.js-open .icon3 {
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
        }*/

        .dropp-header__btn.js-open .icon:before, .dropp-header__btn.js-open .icon:after, .dropp-header__btn.js-open .icon2:before, .dropp-header__btn.js-open .icon2:after, .dropp-header__btn.js-open .icon3:before, .dropp-header__btn.js-open .icon3:after {
            background: #fff;
        }

    .dropp-header__btn:focus {
        outline: none;
    }

.dropp-body {
    overflow: hidden;
    width: 100%;
    max-height: 0;
    background: #cde4f5;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    .dropp-body.js-open {
        max-height: 20em;
    }

    .dropp-body label {
        display: block;
        font-size: 0.8em;
        color: black;
        text-decoration: none;
        padding: 0.4em 0.5em;
        font-weight: 400;
        box-shadow: 0 -1px 0 #cde4f5, inset 0 1px 0 lightgrey;
        cursor: pointer;
    }

        .dropp-body label:first-child {
            box-shadow: none;
        }

        .dropp-body label:hover, .dropp-body label.js-open {
            color: white;
            background: rgba(3, 53, 62,0.8);
        }

        .dropp-body label > input {
            display: none;
        }







.dropp-header1 {
    height: 45px;
    background: #cde4f5;
    /*color: #fff;*/
    border-bottom: 2px solid #ea9312;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    box-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    -o-align-items: stretch;
    align-items: stretch;
    -ms-flex-align: stretch;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: start;
}

.dropp-header__title1 {
    color: black;
    display: block;
    padding: 0.8em 0.5em;
    -webkit-box-flex: 8;
    -moz-box-flex: 8;
    box-flex: 8;
    -webkit-flex: 8;
    -moz-flex: 8;
    -ms-flex: 8;
    flex: 8;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.dropp-header__btn1 {
    margin-right: 40px;
    display: block;
    /*background: #1c1c1c;*/
    /*color: #fff;*/
    padding: 0.8em 0.5em;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    .dropp-header__btn1 .icon {
        float: left;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

        .dropp-header__btn1 .icon:before, .dropp-header__btn1 .icon:after {
            top: 30%;
            left: 25%;
            width: 50%;
            height: 15%;
            background: #ea9312;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        .dropp-header__btn1 .icon:after {
            top: 55%;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }

    .dropp-header__btn1.js-open {
        /*background: #dd4040;*/
    }

        .dropp-header__btn1.js-open .icon {
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
        }

            .dropp-header__btn1.js-open .icon:before, .dropp-header__btn1.js-open .icon:after {
                background: #fff;
            }

    .dropp-header__btn1:focus {
        outline: none;
    }

.dropp-body1 {
    overflow: hidden;
    width: 100%;
    max-height: 0;
    background: #cde4f5;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    .dropp-body1.js-open {
        max-height: 20em;
    }

    .dropp-body1 label {
        display: block;
        font-size: 0.8em;
        color: black;
        text-decoration: none;
        padding: 0.4em 0.5em;
        font-weight: 400;
        box-shadow: 0 -1px 0 #cde4f5, inset 0 1px 0 lightgrey;
        cursor: pointer;
    }

        .dropp-body1 label:first-child {
            box-shadow: none;
        }

        .dropp-body1 label:hover, .dropp-body1 label.js-open {
            background: rgba(3, 53, 62,0.8)
        }

        .dropp-body1 label > input {
            display: none;
        }





.dropp-header2 {
    height: 45px;
    background: #cde4f5;
    /*color: #fff;*/
    border-bottom: 2px solid #ea9312;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    box-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    -o-align-items: stretch;
    align-items: stretch;
    -ms-flex-align: stretch;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: start;
}

.dropp-header__title2 {
    color: black;
    display: block;
    padding: 0.8em 0.5em;
    -webkit-box-flex: 8;
    -moz-box-flex: 8;
    box-flex: 8;
    -webkit-flex: 8;
    -moz-flex: 8;
    -ms-flex: 8;
    flex: 8;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.dropp-header__btn2 {
    display: block;
    /*background: #1c1c1c;*/
    /*color: #fff;*/
    padding: 0.8em 0.5em;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    .dropp-header__btn2 .icon {
        float: left;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

        .dropp-header__btn2 .icon:before, .dropp-header__btn2 .icon:after {
            top: 30%;
            left: 25%;
            width: 50%;
            height: 15%;
            background: #ea9312;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        .dropp-header__btn2 .icon:after {
            top: 55%;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }

    .dropp-header__btn2.js-open {
        /*background: #dd4040;*/
    }

        .dropp-header__btn2.js-open .icon {
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
        }

            .dropp-header__btn2.js-open .icon:before, .dropp-header__btn2.js-open .icon:after {
                background: #fff;
            }

    .dropp-header__btn2:focus {
        outline: none;
    }

.dropp-body2 {
    overflow: hidden;
    width: 100%;
    max-height: 0;
    background: #cde4f5;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    .dropp-body2.js-open {
        max-height: 20em;
    }

    .dropp-body2 label {
        display: block;
        font-size: 0.8em;
        color: black;
        text-decoration: none;
        padding: 0.4em 0.5em;
        font-weight: 400;
        box-shadow: 0 -1px 0 #cde4f5, inset 0 1px 0 lightgrey;
        cursor: pointer;
    }

        .dropp-body2 label:first-child {
            box-shadow: none;
        }

        .dropp-body2 label:hover, .dropp-body2 label.js-open {
            color: white;
            background: rgba(3, 53, 62,0.8);
        }

        .dropp-body2 label > input {
            display: none;
        }

.bt {
    padding: 6px;
}

    .bt.disabled, .bt:disabled, .bt[disabled] {
        color: #212529 !important;
        background: #adb5bd !important;
        border-color: #adb5bd !important;
        pointer-events: inherit;
        opacity: 0.5;
    }

[class^="icon-"], [class*=" icon-"] {
    vertical-align: text-top;
}

.bt {
    color: #fff;
    background-color: #495057;
    border-color: #3d4349;
}

    .bt:hover, .bt:active, .bt:focus {
        color: #fff;
        background-color: #363c41;
        border-color: #212528;
    }

.input-stepper {
    display: table;
    margin: 0 auto;
}

label.input-stepper input {
    display: inline-block;
}

label.input-stepper input {
    margin-bottom: 0;
}

label.input-stepper .bt {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    overflow: hidden;
}

#spinner {
    width: 3em;
}

.labelheader {
    color: #aaff80;
    font-size: 17px;
    width: 62%;
    float: right;
    text-align: right !important;
}


.wait {
    margin-top: -20px;
    margin-bottom: 0px;
    font-size: 12px;
    color: lightcyan;
}

    .wait span {
        color: lightcoral;
    }


.group::after, .tabBlock-tabs::after {
    clear: both;
    content: "";
    display: table;
}

*, ::before, ::after {
    box-sizing: border-box;
}

.unstyledList, .tabBlock-tabs {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tabBlock {
    margin: 0 0 2.5rem;
}

.tabBlock-tab {
    background-color: #fff;
    border-color: #d8d8d8;
    border-left-style: solid;
    border-top: solid;
    border-width: 2px;
    color: #b5a8c5;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    float: left;
    padding: 0.625rem 0.5rem;
    position: relative;
    transition: 0.1s ease-in-out;
}

    .tabBlock-tab:last-of-type {
    }

    .tabBlock-tab::before, .tabBlock-tab::after {
        content: "";
        display: block;
        height: 4px;
        position: absolute;
        transition: 0.1s ease-in-out;
    }

    .tabBlock-tab::before {
        background-color: #b5a8c5;
        left: -2px;
        right: -2px;
        top: -2px;
    }

    .tabBlock-tab::after {
        background-color: transparent;
        bottom: -2px;
        left: 0;
        right: 0;
    }

@media screen and (min-width: 700px) {
    .tabBlock-tab {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}

.tabBlock-tab.is-active {
    position: relative;
    color: rgba(2, 148, 165,0.8);
    z-index: 1;
}

    .tabBlock-tab.is-active::before {
        background-color: #ffbd26;
    }

    .tabBlock-tab.is-active::after {
        background-color: #fff;
    }

.tabBlock-content {
    overflow: hidden;
    background-color: #fff;
    border: 2px solid #d8d8d8;
    padding: 1.25rem;
}

.tabBlock-pane > :last-child {
    margin-left: 112PX;
    margin-bottom: 0;
}



.author {
    margin-bottom: 0px;
}

.comment {
    width: 600px;
    padding: 5px;
    margin: 20px auto 0 auto;
}



.comment-content > span {
    line-height: 140%;
    color: white;
    background: rgba(3, 53, 62,0.8);
    display: block;
    width: 100%;
    padding: 10px 15px 10px 15px;
    font-size: .9em;
    display: block;
    position: relative;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0,0,0,.3);
}


.comment p {
    font-family: 'Open Sans';
    text-shadow: 1px 1px 2px #fff;
}

.comment strong {
    font-weight: 700;
}

.comment .author {
    font-weight: 300;
    font-size: .8em
}

.cmt {
    max-width: 60px;
    border-radius: 60px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 0 0 7px rgba(200,200,200,1), 0 0 0 9px rgba(175,175,175,1), 0 0 20px rgba(0,0,0,.7);
    margin: 20px 0 0 10px;
}





#contact {
    padding: 10px 0 10px;
}

.contact-text {
    margin: 45px auto;
}

.mail-message-area {
    width: 100%;
    padding: 0 15px;
}

.mail-message {
    width: 100%;
    background: rgba(255,255,255, 0.8) !important;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    margin: 0 auto;
    border-radius: 0;
}

.not-visible-message {
    height: 0px;
    opacity: 0;
}

.visible-message {
    height: auto;
    opacity: 1;
    margin: 25px auto 0;
}

/* Input Styles */

.form {
    border-radius: 20px;
    width: 100%;
    padding: 8px;
    background: #f8f8f8;
    border: 1px solid rgba(0, 0, 0, 0.075);
    margin-bottom: 25px;
    color: #727272 !important;
    font-size: 12px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    /* transition: all 0.4s; */
}

    .form:hover {
        border: 1px solid #8BC3A3;
    }

    .form:focus {
        color: white;
        outline: none;
        border: 1px solid #8BC3A3;
    }

.textarea {
    height: 200px;
    max-height: 200px;
    max-width: 100%;
}

/* Generic Button Styles */

.button {
    padding: 8px 12px;
    background: #0A5175;
    display: block;
    width: 120px;
    margin: 10px 0 0px 0;
    border-radius: 3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    font-size: 0.8em;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
}

    .button:hover {
        background: #8BC3A3;
        color: white;
    }

.tel {
    margin: 14px;
}
/* Send Button Styles */
@media only screen and (max-width:768px) {
    .tel {
        padding-top: 0px !important;
        padding: 14px !important;
    }
}

@media(min-width:8px) and (max-width:768px) {
    .tel {
        margin: 0px !important;
    }
}

@media(min-width:768px) and (max-width:992px) {
    .tel {
        padding-top: 0px !important;
    }
}

.form-btn {
    width: 180px;
    display: block;
    height: auto;
    padding: 15px;
    color: #fff;
    background: #ffbd26 !important;
    border: none;
    border-radius: 25px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin: auto;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
}

    .form-btn:hover {
        background: #111;
        color: white;
        border: none;
    }

    .form-btn:active {
        opacity: 0.9;
    }

center {
    margin-top: 330px;
}

input {
    z-index: 9999;
}

#ersalnazar {
    padding-bottom: 5px;
    background-color: rgb(255, 189, 38);
}



* {
    box-sizing: border-box;
}

.container2 {
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    padding: 50px 0;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: rgba(211,45,45,0.2);
}

    .container2:before {
        content: '';
        display: block;
        position: absolute;
        width: 150%;
        height: 100%;
        top: 0;
        left: -25%;
        -moz-transform: rotate(-3deg);
        -webkit-transform: rotate(-3deg);
        -o-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
        transform: rotate(-3deg);
        z-index: -1;
        background-color: rgba(244,67,54,0.15);
    }

.search-box-container {
    display: inline-block;
    box-sizing: content-box;
    height: 50px;
    width: 50px;
    padding: 0;
    background-color: #fff;
    border: $border;
    border-radius: 28px;
    overflow: hidden;
}





.col-md-4, .col-md-6 {
    padding-bottom: 0px !important;
}



/*===========================for tasavir============================*/


a.lightbox img {
    width: 195px;
    height: 150px;
    border: 3px solid white;
    box-shadow: 0px 0px 8px rgba(0,0,0,.3);
    /*margin: 20px 20px 20px 20px;*/
}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {
    position: absolute;
    top: -100%;
    width: 100%;
    background: rgba(0,0,0,.7);
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    overflow: hidden;
}

    .lightbox-target img {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-height: 0%;
        max-width: 0%;
        border: 3px solid white;
        box-shadow: 0px 0px 8px rgba(0,0,0,.3);
        box-sizing: border-box;
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
    }

/* Styles the close link, adds the slide down transition */

a.lightbox-close {
    display: block;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    background: white;
    color: black;
    text-decoration: none;
    position: absolute;
    top: -80px;
    right: 0;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

    /* Provides part of the "X" to eliminate an image from the close link */

    a.lightbox-close:before {
        content: "";
        display: block;
        height: 30px;
        width: 1px;
        background: black;
        position: absolute;
        left: 26px;
        top: 10px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    /* Provides part of the "X" to eliminate an image from the close link */

    a.lightbox-close:after {
        content: "";
        display: block;
        height: 30px;
        width: 1px;
        background: black;
        position: absolute;
        left: 26px;
        top: 10px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
    opacity: 1;
    top: 0;
    bottom: 0;
}

    .lightbox-target:target img {
        max-height: 85%;
        max-width: 100%;
    }

    .lightbox-target:target a.lightbox-close {
        top: 0px;
    }

.opinion {
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    background-color: rgba(2, 148, 165,0.8);
    box-shadow: 5px 7px 20px #888888;
}

#submittour {
    background-color: #ffbd26;
}

.padingLR30 {
    padding-left: 30px;
    padding-right: 30px;
}

.fLeft {
    float: left;
}

.telephone {
    color: black !important;
    margin-top: 60px !important;
    width: 80%;
    margin-bottom: 10px !important;
}
/*.shmob {
    padding-left: 30px;
}*/
.fewpaddingleftright {
    padding-left: 6px;
    padding-right: 6px;
}

.codetakhfif {
    box-shadow: inset 0 0.125em 0.125em rgba(0,0,0, 0.3);
    border-radius: 0.5em;
    border: 1px solid #35a9b7;
    width: 40%;
    float: right;
    text-align: right !important;
}

.btncodetakhfif {
    width: 30%;
    border: none;
    color: white;
    text-align: center;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
    border-radius: 11px;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    background-color: #ffbd26;
    float: left;
}

@media only screen and (max-width : 992px) {
    #singleheader {
        display: none;
        padding-top: 0 !important;
    }

    #getinfoheader {
        display: none;
        padding-top: 0 !important;
    }
}


#percent_discount {
    color: rgb(255, 189, 38);
}

#editDiscount {
    float: right;
    margin-right: 5%;
}
.tooltip-inner {
    background-color: rgba(255, 0, 0,0.77);
    font-family: 'yekan';
}
.tooltip-arrow {
    color: rgba(255, 0, 0, 0.77);
    bottom: 4%
}
.tooltipcod {
    left: 58%;
    bottom: 28%;
    position: absolute;
    display: none;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: rgba(255, 0, 0, 0.82);
}
.tooltip.bottom {
    /*margin-top: 22px;*/
}
.popplus , .popreserve {
    width: 300px;
    height: 150px;
    z-index: 15;
    top: 35%;
    left: 50%;
    margin: -100px 0 0 -150px;
    display: none;
    text-align: center;
    position: fixed;
    background: #ffffff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 10px;
    border: 10px solid rgba(2, 148, 165,0.8);
}

    .popplus > h1 , .popreserve > h1 {
        padding: 30px 30px 10px 30px;
        color: #2a3644;
        font-size: 100%;
    }

    .popplus > p , .popreserve > p {
        padding-left: 30px;
        font-size: 100%;
        color: #777;
    }

    .popplus > span , .popreserve > span {
        cursor: pointer;
        position: absolute;
        top: 4%;
        right: 4%;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        background: #cccccc;
        color: #ffffff;
        padding: 6px 8px 0px 9px;
        width: 30px;
        height: 30px;
    }
    /*.tooltip{
        display:none;
    }*/