
/* Fonts B Yekan ivahid*/
@font-face {
  font-family: 'yekan';
  src: url('../fonts/BYekan.eot?#') format('eot'),
       url('../fonts/BYekan.woff') format('woff'),
       url('../fonts/BYekan.ttf') format('truetype'),
       url('../fonts/BYekan.otf') format('opentype'),
       url('../fonts/BYekan.svg') format('svg'),
	   local('B Yekan');
  font-weight: normal;
  font-style: normal;
}


* {
    -webkit-transition: .7s ease-out;
    -moz-transition: .7s ease-out;
    -o-transition: .7s ease-out;
    transition: .7s ease-out;
    list-style: none;
}

/*================================
TYPOGRAPHY
================================*/
body {
    font-family: 'yekan', sans-serif;
    line-height: 1.8em;
    direction: rtl;
}

.btn-default:hover {
    background: none;
    color: #ea9312;
}

.btnicon, .brandicon {
    margin-right: 10px;
    margin-left: 10px;
}
h2 {
    color:black !important;
}

/*for thumbnails*/
.thumbnail {
    padding: 0 0 5px 0;
    border: none;
    border-radius: 10px;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.24), 0 17px 50px 0 rgba(0,0,0,.19);
}

    .thumbnail p {
        font-size: 16px;
        margin-top: 0px;
        color: #555;
    }

.first_attr {
    margin-top: 10px !important;
}

.btn {
    padding: 10px 20px;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
}

    .btn:hover, .btn:focus {
        border: 1px solid #333;
        background-color: #fff;
        color: #000;
    }




/*================================
ABOUT SECTION
================================*/

/*================================
TESTIMONIAL SECTION
================================*/

.clientsphoto img {
    width: 80px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

    .clientsphoto img:hover {
        border-radius: 15%;
    }

blockquote {
    margin: 0;
    padding: 0 0 10px 0;
    border: none;
}

    blockquote p {
        font-style: italic;
        font-size: 14px;
    }

.quote {
    overflow: hidden
}

    .quote h5 {
        margin-bottom: 5px;
    }


/*================================
FOOTER SECTION
================================*/

footer {
    text-align: center;
    padding: 50px 0;
    background: #363942;
    padding-bottom: 0px;
    bottom: 0;
}

    footer p, footer .bigicon {
        color: white !important;
    }

.footerlinks {
    margin: 30px 0;
}

    .footerlinks li {
        color: #ea9312;
        display: inline;
        padding: 10px;
        text-transform: uppercase;
    }

.footersocial {
    margin-top: 30px;
}

    .footersocial li {
        display: inline;
        padding: 0 15px;
        font-size: 2em;
    }

        .footersocial li a {
            color: #7e7e7e;
        }

            .footersocial li a:hover {
                color: #ea9312;
            }

/*================================
FOLLOW BUTTON
================================*/
.dribbble-follow-button {
    display: inline-block;
    margin-top: 15px;
}

    .dribbble-follow-button .label, .dribbble-follow-button .count {
        font: bold 11px/18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: #333;
        border: 1px solid #ccc;
        text-decoration: none;
        display: inline-block;
        position: relative;
        border-radius: 3px;
    }

    .dribbble-follow-button .label {
        padding: 0 3px 0 1px;
        white-space: nowrap;
        background: #e3e3e3;
        background: linear-gradient(top, white, #dedede);
    }

        .dribbble-follow-button .label i {
            height: 18px;
            width: 18px;
            float: left;
            background: url(../img/icon.png) no-repeat top left;
        }

        .dribbble-follow-button .label:hover {
            border-color: #bbb;
            background: #fff;
            color: #333;
        }

        .dribbble-follow-button .label:active {
            box-shadow: 0 1px 5px rgba(0,0,0,.15) inset;
        }

    .dribbble-follow-button .count {
        margin-left: 5px;
        padding: 0 3px;
        color: #333;
        border-color: #bbb;
        font-weight: normal;
        background: white;
    }

        .dribbble-follow-button .count:hover {
            text-decoration: underline;
        }

        .dribbble-follow-button .count > * {
            top: 50%;
            left: 0;
            margin: -4px 0 0 -4px;
            border: 4px solid transparent;
            border-right-color: #aaa;
            border-left: 0;
            position: absolute;
        }

        .dribbble-follow-button .count u {
            margin-left: -3px;
            border-right-color: white;
        }

/* FOR PROCESS BAR*/
.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled.focus, .btn-default[disabled].focus, fieldset[disabled] .btn-default.focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active {
    background-color: rgba(3, 53, 62,1);
    border-color: #ccc;
}

.ppraph {
    margin-top: -40px;
}

.stepwizard-step p {
    margin-top: 10px;
}

.process-row {
    display: table-row;
}

.process {
    display: table;
    width: 100%;
    position: relative;
}

.process-step button[disabled] {
    background: rgba(2, 148, 165,1);
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.24), 0 17px 50px 0 rgba(0,0,0,.19);
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.process-row:before {
    top: 55px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-index: 0;
}

.process-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

    .process-step p {
        margin-top: 10px;
    }

.btn-circle {
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}


button:focus {
    outline: 0;
}

/* Global Button Styles */
a.animated-button:link, a.animated-button:visited {
    position: relative;
    display: block;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    border-radius: 0;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

    a.animated-button:link:after, a.animated-button:visited:after {
        content: "";
        position: absolute;
        height: 0%;
        left: 50%;
        top: 50%;
        width: 150%;
        z-index: -1;
        -webkit-transition: all 0.75s ease 0s;
        -moz-transition: all 0.75s ease 0s;
        -o-transition: all 0.75s ease 0s;
        transition: all 0.75s ease 0s;
    }

    a.animated-button:link:hover, a.animated-button:visited:hover {
        color: black;
        text-shadow: none;
    }

        a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
            height: 450%;
        }

a.animated-button:link, a.animated-button:visited {
    position: relative;
    display: block;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: black;
    font-size: 14px;
    border-radius: 0;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

/* Victoria Buttons */
.col-md-4, .col-md-6 {
    padding-bottom: 0px !important;
}

a.animated-button.victoria-one {
    border-radius: 11px;
    border: 2px solid #ea9312;
}

    a.animated-button.victoria-one:after {
        background: #ea9312;
        -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
        -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
        -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
        transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    }

#seealltour {
    width: 200px;
    margin: 0;
    margin-bottom: 15px;
}

.marginforrow {
    margin: 33px;
}
/*for ajans titr*/
#ajansname {
    font-weight: 800;
    font-size: 3rem;
}
/*for ajans first btns*/
.pulse-button {
    margin-top: 150px;
    /*right: 3rem;*/
    position: relative;
    /*top: 40%;
  left: 50%;
  margin-left: -50px;
  margin-top: -30px;*/
    display: inline-block;
    width: 240px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: black;
    border: none;
    border-radius: 11px;
    background: #ffbd26;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5);
    -webkit-animation: pulse 1.5s infinite;
}

    .pulse-button:hover {
        -webkit-animation: none;
    }

@-webkit-keyframes pulse {
    0% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    70% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
    }

    100% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    }
}

#myVideo {
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.vid {
    height: 658px !important;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.header {
    background: none !important;
}

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.maskHeaderajans {
    background: url(../img/pattern.png);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.main-caption {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

@media only screen and (max-width: 768px) {
    .pulse-button {
        margin-top: 50px;
    }
}