﻿@font-face {
    font-family: 'yekan';
    src: url('../fonts/BYekan.eot?#') format('eot'), url('../fonts/BYekan.woff') format('woff'), url('../fonts/BYekan.ttf') format('truetype'), url('../fonts/BYekan.otf') format('opentype'), url('../fonts/BYekan.svg') format('svg'), local('B Yekan');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    font-family: 'yekan', sans-serif;
    line-height: 1.8em;
    direction: rtl;
    height: 100%;
    width: 100%;
    color: #7a7a7a;
    line-height: 24px;
}
.modalbox.success,
.modalbox.error {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #fff;
	padding: 25px 25px 15px;
	text-align: center;
}
/* ==============================================================  Menu ======================================================= */
.main-nav {
    position: fixed;
    top: 0;

    width: 100%;
    min-height: 54px;
    z-index: 99;
}

.navbar {
    border-radius: 0px;
    min-height: 54px;
    margin-bottom: 0px;
    width: 100%;
    z-index: 99;
    border: none;
}

a.navbar-brand {
    float: left;
    height: inherit;
    padding: 3px 15px;
    font-size: 18px;
    line-height: 48px;
    color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}
.linear {
color:white!important;
}
.navbar-nav > li > a {
    color: white;
    padding-top: 16px;
    padding-bottom: 13px;
    border-bottom: 5px solid transparent;
    font-size: 14px;
    text-transform: uppercase;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-nav > li.current > a {
    text-decoration: none;
}

.navbar-nav > li.current > a, .navbar-inverse .navbar-nav > li > a:hover {
    background: rgba(255,255,255,0.1);
}

/* ========================================= title page ==================================== */

.title-page {
    color: #7a7a7a;
}

    .title-page h2 {
        position: relative;
        margin: 0;
        z-index: 77;
        padding: 0 0 20px 0;
        font-size: 36px;
        font-weight: 600;
    }

.line-title {
    width: 40px;
    height: 8px;
    margin: 0 auto;
}
#nameAgency {
    color: white;
}
.modalbox.success.animate .icon,
.modalbox.error.animate .icon {
	-webkit-animation: fall-in 0.75s;
	-moz-animation: fall-in 0.75s;
	-o-animation: fall-in 0.75s;
	animation: fall-in 0.75s;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


.modalbox.success button,
.modalbox.error button,
.modalbox.success button:active,
.modalbox.error button:active,
.modalbox.success button:focus,
.modalbox.error button:focus {
	-webkit-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	margin-top: -7px;
	width: 80%;
	background: #8c9b8612;
	color: #003300;
	border-color: #4caf50;
	outline: none;
}

.modalbox.success button:hover,
.modalbox.error button:hover,
.modalbox.success button:active:hover,
.modalbox.error button:active:hover,
.modalbox.success button:focus:hover,
.modalbox.error button:focus:hover {
	color: #fff;
	background: #4caf50;
	border-color: transparent;
}

.modalbox.success .icon,
.modalbox.error .icon {
	position: relative;
	margin: 0 auto;
	margin-top: -75px;
	background: #4caf50;
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

.modalbox.success .icon span,
.modalbox.error .icon span {
	postion: absolute;
	font-size: 4em;
	color: #fff;
	text-align: center;
	padding-top: 20px;
}

.modalbox.error button,
.modalbox.error button:active,
.modalbox.error button:focus {
	/*color: #f44336;*/
	border-color: #f44336;
}

.modalbox.error button:hover,
.modalbox.error button:active:hover,
.modalbox.error button:focus:hover {
	color: #fff;
	background: #f44336;
}

.modalbox.error .icon {
	background: #f44336;
}

.modalbox.error .icon span {
	padding-top: 25px;
}

.center {
	float: none;
	margin-left: auto;
	margin-right: auto;
/* stupid browser compat. smh */;
}

.center .change {
	clear: both;
	display: block;
	font-size: 10px;
	color: #ccc;
	margin-top: 10px;
}

@-webkit-keyframes fall-in {
	0% {
		-ms-transform: scale(3, 3);
		-webkit-transform: scale(3, 3);
		transform: scale(3, 3);
		opacity: 0;
	}

	50% {
		-ms-transform: scale(1, 1);
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
		opacity: 1;
	}

	60% {
		-ms-transform: scale(1.1, 1.1);
		-webkit-transform: scale(1.1, 1.1);
		transform: scale(1.1, 1.1);
	}

	100% {
		-ms-transform: scale(1, 1);
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
}

@-moz-keyframes fall-in {
	0% {
		-ms-transform: scale(3, 3);
		-webkit-transform: scale(3, 3);
		transform: scale(3, 3);
		opacity: 0;
	}

	50% {
		-ms-transform: scale(1, 1);
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
		opacity: 1;
	}

	60% {
		-ms-transform: scale(1.1, 1.1);
		-webkit-transform: scale(1.1, 1.1);
		transform: scale(1.1, 1.1);
	}

	100% {
		-ms-transform: scale(1, 1);
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
}

@-o-keyframes fall-in {
	0% {
		-ms-transform: scale(3, 3);
		-webkit-transform: scale(3, 3);
		transform: scale(3, 3);
		opacity: 0;
	}

	50% {
		-ms-transform: scale(1, 1);
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
		opacity: 1;
	}

	60% {
		-ms-transform: scale(1.1, 1.1);
		-webkit-transform: scale(1.1, 1.1);
		transform: scale(1.1, 1.1);
	}

	100% {
		-ms-transform: scale(1, 1);
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
}

@-webkit-keyframes plunge {
	0% {
		margin-top: -100%;
	}

	100% {
		margin-top: 25%;
	}
}

@-moz-keyframes plunge {
	0% {
		margin-top: -100%;
	}

	100% {
		margin-top: 25%;
	}
}

@-o-keyframes plunge {
	0% {
		margin-top: -100%;
	}

	100% {
		margin-top: 25%;
	}
}

@-moz-keyframes fall-in {
	0% {
		-ms-transform: scale(3, 3);
		-webkit-transform: scale(3, 3);
		transform: scale(3, 3);
		opacity: 0;
	}

	50% {
		-ms-transform: scale(1, 1);
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
		opacity: 1;
	}

	60% {
		-ms-transform: scale(1.1, 1.1);
		-webkit-transform: scale(1.1, 1.1);
		transform: scale(1.1, 1.1);
	}

	100% {
		-ms-transform: scale(1, 1);
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
}

@-webkit-keyframes fall-in {
	0% {
		-ms-transform: scale(3, 3);
		-webkit-transform: scale(3, 3);
		transform: scale(3, 3);
		opacity: 0;
	}

	50% {
		-ms-transform: scale(1, 1);
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
		opacity: 1;
	}

	60% {
		-ms-transform: scale(1.1, 1.1);
		-webkit-transform: scale(1.1, 1.1);
		transform: scale(1.1, 1.1);
	}

	100% {
		-ms-transform: scale(1, 1);
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
}

@-o-keyframes fall-in {
	0% {
		-ms-transform: scale(3, 3);
		-webkit-transform: scale(3, 3);
		transform: scale(3, 3);
		opacity: 0;
	}

	50% {
		-ms-transform: scale(1, 1);
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
		opacity: 1;
	}

	60% {
		-ms-transform: scale(1.1, 1.1);
		-webkit-transform: scale(1.1, 1.1);
		transform: scale(1.1, 1.1);
	}

	100% {
		-ms-transform: scale(1, 1);
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
}

@keyframes fall-in {
	0% {
		-ms-transform: scale(3, 3);
		-webkit-transform: scale(3, 3);
		transform: scale(3, 3);
		opacity: 0;
	}

	50% {
		-ms-transform: scale(1, 1);
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
		opacity: 1;
	}

	60% {
		-ms-transform: scale(1.1, 1.1);
		-webkit-transform: scale(1.1, 1.1);
		transform: scale(1.1, 1.1);
	}

	100% {
		-ms-transform: scale(1, 1);
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
}

@-moz-keyframes plunge {
	0% {
		margin-top: -100%;
	}

	100% {
		margin-top: 15%;
	}
}

@-webkit-keyframes plunge {
	0% {
		margin-top: -100%;
	}

	100% {
		margin-top: 15%;
	}
}

@-o-keyframes plunge {
	0% {
		margin-top: -100%;
	}

	100% {
		margin-top: 15%;
	}
}

@keyframes plunge {
	0% {
		margin-top: -100%;
	}

	100% {
		margin-top: 15%;
	}
}
.subcard {
    padding-bottom: 30px;
    padding-top: 11rem;
    margin: auto!important;
}