﻿
        @font-face {
  font-family: 'yekan';
  src: url('../fonts/BYekan.eot?#') format('eot'),
       url('../fonts/BYekan.woff') format('woff'),
       url('../fonts/BYekan.ttf') format('truetype'),
       url('../fonts/BYekan.otf') format('opentype'),
       url('../fonts/BYekan.svg') format('svg'),
	   local('B Yekan');
  font-weight: normal;
  font-style: normal;
}
        body{
            font-family: 'yekan', sans-serif;
        }
        *, *:before, *:after {
            box-sizing: border-box;
            user-select: none;
        }

        html, body {
            text-align: right;
            background-color: #c0f9c2;
            min-height: 100vh;
        }

        .feedback {
            position: absolute;
            opacity: 0;
        }

        .table {
            display: table;
            width: 100%;
            position: absolute;
            height: 100%;
        }

        .table-cell {
            display: table-cell;
            vertical-align: middle;
        }

        #ticket {
            width: 350px;
            background: #fff;
            height: 470px;
            margin: 0 auto;
        }

            #ticket:after {
                content: '';
                display: block;
                position: relative;
                clear: both;
            }


            #ticket > .row:first-child:before {
                background-color: #c0f9c2;
                position: absolute;
                content: '';
                display: block;
                width: 20px;
                height: 20px;
                border-radius: 100%;
                bottom: 0;
                margin-bottom: -10px;
            }

            #ticket > .row:first-child:after {
                background-color: #c0f9c2;
                position: absolute;
                content: '';
                display: block;
                width: 20px;
                height: 20px;
                border-radius: 100%;
                bottom: 0;
                margin-bottom: -10px;
            }

            #ticket > .row:first-child:before {
                left: 0;
                margin-left: -10px;
            }

            #ticket > .row:first-child:after {
                right: 0;
                margin-right: -10px;
            }

        .logo {
            width: 199px;
    font-size: 21px!important;
        }

        .row {
            position: relative;
            padding: 15px;
        }

            .row.perforated {
                border-bottom: 1px dashed #ddd;
            }

            .row.destinations:after, .row.normRow:after {
                content: '';
                clear: both;
                display: block;
            }

        .label {
            font-size: 12px;
            font-weight: bold;
    text-transform: uppercase;
    line-height: 1.5;
        }

        .airport {
            font-size: 32px;
        }

        .city {
            font-size: 12px;
            text-transform: uppercase;
        }

        .right {
          line-height: 0.7;
    margin-top: -47px;
    float: right;
    text-align: right;
        }

        .left {
            float: left;
            text-align: left;
        }

        svg#plane {
            width: 30px;
            position: absolute;
            left: 50%;
            margin-left: -15px;
            margin-top: 15px;
            opacity: 0.5;
            display: inline-block;
        }

        .smalltext {
            padding:3px;
            font-size: 10px;
            opacity: 0.9;
            /*padding-top:13px;*/
        }

        .col6 {
            float: left;
            width: 50%;
            font-size: 18px;
            line-height: 1.5;
        }

        .col {
            font-size: 19px;
        }

        .normRow {
            padding-bottom: 0;
        }

        #qr {
            float: right;
            width: 80px;
            position: relative;
            right: -5px;
            bottom: 5px;
            margin-left: 10px;
        }

        .sparkler {
            width: 70px;
            height: 70px;
            float: left;
            margin-right: 20px;
        }

        .square {
            width: 12.5%;
            height: 12.5%;
            background-color: grey;
            float: left;
            transition: background-color 0.1s;
        }
   #site{
       text-decoration:none;
       color:green;
   }