﻿
@{

    Layout = "~/Views/Shared/_Layout1.cshtml";

}
@using Tourist.CommonMethods
@using Tourist.Models

@model  TourPlus


<!DOCTYPE html>
<!--[if IE 8]><html class="ie ie8"> <![endif]-->
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<html dir="rtl">
<head>
    <style>
        .cke_reset {
            position: unset !important;
        }
    </style>

    <title>توریپس | اضافه کردن تور</title>
    <meta name="description" content="اضافه کردن تور آژانس در توریپس" />
    <!-- Favicons-->
    <!-- CSS -->
    <link href="~/Content/Template/css/base.css" rel="stylesheet">
    <!-- SPECIFIC CSS -->

    <link href="~/Content/Template/css/admin.css" rel="stylesheet" />
    <link href="~/Content/Template/css/jquery.switch.css" rel="stylesheet">
    <!--dastebandi-->
    <link href="~/Content/Plugins/tagsinput/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="~/Content/Plugins/tagsinput/typeahead/typeahead.css" rel="stylesheet" />
    <!--text area-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- END PAGE LEVEL PLUGINS -->
    <link href="~/Content/assets/global/css/plugins-rtl.min.css" rel="stylesheet" type="text/css" />



    <!--end time-->
    <style>
        .tagsin {
            color: white;
            background-color: #83c99f;
            display: inline;
            padding: .2em .6em .3em;
            font-size: 85%;
            font-weight: bold;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: .25em;
        }
    </style>


</head>
@Html.ValidationSummary(true)


<body>
    <!--[if lte IE 8]>
        <p class="chromeframe">لطفا مرورگر خود را بروز کنید <strong>استفاده میکنید</strong> مرورگر قدیمی <a href="http://digiao.ir/">شما از </a>.</p>
    <![endif]-->
    @*<div id="preloader">
            <div class="sk-spinner sk-spinner-wave">
                <div class="sk-rect1"></div>
                <div class="sk-rect2"></div>
                <div class="sk-rect3"></div>
                <div class="sk-rect4"></div>
                <div class="sk-rect5"></div>
            </div>
        </div>*@
    <!-- End Preload -->
    <div class="layer"></div>
    <!-- Mobile menu overlay mask -->
    <!-- Header================================================== -->


    <section class="parallax-window" data-parallax="scroll" data-image-src="/Content/Template/img/tourist_guide.jpg" data-natural-width="1400" data-natural-height="370">
        <div class="parallax-content-1">

        </div>
    </section><!-- End section -->


    <h3 class="center-block text-center" style="color:#ee6363">@TempData["cm"]</h3>

    <div class="margin_30 container">

        <div id="tabs" class="tabs">
            <nav>
                <ul>
                    <li class="tab-current"><a><span>تور</span></a></li>

                </ul>
            </nav>

            <div class="content">

                <section id="section-1" class="content-current">
                    <form action="/Dashboard/AddTourConfirm" id="form" method="post" enctype="multipart/form-data">
                        <div class="divider"></div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h4>اضافه کردن تور</h4>
                            </div>
                        </div>
                        <hr />

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-sx-12">
                                <div class="form-group">
                                    <label>آژانس یا لیدر</label>
                                    <div class="form-group">
                                        <select id="id_type" class="form-control" name="id_profile">
                                            @foreach (var item in ViewBag.profile)
                                            {
                                                <option selected value="@item.ID">@item.Name_Group</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <div class="form-group">
                                    <label>نام لیدر</label>
                                    <div class="form-group">
                                        @Html.TextBoxFor(x => x.tour.Leader, new { placeholder = "لیدر", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <div class="form-group">
                                    <label>تلفن لیدر</label>
                                    <div class="form-group">
                                        @Html.TextBoxFor(x => x.tour.LeaderTel, new { placeholder = "تلفن لیدر", @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                        </div><!-- End row -->
                        <hr>
                        @{
                            List<string> ListCategory = new List<string> { "طبیعت گردی", "کوه نوردی", "آب نوردی", "پیاده روی", "صخره نوردی", "رفتینگ",
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                "بافت گردی","آفرود","شهرگردی","دوچرخه سواری","خاص" ,"دورهمی","روستا گردی", "کویر نوردی","مادروکودک"};
                        }
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>نوع تور</label>
                                    <div class="form-group">
                                        @Html.DropDownListFor(x => x.tour.Type, new SelectList(ListCategory),
                                                             new { @class = "form-control" })
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>عنوان تور</label>
                                    @Html.TextBoxFor(x => x.tour.Title, new { placeholder = "عنوان تور", @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.tour.Title, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">

                            <div class="col-md-6 col-sm-6">

                                <div class="form-group">
                                    <label>مبدا</label>
                                    <div class="form-group">
                                        @Html.TextBoxFor(x => Model.tour.Origin, new { placeholder = "مبدا", @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.tour.Origin, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>مقصد</label>
                                    @Html.TextBoxFor(x => x.tour.Destination, new { placeholder = "مقصد", @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.tour.Destination, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>تاریخ شروع</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend input-group-addon" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate1" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="bottom">
                                            <span class="input-group-text cursor-pointer fa fa-calendar" id="date1"></span>
                                        </div>


                                        @Html.TextBoxFor(x => x.start_date_fa, new { type = "text", @class = "form-control", @readonly = "readonly", name = "end_date", id = "toDate1", placeholder = "تا تاریخ" })
                                        @*<input type="text" value="@CalendarMngr.JulianToPersian(Model.tour.Start_Date.Value)" class="form-control" name="start_date" id="toDate1" placeholder="از تاریخ" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate1" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="left" />*@
                                    </div>
                                    @Html.ValidationMessageFor(x => x.start_date_fa, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>تاریخ پایان</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend input-group-addon" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate2" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="bottom">
                                            <span class="input-group-text cursor-pointer fa fa-calendar" id="date2"></span>
                                        </div>


                                        @Html.TextBoxFor(x => x.end_date_fa, new { type = "text", @class = "form-control", @readonly = "readonly", name = "end_date", id = "toDate2", placeholder = "تا تاریخ" })
                                        @*<input type="text" value="@CalendarMngr.JulianToPersian(Model.tour.Start_Date.Value)" class="form-control" name="start_date" id="toDate1" placeholder="از تاریخ" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate1" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="left" />*@
                                    </div>
                                    @Html.ValidationMessageFor(x => x.end_date_fa, "", new { @class = "text-danger" ,id="data-endDate" })
                                </div>
                            </div>
                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>زمان</h4>
                            </div>

                            <div class="col-md-4 col-sm-4">
                                <label id="timestart">زمان حرکت</label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn default" type="button">
                                                <i class="fa fa-clock-o"></i>
                                            </button>
                                        </span>
                                        @Html.TextBoxFor(x => x.tour.Start_time, new { type = "text", @readonly = "readonly", @class = "form-control timepicker timepicker-24" })
                                        @*<input type="text" class="form-control timepicker timepicker-24">*@
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-4 col-sm-4">
                                <label id="timeend">زمان برگشت </label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn default" type="button">
                                                <i class="fa fa-clock-o"></i>
                                            </button>
                                        </span>
                                        @Html.TextBoxFor(x => x.tour.Arrival_Time, new { type = "text", @readonly = "readonly", @class = "form-control timepicker timepicker-24" })
                                        @*<input type="text" class="form-control timepicker timepicker-24">*@
                                    </div>
                                </div>


                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div id="duration" class="form-group inci">
                                    <label>فاصله از مبدا</label>
                                    <div class="form-group">

                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button class="btn default" type="button">
                                                    <i class="fa fa-clock-o"></i>
                                                </button>
                                            </span>
                                            @Html.TextBoxFor(x => x.tour.Duration_Time, new { type = "text", @readonly = "readonly", @class = "form-control timepicker timepicker-24" })
                                            @*<input type="text" class="form-control timepicker timepicker-24">*@
                                        </div>
                                    </div>
                                    @*@Html.TextBoxFor(Model => Model.tour.Duration_Time, new { placeholder = "به ساعت وارد کنید", @class = "form-control" })*@
                                </div>
                            </div>
                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <div id="place" class="form-group">
                                    <label>محل حرکت</label>
                                    @Html.TextBoxFor(x => x.tour.Place_Movement, new { placeholder = "محل حرکت", @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label>ظرفیت</label>
                                    @Html.TextBoxFor(x => x.tour.Capacity, new { placeholder = "ظرفیت", @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.tour.Capacity, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label>سن</label>
                                    @Html.TextBoxFor(x => x.tour.Age, new { placeholder = "سن", @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.tour.Age, "", new { @class = "teModelt-danger" })
                                </div>
                            </div>
                            @{ List<int> lstDifficulty = new List<int> { 1, 2, 3, 4, 5, 6 }; }
                            <div class="col-md-3 col-sm-3">
                                <div id="dificulty" class="form-group">
                                    <label>درجه سختی</label>
                                    @Html.DropDownListFor(x => x.tour.Difficulty, new SelectList(lstDifficulty),
                                                             new { @class = "form-control" })
                                    @*@Html.TextBoxFor(Model => Model.tour.Difficulty, new { placeholder = "درجه سختی", @class = "form-control" })*@
                                    @Html.ValidationMessageFor(x => x.tour.Difficulty, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <label>قیمت</label>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label id="1">وسیله نقلیه توریستی</label>
                                    @Html.TextBoxFor(x => x.tour.Tourist_bus, new { placeholder = "قیمت را به تومان وارد کنید", @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.tour.Tourist_bus, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div id="Kodak" style="display:block" class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label id="2">وسیله نقیله VIP</label>
                                    @Html.TextBoxFor(x => x.tour.Vip_bus, new { placeholder = "قیمت را به تومان وارد کنید", @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.tour.Vip_bus, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label id="3">خودرو اژانس</label>
                                    @Html.TextBoxFor(x => x.tour.Agency_car, new { placeholder = "قیمت را به تومان وارد کنید", @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.tour.Agency_car, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label id="4">خودرو شخصی</label>
                                    @Html.TextBoxFor(x => x.tour.personal_car, new { placeholder = "قیمت را به تومان وارد کنید", @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.tour.personal_car, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div id="place1" class="row">
                            <div class="col-md-12">
                                <label>محل اقامت</label>
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(x => x.tour.basic_place, new { placeholder = "محل اقامت را وارد کنید", @class = "form-control" })
                            </div>
                            <hr />
                            <div class="col-md-12">
                                <hr />
                                <center>
                                    <label onclick="AddPlace()" class="btn btn-warning">اضافه کردن محل اقامت</label>
                                </center>
                                <br />
                            </div>
                            <div id="Place">


                            </div>
                        </div>
                        <br />

                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>وعده غذایی</h4>
                            </div>
                            <div class=" col-lg-3 col-md-3 col-sm-3">
                                <div class="form-group ">
                                    <div class=" col-lg-3 col-md-6">
                                        <label>صبحانه</label>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.CheckBoxFor(x => x.tour.Breakfast, new { @class = "form-control   " })
                                    </div>
                                </div>
                            </div>

                            <div class=" col-lg-3 col-md-3 col-sm-3 ">
                                <div class="form-group ">
                                    <div class=" col-lg-3 col-md-6">
                                        <label>ناهار</label>
                                    </div>
                                    <div class="col-md-6 ">
                                        @Html.CheckBoxFor(x => x.tour.Lunch, new { @class = "form-control check-box" })
                                    </div>
                                </div>
                            </div>
                            <div class=" col-lg-3 col-md-3 col-sm-3 ">
                                <div class="form-group ">
                                    <div class=" col-lg-3 col-md-6">
                                        <label>عصرانه</label>
                                    </div>
                                    <div class="col-md-6 ">
                                        @Html.CheckBoxFor(x => x.tour.Afternoon, new { @class = "form-control check-box" })
                                    </div>
                                </div>
                            </div>
                            <div class=" col-lg-3 col-md-3 col-sm-3">
                                <div class="form-group ">
                                    <div class=" col-lg-3 col-md-6">
                                        <label>شام</label>
                                    </div>
                                    <div class="col-md-6 ">
                                        @Html.CheckBoxFor(x => x.tour.Dinner, new { @class = "form-control  check-box" })
                                    </div>
                                </div>
                            </div>

                            <br />
                            <br />
                            <div class="col-md-12">
                                <label>توضیحات</label>
                                @Html.TextAreaFor(x => x.tour.Meal_Description, new { style = "margin-top: 30px", @class = "form-control", rows = "6" })
                                <br>
                            </div>
                            <hr />
                            <div class="col-md-12">
                                <hr />
                                <center>
                                    <label onclick="AddFood()" class="btn btn-warning">اضافه کردن غذا</label>
                                </center>
                                <br />
                            </div>
                            <div id="Food">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <h4>امکانات</h4>
                            </div>
                            <div class="col-md-6">
                                <h4>امکانات</h4>
                            </div>
                            @{
                                List<string> ListFacility = new List<string> { "راهنما", "عکاس حرفه ای", "کمک های اولیه",
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                "پزشک همراه", "لیدر محلی", "بیمه", "مجوز", "موتور برق", "امدادگر","پرداخت ورودی ها توسط تور",
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                "آموزش و حمایت","صندلی جهت نشستن","وسایل ایمنی","لیدر به همراه گروه"};
                                int id = 1;
                                //var a = Model.tour.Tour_Cross_Facilities.Where(x => x.Facility.name == "راهنما");
                            }
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label>نوع امکانات</label>
                                    <select id="state_tagsinput_value" class="form-control input-large">
                                        @foreach (var item in ListFacility)
                                        {
                                            <option value="@id">@item</option>
                                            id++;
                                        }

                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label>برای اضافه کردن کلیک کنید</label>
                                    <br>
                                    <a href="javascript:;" class="btn_1 red" id="state_tagsinput_add">افزودن</a>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <label>امکانات ارائه شده</label>
                                <br />

                                @Html.TextBox("state_tagsinput", new { @readonly = "readonly", name = "classificatio", @class = "form-control" })
                                <br />


                            </div>

                        </div> <!-- End row -->
                        <hr>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>امکانات اضافه</label>
                                    @Html.TextAreaFor(x => x.tour.insuranceType, new { placeholder = "در صورت وجود", @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>نوع وسایل ایمنی</label>
                                    @Html.TextAreaFor(x => x.tour.facilityType, new { placeholder = "در صورت وجود", @class = "form-control" })
                                </div>
                            </div>


                        </div>
                        <hr>
                        <div class="row">
                            <div style="position:static !important">
                                <div style="position:static;">
                                    <h4>برنامه سفر</h4>
                                    @Html.TextAreaFor(x => x.tour.Travel_plan, new { @class = "editor" })
                                    <br>
                                </div>
                            </div>
                        </div>


                        <hr>
                        <div class="row">
                            <div>
                                <h4>نکات مهم</h4>
                                @Html.TextAreaFor(x => x.tour.Attractives, new { @class = "editor" })
                                <br>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>وسایل مورد نیاز</h4>
                                @Html.TextAreaFor(x => x.tour.needed_equipment, new { style = "margin-top: 30px", @class = "form-control", rows = "6" })
                                @*<textarea class="form-control" rows="6" style="margin-top: 30px;width: 1025px; height: 162px;" name="needed_equipment">*@
                                @*</textarea>*@
                                <br>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <!--start img uplod-->
                            <div class="col-md-12">
                                <h4>آپلود</h4>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group ">
                                    <label>آپلود عکس</label>
                                    @Html.TextBoxFor(x => x.beforeimage, new { type = "file", @class = "btn btn-file green fileinput-button", accept = "image/*", onchange = "fileCheck(this);", multiple = "multiple", name = "img1", id = "js-upload-files", style = "margin-top:10px" })
                                    @*<input  type="file" name="img1" id="js-upload-files" accept="image/*" onchange="fileCheck(this);"  multiple style="margin-top:10px">*@
                                    <span>حجم عکس باید کمتر از 1MB باشد</span>
                                    <br />
                                    @Html.ValidationMessageFor(x => x.beforeimage, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-3 col-md-offset-2">
                                <div class="form-group ">
                                    <label>تاریخ اتمام رزرو</label>
                                    <div class="input-group">
                                        <div class="input-group-addon" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate3" data-groupid="group1"
                                             data-todate="true" data-enabletimepicker="false" data-placement="bottom">
                                            <span class="fa fa-calendar"></span>
                                        </div>
                                        @*<input name="deadline" type="text" readonly="readonly" class="form-control" id="toDate3" placeholder="تا تاریخ" data-mddatetimepicker="true" data-trigger="click"
                        data-targetselector="#toDate1" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="bottom" />*@
                                        @Html.TextBoxFor(x => x.deadline_fa, new { type = "text", @class = "form-control", @readonly = "readonly", name = "deadline", id = "toDate3" })
                                    </div>
                                    @Html.ValidationMessageFor(x => x.deadline_fa, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-3 ">
                                <div class="form-group ">
                                    <label>زمان اتمام رزرو</label>
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn default" type="button">
                                                <i class="fa fa-clock-o"></i>
                                            </button>
                                        </span>
                                        <input name="Deadlinetime" readonly="readonly" type="text" class="form-control timepicker timepicker-24" />
                                        @*@Html.TextBoxFor(x => x.tour.Start_time, new { type = "text", @class = "form-control timepicker timepicker-24" })*@
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-11 col-md-11 col-sm-12">
                                <div class="form-group">
                                    <div id="image-holder"></div>
                                </div>
                            </div>
                        </div>

                        <hr>

                        <br />
                        <div class="row">
                            <button type="submit" id="btn1" class="btn_1 green ">ثبت تور</button>
                        </div>
                    </form>



                </section>

               
            </div>
        </div>

            <!-- End row -->



        </div><!-- End content -->





    </div><!-- End tabs -->
    <script src="~/Content/Template/js/jquery-1.11.2.min.js"></script>


    <div id="toTop"></div>
    <!-- Back to top button -->
    <!-- Common scripts -->

    <script src="~/Content/Template/js/common_scripts_min.js"></script>
    <script src="~/Content/Template/js/functions.js"></script>

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <!-- Specific scripts -->
    @*<script src="~/Content/Template/js/tabs.js"></script>*@

    <script>new CBPFWTabs(document.getElementById('tabs'));</script>
    <script>
        $('.wishlist_close_admin').on('click', function (c) {
            $(this).parent().parent().parent().fadeOut('slow', function (c) {
            });
        });

    </script>
    @Html.CKEditorHeaderScripts()
    <script>


        $(".editor").ckeditor();
        // $("#ProTourist").removeClass("content-current");
        //document.getElementById("state_tagsinput").setAttribute("Value", "");
        $("#state_tagsinput").attr("value", "");
        //$(document).ready(function () {
        //    $("#tour_LeaderTel").keypress(function (event) {


        //        if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 ||
        //            // Allow: Ctrl+A
        //            (event.keyCode == 65 && event.ctrlKey === true) ||
        //            // Allow: home, end, left, right
        //            (event.keyCode >= 35 && event.keyCode <= 39)){
        //            // let it happen, don't do anything
        //            return;
        //        } else {
        //            // Ensure that it is a number and stop the keypress
        //            if ((event.keyCode >= 48 && event.keyCode < 59)) {

        //            } else {
        //                event.preventDefault();
        //            }
        //        }
        //    });
        //});
    </script>

    <script>


        $('#toDate2').attr("data-mddatetimepicker", "true");
        $('#toDate2').attr("data-trigger", "click");
        $('#toDate2').attr("data-groupid", "group1");
        $('#toDate2').attr("data-targetselector", "#toDate2");
        $('#toDate2').attr("data-todate", "true");
        $('#toDate2').attr("data-enabletimepicker", "false");
        $('#toDate2').attr("data-placement", "bottom");

    </script>
    <script>
        $('#toDate1').attr("data-mddatetimepicker", "true");
        $('#toDate1').attr("data-trigger", "click");
        $('#toDate1').attr("data-groupid", "group1");
        $('#toDate1').attr("data-targetselector", "#toDate1");
        $('#toDate1').attr("data-todate", "true");
        $('#toDate1').attr("data-enabletimepicker", "false");
        $('#toDate1').attr("data-placement", "bottom");
    </script>
    <script>
        $('#toDate3').attr("data-mddatetimepicker", "true");
        $('#toDate3').attr("data-trigger", "click");
        $('#toDate3').attr("data-groupid", "group1");
        $('#toDate3').attr("data-targetselector", "#toDate3");
        $('#toDate3').attr("data-todate", "true");
        $('#toDate3').attr("data-enabletimepicker", "false");
        $('#toDate3').attr("data-placement", "bottom");
    </script>

    <!-- dastebanddi-->
    <script src="~/Content/Plugins/tagsinput/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
    <script src="~/Content/Plugins/tagsinput/typeahead/handlebars.min.js"></script>
    <script src="~/Content/Plugins/tagsinput/typeahead/typeahead.bundle.min.js"></script>
    <script src="~/Content/Plugins/tagsinput/components-bootstrap-tagsinput.js"></script>


    <script>
        $(document).ready(function () {
            $(".bootstrap-timepicker-widget.dropdown-menu").css("direction", "ltr");
            $(".bootstrap-timepicker-widget").css("direction", "ltr");
            $(".bootstrap-timepicker-widget").css("color", "blue");
            $(".timepicker").click(function () {
                $(".bootstrap-timepicker-widget.dropdown-menu").css("direction", "ltr");
                $(".bootstrap-timepicker-widget").css("direction", "ltr");
                $(".bootstrap-timepicker-widget").css("color", "blue");
            });

        });
    </script>
    <script>
        $(".valid").attr("readonly", "readonly");
    </script>
    <!--end dastebanddi-->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="~/Content/assets/global/scripts/app.min.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/Content/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <!--time-->

    <script src="~/Content/Plugins/MdBootstrapPersianDateTimePicker/jalaali.js" type="text/javascript"></script>
    <script src="~/Content/Plugins/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.js" type="text/javascript"></script>


    <!--timepicker script template-->
    <script src="~/Content/Template/js/bootstrap-timepicker.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#tour_Type').change(function (data) {
                var type = $("select[id=tour_Type]").val();
                if (type === "مادروکودک") {
                    document.getElementById("timestart").innerHTML = "زمان شروع";
                    document.getElementById("timeend").innerHTML = "زمان اتمام";
                    document.getElementById("duration").style.display = "none";
                    document.getElementById("place").style.display = "none";
                    document.getElementById("dificulty").style.display = "none";
                    document.getElementById("Kodak").style.display = "none";
                    document.getElementById("1").innerHTML = "مادروکودک";
                    //document.getElementById("2").innerHTML = "کودک";
                    document.getElementById("3").innerHTML = "کودک اضافه";
                    document.getElementById("4").innerHTML = "همراه اضافه";
                    document.getElementById("place1").style.display = "none";
                    document.getElementById("place2").style.display = "none";
                } else {
                    document.getElementById("timestart").innerHTML = "زمان حرکت";
                    document.getElementById("timeend").innerHTML = "زمان برگشت";
                    document.getElementById("duration").style.display = "block";
                    document.getElementById("place").style.display = "block";
                    document.getElementById("dificulty").style.display = "block";
                    document.getElementById("Kodak").style.display = "block";
                    document.getElementById("1").innerHTML = "وسیله نقلیه توریستی";
                    document.getElementById("2").innerHTML = "اتوبوس VIP";
                    document.getElementById("3").innerHTML = "خودرو اژانس";
                    document.getElementById("4").innerHTML = "خودرو شخصی";
                    document.getElementById("place1").style.display = "block";
                    document.getElementById("place2").style.display = "block";
                }
            });
        });
    </script>
    <script>
        function preventScroll() {

        }
        $('input.time-pick').timepicker({
            minuteStep: 15,
            showInpunts: true
        })
    </script>

    <script>
        $(document).ready(function () {

            $("div").scroll(function (e) {           
                $("div").scrollLeft(1000);
            });
            $(".bootstrap-timepicker-widget.dropdown-menu").css("direction", "ltr");
            $(".bootstrap-timepicker-widget").css("direction", "ltr");
            $(".bootstrap-timepicker-widget").css("color", "blue");
            $("timepicker-orient-bottom.open").css("direction", "ltr");

            $("#toDate1").change(function () {

                var date1 = $("#toDate1").val();
                var date2 = $("#toDate2").val();
                if (date1 != "" && date2 != "")
                    if (date1 > date2) {
                        $("#toDate2").val("");
                        $("#data-endDate").replaceWith("<span data-valmsg-replace='true' data-valmsg-for=end_date_fa' class='field-validation-error text-danger' id='data-endDate' >تاریخ شروع نمی تواند بعد از تاریخ پایان باشد</span>");
                    } else {
                        $("#data-endDate").replaceWith("<span id='data-endDate' ><span>");
                    }
            });
            $("#toDate2").change(function () {
                var date1 = $("#toDate1").val();
                var date2 = $("#toDate2").val();
                if (date1 != "" && date2 != "")
                    if (date1 > date2) {
                        $("#toDate2").val("");
                        $("#data-endDate").replaceWith("<span data-valmsg-replace='true' data-valmsg-for=end_date_fa' class='field-validation-error text-danger' id='data-endDate' >تاریخ شروع نمی تواند بعد از تاریخ پایان باشد</span>");
                    } else {
                        $("#data-endDate").replaceWith("<span id='data-endDate' ><span>");
                    }
            });
            });




      

    </script>

    <script>
        $('#btn1').click(function () {
            //check whether browser fully supports all File API
            if (window.File && window.FileReader && window.FileList && window.Blob) {
                //get the file size and file type from file input field
                var fsize = $('#js-upload-files')[0].files[0].size;
                var ftype = $('#js-upload-files')[0].files[0].type;
                var fname = $('#js-upload-files')[0].files[0].name;

                //if (fsize > 1048576) //do something if file size more than 1 mb (1048576)
                //{
                //    alert("Type :" + ftype + " | " + fsize + " bites\n(File: " + fname + ") حجم بیشتر از 1مگ است!");
                //    return false;
                //}
                switch (ftype) {
                    case 'image/png':
                    case 'image/gif':
                    case 'image/jpeg':
                    case 'image/pjpeg':
                        break;
                    default: {
                        alert("فقط '.jpeg','.jpg', '.png', '.gif', '.bmp' فرمت ها اجازه دارند.");
                        return false;
                    }
                }
            } else {
                alert("Please upgrade your browser, because your current browser lacks some new features we need!");
            }
        });
    </script>

</body>
</html>
<script>
    $("form").submit(function (e) {
        if ($('#tour_Tourist_bus').val() == '' && $('#tour_Vip_bus').val() == '' && $('#tour_Agency_car').val() == '' && $('#tour_personal_car').val() == '') {
            e.preventDefault();
            swal({
                title: "",
                text: "لطفا حداقل یکی از قیمت ها را پر کنید",
                icon: "error",
                button: "برگشت",
            })
        }

    });
</script>
<script>

    $(".bootstrap-timepicker-widget.dropdown-menu").css("direction", "ltr");
    $(".open").css("direction", "ltr");
</script>

<script>
    var counter = 1;
    var counterplace = 1;
    function AddFood() {
        html = '<div id="row' + counter + '" class="col-md-12 row"><div class="form-group"><div class="col-md-4"><label>نام غذا</label><input name="Food_Name" placeholder="نام" class="form-control" /></div><div class="col-md-4"><label>قیمت غذا</label><input name="Food_Price" placeholder="قیمت به تومان" class="form-control" /></div><div class="col-md-4"><center><br /><button type="button" id="' + counter++ + '" onclick="RemoveFood(this)" class="btn btn-danger">حذف</button></center></div></div></div>';
        $("#Food").append( html);
    }
    function AddPlace() {
        html = '<div id="placestay' + counterplace + '" class="col-md-12 row"><div class="form-group"><div class="col-md-4"><label>نام محل</label><input name="Place_Name" placeholder="نام" class="form-control" /></div><div class="col-md-4"><label>قیمت اضافه محل</label><input name="Place_Price" placeholder="قیمت به تومان" class="form-control" /></div><div class="col-md-4"><center><br /><button type="button" id="' + counterplace++ + '" onclick="RemovePlace(this)" class="btn btn-danger">حذف</button></center></div></div></div>';
        $("#Place").append(html);
    }
    function RemoveFood(btn) {
        var id = "row" + btn.id;
        document.getElementById(id).remove();
    }
    function RemovePlace(btn) {
        var idplace = "placestay" + btn.id;
        document.getElementById(idplace).remove();
    }
    $(document).keypress(function (even) {

        if (even.which == 13) {
            var itemName = $(document.activeElement).attr("id");
            debugger
            if (itemName != 'tour_Meal_Description' && itemName != 'tour_insuranceType' && itemName != 'tour_facilityType' && itemName != 'tour_needed_equipment')
                even.preventDefault();
        }
    })
</script>
<style type="text/css">
    .thumb-image {
        float: left;
        width: 100px;
        position: relative;
        padding: 5px;
    }
</style>
<script>
    $(document).ready(function () {
        $("#js-upload-files").on('change', function () {
            //Get count of selected files
            var countFiles = $(this)[0].files.length;
            var imgPath = $(this)[0].value;
            var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
            var image_holder = $("#image-holder");
            image_holder.empty();
            if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
                if (typeof (FileReader) != "undefined") {
                    //loop for each file selected for uploaded.
                    for (var i = 0; i < countFiles; i++) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $("<img />", {
                                "src": e.target.result,
                                "class": "thumb-image"
                            }).appendTo(image_holder);
                        }
                        image_holder.show();
                        reader.readAsDataURL($(this)[0].files[i]);
                    }
                } else {
                    alert("This browser does not support FileReader.");
                }
            } else {
                alert("Pls select only images");
            }
        });
       
    });
</script>


