﻿
@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
@using Tourist.Models
@using Tourist.CommonMethods
@model Payment_user
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="~/Content/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="~/Content/plugins/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.css" />
<link href="~/Content/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />

<!-- END PAGE LEVEL PLUGINS -->
<div class="page-content-wrapper">

    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE TITLE-->
        <!-- END PAGE TITLE-->
        <!-- END PAGE HEADER-->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="/Dashboard/index">داشبورد</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>تور</span>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>گزارش تور</span>
                </li>
            </ul>

        </div>
        <!-- BEGIN PAGE TITLE-->
        <h5 class="page-title">
            انتخاب تور
        </h5>
        <!-- END PAGE TITLE-->
        <!-- END PAGE BAR -->
        <!-- BEGIN DASHBOARD STATS 1-->
        @{
            List<Tour> tours = (List<Tour>)TempData["tour"];
        }
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-5">
                @*<label for="select2-single-input-sm" class="control-label">انتخاب تور</label>*@
                <select id="select2-single-input-sm" class="form-control input-sm select2-multiple">
                    <option value="0">تور خود را انتخاب کنید</option>
                    @foreach (var item in tours)
                    {
                        <option value="@item.Id">@item.Title-@CalendarMngr.JulianToPersian(item.Start_Date.Value)</option>
                    }
                </select>
                <span class="help-block">برای فیلترکردن تورها تاریخ ها را انتخاب کرده و بر روی فیلتر کلیک کنید در غیر اینصورت تور را انتخاب کنید</span>
            </div>
            <form action="/Dashboard/Filter" id="Reportform" method="post" enctype="multipart/form-data">

                <div class="col-md-7">
                    <div class="form-group">
                        @*<div class="input-group">
                                <div class="input-group-addon" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate1" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="left">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </div>
                                <input type="text" class="form-control" name="start_date" id="toDate1" placeholder="از تاریخ" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate1" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="left" />
                            </div>*@

                        <div class="col-md-5">
                            @*<label class="control-label">Disable Past Dates</label>*@
                            <div class="input-group input-small date date-picker" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate1" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="bottom">
                                <input type="text" class="form-control input-small" name="start_date" id="toDate1" placeholder="از تاریخ" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate1" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="bottom" readonly>
                                <span class="input-group-btn">
                                    <button class="btn default" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                            <span id="toDate1-err" style="color:#e03636" class="help-block"></span>
                        </div>
                        <div class="col-md-5">
                            @*<label class="control-label">Disable Past Dates</label>*@
                            <div class="input-group input-small date date-picker" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate2" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="bottom">
                                <input type="text" class="form-control input-small" name="end_date" id="toDate2" placeholder="تا تاریخ" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate2" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="bottom" readonly>
                                <span class="input-group-btn">
                                    <button class="btn default" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                            <span id="toDate2-err" style="color:#e03636" class="help-block"></span>
                        </div>
                        <div class="col-md-2">
                            @*<label class="control-label">click</label>*@
                            <button class="btn default" type="submit">
                                فیلتر
                            </button>

                        </div>

                    </div>
                </div>
            </form>
        </div>
        <br /><hr />
        <!-- END DASHBOARD STATS 1-->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN PORTLET-->
                <div class="portlet light form-fit bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-social-dribbble font-green"></i>
                            <span class="caption-subject font-red sbold uppercase" id="caption">تور انتخاب نشده</span>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <form action="/Dashboard/AddUserConfirm" id="payform" method="post" enctype="multipart/form-data">
                            <div class="form-body">
                                <div class="form-group row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-2">
                                        <label class="control-label">
                                            نام و نام خانوادگی
                                            <span class="required"> * </span>
                                        </label>
                                    </div>

                                    <div class="col-md-3">
                                        @Html.TextBoxFor(x => x.name, new { type = "text", @class = "form-control", id = "name", name = "name", placeholder = "نام و نام خانوادگی" })
                                        <span id="name-err" style="color:red"></span>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label">
                                            تاریخ تولد
                                            <span class="required"> * </span>
                                        </label>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="input-group">
                                            <div class="input-group-addon" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate3" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="bottom">
                                                <span class="fa fa-calendar"></span>
                                            </div>
                                            @Html.TextBoxFor(x => x.Born_Date_fa, new { type = "text", @readonly = "readonly", @class = "form-control", name = "namedate", id = "toDate3", placeholder = "تاریخ" })
                                        </div>
                                        <span id="toDate3-err" style="color:red"></span>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-2">
                                        <label class="control-label">
                                            شماره ملی
                                            <span class="required"> * </span>
                                        </label>
                                    </div>

                                    <div class="col-md-3">
                                        @Html.TextBoxFor(x => x.ssn, new { type = "text", id = "ssn", name = "ssn", @class = "form-control", placeholder = "شماره ملی" })
                                        <span id="ssn-err" style="color:red"></span>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label">
                                            تلفن
                                            <span class="required"> * </span>
                                        </label>
                                    </div>

                                    <div class="col-md-3">
                                        @Html.TextBoxFor(x => x.mobie, new { type = "text", id = "mobile", name = "mobie", @class = "form-control", placeholder = "تلفن" })
                                        <span id="mobile-err" style="color:red"></span>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-2">
                                        <label class="control-label">
                                            مبلغ پرداختی
                                            <span class="required"> * </span>
                                        </label>
                                    </div>

                                    <div class="col-md-3">
                                        @Html.TextBoxFor(x => x.pay, new { type = "text", id = "pay", name = "pay", @class = "form-control", placeholder = "مبلغ پرداختی" })
                                        <span id="pay-err" style="color:red"></span>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label">
                                            قیمت وسیله
                                            <span class="required"> * </span>
                                        </label>
                                    </div>

                                    <div class="col-md-3">
                                        @Html.TextBoxFor(x => x.transferPrice, new { type = "text", id = "transferPrice", name = "transferPrice", @class = "form-control", placeholder = "قیمت وسیله" })
                                        <span id="transferPrice-err" style="color:red"></span>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-2">
                                        <label class="control-label">
                                            قیمت اضافه
                                            <span class="required"> * </span>
                                        </label>
                                    </div>

                                    <div class="col-md-3">
                                        @Html.TextBoxFor(x => x.placeprice, new { type = "text", id = "placeprice", name = "placeprice", @class = "form-control", placeholder = "قیمت اضافه" })
                                        <span id="placeprice-err" style="color:red"></span>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label">
                                            اپشن اضافه
                                            <span class="required"> * </span>
                                        </label>
                                    </div>

                                    <div class="col-md-3">
                                        @Html.TextBoxFor(x => x.ExteraOption, new { type = "text", id = "ExteraOption", name = "ExteraOption", @class = "form-control", placeholder = "اپشن اضافه" })
                                        <span id="ExteraOption-err" style="color:red"></span>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-1"></div>
                                        <div class="col-md-2">
                                            <label class="control-label">
                                                نوع وسیله
                                                <span class="required"> * </span>
                                            </label>
                                        </div>

                                        <div class="col-md-3">
                                            @Html.TextBoxFor(x => x.transfer, new { type = "text", id = "transfer", name = "transfer", @class = "form-control", placeholder = "نوع وسیله" })
                                            <span id="transfer-err" style="color:red"></span>
                                        </div>
                                    @Html.TextBoxFor(x => x.Tour_id, new { type = "hidden", id = "tourid" })
                                    <div class="col-md-2">
                                        <button type="submit" class="btn green">
                                            <i class="fa fa-check"></i> ثبت
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>
                <!-- END PORTLET-->
            </div>
        </div>
        

    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- BEGIN CORE PLUGINS -->
<script src="~/Content/Template/js/jquery-1.11.2.min.js"></script>
<script src="~/Scripts/Validation.js"></script>

<script src="~/Content/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>

<script src="~/Content/assets/global/scripts/app.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<script src="~/Content/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="~/Content/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
<script src="~/Content/assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
<script src="~/Content/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->
<!-- Specific scripts -->
<script src="~/Content/Template/js/icheck.js"></script>
<script src="~/Content/Plugins/MdBootstrapPersianDateTimePicker/jalaali.js" type="text/javascript"></script>
<script src="~/Content/Plugins/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.js" type="text/javascript"></script>
<script>

    $("#select2-single-input-sm").change(function (data) {
        var id = $(this).val();
        //console.log(id);
        var cap = this.options[this.selectedIndex].innerHTML;
        if (id != 0) {
            document.getElementById("caption").innerHTML = cap;
            document.getElementById("tourid").setAttribute("Value", id);
        }

    });
</script>
<script>

    $(document).ready(function () {

        $('#payform').validate({ // initialize the plugin

            rules: {
                name: {
                    required: true,
                },
                Born_Date_fa: {
                    required: true,
                }, mobie: {
                    required: true,
                }, ssn: {
                    required: true,
                }, transfer: {
                    required: true,
                }, placeprice: {
                    required: true,
                }, transferPrice: {
                    required: true,
                }, pay: {
                    required: true,
                }
            },
            messages: {

                name: {
                    required: "وارد کردن نام الزامی است",

                }, ssn: {
                    required: "وارد کردن شماره ملی الزامی است",

                }, mobie: {
                    required: "وارد کردن تلفن الزامی است",

                }, Born_Date_fa: {
                    required: "وارد کردن تاریخ الزامی است",

                }, placeprice: {
                    required: "وارد کردن قیمت الزامی است",

                }, transferPrice: {
                    required: "وارد کردن قیمت الزامی است",

                }, pay: {
                    required: "وارد کردن قیمت الزامی است",

                },
                transfer: {
                    required: "وارد کردن وسیله الزامی است",

                },

            },

            submitHandler: function (form) {

                form.submit();
            }
        });

    });
</script>

<script>
    var id = "toDate3";
    document.getElementById(id).setAttribute("data-mddatetimepicker", "true");
    document.getElementById(id).setAttribute("data-trigger", "click");
    document.getElementById(id).setAttribute("data-groupid", "group1");
    document.getElementById(id).setAttribute("data-targetselector", "#" + id);
    document.getElementById(id).setAttribute("data-todate", "true");
    document.getElementById(id).setAttribute("data-enabletimepicker", "false");
    document.getElementById(id).setAttribute("data-placement", "bottom");
</script>

