﻿
@{
    ViewBag.Title = "توریپس | تسویه";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
@using Tourist.Models
@using Tourist.CommonMethods
@model RequestBalance
<head>
    <title>توریپس | تسویه</title>
    <meta name="description" content="تسویه حساب های توریپس" />
</head>
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="~/Content/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->

<style>
    .swal-footer {
        background-color: rgb(245, 248, 250);
        margin-top: 32px;
        border-top: 1px solid #E9EEF1;
        overflow: hidden;
        text-align: center;
    }

    .swal-button {
        text-align: center;
    }
</style>

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE TITLE-->
        <h3 class="page-title">
            تسویه
        </h3>
        <!-- END PAGE TITLE-->
        <!-- END PAGE HEADER-->
        <!-- BEGIN DASHBOARD STATS 1-->
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat blue">
                    <div class="visual">
                        <i class="fa fa-file-image-o"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup" data-value="@TempData["AllIncome"]">0</span><span style="font-size:12px;letter-spacing:0px"> تومان</span>
                        </div>
                        <div class="desc"> موجودی </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div>
                    <div class="dashboard-stat red">
                        <div class="visual">
                            <i class="fa fa-money"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup" data-value="@TempData["Available"]">0</span><span style="font-size:12px;letter-spacing:0px"> تومان</span>
                            </div>
                            <div class="desc"> قابل برداشت </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat green">
                    <div class="visual">
                        <i class="fa fa-bullhorn"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup" data-value="@TempData["received"]">0</span><span style="font-size:12px;letter-spacing:0px"> تومان</span>
                        </div>
                        <div class="desc"> دریافت شده </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat purple">
                    <div class="visual">
                        <i class="fa fa-thumbs-o-up"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup" data-value="@TempData["RequestCount"]">0</span>
                        </div>
                        <div class="desc"> تعداد درخواست تایید شده </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <!-- END DASHBOARD STATS 1-->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN PORTLET-->
                <div class="portlet light form-fit bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-social-dribbble font-green"></i>
                            <span class="caption-subject font-green bold uppercase">درخواست تسویه</span>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <form action="/Dashboard/BalanceConfirm" onsubmit="return validateForm()" id="form" method="post" enctype="multipart/form-data">
                            <div class="form-body">
                                <div class="form-group row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-2">
                                        <label class="control-label">
                                            مبلغ تسویه
                                            <span class="required"> * </span>
                                        </label>
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(x => x.Amount, new { type = "text", @class = "form-control", placeholder = "100000تومان", name = "name" })
                                        @*@Html.ValidationMessageFor(x => x.Amount, "", new { @class = "text-danger" })*@
                                    </div>
                                    <div class="col-md-2">
                                        <button type="submit" class="btn green">
                                            <i class="fa fa-check"></i> ثبت
                                        </button>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="note note-info  ">
                                            مبلغ را به تومان وارد کرده و ثبت را کلیک کنید
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>
                <!-- END PORTLET-->
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <!-- BEGIN BORDERED TABLE PORTLET-->
                <div class="portlet light portlet-fit bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-credit-card font-red"></i>
                            <span class="caption-subject font-red sbold uppercase">لیست درخواست های ثبت شده</span>
                        </div>

                    </div>
                    @{
                        List<RequestBalance> requests = (List<RequestBalance>)@TempData["Request"];
                        int counter = 1;
                    }
                    <div class="portlet-body">
                        <div class='portlet-body flip-scroll'>
                            <table class='table table-bordered table-striped table-condensed flip-content'>
                                <thead class='flip-content'>
                                    <tr class="uppercase">
                                        <th> ردیف </th>
                                        <th> تاریخ </th>
                                        <th> زمان </th>
                                        <th> قیمت </th>
                                        <th> توضیحات </th>
                                        <th> وضعیت </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in requests)
                                    {
                                        <tr>
                                            <td> @counter </td>
                                            <td> @CalendarMngr.JulianToPersian(item.Date.Value.Date) </td>
                                            <td>  @item.Date.Value.ToShortTimeString()</td>
                                            <td>@item.Amount</td>

                                            <td>@item.Decription</td>
                                            <td>
                                                @if (item.Confirmation == 1)
                                                {
                                                    <span class="label label-sm label-success"> تایید شده </span>
                                                }
                                                else
                                                {
                                                    <span class="label label-sm label-danger"> تایید نشده </span>
                                                }


                                            </td>
                                        </tr>
                                        counter++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END BORDERED TABLE PORTLET-->
            </div>
        </div>

    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- BEGIN CORE PLUGINS -->
<script src="~/Content/Template/js/jquery-1.11.2.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<script src="~/Content/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/scripts/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS
<!-- BEGIN THEME LAYOUT SCRIPTS -->
@*<script src='~/Content/assets/pages/scripts/table-datatables-rowreorder.min.js' type='text/javascript'></script>*@

<script src="~/Content/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
<script src="~/Content/assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
<script src="~/Content/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->
<script src="~/Scripts/sweetalert.min.js"></script>

<script>
    function validateForm() {
        var Amount = document.forms["form"]["Amount"].value;
        var error = "";
        x = 0;
        if (Amount == "") {
            error+="وارد کردن قیمت الزامی است"
            x = 1;
        } else {
            if (!parseInt(Amount, 10)) {
                error += "\nقیمت باید عدد باشد";
                x = 1;
            }
        }
        if (Boolean(x)) {
             swal({
                 title: "",
                 text: error,
                icon: "error",
                button: "خروج"
            })
            return false;
        }
       

    }

    $(document).ready(function () {
        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
    });
</script>


@{
    if (TempData["success"] != null)
    {
        string text = $"{TempData["success"]}";

        <script>
                swal({
                title: "",
                text: "@text",
                icon: "success",
                button: "خروج"
                })
        </script>
    }
    else if (TempData["error"] != null)
    {
        string text = $"{TempData["error"]}";
        <script>
            swal({
                title: "",
                text: "@text",
                icon: "error",
                button: "خروج"
            })
        </script>
    }
}

