﻿
@{
    ViewBag.Title = "Discount";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
@using Tourist.CommonMethods
@using Tourist.Models;

@model Discount


<head>
    <title>توریپس | کدتخفیف</title>
    <meta name="description" content="کدتخفیف تور های توریپس" />
</head>
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="~/Content/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap-rtl.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="~/Content/assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->
<!--datepicker-->
<link rel="stylesheet" href="~/Content/plugins/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.css" />
<!--Timepicker-->
<link href="~/Content/Plugins/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<!-- END HEAD -->
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="/Dashboard/index">داشبورد</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>تور</span>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>کدتخفیف</span>
                </li>
            </ul>

        </div>
        <!-- END PAGE BAR -->
        <!-- BEGIN PAGE TITLE-->
        <h3 class="page-title">
            اضافه کردن کدتخفیف جدید
        </h3>
        <!-- END PAGE TITLE-->
        <!-- END PAGE HEADER-->
        <div class="row">
            <form action="/Dashboard/FilterEdit" id="Reportform" method="post" enctype="multipart/form-data">
                <div class="col-md-4">
                    @Html.LabelFor(x => x.PercentDiscount, "درصد تخفیف")
                    @Html.TextBoxFor(x => x.PercentDiscount, new { @class = "form-control", value = "", name = "percent", id = "percent" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(x => x.Price, "مبلغ تخفیف")
                    @Html.TextBoxFor(x => x.Price, new { @class = "form-control", value = "", name = "percent", id = "percent" })
                </div>
                <div class="col-md-4">
                    <label>تاریخ انقضا</label>
                    @*<label class="control-label">Disable Past Dates</label>*@
                    <div class="input-group input-small date date-picker" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate2" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="bottom">
                        <input type="text" class="form-control input-small" name="end_date" id="toDate2" placeholder="تا تاریخ" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate2" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="bottom" readonly>
                        <span class="input-group-btn">
                            <button class="btn default" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>
                    <!-- /input-group -->
                    <span id="toDate2-err" style="color:#e03636" class="help-block"></span>
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(x => x.IsPercent, "درصد تخفیف در نظر گرفته شود")
                    @Html.CheckBoxFor(x => x.IsPercent.Value)
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(x => x.IsProfile, "برای همه تور ها در نظر گرفته شود")
                    @Html.CheckBoxFor(x => x.IsProfile.Value)
                </div>

                <div class="col-md-5">
                    @*<label for="select2-single-input-sm" class="control-label">انتخاب تور</label>*@
                    <select id="select2-single-input-sm" class="form-control input-sm select2-multiple">
                        <option value="0">تور خود را انتخاب کنید</option>
                        @*@foreach (var item in Model)
                        {
                            <option value="@item.Id">@item.Title-@CalendarMngr.JulianToPersian(item.Start_Date.Value)</option>
                        }*@
                    </select>
                    <span class="help-block">برای فیلترکردن تورها تاریخ ها را انتخاب کرده و بر روی فیلتر کلیک کنید در غیر اینصورت تور را انتخاب کنید</span>
                </div>

                <div class="col-md-7">
                    <div class="form-group">
                        @*<div class="input-group">
                            <div class="input-group-addon" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate1" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="left">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </div>
                            <input type="text" class="form-control" name="start_date" id="toDate1" placeholder="از تاریخ" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate1" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="left" />
                        </div>*@

                        <div class="col-md-5">
                            @*<label class="control-label">Disable Past Dates</label>*@
                            <div class="input-group input-small date date-picker" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate1" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="bottom">
                                <input type="text" class="form-control input-small" name="start_date" id="toDate1" placeholder="از تاریخ" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate1" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="bottom" readonly>
                                <span class="input-group-btn">
                                    <button class="btn default" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                            <span id="toDate1-err" style="color:#e03636" class="help-block"></span>
                        </div>

                        <div class="col-md-2">
                            @*<label class="control-label">click</label>*@
                            <button class="btn default" type="submit">
                                فیلتر
                            </button>

                        </div>

                    </div>
                </div>
            </form>
        </div>
        <br /><hr />
        <div class="portlet light bordered" id="form_wizard_1">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-red"></i>
                    <span class="caption-subject font-red bold uppercase">
                        اضافه کردن کدتخفیف جدید
                    </span>
                </div>
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                        <i class="icon-cloud-upload"></i>
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                        <i class="icon-wrench"></i>
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                        <i class="icon-trash"></i>
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal" action="#" id="submit_form" method="POST">
                    <div class="form-wizard">
                        <div class="form-body">
                            <ul class="nav nav-pills nav-justified steps">
                                <li>
                                    <a href="#tab1" data-toggle="tab" class="step">
                                        <span class="number"> 1 </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i> انتخاب نوع کدتخفیف
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab2" data-toggle="tab" class="step">
                                        <span class="number"> 2 </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i> Profile Setup
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab3" data-toggle="tab" class="step active">
                                        <span class="number"> 3 </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i> Billing Setup
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab4" data-toggle="tab" class="step">
                                        <span class="number"> 4 </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i> Confirm
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            <div id="bar" class="progress progress-striped" role="progressbar">
                                <div class="progress-bar progress-bar-success"> </div>
                            </div>
                            <div class="tab-content">
                                
                                <div class="alert alert-danger display-none">
                                    <button class="close" data-dismiss="alert"></button> You have some form errors. Please check below.
                                </div>
                                <div class="alert alert-success display-none">
                                    <button class="close" data-dismiss="alert"></button> Your form validation is successful!
                                </div>
                                <div class="tab-pane active" id="tab1">
                                    <div class="col-md-6">
                                        <h3 class="block">نوع کدتخفیف را مشخص کنید</h3>
                                        <div class="form-group">
                                            <div class="radio-list">
                                                <div class="col-md-6">
                                                    <label>
                                                        <input type="radio" name="gender" value="M" data-title="Male" /> درصدی
                                                    </label>
                                                </div>
                                               
                                                <div class="col-md-6">
                                                    <label>
                                                        <input type="radio" name="gender" value="F" data-title="Female" /> مبلغی
                                                    </label>
                                                </div>
                                                
                                            </div>
                                            <div id="form_gender_error"> </div>
                                        </div>
                                        
                                        
                                        
                                    </div>
                                    <div class="col-md-6">
                                        <div class="m-heading-1 border-green m-bordered">
                                            <h3>Twitter Bootstrap Wizard Plugin</h3>
                                            <p>
                                                This twitter bootstrap plugin builds a wizard out of a formatter tabbable structure. It allows to build a wizard functionality using buttons to go through the different wizard steps and using events allows to hook into
                                                each step individually.
                                            </p>
                                            <p>
                                                For more info please check out
                                                <a class="btn red btn-outline" href="http://vadimg.com/twitter-bootstrap-wizard-example" target="_blank">the official documentation</a>
                                            </p>
                                        </div>
                                    </div>
                                   
                                </div>
                                <div class="tab-pane" id="tab2">
                                    <h3 class="block">Provide your profile details</h3>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Fullname
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" name="fullname" />
                                            <span class="help-block"> Provide your fullname </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Phone Number
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" name="phone" />
                                            <span class="help-block"> Provide your phone number </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Gender
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-4">
                                            <div class="radio-list">
                                                <label>
                                                    <input type="radio" name="gender" value="M" data-title="Male" /> Male
                                                </label>
                                                <label>
                                                    <input type="radio" name="gender" value="F" data-title="Female" /> Female
                                                </label>
                                            </div>
                                            <div id="form_gender_error"> </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Address
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" name="address" />
                                            <span class="help-block"> Provide your street address </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            City/Town
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" name="city" />
                                            <span class="help-block"> Provide your city or town </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Country</label>
                                        <div class="col-md-4">
                                            <select name="country" id="country_list" class="form-control">
                                                <option value=""></option>
                                                <option value="AF">Afghanistan</option>
                                                <option value="AL">Albania</option>
                                                <option value="DZ">Algeria</option>
                                                <option value="AS">American Samoa</option>
                                                <option value="AD">Andorra</option>
                                                <option value="AO">Angola</option>
                                                <option value="AI">Anguilla</option>
                                                <option value="AR">Argentina</option>
                                                <option value="AM">Armenia</option>
                                                <option value="AW">Aruba</option>
                                                <option value="AU">Australia</option>
                                                <option value="AT">Austria</option>
                                                <option value="AZ">Azerbaijan</option>
                                                <option value="BS">Bahamas</option>
                                                <option value="BH">Bahrain</option>
                                                <option value="BD">Bangladesh</option>
                                                <option value="BB">Barbados</option>
                                                <option value="BY">Belarus</option>
                                                <option value="BE">Belgium</option>
                                                <option value="BZ">Belize</option>
                                                <option value="BJ">Benin</option>
                                                <option value="BM">Bermuda</option>
                                                <option value="BT">Bhutan</option>
                                                <option value="BO">Bolivia</option>
                                                <option value="BA">Bosnia and Herzegowina</option>
                                                <option value="BW">Botswana</option>
                                                <option value="BV">Bouvet Island</option>
                                                <option value="BR">Brazil</option>
                                                <option value="IO">British Indian Ocean Territory</option>
                                                <option value="BN">Brunei Darussalam</option>
                                                <option value="BG">Bulgaria</option>
                                                <option value="BF">Burkina Faso</option>
                                                <option value="BI">Burundi</option>
                                                <option value="KH">Cambodia</option>
                                                <option value="CM">Cameroon</option>
                                                <option value="CA">Canada</option>
                                                <option value="CV">Cape Verde</option>
                                                <option value="KY">Cayman Islands</option>
                                                <option value="CF">Central African Republic</option>
                                                <option value="TD">Chad</option>
                                                <option value="CL">Chile</option>
                                                <option value="CN">China</option>
                                                <option value="CX">Christmas Island</option>
                                                <option value="CC">Cocos (Keeling) Islands</option>
                                                <option value="CO">Colombia</option>
                                                <option value="KM">Comoros</option>
                                                <option value="CG">Congo</option>
                                                <option value="CD">Congo, the Democratic Republic of the</option>
                                                <option value="CK">Cook Islands</option>
                                                <option value="CR">Costa Rica</option>
                                                <option value="CI">Cote d'Ivoire</option>
                                                <option value="HR">Croatia (Hrvatska)</option>
                                                <option value="CU">Cuba</option>
                                                <option value="CY">Cyprus</option>
                                                <option value="CZ">Czech Republic</option>
                                                <option value="DK">Denmark</option>
                                                <option value="DJ">Djibouti</option>
                                                <option value="DM">Dominica</option>
                                                <option value="DO">Dominican Republic</option>
                                                <option value="EC">Ecuador</option>
                                                <option value="EG">Egypt</option>
                                                <option value="SV">El Salvador</option>
                                                <option value="GQ">Equatorial Guinea</option>
                                                <option value="ER">Eritrea</option>
                                                <option value="EE">Estonia</option>
                                                <option value="ET">Ethiopia</option>
                                                <option value="FK">Falkland Islands (Malvinas)</option>
                                                <option value="FO">Faroe Islands</option>
                                                <option value="FJ">Fiji</option>
                                                <option value="FI">Finland</option>
                                                <option value="FR">France</option>
                                                <option value="GF">French Guiana</option>
                                                <option value="PF">French Polynesia</option>
                                                <option value="TF">French Southern Territories</option>
                                                <option value="GA">Gabon</option>
                                                <option value="GM">Gambia</option>
                                                <option value="GE">Georgia</option>
                                                <option value="DE">Germany</option>
                                                <option value="GH">Ghana</option>
                                                <option value="GI">Gibraltar</option>
                                                <option value="GR">Greece</option>
                                                <option value="GL">Greenland</option>
                                                <option value="GD">Grenada</option>
                                                <option value="GP">Guadeloupe</option>
                                                <option value="GU">Guam</option>
                                                <option value="GT">Guatemala</option>
                                                <option value="GN">Guinea</option>
                                                <option value="GW">Guinea-Bissau</option>
                                                <option value="GY">Guyana</option>
                                                <option value="HT">Haiti</option>
                                                <option value="HM">Heard and Mc Donald Islands</option>
                                                <option value="VA">Holy See (Vatican City State)</option>
                                                <option value="HN">Honduras</option>
                                                <option value="HK">Hong Kong</option>
                                                <option value="HU">Hungary</option>
                                                <option value="IS">Iceland</option>
                                                <option value="IN">India</option>
                                                <option value="ID">Indonesia</option>
                                                <option value="IR">Iran (Islamic Republic of)</option>
                                                <option value="IQ">Iraq</option>
                                                <option value="IE">Ireland</option>
                                                <option value="IL">Israel</option>
                                                <option value="IT">Italy</option>
                                                <option value="JM">Jamaica</option>
                                                <option value="JP">Japan</option>
                                                <option value="JO">Jordan</option>
                                                <option value="KZ">Kazakhstan</option>
                                                <option value="KE">Kenya</option>
                                                <option value="KI">Kiribati</option>
                                                <option value="KP">Korea, Democratic People's Republic of</option>
                                                <option value="KR">Korea, Republic of</option>
                                                <option value="KW">Kuwait</option>
                                                <option value="KG">Kyrgyzstan</option>
                                                <option value="LA">Lao People's Democratic Republic</option>
                                                <option value="LV">Latvia</option>
                                                <option value="LB">Lebanon</option>
                                                <option value="LS">Lesotho</option>
                                                <option value="LR">Liberia</option>
                                                <option value="LY">Libyan Arab Jamahiriya</option>
                                                <option value="LI">Liechtenstein</option>
                                                <option value="LT">Lithuania</option>
                                                <option value="LU">Luxembourg</option>
                                                <option value="MO">Macau</option>
                                                <option value="MK">Macedonia, The Former Yugoslav Republic of</option>
                                                <option value="MG">Madagascar</option>
                                                <option value="MW">Malawi</option>
                                                <option value="MY">Malaysia</option>
                                                <option value="MV">Maldives</option>
                                                <option value="ML">Mali</option>
                                                <option value="MT">Malta</option>
                                                <option value="MH">Marshall Islands</option>
                                                <option value="MQ">Martinique</option>
                                                <option value="MR">Mauritania</option>
                                                <option value="MU">Mauritius</option>
                                                <option value="YT">Mayotte</option>
                                                <option value="MX">Mexico</option>
                                                <option value="FM">Micronesia, Federated States of</option>
                                                <option value="MD">Moldova, Republic of</option>
                                                <option value="MC">Monaco</option>
                                                <option value="MN">Mongolia</option>
                                                <option value="MS">Montserrat</option>
                                                <option value="MA">Morocco</option>
                                                <option value="MZ">Mozambique</option>
                                                <option value="MM">Myanmar</option>
                                                <option value="NA">Namibia</option>
                                                <option value="NR">Nauru</option>
                                                <option value="NP">Nepal</option>
                                                <option value="NL">Netherlands</option>
                                                <option value="AN">Netherlands Antilles</option>
                                                <option value="NC">New Caledonia</option>
                                                <option value="NZ">New Zealand</option>
                                                <option value="NI">Nicaragua</option>
                                                <option value="NE">Niger</option>
                                                <option value="NG">Nigeria</option>
                                                <option value="NU">Niue</option>
                                                <option value="NF">Norfolk Island</option>
                                                <option value="MP">Northern Mariana Islands</option>
                                                <option value="NO">Norway</option>
                                                <option value="OM">Oman</option>
                                                <option value="PK">Pakistan</option>
                                                <option value="PW">Palau</option>
                                                <option value="PA">Panama</option>
                                                <option value="PG">Papua New Guinea</option>
                                                <option value="PY">Paraguay</option>
                                                <option value="PE">Peru</option>
                                                <option value="PH">Philippines</option>
                                                <option value="PN">Pitcairn</option>
                                                <option value="PL">Poland</option>
                                                <option value="PT">Portugal</option>
                                                <option value="PR">Puerto Rico</option>
                                                <option value="QA">Qatar</option>
                                                <option value="RE">Reunion</option>
                                                <option value="RO">Romania</option>
                                                <option value="RU">Russian Federation</option>
                                                <option value="RW">Rwanda</option>
                                                <option value="KN">Saint Kitts and Nevis</option>
                                                <option value="LC">Saint LUCIA</option>
                                                <option value="VC">Saint Vincent and the Grenadines</option>
                                                <option value="WS">Samoa</option>
                                                <option value="SM">San Marino</option>
                                                <option value="ST">Sao Tome and Principe</option>
                                                <option value="SA">Saudi Arabia</option>
                                                <option value="SN">Senegal</option>
                                                <option value="SC">Seychelles</option>
                                                <option value="SL">Sierra Leone</option>
                                                <option value="SG">Singapore</option>
                                                <option value="SK">Slovakia (Slovak Republic)</option>
                                                <option value="SI">Slovenia</option>
                                                <option value="SB">Solomon Islands</option>
                                                <option value="SO">Somalia</option>
                                                <option value="ZA">South Africa</option>
                                                <option value="GS">South Georgia and the South Sandwich Islands</option>
                                                <option value="ES">Spain</option>
                                                <option value="LK">Sri Lanka</option>
                                                <option value="SH">St. Helena</option>
                                                <option value="PM">St. Pierre and Miquelon</option>
                                                <option value="SD">Sudan</option>
                                                <option value="SR">Suriname</option>
                                                <option value="SJ">Svalbard and Jan Mayen Islands</option>
                                                <option value="SZ">Swaziland</option>
                                                <option value="SE">Sweden</option>
                                                <option value="CH">Switzerland</option>
                                                <option value="SY">Syrian Arab Republic</option>
                                                <option value="TW">Taiwan, Province of China</option>
                                                <option value="TJ">Tajikistan</option>
                                                <option value="TZ">Tanzania, United Republic of</option>
                                                <option value="TH">Thailand</option>
                                                <option value="TG">Togo</option>
                                                <option value="TK">Tokelau</option>
                                                <option value="TO">Tonga</option>
                                                <option value="TT">Trinidad and Tobago</option>
                                                <option value="TN">Tunisia</option>
                                                <option value="TR">Turkey</option>
                                                <option value="TM">Turkmenistan</option>
                                                <option value="TC">Turks and Caicos Islands</option>
                                                <option value="TV">Tuvalu</option>
                                                <option value="UG">Uganda</option>
                                                <option value="UA">Ukraine</option>
                                                <option value="AE">United Arab Emirates</option>
                                                <option value="GB">United Kingdom</option>
                                                <option value="US">United States</option>
                                                <option value="UM">United States Minor Outlying Islands</option>
                                                <option value="UY">Uruguay</option>
                                                <option value="UZ">Uzbekistan</option>
                                                <option value="VU">Vanuatu</option>
                                                <option value="VE">Venezuela</option>
                                                <option value="VN">Viet Nam</option>
                                                <option value="VG">Virgin Islands (British)</option>
                                                <option value="VI">Virgin Islands (U.S.)</option>
                                                <option value="WF">Wallis and Futuna Islands</option>
                                                <option value="EH">Western Sahara</option>
                                                <option value="YE">Yemen</option>
                                                <option value="ZM">Zambia</option>
                                                <option value="ZW">Zimbabwe</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Remarks</label>
                                        <div class="col-md-4">
                                            <textarea class="form-control" rows="3" name="remarks"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab3">
                                    <h3 class="block">Provide your billing and credit card details</h3>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Card Holder Name
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" name="card_name" />
                                            <span class="help-block"> </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Card Number
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" name="card_number" />
                                            <span class="help-block"> </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            CVC
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-4">
                                            <input type="text" placeholder="" class="form-control" name="card_cvc" />
                                            <span class="help-block"> </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Expiration(MM/YYYY)
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-4">
                                            <input type="text" placeholder="MM/YYYY" maxlength="7" class="form-control" name="card_expiry_date" />
                                            <span class="help-block"> e.g 11/2020 </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Payment Options
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-4">
                                            <div class="checkbox-list">
                                                <label>
                                                    <input type="checkbox" name="payment[]" value="1" data-title="Auto-Pay with this Credit Card." /> Auto-Pay with this Credit Card
                                                </label>
                                                <label>
                                                    <input type="checkbox" name="payment[]" value="2" data-title="Email me monthly billing." /> Email me monthly billing
                                                </label>
                                            </div>
                                            <div id="form_payment_error"> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab4">
                                    <h3 class="block">Confirm your account</h3>
                                    <h4 class="form-section">Account</h4>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Username:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="username"> </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Email:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="email"> </p>
                                        </div>
                                    </div>
                                    <h4 class="form-section">Profile</h4>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Fullname:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="fullname"> </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Gender:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="gender"> </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Phone:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="phone"> </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Address:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="address"> </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">City/Town:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="city"> </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Country:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="country"> </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Remarks:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="remarks"> </p>
                                        </div>
                                    </div>
                                    <h4 class="form-section">Billing</h4>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Card Holder Name:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="card_name"> </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Card Number:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="card_number"> </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">CVC:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="card_cvc"> </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Expiration:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="card_expiry_date"> </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Payment Options:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="payment[]"> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <a href="javascript:;" class="btn default button-previous">
                                        <i class="fa fa-angle-left"></i> Back
                                    </a>
                                    <a href="javascript:;" class="btn btn-outline green button-next">
                                        Continue
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                    <a href="javascript:;" class="btn green button-submit">
                                        Submit
                                        <i class="fa fa-check"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br /><hr />
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light portlet-fit bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-settings font-red"></i>
                            <span class="caption-subject font-red sbold uppercase" id="caption">تور انتخاب نشده</span>
                        </div>
                    </div>
                    @*class="table table-striped table-bordered table-hover order-column" id="sample_2"*@
                    <div class="portlet-body">
                        <table class="table table-striped table-hover table-bordered" id="sample_2">
                            <thead>
                                <tr>
                                    <th> ویرایش </th>
                                    <th> حذف </th>
                                </tr>
                            </thead>
                            <tbody id="body"></tbody>
                        </table>
                    </div>

                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>
    </div>
    <!--small-->
    <div class="modal fade bs-modal-sm" id="small" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">تایید</h4>
                </div>
                <div class="modal-body"> از رفتن به صفحه ویرایش اطمینان دارید </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">بستن</button>
                    <button type="button" class="btn green">رفتن به صفحه ویرایش</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!--small-->
    <div class="modal fade bs-modal-sm" id="small2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">تایید</h4>
                </div>
                <div class="modal-body"> از حذف تور اطمینان دارید </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">بستن</button>
                    <button type="button" id="deletefinal" class="btn green">حذف</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- responsive -->
    <div id="responsive" class="modal fade" tabindex="-1" data-width="300">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">تایید ویرایش</h4>
        </div>
        <form action="/Dashboard/LittleEdit" id="form1">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <center>
                            <button type="button" id="editfinal" class="btn blue">رفتن به صفحه کامل ویرایش</button>
                        </center>
                        <div class="col-md-6">
                            <p>
                                <label>ظرفیت کل</label>
                                <input class="form-control" value="" name="capacity" id="capacity" type="text">
                                <span id="capacity-err" style="color:red"></span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <label>ظرفیت باقی مانده</label>
                                <input class="form-control" value="" name="Remainder" id="Remainder" type="text">
                                <span id="Remainder-err" style="color:red"></span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <label id="1">قیمت اتوبوس مسافرتی</label>
                                <input class="form-control" value="" name="PriceTourist" id="PriceTourist" type="text">
                                <span id="PriceTourist-err" style="color:red"></span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p id="kodak">
                                <label id="2">قیمت اتوبوس VIP</label>
                                <input class="form-control" value="" name="PriceVip" id="PriceVip" type="text">
                                <span id="PriceVip-err" style="color:red"></span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <label id="3">قیمت ماشین شخصی</label>
                                <input class="form-control" value="" name="PricePersonal" id="PricePersonal" type="text">
                                <span id="PricePersonal-err" style="color:red"></span>

                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <label id="4">قیمت ماشین آژانس</label>
                                <input class="form-control" value="" name="PriceAgency" id="PriceAgency" type="text">
                                <span id="PriceAgency-err" style="color:red"></span>
                            </p>
                        </div>
                        <input type="hidden" name="id" value="" id="idtour" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-outline dark">بستن</button>
                <button type="submit" class="btn green">ذخیره تغیرات</button>

            </div>
        </form>
    </div>
</div>
<!-- END CONTENT BODY -->
<!-- END CONTENT -->
<!-- BEGIN CORE PLUGINS -->

<script src="~/Content/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!--save -->
<script src="~/Scripts/FileSaver.min.js"></script>
<script src="~/Scripts/tableexport.min.js"></script>
<script src="~/Scripts/jquery.base64.js"></script>
<script src="~/Scripts/html2canvas.min.js"></script>
<script src="~/Scripts/tableExport.jquery.plugin/jspdf/libs/sprintf.js"></script>
<script src="~/Scripts/tableExport.jquery.plugin/jspdf/jspdf.js"></script>
<script src="~/Scripts/tableExport.jquery.plugin/jspdf/libs/base64.js"></script>
<!--save -->

<script>


    let id;
    $("#select2-single-input-sm").change(function (data) {
        id = $(this).val();
        //console.log(id);
        var cap = this.options[this.selectedIndex].innerHTML;
        document.getElementById("idtour").setAttribute("value", id);
        if (id !== 0) {
            document.getElementById("caption").innerHTML = cap;
            var str = "";
            var jqxhr = $.getJSON("/Dashboard/getTourbyid?id=" + id, function (data) {
                $(data).each(function (obj) {
                    if (data[obj].Tourist_bus === undefined || data[obj].Tourist_bus == null) {
                        data[obj].Tourist_bus = "";
                    }
                    if (data[obj].Vip_bus === undefined || data[obj].Vip_bus == null) {
                        data[obj].Vip_bus = "";
                    }
                    if (data[obj].Agency_car === undefined || data[obj].Agency_car == null) {
                        data[obj].Agency_car = "";
                    }
                    if (data[obj].personal_car === undefined || data[obj].personal_car == null) {
                        data[obj].personal_car = "";
                    }
                    if (data[obj].Remainder === undefined) {
                        data[obj].Remainder = data[obj].Capacity;
                    }
                    str += "<tr>" + "<td><a class='edit' data-toggle='modal' href='#responsive'> ویرایش </a></td ><td><a a class='delete'id='delete'data-toggle='modal' href='#small2'> حذف </a></td>" + "</tr>";
                    if (data[obj].Type === "مادروکودک") {
                        document.getElementById("1").innerHTML = "مادروکودک";
                        document.getElementById("2").innerHTML = "کودک";
                        document.getElementById("kodak").style.display = "none";
                        document.getElementById("3").innerHTML = "کودک اضافه";
                        document.getElementById("4").innerHTML = "همراه اضافه";
                    } else {
                        document.getElementById("1").innerHTML = "اتوبوس توریستی";
                        document.getElementById("2").innerHTML = "اتوبوس VIP";
                        document.getElementById("kodak").style.display = "block";
                        document.getElementById("3").innerHTML = "خودرو شخصی";
                        document.getElementById("4").innerHTML = "خودرو آژانس";
                    }
                    console.log("tour");
                    console.group(data[obj]);
                    document.getElementById("PriceTourist").setAttribute("value", data[obj].Tourist_bus);
                    document.getElementById("PriceVip").setAttribute("value", data[obj].Vip_bus);
                    document.getElementById("PriceAgency").setAttribute("value", data[obj].Agency_car);
                    document.getElementById("capacity").setAttribute("value", data[obj].Capacity);
                    document.getElementById("PricePersonal").setAttribute("value", data[obj].personal_car);
                    document.getElementById("Remainder").setAttribute("value", data[obj].Remainder);
                });
                document.getElementById("body").innerHTML = str;
                var TableDatatablesEditable = function () {

                    var handleTable = function () {

                        function restoreRow(oTable, nRow) {
                            var aData = oTable.fnGetData(nRow);
                            var jqTds = $('>td', nRow);

                            for (var i = 0, iLen = jqTds.length; i < iLen; i++) {
                                oTable.fnUpdate(aData[i], nRow, i, false);
                            }

                            oTable.fnDraw();
                        }

                        //function editRow(oTable, nRow) {
                        //    var aData = oTable.fnGetData(nRow);
                        //    var jqTds = $('>td', nRow);
                        //    jqTds[0].innerHTML = '<input type="text" id="capacity" class="form-control input-small" value="' + aData[0] + '">';
                        //    jqTds[1].innerHTML = '<input type="text" class="form-control input-small" value="' + aData[1] + '">';
                        //    jqTds[2].innerHTML = '<input type="text" class="form-control input-small" value="' + aData[2] + '">';
                        //    jqTds[3].innerHTML = '<input type="text" class="form-control input-small" value="' + aData[3] + '">';
                        //    jqTds[4].innerHTML = '<a class="edit" id="sabt" href="">ثبت</a>';
                        //    jqTds[5].innerHTML = '<a class="cancel" href="">لغو</a>';
                        //}

                        function saveRow(oTable, nRow) {
                            var jqInputs = $('input', nRow);
                            oTable.fnUpdate(jqInputs[0].value, nRow, 0, false);
                            oTable.fnUpdate(jqInputs[1].value, nRow, 1, false);
                            oTable.fnUpdate(jqInputs[2].value, nRow, 2, false);
                            oTable.fnUpdate(jqInputs[3].value, nRow, 3, false);
                            oTable.fnUpdate('<a class="edit" href="">ویرایش</a>', nRow, 4, false);
                            oTable.fnUpdate('<a class="delete" href="">حذف</a>', nRow, 5, false);
                            oTable.fnDraw();
                        }

                        function cancelEditRow(oTable, nRow) {
                            var jqInputs = $('input', nRow);
                            oTable.fnUpdate(jqInputs[0].value, nRow, 0, false);
                            oTable.fnUpdate(jqInputs[1].value, nRow, 1, false);
                            oTable.fnUpdate(jqInputs[2].value, nRow, 2, false);
                            oTable.fnUpdate(jqInputs[3].value, nRow, 3, false);
                            oTable.fnUpdate('<a class="edit" href="">ویرایش</a>', nRow, 4, false);
                            oTable.fnDraw();
                        }

                        var table = $('#sample_2');

                        var oTable = table.dataTable({

                            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                            // So when dropdowns used the scrollable div should be removed.
                            //"dom": "<'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                            retrieve: true,
                            searching: false,
                            paging: false
                            // set first column as a default sort by asc
                        });

                        var tableWrapper = $("#sample_2_wrapper");

                        var nEditing = null;
                        var nNew = false;

                        $('#sample_2_new').click(function (e) {
                            //e.isDefaultPrevented();
                            e.preventDefault();
                            //e.result;

                            if (nNew && nEditing) {
                                if (confirm("Previose row not saved. Do you want to save it ?")) {
                                    saveRow(oTable, nEditing); // save
                                    $(nEditing).find("td:first").html("Untitled");
                                    nEditing = null;
                                    nNew = false;

                                } else {
                                    oTable.fnDeleteRow(nEditing); // cancel
                                    nEditing = null;
                                    nNew = false;

                                    return;
                                }
                            }

                            var aiNew = oTable.fnAddData(['', '', '', '', '', '']);
                            var nRow = oTable.fnGetNodes(aiNew[0]);
                            editRow(oTable, nRow);
                            nEditing = nRow;
                            nNew = true;
                        });

                        //table.on('click', '.delete', function (e) {
                        //    e.preventDefault();

                        //    if (confirm("Are you sure to delete this row ?") == false) {
                        //        return;
                        //    }

                        //    var nRow = $(this).parents('tr')[0];
                        //    oTable.fnDeleteRow(nRow);
                        //    alert("Deleted! Do not forget to do some ajax to sync with backend :)");
                        //});

                        table.on('click', '.cancel', function (e) {
                            //e.result;

                            //e.isDefaultPrevented();
                            e.preventkDefault();
                            if (nNew) {
                                oTable.fnDeleteRow(nEditing);
                                nEditing = null;
                                nNew = false;
                            } else {
                                restoreRow(oTable, nEditing);
                                nEditing = null;
                            }
                        });

                        table.on('click', '.edit', function (e) {
                            //e.result;
                            e.preventDefault();
                            //e.isDefaultPrevented();

                            /* Get the row as a parent of the link that was clicked on */
                            var nRow = $(this).parents('tr')[0];

                            if (nEditing !== null && nEditing !== nRow) {
                                /* Currently editing - but not this row - restore the old before continuing to edit mode */
                                restoreRow(oTable, nEditing);
                                editRow(oTable, nRow);
                                nEditing = nRow;
                            } else if (nEditing === nRow && this.innerHTML === "ali") {
                                /* Editing this row and want to save it */
                                var a = document.getElementById("capacity").getAttribute("value");
                                alert(a);
                                saveRow(oTable, nEditing);
                                nEditing = null;
                                alert("Updated! Do not forget to do some ajax to sync with backend :)");
                            } else {
                                /* No edit in progress - let's start one */
                                editRow(oTable, nRow);
                                nEditing = nRow;
                            }
                        });
                        table.on('click', '#sabt', function (e) {

                            var a = document.getElementById("capacity").getAttribute("value");
                            alert(a);

                        });
                    }

                    return {

                        //main function to initiate the module
                        init: function () {
                            handleTable();
                        }

                    };

                }();
                jQuery(document).ready(function () {
                    TableDatatablesEditable.init();
                });
            });
        }

    });
    //<tr><td>" + data[obj].Title + "</td>" + "<td>" + data[obj].Destination + "</td>" + "<td><a class='edit'id='edit'data-toggle='modal' href='javascript: ;'> Edit </a></td ><td><a class='delete'id='delete'data-toggle='modal' href='javascript:;'> Delete </a></td>"+"</tr>";
    $("#deletefinal").click(function () {
        var jqxhr = $.getJSON("/Dashboard/DeleteTour?id=" + id, function (data) {
            location.reload();
        });
    });
    $("#editfinal").click(function () {
        redirect = "/Dashboard/edittour/";
        $.redirectPost(redirect, { id: id });
    });
</script>



<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="~/Content/assets/global/scripts/datatable.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="~/Content/assets/global/scripts/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="~/Content/assets/pages/scripts/table-datatables-scroller.js"></script>
<script src="~/Content/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
@*<script src="~/Content/assets/pages/scripts/table-datatables-scroller.min.js" type="text/javascript"></script>*@
<!-- END PAGE LEVEL SCRIPTS -->
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="~/Content/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="~/Content/assets/pages/scripts/ui-extended-modals.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="~/Content/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
<script src="~/Content/assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
<script src="~/Content/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->
@*<script src="~/Content/assets/pages/scripts/table-datatables-editable.min.js" type="text/javascript"></script>*@
@*<script src="~/Content/assets/pages/scripts/table-datatables-editable.js" type="text/javascript"></script>*@

@*<script src="~/Content/assets/pages/scripts/ui-modals.min.js" type="text/javascript"></script>*@
<!--datepicker script-->

<script src="~/Content/Plugins/MdBootstrapPersianDateTimePicker/jalaali.js" type="text/javascript"></script>
<script src="~/Content/Plugins/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.js" type="text/javascript"></script>
<!--timepicker script-->

<script src="~/Content/Plugins/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
@*<script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
@*<script src="~/Scripts/Validation.js"></script>*@
<script src="~/Scripts/Validation.js"></script>
<script src="~/Scripts/Extend.js"></script>

<script>

    $(document).ready(function () {

        $('#form1').validate({ // initialize the plugin

            rules: {
                //PriceAgency: {
                //    required: true,

                //},
                //PricePersonal: {
                //    required: true,

                //},
                capacity: {
                    required: true,
                }
                //},
                //PriceTourist: {
                //    required: true,
                //},
                //PriceVip: {
                //    required: true,
                //},Remainder: {
                //    required: true,
                //}
            },
            messages: {
                PriceAgency: {
                    required: "وارد کردن قیمت الزامی است",

                },
                PricePersonal: {
                    required: "وارد کردن قیمت الزامی است",

                },
                capacity: {
                    required: "وارد کردن ظرفیت الزامی است",

                },
                PriceTourist: {
                    required: "وارد کردن قیمت الزامی است",

                },
                PriceVip: {
                    required: "وارد کردن قیمت الزامی است",

                },
                Remainder: {
                    required: "وارد کردن ظرفیت الزامی است",

                },

            },
            submitHandler: function (form) {
                form.submit();
            }
        });

    });
</script>
<script>

    $(document).ready(function () {

        $('#Reportform').validate({ // initialize the plugin

            rules: {
                start_date: {
                    required: true
                },
                end_date: {
                    required: true
                }
            },
            messages: {
                start_date: {
                    required: 'وارد کردن تاریخ الزامی است'
                },
                end_date: {
                    required: 'وارد کردن تاریخ الزامی است'
                }

            },
            submitHandler: function (form) {
                form.submit();
            }
        });

    });
</script>




