﻿
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    ViewBag.title = "توریپس | ویرایش تور";
}
@using Tourist.CommonMethods
@using Tourist.Models;
<head>
    <title>توریپس | ویرایش تور</title>
    <meta name="description" content="ویرایش تور های توریپس" />
</head>
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="~/Content/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap-rtl.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="~/Content/assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->
<!--datepicker-->
<link rel="stylesheet" href="~/Content/plugins/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.css" />
<!--Timepicker-->
<link href="~/Content/Plugins/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<!-- END HEAD -->
<style>
    .swal-footer {
        background-color: rgb(245, 248, 250);
        margin-top: 32px;
        border-top: 1px solid #E9EEF1;
        overflow: hidden;
        text-align: center;
    }
    .swal-text {
        text-align: center;
    }

    .swal-button {
        text-align: center;
    }
</style>
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="/Dashboard/index">داشبورد</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>تور</span>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>ویرایش تور</span>
                </li>
            </ul>

        </div>
        <!-- END PAGE BAR -->
        <!-- BEGIN PAGE TITLE-->
        <h3 class="page-title">
            ویرایش تور
        </h3>
        <!-- END PAGE TITLE-->
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-md-5">
                <select id="select2-single-input-sm" name="TourID" class="form-control input-sm select2-multiple"></select>
                <span class="help-block">برای فیلترکردن تورها تاریخ ها را انتخاب کرده و بر روی فیلتر کلیک کنید در غیر اینصورت تور را انتخاب کنید</span>
            </div>
            <form action="/Dashboard/FilterEdit" id="Reportform" method="post" enctype="multipart/form-data">
                <div class="col-md-7">
                    <div class="form-group">
                        <div class="col-md-5">
                            @*<label class="control-label">Disable Past Dates</label>*@
                            <div class="input-group input-small date date-picker" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate1" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="bottom">
                                <input type="text" class="form-control input-small" name="start_date" id="toDate1" placeholder="از تاریخ" value="@TempData["start_date"]" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate1" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="bottom" readonly>
                                <span class="input-group-btn">
                                    <button class="btn default" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                            <span id="toDate1-err" style="color:#e03636" class="help-block"></span>
                        </div>
                        <div class="col-md-5">
                            @*<label class="control-label">Disable Past Dates</label>*@
                            <div class="input-group input-small date date-picker" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate2" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="bottom">
                                <input type="text" class="form-control input-small" name="end_date" id="toDate2" placeholder="تا تاریخ" value="@TempData["end_date"]" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate2" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="bottom" readonly>
                                <span class="input-group-btn">
                                    <button class="btn default" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                            <span id="toDate2-err" style="color:#e03636" class="help-block"></span>
                        </div>
                        <div class="col-md-2">
                            <button class="btn default" onclick="validateForm()" type="button">
                                فیلتر
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <br /><hr />
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light portlet-fit bordered">
                    <div class="portlet-title">
                        <div class="caption col-md-12">
                            <i class="icon-settings font-red"></i>
                            <span class="caption-subject font-red sbold uppercase" id="caption">تور انتخاب نشده</span>
                        </div>
                    </div>
                    <div class="portlet-body" style="text-align:center">
                        <table class="table table-striped table-hover table-bordered" id="sample_2">
                            <thead style="text-align:center">
                                <tr>
                                    <th> ویرایش </th>
                                    @*<th> حذف </th>*@
                                </tr>
                            </thead>
                            <tbody id="body"></tbody>
                        </table>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>
    </div>
    <!-- responsive -->
    <div id="responsive" class="modal fade" tabindex="-1" data-width="300">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">تایید ویرایش</h4>
        </div>
        <form action="/Dashboard/LittleEdit" onsubmit="return validateFormEdit()" id="form1">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <center>
                            <button type="button" id="editfinal" class="btn blue">رفتن به صفحه کامل ویرایش</button>
                        </center>
                        <div class="col-md-6">
                            <p>
                                <label id="capacitylabel">ظرفیت کل</label>
                                <input class="form-control" value="" name="capacity" id="capacity" type="text">
                                <span id="capacity-err" style="color:red"></span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <label id="Remainderlabel">ظرفیت باقی مانده</label>
                                <input class="form-control" value="" name="Remainder" id="Remainder" type="text">
                                <span id="Remainder-err" style="color:red"></span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <label id="1">قیمت اتوبوس مسافرتی</label>
                                <input class="form-control" value="" name="PriceTourist" id="PriceTourist" type="text">
                                <span id="PriceTourist-err" style="color:red"></span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p id="kodak">
                                <label id="2">قیمت اتوبوس VIP</label>
                                <input class="form-control" value="" name="PriceVip" id="PriceVip" type="text">
                                <span id="PriceVip-err" style="color:red"></span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <label id="3">قیمت ماشین شخصی</label>
                                <input class="form-control" value="" name="PricePersonal" id="PricePersonal" type="text">
                                <span id="PricePersonal-err" style="color:red"></span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <label id="4">قیمت ماشین آژانس</label>
                                <input class="form-control" value="" name="PriceAgency" id="PriceAgency" type="text">
                                <span id="PriceAgency-err" style="color:red"></span>
                            </p>
                        </div>
                        <input type="hidden" name="id" value="" id="idtour" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-outline dark">بستن</button>
                <button type="submit" class="btn green">ذخیره تغیرات</button>
            </div>
        </form>
    </div>
</div>
<!-- END CONTENT BODY -->
<!-- END CONTENT -->
<!-- BEGIN CORE PLUGINS -->

<script src="~/Content/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!--save -->
<script src="~/Scripts/FileSaver.min.js"></script>
<script src="~/Scripts/tableexport.min.js"></script>
<script src="~/Scripts/jquery.base64.js"></script>
<script src="~/Scripts/html2canvas.min.js"></script>
<script src="~/Scripts/tableExport.jquery.plugin/jspdf/libs/sprintf.js"></script>
<script src="~/Scripts/tableExport.jquery.plugin/jspdf/jspdf.js"></script>
<script src="~/Scripts/tableExport.jquery.plugin/jspdf/libs/base64.js"></script>
<!--save -->
<script>


    let id;
    $("#select2-single-input-sm").change(function (data) {
        id = $(this).val();
        //console.log(id);
        var cap = this.options[this.selectedIndex].innerHTML;
        document.getElementById("idtour").setAttribute("value", id);
        if (id !== 0) {
            document.getElementById("caption").innerHTML = cap;
            var str = "";
            var jqxhr = $.getJSON("/Dashboard/getTourbyid?id=" + id, function (data) {
                $(data).each(function (obj) {
                    if (data[obj].Tourist_bus === undefined || data[obj].Tourist_bus == null) {
                        data[obj].Tourist_bus = "";
                    }
                    if (data[obj].Vip_bus === undefined || data[obj].Vip_bus == null) {
                        data[obj].Vip_bus = "";
                    }
                    if (data[obj].Agency_car === undefined || data[obj].Agency_car == null) {
                        data[obj].Agency_car = "";
                    }
                    if (data[obj].personal_car === undefined || data[obj].personal_car == null) {
                        data[obj].personal_car = "";
                    }
                    if (data[obj].Remainder === undefined) {
                        data[obj].Remainder = data[obj].Capacity;
                    }
                    //str += "<tr>" + "<td><a class='edit' data-toggle='modal' href='#responsive'> ویرایش</a></td ><td><a class='delete'id='deletetour' onclick='deletetour()'> حذف </a></td>" + "</tr>";

                    str += "<tr>" + "<td><a class='edit' data-toggle='modal' href='#responsive'>ویرایش</a></td>" + "</tr>";
                    if (data[obj].Type === "مادروکودک") {
                        document.getElementById("1").innerHTML = "مادروکودک";
                        document.getElementById("2").innerHTML = "کودک";
                        document.getElementById("kodak").style.display = "none";
                        document.getElementById("3").innerHTML = "کودک اضافه";
                        document.getElementById("4").innerHTML = "همراه اضافه";
                    } else {
                        document.getElementById("1").innerHTML = "اتوبوس توریستی";
                        document.getElementById("2").innerHTML = "اتوبوس VIP";
                        document.getElementById("kodak").style.display = "block";
                        document.getElementById("3").innerHTML = "خودرو شخصی";
                        document.getElementById("4").innerHTML = "خودرو آژانس";
                    }
                    console.log("tour");
                    console.group(data[obj]);
                    document.getElementById("PriceTourist").setAttribute("value", data[obj].Tourist_bus);
                    document.getElementById("PriceVip").setAttribute("value", data[obj].Vip_bus);
                    document.getElementById("PriceAgency").setAttribute("value", data[obj].Agency_car);
                    document.getElementById("capacity").setAttribute("value", data[obj].Capacity);
                    document.getElementById("PricePersonal").setAttribute("value", data[obj].personal_car);
                    document.getElementById("Remainder").setAttribute("value", data[obj].Remainder);
                });
                document.getElementById("body").innerHTML = str;

                var TableDatatablesEditable = function () {

                    var handleTable = function () {

                        function restoreRow(oTable, nRow) {
                            var aData = oTable.fnGetData(nRow);
                            var jqTds = $('>td', nRow);

                            for (var i = 0, iLen = jqTds.length; i < iLen; i++) {
                                oTable.fnUpdate(aData[i], nRow, i, false);
                            }

                            oTable.fnDraw();
                        }

                        //function editRow(oTable, nRow) {
                        //    var aData = oTable.fnGetData(nRow);
                        //    var jqTds = $('>td', nRow);
                        //    jqTds[0].innerHTML = '<input type="text" id="capacity" class="form-control input-small" value="' + aData[0] + '">';
                        //    jqTds[1].innerHTML = '<input type="text" class="form-control input-small" value="' + aData[1] + '">';
                        //    jqTds[2].innerHTML = '<input type="text" class="form-control input-small" value="' + aData[2] + '">';
                        //    jqTds[3].innerHTML = '<input type="text" class="form-control input-small" value="' + aData[3] + '">';
                        //    jqTds[4].innerHTML = '<a class="edit" id="sabt" href="">ثبت</a>';
                        //    jqTds[5].innerHTML = '<a class="cancel" href="">لغو</a>';
                        //}

                        function saveRow(oTable, nRow) {
                            var jqInputs = $('input', nRow);
                            oTable.fnUpdate(jqInputs[0].value, nRow, 0, false);
                            oTable.fnUpdate(jqInputs[1].value, nRow, 1, false);
                            oTable.fnUpdate(jqInputs[2].value, nRow, 2, false);
                            oTable.fnUpdate(jqInputs[3].value, nRow, 3, false);
                            oTable.fnUpdate('<a class="edit" href="">ویرایش</a>', nRow, 4, false);
                            oTable.fnUpdate('<a class="delete" href="">حذف</a>', nRow, 5, false);
                            oTable.fnDraw();
                        }

                        function cancelEditRow(oTable, nRow) {
                            var jqInputs = $('input', nRow);
                            oTable.fnUpdate(jqInputs[0].value, nRow, 0, false);
                            oTable.fnUpdate(jqInputs[1].value, nRow, 1, false);
                            oTable.fnUpdate(jqInputs[2].value, nRow, 2, false);
                            oTable.fnUpdate(jqInputs[3].value, nRow, 3, false);
                            oTable.fnUpdate('<a class="edit" href="">ویرایش</a>', nRow, 4, false);
                            oTable.fnDraw();
                        }

                        var table = $('#sample_2');

                        var oTable = table.dataTable({

                            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                            // So when dropdowns used the scrollable div should be removed.
                            //"dom": "<'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                            retrieve: true,
                            searching: false,
                            paging: false
                            // set first column as a default sort by asc
                        });

                        var tableWrapper = $("#sample_2_wrapper");

                        var nEditing = null;
                        var nNew = false;

                        $('#sample_2_new').click(function (e) {
                            //e.isDefaultPrevented();
                            e.preventDefault();
                            //e.result;

                            if (nNew && nEditing) {
                                if (confirm("Previose row not saved. Do you want to save it ?")) {
                                    saveRow(oTable, nEditing); // save
                                    $(nEditing).find("td:first").html("Untitled");
                                    nEditing = null;
                                    nNew = false;

                                } else {
                                    oTable.fnDeleteRow(nEditing); // cancel
                                    nEditing = null;
                                    nNew = false;

                                    return;
                                }
                            }

                            var aiNew = oTable.fnAddData(['', '', '', '', '', '']);
                            var nRow = oTable.fnGetNodes(aiNew[0]);
                            //editRow(oTable, nRow);
                            nEditing = nRow;
                            nNew = true;
                        });

                        //table.on('click', '.delete', function (e) {
                        //    e.preventDefault();

                        //    if (confirm("Are you sure to delete this row ?") == false) {
                        //        return;
                        //    }

                        //    var nRow = $(this).parents('tr')[0];
                        //    oTable.fnDeleteRow(nRow);
                        //    alert("Deleted! Do not forget to do some ajax to sync with backend :)");
                        //});

                        table.on('click', '.cancel', function (e) {
                            //e.result;

                            //e.isDefaultPrevented();
                            e.preventkDefault();
                            if (nNew) {
                                oTable.fnDeleteRow(nEditing);
                                nEditing = null;
                                nNew = false;
                            } else {
                                restoreRow(oTable, nEditing);
                                nEditing = null;
                            }
                        });

                        table.on('click', '.edit', function (e) {
                            //e.result;
                            e.preventDefault();
                            //e.isDefaultPrevented();

                            /* Get the row as a parent of the link that was clicked on */
                            var nRow = $(this).parents('tr')[0];

                            if (nEditing !== null && nEditing !== nRow) {
                                /* Currently editing - but not this row - restore the old before continuing to edit mode */
                                restoreRow(oTable, nEditing);
                                //editRow(oTable, nRow);
                                nEditing = nRow;
                            } else if (nEditing === nRow && this.innerHTML === "ali") {
                                /* Editing this row and want to save it */
                                var a = document.getElementById("capacity").getAttribute("value");
                                alert(a);
                                saveRow(oTable, nEditing);
                                nEditing = null;
                                alert("Updated! Do not forget to do some ajax to sync with backend :)");
                            } else {
                                /* No edit in progress - let's start one */
                                //editRow(oTable, nRow);
                                nEditing = nRow;
                            }
                        });
                        table.on('click', '#sabt', function (e) {

                            var a = document.getElementById("capacity").getAttribute("value");
                            alert(a);

                        });
                    }

                    return {

                        //main function to initiate the module
                        init: function () {
                            handleTable();
                        }

                    };

                }();
                jQuery(document).ready(function () {
                    TableDatatablesEditable.init();
                    $(".sorting_asc").removeClass("sorting_asc");
                    $(".sorting").removeClass("sorting");
                });
            });
        }

    });
    //<tr><td>" + data[obj].Title + "</td>" + "<td>" + data[obj].Destination + "</td>" + "<td><a class='edit'id='edit'data-toggle='modal' href='javascript: ;'> Edit </a></td ><td><a class='delete'id='delete'data-toggle='modal' href='javascript:;'> Delete </a></td>"+"</tr>";
    $("#deletefinal").click(function () {
        var jqxhr = $.getJSON("/Dashboard/DeleteTour?id=" + id, function (data) {
            location.reload();
        });
    });
    $("#editfinal").click(function () {
        redirect = "/Dashboard/edittour/";
        $.redirectPost(redirect, { id: id });
    });
</script>



<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="~/Content/assets/global/scripts/datatable.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="~/Content/assets/global/scripts/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="~/Content/assets/pages/scripts/table-datatables-scroller.js"></script>
<script src="~/Content/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
@*<script src="~/Content/assets/pages/scripts/table-datatables-scroller.min.js" type="text/javascript"></script>*@
<!-- END PAGE LEVEL SCRIPTS -->
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="~/Content/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="~/Content/assets/pages/scripts/ui-extended-modals.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="~/Content/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
<script src="~/Content/assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
<script src="~/Content/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->
<!--datepicker script-->

<script src="~/Content/Plugins/MdBootstrapPersianDateTimePicker/jalaali.js" type="text/javascript"></script>
<script src="~/Content/Plugins/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.js" type="text/javascript"></script>
<!--timepicker script-->

<script src="~/Content/Plugins/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
@*<script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
@*<script src="~/Scripts/Validation.js"></script>*@
<script src="~/Scripts/Validation.js"></script>
<script src="~/Scripts/Extend.js"></script>
<script src="~/Scripts/sweetalert.min.js"></script>


<script>
    $(document).ready(function () {
        var jqxhr = $.getJSON('/Dashboard/getalltour', function (data) {
            var str = "<option value='0'>تور خود را انتخاب کنید</option>";
            $(data).each(function (obj) {
                str += "<option value='" + data[obj].Id + "'>" + data[obj].Title + "-" + data[obj].date + "</option>";
            });
            document.getElementById('select2-single-input-sm').innerHTML = str;
        });
    })
</script>

<script>
    function deletetour() {
        swal({
            title: 'مطمئن  هستید؟',
            text: $('#caption').text(),
            dangerMode: true,

            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "حذف",
            cancelButtonText: "خروج",

            closeOnConfirm: false
        },
            function () {
                var jqxhr = $.getJSON("/Dashboard/DeleteTour?id=" + id, function (data) {
                    location.reload();
                });

            });
    };
</script>

<script>
    function validateDate() {
        var x, text;

        // Get the value of the input field with id="numb"
        x = document.getElementById("numb").value;

        // If x is Not a Number or less than one or greater than 10
        if (isNaN(x) || x < 1 || x > 10) {
            text = "Input not valid";
        } else {
            text = "Input OK";
        }
        document.getElementById("demo").innerHTML = text;
    }

    function validateForm() {
        var startdate = document.forms["Reportform"]["start_date"].value;
        var enddate = document.forms["Reportform"]["end_date"].value;
        var x = 0;
        if (startdate == "") {
            $("#toDate1-err").text("وارد کردن تاریخ الزامی است");
            x = 1;
        } else {
            $("#toDate1-err").text("");
        }
        if (enddate == "") {
            $("#toDate2-err").text("وارد کردن تاریخ الزامی است");
            x = 1;
        } else {
            $("#toDate2-err").text("");
        }
        if (Boolean(x)) {
            return false;
        }
        var jqxhr = $.getJSON('/Dashboard/FilterEditjson?start_date=' + startdate + '&&end_date=' + enddate, function (data) {
            var str = "<option value='0'>تور خود را انتخاب کنید</option>";
            $(data).each(function (obj) {
                str += "<option value='" + data[obj].Id + "'>" + data[obj].Title + "-" + data[obj].date + "</option>";
            });
            document.getElementById('select2-single-input-sm').innerHTML = str;
            var title = "تورها از " + startdate + "به" + enddate + "فیلتر شد";
            swal(title, {
                buttons: false,
                timer: 3000,
            });
        });

    }
</script>
<script>
    function validateFormEdit() {
        var capacity = document.forms["form1"]["capacity"].value;
        var Remainder = document.forms["form1"]["Remainder"].value;
        var PriceTourist = document.forms["form1"]["PriceTourist"].value;
        var PriceVip = document.forms["form1"]["PriceVip"].value;
        var PricePersonal = document.forms["form1"]["PricePersonal"].value;
        var PriceAgency = document.forms["form1"]["PriceAgency"].value;
        var x = 0;
        var error = "";
        if (capacity == "") {
            $("#capacitylabel").css("color", "red");
            error += "\nوارد کردن ظرفیت الزامی است";
            x = 1;
        } else {
            if (!parseInt(capacity, 10)) {
                error += "ظرفیت باید عدد باشد\n";
                $("#capacitylabel").css("color", "red");
                x = 1;//for false and error
            }
            $("#capacitylabel").css("color", "black");
        }

        if (Remainder == "") {
            $("#Remainderlabel").css("color", "red");
            error += "\nوارد کردن ظرفیت باقی مانده الزامی است";
            x = 1;
        } else {
            if (!parseInt(Remainder, 10)) {
                error += "\nظرفیت باقی مانده باید عدد باشد";
                $("#Remainderlabel").css("color", "red");
                x = 1;
            }
            $("#Remainderlabel").css("color", "black");
        }

        if (PriceTourist != "") {
            if (!parseInt(PriceTourist, 10)) {
                error += "\nقیمت باید عدد باشد";
                $("#1").css("color", "red");
                x = 1;
            } else {
                $("#1").css("color", "black");
            }
        } else { $("#1").css("color", "black"); }
        if (PriceVip != "") {
            if (!parseInt(PriceVip, 10)) {
                error += "\nقیمت باید عدد باشد";
                $("#2").css("color", "red");
                x = 1;
            } else {
                $("#2").css("color", "black");
            }
        } else { $("#2").css("color", "black"); }
        if (PricePersonal != "") {
            if (!parseInt(PricePersonal, 10)) {
                error += "\nقیمت باید عدد باشد";
                $("#3").css("color", "red");
                x = 1;
            } else {
                $("#3").css("color", "black");
            }
        } else { $("#3").css("color", "black"); }
        if (PriceAgency != "") {
            if (!parseInt(PriceAgency, 10)) {
                error += "\nقیمت باید عدد باشد";
                $("#4").css("color", "red");
                x = 1;
            } else {
                $("#4").css("color", "black");
            }
        } else { $("#4").css("color", "black"); }


        if (Boolean(x)) {
            swal(error, {
                icon: "error",
                button: "خروج"
            });
            return false;
        }


    }

    $(document).ready(function () {
        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
    });
</script>

@{
    if (TempData["success"] != null)
    {
        string text = $"{TempData["success"]}";

        <script>
            swal({
                title: "",
                text: "@text",
                icon: "success",
                button: "خروج"
            });
        </script>
    }
    else if (TempData["error"] != null)
    {
        string text = $"{TempData["error"]}";
        <script>
            swal({
                title: "",
                text: "@text",
                icon: "error",
                button: "خروج"
            });
        </script>
    }
}