﻿@model Tourist.Models.Profile_Tour
@{
    ViewBag.Title = "توریپس | ویرایش پروفایل";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}


<title>توریپس | ویرایش پروفایل</title>
<meta name="description" content="ویرایش پروفایل آژانس های توریپس" />
<style>
    .swal-footer {
        background-color: rgb(245, 248, 250);
        margin-top: 32px;
        border-top: 1px solid #E9EEF1;
        overflow: hidden;
        text-align: center;
    }

    .swal-text {
        text-align: center;
    }

    .swal-button {
        text-align: center;
    }
</style>
<form action="/dashboard/editProfileConfirm" method="post" id="formedit" onsubmit="return validateForm()" enctype="multipart/form-data">
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->
            <!-- BEGIN PAGE BAR -->
            <div class="form-body">
                <div class="row">
                    <div class="col-md-12 ">
                        <!-- BEGIN SAMPLE FORM PORTLET-->
                        <div class="portlet light bordered">
                            <div class="portlet-title">
                                <div class="caption font-red-sunglo">
                                    <i class="icon-settings font-red-sunglo"></i>
                                    <span class="caption-subject bold uppercase">ویرایش پروفایل</span>
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <div class="form-body col-md-5">
                                    <div class="form-group">
                                        <label>نام وارد شده در URL</label>
                                        @Html.TextBoxFor(x => x.Name_Group, new { type = "text", @class = "form-control validEnglishChar", placeholder = "لطفا نام را با زبان انگلیسی وارد نمایید" })
                                        <span style="color:red" id="err-name-group"></span>
                                    </div>

                                    <div class="form-group">
                                        <label>نام آژانس</label>
                                        @Html.TextBoxFor(x => x.Name_Agency, new { type = "text", @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label>تلفن آژانس</label>
                                        @Html.TextBoxFor(x => x.Tel_Agency, new { type = "text", @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label>آدرس</label>

                                        @Html.TextBoxFor(x => x.Address, new { type = "text", @class = "form-control" })
                                    </div>

                                    <div class="form-group">
                                        <label>سرویس ها</label>
                                        @Html.TextAreaFor(x => x.Service, new { type = "text", @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label>توضیحات</label>
                                        @Html.TextAreaFor(x => x.Description, new { type = "text", @class = "form-control" })
                                    </div>

                                </div>
                                <div class="form-body col-md-1"></div>
                                <div class="form-body col-md-5">
                                    <div class="form-group">
                                        <label>اینستاگرام</label>
                                        @Html.TextBoxFor(x => x.instagram, new { type = "text", @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label>واتساپ</label>
                                        @Html.TextBoxFor(x => x.WhatsApp, new { type = "text", @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label>تلگرام</label>
                                        @Html.TextBoxFor(x => x.Telegram, new { type = "text", @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label>طول جغرافیایی</label>
                                        @Html.TextBoxFor(x => x.Map_len, new { type = "text", @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label>عرض جغرافیایی</label>
                                        @Html.TextBoxFor(x => x.Map_lat, new { type = "text", @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label>مدیر</label>
                                        @Html.TextBoxFor(x => x.Manager, new { type = "text", @class = "form-control" })
                                    </div>
                                    <div class="form-group">

                                        <div class="col-md-6">
                                            <label>آپلود لوگو</label>
                                            <input type="file" class="fileinput-button" accept="image/*" onchange="fileCheck(this)" name="logo_img" id="js-upload-files" style="margin-top:10px" />
                                            @*@Html.TextBoxFor(x => x.Logo, new { type = "file", @class = "fileinput-button", accept = "image/", onchange = "fileCheck(this);", multiple = "multiple", name = "img_logo", id = "js-upload-files", style = "margin-top:10px" })*@
                                            @Html.ValidationMessageFor(x => x.Logo, "", new { @class = "text-danger" })
                                        </div>
                                        @if (Model.Logo != null)
                                        {
                                            <div class="col-md-6">
                                                <img src="@($"data:image/jpeg;base64,{Convert.ToBase64String(Model.Logo)}")" style="height:150px;width:150px" class="img-responsive" alt="">
                                            </div>
                                        }

                                    </div>


                                </div>

                                <div class="form-body" id="DivLeader">
                                    @{
                                        int counter = 0;
                                    }
                                    @foreach (var item in Model.Leaders)
                                    {
                                        int id = item.ID;
                                        string sid = item.ID + "c";

                                        <div class="@sid">
                                            <div class="row">
                                                <div class="col-md-12 ">
                                                    <hr />
                                                    <div class="col-md-5">
                                                        <div class="form-group">
                                                            <label>نام اعضا</label>
                                                            <input type="text" value="@item.Name" class="form-control" name="old_Name_Member" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1"></div>
                                                    <div class="col-md-5">
                                                        <div class="form-group">
                                                            <label>تلفن اعضا</label>
                                                            <input type="text" value="@item.Tel" class="form-control" name="old_Tel_Member" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1"></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 ">
                                                    <div class="col-md-5">
                                                        <div class="form-group">
                                                            <label> سمت اعضا</label>
                                                            <input type="text" value="@item.Title" class="form-control" name="old_Title_Member" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1"></div>
                                                    <div class="col-md-5">
                                                        <div class="form-group">
                                                            <label>توضیحات اعضا</label>
                                                            <textarea class="form-control" name="old_Description_Member">@item.Description</textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1"></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 ">
                                                    <div class="col-md-5">
                                                        <div class="form-group">
                                                            <div class="col-md-6">
                                                                <label>عکس اعضا</label>
                                                                <input type="file" class="fileinput-button" accept="image/*" onchange="fileCheck(this)" name="old_Img_Member" id="js-upload-files" style="margin-top:10px" />
                                                            </div>
                                                            <div class="col-md-6">
                                                                <img src="@($"data:image/jpeg;base64,{Convert.ToBase64String(item.image)}")" style="height:150px;width:150px" class="img-responsive" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1"></div>
                                                    <div class="col-md-5">
                                                        <button type="button" class="btn red" id="@id" onclick="RemoveoldLeader(this)">حذف</button>
                                                    </div>
                                                    <div class="col-md-1">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        counter++;
                                    }
                                </div>

                                <div id="empty"></div>
                                <div class="row">
                                    <button type="button" class="btn green" onclick="AddLeader()">اضافه کردن لیدر</button>

                                </div>
                                <hr />
                                <br>

                                <div class="form-actions">
                                    <button type="submit" id="formsubmit"  class="btn red">ثبت پروفایل</button>
                                </div>
                            </div>

                            <!-- END SAMPLE FORM PORTLET-->
                        </div>
                    </div>

                    <!-- BEGIN SAMPLE FORM PORTLET-->

                </div>
            </div>
        </div>
    </div>

</form>
<script src="~/Content/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="~/Content/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="~/Content/assets/global/scripts/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="~/Content/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>


<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="~/Content/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
<script src="~/Content/assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
<script src="~/Content/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->
<!--datepicker script-->

<script src="~/Content/Plugins/MdBootstrapPersianDateTimePicker/jalaali.js" type="text/javascript"></script>
<script src="~/Content/Plugins/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.js" type="text/javascript"></script>
<!--timepicker script-->

<script src="~/Content/Plugins/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

<script src="~/Scripts/sweetalert.min.js"></script>
@*<script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
@*<script src="~/Scripts/Validation.js"></script>
    <script src="~/Content/Template/js/jquery-1.11.2.min.js"></script>
    <script src="~/Content/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/scripts/app.min.js" type="text/javascript"></script>*@
<script>
    //counter_div = 1
    counter = 1
    errorurlbool = 0;
    var error = "";
    var errorurltext = "";
    function AddLeader() {
        //html = '<div id="DivLeader"><div class="row"><div class="form-group" ><div class="form-group col-md-5"><label>نام لیدر</label><input type="text" class="form-control" name="NameLeader" /></div><div class="form-group col-md-1"></div><div class="form-group col-md-5"><label>تلفن لیدر</label><input type="text" class="form-control" name="TelLeader" /></div><div class="form-group col-md-1"><br/><button type="button" class=" btn red" id="Btn' + counter++ + '" onclick="RemoveLeader(this)">حذف</button></div></div></div ><div class="row"><div class="form-group col-md-5"><label>عکس لیدر</label><input type="file" class="fileinput-button" accept="image/*" onchange="fileCheck(this)" name="img_Leader" id="js-upload-files" style="margin-top:10px" /></div><div class="form-group col-md-1"></div>< div class="form-group col-md-5" ><label>توضیحات لیدر</label><textarea class="form-control" name="DescriptionLeader"></textarea></div ><div class="form-group col-md-1"></div></div></div>'
        //html = '<div class="form-body col-md-5"><div class="form-group" ><label>نام اعضا</label><input type="text" class="form-control" name="NameLeader" /></div><div class="form-group"><label> سمت اعضا</label><input type="text" class="form-control" name="Position" /></div><div class="form-group"><label>عکس اعضا</label><input type="file" class="fileinput-button" accept="image/*" onchange="fileCheck(this)" name="img_Leader" id="js-upload-files" style="margin-top:10px" /></div></div><div class="form-body col-md-1"></div><div class="form-body col-md-5"><div class="form-group"><label>تلفن اعضا</label><input type="text" class="form-control" name="TelLeader" /></div><div class="form-group"><label>توضیحات اعضا</label><textarea class="form-control" name="DescriptionLeader"></textarea></div><div class="form-body col-md-1"><button type="button" class=" btn red" id="Btn' + counter++ + '" onclick="RemoveLeader(this)">حذف</button></div></div>'
        html = '<div class="form-body Btn' + counter + 'c"><hr /><div class="row"><div class="col-md-12 Btn' + counter + 'c"><div class="col-md-5  Btn' + counter + 'c"><div class="form-group  Btn' + counter + 'c"><label>نام اعضا</label><input type="text" class="form-control  Btn' + counter + 'c" name="Name_Member" /></div></div><div class="col-md-1"></div><div class="col-md-5  Btn' + counter + 'c"><div class="form-group Btn' + counter + 'c"><label>تلفن اعضا</label><input type="text" class="form-control" name="Tel_Member" /></div></div><div class="col-md-1  Btn' + counter + 'c"></div></div></div><div class="row"><div class="col-md-12   Btn' + counter + 'c"><div class="col-md-5  Btn' + counter + 'c"><div class="form-group Btn' + counter + 'c"><label> سمت اعضا</label><input type="text" class="form-control Btn' + counter + 'c" name="Title_Member" /></div></div><div class="col-md-1"></div><div class="col-md-5  Btn' + counter + 'c"><div class="form-group  Btn' + counter + 'c"><label>توضیحات اعضا</label><textarea class="form-control  Btn' + counter + 'c" name="Description_Member"></textarea></div></div><div class="col-md-1"></div></div></div><div class="row  Btn' + counter + 'c"><div class="col-md-12 "><div class="col-md-5"><div class="form-group"><label>عکس اعضا</label><input type="file" class="fileinput-button" accept="image/*" onchange="fileCheck(this)" name="Img_Member" id="js-upload-files" style="margin-top:10px" /></div></div><div class="col-md-1"></div><div class="col-md-5"><br/><button type="button" class=" btn red" id="Btn' + counter++ + '" onclick="RemoveLeader(this)">حذف</button></div><div class="col-md-1"></div></div></div></div>'
        empty.innerHTML += html;

    }
    function RemoveLeader(btn) {
        var a = "." + btn.id + "c";
        $(a.toString()).remove();
    }
    function RemoveoldLeader(btn) {
        var jqxhr = $.getJSON('/Dashboard/deleteLeader?id=' + btn.id, function (data) {
        });
        var a = "." + btn.id + "c";
        $(a.toString()).remove();
    }

    $(document).ready(function () {
        $("#Name_Group").change(function () {
            var url = document.forms["formedit"]["Name_Group"].value;
            var jqxhr = $.getJSON('/Dashboard/checkUrl?url=' + url, function (data) {
                if (data === "1") {
                    errorurlbool = 1;
                    document.getElementById("err-name-group").innerHTML = "url انتخاب شده تکراری است";
                    errorurltext = "\n url انتخاب شده تکراری است\n";

                } else {
                    document.getElementById("err-name-group").innerHTML = "";
                    errorurltext = "";
                    errorurlbool = 0;
                }
            });
        });

        $("#Name_Group").on("keypress", function (event) {

            // Disallow anything not matching the regex pattern (A to Z uppercase, a to z lowercase and white space)
            // For more on JavaScript Regular Expressions, look here: https://developer.mozilla.org/en-US/docs/JavaScript/Guide/Regular_Expressions
            var englishAlphabetAndWhiteSpace = /[A-Za-z ]/g;

            // Retrieving the key from the char code passed in event.which
            // For more info on even.which, look here: http://stackoverflow.com/q/3050984/114029
            var key = String.fromCharCode(event.which);

            //alert(event.keyCode);

            // For the keyCodes, look here: http://stackoverflow.com/a/3781360/114029
            // keyCode == 8  is backspace
            // keyCode == 37 is left arrow
            // keyCode == 39 is right arrow
            // englishAlphabetAndWhiteSpace.test(key) does the matching, that is, test the key just typed against the regex pattern
            if (event.keyCode == 8 || event.keyCode == 37 || event.keyCode == 39 || englishAlphabetAndWhiteSpace.test(key)) {
                document.getElementById("err-name-group").innerHTML = "";
                return true;
            }
            document.getElementById("err-name-group").innerHTML = "لطفا از کارکترهای انگلیسی استفاده کنید";
            // If we got this far, just return false because a disallowed key was typed.
            return false;
        });

        $('#Name_Group').on("paste", function (e) {
            e.preventDefault();
        });

        
        //$("#formsubmit").click(function () {
           
        //})


    });

    function validateForm() {
        var errorform = 0;
        var errorimage = 0;
        var errorimagetext = "";
        errorimagebool = 0;
        var list = document.getElementsByName("Img_Member");
        $.each(document.getElementsByName("Img_Member"), function (index, value) {
            if (value.files.length == 0) {
                errorimage = 1;
                errorimagebool = 1;
            }
        });
        if (errorurlbool == 1 || errorimagebool == 1) {
            errorform = 1;
        }
        if (errorimage == 1) {
            errorimagetext = "\n وارد کردن عکس برای اعضا الزامی است";
        }
        error = errorimagetext + errorurltext;
        if (Boolean(errorform)) {
            swal({
                title: "",
                text: error,
                icon: "error",
                button: "خروج"
            });
            return false;
        }
    }

    $(document).ready(function () {
        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
    });
</script>
@{
    if (TempData["success"] != null)
    {
        string text = $"{TempData["success"]}";

        <script>
            swal({
                title: "",
                text: "@text",
                icon: "success",
                button: "خروج"
            });
        </script>
    }
    else if (TempData["error"] != null)
    {
        string text = $"{TempData["error"]}";
        <script>
            swal({
                title: "",
                text: "@text",
                icon: "error",
                button: "خروج"
            });
        </script>
    }
}