﻿@{
    ViewBag.Title = "داشبور";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
@using Tourist.Models
@using Tourist.CommonMethods
@using Compress;
@model Tuple<List<Tour>, List<Tour>, List<Payment_user>>
     <head>
        <title>توریپس | داشبورد</title>
        <meta name="description" content="داشبورد آژانس های توریپس" />
    </head>
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                <!-- BEGIN PAGE HEADER-->
                <!-- BEGIN PAGE BAR -->
                <div class="page-bar">
                    <ul class="page-breadcrumb">
                        <li>
                            <a href="#">توریپس</a>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <span>داشبورد</span>
                        </li>
                    </ul>
                    @{ 
                        System.Globalization.PersianCalendar pc = new System.Globalization.PersianCalendar();
                        DayOfWeek dayOfWeek = pc.GetDayOfWeek(DateTime.Now);
                        int day = (int)dayOfWeek;
                        int Month =pc.GetMonth(DateTime.Now);
                    }
                    <div class="page-toolbar">
                        <p class="btn btn-default">امروز: @CalendarMngr.findday(day) @pc.GetDayOfMonth(DateTime.Now) @CalendarMngr.monthofyear(Month) @pc.GetYear(DateTime.Now)</p>
                    </div>
                </div>
                <!-- END PAGE BAR -->
                <!-- BEGIN PAGE TITLE-->
                <h3 class="page-title">
                    داشبورد
                    <small>آمار گزارشات</small>
                </h3>
                <!-- END PAGE TITLE-->
                <!-- END PAGE HEADER-->
                <!-- BEGIN DASHBOARD STATS 1-->
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="dashboard-stat blue">
                            <div class="visual">
                                <i class="fa fa-file-image-o"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    <span data-counter="counterup" data-value="@TempData["TourCount"]">0</span>
                                </div>
                                <div class="desc"> تورهای ثبت شده </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="dashboard-stat red">
                            <div class="visual">
                                <i class="fa fa-money"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    <span data-counter="counterup" data-value="@TempData["AllIncome"]">0</span><span style="font-size:12px;letter-spacing:0px"> تومان</span>
                                </div>
                                <div class="desc"> کل درآمد  حاصل تا به امروز </div>
                            </div>
                        </div> 
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="dashboard-stat green">
                            <div class="visual">
                                <i class="fa fa-bullhorn"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    <span data-counter="counterup" data-value="@TempData["LastWeekCount"]">0</span><span style="font-size:12px;letter-spacing:0px"> تومان</span>
                                </div>
                                <div class="desc"> کل درآمد این هفته </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="dashboard-stat purple">
                            <div class="visual">
                                <i class="fa fa-thumbs-o-up"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    <span data-counter="counterup" data-value="@TempData["CustomerCount"]"></span>
                                </div>
                                <div class="desc"> تعداد مشتریان </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <!-- END DASHBOARD STATS 1-->
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <!-- BEGIN PORTLET-->
                        <div class="portlet light bordered">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-bar-chart font-green"></i>
                                    <span class="caption-subject font-green bold uppercase">نمودار درآمد</span>
                                    <span class="caption-helper">گزارش هفتگی</span>
                                </div>
                                @*<div class="actions">
                                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                                        <label class="btn red btn-outline btn-circle btn-sm">
                                            <input type="radio" name="options" class="toggle" id="option2">مشاهده همه <i class="fa fa-angle-left"></i>
                                        </label>
                                    </div>
                                </div>*@
                            </div>
                            <div class="portlet-body">
                                <div id="site_statistics_loading">
                                    <img src="~/Content/assets/global/img/loading.gif" alt="loading" />
                                </div>
                                <div id="site_statistics_content" class="display-none">
                                    <div id="site_statistics" class="chart"> </div>
                                </div>
                                @*<div id="site_statistics1" class="chart"> </div>*@
                            </div>
                        </div>
                        <!-- END PORTLET-->
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="portlet light bordered">
                            <div class="portlet-title tabbable-line">
                                <div class="caption">
                                    <i class="fa fa-file-image-o font-red"></i>
                                    <span class="caption-subject font-red bold uppercase">نزدیک ترین تورها</span>
                                </div>
                               
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#portlet_comments_1" data-toggle="tab"> در انتظار اجرا </a>
                                    </li>
                                    <li>
                                        <a href="#portlet_comments_2" data-toggle="tab"> اجرا شده </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="portlet-body">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="portlet_comments_1">
                                        <!-- BEGIN: Comments -->
                                        <div class="mt-comments">
                                            @foreach (var item in Model.Item2)
                                            {
                                                
                                                    <div class="mt-comment">
                                                            <a href="/events/SingleTour/?id=@item.Id">
                                                        <div class="mt-comment-img" style="width:60px">
                                                                <img width="60" height="60" src="@(item.images.SmalImage().First().Path)" />
                                                        </div>
                                                            </a>
                                                            <div class="mt-comment-body">
                                                                <a href="/events/SingleTour/?id=@item.Id">
                                                                    <div class="mt-comment-info">
                                                                        <span class="mt-comment-author">
                                                                            @item.Title
                                                                        </span>
                                                                        <span class="mt-comment-date">@CalendarMngr.JulianToPersian(item.Start_Date.Value)</span>
                                                                    </div>
                                                                </a>
                                                        <div class="mt-comment-text"></div>
                                                        <div class="mt-comment-details">
                                                            <span class="mt-comment-status mt-comment-status-pending">در انتظار اجرا</span>
                                                        </div>
                                                            </div>
                                                    </div>
                                            }
                                            
                                        </div>
                                        <!-- END: Comments -->
                                    </div>
                                    <div class="tab-pane" id="portlet_comments_2">
                                        <!-- BEGIN: Comments -->
                                        <div class="mt-comments">
                                        @foreach (var item in Model.Item1) {
                                            <div class="mt-comment">
                                                <a href="/events/SingleTour/?id=@item.Id">
                                                    <div class="mt-comment-img" style="width:60px">
                                                        <img width="60" height="60" src="@(item.images.SmalImage().First().Path)" />
                                                    </div>
                                                </a>
                                                <div class="mt-comment-body">
                                                    <a href="/events/SingleTour/?id=@item.Id">
                                                        <div class="mt-comment-info">
                                                            <span class="mt-comment-author">@item.Title</span>
                                                            <span class="mt-comment-date">@CalendarMngr.JulianToPersian(item.End_Date.Value)</span>
                                                        </div>
                                                    </a>
                                                        <div class="mt-comment-text">
                                                            
                                                        </div>
                                                        <div class="mt-comment-details">
                                                            <span class="mt-comment-status mt-comment-status-approved">اجرا شده</span>
                                                        </div>
                                                </div>
                                            </div>

                                        }
                                        </div>
                                        <!-- END: Comments -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row" id="printtable">

                    <div class="col-md-12" style="direction:rtl;text-align:right">
                        <!-- BEGIN BORDERED TABLE PORTLET-->
                        <div class="portlet light portlet-fit bordered">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-credit-card font-red"></i>
                                    <span class="caption-subject font-red sbold uppercase">لیست آخرین تراکنش های مالی</span>
                                </div>
                                <div class="actions">
                                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                                        @*<label class="btn red btn-outline btn-circle">
                                            <a name="options" class="toggle" id="print"><i class="fa fa-file-pdf-o"></i>دریافت پرینت</a>
                                        </label>*@
                                        @*<label class="btn btn-default btn-sm">
                                            <a href="/Dashboard/ReportTour" id="ReportTour">مشاهده همه تراکنش ها <i class="fa fa-angle-left"></i></a>
                                        </label>*@
                                    </div>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class='portlet-body flip-scroll'>
                                    <table class='table table-bordered table-striped table-condensed flip-content'>
                                        <thead class='flip-content'>
                                            <tr class="uppercase">
                                                <th> ردیف </th>
                                                <th> نام </th>
                                                <th> مبلغ </th>
                                                <th> تور </th>
                                                <th> وضعیت </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{int count = 1;}
                                            @foreach (var item in Model.Item3)
                                            {

                                                <tr>
                                                    <td> @count </td>
                                                    <td> @item.name </td>
                                                    <td> @item.pay تومان </td>
                                                    @if (item.Tour != null)
                                                {
                                                    <td>@item.Tour.Title</td>
                                                }
                                                else
                                                {
                                                    <td>تور حذف شده است</td>
                                                }
                                                    <td>
                                                        @if (item.commit_pay == true)
                                                        {
                                                            <span class="label label-sm label-success"> پرداخت شده </span>
                                                        }
                                                        else if(item.commit_pay == false)
                                                        {
                                                            <span class="label label-sm label-default"> برگشت داده شده </span>
                                                        }


                                                    </td>
                                                </tr>
                                                count += 1;
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- END BORDERED TABLE PORTLET-->
                    </div>
                </div>

            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
        <div id="scriptid">
            <!-- END CONTAINER -->
            <script src="~/Content/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
            <script src="~/Content/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
            <script src="~/Content/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
            <script src="~/Content/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
            <script src="~/Content/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
            <script src="~/Content/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
            <script src="~/Content/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
            <script src="~/Content/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
            <!-- END CORE PLUGINS -->
            <!-- BEGIN PAGE LEVEL PLUGINS -->
            <script src="~/Content/assets/global/plugins/moment.min.js" type="text/javascript"></script>
            <script src="~/Content/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
            <script src="~/Content/assets/global/plugins/morris/morris.min.js" type="text/javascript"></script>
            <script src="~/Content/assets/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
            <script src="~/Content/assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
            <script src="~/Content/assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>

            <script src="~/Content/assets/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
            <script src="~/Content/assets/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
            <script src="~/Content/assets/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>

            <!-- END PAGE LEVEL PLUGINS -->
            <!-- BEGIN THEME GLOBAL SCRIPTS -->
            <script src="~/Content/assets/global/scripts/app.min.js" type="text/javascript"></script>
            <!-- END THEME GLOBAL SCRIPTS -->
            <!-- BEGIN PAGE LEVEL SCRIPTS -->
            <script src="~/Content/assets/pages/scripts/dashboard.js" type="text/javascript"></script>
            <!-- END PAGE LEVEL SCRIPTS -->
            <!-- BEGIN THEME LAYOUT SCRIPTS -->
            <script src="~/Content/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
            <script src="~/Content/assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
            <script src="~/Content/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
            <!-- END THEME LAYOUT SCRIPTS -->
            <!--save -->
            <script src="~/Scripts/FileSaver.min.js"></script>
            <script src="~/Scripts/tableexport.min.js"></script>
            <script src="~/Scripts/jquery.base64.js"></script>
            <script src="~/Scripts/html2canvas.min.js"></script>
            <script src="~/Scripts/tableExport.jquery.plugin/jspdf/libs/sprintf.js"></script>
            <script src="~/Scripts/tableExport.jquery.plugin/jspdf/jspdf.js"></script>
            <script src="~/Scripts/tableExport.jquery.plugin/jspdf/libs/base64.js"></script>
            <!--save -->
        </div>
<script>
    function showChartTooltip(x, y, xValue, yValue) {
        $('<div id="tooltip" class="chart-tooltip">' + yValue + '<\/div>').css({
            position: 'absolute',
            display: 'none',
            top: y - 40,
            left: x - 40,
            border: '0px solid #ccc',
            padding: '2px 6px',
            'background-color': '#fff'
        }).appendTo("body").fadeIn(200);
    }

    var visitors = [];

    $.getJSON('/dashboard/GozareshDaramad', function (data) {
        $(data).each(function (obj) {
            visitors.push([data[obj].name, data[obj].pay]);
        });
        if ($('#site_statistics').size() != 0) {

            $('#site_statistics_loading').hide();
            $('#site_statistics_content').show();

            var plot_statistics = $.plot($("#site_statistics"), [{
                data: visitors,
                lines: {
                    fill: 0.6,
                    lineWidth: 0
                },
                color: ['#b3d9ff']
            }, {
                data: visitors,
                points: {
                    show: true,
                    fill: true,
                    radius: 5,
                    fillColor: "#66b3ff",
                    lineWidth: 3
                },
                color: '#fff',
                shadowSize: 0
            }],

                {
                    xaxis: {
                        tickLength: 0,
                        tickDecimals: 0,
                        mode: "categories",
                        min: 0,
                        font: {
                            lineHeight: 14,
                            style: "normal",
                            variant: "small-caps",
                            color: "#6F7B8A"
                        }
                    },
                    yaxis: {
                        ticks: 5,
                        tickDecimals: 0,
                        tickColor: "#eee",
                        font: {
                            lineHeight: 14,
                            style: "normal",
                            variant: "small-caps",
                            color: "#6F7B8A"
                        }
                    },
                    grid: {
                        hoverable: true,
                        clickable: true,
                        tickColor: "#eee",
                        borderColor: "#eee",
                        borderWidth: 1
                    }
                });

            var previousPoint = null;
            $("#site_statistics").bind("plothover", function (event, pos, item) {
                $("#x").text(pos.x.toFixed(2));
                $("#y").text(pos.y.toFixed(2));
                if (item) {
                    if (previousPoint != item.dataIndex) {
                        previousPoint = item.dataIndex;

                        $("#tooltip").remove();
                        var x = item.datapoint[0].toFixed(2),
                            y = item.datapoint[1].toFixed(2);

                        showChartTooltip(item.pageX, item.pageY, item.datapoint[0], item.datapoint[1] + ' تومان');
                    }
                } else {
                    $("#tooltip").remove();
                    previousPoint = null;
                }
            });
        }
                    });
</script>
<script>
    $("#print").click(function () {
        var printWindow = window.open('', '', 'height=400,width=800');
        var panel = document.getElementById("printtable");
        var head = document.getElementById('head');
        printWindow.document.write('<html>');
        printWindow.document.write(head.innerHTML);
        printWindow.document.write('</head><body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white page-md">');
        printWindow.document.write(panel.innerHTML);
        var panel1 = document.getElementById("scriptid");
        printWindow.document.write(panel1.innerHTML);
        printWindow.document.write('</body></html>');
        printWindow.document.close();
        setTimeout(function () {
            printWindow.print();
        }, 500);
    })
</script>
