﻿
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    ViewBag.Title = "توریپس | لینک تور";
}
@using Tourist.CommonMethods
@using Tourist.Models;
<head>
    <title>توریپس | لینک پیج</title>
    <meta name="description" content="لینک پیج های آژانس توریپس" />
</head>
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="~/Content/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap-rtl.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->
<!--datepicker-->
<link rel="stylesheet" href="~/Content/plugins/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.css" />
<!--Timepicker-->
<link href="~/Content/Plugins/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

<!-- END HEAD -->
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="/Dashboard/index">داشبورد</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>تور</span>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>لینک پیج</span>
                </li>
            </ul>

        </div>
        <!-- END PAGE BAR -->
        <!-- BEGIN PAGE TITLE-->
        <h3 class="page-title">
            لینک پیج ها
        </h3>
        <!-- END PAGE TITLE-->
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-md-5">
                @*<label for="select2-single-input-sm" class="control-label">انتخاب تور</label>*@
                <select id="select2-single-input-sm" class="form-control input-sm select2-multiple"></select>
                <span class="help-block">برای فیلترکردن تورها تاریخ ها را انتخاب کرده و بر روی فیلتر کلیک کنید در غیر اینصورت تور را انتخاب کنید</span>
            </div>
            <form action="/Dashboard/FilterEdit" id="Reportform" method="post" enctype="multipart/form-data">
                <div class="col-md-7">
                    <div class="form-group">
                        <div class="col-md-5">
                            @*<label class="control-label">Disable Past Dates</label>*@
                            <div class="input-group input-small date date-picker" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate1" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="bottom">
                                <input type="text" class="form-control input-small" name="start_date" id="toDate1" placeholder="از تاریخ" value="@TempData["start_date"]" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate1" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="bottom" readonly>
                                <span class="input-group-btn">
                                    <button class="btn default" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                            <span id="toDate1-err" style="color:#e03636" class="help-block"></span>
                        </div>
                        <div class="col-md-5">
                            @*<label class="control-label">Disable Past Dates</label>*@
                            <div class="input-group input-small date date-picker" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate2" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="bottom">
                                <input type="text" class="form-control input-small" name="end_date" id="toDate2" placeholder="تا تاریخ" value="@TempData["end_date"]" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate2" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="bottom" readonly>
                                <span class="input-group-btn">
                                    <button class="btn default" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                            <span id="toDate2-err" style="color:#e03636" class="help-block"></span>
                        </div>
                        <div class="col-md-2">
                            <button class="btn default" onclick="validateForm()" type="button">
                                فیلتر
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <br /><hr />
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <div class="col-md-3">
                    <h3> <label>لینک پیج</label></h3>
                </div>


                <div class="col-md-9">
                    <h3>
                        <a @*style="font-size:42%"*@ class="label label-danger" href="" id="linkpage" target="_blank">
                            از لیست بالا تور را انتخاب کنید
                        </a>
                    </h3>

                </div>
            </div>
        </div>

    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
<!-- BEGIN CORE PLUGINS -->

<script src="~/Content/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!--save -->
<script src="~/Scripts/FileSaver.min.js"></script>
<script src="~/Scripts/tableexport.min.js"></script>
<script src="~/Scripts/jquery.base64.js"></script>
<script src="~/Scripts/html2canvas.min.js"></script>
<script src="~/Scripts/tableExport.jquery.plugin/jspdf/libs/sprintf.js"></script>
<script src="~/Scripts/tableExport.jquery.plugin/jspdf/jspdf.js"></script>
<script src="~/Scripts/tableExport.jquery.plugin/jspdf/libs/base64.js"></script>
<!--save -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="~/Content/assets/global/scripts/datatable.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="~/Content/assets/global/scripts/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="~/Content/assets/pages/scripts/table-datatables-scroller.js"></script>
<script src="~/Content/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
@*<script src="~/Content/assets/pages/scripts/table-datatables-scroller.min.js" type="text/javascript"></script>*@


<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="~/Content/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
<script src="~/Content/assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
<script src="~/Content/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->
<!--datepicker script-->

<script src="~/Content/Plugins/MdBootstrapPersianDateTimePicker/jalaali.js" type="text/javascript"></script>
<script src="~/Content/Plugins/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.js" type="text/javascript"></script>
<!--timepicker script-->

<script src="~/Content/Plugins/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
@*<script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
<script src="~/Scripts/Validation.js"></script>
<script src="~/Scripts/sweetalert.min.js"></script>


<script>
    $(document).ready(function () {
        var jqxhr = $.getJSON('/Dashboard/getalltour', function (data) {
            var str = "<option value='0'>تور خود را انتخاب کنید</option>";
            $(data).each(function (obj) {
                str += "<option value='" + data[obj].Id + "'>" + data[obj].Title + "-" + data[obj].date + "</option>";
            });
            document.getElementById('select2-single-input-sm').innerHTML = str;
        });
    })
</script>

<script>
    $("#select2-single-input-sm").change(function (data) {
        let id = $(this).val();

        if (id !== 0) {
            var jqxhr = $.getJSON('/Dashboard/gettype?id=' + id, function (data) {
                var link;
                if (data === "مادروکودک") {
                    link = "http://tourips.com/Baby";
                    document.getElementById("linkpage").innerHTML = link + id;
                    document.getElementById("linkpage").setAttribute("href", link + id);
                } else {
                    link = "http://tourips.com/t";
                    document.getElementById("linkpage").innerHTML = link + id;
                    document.getElementById("linkpage").setAttribute("href", link + id);
                }
            });
        }
    });
</script>

<script>
    function validateForm() {
        var startdate = document.forms["Reportform"]["start_date"].value;
        var enddate = document.forms["Reportform"]["end_date"].value;
        var x = 0;
        if (startdate == "") {
            $("#toDate1-err").text("وارد کردن تاریخ الزامی است");
            x = 1;
        } else {
            $("#toDate1-err").text("");
        }
        if (enddate == "") {
            $("#toDate2-err").text("وارد کردن تاریخ الزامی است");
            x = 1;
        } else {
            $("#toDate2-err").text("");
        }
        if (Boolean(x)) {
            return false;
        }
        var jqxhr = $.getJSON('/Dashboard/FilterEditjson?start_date=' + startdate + '&&end_date=' + enddate, function (data) {
            var str = "<option value='0'>تور خود را انتخاب کنید</option>";
            $(data).each(function (obj) {
                str += "<option value='" + data[obj].Id + "'>" + data[obj].Title + "-" + data[obj].date + "</option>";
            });
            document.getElementById('select2-single-input-sm').innerHTML = str;
            var title = "تورها از " + startdate + "به" + enddate + "فیلتر شد";
            swal(title, {
                buttons: false,
                timer: 3000,
            });
        });

    }
</script>

@{
    if (TempData["success"] != null)
    {
        string text = $"{TempData["success"]}";

        <script>
            swal({
                title: "",
                text: "@text",
                icon: "success",
                button: "خروج"
            });
        </script>
    }
    else if (TempData["error"] != null)
    {
        string text = $"{TempData["error"]}";
        <script>
            swal({
                title: "",
                text: "@text",
                icon: "error",
                button: "خروج"
            });
        </script>
    }
}