﻿
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    ViewBag.title = "توریپس | کد تخفیف رندم";

}
@using Tourist.Models
@using Tourist.CommonMethods
@model Discount
<head>
    <title> توریپس | کد تخفیف رندم</title>
    <meta name="description" content="کد تخفیف رندم تور های توریپس" />
</head>
<!--datepicker-->
<link rel="stylesheet" href="~/Content/plugins/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.css" />
<!--Timepicker-->
<link href="~/Content/Plugins/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<!-- END HEAD -->
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="/Dashboard/index">داشبورد</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>کد تخفیف</span>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>ایجاد کد تخفیف رندم</span>
                </li>
            </ul>

        </div>
        <!-- END PAGE BAR -->
        <!-- BEGIN PAGE TITLE-->
        <h3 class="page-title">
            ایجاد کد تخفیف رندوم
        </h3>
        <!-- END PAGE TITLE-->
        <!-- END PAGE HEADER-->
        <div class="note note-info">
            <p>بعد از وارد کردن تور می‌توانید -پس از ورود به پنل خودو انتخاب تور مورد نظرتان- گزینه‌ی «ایجاد کد تخفیف » را انتخاب کنید و برای مشتریان‌تان به دو صورت درصدی ومقدار ثابت، تخفیف در نظر بگیرید. سپس کد تخفیف را از راه‌های مد نظرتان به مشتریان اطلاع‌رسانی کنید. </p>
        </div>
        <form class="form-horizontal" action="/Dashboard/MakeRandomCode" id="form1" method="post" enctype="multipart/form-data" role="form">
            <div class="row" style="margin-bottom: 20px;">
                <label class="col-md-3 control-label">تور موردنظر را انتخاب کنید</label>
                <div class="col-md-9">
                    <select id='select2-single-input-sm' name="TourID" class='form-control input-sm select2-multiple'></select>
                </div>
            </div>
            @Html.HiddenFor(x => x.ProfileID, new { Value = TempData["ProfileID"] })
            <div class="portlet light bordered">

                <div class="portlet-body form">

                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">طول کد تخفیف</label>
                            <div class="col-md-3">
                                <input type="text" name="length" class="form-control" placeholder="">
                                @Html.ValidationMessage("length", "", new { style = "color:red" })
                            </div>
                            <label class="col-md-3 control-label">ترکیب کدتخفیف‌ها</label>
                            <div class="col-md-3">
                                <select class="form-control" name="Letters">
                                    <option value="false">حرف و عدد</option>
                                    <option value="true">فقط حرف</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">نحوه اعمال تخفیف</label>
                            <div class="col-md-3">
                                @Html.DropDownListFor(x => x.IsPercent, new SelectList(new[]{
                                                                                   new { Value = "true", Text = "درصدی" },
                                                                                   new { Value = "false", Text = "مقدار ثابت" },
                                                                                         },
                                     "Value",
                                     "Text"
                                     ), new { @class = "form-control" })
                            </div>
                            <label class="col-md-3 control-label">مقدار تخفیف</label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(x => x.Discountprice, new { @class = "form-control", placeholder = "" })
                                @Html.ValidationMessageFor(x => x.Discountprice, "", new { style = "color:red" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">تعداد :</label>
                            <div class="col-md-1">
                                <input type="text" name="number" class="form-control" placeholder="">
                                @Html.ValidationMessage("number", "", new { style = "color:red" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">تاریخ اعمال:</label>
                            <div class="col-md-3">
                                <div class="input-group input-small date date-picker" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate1" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="bottom" data-mdpersiandatetimepicker="" data-mdformat="yyyy/MM/dd" data-mdpersiandatetimepickerselecteddatetime="{&quot;Year&quot;:1397,&quot;Month&quot;:10,&quot;Day&quot;:16,&quot;Hour&quot;:14,&quot;Minute&quot;:46,&quot;Second&quot;:5}" style="cursor: pointer;" data-original-title="" title="" data-mdpersiandatetimepickershowing="false">
                                    <input type="text" class="form-control input-small" name="start_date" id="toDate1" placeholder="از تاریخ" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate1" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="bottom" readonly="" data-mdpersiandatetimepicker="" data-mdformat="yyyy/MM/dd" data-mdpersiandatetimepickerselecteddatetime="{&quot;Year&quot;:1397,&quot;Month&quot;:10,&quot;Day&quot;:16,&quot;Hour&quot;:14,&quot;Minute&quot;:46,&quot;Second&quot;:5}" data-original-title="" title="" data-mdpersiandatetimepickershowing="false">
                                    <span class="input-group-btn">
                                        <button class="btn default" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group input-small date date-picker" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate2" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="bottom" data-mdpersiandatetimepicker="" data-mdformat="yyyy/MM/dd" data-mdpersiandatetimepickerselecteddatetime="{&quot;Year&quot;:1397,&quot;Month&quot;:10,&quot;Day&quot;:16,&quot;Hour&quot;:14,&quot;Minute&quot;:46,&quot;Second&quot;:5}" style="cursor: pointer;" data-original-title="" title="" data-mdpersiandatetimepickershowing="false">
                                    <input type="text" class="form-control input-small" name="end_date" id="toDate2" placeholder="تا تاریخ" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate2" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="bottom" readonly="" data-mdpersiandatetimepicker="" data-mdformat="yyyy/MM/dd" data-mdpersiandatetimepickerselecteddatetime="{&quot;Year&quot;:1397,&quot;Month&quot;:10,&quot;Day&quot;:16,&quot;Hour&quot;:14,&quot;Minute&quot;:46,&quot;Second&quot;:5}" data-original-title="" title="" data-mdpersiandatetimepickershowing="false">
                                    <span class="input-group-btn">
                                        <button class="btn default" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                @Html.ValidationMessage("start_date", "", new { style = "color:red" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">تعداد دفعات قابل استفاده:</label>
                            <div class="col-md-1">
                                @Html.TextBoxFor(x => x.Quantity, new { @class = "form-control", placeholder = "" })
                            </div>
                            <div class="col-md-3">
                                @Html.ValidationMessageFor(x => x.Quantity, "", new { style = "color:red" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">آیا <strong> توریپس </strong>میتواند در تبلیغات تور شما از این کد تخفیف استفاده کند ؟</label>
                            <div class="col-md-9">
                                <div class="radio-list">
                                    <label>
                                        <div class="radio" id="uniform-optionsRadios22">
                                            <span>
                                                @Html.RadioButtonFor(model => model.Istourips, "True", new { name = "optionsRadios", id = "yespermit", value = "yes", @checked = "" })
                                            </span>
                                        </div>  @Html.Label("بله")
                                    </label>
                                    <label>
                                        <div class="radio" id="uniform-optionsRadios23">
                                            <span>
                                                @Html.RadioButtonFor(model => model.Istourips, "False", new { name = "optionsRadios", id = "nopermit", value = "no", @checked = "" })
                                            </span>
                                        </div> @Html.Label("خیر")
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green">ثبت</button>
                                <button onclick="window.location.href='/Dashboard/ReportCode'" type="button" class="btn default">صرف نظر</button>
                            </div>
                        </div>
                    </div>
        </form>
    </div>
</div>

    </div>



</div>
<!-- END CONTENT BODY -->
<!-- END CONTENT -->
<!-- BEGIN CORE PLUGINS -->

<script src="~/Content/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>


<!-- END CORE PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="~/Content/assets/global/scripts/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- END CORE PLUGINS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="~/Content/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
<script src="~/Content/assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
<script src="~/Content/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>




<!--datepicker script-->

<script src="~/Content/Plugins/MdBootstrapPersianDateTimePicker/jalaali.js" type="text/javascript"></script>
<script src="~/Content/Plugins/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.js" type="text/javascript"></script>
<!--timepicker script-->



@*@if (TempData["error"] != null)
{
    <script>
    swal("", "@TempData["error"]", "error");
    </script>
}*@

<script>
    $(document).ready(function () {
        var jqxhr = $.getJSON('/Dashboard/gettourDiscount', function (data) {
            var str = "<option value='0'>همه</option>";
            $(data).each(function (obj) {
                str += "<option value='" + data[obj].Id + "'>" + data[obj].Title + "-" + data[obj].date + "</option>";
            });
            document.getElementById('select2-single-input-sm').innerHTML = str;
        });
    })
</script>


<script src="~/Scripts/sweetalert.min.js"></script>
@{
    if (TempData["success"] != null)
    {
        string text = $"{TempData["success"]}";

        <script>
               swal({
                title: "",
                text: "@text",
                icon: "success",
                button: "خروج"
            });
        </script>
    }
    else if (TempData["error"] != null)
    {
        string text = $"{TempData["error"]}";
        <script>
              swal({
                title: "",
                text: "@text",
                icon: "error",
                button: "خروج"
            });
        </script>
    }
}






