﻿
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    ViewBag.Title = "ارسال پیام";
}
@using Tourist.CommonMethods
@using Tourist.Models;
@model IEnumerable<Tour>
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="~/Content/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap-rtl.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->
<!--datepicker-->
<link rel="stylesheet" href="~/Content/plugins/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.css" />
<!--Timepicker-->
<link href="~/Content/Plugins/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

<!-- END HEAD -->
<!-- BEGIN CONTENT -->

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span>ارسال پیام</span>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>ایمیل</span>
                </li>
            </ul>
        </div>
        <!-- END PAGE BAR -->
        <!-- BEGIN PAGE TITLE-->
        <h3 class="page-title">
            لیست تورها
        </h3>
        <!-- END PAGE TITLE-->
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-md-5">
                @*<label for="select2-single-input-sm" class="control-label">انتخاب تور</label>*@
                <select id="select2-single-input-sm" class="form-control input-sm select2-multiple">
                    <option value="0">تور خود را انتخاب کنید</option>
                    @foreach (var item in Model)
                    {
                        <option value="@item.Id">@item.Title-@CalendarMngr.JulianToPersian(item.Start_Date.Value)</option>
                    }
                </select>
                <span class="help-block">برای فیلترکردن تورها تاریخ ها را انتخاب کرده و بر روی فیلتر کلیک کنید در غیر اینصورت تور را انتخاب کنید</span>
            </div>
            <form action="/Dashboard/Filter" id="Reportform" method="post" enctype="multipart/form-data">

                <div class="col-md-7">
                    <div class="form-group">
                        @*<div class="input-group">
                                <div class="input-group-addon" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate1" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="left">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </div>
                                <input type="text" class="form-control" name="start_date" id="toDate1" placeholder="از تاریخ" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate1" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="left" />
                            </div>*@

                        <div class="col-md-5">
                            @*<label class="control-label">Disable Past Dates</label>*@
                            <div class="input-group input-small date date-picker" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate1" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="bottom">
                                <input type="text" class="form-control input-small" name="start_date" id="toDate1" placeholder="از تاریخ" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate1" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="bottom" readonly>
                                <span class="input-group-btn">
                                    <button class="btn default" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                            <span id="toDate1-err" style="color:#e03636" class="help-block"></span>
                        </div>
                        <div class="col-md-5">
                            @*<label class="control-label">Disable Past Dates</label>*@
                            <div class="input-group input-small date date-picker" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate2" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="bottom">
                                <input type="text" class="form-control input-small" name="end_date" id="toDate2" placeholder="تا تاریخ" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate2" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="bottom" readonly>
                                <span class="input-group-btn">
                                    <button class="btn default" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                            <span id="toDate2-err" style="color:#e03636" class="help-block"></span>
                        </div>
                        <div class="col-md-2">
                            @*<label class="control-label">click</label>*@
                            <button class="btn default" type="submit">
                                فیلتر
                            </button>

                        </div>

                    </div>
                </div>
            </form>
        </div>
        <br /><hr />
        <div class="row">
            <div class="col-md-12">

                <!-- BEGIN PORTLET-->
                <div class="portlet light form-fit bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-social-dribbble font-green"></i>
                            <span class="caption-subject font-green bold uppercase">ارسال پیام</span>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <form class="form" action="/Dashboard/MessageConfirm" method="post" id="form1" enctype="multipart/form-data">
                            <div class="form-body">

                              <div class="container-fluid">
                                        
                                  <div class="col-md-8">
                                      @*عنوان پیام*@
                                      <div class="row">
                                          <div class="form-group col-md-1">
                                              <input type="hidden" value="" id="idTour" name="ID" />
                                          </div>
                                          <div class="form-group col-md-2">

                                              <label class="control-label">
                                                  عنوان پیام
                                                  <span class="required"> * </span>
                                              </label>
                                          </div>
                                          <div class="form-group col-md-8">
                                              <input type="text" name="subject" id="subject" class="form-control">
                                              <span id="subject-err" style="color:red"></span>
                                          </div>

                                      </div>
                                      @*متن پیام*@

                                      <div class="row">
                                          <div class="form-group col-md-1">
                                              <input type="hidden" value="" id="idTour" name="ID" />
                                          </div>
                                          <div class="form-group col-md-2">

                                              <label class="control-label">
                                                  متن پیام
                                                  <span class="required"> * </span>
                                              </label>
                                          </div>
                                          <div class="form-group col-md-8">
                                              <textarea type="text" id="body" name="body" class="form-control" rows="3"></textarea>
                                              <span id="body-err" style="color:red"></span>
                                          </div>
                                      </div>

                                      @*ارسال*@

                                      <div class="form-group col-md-2">
                                          <input type="hidden" value="" id="idTour" name="ID" />
                                      </div>
                                      <button type="submit" class="btn green col-md-4 ">
                                          <i class="fa fa-check"></i> ارسال
                                      </button>

                                  </div>                                   
                                        
                                  <div class="form-group col-md-4">
                                      
                                          <div class="note note-info" id="note">
                                              متن پیام را وارد کرده و ارسال را کلیک کنید
                                          </div>
                                      
                                  </div>
                                   
                                  </div>
                            </div>
                     
                        </form>
                        <!-- END FORM-->
                    </div>
                    
                <!-- END PORTLET-->
            </div>
        </div>

    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
<!-- BEGIN CORE PLUGINS -->

<script src="~/Content/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!--save -->
<script src="~/Scripts/FileSaver.min.js"></script>
<script src="~/Scripts/tableexport.min.js"></script>
<script src="~/Scripts/jquery.base64.js"></script>
<script src="~/Scripts/html2canvas.min.js"></script>
<script src="~/Scripts/tableExport.jquery.plugin/jspdf/libs/sprintf.js"></script>
<script src="~/Scripts/tableExport.jquery.plugin/jspdf/jspdf.js"></script>
<script src="~/Scripts/tableExport.jquery.plugin/jspdf/libs/base64.js"></script>
<!--save -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="~/Content/assets/global/scripts/datatable.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="~/Content/assets/global/scripts/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="~/Content/assets/pages/scripts/table-datatables-scroller.js"></script>
<script src="~/Content/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
@*<script src="~/Content/assets/pages/scripts/table-datatables-scroller.min.js" type="text/javascript"></script>*@


<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="~/Content/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
<script src="~/Content/assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
<script src="~/Content/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->
<!--datepicker script-->

<script src="~/Content/Plugins/MdBootstrapPersianDateTimePicker/jalaali.js" type="text/javascript"></script>
<script src="~/Content/Plugins/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.js" type="text/javascript"></script>
<!--timepicker script-->

<script src="~/Content/Plugins/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
@*<script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
@*<script src="~/Content/Template/js/functions.js"></script>*@
<script src="~/Scripts/Validation.js"></script>

<script>

    $(document).ready(function () {

        $('#form1').validate({ // initialize the plugin

            rules: {
                body: {
                    required: true,

                },
                subject: {
                    required: true,

                }
            },
            messages: {
                body: {
                    required: "وارد کردن متن پیام الزامی است",

                },
                subject: {
                    required: "وارد کردن عنوان پیام الزامی است",

                }

            },
            submitHandler: function (form) {
                form.submit();
            }
        });

    });
</script>



<script>
    $("#select2-single-input-sm").change(function (data) {
        let id = $(this).val();
        console.log(id);
        var tedad = "";
        document.getElementById("idTour").setAttribute("value", id);
        $.getJSON("/Dashboard/getUserCount?id=" + id, function (data) {
            console.log(data);
            tedad = "تعداد افراد این تور:" + data;
        document.getElementById("note").innerHTML = tedad;
        });
    });
</script>
