﻿
@{

    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    ViewBag.Title = "توریپس | ارتقاء حساب";
}
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="~/Content/assets/pages/css/pricing-rtl.min.css" rel="stylesheet" type="text/css" />


<!-- END PAGE LEVEL STYLES -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <div class="clearfix"></div>
        <!-- END DASHBOARD STATS 1-->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light portlet-fit bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-share font-green"></i>
                            <span class="caption-subject font-green bold uppercase">ارتقاء حساب</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="pricing-content-1">
                            <div class="row">
                                <div class="col-md-4">
                                    
                                </div>
                                <div class="col-md-4">
                                    <form action="/Payment/UpgradeProfile" method="post">
                                        <div class="price-column-container border-active">
                                            <div class="price-table-head bg-red">
                                                <h2 class="no-margin">معمولی</h2>
                                            </div>
                                            <div class="arrow-down border-top-red"></div>
                                            <div class="price-table-pricing">
                                                <h3 style="font-size:48px !important">
                                                    <span class="price-sign" style="font-size:19px;margin-right:-76px">هزارتومان</span>۲۰۰
                                                </h3>
                                                <h4 style="color: #32c5d2;font-size: 23px !important;padding-right: -49px;">
                                                    <strike style="
    color: red;
    font-size: 27px;
">۴۰۰</strike>
                                                </h4>
                                                <p>سالانه</p>
                                                <div class="price-ribbon">
                                                    ۵۰% تخفیف
                                                </div>
                                            </div>
                                            
                                            <div class="price-table-content">
                                                <div class="row mobile-padding">
                                                    <div class="col-xs-3 text-right mobile-padding">
                                                        <i class="icon-user-follow"></i>
                                                    </div>
                                                    <div class="col-xs-9 text-left mobile-padding">ثبت تور</div>
                                                </div>
                                                <div class="row mobile-padding">
                                                    <div class="col-xs-3 text-right mobile-padding">
                                                        <i class="icon-drawer"></i>
                                                    </div>
                                                    <div class="col-xs-9 text-left mobile-padding">ویرایش تور</div>
                                                </div>
                                                <div class="row mobile-padding">
                                                    <div class="col-xs-3 text-right mobile-padding">
                                                        <i class="icon-cloud-download"></i>
                                                    </div>
                                                    <div class="col-xs-9 text-left mobile-padding">گزارش گیری</div>
                                                </div>
                                                <div class="row mobile-padding">
                                                    <div class="col-xs-3 text-right mobile-padding">
                                                        <i class="icon-refresh"></i>
                                                    </div>
                                                    <div class="col-xs-9 text-left mobile-padding">صفحه شخصی آژانش</div>
                                                </div>
                                            </div>
                                            <div class="arrow-down arrow-grey"></div>
                                            <input type="hidden" value="1" name="id" />
                                            <div class="price-table-footer">
                                                <button type="submit" class="btn green price-button sbold uppercase">پرداخت</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-4">
                                    
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
    <!-- END CONTENT BODY -->
</div>

<!-- BEGIN CORE PLUGINS -->
<script src="~/Content/Template/js/jquery-1.11.2.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<script src="~/Content/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/scripts/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS
<!-- BEGIN THEME LAYOUT SCRIPTS -->

<script src="~/Content/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
<script src="~/Content/assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
<script src="~/Content/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->




    @*@if (TempData["Role"].ToString() == "PreAdmin") {
<script>
    $('.pre').click(function (e) {
        e.preventDefault();
                swal({
                    title: '',
                    text: "برای استفاده از این امکان باید حساب خود را ارتقا دهید",
                    type: "error",
                    showCancelButton: true,
                    showConfirmButton: false,
                    cancelButtonText: "خروج",
                    closeOnConfirm: false
                })
    });
</script>
    }*@

