﻿@model IEnumerable<Tourist.Models.Profile_Tour>

@{
   
    Layout = "~/Views/Shared/_Layouttest.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>profiletour</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name_Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name_Leader)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name_Agency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tel_Agency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tel_Leader)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Map_len)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Map_lat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available_money)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.instagram)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhatsApp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telegram)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.city)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number_License)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expiration_License)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image_License)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkWithUs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUser.Email)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name_Group)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name_Leader)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name_Agency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tel_Agency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tel_Leader)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Map_len)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Map_lat)
                </td>
                <td>
                    @if (item.Available_money != null)
                    {
                    @Html.DisplayFor(modelItem => item.Available_money)
                    } else {
                        <text>0</text>
                    }
                </td>
                <td>
                    @if (item.Image_License != null) {
                    <img src="@($"data:image/jpeg;base64,{Convert.ToBase64String(item.Image_License)}")" class="img-responsive" alt="">
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Service)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.instagram)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WhatsApp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telegram)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manager)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.image)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mobile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.city)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number_License)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Expiration_License)
                </td>
                <td>
                    @if (item.Image_License != null) {
                    <img src="@($"data:image/jpeg;base64,{Convert.ToBase64String(item.Image_License)}")" class="img-responsive" alt="">
                    }
                    @*@Html.DisplayFor(modelItem => item.Image_License)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkWithUs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUser.Email)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
</body>
</html>
<script src="~/Scripts/jquery-2.2.4.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>