﻿@model Tourist.Models.Profile_Tour
@{
    ViewBag.Title = "CreateProfile";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<form action="CreateProfileConfirm" method="post" enctype="multipart/form-data">
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->
            <!-- BEGIN PAGE BAR -->
            <div class="form-body">
                <div class="row">
                    <div class="col-md-12 ">
                        <!-- BEGIN SAMPLE FORM PORTLET-->
                        <div class="portlet light bordered">
                            <div class="portlet-title">
                                <div class="caption font-red-sunglo">
                                    <i class="icon-settings font-red-sunglo"></i>
                                    <span class="caption-subject bold uppercase">ایجاد پروفایل</span>
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <div class="form-body col-md-5">
                                    <div class="form-group">
                                        <label>نام وارد شده در URL</label>

                                        @Html.TextBoxFor(x => x.Name_Group, new { type = "text", @class = "form-control", placeholder = "لطفا نام را با زبان انگلیسی وارد نمایید" })
                                    </div>

                                    <div class="form-group">
                                        <label>نام آژانس</label>
                                        @Html.TextBoxFor(x => x.Name_Agency, new { type = "text", @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label>تلفن آژانس</label>
                                        @Html.TextBoxFor(x => x.Tel_Agency, new { type = "text", @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label>آدرس</label>

                                        @Html.TextBoxFor(x => x.Address, new { type = "text", @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label>اینستاگرام</label>
                                        @Html.TextBoxFor(x => x.instagram, new { type = "text", @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label>واتساپ</label>
                                        @Html.TextBoxFor(x => x.WhatsApp, new { type = "text", @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label>سرویس ها</label>
                                        @Html.TextAreaFor(x => x.Service, new { type = "text", @class = "form-control" })
                                    </div>

                                </div>
                                <div class="form-body col-md-1"></div>
                                <div class="form-body col-md-5">
                                    <div class="form-group">
                                        <label>طول جغرافیایی</label>
                                        @Html.TextBoxFor(x => x.Map_len, new { type = "text", @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label>عرض جغرافیایی</label>
                                        @Html.TextBoxFor(x => x.Map_lat, new { type = "text", @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label>مدیر</label>
                                        @Html.TextBoxFor(x => x.Manager, new { type = "text", @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label>آپلود لوگو</label>
                                        <input type="file" class="fileinput-button" accept="image/*" onchange="fileCheck(this)" name="logo_img" id="js-upload-files" style="margin-top:10px" />
                                        @Html.TextBoxFor(x => x.Logo, new { type = "file", @class = "fileinput-button", accept = "image/", onchange = "fileCheck(this);", multiple = "multiple", name = "img_logo", id = "js-upload-files", style = "margin-top:10px" })
                                        @Html.ValidationMessageFor(x => x.Logo, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>آپلود عکس</label>
                                        <input type="file" class="fileinput-button" accept="image/*" onchange="fileCheck(this)" name="img" id="js-upload-files" style="margin-top:10px" />
                                        @Html.TextBoxFor(x =>x.image, new { type = "file", @class = "fileinput-button", accept = "image/", onchange = "fileCheck(this);", name = "img", id = "js-upload-files", style = "margin-top:10px" })
                                        @Html.ValidationMessageFor(x => x.image, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>تلگرام</label>
                                        @Html.TextBoxFor(x => x.Telegram, new { type = "text", @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label>توضیحات</label>
                                        @Html.TextAreaFor(x => x.Description, new { type = "text", @class = "form-control" })
                                    </div>

                                </div>

                                <div class="form-body" id="DivLeader">
                                    <div class="row">
                                        <div class="col-md-12 ">
                                            <hr />
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label>نام اعضا</label>
                                                    <input type="text" class="form-control" name="Name_Member" />
                                                </div>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label>تلفن اعضا</label>
                                                    <input type="text" class="form-control" name="Tel_Member" />
                                                </div>
                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 ">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label> سمت اعضا</label>
                                                    <input type="text" class="form-control" name="Title_Member" />
                                                </div>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label>توضیحات اعضا</label>
                                                    <textarea class="form-control" name="Description_Member"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 ">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label>عکس اعضا</label>
                                                    <input type="file" class="fileinput-button" accept="image/*" onchange="fileCheck(this)" name="Img_Member" id="js-upload-files" style="margin-top:10px" />
                                                </div>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-5"></div>
                                            <div class="col-md-1"></div>
                                        </div>
                                    </div>
                                </div>

                                <div id="empty"></div>
                                <div class="row">
                                    <button type="button" class="btn green" onclick="AddLeader()">اضافه کردن لیدر</button>

                                </div>
                                <hr />
                                </br>

                                <div class="form-actions">
                                    <button type="submit" class="btn blue">ثبت پروفایل</button>
                                </div>
                            </div>

                            <!-- END SAMPLE FORM PORTLET-->
                        </div>
                    </div>

                    <!-- BEGIN SAMPLE FORM PORTLET-->

                </div>
            </div>
        </div>
    </div>
    </div>
</form>
<script>//counter_div = 1
    counter = 1;
    function AddLeader() {


        //html = '<div id="DivLeader"><div class="row"><div class="form-group" ><div class="form-group col-md-5"><label>نام لیدر</label><input type="text" class="form-control" name="NameLeader" /></div><div class="form-group col-md-1"></div><div class="form-group col-md-5"><label>تلفن لیدر</label><input type="text" class="form-control" name="TelLeader" /></div><div class="form-group col-md-1"><br/><button type="button" class=" btn red" id="Btn' + counter++ + '" onclick="RemoveLeader(this)">حذف</button></div></div></div ><div class="row"><div class="form-group col-md-5"><label>عکس لیدر</label><input type="file" class="fileinput-button" accept="image/*" onchange="fileCheck(this)" name="img_Leader" id="js-upload-files" style="margin-top:10px" /></div><div class="form-group col-md-1"></div>< div class="form-group col-md-5" ><label>توضیحات لیدر</label><textarea class="form-control" name="DescriptionLeader"></textarea></div ><div class="form-group col-md-1"></div></div></div>'
        //html = '<div class="form-body col-md-5"><div class="form-group" ><label>نام اعضا</label><input type="text" class="form-control" name="NameLeader" /></div><div class="form-group"><label> سمت اعضا</label><input type="text" class="form-control" name="Position" /></div><div class="form-group"><label>عکس اعضا</label><input type="file" class="fileinput-button" accept="image/*" onchange="fileCheck(this)" name="img_Leader" id="js-upload-files" style="margin-top:10px" /></div></div><div class="form-body col-md-1"></div><div class="form-body col-md-5"><div class="form-group"><label>تلفن اعضا</label><input type="text" class="form-control" name="TelLeader" /></div><div class="form-group"><label>توضیحات اعضا</label><textarea class="form-control" name="DescriptionLeader"></textarea></div><div class="form-body col-md-1"><button type="button" class=" btn red" id="Btn' + counter++ + '" onclick="RemoveLeader(this)">حذف</button></div></div>'
        html = '<div class="form-body"><div class="col-md-12 "><hr /><div class="col-md-5"><div class="form-group"><label>نام اعضا</label><input type="text" class="form-control" name="Name_Member" /></div></div><div class="col-md-1"></div><div class="col-md-5"><div class="form-group"><label>تلفن اعضا</label><input type="text" class="form-control" name="Tel_Member" /></div></div><div class="col-md-1"></div></div></div><div class="row"><div class="col-md-12 "><div class="col-md-5"><div class="form-group"><label> سمت اعضا</label><input type="text" class="form-control" name="Title_Member" /></div></div><div class="col-md-1"></div><div class="col-md-5"><div class="form-group"><label>توضیحات اعضا</label><textarea class="form-control" name="Description_Member"></textarea></div></div><div class="col-md-1"></div></div></div><div class="row"><div class="col-md-12 "><div class="col-md-5"><div class="form-group"><label>عکس اعضا</label><input type="file" class="fileinput-button" accept="image/*" onchange="fileCheck(this)" name="Img_Member" id="js-upload-files" style="margin-top:10px" /></div></div><div class="col-md-1"></div><div class="col-md-5"><br/><button type="button" class=" btn red" id="Btn' + counter++ + '" onclick="RemoveLeader(this)">حذف</button></div><div class="col-md-1"></div></div></div></div>'
        empty.innerHTML += html;

    }
    function RemoveLeader(btn) {
        document.getElementById(btn.id).parentNode.parentNode.parentNode.remove();

    }</script>
