﻿
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    ViewBag.Title = "توریپس | گزارش تور";
}
@using Tourist.CommonMethods
@using Tourist.Models;

<!-- BEGIN PAGE LEVEL PLUGINS -->
<head>
    <title>توریپس | گزارش تور</title>
    <meta name="description" content="گزارش تور در توریپس" />
</head>
<div id='Link'>
    <link href='~/Content/assets/global/plugins/datatables/datatables.min.css' rel='stylesheet' type='text/css' />
    <link href='~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap-rtl.css' rel='stylesheet' type='text/css' />
    <link href='~/Content/assets/global/plugins/select2/css/select2.min.css' rel='stylesheet' type='text/css' />
    <link href='~/Content/assets/global/plugins/select2/css/select2-bootstrap.min.css' rel='stylesheet' type='text/css' />
</div>
<!-- END PAGE LEVEL PLUGINS -->
<!--datepicker-->
<link rel='stylesheet' href='~/Content/plugins/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.css' />
<!--Timepicker-->
<link href='~/Content/Plugins/datetimepicker/css/bootstrap-datetimepicker.min.css' rel='stylesheet' />
<style>
    .swal-footer {
        background-color: rgb(245, 248, 250);
        margin-top: 32px;
        border-top: 1px solid #E9EEF1;
        overflow: hidden;
        text-align: center;
    }
    .swal-button {
        text-align: center;
    }
</style>

<!-- END HEAD -->
<!-- BEGIN CONTENT -->
<div class='page-content-wrapper'>
    <!-- BEGIN CONTENT BODY -->
    <div class='page-content'>
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BAR -->
        <div class='page-bar'>
            <ul class='page-breadcrumb'>
                <li>
                    <a href='/Dashboard/index'>داشبورد</a>
                    <i class='fa fa-circle'></i>
                </li>
                <li>
                    <span>تور</span>
                    <i class='fa fa-circle'></i>
                </li>
                <li>
                    <span>گزارش تور</span>
                </li>
            </ul>
        </div>
        <!-- END PAGE BAR -->
        <!-- BEGIN PAGE TITLE-->
        <h3 class='page-title'>
            لیست پرداخت شده ها
        </h3>
        <!-- END PAGE TITLE-->
        <!-- END PAGE HEADER-->
        <div class='row'>
            <div class='col-md-5'>
                @*<label for='select2-single-input-sm' class='control-label'>انتخاب تور</label>*@
                <select id='select2-single-input-sm' class='form-control input-sm select2-multiple'></select>
                <span class='help-block'>برای فیلترکردن تورها تاریخ ها را انتخاب کرده و بر روی فیلتر کلیک کنید در غیر اینصورت تور را انتخاب کنید</span>
            </div>
            <form action="/Dashboard/Filter" id="Reportform" method="post" enctype="multipart/form-data">
                <div class="col-md-7">
                    <div class="form-group">
                        <div class="col-md-5">
                            <div class="input-group input-small date date-picker" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate1" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="bottom">
                                <input type="text" class="form-control input-small" name="start_date" id="toDate1" placeholder="از تاریخ" value="@TempData["start_date"]" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate1" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="bottom" readonly>
                                <span class="input-group-btn">
                                    <button class="btn default" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                            <span id="toDate1-err" style="color:#e03636" class="help-block"></span>
                        </div>
                        <div class="col-md-5">
                            <div class="input-group input-small date date-picker" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate2" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="bottom">
                                <input type="text" class="form-control input-small" name="end_date" id="toDate2" placeholder="تا تاریخ" value="@TempData["end_date"]" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#toDate2" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="bottom" readonly>
                                <span class="input-group-btn">
                                    <button class="btn default" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                            <span id="toDate2-err" style="color:#e03636" class="help-block"></span>
                        </div>
                        <div class="col-md-2">
                            <button class="btn default" onclick="validateForm()" type="button">
                                فیلتر
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <br /><hr />
        <div class='row' id='printtable'>
            <div class='col-md-12'>
                <!-- END EXAMPLE TABLE PORTLET-->
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class='portlet box green'>
                    <div class='portlet-title'>
                        <div class='caption' id='caption'>
                            تور انتخاب نشده
                        </div>
                        <div class='tools'>
                            <div class='btn-group'>
                                <a id='save' style='margin-left:10px' class='btn red btn-outline btn-circle'>
                                    <i class='fa fa-share'></i>
                                    <span class='hidden-xs'> ذخیره </span>
                                    <i class='fa fa-angle-down'></i>
                                </a>
                            </div>
                            <a href='javascript:;' class='collapse'> </a>
                        </div>
                    </div>
                    <div class='portlet-body'>
                        <div class='portlet-body flip-scroll'>
                            <table class='table table-bordered table-striped table-condensed flip-content'>
                                <thead class='flip-content'>
                                    <tr>
                                        <th>ردیف</th>
                                        <th>اسم</th>
                                        <th>شماره ملی</th>
                                        <th>نام پدر</th>
                                        <th>تاریخ تولد</th>
                                        <th>تلفن</th>
                                        <th>مبلغ</th>
                                        <th id='1'>وسیله نقلیه</th>
                                        <th id='2'>اپشن</th>
                                        <th>توضیحات</th>
                                        <th>شماره تراکنش</th>
                                    </tr>
                                </thead>
                                <tbody id='body'></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
<!-- BEGIN CORE PLUGINS -->
<div id='scriptid'>
    <script src='~/Content/assets/global/plugins/jquery.min.js' type='text/javascript'></script>
    <script src='~/Content/assets/global/plugins/bootstrap/js/bootstrap.min.js' type='text/javascript'></script>
    <script src='~/Content/assets/global/plugins/js.cookie.min.js' type='text/javascript'></script>
    <script src='~/Content/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js' type='text/javascript'></script>
    <script src='~/Content/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js' type='text/javascript'></script>
    <script src='~/Content/assets/global/plugins/jquery.blockui.min.js' type='text/javascript'></script>
    <script src='~/Content/assets/global/plugins/uniform/jquery.uniform.min.js' type='text/javascript'></script>
    <script src='~/Content/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js' type='text/javascript'></script>
    <!-- END CORE PLUGINS -->
    <!--save -->
    <script src='~/Scripts/FileSaver.min.js'></script>
    <script src='~/Scripts/tableexport.min.js'></script>

    <script src='~/Scripts/html2canvas.min.js'></script>
    <script src='~/Scripts/tableExport.jquery.plugin/jspdf/libs/sprintf.js'></script>
    <script src='~/Scripts/tableExport.jquery.plugin/jspdf/jspdf.js'></script>
    <script src='~/Scripts/tableExport.jquery.plugin/jspdf/libs/base64.js'></script>
    <!--save -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src='~/Content/assets/global/plugins/select2/js/select2.full.min.js' type='text/javascript'></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src='~/Content/assets/global/scripts/app.min.js' type='text/javascript'></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src='~/Content/assets/pages/scripts/components-select2.min.js' type='text/javascript'></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src='~/Content/assets/layouts/layout/scripts/layout.min.js' type='text/javascript'></script>
    <script src='~/Content/assets/layouts/layout/scripts/demo.min.js' type='text/javascript'></script>
    <script src='~/Content/assets/layouts/global/scripts/quick-sidebar.min.js' type='text/javascript'></script>
    <!-- END THEME LAYOUT SCRIPTS -->
    <!--datepicker script-->

    <script src='~/Content/Plugins/MdBootstrapPersianDateTimePicker/jalaali.js' type='text/javascript'></script>
    <script src='~/Content/Plugins/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.js' type='text/javascript'></script>
    <!--timepicker script-->

    <script src='~/Content/Plugins/datetimepicker/js/bootstrap-datetimepicker.min.js'></script>
    @*<script src='~/Scripts/jquery.validate.min.js'></script>
        <script src='~/Scripts/jquery.validate.unobtrusive.min.js'></script>*@
    <script src='~/Scripts/Validation.js'></script>
    <script src='~/Scripts/Extend.js'></script>

</div>

<script src="~/Scripts/sweetalert.min.js"></script>


<script>
    $(document).ready(function () {
        var jqxhr = $.getJSON('/Dashboard/getalltour', function (data) {
            var str = "<option value='0'>تور خود را انتخاب کنید</option>";
            $(data).each(function (obj) {
                str += "<option value='" + data[obj].Id + "'>" + data[obj].Title + "-" + data[obj].date + "</option>";
            });
            document.getElementById('select2-single-input-sm').innerHTML = str;
        });
    })
</script>


<script>
    function validateForm() {
        var startdate = document.forms["Reportform"]["start_date"].value;
        var enddate = document.forms["Reportform"]["end_date"].value;
        var x = 0;
        if (startdate == "") {
            $("#toDate1-err").text("وارد کردن تاریخ الزامی است");
            x = 1;
        } else {
            $("#toDate1-err").text("");
        }
        if (enddate == "") {
            $("#toDate2-err").text("وارد کردن تاریخ الزامی است");
            x = 1;
        } else {
            $("#toDate2-err").text("");
        }
        if (Boolean(x)) {
            return false;
        }
        var jqxhr = $.getJSON('/Dashboard/FilterEditjson?start_date=' + startdate + '&&end_date=' + enddate, function (data) {
            var str = "<option value='0'>تور خود را انتخاب کنید</option>";
            $(data).each(function (obj) {
                str += "<option value='" + data[obj].Id + "'>" + data[obj].Title + "-" + data[obj].date + "</option>";
            });
            document.getElementById('select2-single-input-sm').innerHTML = str;
            var title = "تورها از " + startdate + "به" + enddate + "فیلتر شد";
            swal(title, {
                buttons: false,
                timer: 3000,
            });
        });

    }
</script>



<script>
    var dataTour;
    var idtour = '';
    $('#select2-single-input-sm').change(function (data) {
        let id = $(this).val();
        idtour = $(this).val();
        var cap = this.options[this.selectedIndex].innerHTML;
        if (id !== 0) {
            document.getElementById('caption').innerHTML = cap;
            var str = '';
            var i = 1;
            var jqxhr = $.getJSON('/Dashboard/getpaymentuser?id=' + id, function (data) {
                dataTour = data;
                $(data).each(function (obj) {
                    str += '<tr><td>' + i + '</td><td>' + data[obj].name + '</td>' + '<td>' + data[obj].ssn + '</td>' + '<td>' + data[obj].Father + '</td>' + '<td>' + data[obj].Born_Date_fa + '</td>' + '<td>' + data[obj].mobie + '</td>' + '<td>' + data[obj].pay + '</td>' + '<td>' + data[obj].transfer + '</td>' + '<td>' + data[obj].ExteraOption + '</td>' + '<td>' + data[obj].Description + '</td>' + '<td>' + data[obj].refId + '</td>' + '</tr>';
                    i = i + 1;
                    if (data[0].Type === 'مادروکودک') {
                        document.getElementById('1').innerHTML = 'نوع';
                        document.getElementById('2').innerHTML = 'اضافه';
                    } else {
                        document.getElementById('1').innerHTML = 'وسیله نقلیه';
                        document.getElementById('2').innerHTML = 'اپشن';
                    }
                });

                document.getElementById('body').innerHTML = str;
            });
        }
    });
</script>


<script>
    $('#save').click(function () {

        if (dataTour!=null )
        {
            if (dataTour.length > 0)
            {
                swal({
                    title: "دریافت pdf",
                    text: $("#caption").text(),
                    buttons: ["خروج", "دریافت"],
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            var tit = $('#caption').text();
                        $.post("@Url.Action("PdfReport", "Dashboard")", {
                            users: dataTour,
                            title: tit,
                             column1: $('#1').text(),
                            column2: $('#2').text() }).success(function (data) {
                           window.open("data:application/pdf;base64," + data);

                               //    var blob1 = decode_base64(data);
                               // var blob = new Blob(date, { type: "application/pdf" });
                                var link = document.createElement('a');
                                link.href = window.URL.createObjectURL(b64toBlob(data, "application/pdf"));
                                link.download = "Report_" + tit + ".pdf";
                                link.click();
            });
                        }
                    });

                
            } else {
                swal("", "تور انتخاب شده،هیچ تراکنش انجام شده ای ندارد", "error");
            }
        } else {

            swal("", "توری انتخاب نشده", "error");

        }


    });
    function b64toBlob(b64Data, contentType) {
        contentType = contentType || '';
        sliceSize = 512;

        var byteCharacters = atob(b64Data);
        var byteArrays = [];

        for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
            var slice = byteCharacters.slice(offset, offset + sliceSize);

            var byteNumbers = new Array(slice.length);
            for (var i = 0; i < slice.length; i++) {
                byteNumbers[i] = slice.charCodeAt(i);
            }

            var byteArray = new Uint8Array(byteNumbers);

            byteArrays.push(byteArray);
        }

        var blob = new Blob(byteArrays, { type: contentType });
        return blob;
    }
</script>




@{
    if (TempData["success"] != null)
    {
        string text = $"{TempData["success"]}";

        <script>
            swal({
                title: "",
                text: "@text",
                icon: "success",
                button: "خروج"
            });
        </script>
    }
    else if (TempData["error"] != null)
    {
        string text = $"{TempData["error"]}";
        <script>
            swal({
                title: "",
                text: "@text",
                icon: "error",
                button: "خروج"
            });
        </script>
    }
}