﻿@using Tourist.Models
@model  Tuple<List<RequestBalance>, List<RequestBalance>>
@{
    ViewBag.Title = "توریپس | گزارش تسویه";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    int counter = 1;
}
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="~/Content/assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->
<head>
    <title>توریپس | گزارش تسویه</title>
    <meta name="description" content="گزارش ها در توریپس" />
</head>
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BAR -->
        <div class="form-group">
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-comments"></i>گزارش پرداخت
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th> ردیف </th>
                                    <th> نام آژانس مسافرتی </th>
                                    <th> مبلغ درخواستی </th>
                                    <th> موجودی </th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model.Item1)
                                {
                                    <tr>
                                        <td>@counter</td>
                                        <td>@item.Profile_Tour.Name_Agency</td>
                                        <td>@item.Amount</td>
                                        <td>@item.Available</td>
                                        <td>
                                            <form action="/Dashboard/finishRequest">
                                                <input type="hidden" name="id" value="@item.ID" />
                                                <button type="submit" id="pay" class="btn btn-sm btn-success">پرداخت شده</button>
                                                <a data-toggle='modal' href='#responsive' onclick="reject(@item.ID.ToString())" class="btn btn-sm btn-danger">ردکردن</a>
                                            </form>
                                        </td>
                                    </tr>
                                    counter++;
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-comments"></i>گزارش پرداخت شده ها و ردی ها
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th> ردیف </th>
                                    <th> نام آژانس مسافرتی </th>
                                    <th> مبلغ درخواستی </th>
                                    <th> موجودی </th>
                                    <th> پرداخت </th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model.Item2)
                                {
                                    <tr>
                                        <td>@counter</td>
                                        <td>@item.Profile_Tour.Name_Agency</td>
                                        <td>@item.Amount</td>
                                        <td>@item.Available</td>

                                        @if (item.Confirmation == 1)
                                        {
                                            <td><span class="label label-sm label-success"> پرداخت شده </span></td>}
                                        else
                                        {
                                            <td><span class="label label-sm label-danger"> رد شده </span></td>}
                                    </tr>
                                    counter++;
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="responsive" class="modal fade" tabindex="-1" data-width="300">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <center>
            <h4 class="modal-title">دلیل رد</h4>
            </center>
        </div>
        <form action="/Dashboard/RejectRequest" id="form1">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <p>
                                <center><label>توضیحات</label></center>
                                <textarea class="form-control" name="Description" id="Description" type="text"></textarea>
                            </p>
                        </div>
                        <input type="hidden" name="idReject"  id="idReject" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-outline dark">بستن</button>
                <button type="submit" class="btn red">ردکردن</button>
            </div>
        </form>
    </div>
</div>
<!-- BEGIN CORE PLUGINS -->

<script src="~/Content/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<script>
    function reject(id) {
        document.getElementById("idReject").setAttribute("Value", id);
    }
</script>
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="~/Content/assets/global/scripts/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="~/Content/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
<script src="~/Content/assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
<script src="~/Content/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="~/Content/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="~/Content/assets/pages/scripts/ui-extended-modals.min.js" type="text/javascript"></script>