﻿
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    ViewBag.Title = "توریپس | گزارش کدهای تخفیف";
}
@using Tourist.CommonMethods
@using Tourist.Models;

<!-- BEGIN PAGE LEVEL PLUGINS -->
<head>
    <title>توریپس | گزارش کدهای تخفیف</title>
    <meta name="description" content="گزارش کدهای تخفیف در توریپس" />
</head>
<div id='Link'>
    <link href='~/Content/assets/global/plugins/datatables/datatables.min.css' rel='stylesheet' type='text/css' />
    <link href='~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap-rtl.css' rel='stylesheet' type='text/css' />
    <link href='~/Content/assets/global/plugins/select2/css/select2.min.css' rel='stylesheet' type='text/css' />
    <link href='~/Content/assets/global/plugins/select2/css/select2-bootstrap.min.css' rel='stylesheet' type='text/css' />
</div>
<!-- END PAGE LEVEL PLUGINS -->
<!--datepicker-->
<link rel='stylesheet' href='~/Content/plugins/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.css' />
<!--Timepicker-->
<link href='~/Content/Plugins/datetimepicker/css/bootstrap-datetimepicker.min.css' rel='stylesheet' />

<!-- END HEAD -->
<!-- BEGIN CONTENT -->
<div class='page-content-wrapper'>
    <!-- BEGIN CONTENT BODY -->
    <div class='page-content'>
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BAR -->
        <div class='page-bar'>
            <ul class='page-breadcrumb'>
                <li>
                    <a href='/Dashboard/index'>داشبورد</a>
                    <i class='fa fa-circle'></i>
                </li>
                <li>
                    <span>کدهای تخفیف</span>
                    <i class='fa fa-circle'></i>
                </li>
            </ul>
        </div>
        <!-- END PAGE BAR -->
        <!-- BEGIN PAGE TITLE-->
        <h3 class='page-title'>
            لیست کدهای تعریف شده
        </h3>
        <a id="RegisterTour" href="/Dashboard/MakeCode" class="nav-link ">
            <button type="button" class="btn green-haze">ایجاد کد تخفیف</button>
        </a>
        <a id="RegisterTour" href="/Dashboard/MakeRandomCode" class="nav-link ">
            <button type="button" class="btn green-haze">ایجاد کد تخفیف رندوم</button>
        </a>
        <hr />
        <!-- END PAGE TITLE-->
        <!-- END PAGE HEADER-->
        <div class='row'>
            <div class='col-md-12'>
                @*<label for='select2-single-input-sm' class='control-label'>انتخاب تور</label>*@
                <select id='select2-single-input-sm' class='form-control input-sm select2-multiple'></select>
                <span class='help-block'>برای مشاهده کدهای تخفیف از پیش تعریف شده یک تور، تور موردنظر خودرا از منو بالا انتخاب کنید.</span>
            </div>
        </div>
        <br />
        <div class='row' id='printtable'>
            <div class='col-md-12'>
                <!-- END EXAMPLE TABLE PORTLET-->
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class='portlet box green'>
                    <div class='portlet-title'>
                        <div class='caption col-md-12' id='caption'>
                            تور انتخاب نشده
                        </div>
                    </div>
                    <div class='portlet-body'>
                        <div class='portlet-body flip-scroll'>
                            <table class='table table-bordered table-striped table-condensed flip-content'>
                                <thead class='flip-content'>
                                    <tr>
                                        <th>ردیف</th>
                                        <th>کد تخفیف</th>
                                        <th>میزان تخفیف</th>
                                        <th>تعداد موجود</th>
                                        <th>تاریخ انقضا</th>
                                        <th id="actionc">عملیات</th>
                                    </tr>
                                </thead>
                                <tbody id='body'></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
<!-- BEGIN CORE PLUGINS -->
<div id='scriptid'>
    <script src='~/Content/assets/global/plugins/jquery.min.js' type='text/javascript'></script>
    <script src='~/Content/assets/global/plugins/bootstrap/js/bootstrap.min.js' type='text/javascript'></script>
    <script src='~/Content/assets/global/plugins/js.cookie.min.js' type='text/javascript'></script>
    <script src='~/Content/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js' type='text/javascript'></script>
    <script src='~/Content/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js' type='text/javascript'></script>
    <script src='~/Content/assets/global/plugins/jquery.blockui.min.js' type='text/javascript'></script>
    <script src='~/Content/assets/global/plugins/uniform/jquery.uniform.min.js' type='text/javascript'></script>
    <script src='~/Content/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js' type='text/javascript'></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src='~/Content/assets/global/plugins/select2/js/select2.full.min.js' type='text/javascript'></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src='~/Content/assets/global/scripts/app.min.js' type='text/javascript'></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    @*<script src='~/Content/assets/pages/scripts/table-datatables-rowreorder.min.js' type='text/javascript'></script>*@
    <script src='~/Content/assets/pages/scripts/components-select2.min.js' type='text/javascript'></script>
    @*<script src='~/Content/assets/pages/scripts/table-datatables-scroller.min.js' type='text/javascript'></script>*@


    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src='~/Content/assets/layouts/layout/scripts/layout.min.js' type='text/javascript'></script>
    <script src='~/Content/assets/layouts/layout/scripts/demo.min.js' type='text/javascript'></script>
    <script src='~/Content/assets/layouts/global/scripts/quick-sidebar.min.js' type='text/javascript'></script>
    <!-- END THEME LAYOUT SCRIPTS -->
    <!--datepicker script-->

    <script src='~/Content/Plugins/MdBootstrapPersianDateTimePicker/jalaali.js' type='text/javascript'></script>
    <script src='~/Content/Plugins/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.js' type='text/javascript'></script>
    <!--timepicker script-->

    <script src='~/Content/Plugins/datetimepicker/js/bootstrap-datetimepicker.min.js'></script>
    @*<script src='~/Scripts/jquery.validate.min.js'></script>
        <script src='~/Scripts/jquery.validate.unobtrusive.min.js'></script>*@
    <script src='~/Scripts/Validation.js'></script>
    <script src='~/Scripts/Extend.js'></script>
</div>
<script>
    $(document).ready(function () {
        var jqxhr = $.getJSON('/Dashboard/gettourDiscount', function (data) {
            var str = "<option value='0'>همه</option>";
            $(data).each(function (obj) {
                str += "<option value='" + data[obj].Id + "'>" + data[obj].Title + "-" + data[obj].date + "</option>";
            });
            document.getElementById('select2-single-input-sm').innerHTML = str;
        });

        document.getElementById('caption').innerHTML = "همه";
        var str = '';
        var i = 1;
        var jqxhr = $.getJSON('/Dashboard/getDiscountcode?id=' + 0, function (data) {
            dataTour = data;
            $(data).each(function (obj) {
                str += '<tr><td>' + i + '</td><td>' + data[obj].CodeDiscount + '</td>' + '<td>' + data[obj].Discountprice + '</td>' + '<td>' + data[obj].Remainder + '</td>' + '<td>' + data[obj].Exp + '</td>' + '<td> <div class="btn-group"><a class="btn green" href="javascript:;" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-edit"></i><i class="fa fa-angle-down"></i></a><ul class="dropdown-menu"><li><a href="/Dashboard/EditDiscount?ID=' + data[obj].ID + '"><i class="fa fa-pencil"></i>ویرایش  </a></li><li><a class="delete" id="' + data[obj].ID + '"><i class="fa fa-trash-o"></i> حذف </a></li></ul></div> </td>' + '</tr>';
                i = i + 1;

            });

            document.getElementById('body').innerHTML = str;
        });
    })
</script>

<script>

    $(document).ready(function () {

        $('#Reportform').validate({ // initialize the plugin

            rules: {
                start_date: {
                    required: true
                },
                end_date: {
                    required: true
                }
            },
            messages: {
                start_date: {
                    required: 'وارد کردن تاریخ الزامی است'
                },
                end_date: {
                    required: 'وارد کردن تاریخ الزامی است'
                }

            },
            submitHandler: function (form) {
                form.submit();
            }
        });

    });
</script>



<script>
    var dataTour;
    var idtour = '';
    $('#select2-single-input-sm').change(function (data) {

        let id = $(this).val();
        idtour = $(this).val();
        var cap = this.options[this.selectedIndex].innerHTML;
        document.getElementById('caption').innerHTML = cap;
        var str = '';
        var i = 1;
        var jqxhr = $.getJSON('/Dashboard/getDiscountcode?id=' + id, function (data) {
            dataTour = data;
            $(data).each(function (obj) {
                str += '<tr><td>' + i + '</td><td>' + data[obj].CodeDiscount + '</td>' + '<td>' + data[obj].Discountprice + '</td>' + '<td>' + data[obj].Remainder + '</td>' + '<td>' + data[obj].Exp + '</td>' + '<td> <div class="btn-group"><a class="btn green" href="javascript:;" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-edit"></i><i class="fa fa-angle-down"></i></a><ul class="dropdown-menu"><li><a href="/Dashboard/EditDiscount?ID=' + data[obj].ID + '"><i class="fa fa-pencil"></i>ویرایش  </a></li><li><a class="delete" id="' + data[obj].ID + '"><i class="fa fa-trash-o"></i> حذف </a></li></ul></div> </td>' + '</tr>';
                i = i + 1;

            });
            document.getElementById('body').innerHTML = str;
        });

    });

    $('table').on('click', '.delete', function () {
        $(this).parents('tr').remove();
        $.ajax({
            type: 'POST',
            url: '/Dashboard/DeleteCode',
            data: JSON.stringify({
                id: $(this).attr('id')
            }),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (msg) {
                swal({
                    title: '',
                    text: msg,
                    icon: "success",
                    button: "خروج"
                });
            }
        });

    });
</script>


<script src="~/Scripts/sweetalert.min.js"></script>
@{
    if (TempData["success"] != null)
    {
        string text = $"{TempData["success"]}";

        <script>
                 swal({
                title: "",
                text: "@text",
                icon: "success",
                button: "خروج"
            });
        </script>
    }
    else if (TempData["error"] != null)
    {
        string text = $"{TempData["error"]}";
        <script>
           swal({
                title: "",
                text: "@text",
                icon: "error",
                button: "خروج"
            });
        </script>
    }
}






