﻿
@{
    ViewBag.Title = "Test";
    Layout = null;
}
@using Tourist.Models;
@using Tourist.CommonMethods;
@model List<Payment_user>
<head>
    <script src="~/Content/Js/jquery-2.1.3.min.js"></script>
    <script src="~/Content/Js/ExportToPDF.js"></script>
    <script type="text/javascript">
        $(document).on('click', '#btnPrint', function () {
            ExportToPDF($('#divtoPrint'), [], 'عنوان خروجی صفحه', PDFPageType.Portrait);
        });
    </script>
</head>
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL STYLES -->
<!-- END THEME GLOBAL STYLES -->
<!-- BEGIN THEME LAYOUT STYLES -->
<!--time-->
<link href="~/Content/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/global/plugins/bootstrap/css/bootstrap-rtl.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/global/plugins/bootstrap-switch/css/bootstrap-switch-rtl.min.css" rel="stylesheet" type="text/css" />
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="~/Content/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/global/plugins/clockface/css/clockface.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->
@*<link href="~/Content/assets/global/css/components-rtl.min.css" rel="stylesheet" id="style_components" type="text/css" />*@
<link href="~/Content/assets/global/css/plugins-rtl.min.css" rel="stylesheet" type="text/css" />
@*<link href="~/Content/assets/layouts/layout/css/layout-rtl.min.css" rel="stylesheet" type="text/css" />
    <link href=".~/Content/assets/layouts/layout/css/themes/darkblue-rtl.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/Content/assets/layouts/layout/css/custom-rtl.min.css" rel="stylesheet" type="text/css" />*@


<!--end time-->
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />




<html>
<head>
    <style>
        table, th, td {
            border: 2px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 15px;
        }
    </style>
</head>
<body>

    <table style="" class=" center table">
        <tr>
            <th>counter</th>
            <th>id</th>
            <th>esm</th>
            <th>tel</th>
            <th>tav</th>
            <th>date</th>
            <th>dateeng</th>
            <th>mablagh</th>
            <th>tedad</th>
            <th>esm</th>
            <th>bargozarkonnade</th>
            <th>tarikhejra</th>
            <th>url</th>
            <th>state</th>


        </tr>
        @{ int count = 1;}
        @foreach (var item in Model)
        {
        <tr>
            <td>@count</td>
            <td>@item.Id</td>
            <td>@item.name</td>
            <td>@item.mobie</td>
            <td>@item.Born_Date_fa</td>
            <td>@CalendarMngr.JulianToPersian(item.DateReq.Value)</td>
            <td>@item.DateReq</td>

            <td>@item.pay</td>

            <td>@item.quantity</td>


            @if (item.Tour != null)
            {
                <td>@item.Tour.Title</td>
                <td>@item.Tour.Profile_Tour.Name_Group</td>
                <td>@CalendarMngr.JulianToPersian(item.Tour.Start_Date.Value)</td>
            }
            else
            {
                <td>تور پاک شده</td>
                <td>تور پاک شده</td>
                <td>تور پاک شده</td>
            }
            @if (item.Temps != null && item.Temps.Count != 0)
            {
                <td>@item.Temps.First().Url</td>
            }
            else
            {
                <td>خالی</td>

            }
            <td>@item.State</td>

        </tr>
            count++;
        }

     
    </table>


</body>
</html>











<br /><br /><br /><br /><br />
<!--time-->
<!--time-->
<!-- BEGIN CORE PLUGINS -->
<script src="~/Content/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="~/Content/assets/global/plugins/moment.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/clockface/js/clockface.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="~/Content/assets/global/scripts/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="~/Content/assets/pages/scripts/components-date-time-pickers.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->

<script src="~/Content/Template/js/jquery-1.11.2.min.js"></script>
<script src="~/Content/Template/js/common_scripts_min.js"></script>
<script src="~/Content/Template/js/functions.js"></script>

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<!-- Specific scripts -->
<script src="~/Content/Template/js/tabs.js"></script>
<script src="~/Content/Plugins/tagsinput/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
@*<script src="~/Content/Plugins/tagsinput/bootstrap-tagsinput/tagsinput.js"></script>*@
<script src="~/Content/Plugins/tagsinput/typeahead/handlebars.min.js"></script>
<script src="~/Content/Plugins/tagsinput/typeahead/typeahead.bundle.min.js"></script>
<script src="~/Content/Plugins/tagsinput/components-bootstrap-tagsinput.js"></script>
<script src="~/Content/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->

<script src="~/Content/Plugins/MdBootstrapPersianDateTimePicker/jalaali.js" type="text/javascript"></script>
<script src="~/Content/Plugins/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.js" type="text/javascript"></script>
<!--timepicker script-->

<script src="~/Content/Plugins/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<!--timepicker script template-->
<script src="~/Content/Template/js/bootstrap-timepicker.js"></script>

<script>
    $('#btn1').click(function () {
        //check whether browser fully supports all File API
        if (window.File && window.FileReader && window.FileList && window.Blob) {
            //get the file size and file type from file input field
            var fsize = $('#js-upload-files')[0].files[0].size;
            var ftype = $('#js-upload-files')[0].files[0].type;
            var fname = $('#js-upload-files')[0].files[0].name;

            if (fsize > 1048576) //do something if file size more than 1 mb (1048576)
            {
                alert("Type :" + ftype + " | " + fsize + " bites\n(File: " + fname + ") حجم بیشتر از 1مگ است!");
                return false;
            }
            switch (ftype) {
                case 'image/png':
                case 'image/gif':
                case 'image/jpeg':
                case 'image/pjpeg':
                    break;
                default: {
                    alert("فقط '.jpeg','.jpg', '.png', '.gif', '.bmp' فرمت ها اجازه دارند.");
                    return false;
                }
            }
        } else {
            alert("Please upgrade your browser, because your current browser lacks some new features we need!");
        }
    });
</script>